<h3>1ᵉ Session</h3>
<input type="hidden" value="cc" name="type_cc">
<div>
    <div class="row gy-2">
        <div class="col-4">
            <strong>Contrôle continu</strong>
        </div>
        <div class="col-4">
            <label for="pourcentage_s1_cc">
                Pourcentage
                <i class="fal fa-question-circle ms-1"
                   data-controller="tooltip"
                   data-tooltip-placement-value="bottom"
                   aria-label="{{ 'mccc_licence.helps.cc.pourcentage_s1_et.help'|trans({}, 'help') }}"
                   data-bs-original-title="{{ 'mccc_licence.helps.cc.pourcentage_s1_et.help'|trans({}, 'help') }}"></i>
            </label>
            <div class="input-group">
                <input type="text" class="form-control" id="pourcentage_s1_cc" name="pourcentage_s1_cc"
                       disabled
                       value="50"
                >
                <span class="input-group-text">%</span>
            </div>
        </div>
        <div class="col-4">
            <label for="typeEpreuve_s1_cc">
                Nb d'épreuve(s)
                <i class="fal fa-question-circle ms-1"
                   data-controller="tooltip"
                   data-tooltip-placement-value="bottom"
                   aria-label="{{ 'mccc_licence.helps.cc.nbepreuve_s1_cc.help'|trans({}, 'help') }}"
                   data-bs-original-title="{{ 'mccc_licence.helps.cc.nbepreuve_s1_cc.help'|trans({}, 'help') }}"></i>
            </label>
            <input type="text" class="form-control"
                   id="typeEpreuve_s1_cc"
                   name="typeEpreuve_s1_cc"
                   disabled
                   value="2 épreuves">
        </div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">
            <div class="form-check mb-2">
                <input class="form-check-input synchro-mccc" type="checkbox" id="cc_has_tp" name="cc_has_tp"
                       {% if elementConstitutif.synchroMccc %}disabled{% endif %}
                       {% if mcccs[1]['cc'][1].options is defined and mcccs[1]['cc'][1].options.cc_has_tp is defined and mcccs[1]['cc'][1].options.cc_has_tp == "on" %}checked{% endif %}
                >
                <label class="form-check-label" for="cc_has_tp"> {{ 'mccc.licence.labels.cc_has_tp'|trans({}, 'form') }}
                    <i
                        class="fal fa-question-circle ms-1" data-controller="tooltip"
                        data-tooltip-placement-value="bottom"
                        title="{{ 'mccc.licence.helps.cc_has_tp'|trans({}, 'help') }}"></i></label>
            </div>
        </div>
        <div class="col-4">
            <label for="cc_has_tp_pourcentage">
                {{ 'mccc_licence.labels.cc.cc_has_tp_pourcentage'|trans({}, 'form') }}
                <i class="fal fa-question-circle ms-1"
                   data-controller="tooltip"
                   data-tooltip-placement-value="bottom"
                   aria-label="{{ 'mccc_licence.helps.cc.cc_has_tp_pourcentage.help'|trans({}, 'help') }}"
                   data-bs-original-title="{{ 'mccc_licence.helps.cc.cc_has_tp_pourcentage.help'|trans({}, 'help') }}"></i>
            </label>
            <div class="input-group">
                <input type="text" class="form-control"
                       id="cc_has_tp_pourcentage"
                       name="cc_has_tp_pourcentage"
                       disabled
                       value="50">
                <span class="input-group-text">%</span>
            </div>{# forcément 50% par défaut dans ce cas de figure #}
        </div>
    </div>
</div>
<h3>2ᵉ Session</h3>
<div id="epreuves_s2_ct">
    {% if mcccs[2]['et'] is defined %}
        {% for i in 1..mcccs[2]['et']|length %}
            {{ include('typeDiplome/mccc/licence/_secondeChance.html.twig', {index:i}) }}
        {% else %}
            {{ include('typeDiplome/mccc/licence/_secondeChance.html.twig',{index:1}) }}
        {% endfor %}
    {% else %}
        {{ include('typeDiplome/mccc/licence/_secondeChance.html.twig',{index:1}) }}
    {% endif %}
</div>

<button class="btn btn-primary mb-2 synchro-mccc"
        {% if elementConstitutif.synchroMccc %}disabled{% endif %}
        {{ stimulus_action('mccc--licence', 'addEpreuveSecondeSession', 'click') }}
>Ajouter une épreuve pour la 2e session
</button>

<div class="alert alert-danger d-none mt-2" {{ stimulus_target('mccc--licence', 'zoneErreur') }}>

</div>
