<h3>1ᵉ Session</h3>
<div id="epreuves_ct">
    {% if mcccs[1]['et'] is defined %}
        {% for i in 1..mcccs[1]['et']|length %}
            {{ include('typeDiplome/mccc/licence/_epreuveCt.html.twig', {index:i}) }}

        {% else %}
            {{ include('typeDiplome/mccc/licence/_epreuveCt.html.twig',{index:1}) }}
        {% endfor %}
    {% else %}
        {{ include('typeDiplome/mccc/licence/_epreuveCt.html.twig',{index:1}) }}
    {% endif %}
</div>
<button class="btn btn-primary mb-2 synchro-mccc"
        {% if elementConstitutif is defined and elementConstitutif.synchroMccc %}disabled{% endif %}
        {{ stimulus_action('mccc--licence', 'addEpreuveCt', 'click') }}
>Ajouter une épreuve de contrôle terminal
</button>
<h3>2ᵉ Session</h3>
<div id="epreuves_s2_ct">
    {% if mcccs[2]['et'] is defined %}
        {% for i in 1..mcccs[2]['et']|length %}
            {{ include('typeDiplome/mccc/licence/_secondeChance.html.twig', {index:i}) }}
        {% else %}
            {{ include('typeDiplome/mccc/licence/_secondeChance.html.twig',{index:1}) }}
        {% endfor %}
    {% else %}
        {{ include('typeDiplome/mccc/licence/_secondeChance.html.twig',{index:1}) }}
    {% endif %}
</div>

<button class="btn btn-primary mb-2 synchro-mccc"
        {% if elementConstitutif is defined and elementConstitutif.synchroMccc %}disabled{% endif %}
        {{ stimulus_action('mccc--licence', 'addEpreuveSecondeSession', 'click') }}
>Ajouter une épreuve pour la 2e session
</button>

<div class="alert alert-danger d-none mt-2" {{ stimulus_target('mccc--licence', 'zoneErreur') }}>

</div>
