<div class="row gy-2 epreuve_cc_autre">
    <div class="col-4">
        <strong>Contrôle continu N°{{ index }}</strong>
    </div>
    <div class="col-4">
        <label for="pourcentage_s1_cc{{ index }}">
            Pourcentage
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'mccc_licence.helps.cc.pourcentage_s1_et.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'mccc_licence.helps.cc.pourcentage_s1_et.help'|trans({}, 'help') }}"></i>
        </label>
        <div class="input-group">
            <input type="text" class="form-control" id="pourcentage_s1_cc{{ index }}"
                   name="pourcentage_s1_cc{{ index }}"
                    {% if mcccs[1]['cc'][index] is defined %}
                        value="{{ mcccs[1]['cc'][index].pourcentage }}"
                    {% else %}
                        value="50"
                    {% endif %}
            >
            <span class="input-group-text">%</span>
        </div>
    </div>
    <div class="col-4">
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="cc_has_tp_s1_cc{{ index }}"
                   name="cc_has_tp_s1_cc{{ index }}"
                   {% if mcccs[1]['cc'][index].options is defined and mcccs[1]['cc'][index].options.cc_has_tp == "on" %}checked{% endif %} >
            <label class="form-check-label"
                   for="cc_has_tp_s1_cc{{ index }}"> {{ 'mccc.licence.labels.cc_has_tp'|trans({}, 'form') }}
                <i
                        class="fal fa-question-circle ms-1" data-controller="tooltip"
                        data-tooltip-placement-value="bottom"
                        title="{{ 'mccc.licence.helps.cc_has_tp'|trans({}, 'help') }}"></i></label>
        </div>
    </div>
    {% if btn == true %}
    <div class="col-8">&nbsp;</div>
    <div class="col-4 d-grid mt-2">
        <button type="button" class="btn btn-danger btn-sm d-block"
                data-action="click->mccc--licence#removeEpreuveCcAutre">
            <i class="fas fa-trash"></i>
        </button>
    </div>
{% endif %}
</div>
