<div class="row epreuve_ct">
    <div class="col-4">
        <strong>Contrôle terminal N°{{ index }}</strong>
    </div>
    <div class="col-4">
        <label for="pourcentage_s1_ct{{ index }}">
            Pourcentage
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'mccc_licence.helps.cc_ct.pourcentage_s1_et.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'mccc_licence.helps.cc_ct.pourcentage_s1_et.help'|trans({}, 'help') }}"></i>
        </label>
        <div class="input-group">
            <input type="text" class="form-control synchro-mccc" id="pourcentage_s1_ct{{ index }}"
                   name="pourcentage_s1_ct{{ index }}"
                    {% if mcccs[1]['et'][index] is defined %}
                        value="{{ mcccs[1]['et'][index].pourcentage }}"
                    {% endif %}
            >
            <span class="input-group-text">%</span>
        </div>
    </div>
    {% set hasJustification = "not_set" %}
    {% for typeE in typeEpreuves %}
        {% if mcccs[1]['et'][index].typeEpreuve[0] is defined %}
            {% if mcccs[1]['et'][index].typeEpreuve[0] == typeE.id %}
                {% set hasJustification = typeE.hasJustification ? "true" : "false" %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="col-4"
        {{ stimulus_controller('mccc-with-justification', {
            'templateName': 'justificationAssiduiteMccc',
            'textAreaFormName': 'justificationAssiduite_ct_' ~ index,
            'minlength': 15,
            'hasJustification': hasJustification,
            'justificationText': mcccs[1]['et'][index].justificationText ?? ""
        }) }}
        > 
        <label for="typeEpreuve_s1_ct{{ index }}">
            Type d'épreuve
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'mccc_licence.helps.cc_ct.typeEpreuve_s1_et.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'mccc_licence.helps.cc_ct.typeEpreuve_s1_et.help'|trans({}, 'help') }}"></i>
        </label>
        <select class="form-select typeEpreuveSelectCt synchro-mccc" id="typeEpreuve_s1_ct{{ index }}"
                name="typeEpreuve_s1_ct{{ index }}"
                {{ stimulus_action('mccc--licence', 'changeTypeEpreuveCt', 'change')
                  |stimulus_action('mccc-with-justification', 'updateJustification', 'change') 
                }}
        >
            <option value="">Choisir</option>
            {% for typeE in typeEpreuves %}
                <option value="{{ typeE.id }}"
                        data-hasduree="{{ typeE.hasDuree }}"
                        data-has-justification="{{ typeE.hasJustification ? 'true' : 'false' }}"
                        {% if mcccs[1]['et'][index] is defined %}
                            {% if mcccs[1]['et'][index].typeEpreuve[0] is defined and mcccs[1]['et'][index].typeEpreuve[0] == typeE.id %}selected{% endif %}
                        {% endif %}
                >{{ typeE.display }}</option>
            {% endfor %}
        </select>
        <div class="col-12 {{ hasJustification == 'true' ? '' : 'd-none' }}" 
            {{ stimulus_target('mccc-with-justification', 'displayDiv') }}
        >    
        </div>
    </div>
    <div class="col-4">
        &nbsp;
    </div>
    <div class="col-4">
        &nbsp;
    </div>
    <div class="col-4">
        <label for="duree_s1_ct{{ index }}">
            Durée de l'épreuve
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'mccc_licence.helps.ct.duree_s1_et.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'mccc_licence.helps.ct.duree_s1_et.help'|trans({}, 'help') }}"></i>
        </label>
        <div class="input-group">
            <input type="time" class="form-control synchro-mccc" id="duree_s1_ct{{ index }}" name="duree_s1_ct{{ index }}"
                    {% if mcccs[1]['et'][index] is defined %}
                        value="{% if mcccs[1]['et'][index].duree != null %}{{ mcccs[1]['et'][index].duree|date('H:i') }}{% endif %}"
                    {% endif %}
            >
        </div>
    </div>
    {% if index > 1 %}
        <div class="col-8">&nbsp;</div>
        <div class="col-4 d-grid mt-2">
            <button type="button" class="btn btn-danger btn-sm d-block synchro-mccc"
                    data-action="click->mccc--licence#removeEpreuveCtS1">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    {% endif %}
</div>

