<div class="row epreuve_s2_ct">
    <div class="col-4">
        <strong>Examen 2ᵉ Session N°{{ index }}</strong>
    </div>
    <div class="col-4">
        <label for="pourcentage_s2_ct{{ index }}">
            Pourcentage
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'mccc_licence.helps.ct.pourcentage_s2_et.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'mccc_licence.helps.ct.pourcentage_s2_et.help'|trans({}, 'help') }}"></i>
        </label>
        <div class="input-group">
            <input type="text" class="form-control synchro-mccc" id="pourcentage_s2_ct{{ index }}"
                   name="pourcentage_s2_ct{{ index }}"
                    {% if (mcccs[2]['et'] is defined and mcccs[2]['et']|length == 1 )or mcccs[2]['et'] is not defined %}
                        disabled
                    {% endif %}
                    {% if mcccs[2]['et'][index] is defined %}
                        value="{{ mcccs[2]['et'][index].pourcentage }}"
                    {% else %}
                        value="100"
                    {% endif %}
            >
            <span class="input-group-text">%</span>
        </div>
    </div>
    {% set hasJustification = 'not_set' %}
    {% for typeE in typeEpreuves %}
        {% if mcccs[2]['et'][index].typeEpreuve[0] is defined %}
            {% if mcccs[2]['et'][index].typeEpreuve[0] == typeE.id %}
                {% set hasJustification = typeE.hasJustification ? 'true' : 'false' %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="col-4"
        {{ stimulus_controller('mccc-with-justification', {
            'templateName': 'justificationSaisieMccc',
            'textAreaFormName': 'justification_s2_ct' ~ index,
            'minlength': 15,
            'hasJustification': hasJustification,
            'justificationText': mcccs[2]['et'][index].justificationText ?? ""
        }) }}
    >
        <label for="typeEpreuve_s2_ct{{ index }}">
            Type d'épreuve
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'mccc_licence.helps.ct.typeEpreuve_s2_et.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'mccc_licence.helps.ct.typeEpreuve_s2_et.help'|trans({}, 'help') }}"></i>
        </label>
        <select type="text" class="form-select typeEpreuveSelectEt synchro-mccc" id="typeEpreuve_s2_ct{{ index }}"
                name="typeEpreuve_s2_ct{{ index }}"
                {{ stimulus_action('mccc--licence', 'changeTypeEpreuveEt', 'change') 
                    |stimulus_action('mccc-with-justification', 'updateJustification', 'change')
                }}
        >
            <option value="" data-has-justification="false">Choisir</option>
            {% for typeE in typeEpreuves %}
                <option value="{{ typeE.id }}"
                        data-hasduree="{{ typeE.hasDuree }}"
                        {% if mcccs[2]['et'][index] is defined %}
                            {% if mcccs[2]['et'][index].typeEpreuve[0] is defined and mcccs[2]['et'][index].typeEpreuve[0] == typeE.id %}selected{% endif %}
                        {% endif %}
                        data-has-justification="{{ typeE.hasJustification ? 'true' : 'false' }}"
                >{{ typeE.display }}</option>
            {% endfor %}
        </select>
        <div class="col-12 {{ hasJustification == 'true' ? '' : 'd-none' }}"
            {{ stimulus_target('mccc-with-justification', 'displayDiv') }}
        >
        </div>
    </div>
    <div class="col-4">
        &nbsp;
    </div>
    <div class="col-4">
        &nbsp;
    </div>
    <div class="col-4">
        <label for="duree_s2_ct{{ index }}">
            Durée de l'épreuve
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'mccc_licence.helps.ct.duree_s2_et.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'mccc_licence.helps.ct.duree_s2_et.help'|trans({}, 'help') }}"></i>
        </label>
        <input type="time" class="form-control synchro-mccc" id="duree_s2_ct{{ index }}" name="duree_s2_ct{{ index }}"
                {% if mcccs[2]['et'][index] is defined %}
                    value="{% if mcccs[2]['et'][index].duree != null %}{{ mcccs[2]['et'][index].duree|date('H:i') }}{% endif %}"
                {% endif %}
        >
    </div>
    {% if index > 1 %}
        <div class="col-8">&nbsp;</div>
        <div class="col-4 d-grid mt-2">
            <button type="button" class="btn btn-danger btn-sm d-block synchro-mccc"
                    data-action="click->mccc--licence#removeEpreuveCt">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    {% endif %}
</div>
