<div {{ stimulus_controller('formation--step3', {
    url: path('app_formation_save', {formation:formation.id}),
    urlGenereStructure: path('app_formation_genere_structure_pas_parcours', {formation:formation.id}),
    urlListeParcours: path('app_formation_liste_parcours', {formation:formation.id}),
    hasParcours: formation.hasParcours
}) }}
        data-action="base:parcoursAdded@window->formation--step3#_refreshListe"
>
    {% if constant('SOURCE',typeDiplome) == constant
        ('App\\TypeDiplome\\Source\\LicenceProfessionnelleTypeDiplome::SOURCE') %}
        <fieldset class="mb-3">
            <legend class="col-form-label required">
                {{ 'formation_step3.labels.semestreDebut'|trans({}, 'form') }}
                <i class="fal fa-question-circle ms-1"
                   data-controller="tooltip"
                   data-tooltip-placement-value="bottom"
                   aria-label="{{ 'formation_step3.helps.semestreDebut.help'|trans({}, 'help') }}"
                   data-bs-original-title="{{ 'formation_step3.helps.semestreDebut.help'|trans({}, 'help') }}"></i>
            </legend>
            <div>
                {% for i in 1..6 %}
                    <div class="form-check">
                        <input type="radio" id="formation_semestreDebut_{{ i }}" name="formation_semestreDebut"
                               required="required"
                               {% if formation.semestreDebut == i %}checked{% endif %}
                               class="form-check-input" value="{{ i }}" {{ stimulus_action('formation--step3',
                            'changeSemestreDebut', 'click') }}>
                        <label class="form-check-label required" for="formation_semestreDebut_{{ i }}">Semestre {{ i }}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-text mb-0 help-text">

            </div>
        </fieldset>
    {% endif %}

    <fieldset class="mb-3">
        <legend class="col-form-label required">
            {{ 'formation_step3.labels.hasParcours'|trans({}, 'form') }}
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'formation_step3.helps.hasParcours.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'formation_step3.helps.hasParcours.help'|trans({}, 'help') }}"></i>
        </legend>
        <div>
            <div class="form-check">
                <input type="radio" id="formation_parcours_1" name="formation_parcours" required="required"
                       {% if formation.hasParcours == true %}checked{% endif %}
                       class="form-check-input" value="1" {{ stimulus_action('formation--step3', 'changeHasParcours', 'click') }}>
                <label class="form-check-label" for="formation_parcours_1">Oui</label></div>
            <div class="form-check">
                <input type="radio" id="formation_parcours_0" name="formation_parcours" required="required"
                       {% if formation.hasParcours == false %}checked{% endif %}
                       class="form-check-input" value="0" {{ stimulus_action('formation--step3', 'changeHasParcours', 'click') }}>
                <label class="form-check-label" for="formation_parcours_0">Non</label></div>
        </div>
    </fieldset>
    <div id="bloc_semestre" class="{% if formation.hasParcours == false %}d-none{% endif %} mt-2">
        <fieldset class="mb-3">
            <legend class="col-form-label required">
                {{ 'formation_step3.labels.libelleParcours'|trans({}, 'form') }}
            </legend>
            <br>
            <div id="liste_Parcours" {% if formation.hasParcours == false or formation.hasParcours == null %}class="d-none"{% endif %}>
                <div {{ stimulus_target('formation--step3', 'liste') }}>

                </div>
            </div>

            {% if typeDiplome == 'Master MEEF' %}
                //todo: options du master MEEF 2D
            {% endif %}

            <div>
                {{ 'formation_step3.labels.structureFormation'|trans({}, 'form') }}
                <i class="fal fa-question-circle ms-1"
                   data-controller="tooltip"
                   data-tooltip-placement-value="bottom"
                   aria-label="{{ 'formation_step3.helps.structureFormation.help'|trans({}, 'help') }}"
                   data-bs-original-title="{{ 'formation_step3.helps.structureFormation.help'|trans({}, 'help') }}"></i>

                <ul>

                    {% for i in formation.semestreDebut..typeDiplome.nbSemestres %}
                        <li>
                            <span class="required">Semestre {{ i }}</span> :
                            <div class="form-check-inline">
                                <input type="radio" id="formation_parcours_1" name="semestre_{{ i }}" required="required"
                                       {% if formation.structureSemestres[i] is defined and formation.structureSemestres[i] == 'tronc_commun' %}checked{% endif %}
                                       class="form-check-input" value="tronc_commun" {{ stimulus_action('formation--step3',
                                    'changeSemestre',
                                    'click', {semestre: i}) }}>
                                <label class="form-check-label" for="formation_parcours_1">Tronc Commun</label>
                            </div>
                            <strong class="text-primary me-2">OU</strong>
                            <div class="form-check-inline">
                                <input type="radio" id="formation_parcours_1" name="semestre_{{ i }}" required="required"
                                       {% if formation.structureSemestres[i] is defined and formation.structureSemestres[i] ==
                                           'parcours' %}checked{% endif %}
                                       class="form-check-input" value="parcours" {{ stimulus_action('formation--step3',
                                    'changeSemestre', 'click', {semestre: i}) }}>
                                <label class="form-check-label" for="formation_parcours_1">Parcours</label>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </fieldset>
    </div>

    <div id="bloc_pas_parcours" class="{% if formation.hasParcours == true %}d-none{% endif %} d-grid mt-2 mb-2">
        {% if formation.parcours.first == null %}
            <div class="alert alert-info">
                <button {{ stimulus_action('formation--step3', 'genereStructurePasParcours') }} class="btn btn-sm
                    btn-outline-primary
                d-block">
                    Confirmer que la formation ne dispose pas de parcours pour poursuivre le paramétrage
                </button>
            </div>
        {% endif %}
    </div>


    <div class="alert {% if formation.getEtatStep(3) %}alert-success{% else %}alert-warning{% endif %}" id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if formation.getEtatStep(3) %}checked{% endif %}
                {{ stimulus_action('formation--step3', 'etatStep', 'change') }}

        ><label for="etatStructure">
            Cochez cette case si vous avez terminé ...</label>
    </div>
</div>
