<div {{ stimulus_controller('formation--step1', {
    url: path('app_formation_save', {formation:formation.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.responsableMention) }}
    <a
            href="#"
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'fiche_matiere.step1_change_rf.title'|trans({}, 'form'),
                nomEvenement: 'refreshStep',
                modalUrl: path('app_formation_change_rf', {formation: formation.id}) }) }}
            data-action="click->modal#openModal"
            data-size="lg"
            class="ms-4 text-warning"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="{{ 'fiche_matiere.step1_change_rf.title'|trans({}, 'form') }}"
    >
        <i class="fal fa-repeat"></i>
        <span> {{ 'fiche_matiere.step1_change_rf.label'|trans({}, 'form') }}</span>
    </a>
    {% for demande in formation.changeRves|filter(demande => demande.etatDemande == 'EN_ATTENTE') %}
        <div class="alert alert-info">
            Une demande de modification est en attente de validation par la CFVU. Remplacement de {{ demande.ancienResponsable.display }} par {{ demande.nouveauResponsable.display }}. <a href="" class="text-danger"><i class="{{ iconDelete }}"></i> Annuler la demande ?</a>
        </div>
    {% endfor %}
    {{ form_row(form.coResponsable) }}
    <a
            href="#"
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'fiche_matiere.step1_collegue_manquant.title'|trans({}, 'form'),
                nomEvenement: 'refreshStep',
                modalUrl: path('app_user_missing', {action: 'coResponsableMention', id: formation.id}) }) }}
            data-action="click->modal#openModal"
            data-size="lg"
            class="ms-4"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="{{ 'fiche_matiere.step1_collegue_manquant.title'|trans({}, 'form') }}"
    >
        <i class="{{ iconAdd }}"></i>
        <span> {{ 'fiche_matiere.step1_collegue_manquant.label'|trans({}, 'form') }}</span>
    </a>
    {{ form(form) }}
    <div class="alert {% if formation.getEtatStep(1) %}alert-success{% else %}alert-warning{% endif %}"
         id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if formation.getEtatStep(1) %}checked{% endif %}
                {{ stimulus_action('formation--step1', 'etatStep', 'change') }}
        ><label for="etatStructure">
            Cochez cette case si vous avez terminé ...</label>
    </div>
</div>
