<h2>Semestres & Parcours</h2>
<div {{ stimulus_controller('formation--step3', {
    url: path('app_formation_save', {formation:formation.id}),
    urlRefresh: path('app_formation_refresh', {formation:formation.id}),
    urlGenereStructure: path('app_formation_genere_structure_pas_parcours', {formation:formation.id}),
    urlListeParcours: path('app_formation_liste_parcours', {formation:formation.id}),
    hasParcours: formation.hasParcours
}) }}
        data-action="base:parcoursAdded@window->formation--step3#refreshListe"
>
    <fieldset class="mb-3">
        <legend class="col-form-label required">Formation avec parcours ?</legend>
        <div>
            <div class="form-check">
                <input type="radio" id="formation_parcours_1" name="formation_parcours" required="required"
                       {% if formation.hasParcours == true %}checked{% endif %}
                       class="form-check-input" value="1" {{ stimulus_action('formation--step3', 'changeHasParcours', 'click') }}>
                <label class="form-check-label" for="formation_parcours_1">Oui</label></div>
            <div class="form-check">
                <input type="radio" id="formation_parcours_0" name="formation_parcours" required="required"
                       {% if formation.hasParcours == false %}checked{% endif %}
                       class="form-check-input" value="0" {{ stimulus_action('formation--step3', 'changeHasParcours', 'click') }}>
                <label class="form-check-label" for="formation_parcours_0">Non</label></div>
        </div>
        <div class="form-text mb-0 help-text">
            Indiquez si la formation comporte des parcours
        </div>
    </fieldset>
    <div id="bloc_semestre" class="{% if formation.hasParcours == false %}d-none{% endif %} mt-2">
        <fieldset class="mb-3">
            <legend class="col-form-label required">Préciser l'intitulé des parcours</legend>
            <br>
            <div id="liste_Parcours" {% if formation.hasParcours == false or formation.hasParcours == null %}class="d-none"{% endif %}>
                <div {{ stimulus_target('formation--step3', 'liste') }}>

                </div>
            </div>

            {% if typeDiplome == 'Master MEEF' %}
                //todo: options du master MEEF 2D
            {% endif %}

            <div>
                Précisez la structure de la mention/spécialité avec les parcours (semestre de tronc commun ou semestre
                spécifique au parcours
                <ul>

                    {% for i in formation.semestreDebut..typeDiplome.nbSemestres %}
                        <li>
                            <span class="required">Semestre {{ i }}</span> :
                            <div class="form-check-inline">
                                <input type="radio" id="formation_parcours_1" name="semestre_{{ i }}" required="required"
                                       {% if formation.structureSemestres[i] is defined and formation.structureSemestres[i] == 'tronc_commun' %}checked{% endif %}
                                       class="form-check-input" value="tronc_commun" {{ stimulus_action('formation--step3',
                                    'changeSemestre',
                                    'click', {semestre: i}) }}>
                                <label class="form-check-label" for="formation_parcours_1">Tronc Commun</label>
                            </div>
                            <strong class="text-primary me-2">OU</strong>
                            <div class="form-check-inline">
                                <input type="radio" id="formation_parcours_1" name="semestre_{{ i }}" required="required"
                                       {% if formation.structureSemestres[i] is defined and formation.structureSemestres[i] ==
                                           'parcours' %}checked{% endif %}
                                       class="form-check-input" value="parcours" {{ stimulus_action('formation--step3',
                                    'changeSemestre', 'click', {semestre: i}) }}>
                                <label class="form-check-label" for="formation_parcours_1">Parcours</label>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </fieldset>
    </div>

    <div id="bloc_pas_parcours" class="{% if formation.hasParcours == true %}d-none{% endif %} d-grid mt-2 mb-2">
        {# todo: regarder si c'est généré ou pas ? #}
        Générer la structure de la formation en cliquant sur le bouton ci-dessous.
        <button {{ stimulus_action('formation--step3', 'genereStructurePasParcours') }} class="btn btn-sm
                    btn-outline-primary
                d-block">
            Générer la structure de la formation
        </button>
    </div>


    <div class="alert {% if formation.getEtatStep(3) %}alert-success{% else %}alert-warning{% endif %}" id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if formation.getEtatStep(3) %}checked{% endif %}
                {{ stimulus_action('formation--step3', 'etatStep', 'change') }}

        ><label for="etatStructure">
            Cochez cette case si vous avez terminé ...</label>
    </div>
</div>
