<h2>Structure et Organisation pédagogique</h2>
{% if is_granted('ROLE_RESP_FORMATION') %}
        {{ include('element_constitutif/_structureEc.html.twig') }}
{% else %}
    <div>
        <p>
            <strong>Modalités d’enseignement</strong> : {{ ec.modaliteEnseignement != null ? ec.modaliteEnseignement
            .libelle : 'Non défini' }}
        </p>

        <p>
            <strong>Nombre d'ECTS</strong> : {{ ec.ects }}
        </p>

        <div>
            <strong>Volume horaire en présentiel</strong>
            <ul>
                <li>Nombre d’heures. CM : {{ ec.volumeCmPresentiel }}</li>
                <li>Nombre d’heures. TD : {{ ec.volumeTdPresentiel }}</li>
                <li>Nombre d’heures. TP : {{ ec.volumeTpPresentiel }}</li>
            </ul>
        </div>

        <div>
            <strong>Volume horaire en distanciel</strong>
            <ul>
                <li>Nombre d’heures. CM : {{ ec.volumeCmDistanciel }}</li>
                <li>Nombre d’heures. TD : {{ ec.volumeTdDistanciel }}</li>
                <li>Nombre d’heures. TP : {{ ec.volumeTpDistanciel }}</li>
            </ul>
        </div>
    </div>
{% endif %}
