{% extends 'base-speciale.html.twig' %}

{% block title %}Log in! | {{ product_name }}{% endblock %}

{% block content %}
    <div class="mb-5">
        <h2 class="cta-1 mb-0 text-primary">Bienvenue,</h2>
        <h2 class="cta-1 text-primary">Connectez-vous</h2>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">Se connecter avec votre compte URCA</button><br> <br>
    <p class="text-center">OU</p>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="tooltip-end-bottom" method="post">

        <div class="mb-3 filled form-group tooltip-end-top form-floating">
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   required autofocus>
            <label for="inputUsername">Login</label>
        </div>
        <div class="mb-3 filled form-group tooltip-end-top form-floating">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <label for="inputPassword">Mot de passe</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Se souvenir de moi
            </label>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
        {#            <a href="{{ path('app_forgot_password_request') }}">Mot de passe perdu ?</a><br> #}
    </form>
{% endblock %}
