{% set editable = editable is not defined ? false : editable %}
<div class="card" {{ stimulus_controller('parcours--bcc', {
    urlUpdateComptence: path('app_parcours_bcc_update_competence', {parcours: parcours.id})
}) }}>
    <div class="card-body">
        {% for semParc in parcours.semestreParcours|filter(semestre => semestre.semestre.nonDispense == false) %}
            {% if semParc.semestre.semestreRaccroche != null %}
                {% set semestre = semParc.semestre.semestreRaccroche %}
            {% else %}
                {% set semestre = semParc %}
            {% endif %}
            <h2>{{ semParc.display }}</h2>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="2" rowspan="2">&nbsp;</th>
                    {% for ue in semestre.semestre.ues|filter(ue => ue.ueParent == null) %}
                        {% if ue.ueEnfants|length == 0 %}
                            <th colspan="{{ ue.elementConstitutifs|length }}"
                                class="text-center">{{ ue.display(parcours) }}</th>
                        {% else %}
                            {% for uee in ue.ueEnfants %}
                                <th colspan="{{ uee.elementConstitutifs|length }}"
                                    class="text-center">{{ uee.display(parcours) }}</th>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for ue in semestre.semestre.ues|filter(ue => ue.ueParent == null) %}
                        {% if ue.ueEnfants|length == 0 %}
                            {% for ec in ue.elementConstitutifs %}
                                <th class="text-center">{{ ec.code }} <i class="fal fa-question-circle ms-1"
                                                                         data-controller="tooltip"
                                                                         data-tooltip-placement-value="bottom"
                                                                         title="{{ ec.display }}"></i>
                                </th>
                            {% endfor %}
                        {% else %}
                            {% for uee in ue.ueEnfants %}
                                {% for ec in uee.elementConstitutifs %}
                                <th class="text-center">{{ ec.code }} <i class="fal fa-question-circle ms-1"
                                                                         data-controller="tooltip"
                                                                         data-tooltip-placement-value="bottom"
                                                                         title="{{ ec.display }}"></i>
                                </th>
                            {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for bcc in parcours.blocCompetences %}
                    {% for competence in bcc.competences %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ bcc.competences|length }}">{{ bcc.display }}</td>
                            {% endif %}
                            <td>{{ competence.display }}</td>
                            {% for ue in semestre.semestre.ues|filter(ue => ue.ueParent == null) %}
                                {% if ue.ueEnfants|length == 0 %}
                                    {% for ec in ue.elementConstitutifs %}
                                        <td class="text-center">
                                            {% set checked = "" %}
                                            {% if ec.ficheMatiere != null and ec.ficheMatiere.parcours.id == parcours.id %}
                                                {% if competence.ficheMatieress.contains(ec.ficheMatiere) %}
                                                    {% set checked = "X" %}
                                                {% endif %}
                                            {% else %}
                                                {% if competence.elementConstitutifs.contains(ec) %}
                                                    {% set checked = "X" %}
                                                {% endif %}
                                            {% endif %}
                                            {% if editable == true %}
                                                <label class="sr-only" for="competences_{{ competence.id }}_{{ ec.id }}">Compétence
                                                    mobilisée</label>
                                                <input type="checkbox" class="form-check"
                                                       id="competences_{{ competence.id }}_{{ ec.id }}"
                                                        {{ stimulus_action('parcours--bcc', 'updateCompetence', 'change', {
                                                            competence: competence.id,
                                                            ec: ec.id
                                                        }) }}
                                                       value="X"
                                                        {% if checked == "X" %}checked{% endif %}>
                                            {% else %}
                                                {{ checked }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                {% else %}
                                    {% for uee in ue.ueEnfants %}
                                        {% for ec in uee.elementConstitutifs %}
                                            <td class="text-center">
                                                {% set checked = "" %}
                                                {% if ec.ficheMatiere != null and ec.ficheMatiere.parcours.id == parcours.id %}
                                                    {% if competence.ficheMatieress.contains(ec.ficheMatiere) %}
                                                        {% set checked = "X" %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if competence.elementConstitutifs.contains(ec) %}
                                                        {% set checked = "X" %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if editable == true %}
                                                    <label class="sr-only" for="competences_{{ competence.id }}_{{ ec.id }}">Compétence
                                                        mobilisée</label>
                                                    <input type="checkbox" class="form-check"
                                                           id="competences_{{ competence.id }}_{{ ec.id }}"
                                                            {{ stimulus_action('parcours--bcc', 'updateCompetence', 'change', {
                                                                competence: competence.id,
                                                                ec: ec.id
                                                            }) }}
                                                           value="X"
                                                            {% if checked == "X" %}checked{% endif %}>
                                                {% else %}
                                                    {{ checked }}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>
