{% set editable = editable is not defined ? false : editable %}
<div class="card" {{ stimulus_controller('parcours--bcc', {
    urlUpdateComptence: path('app_parcours_bcc_update_competence', {parcours: parcours.id})
}) }}>
    <div class="card-body">
        {% for semestre in dto.semestres %}
            <h2>{{ semestre.semestreParcours.display }}</h2>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="2" rowspan="2">&nbsp;</th>
                    {% for ue in semestre.ues %}
                        {% if ue.uesEnfants|length == 0 %}
                            <th colspan="{{ ue.elementConstitutifs|length }}"
                                class="text-center">{{ ue.display }}</th>
                        {% else %}
                            {% for uee in ue.uesEnfants %}
                                <th colspan="{{ uee.elementConstitutifs|length }}"
                                    class="text-center">{{ uee.display }}</th>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for ue in semestre.ues %}
                        {% if ue.uesEnfants|length == 0 %}
                            {% for ec in ue.elementConstitutifs %}
                                <th class="text-center">{{ ec.elementConstitutif.code }} <i
                                            class="fal fa-question-circle ms-1"
                                            data-controller="tooltip"
                                            data-tooltip-placement-value="bottom"
                                            title="{{ ec.elementConstitutif.display }}"></i>
                                </th>
                            {% endfor %}
                        {% else %}
                            {% for uee in ue.uesEnfants %}
                                {% for ec in uee.elementConstitutifs %}
                                    <th class="text-center">{{ ec.elementConstitutif.code }} <i
                                                class="fal fa-question-circle ms-1"
                                                data-controller="tooltip"
                                                data-tooltip-placement-value="bottom"
                                                title="{{ ec.elementConstitutif.display }}"></i>
                                    </th>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for bcc in parcours.blocCompetences %}
                    {% for competence in bcc.competences %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ bcc.competences|length }}">{{ bcc.display }}</td>
                            {% endif %}
                            {# todo: faire une classe qui calcul le référentiel en amaont, nootamment pour gérer le raccrocher #}
                            <td>{{ competence.display }}</td>
                            {% for ue in semestre.ues %}
                                {% if ue.uesEnfants|length == 0 %}
                                    {% for ec in ue.elementConstitutifs %}
                                        <td class="text-center">
                                            {% set checked = "" %}
                                            {% if competence.code in ec.bccs|keys %}
                                                {% set checked = "X" %}
                                            {% endif %}
                                            {% if editable == true %}
                                                <label class="sr-only"
                                                       for="competences_{{ competence.id }}_{{ ec.elementConstitutif.id }}">Compétence
                                                    mobilisée</label>
                                                <input type="checkbox" class="form-check"
                                                       id="competences_{{ competence.id }}_{{ ec.elementConstitutif.id }}"
                                                        {{ stimulus_action('parcours--bcc', 'updateCompetence', 'change', {
                                                            competence: competence.id,
                                                            ec: ec.elementConstitutif.id
                                                        }) }}
                                                       value="X"
                                                        {% if checked == "X" %}checked{% endif %}>
                                            {% else %}
                                                {{ checked }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                {% else %}
                                    {% for uee in ue.uesEnfants %}
                                        {% for ec in uee.elementConstitutifs %}
                                            <td class="text-center">
                                                {% set checked = "" %}
                                                {% if competence.code in ec.bccs|keys %}
                                                    {% set checked = "X" %}
                                                {% endif %}
                                                {% if editable == true %}
                                                    <label class="sr-only"
                                                           for="competences_{{ competence.id }}_{{ ec.elementConstitutif.id }}">Compétence
                                                        mobilisée</label>
                                                    <input type="checkbox" class="form-check"
                                                           id="competences_{{ competence.id }}_{{ ec.elementConstitutif.id }}"
                                                            {{ stimulus_action('parcours--bcc', 'updateCompetence', 'change', {
                                                                competence: competence.id,
                                                                ec: ec.elementConstitutif.id
                                                            }) }}
                                                           value="X"
                                                            {% if checked == "X" %}checked{% endif %}>
                                                {% else %}
                                                    {{ checked }}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>
