<div class="row"
        {{ stimulus_controller('structure--affichage') }}
>
    {% if isVersioning is not defined or isVersioning == false %}
        {% if (print is not defined or print == false) %}
            <div class="col-sm-12 text-end mb-2 pe-40px">
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-sm btn-outline-info btn-icon w-sm-auto mx-2 mb-1"
                            {{ stimulus_action('structure--affichage', 'toggleEc') }}
                    >
                        <i class="fal fa-eye-slash"></i> Masquer les EC
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2 dropdown-toggle mb-1"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="{{ iconDownload }}"></i> Fiches EC/matières
                    </button>
                    <div class="dropdown-menu" style="">
                        <a class="dropdown-item" href="{{ path('fiche_matiere_export_all', {parcours:parcours.id}) }}">
                            Version complète (toutes les fiches dans 1 pdf)
                        </a>
                        <a class="dropdown-item" href="{{ path('fiche_matiere_export_zip', {parcours:parcours.id}) }}">
                            Version zip (1 pdf par fiche)
                        </a>
                    </div>
                </div>

                {{ include('btn/export_mccc.html.twig') }}
            </div>
        {% endif %}
    {% endif %}
    <div class="col-sm-12">
        {% for ordre, semestre in dto.semestres %}
            <table class="table table-striped table-hover">
                <tr>
                    <th
                            class="border-left-semestre-{{ ordre }}"
                            colspan="{{ 10 + semestre.ues|length }}">{{ semestre.semestre.display }} {% if semestre.raccroche == true %}
                            <i class="fal fa-link"></i>{% endif %}</th>
                </tr>

                <tr class="border-left-semestre-{{ ordre }}">
                    <th></th>
                    <th>MCCC</th>
                    <th>Total</th>
                    <th>CM</th>
                    <th>TD</th>
                    <th>TP</th>
                    <th>Te</th>
                    {% for ue in semestre.ues %}
                        <td class="bg_c{{ ue.ue.ordre }}">{{ ue.ue.libelle }}</td>
                    {% endfor %}
                </tr>
                {% for ec in getElementsConstitutifs(semestre) %}
                    <tr class="border-left-semestre-{{ ordre }}">
                        <th>{{ ec.ec.elementConstitutif.code }} - {{ ec.ec.elementConstitutif.display }}</th>
                        <td>{{ component('badge_mccc', {
                                elementConstitutif: ec.ec.elementConstitutif,
                                parcours: parcours,
                                deplacer: false,
                                editable: false,
                                indexEc: ec.ec.elementConstitutif.ordre,
                                isVersioning: isVersioning ?? false,
                                parcoursVersioning: parcoursVersioning ?? null
                            }) }}
                        </td>
                        <td class="text-center">{{ ec.ec.heuresEctsEc.sommeEcTotalPres|filtreHeures }}</td>
                        <td class="text-center">{{ ec.ec.heuresEctsEc.cmPres|filtreHeures }}</td>
                        <td class="text-center">{{ ec.ec.heuresEctsEc.tdPres|filtreHeures }}</td>
                        <td class="text-center">{{ ec.ec.heuresEctsEc.tpPres|filtreHeures }}</td>
                        <td class="text-center">{{ ec.ec.heuresEctsEc.tePres|filtreHeures }}</td>
                        {% for ue in semestre.ues %}
                            <td class="text-center">{{ ec['ues'][ue.ue.id] is defined ? ec['ues'][ue.ue.id]|badgeEcts : '-' }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <th class="border-left-semestre-{{ ordre }} text-end">Total Semestre {{ ordre }}</th>
                    <th class="text-center">{{ semestre.heuresEctsSemestre.sommeSemestreEcts|badgeEctsSemestre }}</th>
                    <th class="text-center">{{ semestre.heuresEctsSemestre.sommeSemestreTotalPres|filtreHeures }}</th>
                    <th class="text-center">{{ semestre.heuresEctsSemestre.sommeSemestreCmPres|filtreHeures }}</th>
                    <th class="text-center">{{ semestre.heuresEctsSemestre.sommeSemestreTdPres|filtreHeures }}</th>
                    <th class="text-center">{{ semestre.heuresEctsSemestre.sommeSemestreTpPres|filtreHeures }}</th>
                    <th class="text-center">{{ semestre.heuresEctsSemestre.sommeSemestreTePres|filtreHeures }}</th>
                    {% for ue in semestre.ues %}
                        <td class="text-center">{{ ue.ue.ects|badgeEcts }}</td>
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="3"></th>
                <th>ECTS</th>
                <th>Total heures</th>
                <th>Total CM</th>
                <th>Total TD</th>
                <th>Total TP</th>
                <th>Total TE</th>

            </tr>
            </thead>
            <tr>
                <th colspan="3" class="text-end">Total formation</th>
                <th>{{ dto.heuresEctsFormation.sommeFormationEcts }}</th>
                <th>{{ dto.heuresEctsFormation.sommeFormationTotalPres }}</th>
                <th>{{ dto.heuresEctsFormation.sommeFormationCmPres }}</th>
                <th>{{ dto.heuresEctsFormation.sommeFormationTdPres }}</th>
                <th>{{ dto.heuresEctsFormation.sommeFormationTpPres }}</th>
                <th>{{ dto.heuresEctsFormation.sommeFormationTePres }}</th>
            </tr>
        </table>
    </div>
</div>
