{# todo: reprendre cette page comme le bilan des formations pour le SES, DPE ou Admin avec état, remplissage et
bouton pour valider/invalide les étapes successives #}
<div {{ stimulus_controller('structure--formation') }}>
    {% set sort = params.sort is defined ? params.sort : 'typeDiplome' %}
    {% set direction = params.direction is defined ? params.direction : 'asc' %}

    <table class="table">
        <thead>
        <tr>
            <th>
                <a href="#"
                        {{ stimulus_action('crud', 'sort', 'click', {
                            'sort': 'composantePorteuse',
                            'direction': getDirection('composantePorteuse', sort, direction)
                        }) }}
                >
                    Composante
                    {{ displaySort('composantePorteuse', sort, direction) }}
                </a>
            </th>
            <th>
                <a href="#"
                        {{ stimulus_action('crud', 'sort', 'click', {
                            'sort': 'typeDiplome',
                            'direction': getDirection('typeDiplome', sort, direction)
                        }) }}
                >
                    Type de formation
                    {{ displaySort('typeDiplome', sort, direction) }}
                </a>
            </th>
            <th>
                <a href="#"
                        {{ stimulus_action('crud', 'sort', 'click', {
                            'sort': 'mention',
                            'direction': getDirection('mention', sort, direction)
                        }) }}
                >
                    Mention/spécialité

                    {{ displaySort('mention', sort, direction) }}
                </a>
            </th>
            <th>En cours<br>rédaction</th>
            <th>Etat de remplissage <br>(nb complet / nb fiches total)</th>
            <th>En attente<br> validation RP, RF ou DPE</th>
            <th> En attente <br>
                validation SES</th>
            <th>Fiches validées</th>
            <th>Publiées</th>
            <th></th>
        </tr>
        {% if is_granted('ROLE_ADMIN') or
            is_granted('SHOW', {route: 'app_etablissement', subject: 'etablissement'}) %}
            <tr>
                <th>
                    <label for="filter-composante" class="sr-only">Composante</label>
                    <select
                            {{ stimulus_action('crud', 'filter', 'change', {
                                'field': 'composantePorteuse'
                            }) }}
                            id="filter-composante"
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                            class="form-select">
                        <option value="">Toutes les composantes</option>
                        {% for composante in composantes %}
                            <option value="{{ composante.id }}"
                                    {% if params['composantePorteuse'] is defined and params['composantePorteuse']  == composante.id %}selected{% endif %}
                            >{{ composante.libelle }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <label for="filter-type_formation" class="sr-only">type formation</label>
                    <select
                            {{ stimulus_action('crud', 'filter', 'change', {
                                'field': 'typeDiplome'
                            }) }}
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                            id="filter-type_formation" class="form-select"
                    >
                        <option value="">Tous les types de formation</option>
                        {% for type in typeDiplomes %}
                            <option value="{{ type.id }}"
                                    {% if params['typeDiplome'] is defined and params['typeDiplome']  == type.id %}selected{% endif %}
                            >{{ type.libelle }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <label for="filter-mention" class="sr-only">mention</label>
                    <select
                            {{ stimulus_action('crud', 'filter', 'change', {
                                'field': 'mention'
                            }) }}
                            id="filter-mention" class="form-select"
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                    >
                        <option value="">Toutes les mentions</option>
                        {% for mention in mentions %}
                            <option value="{{ mention.id }}"
                                    {% if params['mention'] is defined and params['mention']  == mention.id %}selected{% endif %}
                            >{{ mention.libelle }}</option>
                        {% endfor %}

                    </select>
                </th>

                <th>En cours<br>rédaction</th>
                <th>Etat de remplissage <br>(nb complet / nb fiches total)</th>
                <th>En attente<br> validation RP, RF ou DPE</th>
                <th> En attente <br>
                    validation SES</th>
                <th>Fiches validées</th>
                <th>Publiées</th>
                <th>
                    <button class="btn btn-outline-danger"
                            {{ stimulus_action('crud', 'effaceFiltre', 'click', {
                            }) }}
                    >
                        Effacer les filtres
                    </button>
                </th>
            </tr>
        {% endif %}
        </thead>
        <tbody>
        {% for formation in formations %}
            {% if (params['remplissage'] is defined and formation.remplissage.calcul == params['remplissage']) or  params['remplissage'] is not defined %}
                <tr>
                    <td>
                        {% if formation.composantePorteuse != null %}
                            {{ formation.composantePorteuse.libelle }}
                        {% else %}
                            <span class="badge bg-danger">Non définie</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ formation.typeDiplome|typeDiplome }}
                    </td>
                    <td>
                        {% if formation.mention != null or formation.mentionTexte != null %}
                            {{ formation.display }}
                        {% else %}
                            <span class="badge bg-danger">Non définie</span>
                        {% endif %}
                    </td>

                    <td>{{ stats[formation.id].stats.nbEnCoursRedaction }}</td>
                    <td>{{ stats[formation.id].stats.nbFichesCompletes }} / {{ stats[formation.id].stats.nbFiches }}</td>
                    <td>{{ stats[formation.id].stats.nbFichesNonValidees }}</td>
                    <td>{{ stats[formation.id].stats.nbFichesNonValideesSes }}</td>
                    <td>{{ stats[formation.id].stats.nbFichesValidees }}</td>
                    <td>{{ stats[formation.id].stats.nbFichesPubliees }}</td>

                    <td class="text-end">
                        <a
                                href="{{ path('fiche_matiere_valide_formation', {formation: formation.id}) }}"
                                class="btn btn-outline-success btn-sm mb-1"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Voir les fiches"
                        >
                            <i class="fas fa-check"></i>
                            <span> Voir les fiches</span>
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="9" class="bg-warning">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
