<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Type de diplôme</th>
        <th>Domaine</th>
        <th>Mention</th>
        <th>Composante</th>
        <th>Inscription RNCP</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for formation in formations %}
        <tr>
            <td>
                {{ formation.id }}
            </td>
            <td>
                {{ formation.typeDiplome|typeDiplome }}
            </td>
            <td>{{ formation.domaine != null ? formation.domaine.libelle : 'Non définie' }}</td>
            <td>
                {{ formation.mention != null ? formation.mention.libelle : (formation.mentionTexte|trim != null ?
                formation.mentionTexte : 'Non définie') }}
            </td>
            <td>
                {{ formation.composantePorteuse != null ? formation.composantePorteuse.libelle : 'Non définie' }}
            </td>
            <td>{{ formation.inRncp ? 'Oui' : 'Non' }} {% if formation.inRncp %}({{ formation
                .codeRNCP }}){% endif %}</td>
            <td>
                <a href="{{ path('app_formation_show',{'id': formation.id}) }}"
                   class="btn btn-sm text-info"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="Voir une formation"
                >
                    <i class="{{ iconShow }}"></i>
                    <span> voir</span>
                </a>

                {% if is_granted('ROLE_RESP_FORMATION') %}
                    <a href="{{ path('app_formation_edit',{'id': formation.id}) }}"
                       class="btn btn-sm text-warning"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       title="Modifier une année universitaire"
                    >
                        <i class="{{ iconEdit }}"></i>
                        <span> modifier</span>
                    </a>
                {% endif %}

                {% if is_granted('ROLE_SES') %}
                    {#                <button {{ stimulus_action('crud', 'duplicate', 'click', { #}
                    {#                    url:path('app_formation_duplicate',{'id': formation.id}) #}
                    {#                }) }} class="btn btn-sm text-success"> #}
                    {#                    <i class="{{ iconDuplicate }}"></i> Dupliquer #}
                    {#                </button> #}
                    <button {{ stimulus_action('crud', 'delete', 'click', {
                        url:path('app_formation_delete',{'id': formation.id}),
                        csrf: csrf_token('delete' ~ formation.id)
                    }) }} class="btn btn-sm text-danger">
                        <i class="{{ iconDelete }}"></i> Supprimer
                    </button>
                {% endif %}
            </td>
        </tr>

            <tr>
                <td>Parcours</td>
                <td colspan="6">
                    <table class="table">
        {% for parcours in formation.parcours %}
                        <tr>
                            <td>#{{ parcours.id }}</td>
                            <td>{{ parcours.libelle }}</td>
                            <td class="text-end">
                                <a href="{{ path('app_parcours_show',{'id': parcours.id}) }}"
                                   class="btn btn-sm text-info"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="Voir une formation"
                                >
                                    <i class="{{ iconShow }}"></i>
                                    <span> voir</span>
                                </a>

                                <a href="{{ path('app_parcours_edit',{'id': parcours.id}) }}"
                                   class="btn btn-sm text-warning"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   target="_blank"
                                   title="Modifier une année universitaire"
                                >
                                    <i class="{{ iconEdit }}"></i>
                                    <span> modifier</span>
                                </a>

                                <button {{ stimulus_action('crud', 'delete', 'click', {
                                    url:path('app_parcours_delete',{'id': parcours.id}),
                                    csrf: csrf_token('delete' ~ parcours.id)
                                }) }} class="btn btn-sm text-danger">
                                    <i class="{{ iconDelete }}"></i> Supprimer
                                </button>
                            </td>
                        </tr>
        {% endfor %}
                    </table>
                </td>
            </tr>

    {% else %}
        <tr>
            <td colspan="7" class="bg-warning">Aucun enregistrement trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
