<tr id="parcours_{{ formation.id }}">
    <td colspan="9">
        <table class="table" style="border-left: 2px solid var(--secondary)">
            <thead>
            <tr>
                <th>Parcours</th>
                <th>Lieu</th>
                <th>Responsable</th>
                <th>Etat</th>
                <th>BCC</th>
                <th>MCCC</th>
                <th>Conseil</th>
                <th>Remplissage</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if formation.hasParcours %}
                {% for parcours in formation.parcours|filter(parcours => parcours.formation.hasParcours) %}
                    <tr>
                        <td>{{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}</td>
                        <td>{{ parcours.localisation != null ? parcours.localisation.libelle : 'Non défini' }}</td>
                        <td>{{ parcours.respParcours != null ? parcours.respParcours.display : 'Non défini' }}</td>
                        {% if dpesParcours[parcours.id].etatReconduction.value == 'NON_OUVERTURE' %}
                            <td colspan="5">
                                <span class="badge bg-warning w-100">Parcours non ouvert</span>
                            </td>
                        {% else %}
                            <td>{{ dpesParcours[parcours.id].etatValidation|badgeDpe }}</td>
                            <td>
                                {{ parcours.etatStep(3)|badgeStep }}
                            </td>
                            <td>
                                {{ parcours.etatStep(4)|badgeStep }}
                            </td>
                            <td>
                                {{ component('historique_pv', {parcours:parcours}) }}
                            </td>
                            <td>
                                {{ parcours.remplissage|remplissage }}
                            </td>
                        {% endif %}
                        <td class="text-end">
                            <a href="{{ path('app_parcours_show',{'id': parcours.id}) }}"
                               class="btn btn-sm text-info"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               target="_blank"
                               title="Voir une formation"
                            >
                                <i class="{{ iconShow }}"></i>
                                <span> voir</span>
                            </a>

                            <a href="#"
                               class="btn btn-sm text-success"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Vérifier la saisie',
                                        modalUrl: path('app_parcours_state', {parcours:parcours.id}) }) }}
                               data-action="click->modal#openModal"
                               data-size="lg"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="Vérifier la saisie"
                            >
                                <i class="fal fa-binoculars"></i>
                                <span> vérifier</span>
                            </a><br>

                            {% if
                                is_granted('EDIT', {route: 'app_parcours', subject:  dpesParcours[parcours.id]}) %}
                                <a href="{{ path('app_parcours_edit',{'id': parcours.id}) }}"
                                   class="btn btn-sm text-warning"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   target="_blank"
                                   title="Modifier la fiche d'identité du parcours"
                                >
                                    <i class="{{ iconEdit }}"></i>
                                    <span> modifier</span>
                                </a>
                            {% endif %}

                            {% if is_granted('CAN_FORMATION_DELETE_MY') or is_granted('ROLE_ADMIN') %}
                                {# todo manque formation sur le isgranted #}
                                <button {{ stimulus_action('crud', 'delete', 'click', {
                                    url:path('app_parcours_delete',{'id': parcours.id}),
                                    csrf: csrf_token('delete' ~ parcours.id)
                                }) }} class="btn btn-sm text-danger">
                                    <i class="{{ iconDelete }}"></i> Supprimer
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% if formation.parcours|length == 0 %}
                    <tr class="bg-warning text-white">
                        <td colspan="9">Formation non initialisée, pas de parcours ou de parcours par défaut.</td>
                    </tr>
                {% else %}
                    {% set parcours = formation.parcours[0] %}
                    <tr>
                        <td>{{ formation.display }}</td>
                        <td>{{ formation.localisationMention != null and formation.localisationMention|length >= 1 ? formation.localisationMention[0].libelle : 'Non défini' }}</td>
                        <td>{{ formation.responsableMention != null ? formation.responsableMention.display : 'Non défini' }}</td>
                        <td>{{ dpesParcours[parcours.id].etatValidation|badgeDpe }}</td>
                        <td>
                            {{ parcours.etatStep(3)|badgeStep }}
                        </td>
                        <td>
                            {{ parcours.etatStep(4)|badgeStep }}
                        </td>
                        <td>
                            {{ component('historique_pv', {parcours:parcours}) }}
                        </td>
                        <td>
                            {{ parcours.remplissage|remplissage }}
                        </td>
                        <td class="text-end">
                            <a href="{{ path('app_formation_show',{'slug': formation.slug}) }}"
                               class="btn btn-sm text-info"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="Voir une formation"
                               target="_blank"
                            >
                                <i class="{{ iconShow }}"></i>
                                <span> voir</span>
                            </a>

                            <a href="#"
                               class="btn btn-sm text-success"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Vérifier la saisie',
                                        modalUrl: path('app_formation_state', {formation:formation.id}) }) }}
                               data-action="click->modal#openModal"
                               data-size="lg"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="Vérifier la saisie"
                            >
                                <i class="fal fa-binoculars"></i>
                                <span> vérifier</span>
                            </a><br>

                            {% if is_granted('EDIT', {route: 'app_formation', subject: formation}) or is_granted('EDIT', {route: 'app_parcours', subject: formation.parcours[0]}) %}
                                <a href="{{ path('app_formation_edit',{'slug':  formation.slug}) }}"
                                   class="btn btn-sm text-warning"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   target="_blank"
                                   title="Modifier la fiche d'identité du parcours"
                                >
                                    <i class="{{ iconEdit }}"></i>
                                    <span> modifier</span>
                                </a>
                            {% endif %}

                            {% if is_granted('CAN_FORMATION_DELETE_MY') or is_granted('ROLE_ADMIN') %}
                                {# todo manque formation sur le isgranted #}
                                <button {{ stimulus_action('crud', 'delete', 'click', {
                                    url:path('app_formation_delete',{'id': formation.id}),
                                    csrf: csrf_token('delete' ~ formation.id)
                                }) }} class="btn btn-sm text-danger">
                                    <i class="{{ iconDelete }}"></i> Supprimer
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            </tbody>
        </table>
    </td>
</tr>
