<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <dl>
                    <dt>Domaine</dt>
                    <dd>{{ formation.domaine ? formation.domaine.libelle : 'Non défini' }}</dd>
                    <dt>Type de formation</dt>
                    <dd>{{ typeDiplome|typeDiplome }}</dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>Composante</dt>
                    <dd>{{ formation.composantePorteuse != null ? formation.composantePorteuse.libelle : 'Non définie'
                        }}</dd>
                    <dt>Mention/spécialité</dt>
                    <dd>{{ formation.display }}</dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>Responsable de la mention/spécialité</dt>
                    <dd>{{ formation.responsableMention != null ? formation.responsableMention.display : 'Non défini'
                        }}</dd>
                </dl>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-12 text-end">
                    <a href="{{ path('app_formation_edit_modal',{'formation': formation.id}) }}"
                       class="btn btn-sm text-warning "
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       title="Modifier la formation"
                    >
                        <i class="{{ iconEdit }}"></i>
                        <span> modifier</span>
                    </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
