{% if formation.hasParcours == true %}
    {% set col = 'col-4' %}
{% else %}
    {% set col = 'col-3' %}
{% endif %}

{{ include('formation/_process.html.twig') }}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="{{ col }}">
                <dl>
                    <dt>Domaine</dt>
                    <dd>{{ formation.domaine ? formation.domaine.libelle : 'Non défini' }}</dd>
                    <dt>Type de formation</dt>
                    <dd>{{ typeDiplome|typeDiplome }}</dd>
                </dl>
            </div>
            <div class="{{ col }}">
                <dl>
                    <dt>Composante</dt>
                    <dd>{{ formation.composantePorteuse != null ? formation.composantePorteuse.libelle : 'Non définie' }}</dd>
                    <dt>Mention/spécialité (sigle)</dt>
                    <dd id="synthese_formation_libelle_dd">{{ formation.display }}</dd>
                </dl>
            </div>
            <div class="{{ col }}">
                <dl>
                    <dt>Responsable de la mention/spécialité</dt>
                    <dd>
                        {{ formation.responsableMention != null ? formation.responsableMention.display : 'Non défini' }}
                        {% if formation.coResponsable != null %}
                            <i class="fal fa-users" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Co-responsable : {{ formation.coResponsable.display }}"></i>
                        {% endif %}
                        {# todo: gérer le responsable en attente #}
                    </dd>
                </dl>
            </div>
            {% if formation.hasParcours == false and formation.parcours[0] is defined %}
                {% if hasLastVersion is defined and hasLastVersion != null %}
                    {{ include('communs/_boutonSynthese_version.html.twig', {parcours: formation.parcours[0], col:'col-3'}) }}
                {% else %}
                    {{ include('communs/_boutonSynthese.html.twig', {parcours: formation.parcours[0], col:'col-3'}) }}
                {% endif %}

                <twig:ParcoursOuvert :parcours="formation.parcours[0]" type="formation" />
            {% endif %}


            <div class="d-flex d-grid justify-content-end">

                {% if is_granted('ROLE_SES') %}
                    <a href="{{ path('app_formation_edit_modal',{slug: formation.slug}) }}"
                       class="btn btn-sm btn-icon btn-icon-only btn-outline-warning ms-1"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       title="Modifier la formation"
                    >
                        <i class="{{ iconEdit }}"></i>
                    </a>
                    {% if typeDiplome.libelleCourt == 'BUT' %}
                        <a href="{{ path('app_formation_synchronisation_mccc',{'formation': formation.id}) }}"
                           class="btn btn-sm btn-icon btn-icon-only btn-outline-danger ms-1"
                           data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           title="Récupérer MCCC de la formation depuis XLSX"
                        >
                            <i class="fa-l fa-group-arrows-rotate"></i>
                        </a>

                        <a href="{{ path('app_formation_synchronisation_acs',{'formation': formation.id}) }}"
                           class="btn btn-sm btn-icon btn-icon-only btn-outline-danger ms-1"
                           data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           title="Synchro AC"
                        >
                            <i class="fal fa-users-between-lines"></i>
                        </a>

                        <a href="{{ path('app_formation_synchronisation',{'formation': formation.id}) }}"
                           class="btn btn-sm btn-icon btn-icon-only btn-outline-danger ms-1"
                           data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           title="Initialiser la formation depuis ORéBUT"
                        >
                            <i class="fal fa-rotate"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


