{% extends 'base.html.twig' %}

{% block content %}
    {% set step = 1 %}
    {{ include('formation/_synthese_formation.html.twig') }}
    <div class="mt-2">
{#        {% if is_granted('ROLE_SES') or is_granted('CAN_ETABLISSEMENT_SCOLARITE_ALL') or is_granted('CAN_FORMATION_SCOLARITE_MY', formation) %}#}
{#            {{ include('formation/_gestion.html.twig', {formation: formation}) }}#}
{#        {% endif %}#}
    </div>
    <div class="mt-3"
            {{ stimulus_controller('formation_wizard', {
                url: path('app_formation_wizard'),
                urlParcours: path('app_parcours_wizard'),
                step: selectedStep,
                formation: formation.id,
            }) }}
            {{ stimulus_action('formation_wizard', 'refreshStep', 'base:refreshStep@window') }}
    >
        <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer"
            role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if selectedStep == 1 %}active{% endif %}"
                   data-bs-toggle="tab" href="#" role="tab" {% if step == 1 %}aria-selected="true"{% endif %}
                        {{ stimulus_action('formation_wizard', 'changeStep', 'click', {step: 1}) }}
                >
                    Localisation de la formation {{ formationState.onglets|etatRemplissage(1, 'formation') }}
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if selectedStep == 3 %}active{% endif %}" data-bs-toggle="tab" href="#"
                   role="tab" aria-selected="false"
                        {{ stimulus_action('formation_wizard', 'changeStep', 'click', {step: 3}) }}
                >Structure et organisation de la
                    formation {{ formationState.onglets|etatRemplissage(3, 'formation') }}</a>
            </li>
            {% if formation.parcours[0] is defined and formation.hasParcours == false %}
                {% set parcours = formation.parcours[0] %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if selectedStep == 2 %}active{% endif %}" data-bs-toggle="tab" href="#"
                       role="tab"
                            {{ stimulus_action('formation_wizard', 'changeStep', 'click', {step: 2}) }}
                       aria-selected="false">Présentation de la
                        formation {{ formationState.onglets|etatRemplissage(2, 'formation') }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       data-bs-toggle="tab" href="#" role="tab"
                            {{ stimulus_action('formation_wizard', 'changeStepParcours', 'click', {step: 2,
                                parcours:parcours.id}) }}
                    >
                        Descriptif {{ parcoursState.onglets|etatRemplissage(2, 'parcours') }}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#" role="tab" aria-selected="false"
                            {{ stimulus_action('formation_wizard', 'changeStepParcours', 'click', {step: 3,parcours:parcours.id}) }}
                    >
                        Compétences {{ parcoursState.onglets|etatRemplissage(3, 'parcours') }}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#" role="tab" aria-selected="false"
                            {{ stimulus_action('formation_wizard', 'changeStepParcours', 'click', {step: 4,parcours:parcours.id}) }}
                    >
                        Structure de la maquette {{ parcoursState.onglets|etatRemplissage(4, 'parcours') }}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#" role="tab" aria-selected="false"
                            {{ stimulus_action('formation_wizard', 'changeStepParcours', 'click', {step: 5,parcours:parcours.id}) }}
                    >
                        Admission & inscription {{ parcoursState.onglets|etatRemplissage(5, 'parcours') }}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#" role="tab" aria-selected="false"
                            {{ stimulus_action('formation_wizard', 'changeStepParcours', 'click', {step: 6,
                                parcours:parcours.id}) }}
                    >
                        Et après... {{ parcoursState.onglets|etatRemplissage(6, 'parcours') }}
                    </a>
                </li>
                {% if is_granted('ROLE_SES') %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if step == 7 %}active{% endif %}" data-bs-toggle="tab" href="#" role="tab"
                           aria-selected="false"
                                {{ stimulus_action('formation_wizard', 'changeStepParcours', 'click', {step: 7, parcours:parcours.id}) }}
                        >
                            Configuration
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            <!-- An empty list to put overflowed links -->
            <li class="nav-item dropdown ms-auto pe-0 d-none responsive-tab-dropdown">
                <a
                        class="btn btn-icon btn-icon-only btn-background pt-0 bg-transparent pe-0"
                        href="#"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i data-acorn-icon="more-horizontal"></i>
                </a>
                <ul class="dropdown-menu mt-2 dropdown-menu-end"></ul>
            </li>
        </ul>

        <div class="card mb-5">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="step_1" role="tabpanel" {{ stimulus_target
                        ('formation_wizard', 'content') }}>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    <strong>{{ typeDiplome|typeDiplome }} <span id="synthese_formation_libelle">{{ formation.display }}</span></strong>
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_formation_index'), title: 'Liste des formations'},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_formation_show', {slug:formation.slug}) }}"
       class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Voir la formation"
    >
        <i class="{{ iconShow }}"></i>
        <span>Voir la fiche descriptive</span>
    </a>
    <a href="{{ path('app_formation_index') }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour à la liste des formations"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la liste des formations</span>
    </a>
{% endblock %}
