{% extends 'base.html.twig' %}

{% block content %}
    <div class="card"
            {{ stimulus_controller('crud', {
                url: path('app_formation_liste')
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe"
    >
        <div class="card-body">
            <div class="row">
                <div class="col-8"></div>
                <div class="col-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="filtre">Rechercher</span>
                        <input type="text" class="form-control" placeholder="Saisir les premières lettres..."
                               aria-label="Rechercher"
                                {{ stimulus_action('crud', 'rechercher', 'keyup') }}
                               aria-describedby="filtre">
                    </div>
                </div>
            </div>
            <div {{ stimulus_target('crud', 'liste') }}>

            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    Gestion des formations
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
    ]}) }}
{% endblock %}

{% block bouton_header %}
    {% if is_granted('ROLE_SES') %}
        <a href="{{ path('app_formation_etat_send_ouverture') }}"
           class="btn btn-sm btn-outline-warning btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Ouvrir les formations"
        >
            <i class="{{ iconAdd }}"></i>
            <span> Ouvrir les formations</span>
        </a>
        <a href="{{ path('app_formation_new') }}"
           class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Ajouter une formation"
        >
            <i class="{{ iconAdd }}"></i>
            <span> Ajouter une formation</span>
        </a>
    {% endif %}
{% endblock %}
