{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        {{ cssDiff }}
        .diff-wrapper.diff.diff-html .change del {
            background-color: unset; 
            font-weight: unset;
            text-decoration: line-through;
            color: red;
        }
        .diff-wrapper.diff.diff-html .change .rep {
            background-color: white;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Test Script -->
    <script>
      let isSaveClicked = false

      function showVersion () {
        let select = document.querySelector('#selectVersion')
        let versionSelected = select.options[select.selectedIndex].value
        if (versionSelected !== '#') {
          window.location = `/parcours/${versionSelected}/versioning/view`
        }
      }

      function saveVersion (event) {
        if (isSaveClicked === false) {
          let spinner = document.querySelector('#spinner')
          spinner.classList.remove('d-none')
          spinner.classList.add('d-flex')
          isSaveClicked = true
        } else {
          event.preventDefault()
          return false
        }
      }

    </script>
{% endblock %}

{% block title %}Formation{% endblock %}

{% block content %}

    {{ component('mention_manage', {formation:formation, type:'formation'}) }}

    {% if is_granted('ROLE_SES') or is_granted('CAN_ETABLISSEMENT_SCOLARITE_ALL') or is_granted('CAN_FORMATION_SCOLARITE_MY', formation) %}
    {{ include('formation/_gestion.html.twig', {formation: formation}) }}
    {# Versioning pour les parcours par défaut #}
    {% if formation.isHasParcours == false and formation.parcours|length == 1 %}   
        {{ include('formation/_manage_versioning.html.twig', {parcours: formation.parcours[0]}) }}
    {% endif %}
    {% endif %}

    <div class="row">
        {{ include('typeDiplome/formation/common/_'~constant('SOURCE', typeD)~'.html.twig', {print:false}) }}
        <!-- Scrollspy Start -->
        <div class="col-md-auto d-none d-lg-block" id="scrollSpyMenu">
            <ul class="nav flex-column">
                <li>
                    <a class="nav-link p-2" href="#identite_formation">
                        <i class="fal fa-chevron-right"></i>
                        Identité de la formation
                    </a>
                </li>
                {#            <li> #}
                {#                <a class="nav-link p-2" href="#debut_mention"> #}
                {#                    <i class="fal fa-chevron-right"></i> #}
                {#   todo: ... hors licence                 Début de la mention #}
                {#                </a> #}
                {#            </li> #}
                <li>
                    <a class="nav-link p-2" href="#localisation">
                        <i class="fal fa-chevron-right"></i>
                        Localisation
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#presentation">
                        <i class="fal fa-chevron-right"></i>
                        Présentation
                    </a>
                </li>
                {% if formation.isHasParcours == false %}
                    <li>
                        <a class="nav-link p-2" href="#descriptif">
                            <i class="fal fa-chevron-right"></i>
                            Descriptif de la formation
                        </a>
                    </li>
                    <li>
                        <a class="nav-link p-2" href="#competences">
                            <i class="fal fa-chevron-right"></i>
                            Compétences Acquises
                        </a>
                    </li>
                    <li>
                        <a class="nav-link p-2" href="#structure">
                            <i class="fal fa-chevron-right"></i>
                            Structure
                        </a>
                    </li>

                    <li>
                        <a class="nav-link p-2" href="#admission">
                            <i class="fal fa-chevron-right"></i>
                            Admission
                        </a>
                    </li>
                    <li>
                        <a class="nav-link p-2" href="#inscription">
                            <i class="fal fa-chevron-right"></i>
                            Inscription
                        </a>
                    </li>
                    <li>
                        <a class="nav-link p-2" href="#et_apres">
                            <i class="fal fa-chevron-right"></i>
                            Et après...
                        </a>
                    </li>
                    <li>
                        <a class="nav-link p-2" href="#contacts">
                            <i class="fal fa-chevron-right text-start"></i>
                            Contacts pédagogiques
                        </a>
                    </li>
                {% else %}
                    {% for parcours in formation.parcours %}
                        <li>
                            <strong>Parcours {{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}</strong>
                        </li>
                        <li class="border-left-parcours border-left-parcours-{{ loop.index }}">
                            <a class="nav-link p-2" href="#presentation_{{ parcours.id }}">
                                <i class="fal fa-chevron-right"></i>
                                Présentation
                            </a>
                        </li>
                        <li class="border-left-parcours border-left-parcours-{{ loop.index }}">
                            <a class="nav-link p-2" href="#descriptif_{{ parcours.id }}">
                                <i class="fal fa-chevron-right"></i>
                                Descriptif de la formation
                            </a>
                        </li>
                        <li class="border-left-parcours border-left-parcours-{{ loop.index }}">
                            <a class="nav-link p-2" href="#localisation_{{ parcours.id }}">
                                <i class="fal fa-chevron-right"></i>
                                Localisation
                            </a>
                        </li>
                        <li class="border-left-parcours border-left-parcours-{{ loop.index }}">
                            <a class="nav-link p-2" href="#competences_{{ parcours.id }}">
                                <i class="fal fa-chevron-right"></i>
                                Compétences Acquises
                            </a>
                        </li>
                        <li class="border-left-parcours border-left-parcours-{{ loop.index }}">
                            <a class="nav-link p-2" href="#structure_{{ parcours.id }}">
                                <i class="fal fa-chevron-right"></i>
                                Structure
                            </a>
                        </li>
                        <li class="border-left-parcours border-left-parcours-{{ loop.index }}">
                            <a class="nav-link p-2" href="#admission_{{ parcours.id }}">
                                <i class="fal fa-chevron-right"></i>
                                Admission
                            </a>
                        </li>
                        <li class="border-left-parcours border-left-parcours-{{ loop.index }}">
                            <a class="nav-link p-2" href="#inscription_{{ parcours.id }}">
                                <i class="fal fa-chevron-right"></i>
                                Inscription
                            </a>
                        </li>
                        <li class="border-left-parcours border-left-parcours-{{ loop.index }}">
                            <a class="nav-link p-2" href="#et_apres_{{ parcours.id }}">
                                <i class="fal fa-chevron-right"></i>
                                Et après...
                            </a>
                        </li>
                        <li class="border-left-parcours border-left-parcours-{{ loop.index }}">
                            <a class="nav-link p-2" href="#contacts_{{ parcours.id }}">
                                <i class="fal fa-chevron-right text-start"></i>
                                Contacts pédagogiques
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <!-- Scrollspy End -->
    </div>
{% endblock %}

{% block header %}
    Détail de la formation : {{ formation.display }}
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_formation_index'), title: 'Liste des formations'},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    {% if formation.isHasParcours == false and formation.parcours|length == 1 %}
        {% set parcours = formation.parcours[0] %}
        {{ include('btn/export_mccc.html.twig') }}
        <a href="{{ path('app_parcours_bcc', {parcours:parcours.id}) }}"
           class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Voir les BCC"
        >
            <i class="{{ iconShow }}"></i>
            <span> Voir BCC</span>
        </a>
    {% else %}
        <a href="#presentation"
           class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Télécharger les MCCC"
        >
            <i class="{{ iconShow }}"></i>
            <span> MCCC Parcours</span>
        </a>
        <a href="#presentation"
           class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Voir les BCC"
        >
            <i class="{{ iconShow }}"></i>
            <span> BCC Parcours</span>
        </a>
    {% endif %}

    <a href="{{ path('app_formation_export', {slug:formation.slug}) }}"
       class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Télécharger en PDF"
    >
        <i class="{{ iconDownload }}"></i>
        <span> Fiche descriptive (PDF)</span>
    </a>

    {% if is_granted('CAN_FORMATION_EDIT_MY', formation) %}
        <a href="{{ path('app_formation_edit', {slug:formation.slug}) }}"
           class="btn btn-sm btn-outline-warning btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Modifier le DPE"
        >
            <i class="{{ iconEdit }}"></i>
            <span> Modifier le DPE</span>
        </a>
    {% endif %}
{% endblock %}
