<div class="col">
    <section
            data-scroll-spy-target="section"
            class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
            id="identite_formation">
        {{ include('communs/_header_show.html.twig', {
            title: 'Identité de la formation',
            icon: 'fa-solid fa-id-card',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/licence/affiche/_identiteFormation.html.twig') }}
        </div>
    </section>

    <section data-scroll-spy-target="section"
             class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
             id="presentation">
        {{ include('communs/_header_show.html.twig', {
            title: 'Présentation formation ' ~ parcours.formation.display,
            icon: 'fa-solid fa-book-open',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/licence/affiche/_presentationFormation.html.twig') }}
        </div>
    </section>

    <section data-scroll-spy-target="section"
             class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
             id="presentation_{{ parcours.id }}">
        {{ include('communs/_header_show.html.twig', {
            title: 'Présentation du parcours ' ~ parcours.libelle,
            icon: 'fa-solid fa-book-open',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/licence/affiche/_presentationParcours.html.twig', {parcours:parcours}) }}
        </div>
    </section>

    <section data-scroll-spy-target="section"
             class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
             id="descriptif_{{ parcours.id }}">
        {{ include('communs/_header_show.html.twig', {
            title: 'Descriptif du parcours ' ~ parcours.libelle,
            icon: 'fa-solid fa-book-open',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/licence/affiche/_descriptifParcours.html.twig', {parcours:parcours}) }}
        </div>
    </section>

    <section data-scroll-spy-target="section"
             class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
             id="localisation_{{ parcours.id }}">
        {{ include('communs/_header_show.html.twig', {
            title: 'Localisation du parcours ' ~ parcours.libelle,
            icon: 'fa-solid fa-map-marker-alt',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/licence/affiche/_localisationParcours.html.twig', {parcours:parcours}) }}

        </div>
    </section>

    <section data-scroll-spy-target="section"
             class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
             id="competences_{{ parcours.id }}">
        {{ include('communs/_header_show.html.twig', {
            title: 'Compétences Acquises du parcours ' ~ parcours.libelle,
            icon: 'fa-solid fa-tasks',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/licence/affiche/_competences.html.twig', {parcours:parcours}) }}
        </div>
    </section>

    {% if isVersioning is not defined or isVersioning == false %}
        <section data-scroll-spy-target="section"
                 class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
                 id="structure_{{ parcours.id }}">
            {{ include('communs/_header_show.html.twig', {
                title: 'Structure du parcours ' ~ parcours.libelle,
                icon: 'fa-solid fa-sitemap',
                color: 'orange'
            }) }}

            <div>
                {{ render(controller('App\\Controller\\StructureShowController::parcoursShow', {
                    parcours: parcours.id,
                    hasLastVersion: hasLastVersion ?? false,
                })) }}
            </div>
        </section>
    {% else %}
        {# Visionnage d'une version #}
        <section data-scroll-spy-target="section"
                 class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
                 id="structure_{{ parcours.id }}">
            {{ include('communs/_header_show.html.twig', {
                title: 'Structure du parcours ' ~ parcours.libelle,
                icon: 'fa-solid fa-sitemap',
                color: 'orange'
            }) }}
            <div>
                {{ include('typeDiplome/' ~ constant('TEMPLATE_FOLDER', typeD) ~ '/structure/_structure.html.twig',
                    {
                        parcours: parcours,
                        dto: dto,
                        hasLastVersion: false,
                        diffStructure: null
                    }
                ) }}
            </div>
        </section>
    {% endif %}
    <section data-scroll-spy-target="section"
             class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
             id="admission_{{ parcours.id }}">
        {{ include('communs/_header_show.html.twig', {
            title: 'Admission du parcours ' ~ parcours.libelle,
            icon: 'fa-solid fa-user-check',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/licence/affiche/_admission.html.twig', {parcours:parcours}) }}
        </div>
    </section>

    <section data-scroll-spy-target="section"
             class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
             id="inscription_{{ parcours.id }}">
        {{ include('communs/_header_show.html.twig', {
            title: 'Inscription du parcours ' ~ parcours.libelle,
            icon: 'fa-solid fa-pen-to-square',
            color: 'indigo'
        }) }}

        <div>
            {{ include('typeDiplome/licence/affiche/_inscription.html.twig', {parcours:parcours}) }}
        </div>
    </section>

    <section data-scroll-spy-target="section"
             class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
             id="et_apres_{{ parcours.id }}">
        {{ include('communs/_header_show.html.twig', {
            title: 'Et après...',
            icon: 'fa-solid fa-briefcase',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/formation/_etApres.html.twig', {parcours:parcours}) }}
        </div>
    </section>

    <section data-scroll-spy-target="section"
             class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
             id="contacts_{{ parcours.id }}">
        {{ include('communs/_header_show.html.twig', {
            title: 'Contacts pédagogiques',
            icon: 'fa-solid fa-address-book',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/formation/_contacts.html.twig', {parcours:parcours}) }}
        </div>
    </section>
</div>
