<div class="col">
    <section
            data-scroll-spy-target="section"
            class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
            id="identite_enseignement">
        {{ include('communs/_header_show.html.twig', {
            title: 'Identité de la fiche matière',
            icon: 'fa-solid fa-id-card',
            color: 'indigo',
            print:true
        }) }}
        <div>
            {{ include('typeDiplome/licence/ec/_identiteEc.html.twig') }}
        </div>
    </section>

    <section
            data-scroll-spy-target="section"
            class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
            id="presentation">
        {{ include('communs/_header_show.html.twig', {
            title: 'Présentation de la fiche matière',
            icon: 'fa-solid fa-book-open',
            color: 'indigo',
            print:true
        }) }}
        <div>
            {{ include('typeDiplome/licence/ec/_presentation.html.twig') }}
        </div>
    </section>

    <section
            data-scroll-spy-target="section"
            class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
            id="volumes_horaires">
        {{ include('communs/_header_show.html.twig', {
            title: 'Volumes horaires de la fiche matière',
            icon: 'fa-solid fa-clock',
            color: 'indigo',
            print:true
        }) }}
        <div>
            <twig:alerte type="info"
                         message="Les volumes horaires sont donnés à titre indicatif et peuvent varier en fonction des parcours dans lesquels cette fiche matière est utilisée."
                         class="mt-2"></twig:alerte>

            {{ include('typeDiplome/licence/ec/_structure.html.twig') }}
        </div>
    </section>

    <section
            data-scroll-spy-target="section"
            class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
            id="mccc">
        {{ include('communs/_header_show.html.twig', {
            title: 'MCCC',
            icon: 'fa-solid fa-sitemap',
            color: 'indigo',
            print:true
        }) }}
        <div>
            <twig:alerte type="info"
                         message="Les MCCC et ECTS sont donnés à titre indicatif et peuvent varier en fonction des parcours dans lesquels cette fiche matière est utilisée."
                         class="mt-2"></twig:alerte>

            {{ include('typeDiplome/licence/ec/_mccc.html.twig', {}) }}
        </div>
    </section>


    <section
            data-scroll-spy-target="section"
            class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
            id="bcc">
        {{ include('communs/_header_show.html.twig', {
            title: 'Compétences associées à la fiche matière',
            icon: 'fa-solid fa-tasks',
            color: 'indigo',
            print:true
        }) }}
        <div>
            {{ include('typeDiplome/formation/_objectifs.html.twig') }}
        </div>
    </section>

    {% if ficheMatiere.enseignementMutualise == true or ecParcours|length > 0 %}
        <section
                data-scroll-spy-target="section"
                class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
                id="mutualisation">
            {{ include('communs/_header_show.html.twig', {
                title: 'Mutualisations de la fiche matière',
                icon: 'fa-solid fa-share-nodes',
                color: 'indigo',
                print:true
            }) }}
            <div>
                <ul class="list-unstyled">
                    {% for ec in ecParcours %}
                        {% if ec.parcours != null %}
                            <li>
                                {% if ec.parcours.isParcoursDefaut == true %}
                                    <a href="{{ path('formation_v2_voir', {slug:ec.parcours.formation.slug}) }}"
                                       target="_blank" class="text-primary">
                                        <i class="fas fa-eye"></i>
                                        <strong>Formation sans parcours</strong> - {{ ec.ue.display(ec.parcours) }}
                                        | {{ ec.code }} - ({{ ec.parcours.formation.displayLong }})
                                        - {{ ec.parcours.formation.composantePorteuse.libelle }}
                                    </a>
                                {% else %}
                                    {% if ec.parcours != null and ec.parcours.formation != null %}
                                        <a href="{{ path('parcours_v2_voir', {parcours:ec.parcours.id}) }}"
                                           target="_blank" class="text-primary">
                                            <i class="fas fa-eye"></i>
                                            <strong>{{ ec.parcours.libelle }} {% if ec.parcours.typeparcours != null and ec.parcours.typeparcours.value != 'classique' %} {{ ec.parcours.typeparcours|badgeTypeParcours }}{% endif %}</strong>
                                            - {{ ec.ue.display(ec.parcours) }}
                                            | {{ ec.code }} - ({{ ec.parcours.formation.displayLong }})
                                            - {{ ec.parcours.formation.composantePorteuse.libelle }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}


    <section
            data-scroll-spy-target="section"
            class="bg-white rounded-sm p-4 mb-4 border border-slate-200 shadow-sm scroll-mt-32"
            id="infos">
        {{ include('communs/_header_show.html.twig', {
            title: 'Infos pratiques',
            icon: 'fa-solid fa-address-book',
            color: 'indigo',
            print:true
        }) }}
        <div>
            {{ include('typeDiplome/licence/ec/_infos.html.twig') }}
        </div>
    </section>
</div>
