{% set print = false %}
<div class="col">
    {% set section_card_class = 'app-section-card' %}
    <section
            data-scroll-spy-target="section"
            class="{{ section_card_class }}"
            id="identite_formation">
        {{ include('communs/_header_show.html.twig', {
            title: 'Identité de la formation',
            icon: 'ph:identification-card-light',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/licence/affiche/_identiteFormation.html.twig') }}
        </div>
    </section>

    <section
            data-scroll-spy-target="section"
            class="{{ section_card_class }}"
            id="identite_formation">
        {{ include('communs/_header_show.html.twig', {
            title: 'Localisation',
            icon: 'ph:map-pin-area-light',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/licence/affiche/_localisationFormation.html.twig') }}
        </div>
    </section>

    <section
            data-scroll-spy-target="section"
            class="{{ section_card_class }}"
            id="presentation_formation">
        {{ include('communs/_header_show.html.twig', {
            title: 'Présentation de la formation',
            icon: 'ph:map-pin-area-light',
            color: 'indigo'
        }) }}
        <div>
            {{ include('typeDiplome/licence/affiche/_presentationFormation.html.twig') }}
        </div>
    </section>

    {% if formation.isHasParcours == false and formation.parcours|length == 1 %}
        <section data-scroll-spy-target="section"
                 class="{{ section_card_class }}"
                 id="competences">
            {{ include('communs/_header_show.html.twig', {
                title: 'Compétences Acquises',
                icon: 'ph:map-pin-area-light',
                color: 'indigo'
            }) }}
            <div>
                {{ include('typeDiplome/licence/affiche/_competences.html.twig', {parcours:formation.parcours[0]}) }}
            </div>
        </section>

        <section class="scroll-section" id="structure">
            <h3 class="small-title">Structure</h3>
            <div class="card mb-5">
                <div class="card-body">
                    {% if (print is not defined or print == false) %}
                        {{ component('commentaire', {
                            commentaires: formation.commentaires,
                            id: formation.id,
                            type: 'formation',
                            zone: 'structure',
                        }) }}
                    {% endif %}
                    {{ render(controller('App\\Controller\\StructureShowController::parcoursShow', {
                        parcours: formation.parcours[0].id,
                        hasLastVersion: hasLastVersion ?? false,
                    })) }}

                </div>
            </div>
        </section>

        <section data-scroll-spy-target="section"
                 class="{{ section_card_class }}"
                 id="admission">
            {{ include('communs/_header_show.html.twig', {
                title: 'Admission',
                icon: 'ph:user-check-light',
                color: 'indigo'
            }) }}
            <div>
                {{ include('typeDiplome/licence/affiche/_admission.html.twig', {parcours:formation.parcours[0]}) }}
            </div>
        </section>

        <section data-scroll-spy-target="section"
                 class="{{ section_card_class }}"
                 id="inscription}">
            {{ include('communs/_header_show.html.twig', {
                title: 'Inscription',
                icon: 'ph:pen-light',
                color: 'indigo'
            }) }}

            <div>
                {{ include('typeDiplome/licence/affiche/_inscription.html.twig', {parcours:formation.parcours[0]}) }}
            </div>
        </section>

        <section data-scroll-spy-target="section"
                 class="{{ section_card_class }}"
                 id="et_apres">
            {{ include('communs/_header_show.html.twig', {
                title: 'Et après...',
                icon: 'ph:briefcase-light',
                color: 'indigo'
            }) }}
            <div>
                {{ include('typeDiplome/formation/_etApres.html.twig', {parcours:formation.parcours[0]}) }}
            </div>
        </section>

        <section data-scroll-spy-target="section"
                 class="{{ section_card_class }}"
                 id="contacts">
            {{ include('communs/_header_show.html.twig', {
                title: 'Contacts pédagogiques',
                icon: 'ph:address-book-light',
                color: 'indigo'
            }) }}
            <div>
                {{ include('typeDiplome/formation/_contacts.html.twig', {parcours:formation.parcours[0]}) }}
            </div>
        </section>
    {% else %}
        {% for parcours in formation.parcours %}
            {% set colors = ['amber', 'indigo', 'red', 'green', 'teal'] %}
            {% set color = cycle(colors, loop.index0) %}
            {% set title_color_map = {
                'indigo': 'app-parcours-title--indigo',
                'amber': 'app-parcours-title--amber',
                'red': 'app-parcours-title--red',
                'green': 'app-parcours-title--green',
                'teal': 'app-parcours-title--teal'
            } %}
            {% set title_color_class = title_color_map[color]|default('app-parcours-title--indigo') %}
            <h3 class="app-parcours-title {{ title_color_class }}">
                Parcours {{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}</h3>


            <section data-scroll-spy-target="section"
                     class="{{ section_card_class }}"
                     id="presentation_{{ parcours.id }}">
                {{ include('communs/_header_show.html.twig', {
                    title: 'Présentation du parcours ' ~ parcours.libelle,
                    icon: 'ph:book-open-text-thin',
                    color: color
                }) }}
                <div>
                    {{ include('typeDiplome/licence/affiche/_presentationParcours.html.twig', {parcours:parcours}) }}
                </div>
            </section>

            <section data-scroll-spy-target="section"
                     class="{{ section_card_class }}"
                     id="descriptif_{{ parcours.id }}">
                {{ include('communs/_header_show.html.twig', {
                    title: 'Descriptif du parcours ' ~ parcours.libelle,
                    icon: 'ph:book-open-text-thin',
                    color: color
                }) }}
                <div>
                    {{ include('typeDiplome/licence/affiche/_descriptifParcours.html.twig', {parcours:parcours}) }}
                </div>
            </section>

            <section data-scroll-spy-target="section"
                     class="{{ section_card_class }}"
                     id="localisation_{{ parcours.id }}">
                {{ include('communs/_header_show.html.twig', {
                    title: 'Localisation du parcours ' ~ parcours.libelle,
                    icon: 'ph:map-pin-area-light',
                    color: color
                }) }}
                <div>
                    {{ include('typeDiplome/licence/affiche/_localisationParcours.html.twig', {parcours:parcours}) }}

                </div>
            </section>

            <section data-scroll-spy-target="section"
                     class="{{ section_card_class }}"
                     id="competences_{{ parcours.id }}">
                {{ include('communs/_header_show.html.twig', {
                    title: 'Compétences Acquises du parcours ' ~ parcours.libelle,
                    icon: 'ph:map-pin-area-light',
                    color: color
                }) }}
                <div>
                    {{ include('typeDiplome/licence/affiche/_competences.html.twig', {parcours:parcours}) }}
                </div>
            </section>

            {% if isVersioning is not defined or isVersioning == false %}
                <section data-scroll-spy-target="section"
                         class="{{ section_card_class }}"
                         id="structure_{{ parcours.id }}">
                    {{ include('communs/_header_show.html.twig', {
                        title: 'Structure du parcours ' ~ parcours.libelle,
                        icon: 'ph:map-trifold-thin',
                        color: color
                    }) }}

                    <div>
                        {{ render(controller('App\\Controller\\StructureShowController::parcoursShow', {
                            parcours: parcours.id,
                            hasLastVersion: hasLastVersion ?? false,
                        })) }}
                    </div>
                </section>
            {% else %}
                {# Visionnage d'une version #}
                <section data-scroll-spy-target="section"
                         class="{{ section_card_class }}"
                         id="structure_{{ parcours.id }}">
                    {{ include('communs/_header_show.html.twig', {
                        title: 'Structure du parcours ' ~ parcours.libelle,
                        icon: 'ph:map-trifold-thin',
                        color: color
                    }) }}
                    <div>
                        {{ include('typeDiplome/' ~ constant('TEMPLATE_FOLDER', typeD) ~ '/structure/_structure.html.twig',
                            {
                                parcours: parcours,
                                dto: dto,
                                hasLastVersion: false,
                                diffStructure: null
                            }
                        ) }}
                    </div>
                </section>
            {% endif %}
            <section data-scroll-spy-target="section"
                     class="{{ section_card_class }}"
                     id="admission_{{ parcours.id }}">
                {{ include('communs/_header_show.html.twig', {
                    title: 'Admission du parcours ' ~ parcours.libelle,
                    icon: 'ph:user-check-light',
                    color: color
                }) }}
                <div>
                    {{ include('typeDiplome/licence/affiche/_admission.html.twig', {parcours:parcours}) }}
                </div>
            </section>

            <section data-scroll-spy-target="section"
                     class="{{ section_card_class }}"
                     id="inscription_{{ parcours.id }}">
                {{ include('communs/_header_show.html.twig', {
                    title: 'Inscription du parcours ' ~ parcours.libelle,
                    icon: 'ph:pen-light',
                    color: color
                }) }}

                <div>
                    {{ include('typeDiplome/licence/affiche/_inscription.html.twig', {parcours:parcours}) }}
                </div>
            </section>

            <section data-scroll-spy-target="section"
                     class="{{ section_card_class }}"
                     id="et_apres_{{ parcours.id }}">
                {{ include('communs/_header_show.html.twig', {
                    title: 'Et après...',
                    icon: 'ph:briefcase-light',
                    color: color
                }) }}
                <div>
                    {{ include('typeDiplome/formation/_etApres.html.twig', {parcours:parcours}) }}
                </div>
            </section>

            <section data-scroll-spy-target="section"
                     class="{{ section_card_class }}"
                     id="contacts_{{ parcours.id }}">
                {{ include('communs/_header_show.html.twig', {
                    title: 'Contacts pédagogiques',
                    icon: 'ph:address-book-light',
                    color: color
                }) }}
                <div>
                    {{ include('typeDiplome/formation/_contacts.html.twig', {parcours:parcours}) }}
                </div>
            </section>
        {% endfor %}
    {% endif %}
</div>
