<div class="card"
        {{ stimulus_controller('parcours--ec', {
            urlUpdate: path('app_parcours_ec_update',{parcours: parcours.id}),
        }) }}
>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <tbody>
            {% for ordre, semestre in dto.semestres|filter(semestre => (semestre.semestre.nonDispense == false)) %}
                <tr>
                    <th colspan="7" class="text-center font-weight-bold">
                        {{ semestre.semestreParcours.display }} {% if semestre.raccroche == true %}<i
                                class="fa fa-link"></i>{% endif %}
                    </th>
                </tr>
                {% if semestre.semestreParcours.isOuvert == false %}
                    <tr>
                        <th colspan="7" class="text-center bg-warning">
                            {{ semestre.semestreParcours.display }} non ouvert !
                        </th>
                    </tr>
                {% endif %}


                {% for ue in semestre.ues %}
                    {{ include('typeDiplome/licence/liste-ec/_ue.html.twig', {isSemestreRaccroche: semestre.raccroche}) }}
                    {% for uee in ue.uesEnfants %}
                        {{ include('typeDiplome/licence/liste-ec/_ue.html.twig', {ue:uee, isSemestreRaccroche: semestre.raccroche}) }}
                    {% endfor %}
                {% endfor %}

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
