{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour {{ parcours.getRespParcours.display }}
        , {% if parcours.getCoResponsable != null %}{{ parcours.getCoResponsable.display }}, {% endif %}</p>

    <p>Le responsable de formation a émis une ou des réserve(s) ont été émises sur votre parcours <strong>{{ parcours.libelle }}</strong> de la formation <strong>{{ formation.displayLong }}</strong>.</p>

    <p>Détail des réserves :</p>

    <p>{{ motif|raw }}</p>

    <p>Vous pouvez modifier votre parcours en cliquant sur le lien suivant :</p>

    <p>
        <a href="{{ url('app_parcours_edit', {'id': parcours.id}) }}">{{ url('app_parcours_edit', {'id': parcours.id}) }}</a>
    </p>

{% endblock %}
