<div {{ stimulus_controller('fichematiere--step2', {
    url: path('app_fiche_matiere_save', {ficheMatiere:ficheMatiere.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.description) }}
    <div class="row mb-2">
        <div class="col-6">
            {{ form_row(form.langueDispense) }}
            <a
                    href="#"
                    {{ stimulus_controller('modal', {
                        size: 'lg',
                        modalTitle: 'Ajouter une langue',
                        nomEvenement: 'refreshStep',
                        modalUrl: path('app_langue_new') }) }}
                    data-action="click->modal#openModal"
                    data-size="lg"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Ajouter une langue"
            >
                <i class="{{ iconAdd }}"></i>
                <span> Ajouter une langue manquante</span>
            </a>
        </div>
        <div class="col-6">
            {{ form_row(form.langueSupport) }}
            <a
                    href="#"
                    {{ stimulus_controller('modal', {
                        size: 'lg',
                        modalTitle: 'Ajouter une langue',
                        nomEvenement: 'refreshStep',
                        modalUrl: path('app_langue_new') }) }}
                    data-action="click->modal#openModal"
                    data-size="lg"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Ajouter une langue"
            >
                <i class="{{ iconAdd }}"></i>
                <span> Ajouter une langue manquante</span>
            </a>
        </div>
    </div>


    {{ form_end(form) }}

    <div class="alert {% if ficheMatiere.getEtatStep(2) %}alert-success{% else %}alert-warning{% endif %}" id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if ficheMatiere.getEtatStep(2) %}checked{% endif %}
                {{ stimulus_action('fichematiere--step2', 'etatStep', 'change') }}

        ><label for="etatStructure">
            Cochez cette case si vous avez terminé ...</label>
    </div>
</div>
