<div {{ stimulus_controller('fichematiere--step1', {
    url: path('app_fiche_matiere_save', {ficheMatiere:ficheMatiere.id}),
    urlMutualise: path('app_fiche_matiere_wizard_step_1_mutualise', {ficheMatiere:ficheMatiere.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}

    {{ form_row(form.responsableFicheMatiere) }}
    {{ form_row(form.libelle) }}
    {{ form_row(form.libelleAnglais) }}
    {{ form_row(form.enseignementMutualise) }}
    <div style="{% if ficheMatiere.enseignementMutualise == false %}display:none{% endif %}" id="coursMutualises">
        <div class="row">
            <div class="col-6">
                {{ form_row(form.isCmPresentielMutualise) }}
                {{ form_row(form.isTdPresentielMutualise) }}
                {{ form_row(form.isTpPresentielMutualise) }}
            </div>
            <div class="col-6">
                {{ form_row(form.isCmDistancielMutualise) }}
                {{ form_row(form.isTdDistancielMutualise) }}
                {{ form_row(form.isTpDistancielMutualise) }}
            </div>
        </div>

        <div class="col-form-label required">
            {{ 'fiche_matiere_step1.labels.previserMutualisation'|trans({}, 'form') }}
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'fiche_matiere_step1.helps.preciserMutualisation.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'fiche_matiere_step1.helps.preciserMutualisation.help'|trans({}, 'help') }}"></i>
        </div>

        <div class="row" {{ stimulus_target('fichematiere--step1','zoneMutualise') }}
             data-action="fichematiere--mutualise:refreshListe@window->ec--step1#refreshListe"
        >

        </div>
    </div>

    <div class="alert {% if ficheMatiere.getEtatStep(1) %}alert-success{% else %}alert-warning{% endif %}" id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if ficheMatiere.getEtatStep(1) %}checked{% endif %}
                {{ stimulus_action('fichematiere--step1', 'etatStep', 'change') }}

        ><label for="etatStructure">
            Cochez cette case si vous avez terminé ...</label>
    </div>
</div>
