{{ component('alerte', {
    type: 'warning',
    message: ('change_rf.reserve.alerte')|trans({}, 'process')|nl2br|raw
}) }}

<form action="{{ path('app_validation_change_rf_reserver', {etape: etape, transition: transition, demande: demande.id}) }}"
      method="post">
    {% if meta.hasDate is defined and meta.hasDate == true %}
        <div>
            <label for="date" class="form-label">{{ ('reserve.change_rf.date.label')|trans({}, 'process') }}
                <span class="required"></span>
                <i class="fal fa-question-circle ms-1"
                   data-controller="tooltip"
                   data-tooltip-placement-value="bottom"
                   aria-label="{{ ('reserve.change_rf.helps.date.help')|trans({}, 'process') }}"
                   data-bs-original-title="{{ ('reserve.change_rf.helps.date.help')|trans({}, 'process') }}"></i></label>
            <input type="date" name="date"
                   class="form-control"
                   id="date"
                   value="{{ 'now'|date('Y-m-d') }}">
        </div>
    {% endif %}

    <div>
        <label for="argumentaire" class="form-label">{{ ('reserve.change_rf.argumentaire.label')|trans({}, 'process') }}
            <span class="required"></span>
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ ('reserve.change_rf.helps.argumentaire.help')|trans({}, 'process') }}"
               data-bs-original-title="{{ ('reserve.change_rf.helps.argumentaire.help')|trans({}, 'process') }}"></i></label>
        <textarea name="argumentaire"
                  class="form-control"
                  required
                  id="argumentaire"
                  rows="5"></textarea>
    </div>

    <div class="mt-2">
        <button type="submit" class="btn btn-success"
                {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
                data-action="live#emit"
                data-event="reserve">
            <i class="fal fa-floppy-disk"></i>
            {{ ('btn.changeRf.'~process.label~'.reserve')|trans({}, 'process') }}
        </button>
    </div>
</form>

