{% extends 'base.html.twig' %}

{% block content %}
    {{ component('DataTable', { config: table }) }}
{% endblock %}

{% set header_title %}
    Demandes de changement de responsable de formation
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {title: 'Conseils'},
        {title: 'Demandes de changement de responsable de formation'}
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_formation_responsable_liste_export') }}"
       class="inline-flex items-center gap-2 rounded-md border border-cyan-300 bg-cyan-50 px-3 py-2 text-sm font-medium text-cyan-700 transition hover:bg-cyan-100 hover:text-cyan-800"
            {{ stimulus_controller('tooltip', {
                placement: 'bottom',
                customClass: 'app-tooltip',
                title: 'Exporter les données en PDF'
            }) }}
    >
        {{ ux_icon('icon:download', {class: 'h-4 w-4'}) }}
        <span> Exporter les données en PDF</span>
    </a>

{% endblock %}
