<table class="table table-striped">
    <thead>
    <tr>
        <td {% if constant('SOURCE', typeDiplome) == 'meef' %}colspan="2"{% endif %}>Libellé du parcours</td>
        <td>Responsable du parcours</td>
        <td>Co Responsable du parcours</td>
        <td>Remplissage</td>
        <td>Etat</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for parcour in parcours|filter(parcour => parcour.parcoursParent == null) %}
        <tr>
            <td {% if constant('SOURCE', typeDiplome) == 'meef' %}colspan="2"{% endif %}>
                {{ parcour.libelle }} {{ parcour.typeParcours|badgeTypeParcours }}
            </td>
            <td>
                {{ parcour.respParcours != null ? parcour.respParcours.display : 'Non défini' }}
            </td>
            <td>
                {{ parcour.coResponsable != null ? parcour.coResponsable.display : 'Non défini' }}
            </td>
            <td style="width:20%">
                {{ parcour.remplissage|remplissage }}
            </td>
            <td>
                {{ parcour.etatDpeParcours|badgeDpe }} {{ parcours.withCfvu is defined and parcours.withCfvu == true ? '<span class="badge bg-warning">CFVU</span>' : '' }}
            </td>
            <td class="text-end">
                {% if not('non_ouverture' in parcour.etatDpeParcours|keys or 'non_ouverture_cfvu' in parcour.etatDpeParcours|keys or 'non_ouverture_ses' in parcour.etatDpeParcours|keys) %}
                    {#                    <button #}
                    {#                            {{ stimulus_controller('modal', { #}
                    {#                                size: 'lg', #}
                    {#                                nomEvenement: 'parcoursAdded', #}
                    {#                                modalTitle: 'Modifier un parcours', #}
                    {#                                modalUrl: path('app_parcours_edit_modal', {parcours:parcour.id}) }) }} #}
                    {#                            data-action="click->modal#openModal" #}
                    {#                            class="btn btn-sm text-warning btn-icon" #}
                    {#                            data-size="lg" #}
                    {#                            data-bs-toggle="tooltip" #}
                    {#                            data-bs-placement="bottom" #}
                    {#                            title="Modifier un parcours" #}
                    {#                    > #}
                    {#                        <i class="{{ iconEdit }}"></i> #}
                    {#                        <span> Modifier le libellé/Responsable du parcours</span> #}
                    {#                    </button> #}
                    {% if constant('SOURCE', typeDiplome) != 'meef' %}
                        <a href="{{ path('app_parcours_edit', {id:parcour.id}) }}"
                           class="btn btn-sm text-warning btn-icon"
                           target="_blank"
                        >
                            <i class="{{ iconEdit }}"></i>
                            Editer la fiche du parcours
                        </a>
                    {% endif %}
                    <a href="#"
                       class="btn btn-sm text-success"
                            {{ stimulus_controller('modal', {
                                size: 'lg',
                                modalTitle: 'Vérifier la saisie',
                                modalUrl: path('app_parcours_state', {parcours:parcour.id}) }) }}
                       data-action="click->modal#openModal"
                       data-size="lg"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       title="Vérifier la saisie"
                    >
                        <i class="fal fa-binoculars"></i>
                        <span> vérifier</span>
                    </a><br>

                    {#                    <button #}
                    {#                            {{ stimulus_controller('modal', { #}
                    {#                                size: 'lg', #}
                    {#                                modalTitle: 'Dupliquer le parcours ' ~ parcour.display, #}
                    {#                                modalUrl: path('app_parcours_dupliquer_modal', {'id': parcour.id}) }) }} #}
                    {#                            data-action="click->modal#openModal" #}
                    {#                            class="btn btn-sm text-primary" #}
                    {#                            data-size="lg" #}
                    {#                            data-bs-toggle="tooltip" #}
                    {#                            data-bs-placement="bottom" #}
                    {#                            title="Dupliquer le parcours {{ parcour.display }}" #}
                    {#                    > #}
                    {#                        <i class="{{ iconDuplicate }}"></i> Dupliquer #}
                    {#                    </button> #}


                    {#                    <button {{ stimulus_action('formation--step3', 'deleteParcours', 'click', { #}
                    {#                        url:path('app_parcours_delete',{'id': parcour.id}), #}
                    {#                        id: parcour.id, #}
                    {#                        csrf: csrf_token('delete' ~ parcour.id) #}
                    {#                    }) }} class="btn btn-sm text-danger"> #}
                    {#                        <i class="{{ iconDelete }}"></i> Supprimer #}
                    {#                    </button> #}

                    <button
                            {{ stimulus_controller('modal', {
                                size: 'lg',
                                modalTitle: 'Demande de non ouverture du parcours ' ~ parcour.display ~ ' pour ' ~ user_data.campagneCollecte.libelle,
                                modalUrl: path('app_validation_demande_non_ouverture', {parcours: parcour.id}) }) }}
                            data-action="click->modal#openModal"
                            class="btn btn-sm text-danger"
                            data-size="lg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Demande de non ouverture du parcours {{ parcour.display }} pour {{ user_data.campagneCollecte.libelle }}"
                    >
                        <i class="fas fa-close"></i> Demande de non ouverture du parcours
                        pour {{ user_data.campagneCollecte.libelle }}
                    </button>
                {% else %}
                    {% if 'non_ouverture' in parcour.etatDpeParcours|keys %}
                        <span class="text-info">Parcours non ouvert pour {{ user_data.campagneCollecte.libelle }}</span>
                    {% else %}
                        <span class="text-warning">Demande de non ouverture en cours</span>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% if constant('SOURCE', typeDiplome) == 'meef' %}
            {% for parc in parcour.parcoursEnfants %}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        {{ parc.libelle }}
                    </td>
                    <td>
                        {{ parc.respParcours != null ? parc.respParcours.display : 'Non défini' }}
                    </td>
                    <td>
                        {{ parc.coResponsable != null ? parc.coResponsable.display : 'Non défini' }}
                    </td>
                    <td style="width:20%">
                        {{ parc.remplissage|remplissage }}
                    </td>
                    <td class="text-end">
                        <button
                                {{ stimulus_controller('modal', {
                                    size: 'lg',
                                    nomEvenement: 'parcoursAdded',
                                    modalTitle: 'Modifier une option',
                                    modalUrl: path('app_parcours_edit_modal', {parcours:parc.id}) }) }}
                                data-action="click->modal#openModal"
                                class="btn btn-sm text-warning btn-icon"
                                data-size="lg"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Modifier une option"
                        >
                            <i class="{{ iconEdit }}"></i>
                            <span> Modifier le libellé/Responsable de l'option</span>
                        </button>
                        <a href="{{ path('app_parcours_edit', {id:parc.id}) }}"
                           class="btn btn-sm text-warning btn-icon"
                        >
                            <i class="{{ iconEdit }}"></i>
                            Editer la fiche de l'option
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <button {{ stimulus_action('formation--step3', 'dupliquerParcours', 'click', {
                                url:path('app_parcours_dupliquer',{'id': parc.id}),
                                id: parc.id}) }} class="btn btn-sm text-primary">
                                <i class="{{ iconDuplicate }}"></i> Dupliquer
                            </button>

                            <button {{ stimulus_action('formation--step3', 'deleteParcours', 'click', {
                                url:path('app_parcours_delete',{'id': parc.id}),
                                id: parc.id,
                                csrf: csrf_token('delete' ~ parc.id)
                            }) }} class="btn btn-sm text-danger">
                                <i class="{{ iconDelete }}"></i> Supprimer
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="6" class="text-center bg-warning">Aucune option pour ce parcours.</td>
                </tr>
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td colspan="6">
                    <button
                            {{ stimulus_controller('modal', {
                                size: 'lg',
                                nomEvenement: 'parcoursAdded',
                                modalTitle: 'Ajouter une option au parcours ' ~ parcour.display,
                                modalUrl: path('app_parcours_new', {formation:formation.id, parent:parcour.id}) }) }}
                            data-action="click->modal#openModal"
                            class="btn btn-sm btn-outline-success btn-icon btn-icon-end"
                            data-size="lg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Ajouter une option au parcours {{ parcour.display }}"
                    >
                        <i class="{{ iconAdd }}"></i>
                        <span> Ajouter une option au parcours <strong>{{ parcour.display }}</strong></span>
                    </button>
                </td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="{% if constant('SOURCE', typeDiplome) == 'meef' %}7{% else %}6{% endif %}"
                class="text-center bg-warning">Aucun parcours, veuillez en ajouter au moins un.
            </td>
        </tr>
    {% endfor %}
    {#    <tr> #}
    {#        <td colspan="{% if constant('SOURCE', typeDiplome) == 'meef' %}7{% else %}6{% endif %}"> #}
    {#            <button #}
    {#                    {{ stimulus_controller('modal', { #}
    {#                        size: 'lg', #}
    {#                        nomEvenement: 'parcoursAdded', #}
    {#                        modalTitle: 'Ajouter un parcours', #}
    {#                        modalUrl: path('app_parcours_new', {formation:formation.id}) }) }} #}
    {#                    data-action="click->modal#openModal" #}
    {#                    class="btn btn-sm btn-outline-success btn-icon btn-icon-end" #}
    {#                    data-size="lg" #}
    {#                    data-bs-toggle="tooltip" #}
    {#                    data-bs-placement="bottom" #}
    {#                    title="Ajouter un parcours" #}
    {#            > #}
    {#                <i class="{{ iconAdd }}"></i> #}
    {#                <span> Ajouter un parcours</span> #}
    {#            </button> #}
    {#        </td> #}
    {#    </tr> #}
    </tbody>
</table>
