<table class="table table-striped">
    <thead>
    <tr>
        <td>Libellé du parcours</td>
        <td>Sigle</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for parcour in parcours %}
        <tr>
            <td>
                {{ parcour.libelle }}
            </td>
            <td>{{ parcour.sigle }}</td>
            <td class="text-end">
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Ajouter un parcours',
                            modalUrl: path('app_parcours_edit_modal', {parcours:parcour.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-warning btn-icon"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Modifier un parcours"
                >
                    <i class="{{ iconEdit }}"></i>
                    <span> Modifier</span>
                </button>

                <button {{ stimulus_action('formation--step3', 'deleteParcours', 'click', {
                    url:path('app_parcours_delete',{'id': parcour.id}),
                    id: parcour.id,
                    csrf: csrf_token('delete' ~ parcour.id)
                }) }} class="btn btn-sm text-danger">
                    <i class="{{ iconDelete }}"></i> Supprimer
                </button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3" class="text-center bg-warning">Aucun parcours, veuillez en ajouter au moins un.</td>
        </tr>
    {% endfor %}
    <tr>
       <td colspan="3">
           <button
                   {{ stimulus_controller('modal', {
                       size: 'lg',
                       nomEvenement: 'parcoursAdded',
                       modalTitle: 'Ajouter un parcours',
                       modalUrl: path('app_parcours_new', {formation:formation.id}) }) }}
                   data-action="click->modal#openModal"
                   class="btn btn-sm btn-outline-success btn-icon btn-icon-end"
                   data-size="lg"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="Ajouter un parcours"
           >
               <i class="{{ iconAdd }}"></i>
               <span> Ajouter un parcours</span>
           </button>
       </td>
    </tr>
    </tbody>
</table>
