<turbo-frame id="tab-content">
    {{ include('formation_v2/tabs/_header.html.twig', {tabKey: 'presentation'}) }}

    <div class="flex-1 overflow-y-auto mt-4 custom-scrollbar">
        {% form_theme form 'communs/form_theme_v2.html.twig' %}
        {{ form_start(form, {
            attr: {
                id: 'tab_form_structure',
                'data-controller': 'autosave',
                'data-autosave-url-value': path('formation_v2_tab_autosave', { id: formation.id, tabKey: 'presentation' }),
                'data-action': 'change->autosave#queue'
            }
        }) }}

        {{ form_errors(form) }}
        {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>
</turbo-frame>
