<div class="row">
    <div class="col-4">
        <strong>{{ ep|trans({}, 'but') }}</strong>
    </div>
    <div class="col-4">
        <label for="pourcentage_{{ prefix }}_{{ ep }}">
            Pourcentage
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'mccc_but.helps.pourcentage.help'|trans({}, 'but') }}"
               data-bs-original-title="{{ 'mccc_but.helps.pourcentage.help'|trans({}, 'but') }}"></i>
        </label>
        <div class="input-group">
            <input
                    max="100"
                    min="0"
                    step="0.1"
                    type="number"
                    {{ stimulus_action('mccc--but', 'changePourcentage', 'change') }}
                    class="form-control pourcentage"
                    id="pourcentage_{{ prefix }}_{{ ep }}"
                    name="pourcentage_{{ prefix }}_{{ ep }}"
                    value="{% if mcccs[prefix ~ '_' ~ ep] is defined %}{{ mcccs[prefix ~ '_' ~ ep].pourcentage }}{% endif %}"
            >
            <span class="input-group-text">%</span>
        </div>
    </div>
    <div class="col-4">
        <label for="nombre_{{ prefix }}_{{ ep }}">
            Nombre de notes
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'mccc_but.helps.nombre.help'|trans({}, 'but') }}"
               data-bs-original-title="{{ 'mccc_but.helps.nombre.help'|trans({}, 'but') }}"></i>
        </label>
        <input type="number" class="form-control"
               step="1"
               min="0"
               id="nombre_{{ prefix }}_{{ ep }}"
               name="nombre_{{ prefix }}_{{ ep }}"
               value="{% if mcccs[prefix ~ '_' ~ ep] is defined %}{{ mcccs[prefix ~ '_' ~ ep].nbEpreuves }}{% endif %}">
    </div>
</div>
