<table class="table">
    <thead>
    <tr>
        <th>

                Code Semestre
                {{ displaySort('mention', sort, direction) }}
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'formation',
                        'direction': getDirection('formation', sort, direction)
                    }) }}
            >
                Formation porteuse
                {{ displaySort('formation', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'mention',
                        'direction': getDirection('mention', sort, direction)
                    }) }}
            >
                Composante
                {{ displaySort('mention', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'mention',
                        'direction': getDirection('mention', sort, direction)
                    }) }}
            >
                Mention/spécialité
                {{ displaySort('mention', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'mention',
                        'direction': getDirection('mention', sort, direction)
                    }) }}
            >
                Parcours
                {{ displaySort('mention', sort, direction) }}
            </a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for semestre in semestres %}
        <tr>
            <td>{{ semestre.semestre != null ? semestre.semestre.display : '' }}</td>
            <td>{{ semestre.semestre != null and semestre.semestre.semestreParcours[0] is defined and semestre.semestre.semestreParcours[0].parcours != null and semestre.semestre.semestreParcours[0].parcours.formation != null ? semestre.semestre.semestreParcours[0].parcours.formation.display }}</td>
            {% if semestre.parcours != null and semestre.parcours.formation != null %}
            <td>{{ semestre.parcours.formation.composantePorteuse.libelle }}</td>
            <td>{{ semestre.parcours.formation.display }}</td>
            <td>{{ semestre.parcours.libelle }}</td>
            {% else %}
            <td>Pas de parcours</td>
            <td>Pas de parcours</td>
            <td>Pas de parcours</td>
            {% endif %}
            <td>Voir ?</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
