<table class="table">
    <thead>
    <tr>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'formation',
                        'direction': getDirection('formation', sort, direction)
                    }) }}
            >
                Formation porteuse
                {{ displaySort('formation', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'typeUe',
                        'direction': getDirection('typeUe', sort, direction)
                    }) }}
            >
                Type UE
                {{ displaySort('typeUe', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'composante',
                        'direction': getDirection('composante', sort, direction)
                    }) }}
            >
                Composante
                {{ displaySort('composante', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'mention',
                        'direction': getDirection('mention', sort, direction)
                    }) }}
            >
                Mention/spécialité
                {{ displaySort('mention', sort, direction) }}
            </a>

        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'parcours',
                        'direction': getDirection('parcours', sort, direction)
                    }) }}
            >
                Parcours
                {{ displaySort('parcours', sort, direction) }}
            </a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for ue in ues %}
        <tr>
            <td>
                {% if ue.parcours != null and ue.ue.semestre.semestreParcours[0] is defined %}
                    {{ ue.ue.semestre.semestreParcours[0].parcours.formation.display }}
                {% else %}
                    Pas de formation
                {% endif %}
            </td>
            <td>{{ ue.ue.typeUe != null ? ue.ue.typeUe.libelle : 'Non défini' }}</td>
            <td>{{ ue.parcours != null ? ue.parcours.formation.composantePorteuse.libelle : 'Pas de formation' }}</td>
            <td>{{ ue.parcours != null ? ue.parcours.formation.display : 'Pas de formation' }}</td>
            <td>{{ ue.parcours != null ? ue.parcours.libelle : 'Pas de formation' }}</td>
            <td>Voir ?</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
