<table class="table">
    <thead>
    <tr>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'libelle',
                        'direction': getDirection('libelle', sort, direction)
                    }) }}
            >
                Libellé
                {{ displaySort('libelle', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'mention',
                        'direction': getDirection('mention', sort, direction)
                    }) }}
            >
                Formation porteuse
                {{ displaySort('mention', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'composante',
                        'direction': getDirection('composante', sort, direction)
                    }) }}
            >
                Composante
                {{ displaySort('composante', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'mentionmutualisable',
                        'direction': getDirection('mentionmutualisable', sort, direction)
                    }) }}
            >
                Mention/spécialité
                {{ displaySort('mentionmutualisable', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'parcours',
                        'direction': getDirection('parcours', sort, direction)
                    }) }}
            >
                Parcours
                {{ displaySort('parcours', sort, direction) }}
            </a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for fiche in fiches %}
        <tr>
            <td>{{ fiche.ficheMatiere.libelle }}</td>
            {% if fiche.ficheMatiere != null and fiche.ficheMatiere.parcours != null %}
                <td>{{ fiche.ficheMatiere.parcours.formation.display }}</td>
            {% else %}
                <td>Pas de parcours associé</td>
            {% endif %}
            {% if fiche.parcours != null and fiche.parcours.formation != null and fiche.parcours.formation.composantePorteuse != null %}
                <td>{{ fiche.parcours.formation.composantePorteuse.libelle }}</td>
                <td>{{ fiche.parcours.formation.display }}</td>
                <td>{{ fiche.parcours.libelle }}</td>
            {% else %}
                <td>Pas de parcours associé</td>
                <td>Pas de parcours associé</td>
                <td>Pas de parcours associé</td>
            {% endif %}
            <td>
                <a
                        href="{{ path('app_fiche_matiere_show',{'id': fiche.id}) }}"
                        class="btn btn-sm text-info"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Voir une fiche EC/matière"
                        target="_blank"
                >
                    <i class="{{ iconShow }}"></i>
                    <span> voir</span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
