<div class="row">
    <div class="col-12 mb-2">
        <section class="scroll-section" id="labels">
            <h2 class="small-title">Ues</h2>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-1 d-flex align-items-center mb-2 text-secondary mb-md-0 text-small">
                            UE
                        </div>
                        <div class="col-12 col-md-3 d-flex align-items-center mb-2 text-secondary mb-md-0 text-small">
                            Type UE
                        </div>
                        <div class="col-12 col-md-3 d-flex align-items-center mb-2 text-secondary mb-md-0 text-small">
                            Obligatoire ?
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center
                        justify-content-end text-secondary text-small">
                            ECTS
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        justify-content-end text-secondary text-small">
                            Détails
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        justify-content-end text-secondary text-small">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            <div>{# class="scroll-out" #}
                {% for ue in ues %}
                    <div {{ stimulus_controller('structure--ue') }}>
                        <div class="card mb-2 sh-19 sh-md-8">
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-12 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">ue</div>
                                        {{ ue.display }}
                                    </div>
                                    <div class="col-12 col-md-3 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">ue</div>
                                        {% if is_granted('ROLE_FORMATION_EDIT_MY', parcours.formation) %}
                                            <label for="detail_ue_{{ ue.id }}" class="sr-only">Type Ue</label>
                                            <select class="form-select form-select-sm" id="detail_ue_{{ ue.id }}"
                                                    {{ stimulus_action('structure--ue', 'changeTypeUe', 'change', {
                                                        url: path('structure_ue_change_type_ue', {ue: ue.id})
                                                    }) }}
                                            >
                                                <option value="">Choisir un type</option>
                                                {% for key, typeUe in typeUes %}
                                                    <option value="{{ typeUe }}"
                                                            {% if ue.typeUe != null and ue.typeUe.id == typeUe %}
                                                                selected
                                                            {% endif %}
                                                    >
                                                        {{ key }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            {{ ue.typeUe != null ? ue.typeUe.libelle : 'erreur' }}
                                            {# todo: gérer le cas autre ? #}
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-3 d-flex flex-column justify-content-center mb-1
                                    mb-md-0">
                                        <div class="text-muted text-small d-md-none">ue</div>
                                        {% if is_granted('ROLE_FORMATION_EDIT_MY', parcours.formation) %}
                                            <label for="detail_ue_obligatoire_{{ ue.id }}" class="sr-only">Obligatoire ?</label>
                                            <select class="form-select form-select-sm ms-2"
                                                    id="detail_ue_obligatoire_{{ ue.id }}"
                                                    {{ stimulus_action('structure--ue', 'changeUeObligatoire',
                                                        'change', {
                                                        url: path('structure_ue_change_ue_obligatoire', {ue: ue.id})
                                                    }) }}
                                            >
                                                <option value="">Choisir</option>
                                                {% for typeEnseignement in typeEnseignements %}
                                                    <option value="{{ typeEnseignement.id }}"
                                                            {% if ue.ueObligatoire != null and ue.ueObligatoire.id == typeEnseignement.id %}
                                                                selected
                                                            {% endif %}
                                                    >
                                                        {{ typeEnseignement.libelle }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            {{ ue.ueObligatoire != null ? ue.ueObligatoire.libelle : 'erreur' }}
                                            {# todo: gérer le cas autre ? #}
                                        {% endif %}
                                    </div>
                                    <div class="col-6 col-md-1 d-flex flex-column justify-content-center
                                    align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">ECTS</div>
                                        {{ ue.totalEctsUe|badgeEctsUe(6) }} {# todo: injecter le type de diplôme pour
                                         avoir le nb ects par UE max #}
                                    </div>

                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center
                                            align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Détails</div>

                                        <button class="btn btn-sm btn-outline-primary"
                                                {{ stimulus_action('structure--ue', 'detail', 'click',
                                                    {ue:ue.id, parcours: parcours.id, url: path
                                                        ('structure_ec_detail_ue', {ue:ue.id, parcours: parcours.id})}
                                                ) }}
                                        >
                                            <i class="fal fa-caret-right"></i> Détails
                                        </button>

                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center
                                            align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Actions</div>
                                        {% if constant('SOURCE',typeDiplome) != constant
                                            ('App\\TypeDiplome\\Source\\LicenceTypeDiplome::SOURCE') or ue.ordre > 5 %}
                                            <button {{ stimulus_action('structure--ue', 'delete', 'click', {
                                                url:path('structure_ue_delete',{'id': ue.id}),
                                                csrf: csrf_token('delete' ~ ue.id)
                                            }) }} class="btn btn-sm text-danger">
                                                <i class="{{ iconDelete }}"></i> Supprimer
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="detail_ue_{{ ue.id }}_{{ parcours.id }}" class="d-none detail_ue ms-4">
                            <div class="row">
                                <div class="col-12" {{ stimulus_target('structure--ue', 'detail') }}
                                     data-action="base:refreshListeEc@window->structure--ue#refreshListeEc"
                                     data-structure--ue-url-param="{{ path('structure_ec_detail_ue', {ue:ue.id,
                                         parcours: parcours.id}) }}"
                                     data-structure--ue-ue-param="{{ ue.id }}"
                                     data-structure--ue-parcours-param="{{ parcours.id }}"

                                ></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="card mb-2 sh-19 sh-md-8">
                    <button
                            {{ stimulus_controller('modal', {
                                size: 'lg',
                                modalTitle: 'Ajouter une UE au semestre',
                                modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id})
                            }) }}
                            data-action="click->modal#openModal"
                            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2 mt-4"
                            data-size="lg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Ajouter une UE"
                    >
                        <i class="{{ iconAdd }}"></i>
                        <span> Ajouter une UE</span>
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>
