<div class="row">
    <div class="col-12 mb-2">
        <section class="scroll-section" id="labels">
            <h2 class="small-title">Ues</h2>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-1 d-flex align-items-center mb-2 text-secondary
                        mb-md-0 text-small justify-content-center">
                            UE
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            ECTS
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Nb. EC
                        </div>
                        <div class="col-12 col-md-2 d-flex align-items-center mb-2 justify-content-center text-secondary mb-md-0 text-small">
                            Type UE
                        </div>
                        <div class="col-12 col-md-2 d-flex align-items-center mb-2 justify-content-center text-secondary mb-md-0 text-small">
                            Nature UE
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Détails
                        </div>
                        <div class="col-6 col-md-4 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            <div>{# class="scroll-out" #}
                {% for ue in ues|filter(ue => ue.ueParent == null) %}
                    {% set raccroche = ue.ueRaccrochee != null %}
                    {% if (raccroche  and ue.ueRaccrochee.ue.ueParent == null) or (not raccroche and ue.ueParent==null) %}
                        <div {{ stimulus_controller('structure--ue', {
                            ue:ue.id,
                            parcours:parcours.id,
                            ueAffichee: ueAffichee,
                            semestreAffiche: semestreAffiche,
                            urlDetail : path('structure_ec_detail_ue', {ue:ue.id,
                                parcours: parcours.id, raccroche: (isSemestreRaccroche or raccroche)}),
                            url: path('api_ects_ue', {ue: ue.id, parcours: parcours.id}),
                        }) }}>
                            <div class="card mb-2 sh-19 sh-md-8">
                                <div class="card-body pt-0 pb-0 h-100 {% if ue.ueParent != null %}border-left-sousUe
                                border-left-sousUe-{{ ue.ueParent.ordre }}{% endif %}">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div class="col-md-1 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">ue</div>
                                            <p class="mt-0 mb-0">
                                                {% if parcours.formation is defined and
                                                    parcours.formation.typediplome.libelleCourt == 'BUT' %}
                                                    {{ ue.display(parcours) }}
                                                {% else %}
                                                    {% if ue.libelle != null %}<abbr
                                                        title="{{ ue.libelle }}">{% endif %}
                                                    {{ ue.display(parcours) }}{% if ue.libelle != null %}</abbr>{% endif %}
                                                {% endif %}

                                                {% if isSemestreRaccroche == true %}
                                                    <i class="fal fa-link"
                                                       data-controller="tooltip"
                                                       data-tooltip-placement-value="bottom"
                                                       title="Ue raccrochée en lien avec le semestre raccroché"></i>
                                                {% elseif raccroche != null %}
                                                    <i class="fal fa-link"
                                                       data-controller="tooltip"
                                                       data-tooltip-placement-value="bottom"
                                                       title="Raccrochée à l'{{ ue.ueRaccrochee.display(parcours) }}"></i>{% endif %}
                                                {% if ue.ueMutualisables|length >0 and isSemestreRaccroche == false %}
                                                    <i class="fal fa-share-nodes"
                                                       data-controller="tooltip"
                                                       data-tooltip-placement-value="bottom"
                                                       title="UE mutualisée"></i>{% endif %}
                                            </p>
                                        </div>
                                        <div class="col-md-1 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">ECTS</div>
                                            {{ component('badge_ects_ue', {
                                                ue: ue,
                                                parcours: parcours,
                                                typeDiplome: typeDiplome
                                            }) }}
                                        </div>
                                        <div class="col-md-1 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">NB. EC</div>
                                            {% if ue.natureUeEc != null and ue.natureUeEc.libre == true %}
                                                <span class="badge bg-info">
                                                    UE Libre
                                                </span>
                                            {% else %}
                                                {% if ue.ueRaccrochee != null %}
                                                    {% if ue.ueRaccrochee.ue != null %}
                                                        {{ ue.ueRaccrochee.ue.nbElementConstitutifs|badgeNb }}
                                                    {% else %}
                                                        {{ 'Erreur UE raccrochée'|badge('danger') }}
                                                    {% endif %}
                                                {% else %}
                                                    {% if ue.ueEnfants|length == 0 %}
                                                        {{ ue.nbElementConstitutifs|badgeNb }}
                                                    {% else %}
                                                        &nbsp;
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-2 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">ue</div>
                                            {% if ue.ueRaccrochee != null %}
                                                {% if ue.ueRaccrochee.ue != null %}
                                                    {{ ue.ueRaccrochee.ue.typeUe != null ? ue.ueRaccrochee.ue.typeUe.libelle|badge('success') : 'Erreur, à compléter'|badge('danger') }}
                                                {% else %}
                                                    {{ 'Erreur UE raccrochée'|badge('danger') }}
                                                {% endif %}
                                            {% else %}
                                                {{ ue.typeUe != null ? ue.typeUe.libelle|badge('success') :
                                                'Erreur, à compléter'|badge('danger') }}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-2 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">ue</div>
                                            {% if ue.ueRaccrochee != null %}
                                                {% if ue.ueRaccrochee.ue != null %}
                                                    {{ ue.ueRaccrochee.ue.natureUeEc != null ? ue.ueRaccrochee.ue.natureUeEc.libelle|badge('success') : 'Erreur, à compléter'|badge('danger') }}
                                                {% else %}
                                                    {{ 'Erreur UE raccrochée'|badge('danger') }}
                                                {% endif %}
                                            {% else %}
                                                {{ ue.natureUeEc != null ? ue.natureUeEc.libelle|badge('success') :
                                                'Erreur, à compléter'|badge('danger') }}
                                            {% endif %}
                                        </div>

                                        <div class="col-md-1 d-flex flex-column justify-content-center">
                                            {% if ue.ueEnfants|length == 0 %}
                                                <div class="text-muted text-small d-md-none">Voir les EC</div>
                                                <button class="btn btn-sm btn-outline-primary"
                                                        id="btn_ue_detail_{{ ue.id }}"
                                                        {{ stimulus_action('structure--ue', 'detail', 'click',
                                                            {ue:ue.id, parcours: parcours.id, url: path
                                                                ('structure_ec_detail_ue', {ue:ue.id, parcours: parcours.id, raccroche: (isSemestreRaccroche or raccroche)})}
                                                        ) }}
                                                >
                                                    <i class="fal fa-caret-right"></i> Voir les EC
                                                </button>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">Actions</div>
                                            <div class="row">
                                                {% if isSemestreRaccroche == true %}
                                                    <div class="col-8 d-flex flex-column justify-content-center">
                                                        <p class="ms-2 mt-2">
                                                            UE non modifiable car incluse dans un semestre raccroché
                                                        </p>
                                                    </div>
                                                {% else %}
                                                    <div class="col-4">
                                                        {% if (ue.ueRaccrochee == null or ue.ueRaccrochee.parcours.id == parcours.id) %}
                                                            <button
                                                                    {{ stimulus_controller('modal', {
                                                                        size: 'lg',
                                                                        modalTitle: 'Modifier l\'' ~ ue.display(parcours),
                                                                        modalUrl: path('structure_ue_edit', {id:ue.id, parcours: parcours
                                                                        .id})
                                                                    }) }}
                                                                    data-action="click->modal#openModal"
                                                                    class="btn btn-sm text-warning me-1"
                                                                    data-size="lg"
                                                                    data-bs-toggle="tooltip"
                                                                    {% if raccroche %}disabled{% endif %}
                                                                    data-bs-placement="bottom"
                                                                    title="Modifier l'{{ ue.display(parcours) }}"
                                                            >
                                                                <i class="{{ iconEdit }}"></i>
                                                                <span> Modifier l'UE</span>
                                                            </button>
                                                        {% else %}
                                                            <p class="ms-1">
                                                                UE modifiable uniquement par le
                                                                parcours {{ ue.ueRaccrochee
                                                                .parcours.libelle }}</p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="text-muted text-small d-md-none">Autres actions
                                                        </div>
                                                        <div class="btn-group d-grid">
                                                            <button class="btn btn-outline-primary btn-sm dropdown-toggle d-block"
                                                                    type="button" id="dropdownMenuClickableInside"
                                                                    data-bs-toggle="dropdown"
                                                                    data-bs-auto-close="outside"
                                                                    aria-expanded="false" title="Autres opérations">
                                                                <i class="fas fa-ellipsis-v"></i> Actions
                                                            </button>
                                                            <ul class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuClickableInside">
                                                                <li>
                                                                    <a
                                                                            href="#"
                                                                            {{ stimulus_controller('modal', {
                                                                                size: 'lg',
                                                                                modalTitle: 'Déplacer l\'' ~ ue.display(parcours),
                                                                                modalUrl:
                                                                                path
                                                                                    ('structure_ue_changer', {parcours:parcours.id, ue: ue.id})
                                                                            }) }}
                                                                            data-action="click->modal#openModal"
                                                                            class="dropdown-item text-secondary"
                                                                            data-size="lg"
                                                                            {% if raccroche %}disabled{% endif %}
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="bottom"
                                                                            title="Déplacer l\'{{ ue.display(parcours) }}"
                                                                    >
                                                                        <i class="fal fa-right-left"></i>
                                                                        <span> Déplacer l'UE</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a
                                                                            href="#"
                                                                            {{ stimulus_controller('modal', {
                                                                                size: 'lg',
                                                                                modalTitle: 'Mutualiser l\'' ~ ue.display(parcours),
                                                                                modalUrl:
                                                                                path
                                                                                    ('structure_ue_mutualiser', {semestre:semestre.id, ue: ue.id})
                                                                            }) }}
                                                                            data-action="click->modal#openModal"
                                                                            class="dropdown-item text-quaternary"
                                                                            data-size="lg"
                                                                            {% if raccroche %}disabled{% endif %}
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="bottom"
                                                                            title="Modifier l\'{{ ue.display(parcours) }}"
                                                                    >
                                                                        <i class="fal fa-share-nodes"></i>
                                                                        <span> Mutualiser l'UE</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a
                                                                            href="#"
                                                                            {{ stimulus_controller('modal', {
                                                                                size: 'lg',
                                                                                modalTitle: 'Raccrocher une UE mutualisé pour l\'' ~
                                                                                ue.display(parcours),
                                                                                modalUrl: path('structure_ue_raccrocher', {ue:ue.id, parcours: parcours.id})
                                                                            }) }}
                                                                            data-action="click->modal#openModal"
                                                                            class="dropdown-item text-quaternary"
                                                                            data-size="lg"
                                                                            data-bs-toggle="tooltip"
                                                                            {% if raccroche %}disabled{% endif %}
                                                                            data-bs-placement="bottom"
                                                                            {#                                                title="Modifier le semestre {{ semestre.semestre.display }}" #}
                                                                    >
                                                                        <i class="fal fa-link"></i>
                                                                        <span> Raccrocher une UE</span>
                                                                    </a>
                                                                </li>
                                                                {% if typeDiplome.nbUeMax != 0 or ue.ordre > typeDiplome.nbUeMax %}
                                                                    <li>
                                                                        <a
                                                                                href="#"
                                                                                {{ stimulus_action('structure--ue', 'delete', 'click', {
                                                                                    url:path('structure_ue_delete',{'id': ue.id}),
                                                                                    csrf: csrf_token('delete' ~ ue.id)
                                                                                }) }}
                                                                                class="dropdown-item text-danger" {% if raccroche %}disabled{% endif %}>
                                                                            <i class="{{ iconDelete }}"></i> Supprimer
                                                                        </a>
                                                                    </li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <div class="col-4 text-end">
                                                    {% if (is_granted('CAN_PARCOURS_EDIT_MY', parcours)) and isSemestreRaccroche == false %} {#  and
                                            (workflow_can(ec,
                                                'valider_parcours') or workflow_can(ec,
                                                'initialiser'))) or (is_granted
                                                ('ROLE_EC_EDIT_MY', ec)) and  workflow_can(ec,
                                                'valider_ec')) #}

                                                        {% if not loop.first %}
                                                            <button class="btn btn-sm btn-outline-info"
                                                                    {% if isSemestreRaccroche %}disabled{% endif %}{# si semestre raccroché on ne peux pas déplacer une UE parent. #}
                                                                    {{ stimulus_action
                                                                        ('structure--ue', 'deplacerUe',
                                                                        'click', {url: path('structure_ue_deplacer',{sens: 'up', ue:ue
                                                                        .id}), ue:ue.id, parcours:parcours.id}) }}>
                                                                <i class="fal fa-circle-up"></i></button>
                                                        {% else %}
                                                            <button class="btn btn-sm btn-outline-info" disabled>
                                                                <i class="fal fa-circle-up"></i>
                                                            </button>
                                                        {% endif %}
                                                        {% if not loop.last %}
                                                            <button class="btn btn-sm btn-outline-info"
                                                                    {% if isSemestreRaccroche %}disabled{% endif %}
                                                                    {{ stimulus_action('structure--ue', 'deplacerUe',
                                                                        'click', {url: path('structure_ue_deplacer',{sens: 'down', ue:ue.id}), ue:ue.id, parcours:parcours.id}) }}>
                                                                <i class="fal
                                            fa-circle-down"></i></button>
                                                        {% else %}
                                                            <button class="btn btn-sm btn-outline-info" disabled>
                                                                <i class="fal fa-circle-down"></i>
                                                            </button>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="detail_ue_{{ ue.id }}_{{ parcours.id }}" class="d-none detail_ue">
                                <div class="row" style="margin-left:1px">
                                    <div class="col-12" {{ stimulus_target('structure--ue', 'detail') }}
                                         data-action="base:refreshListeEc@window->structure--ue#refreshListeEc
                                         ec--liste:refreshListeEc@window->structure--ue#refreshListeEc
                                            ec--manage:modalHide@window->structure--ue#refreshListeEc
                                            "
                                         data-structure--ue-url-param="{{ path('structure_ec_detail_ue', {ue:ue.id,
                                             parcours: parcours.id, raccroche: (isSemestreRaccroche or raccroche)}) }}"
                                         data-structure--ue-ue-param="{{ ue.id }}"
                                         data-structure--ue-parcours-param="{{ parcours.id }}"

                                    ></div>
                                </div>
                            </div>
                        </div>

                        {# UE Enfants #}
                        {% if raccroche and ue.ueRaccrochee.ue != null %}
                            {% set enfants = ue.ueRaccrochee.ue.ueEnfants %}
                        {% else %}
                            {% set enfants = ue.ueEnfants %}
                        {% endif %}
                        {% for uee in enfants %}
                            {% set displayUee = uee.display(parcours) %}
                            {% if uee.ueRaccrochee != null %}
                                {% set raccrocheEnfant = true %}
                                {% set uee = uee.ueRaccrochee.ue %}
                            {% else %}
                                {% set raccrocheEnfant = false %}
                            {% endif %}
                            {% if loop.first and raccroche == false and isSemestreRaccroche == false and raccroche == false %}
                                <div class="text-divider">
                                    <button class="btn text-success btn-sm"
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                modalTitle: 'Ajouter une UE avant l\'' ~displayUee,
                                                modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id, ue: uee.id, sens:'before'})
                                            }) }}
                                            data-action="click->modal#openModal"
                                    >
                                        <i class="{{ iconAdd }}"></i>
                                        Ajouter une UE avant l'<strong>{{ displayUee }}</strong>
                                    </button>
                                </div>
                            {% endif %}
                            <div {{ stimulus_controller('structure--ue', {
                                ue:uee.id,
                                parcours:parcours.id,
                                url: path('api_ects_ue', {ue: uee.id, parcours: parcours.id}),
                            }) }}>
                                <div class="card mb-2 sh-19 sh-md-8">
                                    <div class="card-body pt-0 pb-0 h-100 border-left-sousUe
                                border-left-sousUe-{{ ue.ordre }}">
                                        <div class="row g-0 h-100 align-content-center">
                                            <div class="col-md-1 d-flex flex-column justify-content-center">
                                                <div class="text-muted text-small d-md-none">ue</div>
                                                <p>{% if uee.libelle != null %}
                                                    <abbr title="{{ uee.libelle }}">{% endif %}{{ displayUee }}{% if uee.libelle != null %}</abbr>{% endif %}

                                                    {% if isSemestreRaccroche == true  %}
                                                        <i class="fal fa-link"
                                                           data-controller="tooltip"
                                                           data-tooltip-placement-value="bottom"
                                                           title="Ue raccrochée en lien avec le semestre raccroché"></i>
                                                    {% elseif raccrocheEnfant == true or raccroche == true %}
                                                        <i class="fal fa-link"
                                                           data-controller="tooltip"
                                                           data-tooltip-placement-value="bottom"
                                                           title="Raccrochée à l'{{ uee.display(parcours) }}"></i>
                                                    {% endif %}

                                                    {% if ue.ueMutualisables|length >0 and isSemestreRaccroche == false %}
                                                        <i class="fal fa-share-nodes"
                                                           data-controller="tooltip"
                                                           data-tooltip-placement-value="bottom"
                                                           title="UE mutualisée par son parent"></i>
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-md-1 d-flex flex-column justify-content-center">
                                                <div class="text-muted text-small d-md-none">ECTS</div>
                                                {{ component('badge_ects_ue', {
                                                    ue: uee,
                                                    parcours: parcours,
                                                    typeDiplome: typeDiplome
                                                }) }}
                                            </div>
                                            <div class="col-md-1 d-flex flex-column justify-content-center">
                                                <div class="text-muted text-small d-md-none">NB. EC</div>
                                                {% if uee.natureUeEc != null and uee.natureUeEc.libre == true %}
                                                    <span class="badge bg-info">
                                                        UE Libre</span>
                                                {% else %}
                                                    {{ uee.nbElementConstitutifs|badgeNb }}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2 d-flex flex-column justify-content-center">
                                                <div class="text-muted text-small d-md-none">ue</div>
                                                &nbsp;
                                            </div>
                                            <div class="col-md-2 d-flex flex-column justify-content-center">
                                                <div class="text-muted text-small d-md-none">ue</div>
                                                &nbsp;
                                            </div>

                                            <div class="col-md-1 d-flex flex-column justify-content-center">
                                                <div class="text-muted text-small d-md-none">Voir les EC</div>
                                                {% if uee.ueEnfants|length == 0 %}
                                                    <button class="btn btn-sm btn-outline-primary"
                                                            {{ stimulus_action('structure--ue', 'detail', 'click',
                                                                {ue:uee.id, parcours: parcours.id, url: path
                                                                    ('structure_ec_detail_ue', {
                                                                        ue:uee.id, parcours: parcours.id,
                                                                        raccroche: (isSemestreRaccroche or raccrocheEnfant)})}
                                                            ) }}
                                                    >
                                                        <i class="fal fa-caret-right"></i> Voir les EC
                                                    </button>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-4 d-flex flex-column justify-content-center">
                                                <div class="text-muted text-small d-md-none">Actions</div>
                                                <div class="row">
                                                    {% if isSemestreRaccroche == true %}
                                                        <div class="col-12">
                                                            <p class="ms-2 mt-2">
                                                                UE non modifiable car incluse dans un semestre raccroché
                                                            </p>
                                                        </div>
                                                    {% elseif raccroche == true %}
                                                        <div class="col-12">
                                                            <p class="ms-2 mt-2">
                                                                UE non modifiable car incluse dans une UE raccrochée
                                                            </p>
                                                        </div>
                                                    {% else %}
                                                        <div class="col-4">


                                                            <button
                                                                    {% if raccrocheEnfant == true %}
                                                                        disabled
                                                                        title="UE raccrochée, modifiable uniquement depuis le parcours d'origine"
                                                                    {% else %}
                                                                        {{ stimulus_controller('modal', {
                                                                            size: 'lg',
                                                                            modalTitle: 'Modifier l\'' ~ uee.display(parcours),
                                                                            modalUrl: path('structure_ue_edit', {id:uee.id, parcours: parcours
                                                                            .id})
                                                                        }) }}
                                                                        data-action="click->modal#openModal"
                                                                        title="Modifier l'{{ uee.display(parcours) }}"
                                                                    {% endif %}

                                                                    class="btn btn-sm text-warning me-1"
                                                                    data-size="lg"
                                                                    data-bs-toggle="tooltip"
                                                                    data-bs-placement="bottom"

                                                            >
                                                                <i class="{{ iconEdit }}"></i>
                                                                <span> Modifier l'UE</span>
                                                            </button>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="btn-group d-grid">
                                                                <button class="btn btn-outline-primary btn-sm dropdown-toggle d-block"
                                                                        type="button" id="dropdownMenuClickableInside"
                                                                        data-bs-toggle="dropdown"
                                                                        data-bs-auto-close="outside"
                                                                        aria-expanded="false" title="Autres opérations">
                                                                    <i class="fas fa-ellipsis-v"></i> Actions
                                                                </button>
                                                                <ul class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuClickableInside">
                                                                    <li>
                                                                        <a
                                                                                {% if raccrocheEnfant == true %}
                                                                                    disabled
                                                                                    title="UE raccrochée, modifiable uniquement depuis le parcours d'origine"
                                                                                {% else %}
                                                                                    {{ stimulus_controller('modal', {
                                                                                        size: 'lg',
                                                                                        modalTitle: 'Mutualiser l\'' ~ uee.display(parcours),
                                                                                        modalUrl:
                                                                                        path
                                                                                            ('structure_ue_mutualiser', {semestre:semestre.id, ue: uee.id})
                                                                                    }) }}
                                                                                    data-action="click->modal#openModal"
                                                                                {% endif %}
                                                                                class="btn btn-sm text-quaternary me-1"
                                                                                data-size="lg"
                                                                                data-bs-toggle="tooltip"
                                                                                data-bs-placement="bottom"
                                                                                title="Mutualiser l\'{{ uee.display(parcours) }}"
                                                                        >
                                                                            <i class="fal fa-share-nodes"></i>
                                                                            <span> Mutualiser l'UE</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a
                                                                                {#                                                                            {% if raccrocheEnfant == true %} #}
                                                                                {#                                                                                disabled #}
                                                                                {#                                                                                title="UE raccrochée, modifiable uniquement depuis le parcours d'origine" #}
                                                                                {#                                                                            {% else %} #}
                                                                                {{ stimulus_controller('modal', {
                                                                                    size: 'lg',
                                                                                    modalTitle: 'Raccrocher une UE mutualisé pour l\'' ~
                                                                                    uee.display(parcours),
                                                                                    modalUrl: path('structure_ue_raccrocher', {ue:uee.id, parcours: parcours.id})
                                                                                }) }}
                                                                                data-action="click->modal#openModal"
                                                                                {#                                                                            {% endif %} #}
                                                                                class="btn btn-sm text-quaternary me-1"
                                                                                data-size="lg"
                                                                                data-bs-toggle="tooltip"
                                                                                data-bs-placement="bottom"
                                                                        >
                                                                            <i class="fal fa-down-to-bracket"></i>
                                                                            <span> Raccrocher une UE</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a
                                                                                {#                                                                            {% if raccrocheEnfant == true %} #}
                                                                                {#                                                                                disabled #}
                                                                                {#                                                                                title="UE raccrochée, modifiable uniquement depuis le parcours d'origine" #}
                                                                                {#                                                                            {% else %} #}
                                                                                {{ stimulus_action('structure--ue', 'delete', 'click', {
                                                                                    url:path('structure_ue_delete',{'id': uee.id}),
                                                                                    csrf: csrf_token('delete' ~ uee.id)
                                                                                }) }}
                                                                                {#                                                                            {% endif %} #}
                                                                                class="btn btn-sm text-danger">
                                                                            <i class="{{ iconDelete }}"></i> Supprimer
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-4 text-end">
                                                            {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)) %} {#  and
                                            (workflow_can(ec,
                                                'valider_parcours') or workflow_can(ec,
                                                'initialiser'))) or (is_granted
                                                ('ROLE_EC_EDIT_MY', ec)) and  workflow_can(ec,
                                                'valider_ec')) #}
                                                                {% if not loop.first %}
                                                                    <button class="btn btn-sm btn-outline-info" {{ stimulus_action
                                                                        ('structure--ue', 'deplacerUe',
                                                                        'click', {url: path('structure_ue_deplacer',{sens: 'up', ue:uee
                                                                        .id}), ue:uee.id, parcours:parcours.id}) }}>
                                                                        <i class="fal fa-circle-up"></i></button>
                                                                {% else %}
                                                                    <button class="btn btn-sm btn-outline-info"
                                                                            disabled>
                                                                        <i class="fal fa-circle-up"></i>
                                                                    </button>
                                                                {% endif %}
                                                                {% if not loop.last %}
                                                                    <button class="btn btn-sm btn-outline-info" {{ stimulus_action('structure--ue', 'deplacerUe',
                                                                        'click', {url: path('structure_ue_deplacer',{sens: 'down', ue:uee.id}), ue:uee.id, parcours:parcours.id}) }}>
                                                                        <i class="fal
                                            fa-circle-down"></i></button>
                                                                {% else %}
                                                                    <button class="btn btn-sm btn-outline-info"
                                                                            disabled>
                                                                        <i class="fal fa-circle-down"></i>
                                                                    </button>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detail_ue_{{ uee.id }}_{{ parcours.id }}" class="d-none detail_ue"
                                >
                                    <div class="row" style="margin-left:1px">
                                        <div class="col-12" {{ stimulus_target('structure--ue', 'detail') }}
                                             data-action="base:refreshListeEc@window->structure--ue#refreshListeEc
                                         ec--liste:refreshListeEc@window->structure--ue#refreshListeEc
                                            ec--manage:modalHide@window->structure--ue#refreshListeEc
                                            "
                                             data-structure--ue-url-param="{{ path('structure_ec_detail_ue', {
                                                 ue:uee.id,
                                                 parcours: parcours.id,
                                                 raccroche: (isSemestreRaccroche or raccroche)}) }}"
                                             data-structure--ue-ue-param="{{ uee.id }}"
                                             data-structure--ue-parcours-param="{{ parcours.id }}"

                                        ></div>
                                    </div>
                                </div>


                                {# ----- boucler sur les ue enfants des enfants #}



                                {% for ueee in uee.ueEnfants %}
                                    {% set displayUeee = ueee.display(parcours) %}
                                    {% if ueee.ueRaccrochee != null %}
                                        {% set raccrocheEnfantEnfant = true %}
                                        {% set ueee = ueee.ueRaccrochee.ue %}
                                    {% else %}
                                        {% set raccrocheEnfantEnfant = false %}
                                    {% endif %}
                                    {#                                    {% if loop.first and raccroche == false %} #}
                                    {#                                        <div class="text-divider"> #}
                                    {#                                            <button class="btn text-success btn-sm" #}
                                    {#                                                    {{ stimulus_controller('modal', { #}
                                    {#                                                        size: 'lg', #}
                                    {#                                                        modalTitle: 'Ajouter une UE avant l\'' ~displayUee, #}
                                    {#                                                        modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id, ue: uee.id, sens:'before'}) #}
                                    {#                                                    }) }} #}
                                    {#                                                    data-action="click->modal#openModal" #}
                                    {#                                            > #}
                                    {#                                                <i class="{{ iconAdd }}"></i> #}
                                    {#                                                Ajouter une UE avant l'<strong>{{ displayUee }}</strong> #}
                                    {#                                            </button> #}
                                    {#                                        </div> #}
                                    {#                                    {% endif %} #}
                                    <div {{ stimulus_controller('structure--ue', {
                                        ue:ueee.id,
                                        parcours:parcours.id,
                                        url: path('api_ects_ue', {ue: ueee.id, parcours: parcours.id}),
                                    }) }}>
                                        <div class="card mb-2 sh-19 sh-md-8 ms-2">
                                            <div class="card-body pt-0 pb-0 h-100 border-left-sousUe
                                border-left-sousSousUe-{{ ueee.ordre }}">
                                                <div class="row g-0 h-100 align-content-center">
                                                    <div class="col-md-1 d-flex flex-column justify-content-center">
                                                        <div class="text-muted text-small d-md-none">ue</div>
                                                        <p>{% if ueee.libelle != null %}
                                                            <abbr title="{{ ueee.libelle }}">{% endif %}{{ displayUeee }}{% if ueee.libelle != null %}</abbr>{% endif %}

                                                            {% if isSemestreRaccroche == true %}
                                                                <i class="fal fa-link"
                                                                   data-controller="tooltip"
                                                                   data-tooltip-placement-value="bottom"
                                                                   title="Ue raccrochée en lien avec le semestre raccroché"></i>
                                                            {% elseif raccrocheEnfantEnfant == true or raccrocheEnfant == true %}
                                                                <i class="fal fa-link"
                                                                   data-controller="tooltip"
                                                                   data-tooltip-placement-value="bottom"
                                                                   title="Raccrochée à l'{{ ueee.display(parcours) }}"></i>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <div class="col-md-1 d-flex flex-column justify-content-center">
                                                        <div class="text-muted text-small d-md-none">ECTS</div>
                                                        {{ component('badge_ects_ue', {
                                                            ue: ueee,
                                                            parcours: parcours,
                                                            typeDiplome: typeDiplome
                                                        }) }}
                                                    </div>
                                                    <div class="col-md-1 d-flex flex-column justify-content-center">
                                                        <div class="text-muted text-small d-md-none">NB. EC</div>
                                                        {% if ueee.natureUeEc != null and ueee.natureUeEc.libre == true %}
                                                            <span class="badge bg-info">
                                                                UE Libre</span>
                                                        {% else %}
                                                            {{ ueee.nbElementConstitutifs|badgeNb }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-2 d-flex flex-column justify-content-center">
                                                        <div class="text-muted text-small d-md-none">ue</div>
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-md-2 d-flex flex-column justify-content-center">
                                                        <div class="text-muted text-small d-md-none">ue</div>
                                                        &nbsp;
                                                    </div>

                                                    <div class="col-md-1 d-flex flex-column justify-content-center">
                                                        <div class="text-muted text-small d-md-none">Voir les EC</div>
                                                        <button class="btn btn-sm btn-outline-primary"
                                                                {{ stimulus_action('structure--ue', 'detail', 'click',
                                                                    {ue:ueee.id, parcours: parcours.id, url: path
                                                                        ('structure_ec_detail_ue', {
                                                                            ue:ueee.id, parcours: parcours.id,
                                                                            raccroche: (isSemestreRaccroche or raccrocheEnfantEnfant or raccrocheEnfant)})}
                                                                ) }}
                                                        >
                                                            <i class="fal fa-caret-right"></i> Voir les EC
                                                        </button>
                                                    </div>
                                                    <div class="col-md-4 d-flex flex-column justify-content-center">
                                                        <div class="text-muted text-small d-md-none">Actions</div>
                                                        <div class="row">
                                                            <div class="col-4">

                                                                <button
                                                                        {% if raccrocheEnfant == true %}
                                                                            disabled
                                                                            title="UE raccrochée, modifiable uniquement depuis le parcours d'origine"
                                                                        {% else %}
                                                                            {{ stimulus_controller('modal', {
                                                                                size: 'lg',
                                                                                modalTitle: 'Modifier l\'' ~ uee.display(parcours),
                                                                                modalUrl: path('structure_ue_edit', {id:ueee.id, parcours: parcours
                                                                                .id})
                                                                            }) }}
                                                                            data-action="click->modal#openModal"
                                                                            title="Modifier l'{{ ueee.display(parcours) }}"
                                                                        {% endif %}

                                                                        class="btn btn-sm text-warning me-1"
                                                                        data-size="lg"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom"

                                                                >
                                                                    <i class="{{ iconEdit }}"></i>
                                                                    <span> Modifier l'UE</span>
                                                                </button>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="btn-group d-grid">
                                                                    <button class="btn btn-outline-primary btn-sm dropdown-toggle d-block"
                                                                            type="button"
                                                                            id="dropdownMenuClickableInside"
                                                                            data-bs-toggle="dropdown"
                                                                            data-bs-auto-close="outside"
                                                                            aria-expanded="false"
                                                                            title="Autres opérations">
                                                                        <i class="fas fa-ellipsis-v"></i> Actions
                                                                    </button>
                                                                    <ul class="dropdown-menu"
                                                                        aria-labelledby="dropdownMenuClickableInside">
                                                                        <li>
                                                                            <a
                                                                                    {% if raccrocheEnfant == true %}
                                                                                        disabled
                                                                                        title="UE raccrochée, modifiable uniquement depuis le parcours d'origine"
                                                                                    {% else %}
                                                                                        {{ stimulus_controller('modal', {
                                                                                            size: 'lg',
                                                                                            modalTitle: 'Mutualiser l\'' ~ ueee.display(parcours),
                                                                                            modalUrl:
                                                                                            path
                                                                                                ('structure_ue_mutualiser', {semestre:semestre.id, ue: ueee.id})
                                                                                        }) }}
                                                                                        data-action="click->modal#openModal"
                                                                                    {% endif %}
                                                                                    class="btn btn-sm text-quaternary me-1"
                                                                                    data-size="lg"
                                                                                    data-bs-toggle="tooltip"
                                                                                    data-bs-placement="bottom"
                                                                                    title="Mutualiser l\'{{ ueee.display(parcours) }}"
                                                                            >
                                                                                <i class="fal fa-share-nodes"></i>
                                                                                <span> Mutualiser l'UE</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a
                                                                                    {#                                                                            {% if raccrocheEnfant == true %} #}
                                                                                    {#                                                                                disabled #}
                                                                                    {#                                                                                title="UE raccrochée, modifiable uniquement depuis le parcours d'origine" #}
                                                                                    {#                                                                            {% else %} #}
                                                                                    {{ stimulus_controller('modal', {
                                                                                        size: 'lg',
                                                                                        modalTitle: 'Raccrocher une UE mutualisé pour l\' ' ~
                                                                                        ueee.display(parcours),
                                                                                        modalUrl: path('structure_ue_raccrocher', {ue:ueee.id, parcours: parcours.id})
                                                                                    }) }}
                                                                                    data-action="click->modal#openModal"
                                                                                    {#                                                                            {% endif %} #}
                                                                                    class="btn btn-sm text-quaternary me-1"
                                                                                    data-size="lg"
                                                                                    data-bs-toggle="tooltip"
                                                                                    data-bs-placement="bottom"
                                                                            >
                                                                                <i class="fal fa-down-to-bracket"></i>
                                                                                <span> Raccrocher une UE</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a
                                                                                    {#                                                                            {% if raccrocheEnfant == true %} #}
                                                                                    {#                                                                                disabled #}
                                                                                    {#                                                                                title="UE raccrochée, modifiable uniquement depuis le parcours d'origine" #}
                                                                                    {#                                                                            {% else %} #}
                                                                                    {{ stimulus_action('structure--ue', 'delete', 'click', {
                                                                                        url:path('structure_ue_delete',{'id': ueee.id}),
                                                                                        csrf: csrf_token('delete' ~ ueee.id)
                                                                                    }) }}
                                                                                    {#                                                                            {% endif %} #}
                                                                                    class="btn btn-sm text-danger">
                                                                                <i class="{{ iconDelete }}"></i>
                                                                                Supprimer
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-4 text-end">
                                                                {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)) %} {#  and
                                            (workflow_can(ec,
                                                'valider_parcours') or workflow_can(ec,
                                                'initialiser'))) or (is_granted
                                                ('ROLE_EC_EDIT_MY', ec)) and  workflow_can(ec,
                                                'valider_ec')) #}
                                                                    {% if not loop.first %}
                                                                        <button class="btn btn-sm btn-outline-info" {{ stimulus_action
                                                                            ('structure--ue', 'deplacerUe',
                                                                            'click', {url: path('structure_ue_deplacer',{sens: 'up', ue:ueee
                                                                            .id}), ue:ueee.id, parcours:parcours.id}) }}>
                                                                            <i class="fal fa-circle-up"></i></button>
                                                                    {% else %}
                                                                        <button class="btn btn-sm btn-outline-info"
                                                                                disabled>
                                                                            <i class="fal fa-circle-up"></i>
                                                                        </button>
                                                                    {% endif %}
                                                                    {% if not loop.last %}
                                                                        <button class="btn btn-sm btn-outline-info" {{ stimulus_action('structure--ue', 'deplacerUe',
                                                                            'click', {url: path('structure_ue_deplacer',{sens: 'down', ue:ueee.id}), ue:ueee.id, parcours:parcours.id}) }}>
                                                                            <i class="fal
                                            fa-circle-down"></i></button>
                                                                    {% else %}
                                                                        <button class="btn btn-sm btn-outline-info"
                                                                                disabled>
                                                                            <i class="fal fa-circle-down"></i>
                                                                        </button>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="detail_ue_{{ ueee.id }}_{{ parcours.id }}" class="d-none detail_ue"
                                        >
                                            <div class="row" style="margin-left:1px">
                                                <div class="col-12" {{ stimulus_target('structure--ue', 'detail') }}
                                                     data-action="base:refreshListeEc@window->structure--ue#refreshListeEc
                                         ec--liste:refreshListeEc@window->structure--ue#refreshListeEc
                                            ec--manage:modalHide@window->structure--ue#refreshListeEc
                                            "
                                                     data-structure--ue-url-param="{{ path('structure_ec_detail_ue', {
                                                         ue:ueee.id,
                                                         parcours: parcours.id,
                                                         raccroche: (isSemestreRaccroche or raccroche)}) }}"
                                                     data-structure--ue-ue-param="{{ ueee.id }}"
                                                     data-structure--ue-parcours-param="{{ parcours.id }}"

                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                    {#                                    {% if raccroche == false %} #}
                                    {#                                        <div class="text-divider"> #}
                                    {#                                            <button class="btn text-success btn-sm" #}
                                    {#                                                    {{ stimulus_controller('modal', { #}
                                    {#                                                        size: 'lg', #}
                                    {#                                                        modalTitle: 'Ajouter une UE après l\'' ~uee.display(parcours), #}
                                    {#                                                        modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id, ue:uee.id}) #}
                                    {#                                                    }) }} #}
                                    {#                                                    data-action="click->modal#openModal" #}
                                    {#                                            > #}
                                    {#                                                <i class="{{ iconAdd }}"></i> #}
                                    {#                                                Ajouter une UE après l'<strong>{{ uee.display(parcours) }}</strong> #}
                                    {#                                            </button> #}
                                    {#                                        </div> #}
                                    {#                                    {% endif %} #}
                                {% endfor %}
                                {# fin de la boucle des ue enfants des enfants #}
                            </div>
                            {% if raccroche == false and isSemestreRaccroche == false %}
                                <div class="text-divider">
                                    <button class="btn text-success btn-sm"
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                modalTitle: 'Ajouter une UE après l\'' ~uee.display(parcours),
                                                modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id, ue:uee.id})
                                            }) }}
                                            data-action="click->modal#openModal"
                                    >
                                        <i class="{{ iconAdd }}"></i>
                                        Ajouter une UE après l'<strong>{{ uee.display(parcours) }}</strong>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if isSemestreRaccroche == false %}
                            <div class="text-divider">
                                <button class="btn text-success btn-sm"
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Ajouter une UE après l\'' ~ue.display(parcours),
                                            modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id,ue:ue.id})
                                        }) }}
                                        data-action="click->modal#openModal"
                                >
                                    <i class="{{ iconAdd }}"></i>
                                    Ajouter une UE après l'<strong>{{ ue.display(parcours) }}</strong>
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if isSemestreRaccroche == false %}
                        <div class="text-divider">
                            <button class="btn text-success btn-sm"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Ajouter une UE',
                                        modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id})
                                    }) }}
                                    data-action="click->modal#openModal"
                            >
                                <i class="{{ iconAdd }}"></i>
                                Ajouter une UE
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>
</div>
