<div class="row">
    <div class="col-12 mb-2">
        <section class="scroll-section" id="labels">
            <h2 class="small-title">Ues</h2>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-1 d-flex align-items-center mb-2 text-secondary
                        mb-md-0 text-small justify-content-center">
                            UE
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            ECTS
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Nb. EC
                        </div>
                        <div class="col-12 col-md-2 d-flex align-items-center mb-2 justify-content-center text-secondary mb-md-0 text-small">
                            Type UE
                        </div>
                        <div class="col-12 col-md-2 d-flex align-items-center mb-2 justify-content-center text-secondary mb-md-0 text-small">
                            Nature UE
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Détails
                        </div>
                        <div class="col-6 col-md-4 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            <div>{# class="scroll-out" #}
                {% for ue in ues|filter(ue => ue.ueParent == null) %}
                    {% set raccroche = raccroche or ue.ueRaccrochee != null %}
                    <div {{ stimulus_controller('structure--ue', {
                        ue:ue.id,
                        parcours:parcours.id,
                        url: path('api_ects_ue', {ue: ue.id, parcours: parcours.id}),
                    }) }}>
                        <div class="card mb-2 sh-19 sh-md-8">
                            <div class="card-body pt-0 pb-0 h-100 {% if ue.ueParent != null %}border-left-sousUe
                            border-left-sousUe-{{ ue.ueParent.ordre }}{% endif %}">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-md-1 d-flex flex-column justify-content-center">
                                        <div class="text-muted text-small d-md-none">ue</div>
                                        <p>{% if ue.libelle != null %}<abbr title="{{ ue.libelle }}">{% endif %}{{ ue
                                                .display(parcours) }}{% if ue.libelle != null %}</abbr>{% endif %}
                                            {% if ue.ueRaccrochee != null %}
                                            <i class="fal fa-link"
                                               data-controller="tooltip"
                                               data-tooltip-placement-value="bottom"
                                               title="Raccrochée à l'UE {{ ue.ueRaccrochee.display(parcours) }}"></i>{% endif %}
                                            {% if ue.ueMutualisables|length >0 %}
                                            <i class="fal fa-share-nodes"
                                               data-controller="tooltip"
                                               data-tooltip-placement-value="bottom"
                                               title="UE mutualisée"></i>{% endif %}
                                        </p>
                                    </div>
                                    <div class="col-md-1 d-flex flex-column justify-content-center">
                                        <div class="text-muted text-small d-md-none">ECTS</div>
                                        <span id="ects_ue_{{ ue.id }}_{{ parcours.id }}">
                                            {{ ue.totalEctsUe|badgeEctsUe(typeDiplome.nbEctsMaxUe) }}
                                        </span>
                                    </div>
                                    <div class="col-md-1 d-flex flex-column justify-content-center">
                                        <div class="text-muted text-small d-md-none">NB. EC</div>
                                        {{ ue.nbElementConstitutifs|badgeNb }}
                                    </div>
                                    <div class="col-md-2 d-flex flex-column justify-content-center">
                                        <div class="text-muted text-small d-md-none">ue</div>
                                        {{ ue.typeUe != null ? ue.typeUe.libelle|badge('success') :
                                        'Erreur, à compléter'|badge('danger') }}
                                    </div>
                                    <div class="col-md-2 d-flex flex-column justify-content-center">
                                        <div class="text-muted text-small d-md-none">ue</div>
                                        {{ ue.natureUeEc != null ? ue.natureUeEc.libelle|badge('success') :
                                        'Erreur à compléter'|badge('danger') }}
                                    </div>

                                    <div class="col-md-1 d-flex flex-column justify-content-center">
                                        {% if ue.ueEnfants|length == 0 %}
                                            <div class="text-muted text-small d-md-none">Voir les EC</div>
                                            <button class="btn btn-sm btn-outline-primary"
                                                    {{ stimulus_action('structure--ue', 'detail', 'click',
                                                        {ue:ue.id, parcours: parcours.id, url: path
                                                            ('structure_ec_detail_ue', {ue:ue.id, parcours: parcours.id, raccroche:raccroche})}
                                                    ) }}
                                            >
                                                <i class="fal fa-caret-right"></i> Voir les EC
                                            </button>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-muted text-small d-md-none">Actions</div>
                                        <div class="row">
                                            <div class="col-4">
                                                {% if ue.ueRaccrochee == null or ue.ueRaccrochee.parcours.id ==
                                                    parcours.id %}
                                                    <button
                                                            {{ stimulus_controller('modal', {
                                                                size: 'lg',
                                                                modalTitle: 'Modifier l\'UE ' ~ ue.display(parcours),
                                                                modalUrl: path('structure_ue_edit', {id:ue.id, parcours: parcours
                                                                .id})
                                                            }) }}
                                                            data-action="click->modal#openModal"
                                                            class="btn btn-sm text-warning me-1"
                                                            data-size="lg"
                                                            data-bs-toggle="tooltip"
                                                            {% if raccroche %}disabled{% endif %}
                                                            data-bs-placement="bottom"
                                                            title="Modifier l'UE {{ ue.display(parcours) }}"
                                                    >
                                                        <i class="{{ iconEdit }}"></i>
                                                        <span> Modifier l'UE</span>
                                                    </button>
                                                {% else %}
                                                    <p class="ms-1">
                                                        UE modifiable uniquement par le parcours {{ ue.ueRaccrochee
                                                        .parcours.libelle }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                <div class="text-muted text-small d-md-none">Autres actions</div>
                                                <div class="btn-group d-grid">
                                                    <button class="btn btn-outline-primary btn-sm dropdown-toggle d-block"
                                                            type="button" id="dropdownMenuClickableInside"
                                                            data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                                            aria-expanded="false" title="Autres opérations">
                                                        <i class="fas fa-ellipsis-v"></i> Actions
                                                    </button>
                                                    <ul class="dropdown-menu"
                                                        aria-labelledby="dropdownMenuClickableInside">
                                                        <li>
                                                            <a
                                                                    href="#"
                                                                    {{ stimulus_controller('modal', {
                                                                        size: 'lg',
                                                                        modalTitle: 'Dupliquer l\'UE ' ~ ue.display(parcours),
                                                                        modalUrl:
                                                                        path
                                                                            ('structure_ue_dupliquer', {parcours:parcours.id, ue: ue.id})
                                                                    }) }}
                                                                    data-action="click->modal#openModal"
                                                                    class="dropdown-item text-primary"
                                                                    data-size="lg"
                                                                    {% if raccroche %}disabled{% endif %}
                                                                    data-bs-toggle="tooltip"
                                                                    data-bs-placement="bottom"
                                                                    title="Dupliquer l\'UE {{ ue.display(parcours) }}"
                                                            >
                                                                <i class="{{ iconDuplicate }}"></i>
                                                                <span> Dupliquer l'UE</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a
                                                                    href="#"
                                                                    {{ stimulus_controller('modal', {
                                                                        size: 'lg',
                                                                        modalTitle: 'Déplacer l\'UE ' ~ ue.display(parcours),
                                                                        modalUrl:
                                                                        path
                                                                            ('structure_ue_changer', {parcours:parcours.id, ue: ue.id})
                                                                    }) }}
                                                                    data-action="click->modal#openModal"
                                                                    class="dropdown-item text-secondary"
                                                                    data-size="lg"
                                                                    {% if raccroche %}disabled{% endif %}
                                                                    data-bs-toggle="tooltip"
                                                                    data-bs-placement="bottom"
                                                                    title="Déplacer l\'UE {{ ue.display(parcours) }}"
                                                            >
                                                                <i class="fal fa-right-left"></i>
                                                                <span> Déplacer l'UE</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a
                                                                    href="#"
                                                                    {{ stimulus_controller('modal', {
                                                                        size: 'lg',
                                                                        modalTitle: 'Mutualiser l\'UE ' ~ ue.display(parcours),
                                                                        modalUrl:
                                                                        path
                                                                            ('structure_ue_mutualiser', {semestre:semestre.id, ue: ue.id})
                                                                    }) }}
                                                                    data-action="click->modal#openModal"
                                                                    class="dropdown-item text-quaternary"
                                                                    data-size="lg"
                                                                    {% if raccroche %}disabled{% endif %}
                                                                    data-bs-toggle="tooltip"
                                                                    data-bs-placement="bottom"
                                                                    title="Modifier l\'UE {{ ue.display(parcours) }}"
                                                            >
                                                                <i class="fal fa-share-nodes"></i>
                                                                <span> Mutualiser l'UE</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a
                                                                    href="#"
                                                                    {{ stimulus_controller('modal', {
                                                                        size: 'lg',
                                                                        modalTitle: 'Raccrocher une UE mutualisé pour l\'UE ' ~
                                                                        ue.display(parcours),
                                                                        modalUrl: path('structure_ue_raccrocher', {ue:ue.id, parcours: parcours.id})
                                                                    }) }}
                                                                    data-action="click->modal#openModal"
                                                                    class="dropdown-item text-quaternary"
                                                                    data-size="lg"
                                                                    data-bs-toggle="tooltip"
                                                                    {% if raccroche %}disabled{% endif %}
                                                                    data-bs-placement="bottom"
                                                                    {#                                                title="Modifier le semestre {{ semestre.semestre.display }}" #}
                                                            >
                                                                <i class="fal fa-link"></i>
                                                                <span> Raccrocher une UE</span>
                                                            </a>
                                                        </li>
                                                        {% if typeDiplome.nbUeMax != 0 or ue.ordre > typeDiplome.nbUeMax %}
                                                            <li>
                                                                <a
                                                                        href="#"
                                                                        {{ stimulus_action('structure--ue', 'delete', 'click', {
                                                                            url:path('structure_ue_delete',{'id': ue.id}),
                                                                            csrf: csrf_token('delete' ~ ue.id)
                                                                        }) }}
                                                                        class="dropdown-item text-danger" {% if raccroche %}disabled{% endif %}>
                                                                    <i class="{{ iconDelete }}"></i> Supprimer
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)) %} {#  and
                                        (workflow_can(ec,
                                            'valider_parcours') or workflow_can(ec,
                                            'initialiser'))) or (is_granted
                                            ('ROLE_EC_EDIT_MY', ec)) and  workflow_can(ec,
                                            'valider_ec')) #}

                                                    {% if not loop.first %}
                                                        <button class="btn btn-sm btn-outline-info"
                                                                {% if raccroche %}disabled{% endif %}
                                                                {{ stimulus_action
                                                                    ('structure--ue', 'deplacerUe',
                                                                    'click', {url: path('structure_ue_deplacer',{sens: 'up', ue:ue
                                                                    .id}), ue:ue.id, parcours:parcours.id}) }}>
                                                            <i class="fal fa-circle-up"></i></button>
                                                    {% else %}
                                                        <button class="btn btn-sm btn-outline-info" disabled>
                                                            <i class="fal fa-circle-up"></i>
                                                        </button>
                                                    {% endif %}
                                                    {% if not loop.last %}
                                                        <button class="btn btn-sm btn-outline-info"
                                                                {% if raccroche %}disabled{% endif %}
                                                                {{ stimulus_action('structure--ue', 'deplacerUe',
                                                                    'click', {url: path('structure_ue_deplacer',{sens: 'down', ue:ue.id}), ue:ue.id, parcours:parcours.id}) }}>
                                                            <i class="fal
                                        fa-circle-down"></i></button>
                                                    {% else %}
                                                        <button class="btn btn-sm btn-outline-info" disabled>
                                                            <i class="fal fa-circle-down"></i>
                                                        </button>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="detail_ue_{{ ue.id }}_{{ parcours.id }}" class="d-none detail_ue">
                            <div class="row" style="margin-left:1px">
                                <div class="col-12" {{ stimulus_target('structure--ue', 'detail') }}
                                     data-action="base:refreshListeEc@window->structure--ue#refreshListeEc
                                     ec--liste:refreshListeEc@window->structure--ue#refreshListeEc
                                        ec--manage:modalHide@window->structure--ue#refreshListeEc
                                        "
                                     data-structure--ue-url-param="{{ path('structure_ec_detail_ue', {ue:ue.id,
                                         parcours: parcours.id}) }}"
                                     data-structure--ue-ue-param="{{ ue.id }}"
                                     data-structure--ue-parcours-param="{{ parcours.id }}"

                                ></div>
                            </div>
                        </div>
                    </div>

                    {# UE Enfants #}
                    {% for uee in ue.ueEnfants %}
                        {{ uee.id }}
                        {% if loop.first and raccroche == false %}
                            <div class="text-divider">
                                <button class="btn text-success btn-sm"
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Ajouter une UE avant l\'' ~uee.displayBouton(parcours),
                                            modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id, ue: uee.id, sens:'before'})
                                        }) }}
                                        data-action="click->modal#openModal"
                                >
                                    <i class="{{ iconAdd }}"></i>
                                    Ajouter une UE avant l'<strong>{{ uee.displayBouton(parcours) }}</strong>
                                </button>
                            </div>
                        {% endif %}
                        <div {{ stimulus_controller('structure--ue', {
                            ue:uee.id,
                            parcours:parcours.id,
                            url: path('api_ects_ue', {ue: uee.id, parcours: parcours.id}),
                        }) }}>
                            <div class="card mb-2 sh-19 sh-md-8">
                                <div class="card-body pt-0 pb-0 h-100 border-left-sousUe
                            border-left-sousUe-{{ ue.ordre }}">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div class="col-md-1 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">ue</div>
                                            <p>{% if uee.libelle != null %}
                                                <abbr title="{{ uee.libelle }}">{% endif %}{{ uee
                                                    .display(parcours) }}{% if uee.libelle != null %}</abbr>{% endif %} {% if uee
                                                .ueRaccrochee != null %}
                                                <i class="fal fa-link"
                                                   data-controller="tooltip"
                                                   data-tooltip-placement-value="bottom"
                                                   title="Raccrochée à l'UE {{ uee.ueRaccrochee.display(parcours) }}"></i>{% endif %}
                                            </p>
                                        </div>
                                        <div class="col-md-1 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">ECTS</div>
                                            <span id="ects_ue_{{ uee.id }}_{{ parcours.id }}">
                                            {{ uee.totalEctsUe|badgeEctsUe(typeDiplome.nbEctsMaxUe) }}
                                        </span>
                                        </div>
                                        <div class="col-md-1 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">NB. EC</div>
                                            {{ uee.nbElementConstitutifs|badgeNb }}
                                        </div>
                                        <div class="col-md-2 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">ue</div>
                                            &nbsp;
                                        </div>
                                        <div class="col-md-2 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">ue</div>
                                            &nbsp;
                                        </div>

                                        <div class="col-md-1 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">Voir les EC</div>
                                            <button class="btn btn-sm btn-outline-primary"
                                                    {{ stimulus_action('structure--ue', 'detail', 'click',
                                                        {ue:uee.id, parcours: parcours.id, url: path
                                                            ('structure_ec_detail_ue', {ue:uee.id, parcours: parcours.id, raccroche: raccroche})}
                                                    ) }}
                                            >
                                                <i class="fal fa-caret-right"></i> Voir les EC
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-muted text-small d-md-none">Actions</div>
                                            <div class="row">
                                                <div class="col-4">
                                                    {% if uee.ueRaccrochee == null or uee.ueRaccrochee.parcours.id ==
                                                        parcours.id %}
                                                        <button
                                                                {{ stimulus_controller('modal', {
                                                                    size: 'lg',
                                                                    modalTitle: 'Modifier l\'UE ' ~ uee.display(parcours),
                                                                    modalUrl: path('structure_ue_edit', {id:uee.id, parcours: parcours
                                                                    .id})
                                                                }) }}
                                                                data-action="click->modal#openModal"
                                                                class="btn btn-sm text-warning me-1"
                                                                data-size="lg"
                                                                data-bs-toggle="tooltip"
                                                                data-bs-placement="bottom"
                                                                title="Modifier l'UE {{ uee.display(parcours) }}"
                                                        >
                                                            <i class="{{ iconEdit }}"></i>
                                                            <span> Modifier l'UE</span>
                                                        </button>
                                                        <br>
                                                        {% if typeDiplome.nbUeMax != 0 or ue.ordre > typeDiplome.nbUeMax %}
                                                            <button {{ stimulus_action('structure--ue', 'delete', 'click', {
                                                                url:path('structure_ue_delete',{'id': uee.id}),
                                                                csrf: csrf_token('delete' ~ uee.id)
                                                            }) }} class="btn btn-sm text-danger">
                                                                <i class="{{ iconDelete }}"></i> Supprimer
                                                            </button>
                                                        {% endif %}
                                                    {% else %}
                                                        <p class="ms-1">
                                                            UE modifiable uniquement par le parcours {{ uee.ueRaccrochee
                                                            .parcours.libelle }}</p>
                                                    {% endif %}
                                                </div>
                                                <div class="col-4">
                                                    <button
                                                            {{ stimulus_controller('modal', {
                                                                size: 'lg',
                                                                modalTitle: 'Mutualiser l\'UE ' ~ uee.display(parcours),
                                                                modalUrl:
                                                                path
                                                                    ('structure_ue_mutualiser', {semestre:semestre.id, ue: uee.id})
                                                            }) }}
                                                            data-action="click->modal#openModal"
                                                            class="btn btn-sm text-quaternary me-1"
                                                            data-size="lg"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom"
                                                            title="Modifier l\'UE {{ uee.display(parcours) }}"
                                                    >
                                                        <i class="fal fa-share-nodes"></i>
                                                        <span> Mutualiser l'UE</span>
                                                    </button>
                                                    <br>
                                                    <button
                                                            {{ stimulus_controller('modal', {
                                                                size: 'lg',
                                                                modalTitle: 'Raccrocher une UE mutualisé pour l\'UE ' ~
                                                                uee.display(parcours),
                                                                modalUrl: path('structure_ue_raccrocher', {ue:uee.id, parcours: parcours.id})
                                                            }) }}
                                                            data-action="click->modal#openModal"
                                                            class="btn btn-sm text-quaternary me-1"
                                                            data-size="lg"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom"
                                                            {#                                                title="Modifier le semestre {{ semestre.semestre.display }}" #}
                                                    >
                                                        <i class="fal fa-down-to-bracket"></i>
                                                        <span> Raccrocher une UE</span>
                                                    </button>
                                                </div>
                                                <div class="col-4 text-end mt-2">{# todo: boutons non centrés dans la
                                            ligne #}
                                                    {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)) %} {#  and
                                        (workflow_can(ec,
                                            'valider_parcours') or workflow_can(ec,
                                            'initialiser'))) or (is_granted
                                            ('ROLE_EC_EDIT_MY', ec)) and  workflow_can(ec,
                                            'valider_ec')) #}
                                                        {% if not loop.first %}
                                                            <button class="btn btn-sm btn-outline-info" {{ stimulus_action
                                                                ('structure--ue', 'deplacerUe',
                                                                'click', {url: path('structure_ue_deplacer',{sens: 'up', ue:uee
                                                                .id}), ue:uee.id, parcours:parcours.id}) }}>
                                                                <i class="fal fa-circle-up"></i></button>
                                                        {% else %}
                                                            <button class="btn btn-sm btn-outline-info" disabled>
                                                                <i class="fal fa-circle-up"></i>
                                                            </button>
                                                        {% endif %}
                                                        {% if not loop.last %}
                                                            <button class="btn btn-sm btn-outline-info" {{ stimulus_action('structure--ue', 'deplacerUe',
                                                                'click', {url: path('structure_ue_deplacer',{sens: 'down', ue:uee.id}), ue:uee.id, parcours:parcours.id}) }}>
                                                                <i class="fal
                                        fa-circle-down"></i></button>
                                                        {% else %}
                                                            <button class="btn btn-sm btn-outline-info" disabled>
                                                                <i class="fal fa-circle-down"></i>
                                                            </button>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="detail_ue_{{ uee.id }}_{{ parcours.id }}" class="d-none detail_ue"
                            >
                                <div class="row" style="margin-left:1px">
                                    <div class="col-12" {{ stimulus_target('structure--ue', 'detail') }}
                                         data-action="base:refreshListeEc@window->structure--ue#refreshListeEc
                                     ec--liste:refreshListeEc@window->structure--ue#refreshListeEc
                                        ec--manage:modalHide@window->structure--ue#refreshListeEc
                                        "
                                         data-structure--ue-url-param="{{ path('structure_ec_detail_ue', {ue:uee.id,
                                             parcours: parcours.id}) }}"
                                         data-structure--ue-ue-param="{{ uee.id }}"
                                         data-structure--ue-parcours-param="{{ parcours.id }}"

                                    ></div>
                                </div>
                            </div>
                        </div>
                        {% if raccroche == false %}
                            <div class="text-divider">
                                <button class="btn text-success btn-sm"
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Ajouter une UE après l\'' ~uee.displayBouton(parcours),
                                            modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id, ue:uee.id})
                                        }) }}
                                        data-action="click->modal#openModal"
                                >
                                    <i class="{{ iconAdd }}"></i>
                                    Ajouter une UE après l'<strong>{{ uee.displayBouton(parcours) }}</strong>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if raccroche == false %}
                        <div class="text-divider">
                            <button class="btn text-success btn-sm"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Ajouter une UE après l\'' ~ue.displayBouton(parcours),
                                        modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id,ue:ue.id})
                                    }) }}
                                    data-action="click->modal#openModal"
                            >
                                <i class="{{ iconAdd }}"></i>
                                Ajouter une UE après l'<strong>{{ ue.displayBouton(parcours) }}</strong>
                            </button>
                        </div>
                    {% endif %}
                {% else %}
                    {% if raccroche == false %}
                        <div class="text-divider">
                            <button class="btn text-success btn-sm"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Ajouter une UE',
                                        modalUrl: path('structure_ue_add_ue_semestre', {parcours:parcours.id, semestre:semestre.id})
                                    }) }}
                                    data-action="click->modal#openModal"
                            >
                                <i class="{{ iconAdd }}"></i>
                                Ajouter une UE
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>
</div>
