<div class="row">
    <div class="col-12 mb-2">
        <section class="scroll-section" id="labels">
            <h2 class="small-title">Ues</h2>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-5 d-flex align-items-center mb-2 text-secondary mb-md-0 text-small">
                            UE
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        justify-content-end text-secondary text-small">
                            ECTS
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        justify-content-end text-secondary text-small">
                            Détails
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        justify-content-end text-secondary text-small">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            <div>{# class="scroll-out" #}
                {% for ue in ues %}
                    <div {{ stimulus_controller('structure--ue') }}>
                        <div class="card mb-2 sh-19 sh-md-8">
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-12 col-md-5 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">ue</div>
                                        <a href="#" class="text-truncate">{{ ue.display }}</a>
                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">ECTS</div>
                                        {{ ue.totalEctsUe|badgeEctsUe(6) }} {# todo: injecter le type de diplôme pour
                                         avoir le nb ects par UE max #}
                                    </div>

                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center
                                            align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Détails</div>

                                        <button class="btn btn-sm btn-outline-primary"
                                                {{ stimulus_action('structure--ue', 'detail', 'click',
                                                    {ue:ue.id, url: path
                                                        ('structure_ec_detail_ue', {ue:ue.id, parcours: parcours.id})}
                                                ) }}
                                        >
                                            <i class="fal fa-caret-right"></i> Détails
                                        </button>

                                    </div>
                                    <div class="col-6 col-md-3 d-flex flex-column justify-content-center
                                            align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Actions</div>
                                        <div class="text-alternate">
                                            <button class="btn btn-outline-info btn-sm">Boutons à définir ?</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="detail_ue_{{ ue.id }}" class="d-none detail_ue ms-4">
                            <div class="row">
                                <div class="col-12" {{ stimulus_target('structure--ue', 'detail') }}
                                     data-action="base:refreshListe@window->structure--ue#refreshListeEc"
                                     data-structure--ue-url-param="{{ path('structure_ec_detail_ue', {ue:ue.id,
                                         parcours: parcours.id}) }}"
                                     data-structure--ue-ue-param="{{ ue.id }}"

                                ></div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </section>
    </div>
</div>
