<div {{ stimulus_controller('ue--mutualise', {
    url: path('structure_ue_mutualise_add_ajax', {ue:ue.id})
}) }}>

    <label class="form-label" for="mutualiser">
        {{ 'ue.mutualiser.label'|trans({}, 'form') }}
        <span class="required"></span>
        <i class="fal fa-question-circle ms-1" data-controller="tooltip" data-tooltip-placement-value="bottom"
           title="{{ 'ue.mutualiser.helps'|trans({}, 'help') }}"></i>
    </label>

   <div {{ stimulus_target('ue--mutualise', 'liste') }}></div>

    <div class="row">
        <div class="col-12">
            <label for="composante">Choisir une composante</label>
            <select class="form-select" id="composante" name="composante"
                    {{ stimulus_action('ue--mutualise', 'changeComposante') }}
                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
            >
                <option value="0">Choisir une composante</option>
                {% for composante in composantes %}
                    <option value="{{ composante.id }}">{{ composante.libelle }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="formation">Choisir une mention/spécialité</label>
            <select class="form-select" id="formation" name="formation"
                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                    {{ stimulus_action('ue--mutualise', 'changeFormation') }}>
                <option value="0">Choisir d'abord une composante</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="parcours">Choisir un parcours</label>
            <select class="form-select" id="parcours" name="parcours"
                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
            >
                <option value="0">Choisir d'abord une mention/spécialité</option>
            </select>
        </div>
    </div>

    {{ component('alerte', {
        type:'info',
        message: 'Vous pouvez choisir "Mutualiser avec tous les parcours de la mention" pour mutualiser avec tous les parcours de la mention.'
    }) }}

    <button class="btn btn-success mt-2" data-action="ue--mutualise#ajouter">
        Ajouter
    </button>
</div>
