<table class="table">
    <thead>
    <tr>
        <th>Mention</th>
        <th>Parcours</th>
        <th>Demande de ?</th>
        <th>Date demande</th>
        <th>Date clôture</th>
        <th>Niveau demande</th>
        <th>Etat</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for demande in demandes %}
        <tr>
            <td rowspan="2">{{ demande.formation.displayLong(false) }}</td>
            <td rowspan="2">
                {% if demande.niveauDemande == 'F' %}
                    <span class="badge bg-info">Mention</span>
                {% else %}
                    {{ demande.parcours != null ? demande.parcours.libelle : '' }}
                {% endif %}
            </td>
            <td rowspan="2">
                {{ demande.auteur != null ? demande.auteur.display : '-' }}
            </td>
            <td>{{ demande.dateDemande|date('d/m/Y') }}</td>
            <td>{{ demande.dateCloture != null ?  demande.dateCloture|date('d/m/Y') : '-' }}</td>
            <td>
                {{ demande.niveauModification|badgeEnum }}</td>
            <td>
                {% if demande.dateCloture == null %}
                    {{ demande.etatValidation|badgeEnum }}
                {% else %}
                    <span class="badge bg-success">Demande clôturée</span>
                {% endif %}
            </td>
            <td>
                {% if demande.niveauDemande == 'F' %}
                    <a href="{{ path('app_formation_show', {'slug': demande.formation.slug}) }}"
                       target="_blank"
                       class="btn btn-sm text-info"
                       title="Voir la formation">
                        <i class="{{ iconShow }}"></i> Voir la formation
                    </a>
                {% else %}
                    <a href="{{ path('app_parcours_show', {'id': demande.parcours.id}) }}"
                       target="_blank"
                       class="btn btn-sm text-info"
                       title="Voir le parcours">
                        <i class="{{ iconShow }}"></i> Voir le parcours
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                {{ demande.argumentaireDemande }}
            </td>
            <td>
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Modifier l\'argumentaire de la demande DPE',
                            modalUrl: path('app_demande_dpe_edit',{'id': demande.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-warning"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Modifier l'argumentaire de la demande DPE"
                >
                    <i class="{{ iconEdit }}"></i>
                    <span> modifier</span>
                </button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">Aucune demande en attente</td>
        </tr>
    {% endfor %}
</table>
