<table class="table">
    <thead>
    <tr>
        {% if is_admin %}
            <th>Composante</th>
        {% endif %}
        <th>Mention</th>
        <th>Parcours</th>
        <th>Date demande</th>
        <th>Niveau demande</th>
        <th>Etat</th>
        <th></th>
    </tr>
    <tr>
        {% if is_admin %}
            <th>

                <label for="filter-composantePorteuse" class="sr-only">Composante</label>
                <select
                        {{ stimulus_action('crud', 'filter', 'change', {
                            'field': 'composantePorteuse'
                        }) }}
                        id="filter-composantePorteuse"
                        {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                        class="form-select">
                    <option value="">Toutes les composantes</option>
                    {% for composante in composantes %}
                        <option value="{{ composante.id }}"
                                {% if params['composantePorteuse'] is defined and params['composantePorteuse']  == composante.id %}selected{% endif %}
                        >{{ composante.libelle }}</option>
                    {% endfor %}
                </select>
            </th>
        {% endif %}
        <th>
            <label for="filter-mention" class="sr-only">mention</label>
            <select
                    {{ stimulus_action('crud', 'filter', 'change', {
                        'field': 'mention'
                    }) }}
                    id="filter-mention" class="form-select"
                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
            >
                <option value="">Toutes les mentions</option>
                {% for mention in mentions %}
                    <option value="{{ mention.id }}"
                            {% if params['mention'] is defined and params['mention']  == mention.id %}selected{% endif %}
                    >{{ mention.libelle }}</option>
                {% endfor %}

            </select>
        </th>
        <th></th>
        <th></th>
        <th>
            <label for="filter-niveauModification" class="sr-only">mention</label>
            <select
                    {{ stimulus_action('crud', 'filter', 'change', {
                        'field': 'niveauModification'
                    }) }}
                    id="filter-niveauModification" class="form-select"
                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
            >
                <option value="">Tous les niveaux</option>
                {% for key, niveau in listeNiveauModification %}
                    <option value="{{ key }}"
                            {% if params['niveauModification'] is defined and params['niveauModification']  == key %}selected{% endif %}
                    >{{ niveau }}</option>
                {% endfor %}
            </select>
        </th>
        <th>
            <label for="filter-etatValidation" class="sr-only">mention</label>
            <select
                    {{ stimulus_action('crud', 'filter', 'change', {
                        'field': 'etatValidation'
                    }) }}
                    id="filter-etatValidation" class="form-select"
                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
            >
                <option value="">Choisir l'état</option>
                {% for value, type in listeEtatValidation %}
                    <option value="{{ value }}"
                            {% if params['etatValidation'] is defined and params['etatValidation']  == value %}selected{% endif %}>{{ type.label|trans({}, 'process') }}</option>
                {% endfor %}
            </select>
        </th>

        <th>
            <button class="btn btn-outline-danger"
                    {{ stimulus_action('crud', 'effaceFiltre', 'click', {
                    }) }}
            >
                Effacer les filtres
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for demande in demandes %}
        <tr>
            {% if is_admin %}
                <td rowspan="2">{{ demande.formation.composantePorteuse.libelle }}</td>
            {% endif %}
            <td rowspan="2">{{ demande.formation.displayLong(false) }}</td>
            <td rowspan="2">
                {% if demande.niveauDemande == 'F' %}
                    <span class="badge bg-info">Mention</span>
                {% else %}
                    {{ demande.parcours != null ? demande.parcours.libelle : '' }}
                {% endif %}
            </td>
            <td>{{ demande.dateDemande|date('d/m/Y') }}</td>
            <td>
                {{ demande.niveauModification|badgeEnum }}</td>
            <td>
                {% if demande.niveauDemande == 'P' %}
                    {{ demande.etatValidation|badgeEnum }}
                {% endif %}
            </td>
            <td>
                {% if demande.niveauDemande == 'F' %}
                    <a href="{{ path('app_formation_show', {'slug': demande.formation.slug}) }}"
                       target="_blank"
                       class="btn btn-sm text-info"
                       title="Voir la formation">
                        <i class="{{ iconShow }}"></i> Voir la formation
                    </a>
                {% else %}
                    <a href="{{ path('app_parcours_show', {'id': demande.parcours.id}) }}"
                       target="_blank"
                       class="btn btn-sm text-info"
                       title="Voir le parcours">
                        <i class="{{ iconShow }}"></i> Voir le parcours
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td> {{ demande.auteur != null ? demande.auteur.display : '-' }}</td>
            <td colspan="2">
                {{ demande.argumentaireDemande }}
            </td>
            <td>
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Modifier l\'argumentaire de la demande DPE',
                            modalUrl: path('app_demande_dpe_edit',{'id': demande.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-warning"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Modifier l'argumentaire de la demande DPE"
                >
                    <i class="{{ iconEdit }}"></i>
                    <span> modifier</span>
                </button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">Aucune demande en attente</td>
        </tr>
    {% endfor %}
</table>
