{% extends 'base.html.twig' %}

{% block header %}DPE ouverts{% endblock %}

{% block content %}
    <h2 class="small-title mt-3">DPE ouverts</h2>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Mention</th>
                            <th>Parcours</th>
                            <th>Date demande</th>
                            <th>Niveau demande</th>
                            <th>Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for demande in demandes %}
                            <tr>
                                <td>{{ demande.formation.displayLong }}</td>
                                <td>
                                    {% if demande.niveauDemande == 'F' %}
                                       <span class="badge bg-info">Tous les parcours</span>
                                    {% else %}
                                        {{ demande.parcours != null ? demande.parcours.libelle : '' }}
                                    {% endif %}
                                </td>
                                <td>{{ demande.dateDemande|date('d/m/Y') }}</td>
                                <td>
                                    {{ demande.niveauModification|badgeEnum }} // {{ demande.niveauDemande }}</td>
                                <td>{{ demande.etatDemande }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">Aucune demande en attente</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
