{% extends 'base.html.twig' %}

{% block header %}Demandes Ouverture DPE{% endblock %}

{% block content %}
    <h2 class="small-title mt-3">Demandes en attente</h2>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Mention</th>
                            <th>Parcours</th>
                            <th>Date demande</th>
                            <th>Niveau demande</th>
                            <th>Etat</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for demande in demandes %}
                            <tr>
                                <td>{{ demande.formation.displayLong }}</td>
                                <td>
                                    {% if demande.niveauDemande == 'F' %}
                                       <span class="badge bg-info">Tous les parcours</span>
                                    {% else %}
                                        {{ demande.parcours != null ? demande.parcours.libelle : '' }}
                                    {% endif %}
                                </td>
                                <td>{{ demande.dateDemande|date('d/m/Y') }}</td>
                                <td>
                                    {{ demande.niveauModification|badgeEnum }} // {{ demande.niveauDemande }}</td>
                                <td>{{ demande.etatDemande }}</td>
                                <td>
                                    <a type="button" class="btn btn-sm btn-outline-success"
                                       href="">
                                        Accepter
                                    </a>
                                    <button class="btn btn-sm btn-outline-danger"
                                            type="button"
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                modalTitle: 'Refus de la demande de réouverture',
                                                modalUrl: path('app_validation_demande_reouverture', {
                                                    demande:demande.id,
                                                }) }) }}
                                            data-action="click->modal#openModal"
                                            data-controller="tooltip"
                                            data-tooltip-placement-value="bottom"

                                            aria-label="Refus de la demande de réouverture"
                                            data-bs-original-title="Refus de la demande de réouverture"
                                    >
                                        Refuser
                                    </button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">Aucune demande en attente</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
