<div>
    <button class="btn btn-outline-warning btn-sm"  {{ stimulus_action('plaquette', 'reset', 'click') }}>
        <i class="fal fa-undo"></i> Réinitialiser l'ordre des rubriques
    </button>
</div>

<ul class="list-group pt-1 pb-1 sortable">
    {% set place = 1 %}
    {% for key, rubrique in rubriques|filter(rubrique => rubrique != null) %}
        <li class="list-group-item d-flex justify-content-between">
            <div>
                <strong>{{ rubrique }}</strong> - {{ key|trans({}, 'communication') }}
            </div>
            <div>&nbsp;</div>
            <div>
{#                {% if rubrique == null %}#}
{#                <button class="btn btn-success btn-sm"#}
{#                        {{ stimulus_action('plaquette', 'show', 'click', {rubrique: key, place: loop.index }) }}#}
{#                        title="Afficher la rubrique"#}
{#                ><i class="fal fa-eye"></i></button>#}
{#                {% else %}#}
                    <button class="btn btn-danger btn-sm"
                            {{ stimulus_action('plaquette', 'hide', 'click', {rubrique: key }) }}
                            title="Masquer la rubrique"
                    ><i class="fal fa-eye-slash"></i></button>
{#                    {% endif %}#}

                <button class="btn btn-info btn-sm" {% if loop.first %}disabled{% endif %}
                        {{ stimulus_action('plaquette', 'up', 'click', {rubrique: key }) }}
                ><i class="fal fa-up"></i></button>
                <button class="btn btn-info btn-sm" {% if loop.last %}disabled{% endif %}
                        {{ stimulus_action('plaquette', 'down', 'click', {rubrique: key }) }}
                ><i class="fal fa-down"></i></button>
            </div>
        </li>
        {% set place = place + 1 %}
    {% endfor %}
</ul>

<ul class="list-group pt-1 pb-1 sortable">
    {% for key, rubrique in rubriques|filter(rubrique => rubrique == null) %}
        <li class="list-group-item d-flex justify-content-between">
            <div>
                <strong>
                    {{ rubrique == null ? 'Non affiché' : rubrique }}</strong> - {{ key|trans({}, 'communication') }}
            </div>
            <div>&nbsp;</div>
            <div>
{#                {% if rubrique == null %}#}
                    <button class="btn btn-success btn-sm"
                            {{ stimulus_action('plaquette', 'show', 'click', {rubrique: key, place: place }) }}
                            title="Afficher la rubrique"
                    ><i class="fal fa-eye"></i></button>
{#                {% else %}#}
{#                    <button class="btn btn-danger btn-sm"#}
{#                            {{ stimulus_action('plaquette', 'hide', 'click', {rubrique: key }) }}#}
{#                            title="Masquer la rubrique"#}
{#                    ><i class="fal fa-eye-slash"></i></button>#}
{#                {% endif %}#}

{#                <button class="btn btn-info btn-sm" {% if loop.first %}disabled{% endif %}#}
{#                        {{ stimulus_action('plaquette', 'up', 'click', {rubrique: key }) }}#}
{#                ><i class="fal fa-up"></i></button>#}
{#                <button class="btn btn-info btn-sm" {% if loop.last %}disabled{% endif %}#}
{#                        {{ stimulus_action('plaquette', 'down', 'click', {rubrique: key }) }}#}
{#                ><i class="fal fa-down"></i></button>#}
            </div>
        </li>
        {% set place = place + 1 %}
    {% endfor %}
</ul>
