<table class="table">
    <thead>
    <tr>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'nom',
                        'direction': getDirection('nom', sort, direction)
                    }) }}
            >
                Nom
                {{ displaySort('nom', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'prenom',
                        'direction': getDirection('prenom', sort, direction)
                    }) }}
            >
                Prénom
                {{ displaySort('prenom', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'email',
                        'direction': getDirection('email', sort, direction)
                    }) }}
            >
                Email
                {{ displaySort('email', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'username',
                        'direction': getDirection('email', sort, direction)
                    }) }}
            >
                Login URCA
                {{ displaySort('username', sort, direction) }}
            </a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users|filter(user => user.userProfils|length == 0) %}
        <tr>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.email|mailto }}</td>
            <td>{{ user.username }}</td>
            <td class="text-end">
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Voir un utilisateur',
                            modalUrl: path('app_user_show',{'id': user.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-info"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Voir un utilisateur"
                >
                    <i class="{{ iconShow }}"></i>
                    <span> Voir</span>
                </button>
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Gestion des profils de <strong>'~ user.display ~'</strong>',
                            modalUrl: path('app_user_profils_gestion',{'user': user.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-warning"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Gestion des profils de <strong>{{ user.display }}</strong>"
                >
                    <i class="{{ iconEdit }}"></i>
                    <span> Gestion des accès</span>
                </button>
                {% if is_granted('ROLE_ADMIN') %}
                    <button
                            {{ stimulus_controller('modal', {
                                size: 'lg',
                                modalTitle: 'Modifier un utilisateur',
                                modalUrl: path('app_user_edit',{'id': user.id}) }) }}
                            data-action="click->modal#openModal"
                            class="btn btn-sm text-warning"
                            data-size="lg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Modifier un utilisateur"
                    >
                        <i class="{{ iconEdit }}"></i>
                        <span> Modifier l'utilisateur</span>
                    </button>

                    <button {{ stimulus_action('crud', 'delete', 'click', {
                        url:path('app_user_delete',{'id': user.id}),
                        csrf: csrf_token('delete' ~ user.id)
                    }) }} class="btn btn-sm text-danger">
                        <i class="{{ iconDelete }}"></i> Supprimer
                    </button>
                {% endif %}
            </td>

        </tr>
    {% else %}
        <tr>
            <td colspan="7">Aucun utilisateur trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

