{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Login URCA</th>
                    <th>Service/fonctions</th>
                    <th>Centre(s) / Droits</th>
                    <th>Date demande</th>
                    <th>Validé DPE ?</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.serviceDemande }}</td>
                        <td>
                            {% for centre in user.userCentres %}
                                {{ centre|badgeCentre }}
                            {% endfor %}
                        </td>
                        <td>{{ user.dateDemande|dateTimeFr }}</td>
                        <td>
                            {% if user.composanteDemande != null %}
                                {% if user.isValidDpe %}
                                    <span class="badge bg-success">Oui
                                            ({{ user.dateValideDpe|dateTimeFr }})
                                        </span>
                                {% else %}
                                    <span class="badge bg-warning">Non ({{ user.composanteDemande.libelle }})</span>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-success">Etablissement</span>
                            {% endif %}
                        </td>
                        <td>
                            <button
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Voir les détails de l\'utilisateur',
                                        modalUrl: path('app_user_show_attente',{'id': user.id, 'dpe': dpe}) }) }}
                                    data-action="click->modal#openModal"
                                    class="btn btn-sm text-info"
                                    data-size="lg"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="Voir les détails de l\'utilisateur"
                            >
                                <i class="{{ iconShow }}"></i>
                                <span> voir et gérer</span>
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10" class="bg-success">Aucune demande en attente</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block header %}
    Demande d'accès en attente
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}

{% endblock %}

