<div {{ stimulus_controller('register', {
    urlComposante: path('api_composante'),
    urlFormation: path('api_formation'),
}) }}
        data-action="register:refreshModale@window->base#refreshModale"
>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.email) }}
        </div>
    </div>

    <div class="d-grid">
        <button class="btn btn-success"
                {{ stimulus_action('register','sauvegardeFormModal', 'click', {
                    url: path('app_user_new_ldap_valide')
                }) }}
        >
            <i class="fal fa-floppy-disk"></i>
            Ajouter l'utilisateur
        </button>
    </div>
    {{ form_end(form) }}
</div>
