{% extends 'base.html.twig' %}

{% block content %}
    {{ component('DataTable', { config: table }) }}
{% endblock %}

{% set header_title %}
    Répertoire des contacts
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Gestion des utilisateurs',
        },
        {
            href:'',
            title: 'Répertoire des contacts',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <div class="flex flex-wrap justify-end gap-2">
    {% if is_granted('ROLE_ADMIN') %}
        <twig:Button
                label="Ajouter un utilisateur hors URCA"
                variant="success"
                icon="icon:add"
                href="{{ path('app_user_new_hors_urca') }}"
                dataAction="click->modalturbo#open"
                tooltip="Ajouter un utilisateur hors URCA"
        />
        <twig:Button
                label="Ajouter un utilisateur depuis le LDAP"
                variant="success"
                icon="icon:add"
                href="{{ path('app_user_new_ldap') }}"
                dataAction="click->modalturbo#open"
                tooltip="Ajouter un utilisateur depuis le LDAP"
        />
    {% else %}
        <twig:Button
                label="Ajouter un utilisateur depuis le LDAP"
                variant="success"
                icon="icon:add"
                href="{{ path('app_user_new_ldap', {acces:'dpe'}) }}"
                dataAction="click->modalturbo#open"
                tooltip="Ajouter un utilisateur depuis le LDAP"
        />
    {% endif %}
    </div>
{% endblock %}
