<table class="table">
    <tbody>
    <tr>
        <th>Login URCA</th>
        {# todo: possibilité de mise à jour? bouton ldap  #}
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>Rôles</th>
        {# todo: liste case à cocher ? #}
        <td>{{ user.roles|badgeDroits }}</td>
    </tr>

    <tr>
        <th>Nom</th>
        <td>{{ user.nom }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ user.prenom }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
    </tr>
    </tbody>
</table>

{% if user.isEnable %}
    <button class="btn btn-outline-danger">
        Désactiver l'accès
    </button>
{% else %}
    {% if user.isValidDpe == false or user.isValideAdministration == false %}
        {% if user.isValidDpe == false %}
            <span class="badge bg-warning">Non valider par DPE</span>
        {% else %}
            <span class="badge bg-success">
            Valider par DPE le {{ user.dateValideDpe|dateTimeFr }}
            </span>
        {% endif %}
        <button class="btn btn-outline-success">
            Valider l'accès
        </button>
    {% else %}
        <button class="btn btn-outline-success">
            Réactiver l'accès
        </button>
    {% endif %}
{% endif %}
