<table class="table">
    <tbody>
    <tr>
        <th>Login URCA</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>Nom</th>
        <td>{{ user.nom }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ user.prenom }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <th>Téléphone fixe</th>
        <td>{{ user.telFixe }}</td>
    </tr>
    <tr>
        <th>Téléphone portable</th>
        <td>{{ user.telPortable }}</td>
    </tr>

    </tbody>
</table>

{% if user.isEnable and is_granted('ROLE_SES') %}
    <a href="{{ path('app_user_gestion_revoque_admin', {user:user.id}) }}" class="btn btn-outline-danger">
        Désactiver l'accès
    </a>
{% endif %}

