{% if ec.typeMccc.isDifferent == true %}
    <h5> > {{  ued }} | {{ ec.code.new }} - {{ ec.libelle.new }} : Modification du type de MCCC :
        {{ ec.typeMccc|diffNewOriginal }}</h5>
    <p>Nouvelles MCCC : {{ ec.mcccs }}</p>
    {% else %}
    {% if ec.mcccs != '' %}
        <p><strong>{{ ec.code.new }} - {{ ec.libelle.new }}</strong> : Modification des MCCC</p>
        <p>{{ ec.mcccs }}</p>
        {% endif %}
{% endif %}
