{#<h4>Bilan Semestre {{ ordre }}</h4>#}
{% if heuresEctsSemestre.sommeSemestreEcts.isDifferent == true %}
    <p>
        Modification du total des ECTS du semestre {{ ordre }}
        <span class="diff-new">{{ heuresEctsSemestre.sommeSemestreEcts.new }} ECTS</span> (au lieu de
        <span class="diff-original">{{ heuresEctsSemestre.sommeSemestreEcts.original }} ECTS</span>)</p>
{% endif %}

{#{% if heuresEctsSemestre.sommeSemestreCmPres.isDifferent == true or#}
{#    heuresEctsSemestre.sommeSemestreTdPres.isDifferent == true or#}
{#    heuresEctsSemestre.sommeSemestreTpPres.isDifferent == true#}
{#%}#}
{#    <p>Modification du total des heures présentielles du semestre {{ ordre }}, Soit un total présentiel de {{ heuresEctsSemestre.sommeSemestreTotalPres|diffNewOriginal }}</p>#}
{#{% endif %}#}

{#{% if heuresEctsSemestre.sommeSemestreCmDist.isDifferent == true or#}
{#    heuresEctsSemestre.sommeSemestreTdDist.isDifferent == true or#}
{#    heuresEctsSemestre.sommeSemestreTpDist.isDifferent == true#}
{#%}#}
{#    <p>Modification du total des heures du semestre {{ ordre }}, soit un total distanciel de {{ heuresEctsSemestre.sommeSemestreTotalDist|diffNewOriginal }}</p>#}
{#{% endif %}#}

{#{% if heuresEctsSemestre.sommeSemestreTotalPresDist.isDifferent == true %}#}
{#    <p>Modification du total des heures totales (pres. et dist.) du semestre {{ ordre }} :#}
{#        {{ heuresEctsSemestre.sommeSemestreTotalPresDist|diffNewOriginal }}</p>#}
{#{% endif %}#}
