<p>
    Nombre d'ECTS du semestre {{ ordre }} : <strong>{{ heuresEctsSemestre.sommeSemestreEcts.new }} ECTS</strong>
</p>


{# {% if heuresEctsSemestre.sommeSemestreCmPres.isDifferent == true or #}
{#    heuresEctsSemestre.sommeSemestreTdPres.isDifferent == true or #}
{#    heuresEctsSemestre.sommeSemestreTpPres.isDifferent == true #}
{# %} #}
{#    <p>Modification du total des heures présentielles du semestre {{ ordre }}, Soit un total présentiel de {{ heuresEctsSemestre.sommeSemestreTotalPres|diffNewOriginal }}</p> #}
{# {% endif %} #}

{# {% if heuresEctsSemestre.sommeSemestreCmDist.isDifferent == true or #}
{#    heuresEctsSemestre.sommeSemestreTdDist.isDifferent == true or #}
{#    heuresEctsSemestre.sommeSemestreTpDist.isDifferent == true #}
{# %} #}
{#    <p>Modification du total des heures du semestre {{ ordre }}, soit un total distanciel de {{ heuresEctsSemestre.sommeSemestreTotalDist|diffNewOriginal }}</p> #}
{# {% endif %} #}

{# {% if heuresEctsSemestre.sommeSemestreTotalPresDist.isDifferent == true %} #}
{#    <p>Modification du total des heures totales (pres. et dist.) du semestre {{ ordre }} : #}
{#        {{ heuresEctsSemestre.sommeSemestreTotalPresDist|diffNewOriginal }}</p> #}
{# {% endif %} #}
