<h4>Bilan UE {{ ue.display.new }}</h4>
{% if heuresEctsUe.sommeUeEcts.isDifferent == true %}
    <p>Modification du total des ECTS de l'UE {{ ue.display.new }} :
        {{ heuresEctsUe.sommeUeEcts|diffNewOriginal }}</p>
{% endif %}

{% if heuresEctsUe.sommeUeCmPres.isDifferent == true or
    heuresEctsUe.sommeUeTdPres.isDifferent == true or
    heuresEctsUe.sommeUeTpPres.isDifferent == true
%}
    <p>Modification du total des heures présentielles de l'ue : CM : {{ heuresEctsUe.sommeUeCmPres|diffNew }} heures, TD : {{ heuresEctsUe.sommeUeTdPres|diffNew }} heures, TP : {{ heuresEctsUe.sommeUeTpPres|diffNew }} heures (au lieu de : CM : {{ heuresEctsUe.sommeUeCmPres|diffOriginal }} heures, TD : {{ heuresEctsUe.sommeUeTdPres|diffOriginal }} heures, TP : {{ heuresEctsUe.sommeUeTpPres|diffOriginal }} heures). Soit un total présentiel de {{ heuresEctsUe.sommeUeTotalPres|diffNewOriginal }}</p>
{% endif %}

{% if heuresEctsUe.sommeUeCmDist.isDifferent == true or
    heuresEctsUe.sommeUeTdDist.isDifferent == true or
    heuresEctsUe.sommeUeTpDist.isDifferent == true
%}
    <p>Modification du total des heures du semestre {{ ordre }} : CM : {{ heuresEctsUe.sommeUeCmDist|diffNew }} heures, TD : {{ heuresEctsUe.sommeUeTdDist|diffNew }} heures, TP : {{ heuresEctsUe.sommeUeTpDist|diffNew }} heures (au lieu de : CM : {{ heuresEctsUe.sommeUeCmDist|diffOriginal }} heures, TD : {{ heuresEctsUe.sommeUeTdDist|diffOriginal }} heures, TP : {{ heuresEctsUe.sommeUeTpDist|diffOriginal }} heures). Soit un total distanciel de {{ heuresEctsUe.sommeUeTotalDist|diffNewOriginal }}</p>
{% endif %}

{% if heuresEctsUe.sommeUeTotalPresDist.isDifferent == true %}
    <p>Modification du total des heures totales (pres. et dist.) de l'UE :
        {{ heuresEctsUe.sommeUeTotalPresDist|diffNewOriginal }}</p>
{% endif %}
