{{ component('alerte', {
    type: 'info',
    message: ('deposer.fichier.valide.alerte')|trans({}, 'process')|nl2br|raw
}) }}

<form action="{{ path('app_deposer_pv_conseil', {parcours:parcours.id}) }}" method="post"
      enctype="multipart/form-data">
    <div>
        <label for="file" class="form-label">{{ ('valide.deposer.fichier.label')|trans({}, 'process') }} <i
                    class="fal fa-question-circle ms-1"
                    data-controller="tooltip"
                    data-tooltip-placement-value="bottom"
                    aria-label="{{ ('valide.deposer.helps.fichier.help')|trans({}, 'process') }}"
                    data-bs-original-title="{{ ('valide.deposer.helps.fichier.help')|trans({}, 'process') }}"></i></label>
        <input type="file" name="file" id="file" accept="application/pdf" class="form-control">
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-success"
                {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
        >
            <i class="fal fa-floppy-disk"></i>
            {{ ('btn.deposer.valide')|trans({}, 'process') }}
        </button>
    </div>
</form>
