<div class="mt-2" {{ stimulus_controller('fichematiere--step3', {
    url: path('app_element_constitutif_bcc', {id:ec.id, parcours: parcours.id}),
    updateStep: false
}) }}>
    {% for bcc in bccs %}
        <div class=" mb-2">
            <input type="checkbox" name="ec[bccs][]" value="{{ bcc.id }}" id="bcc_{{ bcc.id }}"
                   {% if ecBccs[bcc.id] is defined %}checked{% endif %}
                    {{ stimulus_action('fichematiere--step3', 'changeBcc', 'change', {id:bcc.id}) }}
            >
            <label for="bcc_{{ bcc.id }}"><strong>{{ bcc.display }}</strong></label>
            <div id="bcc_{{ bcc.id }}_competence" class="{% if ecBccs[bcc.id] is not defined %}d-none {%
                endif %} mb-2 ms-3">
                {% for competence in bcc.competences %}
                    <div>
                        <input type="checkbox" name="ec[competences][]"
                               {% if ecComps[competence.id] is defined %}checked{% endif %}
                               value="{{ competence.id }}"
                               id="competence_{{ competence.id }}"
                               class="bcc_{{ bcc.id }}"
                                {{ stimulus_action('fichematiere--step3', 'changeCompetence', 'change', {id:competence.id}) }}
                        >
                        <label for="competence_{{ competence.id }}">{{ competence.display }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {{ component('alerte', {
            type: 'warning',
            message: 'fiche_matiere.alerte.no_bcc'|trans({}, 'form')
        }) }}
    {% endfor %}
</div>
