<h2>MCCC pour {{ ec.ficheMatiere != null ? ec.ficheMatiere.libelle : ec.libelle }}</h2>
<form method="post"
        {{ stimulus_controller('ec--mccc', {
            urlUpdate: path('app_parcours_ec_update'),
        }) }}
      action="{{ path('app_element_constitutif_mccc', {id:ec.id, parcours:parcours.id}) }}" {{ stimulus_controller('ec--mccc') }}>
    {% if typeDiplome.libelleCourt != 'BUT' %}
        {% if isParcoursProprietaire == false %}
            <div class="alert alert-info">
                <div class="row">
                    {% if isMcccImpose == false and isEctsImpose == false %}
                        <div class="col-12">
                            <p>Cet EC est raccroché, par défaut, les données sont celles de l'EC d'origine issue du
                                parcours
                                <strong>{{ ec.parcours != null ? ec.parcours.display : '-non précisé-' }}</strong>
                            </p>{# todo: Si UE ou Semestre raccroché mettre le modal non editable et impossible spécifique #}
                        </div>
                        <div class="col-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox"
                                       id="ectsSpecifiques"
                                       name="ectsSpecifiques"
                                        {{ stimulus_action('ec--mccc', 'ectsSpecifiques', 'change', {
                                            ec:ec.id
                                        }) }}
                                        {% if ec.ectsSpecifiques == true %}checked{% endif %}
                                >
                                <label class="form-check-label"
                                       for="ectsSpecifiques"> ECTS spécifiques pour cet EC dans ce parcours
                                    <i class="fal fa-question-circle ms-1" data-controller="tooltip"
                                       data-tooltip-placement-value="bottom"
                                       title="{{ 'parcours_ec.helps.ectsSpecifiques'|trans({}, 'help') }}"></i>
                                </label>
                            </div>

                        </div>

                        <div class="col-6">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox"
                                       id="mcccSpecifiques"
                                       name="mcccSpecifiques"
                                        {{ stimulus_action('ec--mccc', 'mcccSpecifiques', 'change', {
                                            ec:ec.id
                                        }) }}
                                        {% if ec.mcccSpecifiques == true %}checked{% endif %}
                                >
                                <label class="form-check-label"
                                       for="mcccSpecifiques"> MCCC spécifiques pour cet EC dans ce parcours
                                    <i class="fal fa-question-circle ms-1" data-controller="tooltip"
                                       data-tooltip-placement-value="bottom"
                                       title="{{ 'parcours_ec.helps.mcccSpecifiques'|trans({}, 'help') }}"></i>
                                </label>
                            </div>
                        </div>
                    {% else %}
                        {% if isEctsImpose == true %}
                            Les ECTS sont imposés par la fiche matière. Les données ne sont pas modifiables.
                        {% endif %}
                        {% if isMcccImpose == true %}
                            Les MCCC sont imposées par la fiche matière. Les données ne sont pas modifiables.
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if (ec.ecParent == null and isEctsImpose == false) or (isParcoursProprietaire == true and ec.ecParent == null) %}
            {# Uniquement sur le parent. #}
            <div class="mb-2">
                <label for="ec_step4_ects" class="form-label">
                    {{ 'ec_step4.labels.ects'|trans({}, 'form') }}
                    <span class="required"></span>
                    <i class="fal fa-question-circle ms-1" data-controller="tooltip"
                       data-tooltip-placement-value="bottom"
                       title="{{ 'ec_step4.helps.ects'|trans({}, 'help') }}"></i>
                </label>
                <div class="input-group">
                    <input type="number" id="ec_step4_ects" name="ec_step4[ects]"
                           {% if isParcoursProprietaire == false and ec.ectsSpecifiques == false %}disabled{% endif %}
                           value="{{ ects }}" min="0" max="60"
                           required="required" step="any" class="form-control">
                </div>
            </div>
        {% else %}
            <div class="mb-2">
                <label for="ec_step4_ects" class="form-label">
                    {{ 'ec_step4.labels.ects'|trans({}, 'form') }}
                    <span class="required"></span>
                    <i class="fal fa-question-circle ms-1" data-controller="tooltip"
                       data-tooltip-placement-value="bottom"
                       title="{{ 'ec_step4.helps.ects'|trans({}, 'help') }}"></i>
                </label>
                <div class="input-group">
                    <input type="number" id="ec_step4_ects" name="ec_step4[ects]"
                           disabled
                           value="{{ ects }}" min="0" max="60"
                           required="required" step="any" class="form-control">
                </div>
            </div>
            {% if ec.ecParent != null and isEctsImpose == false %}
                <p>Les ECTS sont fixés par l'EC parent</p>
            {% elseif isEctsImpose %}
                <p>Les ECTS sont imposés par la fiche EC/matière</p>
            {% endif %}
        {% endif %}

        {% if isMcccImpose == false %}
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="ec_step4_quitus" name="ec_step4[quitus]"
                       {% if isParcoursProprietaire == false and ec.ectsSpecifiques == false %}disabled{% endif %}
                        {% if ec.quitus == true %}checked{% endif %}
                >
                <label class="form-check-label" for="ec_step4_quitus"> {{ 'ec_step4.labels.quitus'|trans({}, 'form') }}
                    <i
                            class="fal fa-question-circle ms-1" data-controller="tooltip"
                            data-tooltip-placement-value="bottom"
                            title="{{ 'ec_step4.helps.quitus'|trans({}, 'help') }}"></i></label>
            </div>
        {% endif %}

        {% if typeDiplome.controleAssiduite == true %}
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="ec_step4_controleAssiduite"
                       name="ec_step4[controleAssiduite]"
                        {{ stimulus_action('ec--mccc', 'controleAssiduite', 'change', {
                            ec:ec.id
                        }) }}
                        {% if isParcoursProprietaire == false and ec.ectsSpecifiques == false %}disabled{% endif %}
                        {% if ec.controleAssiduite == true %}checked{% endif %}
                >
                <label class="form-check-label"
                       for="ec_step4_controleAssiduite"> {{ 'ec_step4.labels.controleAssiduite'|trans({}, 'form') }}
                    <i
                            class="fal fa-question-circle ms-1" data-controller="tooltip"
                            data-tooltip-placement-value="bottom"
                            title="{{ 'ec_step4.helps.controleAssiduite'|trans({}, 'help') }}"></i></label>
            </div>
        {% endif %}
    {% endif %}

    {% if ec.ecEnfants|length > 0 and isMcccImpose == false %}
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="ec_step4_mccc_enfants_identique"
                   name="ec_step4[mcccEnfantsIdentique]"
                   {% if ec.mcccEnfantsIdentique == true %}checked{% endif %}
            >
            <label class="form-check-label"
                   for="ec_step4_mccc_enfants_identique"> {{ 'ec_step4.labels.mccc_enfants_identique'|trans({}, 'form') }}
                <i class="fal fa-question-circle ms-1" data-controller="tooltip" data-tooltip-placement-value="bottom"
                   title="{{ 'ec_step4.helps.mccc_enfants_identique'|trans({}, 'help') }}"></i></label>
        </div>
    {% endif %}

    {% if ec.ecParent != null and isMcccImpose == false %}
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="ec_step4_mccc_enfants_identique"
                   name="ec_step4[mcccEnfantsIdentique]"
                   {% if ec.ecParent.mcccEnfantsIdentique == true %}checked{% endif %}
            >
            <label class="form-check-label"
                   for="ec_step4_mccc_enfants_identique"> {{ 'ec_step4.labels.mccc_enfants_identique_parent'|trans({}, 'form') }}
                <i class="fal fa-question-circle ms-1" data-controller="tooltip" data-tooltip-placement-value="bottom"
                   title="{{ 'ec_step4.helps.mccc_enfants_identique_parent'|trans({}, 'help') }}"></i></label>
        </div>
    {% endif %}

    {% if ((ec.natureUeEc != null and ec.natureUeEc.isLibre == false) or ec.natureUeEc == null) %}
        {{ include('typeDiplome/mccc/'~templateForm, {
            raccroche: ec.mcccSpecifiques == false and raccroche,
        }) }}
    {% endif %}

    <button type="submit" class="btn btn-success"
            {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
    >
        <i class="fal fa-floppy-disk"></i>
        Enregistrer
    </button>

    {{ component('alerte', {type:"info", message:'tous les champs avec un <span class="text-red">*</span> sont
obligatoires'}) }}
</form>

