<h2>MCCC pour {{ ec.ficheMatiere != null ? ec.ficheMatiere.libelle : ec.texteEcLibre }}</h2>
<form method="post" action="{{ path('app_element_constitutif_mccc', {id:ec.id}) }}" {{ stimulus_controller('ec--structureparcours') }}>
    <div class="mb-2">
        <label for="ec_step4_ects" class="form-label">
        {{ 'ec_step4.labels.ects'|trans({}, 'form')}}
            <span class="required"></span>
            <i class="fal fa-question-circle ms-1" data-controller="tooltip" data-tooltip-placement-value="bottom"
               title="{{ 'ec_step4.helps.ects'|trans({}, 'help')}}"></i>
        </label>
        <div class="input-group">
            <input type="number" id="ec_step4_ects" name="ec_step4[ects]"
                   value="{{ ec.ects }}" min="0" max="60"
                   required="required" data-action="" step="any" class="form-control">
        </div>
    </div>

    {{ include('typeDiplome/mccc/'~templateForm) }}
    <button type="submit" class="btn btn-success"
            {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
    >
        <i class="fal fa-floppy-disk"></i>
        Enregistrer
    </button>

    {{ component('alerte', {type:"info", message:'tous les champs avec un <span class="text-red">*</span> sont
obligatoires'}) }}
</form>

