<h2>MCCC pour {{ ficheMatiere.libelle }}</h2>
<form method="post"
      action="{{ path('app_element_constitutif_mccc_but', {id:ficheMatiere.id}) }}" {{ stimulus_controller('ec--mccc') }}>

    {{ include('typeDiplome/mccc/'~templateForm) }}

    <button type="submit" class="btn btn-success"
            {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
    >
        <i class="fal fa-floppy-disk"></i>
        Enregistrer
    </button>

    {{ component('alerte', {type:"info", message:'tous les champs avec un <span class="text-red">*</span> sont
obligatoires'}) }}
</form>

