<div>
    {% if ec.modaliteEnseignement == null %}
        {{ component('alerte', {type:'danger', message:'Informations sur les modalités d\'enseignement non
        renseignées.'}) }}
    {% else %}

        <dl>
            <dt>Modalités d'enseignement</dt>
            <dd>{{ ec.modaliteEnseignement.libelle }}</dd>
        </dl>
        <dl>
            <dt>ECTS</dt>
            <dd>{{ ects }}</dd>
        </dl>
        {% if ec.modaliteEnseignement.value != 2 %} {# todo: utile ? peut être différent du parcours ? #}
            <h3>Volume Présentiel</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>CM</th>
                    <th>TD</th>
                    <th>TP</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ ec.volumeCmPresentiel }}</td>
                    <td>{{ ec.volumeTdPresentiel }}</td>
                    <td>{{ ec.volumeTpPresentiel }}</td>
                </tr>
                </tbody>
            </table>
        {% else %}
            {{ component('alerte', {type:'info', message:'Formation proposée uniquement en distanciel'}) }}
        {% endif %}
        {% if ec.modaliteEnseignement.value != 0 %}
            <h3 class="mt-2">Volume Distanciel</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>CM</th>
                    <th>TD</th>
                    <th>TP</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ ec.volumeCmDistanciel }}</td>
                    <td>{{ ec.volumeTdDistanciel }}</td>
                    <td>{{ ec.volumeTpDistanciel }}</td>
                </tr>
                </tbody>
            </table>
        {% else %}
            {{ component('alerte', {type:'info', message:'Formation proposée uniquement en présentiel'}) }}
        {% endif %}
    {% endif %}
</div>
