<h2>Volumes horaires pour : {{ ficheMatiere.display }}</h2>

{% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_start(form) }}

<div class="row">
    <div class="col-4">
        {{ form_row(form.volumeCmPresentiel) }}
    </div>
    <div class="col-4">
        {{ form_row(form.volumeTdPresentiel) }}
    </div>
    <div class="col-4">
        {{ form_row(form.volumeTpPresentiel) }}
    </div>
</div>
{% if ficheMatiere.typeMatiere == 'sae' %}
    <div class="row">
        <div class="col-4">
            {{ form_row(form.volumeTe) }}
        </div>
        <div class="col-8"></div>
    </div>
{% endif %}

<button type="submit" class="btn btn-success"
        {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
>
    <i class="fal fa-floppy-disk"></i>
    Enregistrer
</button>

{{ component('alerte', {type:"info", message:'tous les champs avec un <span class="text-red">*</span> sont
obligatoires'}) }}
    {{ form_end(form) }}
