<div {{ stimulus_controller('ec--structure', {
    urlSave: path('app_ec_save', {ec: ec.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.modaliteEnseignement) }} {# todo: utile ? peut être différent du parcours ? #}
    {{ form_row(form.ects) }}

    {% if ec.parcours.modalitesEnseignement.value == 0 or ec.parcours.modalitesEnseignement.value == 1 %}
    <h3>Volume Présentiel</h3>
    <div class="row">
        <div class="col-4">{{ form_row(form.volumeCmPresentiel) }}</div>
        <div class="col-4">{{ form_row(form.volumeTdPresentiel) }}</div>
        <div class="col-4">{{ form_row(form.volumeTpPresentiel) }}</div>
    </div>
    {% endif %}

    {% if ec.parcours.modalitesEnseignement.value == 2 or ec.parcours.modalitesEnseignement.value == 1 %}
    <h3>Volume Distanciel</h3>
    <div class="row">
        <div class="col-4">{{ form_row(form.volumeCmDistanciel) }}</div>
        <div class="col-4">{{ form_row(form.volumeTdDistanciel) }}</div>
        <div class="col-4">{{ form_row(form.volumeTpDistanciel) }}</div>
    </div>
    {% endif %}

    <div class="alert alert-info mt-2">
        tous les champs avec un <span class="text-red">*</span> sont obligatoires
    </div>
    {{ form_end(form) }}
</div>
