<div {{ stimulus_controller('ec--structure', {
    urlSave: path('app_ec_save', {ec: ec.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_start(form) }}
    {{ include('element_constitutif/_structure_ec_formulaire.html.twig') }}

    {{ component('alerte', {type:"info", message:'tous les champs avec un <span class="text-red">*</span> sont
obligatoires'}) }}
    {{ form_end(form) }}
    {% if validateStep is defined and validateStep == true %}
        <div class="alert {% if ec.getEtatStep(4) %}alert-success{% else %}alert-warning{% endif %} mt-2">
            <input type="checkbox"
                   id="etatStructure"
                   class="form-check-inline"
                   {% if ec.getEtatStep(4) %}checked{% endif %}
                    {{ stimulus_action('ec--structure', 'calculEtatStep', 'change') }}

            ><label for="etatStructure">
                Cochez cette case si vous avez terminé ...</label>
        </div>
    {% endif %}
</div>
