<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <dl>
                    <dt>Elément Constitutif</dt>
                    <dd>{{ ec.libelle }}</dd>
                    <dt>Formation/mention</dt>
                    <dd></dd>
                </dl>
            </div>
            <div class="col-6">
                <dl>
                    <dt>Semestre</dt>
                    <dd>{{ ec.ecUes[0].ue != null ? (ec.ecUes[0].ue.semestre !=null ? ec.ecUes[0].ue.semestre.display : '<span class="badge
                    bg-danger">Erreur !</span>')
                        : '<span class="badge bg-danger">Erreur !</span>' }}</dd>
                    <dt>UE</dt>
                    <dd>{{ ec.ecUes[0].ue != null ? ec.ecUes[0].ue.display : '<span class="badge bg-danger">Erreur !</span>'
                        }}</dd>
                </dl>
            </div>
            <div class="col-12">
                <strong>Reponsable de l'EC :</strong><br>
                {% if ec.responsableEc != null %}
                    {{ ec.responsableEc.display }}<br>
                    <a href="mailto:{{ ec.responsableEc.email }}">{{ ec.responsableEc.email }}</a>
                {% else %}
                    <span class="badge bg-danger">Erreur !</span>
                {% endif %}
            </div>
        </div>

    </div>
</div>
