<input type="hidden" id="element_constitutif_choixEc" value="false">

<label for="ficheMatiere" class="form-label">{{ 'ec_manage.labels.fiche_matiere_unique.label'|trans({}, 'form') }}
    <i class="fal fa-question-circle ms-1"
       data-controller="tooltip"
       data-tooltip-placement-value="bottom"
       aria-label="{{ 'ec_manage.helps.fiche_matiere_unique.help'|trans({}, 'help') }}"
       data-bs-original-title="{{ 'ec_manage.helps.fiche_matiere_unique.help'|trans({}, 'help') }}"></i>
</label>
<select id="ficheMatiere" name="ficheMatiere" class="form-select">
    <option value="">Choisir dans la liste une fiche EC/matière</option>
    {% for matiere in matieres %}
        <option value="id_{{ matiere.id }}">{{ matiere.display }}</option>
    {% endfor %}
</select>
OU
<div class="mt-2">
    <label for="ficheMatiereLibelle" class="form-label">
        {{ 'ec_manage.labels.fiche_matiere_libelle_unique.label'|trans({}, 'form') }}
        <i class="fal fa-question-circle ms-1"
           data-controller="tooltip"
           data-tooltip-placement-value="bottom"
           aria-label="{{ 'ec_manage.helps.fiche_matiere_libelle_unique.help'|trans({}, 'help') }}"
           data-bs-original-title="{{ 'ec_manage.helps.fiche_matiere_libelle_unique.help'|trans({}, 'help') }}"></i>
    </label>
    <input type="text" id="ficheMatiereLibelle" name="ficheMatiereLibelle" class="form-control">
    <button class="btn btn-primary mt-2" {{ stimulus_action('ec--manage', 'nouvelleFiche') }}>
        Créer la fiche EC/matière
    </button>
</div>
