<input type="hidden" id="element_constitutif_choixEc" value="true">
<div class="mt-2">
    <label for="ficheMatiereLibre" class="form-label">
        {{ 'ec_manage.labels.fiche_matieres_libelle_choix.label'|trans({}, 'form') }}
        <i class="fal fa-question-circle ms-1"
           data-controller="tooltip"
           data-tooltip-placement-value="bottom"
           aria-label="{{ 'ec_manage.helps.fiche_matieres_libelle_choix.help'|trans({}, 'help') }}"
           data-bs-original-title="{{ 'ec_manage.helps.fiche_matieres_libelle_choix.help'|trans({}, 'help') }}"></i>
    </label>
    <textarea maxlength="255" type="text" id="ficheMatiereLibre" name="ficheMatiereLibre"
              class="form-control"></textarea>
</div>

<table class="table" id="tableFiches">
    <thead>
    <tr>
        <th>
            Fiche(s) EC/matière raccrochée(s)
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    {% if ec != null %}
        {% for ecEnfant in ec.ecEnfants|filter(ecEnfant => ecEnfant.ficheMatiere != null) %}
            <tr>
                <td data-id="id_{{ ecEnfant.ficheMatiere.id }}">
                    {{ ecEnfant.display }}
                </td>
                <td>
                    <button class="btn text-danger"
                            {{ stimulus_action('ec--manage', 'removeEcEnfant', 'click', {ecEnfant: ecEnfant.id,
                                fichematiere:ecEnfant.ficheMatiere.id}) }}
                    ><i class="fas fa-trash"></i> Supprimer
                    </button>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

<div id="modele_matiere">
    <div>
        <label for="ficheMatiere"
               class="form-label">{{ 'ec_manage.labels.fiche_matiere_multiple.label'|trans({}, 'form') }}
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'ec_manage.helps.fiche_matiere_multiple.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'ec_manage.helps.fiche_matiere_multiple.help'|trans({}, 'help') }}"></i>
        </label>
        <select id="ficheMatiere" name="ficheMatiere" class="form-select">
            <option value="">Choisir dans la liste une fiche EC/matière</option>
            {% for matiere in matieres %}
                <option value="{{ matiere.id }}">{{ matiere.display }}</option>
            {% endfor %}
        </select>
        <button {{ stimulus_action('ec--manage', 'addFromListe') }} class="btn btn-primary mt-2">
            Ajouter la fiche EC/matière sélectionnée
        </button>
    </div>
    OU
    <div class="mt-2">
        <label for="ficheMatiereLibelle" class="form-label">
            {{ 'ec_manage.labels.fiche_matiere_libelle_multiple.label'|trans({}, 'form') }}
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'ec_manage.helps.fiche_matiere_libelle_multiple.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'ec_manage.helps.fiche_matiere_libelle_multiple.help'|trans({}, 'help') }}"></i>
        </label>
        <input type="text" id="ficheMatiereLibelle" name="ficheMatiereLibelle" class="form-control"
               placeholder="Saisir le libellé d'une fiche EC/matière">

        <button {{ stimulus_action('ec--manage', 'addNewFiche') }} class="btn btn-primary mt-2">
            Créer et ajouter la fiche EC/matière
        </button>
    </div>
</div>


