<div {{ stimulus_controller('ec--manage', {
    url:path('app_element_constitutif_type_ec', {ue:ue.id, parcours:parcours.id}),
    ue:ue.id,
    parcours:parcours.id,
}) }}
        data-action="ec--manage:modalHide@window->base#modalHide"
>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_start(form, {
        'attr': {
            'id': 'formEc'}
    }) }}

    <div>
        {{ form_row(form.typeEc, {'row_attr' : {'id' : 'typeUe' }}) }}
        <button class="btn text-info"
                {{ stimulus_action('ec--manage','ajoutTypeEc', 'click') }}
        >
            <i class="{{ iconAdd }}"></i>
            Absent de la liste, ajouter un type d'EC
        </button>
    </div>

    {{ form_row(form.typeEcTexte, {'row_attr' : {'class' : 'd-none', 'id' : 'typeEcTexte' }, 'attr' :
        {'data-action' : 'keyup->ec--manage#changeTypeEcTexte'}}) }}

    {{ form_row(form.natureUeEc) }}


    <div {{ stimulus_target('ec--manage', 'matieres') }}></div>

    <button class="btn btn-success mt-2"
            {{ stimulus_action('ec--manage', 'valider') }}
    >
        <i class="fal fa-floppy-disk"></i>
        Enregistrer
    </button>

    {{ component('alerte', {type:"info", message:'tous les champs avec un <span class="text-red">*</span> sont
obligatoires'}) }}
    {{ form_end(form) }}
</div>
