{% extends 'base.html.twig' %}

{% block content %}
    {{ include('element_constitutif/_synthese_ec.html.twig') }}
    <div class="mt-3"
            {{ stimulus_controller('ec_wizard', {
                url: path('app_ec_wizard'),
                step: 'step_1',
                ec: ec.id,
            }) }}
    >

        <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#" role="tab" aria-selected="true"
                        {{ stimulus_action('ec_wizard', 'changeStep', 'click', {step: 1}) }}
                >
                    Identité de l'enseignement
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#" role="tab"
                        {{ stimulus_action('ec_wizard', 'changeStep', 'click', {step: 2}) }}
                   aria-selected="false">Présentation</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#" role="tab" aria-selected="false"
                        {{ stimulus_action('ec_wizard', 'changeStep', 'click', {step: 3}) }}
                >Objectifs et Compétences</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#" role="tab" aria-selected="false"
                        {{ stimulus_action('ec_wizard', 'changeStep', 'click', {step: 4}) }}
                >Structure et organisation pédagogiques</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#" role="tab" aria-selected="false"
                        {{ stimulus_action('ec_wizard', 'changeStep', 'click', {step: 5}) }}
                >Modalités de contrôle des connaissances</a>
            </li>


            <!-- An empty list to put overflowed links -->
            <li class="nav-item dropdown ms-auto pe-0 d-none responsive-tab-dropdown">
                <a
                        class="btn btn-icon btn-icon-only btn-background pt-0 bg-transparent pe-0"
                        href="#"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i data-acorn-icon="more-horizontal"></i>
                </a>
                <ul class="dropdown-menu mt-2 dropdown-menu-end"></ul>
            </li>
        </ul>

        <div class="card mb-5">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="step_1" role="tabpanel" {{ stimulus_target
                        ('ec_wizard', 'content') }}>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    Modification de l'élément constitutif <strong>{{ ec.libelle }}</strong>
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('structure_ec_index'), title: 'Liste des ecs'},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    {# todo: redigier selon la source ? #}
    <a href="{{ path('structure_ec_index') }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour à la liste des ecs"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la liste des ecs</span>
    </a>
{% endblock %}
