{% extends 'base.html.twig' %}

{% block title %}ElementConstitutif{% endblock %}

{% block body %}
    <h1>ElementConstitutif</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ element_constitutif.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ element_constitutif.libelle }}</td>
            </tr>
            <tr>
                <th>LibelleAnglais</th>
                <td>{{ element_constitutif.libelleAnglais }}</td>
            </tr>
            <tr>
                <th>EnseignementMutualise</th>
                <td>{{ element_constitutif.enseignementMutualise ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ element_constitutif.description }}</td>
            </tr>
            <tr>
                <th>Objectifs</th>
                <td>{{ element_constitutif.objectifs }}</td>
            </tr>
            <tr>
                <th>ModaliteEnseignement</th>
                <td>{{ element_constitutif.modaliteEnseignement }}</td>
            </tr>
            <tr>
                <th>Ects</th>
                <td>{{ element_constitutif.ects }}</td>
            </tr>
            <tr>
                <th>VolumeCmPresentiel</th>
                <td>{{ element_constitutif.volumeCmPresentiel }}</td>
            </tr>
            <tr>
                <th>VolumeTdPresentiel</th>
                <td>{{ element_constitutif.volumeTdPresentiel }}</td>
            </tr>
            <tr>
                <th>VolumeTpPresentiel</th>
                <td>{{ element_constitutif.volumeTpPresentiel }}</td>
            </tr>
            <tr>
                <th>VolumeCmDistanciel</th>
                <td>{{ element_constitutif.volumeCmDistanciel }}</td>
            </tr>
            <tr>
                <th>VolumeTdDistanciel</th>
                <td>{{ element_constitutif.volumeTdDistanciel }}</td>
            </tr>
            <tr>
                <th>VolumeTpDistanciel</th>
                <td>{{ element_constitutif.volumeTpDistanciel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_element_constitutif_index') }}">back to list</a>

    <a href="{{ path('app_element_constitutif_edit', {'id': element_constitutif.id}) }}">edit</a>

    {{ include('element_constitutif/_delete_form.html.twig') }}
{% endblock %}
