<div class="card-body">
    <table class="table" {{ stimulus_controller('check_all') }}>
        <thead>
        <tr>
            <th>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="check-all" {{ stimulus_action('check_all', 'checkAll') }} >
                        <span class="total"></span>
                    </label>
                </div>
            </th>
            <th>
                Type de diplôme
            </th>
            <th>
                Libellé formation
            </th>
            <th>
                Libellé parcours
            </th>
            <th>
                Remplissage
            </th>
            <th>
                Etat
            </th>
        </tr>
        </thead>
        <tbody>
        {% for dpe in dpes %}
            {% set parcours = dpe.parcours %}
            {% set formation = parcours.formation %}
            <tr>
                <td>
                    <div class="checkbox">
                        <label>
                            <input
                                    {{ stimulus_action('check_all', 'check') }}
                                    type="checkbox"
                                    class="check-all"
                                    name="dpes[]"
                                    value="{{ dpe.id }}"
                            > {{ dpe.id }}
                        </label>
                    </div>
                </td>
                <td>
                    {{ formation.typeDiplome != null ? formation.typeDiplome.libelle : 'Non défini' }}

                </td>
                <td>
                    {{ formation.display }} {{ formation.id }}
                </td>
                <td>
                    {{ parcours.id }}
                    {% if parcours.isParcoursDefaut %}
                        Sans parcours
                    {% else %}
                        {{ parcours.display }}
                    {% endif %}
                </td>
                <td>
                    {{ parcours.remplissage|remplissage }}
                </td>
                <td>
                    {{ dpe.etatValidation|badgeDpe }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="bg-warning text-white">
                    Aucune formation
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
