{% extends 'pdf/base-pdf.html.twig' %}

{% block content %}
    {% for p in parcoursData %}
        <h1>{{ p.libelleLong }}</h1>
        {% for v in p.valueExport %}
            {% if v.type == 'longtext' %}
                <h3>{{ v.libelle }}</h3>
                <div class="col-12">
                    {{ v.value|raw }}
                </div>
            {% elseif v.type == 'list' %}
                <ul>
                    {% for listElement in v.value %}
                        {% if listElement.content != null %}
                        <li>
                            <b>{{ listElement.libelle}} : </b>
                            {{ listElement.content }}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% elseif v.type == 'nested_list' %}
                <h3>{{ v.libelle }}</h3>
                <ul>
                    {% for elt in v.value %}
                        <li>
                            {{ elt.nested_libelle }}
                            <ul>
                            {% for nestV in elt.nested_value %}
                                <li>
                                    {{ nestV }}
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% elseif v.type == 'full_block' %}
                <h3>{{ v.libelle }}</h3>
                {% for elt in v.value %}
                    {% if elt.type ?? 'none' == 'list_enum' %}
                        <h4>
                            {{ elt.libelle }}
                        </h4>
                        <ul>
                            {% for listElement in elt.content %}
                                <li>
                                    {{ listElement.value }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% elseif elt.type ?? 'none' == 'list' %}
                        <h4>
                            {{ elt.libelle }}
                        </h4>
                        <ul>
                            {% for listElt in elt.content %}
                                <li>
                                    {{ listElt }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h4>
                            {{ elt.libelle }}
                        </h4>
                        <div class="col-12">
                            {{ elt.content|raw }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    <br><br>
    {% endfor %}
{% endblock %}