{% extends 'base.html.twig' %}

{% block header %}
    Gestion des exports de fichier
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
    ]}) }}
{% endblock %}

{% block bouton_header %}

{% endblock %}

{% block content %}
    <div
            {% if ses is defined and ses == true %}
                {{ stimulus_controller('export',
                    {
                        url: path('app_export_liste'),
                        urlValide: path('app_export_valide')
                    }) }}
            {% elseif isCfvu is defined and isCfvu == true %}
                {{ stimulus_controller('export',
                    {
                        url: path('app_export_liste', {cfvu:true}),
                        urlValide: path('app_export_valide')
                    }) }}
            {% else %}
                {{ stimulus_controller('export',
                    {
                        url: path('app_export_liste', {composante:composante.id}),
                        urlValide: path('app_export_valide', {composante:composante.id})
                    }) }}
            {% endif %}
    >
        <div class="card mt-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div>
                            <label for="annee_universitaire" class="required">Annnée Universitaire</label>
                            <select name="annee_universitaire"
                                    {{ stimulus_action('export', 'changeListe') }}
                                    id="annee_universitaire"
                                    class="form-select">
                                {% for annee in annees %}
                                    <option value="{{ annee.id }}"
                                            {% if annee.defaut == true %}selected{% endif %}>{{ annee.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if ses is defined and ses == true or isCfvu is defined and isCfvu == true %}
                            <div>
                                <label for="composante" class="required">Composante</label>
                                <select name="composante" id="composante" class="form-select"
                                        {{ stimulus_action('export', 'changeListe') }}
                                        {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                                >
                                    <option value="">Choisir une composante</option>
                                    {% for composante in composantes %}
                                        <option value="{{ composante.id }}">{{ composante.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% else %}
                            <div>
                                <label for="composante" class="required">Composante</label>
                                <select name="composante" id="composante" class="form-select"
                                        disabled
                                        {{ stimulus_action('export', 'changeListe') }}
                                        {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                                >
                                    <option value="{{ composante.id }}">{{ composante.libelle }}</option>
                                </select>
                            </div>
                        {% endif %}
                        <div>
                            <label for="type_document" class="required">Type d'export</label>
                            <select name="type_document" id="type_document" class="form-select">
                                <option value="">Choisir le format</option>
                                {% for value, type in types_document %}
                                    <option value="{{ value }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        {% if isCfvu is defined and isCfvu != true %}
                            <div>
                                <label for="date">Préciser, si besoin, la date du conseil ou de la commission</label>
                                <input type="date" name="date" id="date" class="form-control">
                            </div>
                        {% endif %}
                        <div class="mt-2">
                            <button class="btn btn-outline-success" type="button"
                                    {{ stimulus_action('export', 'valideExport') }}
                            >Générer les documents
                            </button>
                        </div>
                        {{ component('alerte', {
                            type: 'info',
                            message: 'Les documents seront générés et un lien de téléchargement sera envoyé par email',
                            id: 'alerte-success'
                        }) }}
                    </div>
                </div>
            </div>
        </div>
        {# todo: choix formation/parcours, mutliples, filtres, composante, type de diplôme #}

        <div class="card mt-2" {{ stimulus_target('export', 'liste') }}>
        </div>
    </div>

{% endblock %}
