{% form_theme form 'communs/form_theme_v2.html.twig' %}
{{ form_start(form,{
    'attr': {
        'id': 'modal_form'
    }
}) }}
<div
        {{ stimulus_controller('ue') }}
>
    {{ form_row(form.libelle) }}
    {{ form_row(form.ects) }}
    {{ form_row(form.typeUe, {'row_attr' : {'id' : 'typeUe' }}) }}
    {{ form_row(form.natureUeEc, {'row_attr' : {'id' : 'natureUeEc' }}) }}

    <div data-ue-target="natureSection" data-nature="nature_9" class="hidden space-y-2">
        {{ form_row(form.descriptionUeLibre) }}
    </div>
</div>

{{ form_end(form) }}
