<turbo-frame id="tab-content">
    {{ include('parcours_v2/tabs/_header.html.twig', {tabKey: 'admission'}) }}

    <div class="flex-1 overflow-y-auto mt-4 custom-scrollbar">
        {% form_theme form 'communs/form_theme_v2.html.twig' %}
        {{ form_start(form, {
            attr: {
                id: 'tab_form_admission',
                'data-controller': 'autosave',
                'data-autosave-url-value': path('parcours_v2_tab_autosave', { id: parcours.id, tabKey: 'admission' }),
                'data-action': 'change->autosave#queue'

            }
        }) }}

        {{ form_errors(form) }}
        {{ form_row(form.niveauFrancais) }}
        {{ form_row(form.prerequis) }}
        {{ form_row(form.composanteInscription) }}
        {{ form_row(form.modalitesAdmission) }}

        <div data-controller="conditional-field"
             data-conditional-field-expected-values-value='{{ [
                 enum("App\\Enums\\RegimeInscriptionEnum").FI_APPRENTISSAGE.value,
                 enum("App\\Enums\\RegimeInscriptionEnum").FC_CONTRAT_PRO.value
             ] | json_encode | e("html_attr") }}'>
            {{ form_row(form.regimeInscription) }} {# Contient les targets "trigger" #}

            <div data-conditional-field-target="container">
                {{ form_row(form.modalitesAlternance) }}
            </div>
        </div>

        {# todo: a revoir pour meilleure intégration #}
        <div>
            {{ 'parcours_step5.labels.contacts'|trans({}, 'form') }}
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ 'parcours_step5.helps.contacts.help'|trans({}, 'help') }}"
               data-bs-original-title="{{ 'parcours_step5.helps.contacts.help'|trans({}, 'help') }}"></i>
        </div>
        <div class="mt-2"
                {# todo: appel modal à adapter à V2 #}
                {{ stimulus_controller('crud', {
                    url: path('app_parcours_contacts', {parcours:parcours.id})
                }) }}
             data-action="base:refreshListe@window->crud#refreshListe">
            <div {{ stimulus_target('crud', 'liste') }}>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

</turbo-frame>
