<turbo-frame id="tab-content">
    {{ include('parcours_v2/tabs/_header.html.twig', { tabKey: 'descriptif' }) }}

    <div class="flex-1 overflow-y-auto mt-4 custom-scrollbar">
        {% form_theme form 'communs/form_theme_v2.html.twig' %}
        {{ form_start(form, {
            attr: {
                id: 'tab_form_descriptif',
                'data-controller': 'autosave',
                'data-autosave-url-value': path('parcours_v2_tab_autosave', { id: parcours.id, tabKey: 'descriptif' }),
                'data-action': 'change->autosave#queue'

            }
        }) }}

        {{ form_errors(form) }}
        {{ form_row(form.modalitesEnseignement) }}

        {% if typeDiplome.hasStage %}
            <div data-controller="conditional-field"
                 data-conditional-field-expected-values-value='["1"]'>
                {{ form_row(form.hasStage) }}

                <div data-conditional-field-target="container">
                    {{ form_row(form.stageText) }}
                    {{ form_row(form.nbHeuresStages) }}
                </div>
            </div>
        {% endif %}

        {% if typeDiplome.hasProjet %}
            <div data-controller="conditional-field"
                 data-conditional-field-expected-values-value='["1"]'>
                {{ form_row(form.hasProjet) }}

                <div data-conditional-field-target="container">
                    {{ form_row(form.projetText) }}
                    {{ form_row(form.nbHeuresProjet) }}
                </div>
            </div>
        {% endif %}

        {% if typeDiplome.hasMemoire %}
            <div data-controller="conditional-field"
                 data-conditional-field-expected-values-value='["1"]'>
                {{ form_row(form.hasMemoire) }}

                <div data-conditional-field-target="container">
                    {{ form_row(form.memoireText) }}
                </div>
            </div>
        {% endif %}

        {% if typeDiplome.isHasSituationPro %}
            <div data-controller="conditional-field"
                 data-conditional-field-expected-values-value='["1"]'>
                {{ form_row(form.hasSituationPro) }}

                <div data-conditional-field-target="container">
                    {{ form_row(form.situationProText) }}
                    {{ form_row(form.nbHeuresSituationPro) }}
                </div>
            </div>
        {% endif %}


        {{ form_end(form) }}
    </div>

</turbo-frame>
