{% set elem = ec.elementConstitutif %}
<section
        id="ec-{{ elem.id }}"
        class="bg-white border border-slate-200 rounded-sm shadow-sm overflow-hidden border-l-8 border-indigo-500 mt-2">
    <div class="p-2 flex items-center justify-between border-b border-slate-100">
        <div class="flex items-center gap-4">
            <div class="min-w-12 px-2 h-20 bg-indigo-600 text-white rounded-md flex items-center justify-center font-black shadow-lg shadow-indigo-100">
                {{ elem.code }}
            </div>
            <div>
                <h4 class="text-sm font-black text-slate-700 max-w-[60ch] break-words whitespace-normal">
                    {{ elem.display }} {{ elem.validationStatus|badgeValidationShort(2) }}
                </h4>
                <div class="flex mt-2 gap-x-2">
                    {% if ec.elementConstitutif.natureUeEc == null %}
                        <span class="px-2 py-0.5 bg-red-100 text-red-700 text-[9px] font-black rounded uppercase">Erreur, non défini</span>
                    {% elseif ec.elementConstitutif.natureUeEc.isLibre %}
                        <span class="px-2 py-0.5 bg-blue-100 text-blue-700 text-[9px] font-black rounded uppercase">EC Libre</span>
                    {% elseif ec.elementConstitutif.natureUeEc.isChoix %}
                        <span class="px-2 py-0.5 bg-orange-100 text-orange-700 text-[9px] font-black rounded uppercase">EC à choix (1 parmi {{ ec.elementsConstitutifsEnfants|length }})</span>
                    {% else %}
                        <span class="px-2 py-0.5 bg-green-100 text-green-700 text-[9px] font-black rounded uppercase">EC Obligatoire</span>
                    {% endif %}

                    {% if ec.elementConstitutif.typeEc == null %}
                        <span class="px-2 py-0.5 bg-red-100 text-red-700 text-[9px] font-black rounded uppercase">
                            Erreur, type EC non défini
                        </span>
                    {% else %}
                        <span class="px-2 py-0.5 bg-green-100 text-green-700 text-[9px] font-black rounded uppercase">
                            {{ ec.elementConstitutif.typeEc.libelle }}
                        </span>
                    {% endif %}
                </div>
                <div class="flex items-center gap-x-2 mt-2 flex-wrap">
                    <a
                            data-action="click->modalturbo#open"
                            data-turbo="true"
                            href="{{ path('parcours_ec_saisir_heures', { parcours: parcours.id, id: elem.id }) }}"
                            class="text-[10px] font-black text-indigo-600 group-hover:underline uppercase flex items-center gap-1.5 pe-2 py-1 rounded hover:bg-slate-50">
                        <span class="w-1.5 h-1.5 rounded-full bg-red-500" id="badge_heure_{{ elem.id }}"></span>
                        Saisir Heures
                    </a>

                    <a class="text-[10px] font-black text-indigo-600 group-hover:underline uppercase flex items-center gap-1.5 px-2 py-1 rounded hover:bg-slate-50"
                       data-turbo="true"
                       data-action="click->modalturbo#open"
                       href="{{ path('parcours_mccc_saisir', { parcours: parcours.id, id: elem.id }) }}"
                    >
                        <span class="w-1.5 h-1.5 rounded-full bg-orange-500" id="badge_mccc_{{ elem.id }}"></span>
                        Saisir MCCC
                    </a>
                    <a class="text-[10px] font-black text-indigo-600 group-hover:underline uppercase flex items-center gap-1.5 px-2 py-1 rounded hover:bg-slate-50"
                       data-turbo="true"
                       data-action="click->modalturbo#open"
                       href="{{ path('parcours_bcc_saisir', { parcours: parcours.id, id: elem.id }) }}"
                    >
                        <span class="w-1.5 h-1.5 rounded-full bg-green-500" id="badge_bcc_{{ elem.id }}"></span>
                        Saisir BCC
                    </a>
                    {% if elem.ficheMatiere != null %}
                        {% set ficheMatiere = elem.ficheMatiere %}
                        {% set ficheComplete = ficheMatiere.remplissage.calcul() == 100 ? 'green' : 'orange' %}
                        <a class="text-[10px] font-black text-indigo-600 group-hover:underline uppercase flex items-center gap-1.5 px-2 py-1 rounded hover:bg-slate-50"
                           href="{{ path('fiche_matiere_v2_voir', {slug: ficheMatiere.slug}) }}"
                           target="_blank"
                        >
                            <span class="w-1.5 h-1.5 rounded-full bg-{{ ficheComplete }}-500"
                                  id="badge_bcc_{{ elem.id }}"></span>
                            Voir la fiche matière
                        </a>
                    {% else %}
                        {# todo: si pas d efichier et qu'une est nécessaire créer ? #}
                    {% endif %}
                </div>
                {% if ec.elementConstitutif.natureUeEc.isLibre %}
                    <p class="text-sm"><span
                                class="font-bold">Choix libre :</span> {{ ec.elementConstitutif.texteEcLibre }}</p>
                {% endif %}
            </div>
        </div>
        <div class="flex items-center gap-6">
            {% if ec.elementConstitutif.natureUeEc.isLibre == true %}
                <span class="text-xs font-bold text-blue-500 bg-blue-100 px-3 py-1 rounded-full">EC Libre</span>
            {% else %}
                <span class="text-xs font-bold text-slate-500 bg-slate-100 px-3 py-1 rounded-full">{{ ec.heuresEctsEc.cmPres }}h CM • {{ ec.heuresEctsEc.tdPres }}h TD • {{ ec.heuresEctsEc.tpPres }}h TP</span>
            {% endif %}


            {% set items =  [
                { label: 'Modifier l\'EC',
                    modal: true,
                    icon: 'fal fa-pencil-alt',
                    url: path('parcours_ec_modifier_ec_ue',{elementConstitutif: ec.elementConstitutif.id, semestreParcours:semestreParcours.id}) },
                { label: 'Supprimer l\'EC',
                    icon: 'fal fa-trash-alt',
                    modal: true,
                    url: path('parcours_ec_pre_delete',{
                    ec: ec.elementConstitutif.id,
                    ue: ue.ue.id,
                    semestreParcours:semestreParcours.id}), danger: true}
            ] %}

            {% if ec.elementsConstitutifsEnfants|length > 0 or ec.elementConstitutif.natureUeEc.isChoix %}
                {% set items = items|merge([{
                    label: 'Ajouter un EC enfant',
                    icon: 'fal fa-plus',
                    modal: true,
                    url: path('parcours_ec_ajouter_ec_ue',{semestreParcours: semestreParcours.id, ue: ue.ue.id, parent: ec.elementConstitutif.id}),
                }]) %}
                {#                <button #}
                {#                        id="{{ idBase }}-add-ec-enfant-btn" #}
                {#                        class="p-2 hover:bg-slate-100 rounded-lg flex items-center text-green-600" #}
                {#                        type="button"> #}
                {#                    <i class="{{ iconAdd }} me-1"></i> #}
                {#                    <span>EC enfant</span> #}
                {#                </button> #}
            {% endif %}

            {{ component('dropdown_actions', {
                label: 'Actions',
                help: 'Actions disponibles pour cet EC',
                icon: 'fal fa-ellipsis-vertical',
                items: items
            }) }}

            <span class="text-xs font-black text-slate-700">{{ ec.heuresEctsEc.ects }} ECTS</span>
        </div>
    </div>
    <div class="p-2 mt-2">
        {% for ece in ec.elementsConstitutifsEnfants %}
            {{ include('parcours_v2/tabs/_ec.html.twig', {ec:ece}) }}
        {% endfor %}
    </div>
</section>
