<section
        id="ue-{{ ue.ue.id }}"
        class="bg-white border border-slate-200 rounded-sm shadow-sm overflow-hidden border-l-8 border-indigo-500 mb-2"
        data-sortable-item
        data-id="{{ ue.ue.id }}"
>
    <div class="p-2 flex items-center justify-between border-b border-slate-100">
        <div class="flex items-center gap-2">
            <div class="group inline-flex">
                <div
                        class="min-w-12 px-2 h-12 bg-indigo-600 text-white rounded-md flex items-center justify-center font-black
           shadow-lg shadow-indigo-100 cursor-grab active:cursor-grabbing gap-2"
                        data-sortable-handle
                        title="Déplacer l’UE"
                >
                    <span id="ue_number_{{ ue.ue.id }}">
                      {{ ue.display }}
                    </span>
                    <span class="opacity-0 group-hover:opacity-100 transition-opacity duration-150">⠿</span>
                </div>
            </div>
            <div>
                <div class="flex items-center gap-2">
                    <h3 class="text-xl font-black text-slate-800">
                        <span id="ue_titre_number_{{ ue.ue.id }}">
                          {{ ue.display }}
                        </span> : {{ ue.ue.libelle }} {{ ue.ue.validationStatus|badgeValidationShort(2) }}
                    </h3>
                </div>
                <div class="flex gap-2 mt-1">
                    {% if ue.ue.natureUeEc == null %}
                        <span class="px-2 py-0.5 bg-red-100 text-red-700 text-[9px] font-black rounded uppercase">Erreur, non défini</span>
                    {% elseif ue.ue.natureUeEc.isChoix %}
                        <span class="px-2 py-0.5 bg-orange-100 text-orange-700 text-[9px] font-black rounded uppercase">UE à choix restreint (1 parmi {{ ue.uesEnfants|length }})</span>
                    {% elseif ue.ue.natureUeEc.isLibre %}
                        <span class="px-2 py-0.5 bg-blue-100 text-blue-700 text-[9px] font-black rounded uppercase">UE libre</span>
                    {% else %}
                        <span class="px-2 py-0.5 bg-green-100 text-green-700 text-[9px] font-black rounded uppercase">
                            UE Obligatoire
                        </span>
                    {% endif %}

                    {% if ue.ue.typeUe == null %}
                        <span class="px-2 py-0.5 bg-red-100 text-red-700 text-[9px] font-black rounded uppercase">
                            Type UE non défini
                        </span>
                    {% else %}
                        <span class="px-2 py-0.5 bg-green-100 text-green-700 text-[9px] font-black rounded uppercase">
                            {{ ue.ue.typeUe.libelle }}
                        </span>
                    {% endif %}
                </div>
                {% if ue.ue.ueMutualisables|length > 0 %}
                    <div class="flex gap-2 mt-1">
                    <span class="px-2 py-0.5 bg-blue-100 text-blue-700 text-[9px] font-black rounded uppercase tracking-tighter italic">Mutualisé avec :
                    {% for l in ue.ue.ueMutualisables %}
                        {{ l.parcours.displayCourt }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </span>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="flex items-center gap-2">

            {% set idBase = 'ue-' ~ ue.ue.id %}

            {% if ue.ue.ueParent != null %}
                <button
                        id="{{ idBase }}-add-ue-enfant-btn"
                        class="p-2 hover:bg-slate-100 rounded-lg flex items-center text-green-600"
                        type="button">
                    <i class="{{ iconAdd }} me-1"></i>
                    <span>UE enfant</span>
                </button>
            {% endif %}


            <!-- menu d'actions secondaire -->
            {# todo: semestre => semestreParcours sur mutualiser #}
            {{ component('dropdown_actions', {
                label: 'Actions',
                help: 'Actions disponibles pour cette UE',
                icon: 'fal fa-ellipsis-vertical',
                items: [
                    { label: 'Ajouter un EC à l\'UE',
                        icon: 'fal fa-plus-circle',
                        modal: true,
                        color: 'green',
                        url: path('parcours_ec_ajouter_ec_ue', {semestreParcours:semestreParcours.id, ue: ue.ue.id}) },
                    { label: 'Modifier l\'UE',
                        icon: 'fal fa-pencil',
                        modal: true,
                        color: 'orange',
                        url: path('parcours_structure_edit_ue_semestre', {
                        parcours:parcours.id,
                        semestreParcours:semestreParcours.id,
                        ue: ue.ue.id}) },
                    { label: 'Déplacer l\'UE',
                        icon: 'fal fa-right-left',
                        modal: true,
                        url: path('structure_ue_changer', {parcours:parcours.id, ue: ue.ue.id}) },
                    { label: 'Mutualiser l\'UE',
                        icon: 'fal fa-share-nodes',
                        modal: true,
                        url: path('structure_ue_mutualiser', {semestreParcours:semestreParcours.id, ue: ue.ue.id}) },
                    { label: 'Raccrocher une UE',
                        modal: true,
                        icon: 'fal fa-link',
                        url: path('structure_ue_raccrocher', {ue:ue.ue.id, parcours: parcours.id})},
                    { label: 'Supprimer l\'UE',
                        modal: true,
                        icon: 'fal fa-trash-alt',
                        url: path('parcours_structure_pre_delete_ue_semestre', {
                        ue: ue.ue.id,
                        semestreParcours: semestreParcours.id,
                        parcours:parcours.id}), danger: true},
                ]
            }) }}
            <span class="text-lg font-black text-slate-600">{{ ue.heuresEctsUe.sommeUeEcts }} ECTS</span>

        </div>
    </div>

    <div class="p-2">
        {% for uee in ue.uesEnfants %}
            {{ include('parcours_v2/tabs/_ue.html.twig', {ue:uee}) }}
        {% else %}
            {% if ue.ue.natureUeEc.isChoix == true and ue.uesEnfants|length == 0 %}
                <twig:alerte type="info">
                    Aucune UE dans cette <strong>UE à choix</strong> pour le moment. Pour saisir votre premier choix
                    d'UE, choisir "Actions" en haut à droite
                    du bloc de l'UE parent.
                </twig:alerte>
            {% endif %}
        {% endfor %}

        {% for ec in ue.elementConstitutifs %}
            {{ include('parcours_v2/tabs/_ec.html.twig', {ec:ec}) }}
        {% else %}
            {% if ue.ue.natureUeEc.isLibre == true %}
                <twig:alerte type="success">
                    UE à choix libre : <p>{{ ue.ue.descriptionUeLibre }}</p>
                </twig:alerte>
            {% elseif ue.ue.natureUeEc.isLibre == false and ue.ue.natureUeEc.isChoix == false %}
                <twig:alerte type="info">
                    Aucun EC dans cette UE pour le moment. Pour saisir votre premier EC, choisir "Actions" en haut à
                    droite
                    du bloc de l'UE.
                </twig:alerte>
            {% endif %}
        {% endfor %}
    </div>
</section>
