{% extends 'base.html.twig' %}

{% block content %}
    <div class="card"
            {{ stimulus_controller('crud', {
                url: path('app_nature_ue_ec_liste'),
                storageKey: 'nature_ue_ec_liste',
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe"
    >
        <div class="card-body" {{ stimulus_target('crud', 'liste') }}>
        </div>
    </div>
{% endblock %}

{% block header %}
    Gestion des Natures d'UE ou d'EC
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'Ajouter une nature d\'UE ou  d\'EC',
                modalUrl: path('app_nature_ue_ec_new') }) }}
            data-action="click->modal#openModal"
            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Ajouter une nature d'UE ou d'EC"
    >
        <i class="{{ iconAdd }}"></i>
        <span> Ajouter une nature d'UE ou d'EC</span>
    </button>
{% endblock %}
