{# <div class="row"> #}
{#    ---------| PARCOURS |-------- -#}
{#    <div class="col-12 mb-2"> #}
{#        <section class="scroll-section" id="labels"> #}
{#            <h2 class="small-title">Parcours</h2> #}
{#            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3"> #}
{#                <div class="card-body pt-0 pb-0 h-100"> #}
{#                    <div class="row g-0 h-100 align-content-center"> #}
{#                        <div class="col-12 col-md-4 d-flex align-items-center mb-2 text-secondary mb-md-0 text-small"> #}
{#                            Parcours #}
{#                        </div> #}
{#                        <div class="col-6 col-md-2 d-flex align-items-center #}
{#                        text-secondary text-small"> #}
{#                            Etat #}
{#                        </div> #}
{#                        <div class="col-6 col-md-2 d-flex align-items-center text-secondary text-small"> #}
{#                            Remplissage #}
{#                        </div> #}
{#                        <div class="col-6 col-md-2 d-flex align-items-center #}
{#                         text-secondary text-small"> #}
{#                            Détails #}
{#                        </div> #}
{#                        <div class="col-6 col-md-2 d-flex align-items-center #}
{#                        justify-content-end text-secondary text-small"> #}
{#                            Actions #}
{#                        </div> #}
{#                    </div> #}
{#                </div> #}
{#            </div> #}
{#            <div> #}{# class="scroll-out" #}
{#                {% for parcour in parcours %} #}
{#                    <div {{ stimulus_controller('structure--parcours') }}> #}
{#                        <div class="card mb-2 sh-19 sh-md-8"> #}
{#                            <div class="card-body pt-0 pb-0 h-100"> #}
{#                                <div class="row g-0 h-100 align-content-center"> #}
{#                                    <div class="col-12 col-md-4 d-flex flex-column justify-content-center mb-1 mb-md-0"> #}
{#                                        <div class="text-muted text-small d-md-none">Parcours</div> #}
{#                                        <a href="" class="text-truncate">{{ parcour.libelle }} {{ parcour.typeParcours|badgeTypeParcours }}</a> #}
{#                                        #}{# todo faire un lien vers formation avec l'ancre du parcours... #}
{#                                    </div> #}
{#                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center mb-1 mb-md-0"> #}
{#                                        <div class="text-muted text-small d-md-none">Etat</div> #}
{#                                        {{ parcour.etat|badgeDpe }} #}
{#                                    </div> #}
{#                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center mb-1 mb-md-0"> #}
{#                                        <div class="text-muted text-small d-md-none">Remplissage</div> #}
{#                                            {{ parcour.remplissage|remplissage }} #}
{#                                    </div> #}
{#                                    <div class="col-6 col-md-1 d-flex flex-column justify-content-center #}
{#                                            mb-1 mb-md-0"> #}
{#                                        <div class="text-muted text-small d-md-none">Détails</div> #}

{#                                        <button class="ms-2 btn btn-sm btn-outline-primary" #}
{#                                                {{ stimulus_action('structure--parcours', 'detail', 'click', #}
{#                                                    {parcours:parcour.id, url: path #}
{#                                                        ('structure_semestre_detail_parcours', {parcours:parcour.id})} #}
{#                                                ) }} #}
{#                                        > #}
{#                                            <i class="fal fa-caret-right"></i> Voir les semestres #}
{#                                        </button> #}

{#                                    </div> #}
{#                                    <div class="col-6 col-md-3 text-end mb-1 mb-md-0"> #}
{#                                        <div class="text-muted text-small d-md-none">Actions</div> #}
{#                                        {% if is_granted('EDIT', {route: 'app_formation', subject: parcours.formation}) %} #}
{#                                            <a href="{{ path('app_parcours_edit', {id:parcour.id}) }}" #}
{#                                               class="btn btn-outline-warning btn-sm" #}
{#                                               target="_blank" #}
{#                                            > #}
{#                                                <i class="{{ iconEdit }}"></i> #}
{#                                            </a> #}
{#                                        {% endif %} #}
{#                                    </div> #}
{#                                </div> #}
{#                            </div> #}
{#                        </div> #}
{#                        <div id="detail_parcours_{{ parcour.id }}" class="d-none detail_parcours ms-4"> #}
{#                            <div class="row"> #}
{#                                <div class="col-12" {{ stimulus_target('structure--parcours', 'detail') }}></div> #}
{#                            </div> #}
{#                        </div> #}
{#                    </div> #}

{#                {% endfor %} #}
{#            </div> #}
{#        </section> #}
{#    </div> #}
{# </div> #}
