<table class="table">
    <thead>
    <tr>
        <th>
                Type de formation
        </th>
        <th>
                Mention/spécialité
        </th>
        <th>En cours <br>rédaction</th>
        <th>Etat de remplissage <br>(nb complet / nb fiches total)</th>
        <th>En attente<br> validation RP, RF ou DPE</th>
        <th> En attente <br>
            validation SES</th>
        <th>Fiches validées</th>
        <th>Publiées</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for formation in formations %}
            <tr>
                <td>
                    {{ formation.typeDiplome|typeDiplome }}
                </td>
                <td>
                    {% if formation.mention != null or formation.mentionTexte != null %}
                        {{ formation.display }}
                    {% else %}
                        <span class="badge bg-danger">Non définie</span>
                    {% endif %}
                </td>
                <td>{{ stats[formation.id].stats.nbEnCoursRedaction }}</td>
                <td>{{ stats[formation.id].stats.nbFichesCompletes }} / {{ stats[formation.id].stats.nbFiches }}</td>
                <td>{{ stats[formation.id].stats.nbFichesNonValidees }}</td>
                <td>{{ stats[formation.id].stats.nbFichesNonValideesSes }}</td>
                <td>{{ stats[formation.id].stats.nbFichesValidees }}</td>
                <td>{{ stats[formation.id].stats.nbFichesPubliees }}</td>

                <td class="text-end">
                    <a
                            href="{{ path('fiche_matiere_valide_formation', {formation: formation.id}) }}"
                            class="btn btn-outline-success btn-sm mb-1"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Voir les fiches"
                    >
                        <i class="fas fa-check"></i>
                        <span> Voir les fiches</span>
                    </a>
                </td>
            </tr>
    {% else %}
        <tr>
            <td colspan="8" class="bg-warning">Aucun enregistrement trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
