<!-- Stats Start -->
<h2 class="small-title">Processus de la campagne de collecte des projets de DPE ({{ user_data.campagneCollecte.libelle }})</h2>
<div class="row gy-2">
    <div class="col-2 p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i class="fal fa-lock-open fa-2x"></i>
                </div>
                <p class="mb-0 lh-1">Ouverture de la campagne de collecte</p>
                <p class="cta-3 mb-0 text-primary">
                    {{ user_data.campagneCollecte != null ? user_data.campagneCollecte.dateOuvertureDpe|dateFr :
                    'Non renseigné' }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-2 p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i class="fal fa-pencil fa-2x"></i>
                </div>
                <p class="mb-0 lh-1">Période d'enrichissement des projets de DPE</p>
                <p class="cta-3 mb-0 text-primary">
                    {{ user_data.campagneCollecte != null ? user_data.campagneCollecte.dateOuvertureDpe|dateFr :
                    'Non renseigné' }} au {{ user_data.campagneCollecte != null ? user_data.campagneCollecte
                    .dateClotureDpe|dateFr :
                    'Non renseigné' }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-2 p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i class="fal fa-paper-plane-top fa-2x"></i>
                </div>
                <p class="mb-0 lh-1">Date limite de transmission des projets DPE au Central</p>
                <p class="cta-3 mb-0 text-primary">
                    {{ user_data.campagneCollecte != null ? user_data.campagneCollecte.dateTransmissionSes|dateFr :
                    'Non renseigné' }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-2  p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i class="fal fa-shield-check fa-2x"></i>
                </div>
                <p class="mb-0 lh-1">Date prévisionnelle de passage en CFVU</p>
                <p class="cta-3 mb-0 text-primary">
                    {{ user_data.campagneCollecte != null ? user_data.campagneCollecte.dateCfvu|dateFr :
                    'Non renseigné' }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-2  p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i class="fal fa-bullhorn fa-2x"></i>
                </div>
                <p class="mb-0 lh-1">Publication</p>
                <p class="cta-3 mb-0 text-primary">
                    {{ user_data.campagneCollecte != null ? user_data.campagneCollecte.datePublication|dateFr :
                    'Non renseigné' }}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Stats Start -->
