<!-- Stats Start -->
<h2 class="small-title">Processus de la campagne de collecte des projets de DPE</h2>
<div class="row gy-2">
    <div class="col-2 p-0">

        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i class="fal fa-lock-open fa-2x"></i>
                </div>
                <p class="mb-0 lh-1">Ouverture de la campagne de collecte</p>
                <p class="cta-3 mb-0 text-primary">
                    {{ user_data.anneeUniversitaire != null ? user_data.anneeUniversitaire.dateOuvertureDpe|date
                        ('d/m') :
                    'Non renseigné' }} au {{ user_data.anneeUniversitaire != null ? user_data.anneeUniversitaire
                    .dateClotureDpe|dateFr :
                    'Non renseigné' }}
                </p>
            </div>
        </div>
    </div>
{#    {% if not is_granted('ROLE_SES') %}#}
{#    <div class="col-2 p-0">#}
{#        <div class="card me-2 sh-20 hover-border-primary">#}
{#            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">#}
{#                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">#}
{#                    <i class="fal fa-signature fa-2x"></i>#}
{#                </div>#}
{#                <p class="mb-0 lh-1">Validation Formation</p>#}
{#                <p class="cta-3 mb-0 text-primary">Juin 2023</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-2 p-0">#}
{#        <div class="card me-2 sh-20 hover-border-primary">#}
{#            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">#}
{#                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">#}
{#                    <i class="fal fa-signature-lock fa-2x"></i>#}
{#                </div>#}
{#                <p class="mb-0 lh-1">Validation composante</p>#}
{#                <p class="cta-3 mb-0 text-primary">Juillet 2023</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    {% endif %}#}
    <div class="col-2 p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i class="fal fa-paper-plane-top fa-2x"></i>
                </div>
                <p class="mb-0 lh-1">Date limite de transmission des projets DPE au Central</p>
                <p class="cta-3 mb-0 text-primary">
                    {{ user_data.anneeUniversitaire != null ? user_data.anneeUniversitaire.dateTransmissionSes|dateFr :
                    'Non renseigné' }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-2  p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i class="fal fa-stamp fa-2x"></i>
                </div>
                <p class="mb-0 lh-1">Date prévisionnelle de passage en CFVU</p>
                <p class="cta-3 mb-0 text-primary">
                    {{ user_data.anneeUniversitaire != null ? user_data.anneeUniversitaire.dateCfvu|dateFr :
                    'Non renseigné' }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-2  p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i class="fal fa-bullhorn fa-2x"></i>
                </div>
                <p class="mb-0 lh-1">Publication</p>
                <p class="cta-3 mb-0 text-primary">
                    {{ user_data.anneeUniversitaire != null ? user_data.anneeUniversitaire.datePublication|dateFr :
                    'Non renseigné' }}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Stats Start -->
