{% extends 'base.html.twig' %}

{% set header_title %}Bienvenue sur ORéOF!{% endset %}

{% block content %}
    {{ component('mutualisation_alerts', { user: app.user }) }}

    {{ include('default/_timeLine.html.twig') }}

    {#    {% if is_granted('ROLE_ADMIN') %} #}
    {#        {{ component('stats_block', { #}
    {#            charts: [chart1, chart2, chart3], #}
    {#            titles: ['Formations', 'Statuts', 'Inscriptions'], #}
    {#            collapsible: true #}
    {#        }) }} #}
    {#    {% endif %} #}

    {{ component('actualites') }}

    <div class="app-tabs"
            {{ stimulus_controller('wizard', {
                url:  path('app_homepage_wizard'),
                step: step
            }) }}
    >

        <div class="app-tabs-list" role="tablist" aria-label="Tableau de bord">
            <a id="tab-formation"
               class="app-tab {% if step == 'formation' %}app-tab-active active{% endif %}"
               href="{{ path('app_homepage', { step: 'formation' }) }}"
               role="tab"
               aria-selected="{{ step == 'formation' ? 'true' : 'false' }}"
               aria-controls="step_1"
               tabindex="{{ step == 'formation' ? '0' : '-1' }}"
               data-step="formation"
               data-wizard-target="tab"
                    {{ stimulus_action('wizard', 'changeStep', 'click', {step: 'formation'}) }}
            >
                Vos formations (DPE: {{ user_data.campagneCollecte.libelle }})
            </a>
            <a id="tab-fiche"
               class="app-tab {% if step == 'fiche' %}app-tab-active active{% endif %}"
               href="{{ path('app_homepage', { step: 'fiche' }) }}" role="tab"
               aria-selected="{{ step == 'fiche' ? 'true' : 'false' }}"
               aria-controls="step_1"
               tabindex="{{ step == 'fiche' ? '0' : '-1' }}"
               data-step="fiche"
               data-wizard-target="tab"
                    {{ stimulus_action('wizard', 'changeStep', 'click', {step: 'fiche'}) }}
            >
                Vos fiches EC/matières
            </a>
            {% if is_granted('MANAGE', {route: 'app_etablissement', subject: 'etablissement'}) %}
                <a id="tab-cfvu"
                   class="app-tab {% if step == 'cfvu' %}app-tab-active active{% endif %}"
                   href="{{ path('app_homepage', { step: 'cfvu' }) }}" role="tab"
                   aria-selected="{{ step == 'cfvu' ? 'true' : 'false' }}"
                   aria-controls="step_1"
                   tabindex="{{ step == 'cfvu' ? '0' : '-1' }}"
                   data-step="cfvu"
                   data-wizard-target="tab"
                        {{ stimulus_action('wizard', 'changeStep', 'click', {step: 'cfvu'}) }}
                >
                    Vos formations en tant que conseiller CFVU (DPE: {{ user_data.campagneCollecte.libelle }})
                </a>
            {% endif %}
        </div>


        <div class="app-tab-panel">
            <turbo-frame id="step_1" class="block min-h-24" role="tabpanel" aria-labelledby="tab-{{ step }}"
                         src="{{ path('app_homepage_wizard', { step: step }) }}" {{ stimulus_target('wizard', 'content') }}>
                <div class="px-3 py-4 text-sm text-slate-500">Chargement...</div>
            </turbo-frame>
        </div>
    </div>

{#    <h2 class="small-title mt-3">Vos formations (DPE: {{ user_data.campagneCollecte.libelle }})</h2>#}
{#    <div class="row gy-2">#}
{#        <div class="col-12 p-0">#}
{#            <div class="card"#}
{#                    {{ stimulus_controller('crud', {#}
{#                        url: path('app_formation_liste')#}
{#                    }) }}#}
{#                 data-action="base:refreshListe@window->crud#refreshListe"#}
{#            >#}
{#                <div class="card-body">#}
{#                    {{ include('communs/_recherche.html.twig') }}#}
{#                    <div {{ stimulus_target('crud', 'liste') }}>#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    {% if is_granted('CAN_ETABLISSEMENT_CONSEILLER_ALL') %}#}
{#        <h2 class="small-title mt-3">Vos formations en tant que conseiller CFVU (DPE: {{ user_data.campagneCollecte.libelle }})</h2>#}
{#        <div class="row gy-2">#}
{#            <div class="col-12 p-0">#}
{#                <div class="card"#}
{#                        {{ stimulus_controller('crud', {#}
{#                            url: path('app_formation_liste_cfvu')#}
{#                        }) }}#}
{#                     data-action="base:refreshListe@window->crud#refreshListe"#}
{#                >#}
{#                    <div class="card-body">#}
{#                        {{ include('communs/_recherche.html.twig') }}#}
{#                        <div {{ stimulus_target('crud', 'liste') }}>#}

{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

{% endblock %}
