<div class="row">
    <div class="col-12 mb-2">
        <section class="scroll-section" id="labels">
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-2 d-flex align-items-center mb-2 text-secondary mb-md-0">
                            Formation
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center
                        text-secondary ">
                            Nb Parcours
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        text-secondary ">
                            Type de diplôme
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                       text-secondary ">
                            Etat
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        text-secondary ">
                            % Remplissage
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center
                        text-secondary ">
                            Détails
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        justify-content-end text-secondary ">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            <div>{# class="scroll-out" #}
                {% for formation in formations %}
                    <div {{ stimulus_controller('structure--formation') }}>
                        <div class="card mb-2 sh-19 sh-md-8">
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-12 col-md-2 d-flex flex-column mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">Formation</div>
                                        <a href="{{ path('formation_v2_voir', {slug:formation.slug}) }}"
                                           class="text-truncate">
                                            {{ formation.display }}
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-1 d-flex flex-column mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">Nb Parcours</div>
                                        {{ formation.parcours|length }} parcours
                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">Type de diplôme</div>
                                        {{ formation.typeDiplome|typeDiplome }}
                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">Etat</div>
                                            {{ formation.etatDpe|badgeDpe }}
                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">% Remplissage</div>
                                            {{ formation.remplissage|remplissage }}
                                    </div>
                                    <div class="col-6 col-md-1 d-flex flex-column
                                            mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">Détails</div>

                                        <button class="ms-2 btn btn-sm btn-outline-primary"
                                                {{ stimulus_action('structure--formation', 'detail', 'click',
                                                    {formation:formation.id, url: path
                                                        ('structure_parcours_detail_formation', {formation:formation
                                                        .id})}
                                                ) }}
                                        >
                                            <i class="fal fa-caret-right"></i> Voir les parcours
                                        </button>

                                    </div>
                                    <div class="col-6 col-md-2 flex-column
                                           mb-1 mb-md-0 text-end">
                                        <div class="text-muted text-small d-md-none">Actions</div>
                                        {% if (is_granted('MANAGE', {route: 'app_formation', subject: formation}) and workflow_can(formation, 'valider_rf')) %}
                                            <button
                                                    {{ stimulus_controller('modal', {
                                                        size: 'lg',
                                                        modalTitle: 'Valider et soumettre la formation',
                                                        modalUrl: path('structure_formation_modal_validation',
                                                            {formation:formation.id}) }) }}
                                                    data-action="click->modal#openModal"
                                                    class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
                                                    data-size="lg"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom"
                                                    title="Valider et soumettre la formation"
                                            >
                                                <i class="{{ iconValidate }}"></i>
                                                <span> Valider RF</span>
                                            </button>
                                        {% elseif is_granted('CAN_FORMATION_VALIDATE_ALL') and workflow_can(formation,
                                            'valider_central') %}
                                            <button
                                                    {{ stimulus_controller('modal', {
                                                        size: 'lg',
                                                        modalTitle: 'Valider et soumettre la formation',
                                                        modalUrl: path('structure_formation_modal_validation',
                                                            {formation:formation.id}) }) }}
                                                    data-action="click->modal#openModal"
                                                    class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
                                                    data-size="lg"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom"
                                                    title="Valider et soumettre la formation"
                                            >
                                                <i class="{{ iconValidate }}"></i>
                                                <span> Valider SES</span>
                                            </button>
                                        {% elseif
                                            is_granted('MANAGE', {route: 'app_composante', subject: formation.composantePorteuse}) and
                                            workflow_can
                                            (formation, 'valider_dpe_composante') %}
                                            <button
                                                    {{ stimulus_controller('modal', {
                                                        size: 'lg',
                                                        modalTitle: 'Valider et soumettre la formation',
                                                        modalUrl: path('structure_formation_modal_validation',
                                                            {formation:formation.id}) }) }}
                                                    data-action="click->modal#openModal"
                                                    class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
                                                    data-size="lg"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom"
                                                    title="Valider et soumettre la formation"
                                            >
                                                <i class="{{ iconValidate }}"></i>
                                                <span> Valider DPE</span>
                                            </button>
                                        {% endif %}
                                        <a href="{{ path('formation_v2_voir', {slug:formation.slug}) }}"
                                           class="btn btn-outline-info btn-sm"
                                           target="_blank"
                                        >
                                            <i class="{{ iconShow }}"></i>
                                        </a>
                                        {% if is_granted('EDIT', {route: 'app_formation', subject: formation}) %}
                                            <a href="{{ path('formation_v2_modifier', {slug:formation.slug}) }}"
                                               target="_blank"
                                               class="btn btn-outline-warning btn-sm"
                                            >
                                                <i class="{{ iconEdit }}"></i>
                                            </a>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <button {{ stimulus_action('crud', 'delete', 'click', {
                                                url:path('app_formation_delete',{'id': formation.id}),
                                                csrf: csrf_token('delete' ~ formation.id)
                                            }) }} class="btn btn-outline-danger btn-sm">
                                                <i class="{{ iconDelete }}"></i>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="detail_formation_{{ formation.id }}" class="d-none detail_formation ms-4">
                            <div class="row">
                                <div class="col-12" {{ stimulus_target('structure--formation', 'detail') }}></div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </section>
    </div>
</div>
