<div class="row">
    <div class="col-12 mb-5">
        <section class="scroll-section" id="labels">
            <h2 class="small-title">Formations</h2>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-3 d-flex align-items-center mb-2 text-secondary mb-md-0 text-small">
                            Formation
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center
                        text-secondary text-small">
                            Nb Parcours
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        text-secondary text-small">
                            Type de diplôme
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center
                       text-secondary text-small">
                            Etat
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        text-secondary text-small">
                            % Remplissage
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center
                        text-secondary text-small">
                            Détails
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        justify-content-end text-secondary text-small">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            <div>{# class="scroll-out" #}
                {% for formation in formations %}
                    <div {{ stimulus_controller('structure--formation') }}>
                        <div class="card mb-2 sh-19 sh-md-8">
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-12 col-md-3 d-flex flex-column mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">Formation</div>
                                        <a href="#" class="text-truncate">{{ formation.display }}</a>
                                    </div>
                                    <div class="col-12 col-md-1 d-flex flex-column mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">Nb Parcours</div>
                                        {{ formation.parcours|length }} parcours
                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">Type de diplôme</div>
                                        <div class="text-alternate">{{ formation.typeDiplome|typeDiplome }}</div>
                                    </div>
                                    <div class="col-6 col-md-1 d-flex flex-column mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">Etat</div>
                                        <div class="text-alternate">
                                            {{ formation.etatDpe }}
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">% Remplissage</div>
                                        <div class="text-alternate">
                                            {{ formation.remplissage|remplissage }}
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-1 d-flex flex-column
                                            mb-1 mb-md-0 justify-content-center">
                                        <div class="text-muted text-small d-md-none">Détails</div>

                                        <button class="ms-2 btn btn-sm btn-outline-primary"
                                                {{ stimulus_action('structure--formation', 'detail', 'click',
                                                    {formation:formation.id, url: path
                                                        ('structure_parcours_detail_formation', {formation:formation
                                                        .id})}
                                                ) }}
                                        >
                                            <i class="fal fa-caret-right"></i> Détails
                                        </button>

                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-end
                                            align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Stock</div>
                                        <div class="text-alternate">2.345</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="detail_formation_{{ formation.id }}" class="d-none detail_formation ms-4">
                            <div class="row">
                                <div class="col-12" {{ stimulus_target('structure--formation', 'detail') }}></div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </section>
    </div>
</div>
