{% block stylesheets %}
    <style>
        {{ cssDiff ?? "" }}
        {{ include('communs/versioning_view_style.html.twig') }}
    </style>
{% endblock %}

<div class="row">
    <div class="col-sm-12">
        <dl>
            <dt>Description de l’enseignement</dt>
            <dd>
                <p>{{ ficheMatiere.description|raw }}</p>
            </dd>
            {% if stringDifferences.descriptionEnseignement is defined %}
                {{ include("communs/_comparaison_versioning_big.html.twig", {
                        textDifferences: stringDifferences.descriptionEnseignement,
                        idCollapse: "diffDescriptionFicheMatiere"
                    }) 
                }}
            {% endif %}
        </dl>
    </div>
    <div class="col-md-6 col-sm-12">
        <dl>
            <dt>Enseignement dispensé en</dt>
            <dd>
                <ul>
                    {% for langue in ficheMatiere.langueDispense %}
                    <li>{{ langue.libelle }}</li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-6 col-sm-12">
        <dl>
            <dt>Support de cours en</dt>
            <dd>
                <ul>
                    {% for langue in ficheMatiere.langueSupport %}
                    <li>{{ langue.libelle }}</li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-sm-12">
        <dl>
            <dt>Objectifs de l'enseignement</dt>
            <dd>
                <p>{{ ficheMatiere.objectifs|raw }}</p>
            </dd>
            {% if is_granted('ROLE_ADMIN') 
               and stringDifferences is defined
               and stringDifferences.objectifsEnseignement is defined
               and stringDifferences.objectifsEnseignement|length > 0%}
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-1">
                    <button class="btn btn-primary btn-sm my-3"
                        data-bs-toggle="collapse" data-bs-target="#diffObjectifsEnseignement"
                    >
                        Voir les différences
                    </button>
                </div>
                <div class="col-sm-12 collapse" id="diffObjectifsEnseignement">
                    {{ stringDifferences.objectifsEnseignement|raw  }} 
                </div>
            {% endif %}
        </dl>
    </div>
{#    <div class="col-sm-12">#}
{#        <dl>#}
{#            <dt>Type d'enseignement</dt>#}
{#            <dd>{{ ficheMatiere.ues.typeUe != null ? ficheMatiere.ue.typeUe.libelle :#}
{#                'erreur'#}
{#                }}</dd>#}
{#            <dt>Enseignement Obligatoire / Optionnel</dt>#}
{#            <dd>{{ elementConstitutif.ecUes[0].ue.ueObligatoire != null ? elementConstitutif.ecUes[0].ue#}
{#                .ueObligatoire.libelle : 'erreur'}}</dd>#}
{#        </dl>#}
{#    </div>#}
</div>
