<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Modalité</th>
                <th scope="col">CM</th>
                <th scope="col">TD</th>
                <th scope="col">TP</th>
                <th scope="col">Autonomie</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Présentiel</th>
                <td>{{ ficheMatiere.volumeCmPresentiel }} h</td>
                <td>{{ ficheMatiere.volumeTdPresentiel }} h</td>
                <td>{{ ficheMatiere.volumeTpPresentiel }} h</td>
                <td rowspan="2">{{ ficheMatiere.volumeTe }} h</td>
                <td>{{ ficheMatiere.volumeCmPresentiel + ficheMatiere.volumeTdPresentiel + ficheMatiere.volumeTpPresentiel }} h</td>
            </tr>
            <tr>
                <th  scope="row">Distanciel</th>
                <td>{{ ficheMatiere.volumeCmDistanciel }} h</td>
                <td>{{ ficheMatiere.volumeTdDistanciel }} h</td>
                <td>{{ ficheMatiere.volumeTpDistanciel }} h</td>
                <td>{{ ficheMatiere.volumeCmDistanciel + ficheMatiere.volumeTdDistanciel + ficheMatiere.volumeTpDistanciel }} h</td>

            </tr>
            <tr>
                <th>Total</th>
                <td>{{ ficheMatiere.volumeCmPresentiel + ficheMatiere.volumeCmDistanciel }} h</td>
                <td>{{ ficheMatiere.volumeTdPresentiel + ficheMatiere.volumeTdDistanciel }} h</td>
                <td>{{ ficheMatiere.volumeTpPresentiel + ficheMatiere.volumeTpDistanciel }} h</td>
                <td>{{ ficheMatiere.volumeTe }} h</td>
                <td>{{ ficheMatiere.volumeCmDistanciel + ficheMatiere.volumeTdDistanciel + ficheMatiere.volumeTpDistanciel + ficheMatiere.volumeCmPresentiel + ficheMatiere.volumeTdPresentiel + ficheMatiere.volumeTpPresentiel  }} h<br>(+ {{ ficheMatiere.volumeTe }} h en autonomie) </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
