<tr>
    <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
    <th colspan="4" {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %}>
        {{ ue.display }} | {{ ue.ue.libelle }} {% if ue.raccroche == true %}<i class="fal fa-link"></i>{% endif %}
        {% if ue.ue.natureUeEc is defined and ue.ue.natureUeEc != null and ue.ue.natureUeEc.libre == true %}
            <span class="badge bg-secondary">
            UE à choix libre</span>
        {% endif %}
        {% if ue.uesEnfants|length > 0 %}<span class="badge bg-primary">
            UE à choix restreint : {{ ue.uesEnfants|length }} choix possible</span>{% endif %}
    </th>

</tr>
{% if ue.ue.natureUeEc is defined and ue.ue.natureUeEc != null and ue.ue.natureUeEc.choix == false and ue.ue.natureUeEc.libre == false %}
<tr>
    <th></th>
    <th class="font-weight-bold">&nbsp;</th>
    <th class="font-weight-bold">Etat</th>
    <th class="font-weight-bold">Remplissage</th>
    <th class="font-weight-bold">Fiche EC/matiere</th>
</tr>
{% endif %}
{% if ue.ue.natureUeEc is defined and ue.ue.natureUeEc != null and ue.ue.natureUeEc.libre == true %}

{% else %}
    {% for ec in ue.elementConstitutifs %}
        {{ include('fiche_matiere_valide/_ec.html.twig', {ec:ec, semestreOrdre:semestreOrdre, ecEnfant:false, raccrocheUe: ue.raccroche, raccrocheSemestre: semestre.raccroche}) }}
        {% for ece in ec.elementsConstitutifsEnfants %}
            {{ include('fiche_matiere_valide/_ec.html.twig', {ec:ece, semestreOrdre:semestreOrdre, ecEnfant:true, raccrocheUe: ue.raccroche,raccrocheSemestre: semestre.raccroche}) }}
        {% endfor %}
    {% endfor %}
{% endif %}

{% for ueE in ue.uesEnfants %}
    {{ include('fiche_matiere_valide/_ue.html.twig', {ue:ueE, enfant: true}) }}
{% endfor %}
