{% extends 'base.html.twig' %}

{% block content %}

    <div class="card"
            {{ stimulus_controller('validation--fichematiere') }}
    >
        <div class="card-body">

            {{ component('alerte', {
                type: 'info',
                message: 'Cocher la ou les fiche-s EC/matières à valider puis cliquer sur le bouton "Valider et soumettre la-les fiche-s EC/matière.<br>
Cela entrainera la vérification des informations saisies. Seules les fiches EC/matières complètes peuvent être validées et soumises pour publication.',
            }) }}

            <button class="btn btn-sm d-block btn-outline-success mb-2 mt-2"
                    type="button"
                    data-controller="tooltip"
                    data-tooltip-placement-value="bottom"
                    data-action="validation--fichematiere#valide"
                    data-validation--fichematiere-url-param="{{ path('fiche_matiere_valide_valide', {type:'parcours', id: parcours.id}) }}"
                    aria-label="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
                    data-bs-original-title="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
            >
                <i class="fal fa-check"></i> {{ ('validation.valider.fiches_matieres')|trans({}, 'process') }}
            </button>
            {% set stats =  statsParcours.statsFichesMatieresParcours %}
            {% set dto = statsParcours %}
            {{ include('fiche_matiere_valide/_parcours.html.twig') }}

            <button class="btn btn-sm d-block btn-outline-success mb-2"
                    type="button"
                    data-controller="tooltip"
                    data-tooltip-placement-value="bottom"
                    data-action="validation--fichematiere#valide"
                    data-validation--fichematiere-url-param="{{ path('fiche_matiere_valide_valide', {type:'parcours', id: parcours.id}) }}"
                    aria-label="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
                    data-bs-original-title="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
            >
                <i class="fal fa-check"></i> {{ ('validation.valider.fiches_matieres')|trans({}, 'process') }}
            </button>
        </div>
    </div>

{% endblock %}

{% set header_title %}
    Fiches EC/Matières pour le parcours {{ parcours.libelle }}
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_parcours_index'), title: 'Liste des parcours'},
        {href: path('app_formation_edit', {slug:parcours.formation.slug}), title: 'Formation : '~parcours.formation
        .display},
        {href: path('app_parcours_edit', {id:parcours.id}), title: 'Parcours : '~parcours.libelle},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_parcours_edit', {id:parcours.id}) }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour au parcours"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour au parcours</span>
    </a>
{% endblock %}
