{% extends 'base.html.twig' %}

{% block content %}

    <div class="card"
            {{ stimulus_controller('validation--fichematiere') }}
    >
        <div class="card-body">

            <button class="btn btn-sm d-block btn-outline-success mb-2"
                    type="button"
                    data-controller="tooltip"
                    data-tooltip-placement-value="bottom"
                    data-action="validation--fichematiere#valide"
                    data-validation--fichematiere-url-param="{{ path('fiche_matiere_valide_valide') }}"
                    aria-label="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
                    data-bs-original-title="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
            >
                <i class="fal fa-check"></i> {{ ('validation.valider.fiches_matieres')|trans({}, 'process') }}
            </button>

            <table class="table table-bordered table-hover" {{ stimulus_controller('check_all') }}>
                <thead>
                <tr>
                    <th>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="check-all" {{ stimulus_action('check_all', 'checkAll') }}>
                            </label>
                        </div>
                    </th>
                    <th>EC</th>
                    <th>Fiche</th>
                </tr>
                </thead>
                <tbody>
                {% for semParc in parcours.semestreParcours|filter(semestre => semestre.semestre.nonDispense == false) %}
                    {% if semParc.semestre.semestreRaccroche != null %}
                        {% set semestre = semParc.semestre.semestreRaccroche %}
                        {% set raccrocheSem = true %}
                    {% else %}
                        {% set semestre = semParc %}
                        {% set raccrocheSem = false %}
                    {% endif %}
                    <tr>
                        <th colspan="7" class="text-center font-weight-bold">
                            {{ semParc.display }}</th>
                    </tr>


                    {% for ue in semestre.semestre.ues|filter(ue => ue.ueParent == null) %}
                        {{ include('fiche_matiere_valide/_ue.html.twig') }}
                        {% for uee in ue.ueEnfants %}
                            {{ include('fiche_matiere_valide/_ue.html.twig', {ue:uee}) }}
                        {% endfor %}
                    {% endfor %}

                {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-sm d-block btn-outline-success mb-2"
                    type="button"
                    data-controller="tooltip"
                    data-tooltip-placement-value="bottom"
                    data-action="validation--fichematiere#valide"
                    data-validation--fichematiere-url-param="{{ path('fiche_matiere_valide_valide') }}"
                    aria-label="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
                    data-bs-original-title="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
            >
                <i class="fal fa-check"></i> {{ ('validation.valider.fiches_matieres')|trans({}, 'process') }}
            </button>
        </div>
    </div>

{% endblock %}

{% block header %}
    Fiches EC/Matières pour le parcours {{ parcours.libelle }}
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_parcours_index'), title: 'Liste des parcours'},
        {href: path('app_formation_edit', {slug:parcours.formation.slug}), title: 'Formation : '~parcours.formation
        .display},
        {href: path('app_parcours_edit', {id:parcours.id}), title: 'Parcours : '~parcours.libelle},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_parcours_edit', {id:parcours.id}) }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour au parcours"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour au parcours</span>
    </a>
{% endblock %}
