{% extends 'base.html.twig' %}

{% block content %}

    <div class="card"
            {{ stimulus_controller('validation--fichematiere') }}
    >
        <div class="card-body">

            {{ component('alerte', {
                type: 'info',
                message: 'Cocher les fiches EC/matière à valider puis cliquer sur le bouton "Valider et soumettre les fiches EC/matière.<br>
Cela entrainera la vérification des informations saisies. Seules les fiches EC/matières complètes peuvent être validées et soumises pour publication.',
            }) }}

            <button class="btn btn-sm d-block btn-outline-success mb-2 mt-2"
                    type="button"
                    data-controller="tooltip"
                    data-tooltip-placement-value="bottom"
                    data-action="validation--fichematiere#valide"
                    data-validation--fichematiere-url-param="{{ path('fiche_matiere_valide_valide') }}"
                    aria-label="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
                    data-bs-original-title="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
            >
                <i class="fal fa-check"></i> {{ ('validation.valider.fiches_matieres')|trans({}, 'process') }}
            </button>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-5 d-flex align-items-center mb-2 text-secondary mb-md-0">
                            Parcours
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        text-secondary">
                            Etat remplissage
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center
                        text-secondary">
                            En attente<br> validation
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center text-medium
                         text-secondary">
                            En attente <br>
                            validation SES
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center
                        text-medium text-secondary">
                            Fiches validées
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center text-medium
                         text-secondary">
                            Publiées
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center text-medium
                        justify-content-end text-secondary">
                            Détails
                        </div>
                    </div>
                </div>
            </div>
            {% for parcours in parcourss %}
                {% set stats =  statsParcours[parcours.id].statsFichesMatieresParcours %}
                {% set dto = statsParcours[parcours.id] %}
                <div>
                    <div class="card mb-2 sh-19 sh-md-8">
                        <div class="card-body pt-0 pb-0 h-100">
                            <div class="row g-0 h-100 align-content-center">
                                <div class="col-12 col-md-5 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                    <div class="text-muted d-md-none">Parcours</div>
                                    {{ parcours.libelle }}
                                </div>
                                <div class="col-6 col-md-2 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                    <div class="text-muted d-md-none">Etat remplissage</div>
                                    {{ stats.nbFichesCompletes }} / {{ stats.nbFiches }}
                                </div>
                                <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                    <div class="text-muted d-md-none">En attente validation RP</div>
                                    {{ stats.nbFichesNonValidees }}
                                </div>

                                <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                    <div class="text-muted d-md-none">En attente validation DPE</div>
                                    {{ stats.nbFichesNonValideesSes }}
                                </div>
                                <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                    <div class="text-muted d-md-none">En attente validation RF</div>
                                    {{ stats.nbFichesValidees }}
                                </div>
                                <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                    <div class="text-muted d-md-none">En attente validation DPE</div>
                                    {{ stats.nbFichesPubliees }}
                                </div>
                                <div class="col-6 col-md-1 d-flex flex-column justify-content-center
                                            mb-1 mb-md-0">
                                    <div class="text-muted d-md-none">Détails</div>

                                    <button class="ms-2 btn btn-sm btn-outline-primary"
                                            {{ stimulus_action('validation--fichematiere', 'detail', 'click',
                                                {parcours:parcours.id}
                                            ) }}
                                    >
                                        <i class="fal fa-caret-right"></i> Détails
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="detail_parcours_{{ parcours.id }}" class="d-none detail_parcours ms-4">
                        <div class="row">
                            <div class="col-12 bg-white">
                                {{ include('fiche_matiere_valide/_parcours.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


            <button class="btn btn-sm d-block btn-outline-success mb-2"
                    type="button"
                    data-controller="tooltip"
                    data-tooltip-placement-value="bottom"
                    data-action="validation--fichematiere#valide"
                    data-validation--fichematiere-url-param="{{ path('fiche_matiere_valide_valide') }}"
                    aria-label="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
                    data-bs-original-title="{{ ('validation.valider.fiches_matieres.parcours')|trans({}, 'process') }}"
            >
                <i class="fal fa-check"></i> {{ ('validation.valider.fiches_matieres')|trans({}, 'process') }}
            </button>
        </div>
        <div {{ stimulus_target('validation--fichematiere', 'action') }}
    </div>

{% endblock %}

{% block header %}
    Fiches EC/Matières pour la formation {{ formation.displayLong }}
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_parcours_index'), title: 'Liste des parcours'},
        {href: path('app_formation_edit', {slug:formation.slug}), title: 'Formation : '~formation
        .display}
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_formation_edit', {slug:formation.slug}) }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour au parcours"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la formation</span>
    </a>
{% endblock %}
