{% extends 'base.html.twig' %}

{% block header %}
    Gestion de la campagne de collecte
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% set cases = {
    1: {
        id: 'attente',
        libelle: 'En attente',
        value: 'ATTENTE'
    },
    2: {
        id: 'non_ouverture',
        libelle: 'Non ouverture',
        value: 'NON_OUVERTURE'
    },
    3: {
        id: 'reconduction',
        libelle: 'Reconduction identique',
        value: 'RECONDUCTION_IDENTIQUE'
    },
    4: {
        id: 'reconduction_modification',
        libelle: 'Reconduction avec modification',
        value: 'RECONDUCTION_MODIFICATION'
    },
} %}

{% block content %}
    {% if campagne is defined and campagne == true %}
        <div class="alert alert-info">
            Vous pouvez laisser les responsables de formations indiquer leur souhait pour chacun de leur
            parcours. Pour cela cliquez sur ce lien pour les informer et les inviter à indiquer leur souhait.
            Vous gardez la décision finale.<br>
            <a href="" class="text-warning">Demander aux responsables de formation le souhait pour chacun de leurs
                formations et
                parcours</a></div>

        <div class="card mt-2">
            <div class="card-body">
                <table class="table" {{ stimulus_controller('check_all') }}>
                    <thead>
                    <tr>
                        <th colspan="2">Mention / Parcours</th>
                        {% for cas in cases %}
                            <th>
                                <div class="checkbox text-center">
                                    <label>
                                        {{ cas.libelle }}<br>
                                        <input type="radio"
                                               name="etat"
                                               id="{{ cas.id }}" {{ stimulus_action('check_all', 'checkAll', 'click', {'classCheckAll' : cas.id, 'idCheckAll': cas.id}) }}>
                                    </label>
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>

                    {% for formation in formations %}
                        <tr class="bg-light" >
                            <td class="bg-light" colspan="2">{{ formation.formation.displayLong }}</td>
                            {% for cas in cases %}
                                <td>
                                    <div class="checkbox text-center">
                                        <label>
                                            <input
                                                    {{ stimulus_action('check_all', 'check', 'click', {'classCheckAll' : cas.id, 'idCheckAll': cas.id }) }}
                                                    type="radio"
                                                    {% if loop.first %}checked{% endif %}
                                                    class="{{ cas.id }}"
                                                    value="{{ cas.value }}"
                                            >
                                        </label>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                        {% if formation.formation.hasParcours %}
                            {% for parcours in formation.parcours %}
                            <tr>
                                <td></td>
                                <td>{{ parcours.parcours.display }}</td>
                                {% for cas in cases %}
                                    <td>
                                        <div class="checkbox text-center">
                                            <label>
                                                <input
                                                        {{ stimulus_action('check_all', 'check', 'click', {'classCheckAll' : cas.id, 'idCheckAll': cas.id }) }}
                                                        type="radio"
                                                        {% if loop.first %}checked{% endif %}
                                                        class="{{ cas.id }}"
                                                        name="parcour_{{ parcours.id }}"
                                                        value="{{ cas.value }}"
                                                >
                                            </label>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>

                        {% endfor %}
                        {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    {% else %}
        {{ component('alerte', {
            'type': 'warning',
            'message': 'Vous n\'avez pas de campagne de collecte en cours'
        }) }}
    {% endif %}
{% endblock %}

