<table class="table">
    <thead>
    <tr>
        <th>Libellé</th>
        <th>Sigle</th>
        <th>Type de diplôme</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for mention in mentions %}
        <tr>
            <td>{{ mention.libelle }}</td>
            <td>{{ mention.sigle }}</td>
            <td>{{ mention.typeDiplome|typeDiplome  }}</td>
            <td class="text-end">
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Voir une mention ou spécialité',
                            modalUrl: path('app_mention_show',{'id': mention.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-info"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Voir une mention ou spécialité"
                >
                    <i class="{{ iconShow }}"></i>
                    <span> voir</span>
                </button>

                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Modifier une mention ou spécialité',
                            modalUrl: path('app_mention_edit',{'id': mention.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-warning"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Modifier une mention ou spécialité"
                >
                    <i class="{{ iconEdit }}"></i>
                    <span> modifier</span>
                </button>

                <button {{ stimulus_action('crud', 'duplicate', 'click', {
                    url:path('app_mention_duplicate',{'id': mention.id})
                }) }} class="btn btn-sm text-success">
                    <i class="{{ iconDuplicate }}"></i> Dupliquer
                </button>
                <button {{ stimulus_action('crud', 'delete', 'click', {
                    url:path('app_mention_delete',{'id': mention.id}),
                    csrf: csrf_token('delete' ~ mention.id)
                }) }} class="btn btn-sm text-danger">
                    <i class="{{ iconDelete }}"></i> Supprimer
                </button>
            </td>

        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
