{% extends 'base.html.twig' %}

{% block content %}
    <div class="card"
            {{ stimulus_controller('crud', {
                url: path('app_mention_liste')
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe"
    >
        <div class="card-body">
            {{ include('communs/_recherche.html.twig') }}
            <div {{ stimulus_target('crud', 'liste') }}>

            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    Gestion des mentions/spécialités
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    {% if is_granted('ROLE_ADMIN') %}
{#        <a href="{{ path('app_mention_codification') }}"#}
{#           class="btn btn-sm btn-outline-danger btn-icon btn-icon-end w-100 w-sm-auto mx-2"#}
{#        >#}
{#            <i class="fal fa-wrench"></i>#}
{#            <span> Générer Codification</span>#}
{#        </a>#}
        <button
                {{ stimulus_controller('modal', {
                    size: 'lg',
                    modalTitle: 'Générer Codification',
                    modalUrl: path('app_mention_codification_modal') }) }}
                data-action="click->modal#openModal"
                class="btn btn-sm btn-outline-danger btn-icon btn-icon-end w-100 w-sm-auto mx-2"
                data-size="lg"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Générer Codification"
        >
            <i class="fal fa-wrench"></i>
            <span> Générer Codification</span>
        </button>
    {% endif %}
    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'Ajouter une mention/spécialité',
                modalUrl: path('app_mention_new') }) }}
            data-action="click->modal#openModal"
            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Ajouter une mention/spécialité"
    >
        <i class="{{ iconAdd }}"></i>
        <span> Ajouter une mention/spécialité</span>
    </button>
{% endblock %}
