{% extends 'base.html.twig' %}

{% block content %}
    {{ component('DataTable', { config: table }) }}
{% endblock %}

{% set header_title %}
    {{ 'header.mention.index'|trans({}, 'header') }}
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        },
        {
            href:'',
            title: 'header.mention.index'|trans({}, 'header'),
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    {% if is_granted('ROLE_ADMIN') %}
        <a
                data-action="click->modalturbo#open"
                data-turbo="true"
                href="{{ path('app_mention_codification_modal') }}"
                class="btn border border-amber-300 bg-amber-50 text-amber-700 hover:bg-amber-100 hover:text-amber-800"
                {{ stimulus_controller('tooltip', {
                    placement: 'bottom',
                    customClass: 'app-tooltip',
                    title: "Générer Codification"
                }) }}
        >
            <twig:UX:Icon name="icon:wrench" class="h-4 w-4"/>
            <span> Générer Codification</span>
        </a>
    {% endif %}

    <a
            data-action="click->modalturbo#open"
            data-turbo="true"
            href="{{ path('app_mention_new') }}"
            class="btn border border-emerald-300 bg-emerald-50 text-emerald-700 hover:bg-emerald-100 hover:text-emerald-800"
            {{ stimulus_controller('tooltip', {
                placement: 'bottom',
                customClass: 'app-tooltip',
                title: "Ajouter une mention"
            }) }}
    >
        <twig:UX:Icon name="icon:add" class="h-4 w-4"/>
        <span> Ajouter une mention</span>
    </a>
{% endblock %}
