{% import "typeDiplome/mccc-non-editable/licence/_compareMcccVersioning.macro.html.twig" as compareMccc %}

{% if hasChangedTypeMccc is not defined %}
    {% set hasChangedTypeMccc = false %}
{% endif %}

{% set hasDisplayComparaison = (isFromVersioning ?? 'false' != 'true') 
    and (isMcccFromVersion ?? false == true)
    and (hasChangedTypeMccc == false)
%}

{% if mcccVersioning is not defined %}
    {% set mcccVersioning = [] %}
{% endif %}

<h3>1ᵉ Session</h3>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Pourcentage</th>
            <th>Nb d'épreuve(s)</th>
            <th>CC avec TP</th>
            <th>Pourcentage du TP</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Contrôle continu</th>
            <td>
                {% if mcccs[1]['cc'][1] is defined %}
                    {{ 
                        compareMccc.displayMccc(
                            mcccs[1]['cc'][1].pourcentage ?? false,
                            mcccVersioning[1]['cc'][1].pourcentage ?? false,
                            "%",
                            hasDisplayComparaison)
                    }}
                {% else %}
                    -%
                {% endif %}
            </td>
            <td>
                {% set nbEpreuvesVersioning = mcccVersioning[1]['cc'][1] is defined 
                    ? mcccVersioning[1]['cc'][1].nbEpreuves ~ ' épreuve(s)'
                    : false 
                %}
                {% if mcccs[1]['cc'][1] is defined %}
                    {{
                        compareMccc.displayMccc(
                            mcccs[1]['cc'][1].nbEpreuves ~ ' épreuve(s)',
                            nbEpreuvesVersioning,
                            "",
                            hasDisplayComparaison
                        )
                    }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if mcccs[1]['cc'][1].options is defined and mcccs[1]['cc'][1].options.cc_has_tp is defined and mcccs[1]['cc'][1].options.cc_has_tp == "on" %}
                    {% set libelleOption = 'Oui' %}
                    {% set pourcentageOptionTP = '50%' %}
                {% else %}
                    {% set libelleOption = 'Non' %}
                    {% set pourcentageOptionTP = '-' %}
                {% endif %}
                
                {% set libelleOptionVersioning = mcccVersioning[1]['cc'][1].options.cc_has_tp ?? false %}
                {% set pourcentageOptionTPVersioning = libelleOptionVersioning == 'on' ? '50%' : '-' %}
                
                {{ 
                    compareMccc.displayMccc(
                        libelleOption,
                        libelleOptionVersioning == 'on' ? 'Oui' : 'Non',
                        "",
                        hasDisplayComparaison
                    )
                }}
            </td>
            <td>
                {{
                    compareMccc.displayMccc(
                        pourcentageOptionTP,
                        pourcentageOptionTPVersioning,
                        "",
                        hasDisplayComparaison
                    )
                }}
            </td>
        </tr>
        </tbody>
    </table>

    <div id="epreuves_ct">
        {% if mcccs[1]['et'] is defined %}
            {{ include('typeDiplome/mccc-non-editable/licence/_epreuveCt.html.twig', 
                {
                    mcccs:mcccs[1]['et'],
                    mcccVersioning: mcccVersioning[1]['et'] ?? ""
                }) 
            }}
        {% endif %}
    </div>
</div>
<h3>2ᵉ Session</h3>
<div id="epreuves_s2_ct">
    {% if mcccs[2]['et'] is defined %}
        {{ include('typeDiplome/mccc-non-editable/licence/_secondeChance.html.twig', 
            {
                mcccs:mcccs[2]['et'],
                mcccVersioning: mcccVersioning[2]['et'] ?? ""
            }) 
        }}
    {% endif %}
</div>
