{% import "typeDiplome/mccc-non-editable/licence/_compareMcccVersioning.macro.html.twig" as compareMccc %}

<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Pourcentage</th>
            <th>Type épreuve</th>
            <th>Durée de l'épreuve</th>
        </tr>
        </thead>
        <tbody>

        {% if hasChangedTypeMccc is not defined %}
            {% set hasChangedTypeMccc = false %}
        {% endif %}

        {% set hasDisplayComparaison = (isFromVersioning ?? 'false' != 'true')
            and (isMcccFromVersion ?? false == true)
            and (hasChangedTypeMccc == false)
        %}
        {% if hasChangedTypeMccc %}
            {% set mcccArray = mcccVersioning %}
        {% else %}
            {% set mcccArray = mcccs %}
        {% endif %}
        {% set currentMcccLength = mcccArray|length %}
        {% if mcccs|length < mcccVersioning|length and hasChangedTypeMccc == false %}
            {% set lengthDiff = mcccVersioning|length - mcccs|length %}
            {% set mcccArray = mcccs|merge(mcccVersioning|slice( (mcccs|length - 1), lengthDiff)) %}
        {% endif %}
        {% for mccc in mcccArray %}
            {% set mcccLoopIndex = loop.index %}
            <tr>
                <th>
                    {{
                        compareMccc.displayMccc(
                            mcccLoopIndex <= currentMcccLength ? 'Contrôle terminal N°' ~ mcccLoopIndex : false,
                            mcccVersioning[mcccLoopIndex] is defined ? 'Contrôle terminal N°' ~ mcccLoopIndex : false,
                            "",
                            hasDisplayComparaison
                        )
                    }}
                </th>
                <td>
                    {% if mccc.pourcentage is defined %}
                        {{ compareMccc.displayMccc(
                            loop.index <= currentMcccLength ? mccc.pourcentage : false, 
                            mcccVersioning[loop.index].pourcentage ?? false, 
                            "%",
                            hasDisplayComparaison)  
                        }}
                    {% else %}
                        100%
                    {% endif %}
                </td>
                <td>
                    {% for typeE in typeEpreuves %}
                        {% if mccc.typeEpreuve[0] is defined and mccc.typeEpreuve[0] == typeE.id %}
                            {% if mcccVersioning[mcccLoopIndex].typeEpreuve[0] is defined %}
                                {% set typeEpreuveVersion = typeEpreuves|find(
                                    t => t.id == mcccVersioning[mcccLoopIndex].typeEpreuve[0]
                                ).display %}
                            {% else %}
                                {% set typeEpreuveVersion = false %}
                            {% endif %}
                            {{
                                compareMccc.displayMccc(
                                    mcccLoopIndex <= currentMcccLength ? typeE.display : false,
                                    typeEpreuveVersion,
                                    "",
                                    hasDisplayComparaison
                                )
                            }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                {% if mccc.duree is defined and mccc.duree != null %}
                    {% set mcccDuree = mccc.duree|date('H:i') %}
                {% else %}
                    {% set mcccDuree = '-' %}
                {% endif %}
                {% if mcccVersioning[mcccLoopIndex].duree is defined 
                    and mcccVersioning[mcccLoopIndex].duree != null
                %}
                    {% set dureeMcccVersion = mcccVersioning[mcccLoopIndex].duree|date('H:i') %}
                {% else %}
                    {% set dureeMcccVersion = '-' %}
                {% endif %}
                
                {{
                    compareMccc.displayMccc(
                        mcccLoopIndex <= currentMcccLength ? mcccDuree : false,      
                        dureeMcccVersion,
                        "",
                        hasDisplayComparaison
                    )
                }}
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    <div class="col-4">#}
{#        <strong>Contrôle terminal N°{{ index }}</strong>#}
{#    </div>#}
{#    <div class="col-4">#}
{#        <label for="pourcentage_s1_ct{{ index }}">#}
{#            Pourcentage#}
{#            <i class="fal fa-question-circle ms-1"#}
{#               data-controller="tooltip"#}
{#               data-tooltip-placement-value="bottom"#}
{#               aria-label="{{ 'mccc_licence.helps.cc_ct.pourcentage_s1_et.help'|trans({}, 'help') }}"#}
{#               data-bs-original-title="{{ 'mccc_licence.helps.cc_ct.pourcentage_s1_et.help'|trans({}, 'help') }}"></i>#}
{#        </label>#}
{#        <div class="input-group">#}
{#            <input type="text" class="form-control synchro-mccc" id="pourcentage_s1_ct{{ index }}"#}
{#                   name="pourcentage_s1_ct{{ index }}"#}
{#                   {% if disabled %}disabled{% endif %}#}
{#                    #}{#                        {{ stimulus_action('mccc--licence', 'saveDataCcCt', 'change', { #}
{#                    #}{#                            action: 'float', #}
{#                    #}{#                            field: 'pourcentage_s1_ct1', #}
{#                    #}{#                        }) }} #}
{#                    {% if mcccs[1]['et'][index] is defined %}#}
{#                        value="{{ mcccs[1]['et'][index].pourcentage }}"#}
{#                    {% endif %}#}
{#            >#}
{#            <span class="input-group-text">%</span>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-4">#}
{#        <label for="typeEpreuve_s1_ct{{ index }}">#}
{#            Type d'épreuve#}
{#            <i class="fal fa-question-circle ms-1"#}
{#               data-controller="tooltip"#}
{#               data-tooltip-placement-value="bottom"#}
{#               aria-label="{{ 'mccc_licence.helps.cc_ct.typeEpreuve_s1_et.help'|trans({}, 'help') }}"#}
{#               data-bs-original-title="{{ 'mccc_licence.helps.cc_ct.typeEpreuve_s1_et.help'|trans({}, 'help') }}"></i>#}
{#        </label>#}
{#        <select class="form-select typeEpreuveSelectCt synchro-mccc" id="typeEpreuve_s1_ct{{ index }}"#}
{#                {% if disabled %}disabled{% endif %}#}
{#                name="typeEpreuve_s1_ct{{ index }}"#}
{#                {{ stimulus_action('mccc--licence', 'changeTypeEpreuveCt', 'change') }}#}
{#        >#}
{#            <option value="">Choisir</option>#}
{#            {% for typeE in typeEpreuves %}#}
{#                <option value="{{ typeE.id }}"#}
{#                        data-hasduree="{{ typeE.hasDuree }}"#}
{#                        {% if mcccs[1]['et'][index] is defined %}#}
{#                            {% if mcccs[1]['et'][index].typeEpreuve[0] is defined and mcccs[1]['et'][index].typeEpreuve[0] == typeE.id %}selected{% endif %}#}
{#                        {% endif %}#}
{#                >{{ typeE.display }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#    </div>#}
{#    <div class="col-4">#}
{#        &nbsp;#}
{#    </div>#}
{#    <div class="col-4">#}
{#        &nbsp;#}
{#    </div>#}
{#    <div class="col-4">#}
{#        <label for="duree_s1_ct{{ index }}">#}
{#            Durée de l'épreuve#}
{#            <i class="fal fa-question-circle ms-1"#}
{#               data-controller="tooltip"#}
{#               data-tooltip-placement-value="bottom"#}
{#               aria-label="{{ 'mccc_licence.helps.ct.duree_s1_et.help'|trans({}, 'help') }}"#}
{#               data-bs-original-title="{{ 'mccc_licence.helps.ct.duree_s1_et.help'|trans({}, 'help') }}"></i>#}
{#        </label>#}
{#        <div class="input-group">#}
{#            <input type="time" class="form-control synchro-mccc" id="duree_s1_ct{{ index }}" name="duree_s1_ct{{ index }}"#}
{#                   {% if disabled %}disabled{% endif %}#}
{#                    {% if mcccs[1]['et'][index] is defined %}#}
{#                        value="{% if mcccs[1]['et'][index].duree != null %}{{ mcccs[1]['et'][index].duree|date('H:i') }}{% endif %}"#}
{#                    {% endif %}#}
{#            >#}
{#        </div>#}
{#    </div>#}
</div>

