{% import "typeDiplome/mccc-non-editable/licence/_compareMcccVersioning.macro.html.twig" as compareMccc %}

<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Pourcentage</th>
            <th>Type épreuve</th>
            <th>Durée de l'épreuve</th>
        </tr>
        </thead>
        <tbody>
        {% set hasDisplayComparaison = isFromVersioning != 'true' and isMcccFromVersion ?? false == true %}
        {% set mcccArray = mcccs %}
        {% set currentMcccLength = mcccs|length %}
        {% if mcccs|length < mcccVersioning|length %}
            {% set lengthDiff = mcccVersioning|length - mcccs|length %}
            {% set mcccArray = mcccs|merge(mcccVersioning|slice( (mcccs|length - 1), lengthDiff)) %}
        {% endif %}
        {% for mccc in mcccArray %}
            {% set mcccIndex = loop.index %}
            <tr>
                <th>Examen 2ᵉ Session N°{{ loop.index }}</th>
                <td>
                    {% set currentPourcentage = mccc.pourcentage ?? '100' %}
                    {{
                        compareMccc.displayMccc(
                            mcccIndex <= currentMcccLength ? currentPourcentage : false,
                            mcccVersioning[mcccIndex].pourcentage ?? false,
                            '%',
                            hasDisplayComparaison
                        )  
                    }}
                    {# {% if mccc.pourcentage is defined %}
                        {{ mccc.pourcentage }}%
                    {% else %}
                        100%
                    {% endif %} #}
                </td>
                <td>
                    {% for typeE in typeEpreuves %}
                        {% if mccc.typeEpreuve[0] is defined and mccc.typeEpreuve[0] == typeE.id %}
                            {% if mcccVersioning[mcccIndex].typeEpreuve[0] is defined %}
                                {% set typeEpreuveVersion = typeEpreuves|find(
                                    t => t.id == mcccVersioning[mcccIndex].typeEpreuve[0]
                                ).display %}
                            {% else %}
                                {% set typeEpreuveVersion = false %}
                            {% endif %}
                                {{
                                    compareMccc.displayMccc(
                                        mcccIndex <= currentMcccLength ? typeE.display : false,
                                        typeEpreuveVersion,
                                        "",
                                        hasDisplayComparaison
                                    )
                                }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if mccc.duree is defined and mccc.duree != null %}
                        {% set currentDuree = mccc.duree|date('H:i') %}
                    {% else %}
                        {% set currentDuree = '-' %}
                    {% endif %}
                    {% if mcccVersioning[mcccIndex].duree is defined and mcccVersioning[mcccIndex].duree != null %}
                        {% set previousDuree = mcccVersioning[mcccIndex].duree|date('H:i') %}
                    {% else %}
                        {% set previousDuree = '-' %}
                    {% endif %}
                    {{
                        compareMccc.displayMccc(
                            mcccIndex <= currentMcccLength ? currentDuree : false,
                            previousDuree,
                            '',
                            hasDisplayComparaison
                        )
                    }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
