{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ include('communs/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% set header_title %}
    {{ titre ?: '' }}
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a
            class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            href="{{ path('app_etablissement_index') }}"
            title="Retour à la liste des établissements"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la liste des établissements</span>
    </a>
{% endblock %}
