<table class="table">
    <tbody>
    <tr>
        <th>Libellé</th>
        <td>{{ etablissement.libelle }}</td>
    </tr>
    <tr>
        <th>Adresse</th>
        <td>{{ etablissement.adresse ? etablissement.adresse.display|raw : 'Non définie' }}</td>
    </tr>
    <tr>
        <th>Numéro SIRET</th>
        <td>{{ etablissement.getNumeroSIRET() ?: 'Non renseigné' }}</td>
    </tr>
    <tr>
        <th>Calendrier universitaire</th>
        <td>
            {{ etablissement.getEtablissementInformation.getCalendrierUniversitaire 
            ? etablissement.getEtablissementInformation.getCalendrierUniversitaire|raw 
            : 'Non renseigné' 
            }}
        </td>
    </tr>
    <tr>
        <th>Calendrier d'inscription</th>
        <td>
            {{ etablissement.getEtablissementInformation.getCalendrierInscription 
            ? etablissement.getEtablissementInformation.getCalendrierInscription|raw         
            : 'Non renseigné' 
            }}
        </td>
    </tr>
    <tr>
        <th>Informations pratiques</th>
        <td>
            {{ etablissement.getEtablissementInformation.getInformationsPratiques 
                ? etablissement.getEtablissementInformation.getInformationsPratiques|raw 
                : 'Non renseigné' 
            }}
        </td>
    </tr>
    <tr>
        <th>Restauration</th>
        <td>
            {{
                etablissement.getEtablissementInformation.getRestauration
                ? etablissement.getEtablissementInformation.getRestauration|raw
                : 'Non renseigné'
            }}
        </td>
    </tr>
    <tr>
        <th>Hébergement</th>
        <td>
            {{
                etablissement.getEtablissementInformation.getHebergement
                ? etablissement.getEtablissementInformation.getHebergement|raw
                : 'Non renseigné'
            }}
        </td>
    </tr>
    <tr>
        <th>Transport</th>
        <td>
            {{
                etablissement.getEtablissementInformation.getTransport
                ? etablissement.getEtablissementInformation.getTransport|raw
                : 'Non renseigné'
            }}
        </td>
    </tr>
    </tbody>
</table>

