{% extends 'base.html.twig' %}

{% block header %}
    Résultats de la recherche
{% endblock %}

{% block stylesheets %}
{{ parent() }}

{% if typeRecherche == 'ficheMatiere' %}
    <link rel="stylesheet" href="{{ asset('search/search.css') }}">
{% endif %}


<style>
a.fiche-matiere-search-link span {
    text-decoration: underline;
}

.spinning-icon {
    font-size: 3.75em;
    animation-name: spinning;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.modal-body ul li {
    text-align: start;
}

.rootNodeForFicheMatiereList {
    min-height: 75vh;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#newSearchField::placeholder {
    color: black;
}

#newSearchField:focus { 
    border-color: black;
}

</style>
{% endblock %}

{% block content %}

<p class="fs-3 text-dark text-center mt-5">
    {{ keyword_1 is not empty ? 'Mot-clé : ' ~ keyword_1 : 'Aucun mot-clé renseigné.' }}
</p>

{% if typeRecherche == 'parcours' and parcoursArray|length > 0 %}
<p class="fs-3 text-primary text-center mt-5">
    {{ 
       parcoursArray|length >= 2 
       ? parcoursArray|length ~ ' parcours contiennent le mot-clé saisi en description'
       : parcoursArray|length ~ ' parcours contient le mot-clé saisi en description'
    }} 
</p>
{% endif %}

{% if typeRecherche == 'ficheMatiere' %}
<p class="fs-3 text-primary text-center mt-5">
    {{ 
       nombreTotal >= 2 
       ? nombreTotal ~ ' fiches matières contiennent le mot-clé saisi en description'
       : nombreTotal ~ ' fiche matière contient le mot-clé saisi en description'
    }} 
</p>
{% endif %}

<div class="row justify-content-center my-5">
    <div class="col-8 col-md-6 col-lg-4 justify-content-center">
        <form action="{{ path('app_search_action') }}">
            <input 
                type="text" 
                placeholder="Nouvelle recherche..." 
                id="newSearchField"
                class="form-control"
                name="keyword_1"
            >
            <div class="row justify-content-center">
                <div class="d-flex col-10 col-md-8 col-lg-6 col-xl-4 justify-content-center">
                    {{ include('search/search_type.html.twig') }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 col-md-8 col-lg-5 text-center">
                    <button class="btn btn-sm btn-primary border border-white rounded mt-3">
                        Rechercher
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if typeRecherche == 'parcours' %}
    {{ include('search/search_result_parcours.html.twig') }}
{% elseif typeRecherche == 'ficheMatiere' %}
    {{ include('search/search_result_fiche_matiere.html.twig') }}
{% endif %}


{% endblock %}

{% block javascripts %}
{{ parent() }}

{% if typeRecherche == 'parcours' %}
    <script src="{{ asset('search/search_parcours.js') }}"></script>
{% elseif typeRecherche == 'ficheMatiere' %}
    <script src="{{ asset('search/search_fiche_matiere.js') }}"></script>
{% endif %}

{% endblock %}