<div class="row justify-content-center" id="rootListElement"
     data-fiche-matiere-url="{{ absolute_url(path('fiche_matiere_v2_voir', {slug: 'µ#+'})) }}"
>
    <div class="col-8">
        {% if parcoursArray|length > 0 %}
                {% for p in parcoursArray %}
                    <div class="col-12 border border-primary rounded my-4">
                        <div class="row p-2 mt-1">
                            {% if isParcoursDefautArray[loop.index0] == true %}
                                <div class="col-8">
                                    <a
                                            href="{{ path('formation_v2_voir', {slug: p.formation_slug}) }}"
                                        class="text-primary font-weight-bold"
                                        target="_blank"
                                    >
                                        {{ resultArrayBadge[loop.index0]['libelleMention'] }}
                                    </a>
                                </div>
                                <div class="col-4">
                                    <span class="text-end">
                                        Sigle : {{ p.formation_sigle }}
                                    </span>
                                </div>
                            {% else %}
                                <div class="col-8">
                                    <a
                                            href="{{ path('parcours_v2_voir', {parcours: p.parcours_id}) }}"
                                        class="text-primary font-weight-bold"
                                        target="_blank"
                                    >
                                        {{ resultArrayBadge[loop.index0]['libelleMention'] }}
                                        {{ p.parcours_libelle }}
                                    </a>
                                </div>
                                <div class="col-4">
                                    <span class="text-end">
                                        Sigle : {{ p.parcours_sigle }}
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row p-2 mt-2">
                            <div>
                                {% if 'objectifsParcours' in resultArrayBadge[loop.index0] %}
                                    <span class="badge rounded-pill text-bg-success">
                                        Objectifs du parcours
                                    </span>
                                {% endif %}
                                {% if 'poursuitesEtudes' in resultArrayBadge[loop.index0] %}
                                    <span class="badge rounded-pill text-bg-warning">
                                        Poursuite d'études
                                    </span>
                                {% endif %}
                                {% if 'contenuFormation' in resultArrayBadge[loop.index0] %}
                                    <span class="badge rounded-pill text-bg-primary">
                                        Contenu de la formation
                                    </span>
                                {% endif %}
                                {% if 'resultatsAttendus' in resultArrayBadge[loop.index0] %}
                                    <span class="badge rounded-pill text-bg-info">
                                        Résultats attendus
                                    </span>
                                {% endif %}
                                {% if 'objectifsFormation' in resultArrayBadge[loop.index0] %}
                                    <span class="badge rounded-pill text-bg-secondary">
                                        Objectifs de la formation
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        {% if resultArrayBadge[loop.index0]['fichesMatieres'] is defined
                              and resultArrayBadge[loop.index0]['fichesMatieres']|length > 0
                        %}
                        {% set nbFichesMatieres = resultArrayBadge[loop.index0]['fichesMatieres']|length %}
                        <div class="col mb-2">
                            <a href="#" class="fiche-matiere-search-link"
                               data-bs-toggle="modal"
                               data-bs-target="#associatedFicheMatiereModal"
                            >
                                <span
                                    class="font-weight-bold ms-3 pb-2 text-dark"
                                    data-fetch-url="{{ absolute_url(path('app_fiche_matiere_search',
                                            { parcours: p.parcours_id, keyword: keyword_1}))
                                    }}"
                                    data-number-associated-fiches-matieres="{{ nbFichesMatieres }}"
                                >
                                    {{
                                        nbFichesMatieres > 1
                                        ? nbFichesMatieres ~ ' fiches matières associées'
                                        : nbFichesMatieres ~ ' fiche matière associée' }}
                                </span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
        {% else %}
            <h1 class="fs-4 mt-4 text-dark text-center">
                Aucun parcours trouvé pour le mot-clé fourni...
            </h1>
        {% endif %}
    </div>
</div>

<div class="modal" id="associatedFicheMatiereModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titre-modale-recherche">

                </h5>
            </div>
            <div class="modal-body text-center" id="associated-fiche-matiere-modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">
                    Fermer
                </button>
            </div>
        </div>
    </div>
</div>
