{% extends 'base-speciale.html.twig' %}

{% block title %}Demande d'accès{% endblock %}

{% block content %}
    <div class="mb-2 mt-4">
        <h2 class="cta-1 mb-0 text-primary">Bienvenue,</h2>
        <h2 class="cta-1 text-primary">Complétez votre demande d'accès</h2>
    </div>
    <div class="d-grid mb-2">
        <a href="{{ path('app_login') }}" class="btn d-block btn-primary" type="submit">
            Déjà un compte ? Connectez vous
        </a>
    </div>
    <div {{ stimulus_controller('register', {
        urlComposante: path('api_composante'),
        urlDroits: path('api_droits'),
    }) }}>
        {% form_theme form 'communs/form_theme.html.twig' %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">
                {{ form_row(form.prenom) }}
            </div>
            <div class="col-6">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-12">
                {{ form_row(form.email) }}
            </div>
            <div class="col-12">
                {{ form_row(form.centreDemande) }}
            </div>
            <div class="col-12">
                <label for="selectListe" class="form-label">Si composante, précisez</label>
                <select class="form-select" name="selectListe" id="selectListe">
                    <option value="">Choisissez un centre</option>
                </select>
            </div>
        </div>

        <div class="d-grid mt-2">
            <button class="btn d-block btn-primary" type="submit">Valider la demande</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
