<div
        {{ stimulus_controller('ec--manage') }}
>

    {% form_theme form 'communs/form_theme_v2.html.twig' %}
    {{ form_start(form, {
        'attr': {
            'id': 'modal_form'}
    }) }}

    {% if isAdmin %}
        <div class="grid grid-cols-3 gap-6">
            <div class="space-y-2">
                {{ form_row(form.ordre) }}
            </div>
            <div class="col-span-2 space-y-2">
                {{ form_row(form.code) }}
            </div>
        </div>
    {% endif %}

    {{ form_row(form.typeEc) }}
    {{ form_row(form.natureUeEc) }}

    <div data-ec--manage-target="natureSection" data-nature="nature_9" class="hidden space-y-2">
        {{ form_row(form.libelleLibre) }}
        {{ form_row(form.texteEcLibre) }}
    </div>

    <div data-ec--manage-target="natureSection" data-nature="nature_7" class="hidden space-y-6">
        {{ form_row(form.libelleChoix) }}
        <twig:alerte type="info">L'ajout des choix se fera directement dans la maquette.</twig:alerte>
    </div>

    <div data-ec--manage-target="natureSection" data-nature="nature_8" class="hidden field-group space-y-2">
        {{ form_row(form.ficheMatiere) }}
    </div>

    {{ form_end(form) }}
</div>
