<table class="table table-hover">
    <tbody>
    {% for blocCompetence in bloc_competences %}
        <tr class="table-primary">
            <th><input type="checkbox"></th>
            <th colspan="2">
                {{ blocCompetence.code }} - {{ blocCompetence.libelle }}
            </th>
            <th class="text-end">
                &nbsp;
            </th>
            <th class="text-end">

            </th>
        </tr>

        {% for competence in blocCompetence.competences %}


            <tr>
                <td><input type="checkbox"></td>
                <td>
                    {{ competence.code }} - {{ competence.libelle }}
                </td>
                <td class="text-end">
                    &nbsp;
                </td>
                <th class="text-end">

                </th>
            </tr>

        {% else %}
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">
                    <div class="text-divider">
                        <button
                                {{ stimulus_controller('modal', {
                                    size: 'lg',
                                    modalTitle: 'Ajouter une compétence dans le bloc de compétences '~
                                    blocCompetence.code,
                                    modalUrl: path('app_competence_new', {bcc:blocCompetence.id}) }) }}
                                data-action="click->modal#openModal"
                                class="btn btn-sm text-success"
                                data-size="lg"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title=" Ajouter une compétence dans le bloc de compétences
                {{ blocCompetence.code }}"
                        >
                            <i class="{{ iconAdd }}"></i>
                            Ajouter une compétence dans le bloc de compétences
                            <strong>{{ blocCompetence.code }}</strong>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}

    </tbody>
</table>
