<div class="d-flex align-items-stretch mt-3">
    <div class="col-3 competence ">
        <div class="p-3 comp competencec{{ competence.numero }}">
            {{ competence.nomCourt }}
        </div>
    </div>
    <div class="col-3 competencelongue  ms-3">
        <div class="p-3 competencelonguec{{ competence.numero }}">
            {{ competence.libelle }}
        </div>
    </div>
    <div class="col-6 composantesessentiellesc{{ competence.numero }}">
        <ul>
            {% for composante in competence.composantes %}
                <li>{{ composante }}</li>
            {% endfor %}
        </ul>

    </div>
</div>

{# Situtations professionnelles #}
<div class="d-flex align-items-stretch mt-3">
    <div class="col-3">
        <div class="p-3 situationpro situationc{{ competence.numero }}">Situations professionnelles</div>
    </div>
    <div class="col-9 ms-3 situationliste">
        <div class="p-3 situationlistec{{ competence.numero }}">
            {% for situation in competence.situations %}
                <p>{{ situation }}</p>
            {% endfor %}
        </div>
    </div>
</div>

{# Niveaux #}
<div class="d-flex align-items-stretch mt-3">
    <div class="col-3">
        <div class="p-3 titreniveau">Niveaux</div>
    </div>
    <div class="col-9 ms-3">
        <div class="p-3 titreac">Apprentissages critiques
        </div>
    </div>
</div>

{% for niveau in competence.butNiveaux %}
    <div class="d-flex align-items-stretch mt-3">
        <div class="col-flex-3 niveau  niveau{{ niveau.ordre }}c{{ competence.numero }}">
            <div class="p-3 niveaucourt ">
                B.U.T. {{ niveau.ordre }}</div>
            <div class="p-3 niveaulong">{{ niveau.libelle }}
            </div>
        </div>
        <div class="col-flex-9 ms-3" style="padding-right:15px;">
            <div class="p-3 niveauliste niveau{{ niveau.ordre }}c{{ competence.numero }}">
                <ul>
                    {% for ac in niveau.butApprentissageCritiques %}
                        <li>{{ ac.code }} | {{ ac.libelle }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}

