<div class="{{ col }} d-grid">
    <a class="btn btn-outline-primary d-block"
       href="{{ path('app_parcours_bcc', {parcours:parcours.id}) }}">
        <i class="fas fa-check"></i>
        Contrôler les BCC
    </a>
    <a class="btn btn-outline-primary d-block mt-1" href="{{ path('app_parcours_ec', {parcours:parcours.id}) }}">
        <i class="fas fa-check"></i>
        Contrôler les EC
    </a>
    <a class="btn btn-outline-primary d-block mt-1"
       href="{{ path('app_parcours_mccc_export', {parcours:parcours.id, _format:'xlsx'}) }}">
        <i class="{{ iconDownload }}"></i>
        Export MCCC (xlsx)
    </a>
    <a class="btn btn-outline-primary d-block mt-1"
       href="{{ path('app_parcours_mccc_export_light', {parcours:parcours.id, _format:'xlsx'}) }}">
        <i class="{{ iconDownload }}"></i>
        Export simplifié des MCCC (xlsx)
    </a>
    {# todo: include du btn/export_mccc si block résolu #}
</div>
