<a href="{{ path('app_annee_universitaire_show', {'id': annee_universitaire.id}) }}">
    <i class="{{ iconShow }}"></i> Voir</a>
<a href="{{ path('app_annee_universitaire_edit', {'id': annee_universitaire.id}) }}">
    <i class="{{ iconEdit }}"></i> Modifier</a>
<a href="{{ path('app_annee_universitaire_edit', {'id': annee_universitaire.id}) }}">
    <i class="{{ iconDelete }}"></i> Dupliquer</a>
<a href="{{ path('app_annee_universitaire_edit', {'id': annee_universitaire.id}) }}">
    <i class="{{ iconDelete }}"></i> Supprimer</a>
