{% form_theme form 'communs/form_theme.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
{# todo: devrait déclencher la validation navigateur sur les modals ?? ajourer prvent du coup sur la gestion crud? #}
<button type="submit" class="btn btn-success" {% if isModal is defined and isModal == true %}
    {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
{% endif %}>
    <i class="fal fa-floppy-disk"></i>
    Enregistrer
</button>

{% if button_add_other is defined and button_add_other == true %}
    <button class="btn btn-success" value="add_other" name="btn_update">
        <i class="fal fa-floppy-disk-circle-arrow-right"></i> Enregistrer et continuer
    </button>
{% endif %}

{% if button_label is defined and button_label == 'modifier' %}
    <button class="btn btn-success" value="redirect_to_index" name="btn_update">
        <i class="fal fa-floppy-disk-circle-arrow-right"></i> modifier
    </button>
{% endif %}

    {{ component('alerte', {type:"info", message:'tous les champs avec un <span class="text-red">*</span> sont
obligatoires'}) }}
{{ form_end(form) }}

