{# templates/form/form_theme_v2.html.twig #}
{% use "form_div_layout.html.twig" %}
{% trans_default_domain 'form' %}

{# --- LIGNE DE FORMULAIRE (ROW) --- #}
{% block form_row %}
    <div class="space-y-2 group mb-4">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_help(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block trix_widget %}
    <input id="trix-input-{{ trixId }}" value="{{ value }}" type="hidden" name="{{ full_name }}">
    <trix-editor input="trix-input-{{ trixId }}"></trix-editor>
{% endblock %}

{# --- LABEL --- #}
{% block form_label %}
    {% if label is not same as(false) %}
        <div class="flex justify-between items-center mb-1">
            <label {% with { attr: label_attr|merge({ class: 'text-[12px] font-black text-slate-500 group-focus-within:text-indigo-500 transition-colors uppercase' }) } %}{{ block('attributes') }}{% endwith %}>
                {{- block('form_label_content') -}}
            </label>
            {% if required %}<span class="text-[10px] font-bold text-red-300 uppercase">Champs Requis</span>{% endif %}
        </div>
    {% endif %}
{% endblock form_label %}

{% block form_label_inline_create_entity_select %}
    {% if label is not same as(false) %}
        <div class="flex items-center mb-1 gap-2 w-full">
            <div class="flex items-center gap-2 min-w-0">
                <label
                        {% with { attr: label_attr|merge({
                            class: 'text-[12px] font-black text-slate-500 group-focus-within:text-indigo-500 transition-colors uppercase'
                        }) } %}
                            {{ block('attributes') }}
                        {% endwith %}
                >
                    {{- block('form_label_content') -}}
                </label>

                <button type="button"
                        data-inline-create-target="toggleButton"
                        data-action="click->inline-create#toggleNewField"
                        class="text-[10px] font-black text-indigo-600 hover:underline shrink-0">
                    + Créer nouveau
                </button>
            </div>

            {% if required %}
                <span class="ml-auto text-[10px] font-bold text-red-300 uppercase whitespace-nowrap shrink-0">
            Champ requis
        </span>
            {% endif %}
        </div>

    {% endif %}
{% endblock form_label_inline_create_entity_select %}

{# --- INPUT TEXT / EMAIL / PASSWORD --- #}
{% block form_widget_simple %}
    {#    {% set attr = attr|merge({ class: attr.class|default('') ~ ' w-full p-2 bg-white border border-slate-200 rounded-sm font-semibold text-slate-700 focus:ring-4 focus:ring-indigo-50 focus:border-indigo-500 outline-none transition-all shadow-sm placeholder:text-slate-300' }) %}    #}

    {% set attr = attr|merge({ class: attr.class|default('') ~ ' w-full p-2 bg-slate-50 border border-slate-200 rounded-sm font-bold' }) %}
    {{ parent() }}
{% endblock form_widget_simple %}

{# --- TEXTAREA --- #}
{% block textarea_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ ' w-full p-2 bg-slate-50 border border-slate-200 rounded-sm font-medium text-slate-700 focus:ring-4 focus:ring-indigo-50 focus:border-indigo-500 outline-none transition-all shadow-sm min-h-[150px]' }) %}
    {{ parent() }}
{% endblock textarea_widget %}

{# --- SELECT --- #}
{% block choice_widget_collapsed %}
    {% set isDisabled = (attr.disabled is defined and attr.disabled) or (disabled is defined and disabled) or (form.vars.disabled is defined and form.vars.disabled) %}
    {% set baseClass = ' w-full p-4 rounded-sm font-semibold focus:ring-4 focus:ring-indigo-50 focus:border-indigo-500 outline-none transition-all shadow-sm appearance-none' %}
    {% set normalClass = ' bg-slate-50 border border-slate-200 text-slate-700 cursor-pointer' %}
    {% set disabledClass = ' bg-slate-200 border border-slate-200 text-slate-400 cursor-not-allowed opacity-70' %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ baseClass ~ (isDisabled ? disabledClass : normalClass) }) %}
    <div class="relative">
        {{ parent() }}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-slate-400">
            <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7"></path>
            </svg>
        </div>
    </div>
{% endblock choice_widget_collapsed %}

{# {% block textarea_auto_save_row %} #}
{#    {%- set widget_attr = {} -%} #}
{#    {%- if help is not empty -%} #}
{#        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%} #}
{#    {%- endif -%} #}
{#    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %} {{ stimulus_controller('textarea', { #}
{#        'maxLength': maxLength, #}
{#    }) }} #}
{#            class="mt-3"> #}
{#        {{- form_label(form) -}} #}
{#        {{- form_errors(form) -}} #}
{#        {{- form_widget(form, widget_attr) -}} #}
{#        {%- if help is not empty -%} #}
{#            {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' text-small')|trim}) -%} #}
{#            <div id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}> #}
{#                <span {{ stimulus_target('textarea', 'texte') }} class="text-secondary"></span> #}
{#            </div> #}
{#        {%- endif -%} #}
{#    </div> #}
{# {% endblock %} #}

{# --- AIDE (HELP) --- #}
{% block form_help %}


    {%- if help is empty -%}
        {%- set t = help_translation_parameters['%transition%'] ?? null -%}
        {%- set f = help_translation_parameters['%field%'] ?? null -%}

        {%- if t and f -%}
            {%- set help = 'workflow.' ~ t ~ '.' ~ f ~ '.help' -%}
        {% else %}
            {% import _self as macros %}
            {% set help = macros.form_parent_help_name(form) %}
        {%- endif -%}
    {%- endif -%}

    {% if help is defined and help|trim|trans({}, 'help') != '' %}
        <p class="text-[11px] text-slate-400 italic mt-1 pl-1 flex items-start gap-2">
            <span class="flex-shrink-0 w-5 h-5 bg-slate-200 text-slate-500 flex items-center justify-center text-[10px] rounded-full"><i
                        class="fa-sharp fa-solid fa-circle-info"></i></span>
            <span>{{ help|trim|trans({}, 'help')|raw }}</span>
        </p>
    {% endif %}
{% endblock form_help %}

{# --- ERREURS --- #}
{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="mt-2 space-y-1">
            {% for error in errors %}
                <p class="text-[10px] font-bold text-red-500 uppercase flex items-center gap-1">
                    <span class="w-1 h-1 bg-red-500 rounded-full"></span>
                    {{ error.message }}
                </p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock form_errors %}

{%- block form_label_content -%}
    {% import _self as macros %}
    {% apply spaceless %}
        {%- if label is empty -%}
            {%- set t = label_translation_parameters['%transition%'] ?? null -%}
            {%- set f = label_translation_parameters['%field%'] ?? null -%}

            {%- if t and f -%}
                {%- set label = 'workflow.' ~ t ~ '.' ~ f ~ '.label' -%}
            {%- else -%}
                {# fallback existant #}
                {% import _self as macros %}
                {% set label = macros.form_parent_name(form) %}
            {%- endif -%}
        {%- endif -%}
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trim|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trim|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
    {% endapply %}
{%- endblock form_label_content -%}

{% macro form_parent_name(form, prefix) %}
    {% apply spaceless %}
        {% import _self as macros %}

        {% set prefix = prefix|default(false) %}

        {% if form.parent is empty %}
            {{- form.vars.name -}}.labels
        {% else %}
            {% if form.vars.compound and not prefix %}
                {{- macros.form_parent_name(form.parent) -}}.{{- form.vars.name -}}.label
            {% else %}
                {{- macros.form_parent_name(form.parent, true) -}}.{{- form.vars.name -}}
            {% endif %}
        {% endif %}
    {% endapply %}
{% endmacro %}

{% macro form_parent_help_name(form, prefix) %}
    {% apply spaceless %}
        {% import _self as macros %}

        {% set prefix = prefix|default(false) %}

        {% if form.parent is empty %}
            {{- form.vars.name -}}.helps
        {% else %}
            {% if form.vars.compound and not prefix %}
                {{- macros.form_parent_help_name(form.parent) -}}.{{- form.vars.name -}}.help
            {% else %}
                {{- macros.form_parent_help_name(form.parent, true) -}}.{{- form.vars.name -}}
            {% endif %}
        {% endif %}
    {% endapply %}
{% endmacro %}

{# --- GROUPES D'OPTIONS (checkbox/radio) --- #}

{# {% block choice_widget_expanded %} #}
{#    #}{# Container principal qui aligne les groupes Oui et Non #}
{#    <div {{ block('widget_container_attributes') }} class="flex flex-row items-center gap-6"> #}
{#        {%- for child in form %} #}
{#            #}{# Container individuel pour CHAQUE radio (ex: le bouton + le mot "Oui") #}
{#            <div class="flex items-center gap-2"> #}
{#                {{- form_widget(child) -}} #}
{#                {{- form_label(child) -}} #}
{#            </div> #}
{#        {% endfor -%} #}
{#    </div> #}
{# {% endblock choice_widget_expanded %} #}

{% block choice_widget_expanded %}
    {# On récupère le nombre de colonnes, par défaut 1 si non défini #}
    {% set cols = attr.columns|default(4) %}

    {# Mapping pour transformer le chiffre en classe Tailwind #}
    {% set gridClasses = {
        '1': 'grid-cols-1',
        '2': 'grid-cols-2',
        '3': 'grid-cols-3',
        '4': 'grid-cols-4'
    } %}

    <div {{ block('widget_container_attributes') }}
            class="grid {{ gridClasses[cols]|default('grid-cols-1') }} gap-4">

        {%- for child in form %}
            <div class="flex items-center gap-2">
                {{- form_widget(child, {
                    'attr': {'class': 'focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300'}
                }) -}}
                {{- form_label(child, null, {
                    'label_attr': {'for': child.vars.id, 'class': 'text-sm font-medium text-gray-700'}
                }) -}}
            </div>
        {% endfor -%}
    </div>
{% endblock choice_widget_expanded %}

{% block radio_label %}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' text-sm font-medium text-gray-700 cursor-pointer')|trim}) -%}
    <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
        {{- label|trans({}, translation_domain) -}}
    </label>
{% endblock radio_label %}

{% block entity_with_add_row %}
    <div {{ stimulus_controller('entity_with_add') }}>
        {{- form_row(form) -}}
    </div>
{% endblock %}

{% block entity_with_add_widget %}
    <div class="flex flex-col gap-1">
        <div class="flex-1">
            {{ block('choice_widget') }}
        </div>
        <div>
            <button
                    {{ stimulus_action('entity_with_add', 'showAdd', 'click') }}
                    type="button"
                    class="text-emerald-600 hover:underline text-sm font-medium mt-1 p-0 bg-transparent"
            >
                {% if iconAdd is defined and iconAdd != '' %}<i
                class="{{ iconAdd }} mr-1 text-emerald-600"></i>{% endif %}Ajouter
            </button>
        </div>
    </div>
    <div class="mt-2 hidden" {{ stimulus_target('entity_with_add', 'zoneAdd') }}>
        <div class="flex items-center gap-4">
            <div class="flex-1">
                <label for="{{ name_field_to_add }}" class="sr-only">{{ name_field_to_add }}</label>
                <input type="text" class="w-full p-2 bg-white border border-slate-200 rounded-sm text-slate-700"
                       name="{{ name_field_to_add }}" id="{{ name_field_to_add }}">
                <span class="text-sm text-slate-500 block mt-1">{{ help_to_add }}</span>
            </div>
            <div class="flex-none w-24">
                &nbsp;
            </div>
        </div>
    </div>
{% endblock %}

{# {% block inline_create_entity_select_widget %} #}
{#    <div class="field-group space-y-2" data-controller="inline-create"> #}
{#        <div class="flex justify-between items-center"> #}
{#            <label class="text-[10px] font-black text-slate-400 uppercase tracking-widest"> #}
{#                {{ form.vars.label ?: 'Sélection' }} #}
{#            </label> #}

{#            <button type="button" #}
{#                    data-action="click->inline-create#toggleNewField" #}
{#                    class="text-[10px] font-black text-indigo-600 hover:underline"> #}
{#                + Créer nouveau #}
{#            </button> #}
{#        </div> #}

{#        {{ form_widget(form.entity, { #}
{#            attr: { #}
{#                class: 'select-field w-full p-4 bg-white border border-slate-200 rounded-2xl font-semibold appearance-none cursor-pointer focus:ring-4 focus:ring-indigo-50', #}
{#                'data-inline-create-target': 'select' #}
{#            } #}
{#        }) }} #}

{#        {{ form_widget(form.new, { #}
{#            attr: { #}
{#                class: 'input-field hidden w-full p-4 bg-emerald-50 border border-emerald-200 rounded-2xl font-semibold outline-none' #}
{#            } #}
{#        }) }} #}
{#    </div> #}
{# {% endblock %} #}


{% block inline_create_entity_select_row %}
    <div class="field-group space-y-2 group mb-4" data-controller="inline-create">
        <div class="flex justify-between items-center">
            {{ block('form_label_inline_create_entity_select') }}
        </div>

        {{ form_widget(form.entity, {
            attr: {
                class: 'select-field w-full p-4 bg-white border border-slate-200 rounded-2xl font-semibold appearance-none cursor-pointer focus:ring-4 focus:ring-indigo-50',
                'data-inline-create-target': 'select',
                'data-inline-create-original-required': form.entity.vars.required ? '1' : '0'

            }
        }) }}

        {{ form_widget(form.new, {
            attr: {
                class: 'input-field hidden w-full p-4 bg-emerald-50 border border-emerald-200 rounded-2xl font-semibold outline-none',
                'data-inline-create-target': 'newInput',
                'data-inline-create-original-required': form.entity.vars.required ? '1' : '0'

            }
        }) }}
        {{ form_help(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{# templates/form/cards_choice_theme.html.twig #}

{% block cards_choice_widget %}
    <div class="space-y-4 w-full"
            {% if on_change_action or event_name or update_target %}
                data-controller="cards-choice"
                {% if event_name %}data-cards-choice-event-name-value="{{ event_name }}"{% endif %}
                {% if update_target %}data-cards-choice-update-target-value="{{ update_target }}"{% endif %}
            {% endif %}
    >

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-{{ columns|default(3) }} gap-4">
            {#            {% for child in form %} #}
            {#                {% set subtitle = child.vars.attr['data-card-subtitle'] ?? '' %} #}
            {#                {% set icon = child.vars.attr['data-card-icon'] ?? '' %} #}
            {#                {% set isDisabled = (child.vars.attr['disabled'] ?? false) ? true : false %} #}
            {#                {% set childId = child.vars.id %} #}


            {#                <label for="{{ childId }}" class="relative flex flex-col p-4 bg-white border border-slate-200 rounded-sm cursor-pointer shadow-sm hover:border-indigo-300 transition-all group"> #}

            {#                    {{ form_widget(child, { #}
            {#                    id: childId, #}
            {#                    attr: { #}
            {#                    class: 'sr-only peer', #}
            {#                    name: full_name, #}
            {#                    'data-action': on_change_action ?: 'change->cards-choice#changed' #}
            {#                    } #}
            {#                    }) }} #}

            {#                    #}{# Cet élément devient le "fond" qui réagit au peer #}
            {#                    <div class="absolute inset-0 border border-transparent rounded-sm peer-checked:border-indigo-600 peer-checked:ring-2 peer-checked:ring-indigo-100 pointer-events-none transition-all"></div> #}

            {#                    <div class="relative z-10"> #}{# On met le contenu dans un z-index pour rester au dessus du fond #}
            {#                        <div class="flex justify-between items-start mb-2"> #}
            {#            <span class="w-10 h-10 bg-slate-50 text-slate-600 rounded-sm flex items-center justify-center peer-checked:group-[]:bg-indigo-600 peer-checked:group-[]:text-white transition-colors mr-3 p-1"> #}
            {#                {% if icon %} #}
            {#                    <i class="{{ icon }} text-xl" aria-hidden="true"></i> #}
            {#                {% endif %} #}
            {#            </span> #}

            {#            <div class="h-4 w-4 rounded-full border-2 border-slate-300 peer-checked:group-[]:border-indigo-600 peer-checked:group-[]:bg-indigo-600 flex items-center justify-center transition-all"> #}
            {#                <div class="h-1.5 w-1.5 rounded-full bg-white opacity-0 peer-checked:group-[]:opacity-100 transition-opacity"></div> #}
            {#            </div> #}
            {#        </div> #}

            {#        <span class="font-bold text-slate-900 leading-tight block">{{ child.vars.label|trans }}</span> #}

            {#        {% if subtitle %} #}
            {#            <span class="text-xs text-slate-500 leading-tight mt-1 block"> #}
            {#                {{ subtitle|trans }} #}
            {#            </span> #}
            {#        {% endif %} #}
            {#    </div> #}
            {# </label> #}

            {#                <label for="{{ childId }}" class="relative flex flex-col p-4 bg-white border border-slate-200 rounded-sm cursor-pointer shadow-sm hover:border-indigo-300 transition-all has-[:checked]:border-indigo-600 has-[:checked]:ring-2 has-[:checked]:ring-indigo-100 group"> #}
            {#                    {{ form_widget(child, #}{# } #}
            {#                        attr: #}{# } #}
            {#                            class: 'sr-only', #}
            {#                            'data-action': on_change_action ?: 'change->cards-choice#changed' #}
            {#                        } #}
            {#                    }) }} #}
            {#                    <input type="radio" name="mccc_type" value="ct" class="sr-only"> #}
            {#                    <div class="flex justify-between items-start mb-2"> #}
            {#                        <span class="w-10 h-10 bg-slate-50 text-slate-600 rounded-sm flex items-center justify-center group-has-[:checked]:bg-indigo-600 group-has-[:checked]:text-white transition-colors mr-3 p-1"> #}
            {#                            {% if icon %} #}
            {#                                <i class="{{ icon }} text-xl" aria-hidden="true"></i> #}
            {#                            {% endif %} #}
            {#                        </span> #}
            {#                        <div class="h-4 w-4 rounded-full border-2 border-slate-300 group-has-[:checked]:border-indigo-600 group-has-[:checked]:bg-indigo-600 flex items-center justify-center"> #}
            {#                            <div class="h-1.5 w-1.5 rounded-full bg-white"></div> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                    <span class="font-bold text-slate-900">{{ child.vars.label }}</span> #}
            {#                    <span class="text-xs text-slate-500 leading-tight"> #}
            {#                         {% if subtitle %} #}
            {#                            {{ subtitle }} #}
            {#                        {% endif %} #}
            {#                    </span> #}
            {#                </label> #}
            {#            {% endfor %} #}


            {% for child in form %}
                {% set subtitle = child.vars.attr['data-card-subtitle'] ?? '' %}
                {% set icon = child.vars.attr['data-card-icon'] ?? '' %}
                {% set childId = child.vars.id %}

                <div class="relative min-h-full">
                    {# 1. L'input est le premier élément du bloc #}
                    {{ form_widget(child, {
                        id: childId,
                        attr: {
                            class: 'sr-only peer',
                            name: full_name,
                            'data-action': on_change_action ?: 'change->cards-choice#changed'
                        }
                    }) }}

                    {# 2. Le LABEL est un frère de l'input. On lui donne une classe de base. #}
                    <label for="{{ childId }}" class="relative flex flex-col h-full p-4 bg-white border-2 border-slate-200 rounded-lg cursor-pointer transition-all
            peer-checked:border-indigo-600 peer-checked:ring-4 peer-checked:ring-indigo-50">

                        <div class="flex justify-between items-start mb-3">
                            {# ICI : On utilise les sélecteurs arbitraires de Tailwind pour cibler l'état du PEER (l'input) #}
                            <div class="w-10 h-10 bg-slate-100 text-slate-500 rounded-md flex items-center justify-center transition-colors
                    peer-checked:bg-indigo-600 peer-checked:text-white">
                                {% if icon %}
                                    <i class="{{ icon }} text-lg"></i>
                                {% endif %}
                            </div>

                            <div class="h-5 w-5 rounded-full border-2 border-slate-300 flex items-center justify-center transition-all
                    peer-checked:border-indigo-600 peer-checked:bg-indigo-600">
                                <div class="h-2 w-2 rounded-full bg-white opacity-0 peer-checked:opacity-100 transition-opacity"></div>
                            </div>
                        </div>

                        <span class="font-bold text-slate-900 leading-tight">{{ child.vars.label|trans }}</span>

                        {% if subtitle %}
                            <span class="text-xs text-slate-500 mt-1 italic">{{ subtitle|trans }}</span>
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
            {# todo: a reprendre pour le bon rendu CSS avec le picto et le checked coché... : https://gemini.google.com/share/854a0d72406c #}
            {#                {% for child in form %} #}
            {#                    {% set subtitle = child.vars.attr['data-card-subtitle'] ?? '' %} #}
            {#                    {% set icon = child.vars.attr['data-card-icon'] ?? '' %} #}
            {#                    {% set childId = child.vars.id %} #}

            {#                    #}{# On place le 'group' ici pour qu'il soit UNIQUE à chaque carte #}
            {#                    <label for="{{ childId }}" class="group relative flex flex-col p-4 bg-white border-2 border-slate-200 rounded-lg cursor-pointer transition-all #}
            {#        has-[:checked]:border-indigo-600 has-[:checked]:ring-4 has-[:checked]:ring-indigo-50"> #}

            {#                        {{ form_widget(child, { #}
            {#                            id: childId, #}
            {#                            attr: { #}
            {#                                class: 'sr-only', #}
            {#                                name: full_name, #}
            {#                                'data-action': on_change_action ?: 'change->cards-choice#changed' #}
            {#                            } #}
            {#                        }) }} #}

            {#                        <div class="flex justify-between items-start mb-3"> #}
            {#                            #}{# ICI : On dit à la div de l'icône de ne regarder QUE si son propre parent direct est coché #}
            {#                            <div class="w-10 h-10 rounded-md flex items-center justify-center transition-colors #}
            {#                bg-slate-100 text-slate-500 #}
            {#                group-has-[:checked]:bg-indigo-600 group-has-[:checked]:text-white"> #}

            {#                                {% if icon %} #}
            {#                                    <i class="{{ icon }} text-lg"></i> #}
            {#                                {% endif %} #}
            {#                            </div> #}

            {#                            #}{# IDEM pour le cercle radio #}
            {#                            <div class="h-5 w-5 rounded-full border-2 border-slate-300 flex items-center justify-center transition-all #}
            {#                group-has-[:checked]:border-indigo-600 group-has-[:checked]:bg-indigo-600"> #}
            {#                                <div class="h-2 w-2 rounded-full bg-white opacity-0 group-has-[:checked]:opacity-100 transition-opacity"></div> #}
            {#                            </div> #}
            {#                        </div> #}

            {#                        <span class="font-bold text-slate-900 leading-tight">{{ child.vars.label|trans }}</span> #}

            {#                        {% if subtitle %} #}
            {#                            <span class="text-xs text-slate-500 mt-1 italic">{{ subtitle|trans }}</span> #}
            {#                        {% endif %} #}
            {#                    </label> #}
            {#                {% endfor %} #}
        </div>

        {% if form.vars.help %}
            <p class="text-xs text-slate-500">{{ form.vars.help }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block checkbox_row %}
    <div>
        {{ form_errors(form) }}

        <label class="flex items-start gap-3 cursor-pointer">
            {{ form_widget(form, {
                attr: {
                    class: 'mt-1 h-4 w-4 rounded border-gray-300'
                }
            }) }}
            {{ form_label(form) }}
        </label>
    </div>
    {{ form_help(form) }}
{% endblock %}
