{% use "bootstrap_5_layout.html.twig" %}
{% trans_default_domain 'form' %}

{% block textarea_with_save_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %} {% if button_disabled == false %}{{ stimulus_controller('textarea') }}{% endif %} class="mb-3">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {%- if help is not empty -%}
            {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' text-small')|trim}) -%}
            <div id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
                {{- block('form_help_content') -}}.
                <span {{ stimulus_target('textarea', 'texte') }} class="text-small text-secondary"></span>
            </div>
        {%- endif -%}
    </div>
{% endblock %}

{% block textarea_with_save_widget %}

    <div class="row">
        <div class="col-11">
            {{ block('textarea_widget') }}
        </div>
        <div class="col-1">
            <div class="d-grid" style="height: 100%">
                <button
                        type="button"
                        {{ button_disabled == true ? 'disabled' : '' }}
                        class="btn btn-success d-block"
                        style="height: 100%"
                        {{ button_action }}
                >Enregistrer
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block textarea_auto_save_widget %}
    {{ block('textarea_widget') }}
{% endblock %}

{% block textarea_auto_save_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %} {{ stimulus_controller('textarea') }} class="mb-3">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {%- if help is not empty -%}
            {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' text-small')|trim}) -%}
            <div id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
                {{- block('form_help_content') -}}.
                <span {{ stimulus_target('textarea', 'texte') }} class="text-secondary"></span>
            </div>
        {%- endif -%}
    </div>
{% endblock %}
