{% use "bootstrap_5_layout.html.twig" %}
{% trans_default_domain 'form' %}

{% block textarea_with_save_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %} {% if button_disabled == false %}{{ stimulus_controller('textarea') }}{% endif %} class="mb-3">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {%- if help is not empty -%}
            {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' text-small')|trim}) -%}
            <div id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
                {{- block('form_help_content') -}}.
                <span {{ stimulus_target('textarea', 'texte') }} class="text-small text-secondary"></span>
            </div>
        {%- endif -%}
    </div>
{% endblock %}

{% block textarea_with_save_widget %}

    <div class="row">
        <div class="col-11">
            {{ block('textarea_widget') }}
        </div>
        <div class="col-1">
            <div class="d-grid" style="height: 100%">
                <button
                        type="button"
                        {{ button_disabled == true ? 'disabled' : '' }}
                        class="btn btn-success d-block"
                        style="height: 100%"
                        {{ button_action }}
                >Enregistrer
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block textarea_auto_save_widget %}
    {{ block('textarea_widget') }}
{% endblock %}

{% block textarea_auto_save_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %} {{ stimulus_controller('textarea') }} class="mb-3">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {%- if help is not empty -%}
            {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' text-small')|trim}) -%}
            <div id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
                {{- block('form_help_content') -}}.
                <span {{ stimulus_target('textarea', 'texte') }} class="text-secondary"></span>
            </div>
        {%- endif -%}
    </div>
{% endblock %}

{%- block checkbox_radio_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {%- set label_attr_class = label_attr_class|default(label_attr.class|default('')) -%}
        {%- if 'btn' not in label_attr_class -%}
            {%- set label_attr_class = label_attr_class ~ ' form-check-label' -%}
        {%- endif -%}
        {%- set label_attr = label_attr|merge({class: label_attr_class|trim}) -%}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
{#        {%- if required -%}#}
{#            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}#}
{#        {%- endif -%}#}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) -%}
        {%- endif -%}

        {{ widget|raw }}
        <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if label is not same as(false) -%}
                {{- block('form_label_content') -}}
            {%- endif -%}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

