{% set sort = params.sort is defined ? params.sort : 'composante' %}
    {% set direction = params.direction is defined ? params.direction : 'asc' %}
<table class="table">
    <thead>
    <tr>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'composantePorteuse',
                        'direction': getDirection('composantePorteuse', sort, direction)
                    }) }}
            >
                Composante
                {{ displaySort('composantePorteuse', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'mention',
                        'direction': getDirection('mention', sort, direction)
                    }) }}
            >
                Mention<br>spécialité
                {{ displaySort('mention', sort, direction) }}
            </a>
        </th>
        <th>Parcours</th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'domaine',
                        'direction': getDirection('domaine', sort, direction)
                    }) }}
            >
                Domaine
                {{ displaySort('domaine', sort, direction) }}
            </a>
        </th>
        <th>Ville</th>
        <th>Code<br>Diplôme</th>
        <th>Version<br>Diplôme</th>
        <th>Année<br>d'étude</th>
        <th>Code<br>Etape</th>
        <th>Version<br>Etape</th>
        <th>&nbsp;</th>
    </tr>
{#    <tr>#}
{#        <th>#}
{#            <label for="filter-composante" class="sr-only">Composante</label>#}
{#            <select#}
{#                    {{ stimulus_action('crud', 'filter', 'change', {#}
{#                        'field': 'composantePorteuse'#}
{#                    }) }}#}
{#                    id="filter-composante"#}
{#                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}#}
{#                    class="form-select form-select-sm">#}
{#                <option value="">Toutes</option>#}
{#                {% for composante in composantes %}#}
{#                    <option value="{{ composante.id }}"#}
{#                            {% if params['composantePorteuse'] is defined and params['composantePorteuse']  == composante.id %}selected{% endif %}#}
{#                    >{{ composante.sigle }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </th>#}
{#        <th>#}
{#            <label for="filter-mention" class="sr-only">Mentions</label>#}
{#            <select#}
{#                    {{ stimulus_action('crud', 'filter', 'change', {#}
{#                        'field': 'mention'#}
{#                    }) }}#}
{#                    id="filter-mention"#}
{#                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}#}
{#                    class="form-select form-select-sm">#}
{#                <option value="">Toutes</option>#}
{#                {% for mention in mentions %}#}
{#                    <option value="{{ mention.id }}"#}
{#                            {% if params['mention'] is defined and params['mention']  == mention.id %}selected{% endif %}#}
{#                    >{{ mention.libelle }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </th>#}
{#        <th>Parcours</th>#}
{#        <th>#}
{#            <label for="filter-domaine" class="sr-only">Domaine</label>#}
{#            <select#}
{#                    {{ stimulus_action('crud', 'filter', 'change', {#}
{#                        'field': 'domaine'#}
{#                    }) }}#}
{#                    id="filter-domaine"#}
{#                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}#}
{#                    class="form-select form-select-sm">#}
{#                <option value="">Toutes les domaines</option>#}
{#                {% for domaine in domaines %}#}
{#                    <option value="{{ domaine.id }}"#}
{#                            {% if params['domaine'] is defined and params['domaine']  == domaine.id %}selected{% endif %}#}
{#                    >{{ domaine.sigle }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </th>#}
{#        <th>#}
{#            <label for="filter-ville" class="sr-only">Ville</label>#}
{#            <select#}
{#                    {{ stimulus_action('crud', 'filter', 'change', {#}
{#                        'field': 'ville'#}
{#                    }) }}#}
{#                    id="filter-ville"#}
{#                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}#}
{#                    class="form-select form-select-sm">#}
{#                <option value="">Tous</option>#}
{#                {% for ville in villes %}#}
{#                    <option value="{{ ville.id }}"#}
{#                            {% if params['ville'] is defined and params['ville']  == ville.id %}selected{% endif %}#}
{#                    >{{ ville.libelle }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </th>#}
{#        <th><label for="filter-versionEtape" class="sr-only">Version Etape</label>#}
{#            <input type="text" name="filter-versionEtape"#}
{#                   id="filter-versionEtape"#}
{#                   class="form-control"#}
{#                   value="{{ params['versionEtape'] ?? '' }}"#}
{#                    {{ stimulus_action('crud', 'filter', 'change', {#}
{#                        'field': 'versionEtape'#}
{#                    }) }}#}
{#            ></th>#}
{#        <th><label for="filter-versionEtape" class="sr-only">Version Etape</label>#}
{#            <input type="text" name="filter-versionEtape"#}
{#                   id="filter-versionEtape"#}
{#                   class="form-control"#}
{#                   value="{{ params['versionEtape'] ?? '' }}"#}
{#                    {{ stimulus_action('crud', 'filter', 'change', {#}
{#                        'field': 'versionEtape'#}
{#                    }) }}#}
{#                   placeholder="Version Etape"#}
{#            ></th>#}
{#        <th>#}
{#            <label for="filter-annee" class="sr-only">Année</label>#}
{#            <select#}
{#                    {{ stimulus_action('crud', 'filter', 'change', {#}
{#                        'field': 'annee'#}
{#                    }) }}#}
{#                    id="filter-annee"#}
{#                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}#}
{#                    class="form-select form-select-sm">#}
{#                <option value="">Toutes</option>#}
{#                {% for annee in 1..5 %}#}
{#                    <option value="{{ annee }}"#}
{#                            {% if params['annee'] is defined and params['annee']  == annee %}selected{% endif %}#}
{#                    >{{ annee }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </th>#}
{#        <th><label for="filter-versionEtape" class="sr-only">Version Etape</label>#}
{#            <input type="text" name="filter-versionEtape"#}
{#                   id="filter-versionEtape"#}
{#                   class="form-control"#}
{#                   value="{{ params['versionEtape'] ?? '' }}"#}
{#                    {{ stimulus_action('crud', 'filter', 'change', {#}
{#                        'field': 'versionEtape'#}
{#                    }) }}#}
{#                   placeholder="Version Etape"#}
{#            ></th>#}
{#        <th>#}
{#            <label for="filter-versionEtape" class="sr-only">Version Etape</label>#}
{#            <input type="text" name="filter-versionEtape"#}
{#                   id="filter-versionEtape"#}
{#                   class="form-control"#}
{#                   value="{{ params['versionEtape'] ?? '' }}"#}
{#                    {{ stimulus_action('crud', 'filter', 'change', {#}
{#                        'field': 'versionEtape'#}
{#                    }) }}#}
{#                    placeholder="Version Etape"#}
{#            >#}
{#        </th>#}
{#        <th>#}
{#            <button class="btn btn-outline-danger"#}
{#                    {{ stimulus_action('crud', 'effaceFiltre', 'click', {#}
{#                    }) }}#}
{#            >#}
{#                Effacer les filtres#}
{#            </button>#}
{#        </th>#}
{#    </tr>#}
    </thead>

    <tbody>
    {% for formation in formations %}
        {% if formation.hasParcours == true %}
            {% for parcours in formation.parcours %}
                {% if parcours != null %}
                    {% for annee in parcours.annees %}
                        <tr>
                            <td>{{ formation.composantePorteuse != null ? formation.composantePorteuse.sigle : '-' }}</td>
                            <td>{{ formation.displayLong }}</td>
                            <td>{{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}</td>
                            <td>{{ formation.mention.domaine.sigle }}</td>
                            <td>{{ parcours.localisation != null ? parcours.localisation.libelle : '' }}</td>
                            <td>{{ parcours.codeDiplome(annee) }}</td>
                            <td>{{ parcours.codeVersionDiplome(annee) }}</td>
                            <td>Année {{ annee }}</td>
                            <td>{{ parcours.codeEtape(annee) }}</td>
                            <td>{{ parcours.codeVersionEtape(annee) }}</td>
                            <td>
                                {% if is_granted('ROLE_SES') %}

                                <a href="#"
                                   class="btn btn-sm text-warning"
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Modifier la codification',
                                            modalUrl: path('app_codification_edit', {parcours:parcours.id, annee:annee}) }) }}
                                   data-action="click->modal#openModal"
                                   data-size="lg"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="Modifier Codes"
                                >
                                    <i class="{{ iconEdit }}"></i>
                                    <span> Modifier Codes</span>
                                </a>

                                <a href="#"
                                   class="btn btn-sm text-warning"
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Générer la codification',
                                            modalUrl: path('app_codification_modal', {formation:formation.id}) }) }}
                                   data-action="click->modal#openModal"
                                   data-size="lg"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="Générer Codes"
                                >
                                    <i class="fal fa-wrench"></i>
                                    <span> Générer</span>
                                </a>
{% endif %}
                                <a href="{{ path('app_codification_index', {formation:formation.id}) }}"
                                   class="btn btn-sm text-info">
                                    <i class="{{ iconShow }}"></i>
                                    Détails</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% set parcours = formation.defaultParcours %}
            {% if parcours != null %}
                {% for annee in parcours.annees %}
                    <tr>
                        <td>{{ formation.composantePorteuse != null ? formation.composantePorteuse.sigle : '-' }}</td>
                        <td>{{ formation.displayLong }}</td>
                        <td>{{ parcours != null ? '' : 'Pas de parcours?' }}</td>
                        <td>{{ formation.mention.domaine.sigle }}</td>
                        <td>
                            {% for ville in formation.localisationMention %}{{ ville.libelle }}{% endfor %}
                        </td>
                        <td>{{ parcours.codeDiplome(annee) }}</td>
                        <td>{{ parcours.codeVersionDiplome(annee) }}</td>
                        <td>Année {{ annee }}</td>
                        <td>{{ parcours.codeEtape(annee) }}</td>
                        <td>{{ parcours.codeVersionEtape(annee) }}</td>
                        <td>
                            {% if is_granted('ROLE_SES') %}
                            <a href="#"
                               class="btn btn-sm text-warning"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Modifier la codification',
                                        modalUrl: path('app_codification_edit', {parcours:parcours.id, annee:annee}) }) }}
                               data-action="click->modal#openModal"
                               data-size="lg"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="Modifier Codes"
                            >
                                <i class="{{ iconEdit }}"></i>
                                <span> Modifier Codes</span>
                            </a>

                            <a href="#"
                               class="btn btn-sm text-warning"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Générer la codification',
                                        modalUrl: path('app_codification_modal', {formation:formation.id}) }) }}
                               data-action="click->modal#openModal"
                               data-size="lg"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="Générer Codes"
                            >
                                <i class="fal fa-wrench"></i>
                                <span> Générer</span>
                            </a>
                            {% endif %}

                            <a href="{{ path('app_codification_index', {formation:formation.id}) }}"
                               class="btn btn-sm text-info">
                                <i class="{{ iconShow }}"></i>
                                Détails</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
