{% extends 'base.html.twig' %}

{% block content %}
    <div
            {{ stimulus_controller('wizard', {
                url: path('app_codification_wizard', {formation:formation.id}),
                step: step,
            }) }}
         data-action="base:refreshListe@window->wizard#changeStep"
    ><br><br>

        <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs mt-5" id="lineTitleTabsContainer"
            role="tablist">
            {% for parcours in formation.parcours %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if (loop.first and step is not defined or step == parcours.id) or (not loop.first and step == parcours.id)  %}active{% endif %}" data-bs-toggle="tab" href="#" role="tab"
                            {{ stimulus_action('wizard', 'changeStep', 'click', {step: parcours.id}) }}
                    >
                        {{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}
                    </a>
                </li>
            {% endfor %}

            <!-- An empty list to put overflowed links -->
            <li class="nav-item dropdown ms-auto pe-0 d-none responsive-tab-dropdown">
                <a
                        class="btn btn-icon btn-icon-only btn-background pt-0 bg-transparent pe-0"
                        href="#"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i data-acorn-icon="more-horizontal"></i>
                </a>
                <ul class="dropdown-menu mt-2 dropdown-menu-end"></ul>
            </li>
        </ul>

        <div class="card mb-5 ">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="step_1" role="tabpanel" {{ stimulus_target
                        ('wizard', 'content') }}>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% set header_title %}
    Codification : {{ formation.displayLong }}
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Formations',
        },
        {
            href:path('app_codification_liste'),
            title: 'Codification des formations',
        },
        {
            href:path('formation_v2_voir', {slug:formation.slug}),
            title: 'Formation ' ~formation.displayLong,
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a
            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Exporter codif. formation"
            href="{{ path('app_codification_export_formation', {slug:formation.slug}) }}"
    >
        <i class="{{ iconDownload }}"></i>
        <span> Exporter codif. formation</span>
    </a>
    <a
            class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Voir la formation"
            href="{{ path('formation_v2_voir', {slug:formation.slug}) }}"
    >
        <i class="{{ iconShow }}"></i>
        <span> Voir la formation</span>
    </a>
    <a
            class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Retour à la codification des formations"
            href="{{ path('app_codification_liste') }}"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la codification</span>
    </a>
    {% if is_granted('ROLE_ADMIN') %}
        <span {{ stimulus_controller('modal_confirm', {
            titre: 'Générer la codification basse',
            body: 'Êtes-vous sûr de vouloir recalculer la codification basse de cette formation ?',
            reload: true,
        }) }}>
        <a
           class="btn btn-sm btn-outline-warning btn-icon btn-icon-end w-100 w-sm-auto mx-2"
                 {{ stimulus_action('modal_confirm', 'confirm') }}
                href="{{ path('app_codification', {formation:formation.id}) }}"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Générer codif. basse"
        >
            <i class="fal fa-wrench"></i>
            <span> Générer codif. basse</span>
        </a>
        </span>

    {% endif %}
{% endblock %}
