{% extends 'base.html.twig' %}

{% block content %}
    <div
            {{ stimulus_controller('wizard', {
                url: path('app_codification_wizard', {formation:formation.id}),
                step: formation.parcours.first.id,
            }) }}
         data-action="base:refreshListe@window->wizard#changeStep"
    >

        <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer"
            role="tablist">
            {% for parcours in formation.parcours %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab" href="#" role="tab"
                            {{ stimulus_action('wizard', 'changeStep', 'click', {step: parcours.id}) }}
                    >
                        {{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}
                    </a>
                </li>
            {% endfor %}

            <!-- An empty list to put overflowed links -->
            <li class="nav-item dropdown ms-auto pe-0 d-none responsive-tab-dropdown">
                <a
                        class="btn btn-icon btn-icon-only btn-background pt-0 bg-transparent pe-0"
                        href="#"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i data-acorn-icon="more-horizontal"></i>
                </a>
                <ul class="dropdown-menu mt-2 dropdown-menu-end"></ul>
            </li>
        </ul>

        <div class="card mb-5">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="step_1" role="tabpanel" {{ stimulus_target
                        ('wizard', 'content') }}>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    Codification de la formation {{ formation.displayLong }}
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Formations',
        },
        {
            href:path('app_codification_liste'),
            title: 'Codification des formations',
        },
        {
            href:path('app_formation_show', {slug:formation.slug}),
            title: 'Formation ' ~formation.displayLong,
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a
            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Exporter codif. formation"
            href="{{ path('app_codification_export_formation', {slug:formation.slug}) }}"
    >
        <i class="{{ iconDownload }}"></i>
        <span> Exporter codif. formation</span>
    </a>
    <a
            class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Voir la formation"
            href="{{ path('app_formation_show', {slug:formation.slug}) }}"
    >
        <i class="{{ iconShow }}"></i>
        <span> Voir la formation</span>
    </a>
    <a
            class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Retour à la codification des formations"
            href="{{ path('app_codification_liste') }}"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la codification</span>
    </a>

    <a href="#"
       class="btn btn-sm btn-outline-warning btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'Générer la codification',
                modalUrl: path('app_codification_modal', {formation:formation.id}) }) }}
       data-action="click->modal#openModal"
       data-size="lg"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Générer Codes"
    >
        <i class="fal fa-wrench"></i>
        <span> Générer</span>
    </a>
{% endblock %}
