{% extends 'base.html.twig' %}

{% block content %}
    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <p>type Diplome</p>
                    <p>{{ formation.typeDiplome != null ?  formation.typeDiplome.codeApogee : '--' }}</p>
                </div>
                <div class="col-2">
                    <p>domaine</p>
                    <p>{{ formation.domaine != null ?  formation.domaine.codeApogee : '--' }}</p>
                </div>
                <div class="col-2">
                    <p>mention</p>
                    <p>{{ formation.mention != null ? formation.codeMentionApogee : '--' }}</p>
                </div>
                <div class="col-2">
                    <p>code compo.</p>
                    <p>{{ formation.composantePorteuse != null ? formation.composantePorteuse.codeComposante : '--' }}</p>
                </div>
                <div class="col-2">
                    <p>code compo. 2</p>
                    <p>{{ formation.composantePorteuse != null ? formation.composantePorteuse.codeApogee : '--' }}</p>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>

    <div class="mt-3"
            {{ stimulus_controller('wizard', {
                url: path('app_codification_wizard', {formation:formation.id}),
                step: formation.parcours.first.id,
            }) }}
    >

        <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer"
            role="tablist">
            {% for parcours in formation.parcours %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab" href="#" role="tab"
                            {{ stimulus_action('wizard', 'changeStep', 'click', {step: parcours.id}) }}
                    >
                        {{ parcours.libelle }}
                    </a>
                </li>
            {% endfor %}



            <!-- An empty list to put overflowed links -->
            <li class="nav-item dropdown ms-auto pe-0 d-none responsive-tab-dropdown">
                <a
                        class="btn btn-icon btn-icon-only btn-background pt-0 bg-transparent pe-0"
                        href="#"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i data-acorn-icon="more-horizontal"></i>
                </a>
                <ul class="dropdown-menu mt-2 dropdown-menu-end"></ul>
            </li>
        </ul>

        <div class="card mb-5">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="step_1" role="tabpanel" {{ stimulus_target
                        ('wizard', 'content') }}>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    Codification de la formation {{ formation.displayLong }}
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Formations',
        },
        {
            href:path('app_codification_liste'),
            title: 'Codification des formations',
        },
        {
            href:path('app_formation_show', {slug:formation.slug}),
            title: 'Formation ' ~formation.displayLong,
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a
            class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Voir la formation"
            href="{{ path('app_formation_show', {slug:formation.slug}) }}"
    >
        <i class="{{ iconShow }}"></i>
        <span> Voir la formation</span>
    </a>
    <a
            class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Retour à la codification des formations"
            href="{{ path('app_codification_liste') }}"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la codification</span>
    </a>
    <a
            class="btn btn-sm btn-outline-warning btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Générer la codification"
            href="{{ path('app_codification', {formation:formation.id}) }}"
    >
        <i class="{{ iconAdd }}"></i>
        <span> Générer la codification</span>
    </a>
{% endblock %}
