{% extends 'base.html.twig' %}

{% block title %}Codification{% endblock %}

{% block content %}
    <div class="mt-3"
            {{ stimulus_controller('wizard', {
                url: path('app_codification_liste_inter'),
                step: typeDiplomes[0].id,
            }) }}
    >

        <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer"
            role="tablist">
            {% for typeDiplome in typeDiplomes %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab" href="#" role="tab"
                            {{ stimulus_action('wizard', 'changeStep', 'click', {step: typeDiplome.id}) }}
                    >
                        {{ typeDiplome.libelle }}
                    </a>
                </li>
            {% endfor %}


            <!-- An empty list to put overflowed links -->
            <li class="nav-item dropdown ms-auto pe-0 d-none responsive-tab-dropdown">
                <a
                        class="btn btn-icon btn-icon-only btn-background pt-0 bg-transparent pe-0"
                        href="#"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i data-acorn-icon="more-horizontal"></i>
                </a>
                <ul class="dropdown-menu mt-2 dropdown-menu-end"></ul>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade active show" id="step_1" role="tabpanel"
                    {{ stimulus_target('wizard', 'content') }}>

            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    Codification des formations
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_formation_index'), title: 'Liste des formations'},
    ]}) }}
{% endblock %}

{% block bouton_header %}

    <a
            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Exporter la codification"
            href="{{ path('app_codification_export') }}"
    >
        <i class="{{ iconDownload }}"></i>
        <span> Exporter la codification</span>
    </a>

    <a
            class="btn btn-sm btn-outline-warning btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Générer la codification"
            href="{{ path('app_codification_genere_all') }}"
    >
        <i class="{{ iconAdd }}"></i>
        <span> Générer la codification</span>
    </a>
{% endblock %}
