<h2>{{ formation.display }}</h2>

{% for histo in historiques %}
    {% if histo.etat == 'valide' %}
        {% set color='success' %}
    {% elseif histo.etat == 'refuse' %}
        {% set color='danger' %}
    {% else %}
        {% set color='warning' %}
    {% endif %}
    <div class="row g-0 align-items-center mb-2">
        <div class="col-auto">
            <div class="border border-{{ color }} sw-5 sh-5 rounded-xl d-flex justify-content-center align-items-center">
                <i class="fas {{ histo.etape|etapeIcone }} text-{{ color }} fs-3"></i>
            </div>
        </div>
        <div class="col ps-3">
            <div class="row g-0">
                <div class="col">
                    <div class="d-flex align-items-center lh-1-25">
                        {{ histo.etape|etapeLabel|trans }}
                    </div>
                    <p class="text-small">par : {{ histo.user.display }}</p>
                </div>
                <div class="col-auto">
                    <div class="sh-5 d-flex align-items-center">{{ histo.created|date('d/m/Y H:i') }}</div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        {{ component('alerte', {
            'type': 'warning',
            'message': 'Aucune validation pour cette formation.'
        })
        }}
{% endfor %}
