<h2>
    {% if formation is defined %}
        {{ formation.display }}
    {% elseif ficheMatiere is defined %}
        {{ ficheMatiere.libelle }}
    {% else %}
        -Erreur-
    {% endif %}
</h2>
{# todo: si niveau formation avec parcours historique par parcours ? ou préciser le parcours ? #}
{% for histo in historiques %}
    {% if histo.etat == 'valide' %}
        {% set color='success' %}
    {% elseif histo.etat == 'refuse' %}
        {% set color='danger' %}
    {% elseif histo.etat == 'info' %}
        {% set color='info' %}
    {% else %}
        {% set color='warning' %}
    {% endif %}

    {% if
        histo.etape == 'laisserPasser' or
        histo.complements.sousReserveModifications is defined or
        histo.complements.sousReserveConseil is defined %}
        {% set color='warning' %}
    {% endif %}
    <div class="row g-0 align-items-center mb-2"
    {{ stimulus_controller('historique') }}
    {{ stimulus_target('historique', 'entreeHistorique') }}
    >
        <div class="col-auto">
            <div class="border border-{{ color }} sw-5 sh-5 rounded-xl d-flex justify-content-center align-items-center">
                <i class="fas {{ histo.etape|etapeIcone(type) }} text-{{ color }} fs-3"></i>
            </div>
        </div>
        <div class="col ps-3">
            <div class="row g-0">
                <div class="col">
                    <div class="d-flex align-items-center lh-1-25">
                        {% if histo.etape == 'change_rf' %}
                            Changement du responsable de formation : {{ histo.complements.ancien }} &rarr; {{ histo.complements.nouveau }}
                        {% elseif histo.etape == 'change_rf_co' %}
                            Changement du co-responsable de formation : {{ histo.complements.ancien }} &rarr; {{ histo.complements.nouveau }}
                        {% elseif histo.etape == 'laisserPasser' %}
                            {{ ('historique.laisserPasser.conseil')|trans(histo|etapeParams(type), 'process') }}
                        {% else %}
                            {{ ('historique.'~histo.etape|etapeLabel(type))|trans(histo|etapeParams(type), 'process') }}
                        {% endif %}
                    </div>
                    {% if histo.complements.sousReserveModifications is defined %}
                        <span class="badge bg-warning ms-2">Sous réserve de modifications</span>
                    {% endif %}
                    {% if histo.complements.sousReserveConseil is defined %}
                        <span class="badge bg-warning ms-2">Sous réserve de validation du conseil</span>
                    {% endif %}
                    {% if histo.etat == 'laisserPasser' %}
                        <span class="badge bg-warning ms-2">Laissez-passer demandé</span>
                    {% endif %}
                    <p class="text-small">par : {{ histo.user.display }}</p>
                </div>
                {% if is_granted('ROLE_SES') %}
                    <div class="col-auto">
                        {% if
                            (histo.etape == 'cfvu' or histo.etape=='conseil') %}
                            <button class="btn text-warning"
                                    type="button"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: ('modification.historique.title')|trans({}, 'process'),
                                        modalUrl: path('app_historique_edit', {
                                            historique: histo.id
                                        }) }) }}
                                    data-action="click->modal#openModal"
                                    data-controller="tooltip"
                                    data-tooltip-placement-value="bottom"

                                    aria-label="{{ 'modification.historique'|trans({}, 'process') }}"
                                    data-bs-original-title="{{ 'modification.historique'|trans({}, 'process') }}"
                            >
                                <i class="{{ iconEdit }}"></i>
                            </button>
                        {% endif %}
                        <button class="btn text-danger"
                                type="button"
                                data-controller="tooltip"
                                data-tooltip-placement-value="bottom"
                                {{ stimulus_action('historique', 'delete', 'click', {
                                    url: path('app_historique_delete', {historique: histo.id}),
                                    csrf: csrf_token('delete' ~ histo.id)
                                }) }}
                                aria-label="{{ 'supprimer.historique'|trans({}, 'process') }}"
                                data-bs-original-title="{{ 'supprimer.historique'|trans({}, 'process') }}"
                        >
                            <i class="{{ iconDelete }}"></i>
                        </button>
                    </div>
                {% endif %}
                <div class="col-auto">
                    <div class="sh-5 d-flex align-items-center">{{ histo.created|date('d/m/Y H:i') }}</div>
                </div>

            </div>
            {% if histo.commentaire is defined or histo.complements.fichier is defined %}
                <div class="row">
                    {% if histo.commentaire is defined %}
                        <div class="col-auto">
                            <p>{{ histo.commentaire|raw }}</p>
                        </div>
                    {% endif %}
                    {% if histo.complements.fichier is defined %}
                        <div class="col-auto">
                            <p><a href="{{ asset('uploads/conseils/'~histo.complements.fichier) }}" target="_blank">Voir
                                    le PV du conseil</a></p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% else %}
    {{ component('alerte', {
        'type': 'warning',
        'message': 'Aucune validation pour cette formation.'
    }) }}
{% endfor %}
