<table class="table">
    <thead>
    <tr>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'composante',
                        'direction': getDirection('composante', sort, direction)
                    }) }}
            >
                Composante
                {{ displaySort('composante', sort, direction) }}
            </a>
        </th>
        <th>
            {#            <a href="" #}
            {#                    {{ stimulus_action('crud', 'sort', 'click', { #}
            {#                        'sort': 'typeDiplome', #}
            {#                        'direction': getDirection('typeDiplome', sort, direction) #}
            {#                    }) }} #}
            {#            > #}
            Type de formation

            {#                {{ displaySort('typeDiplome', sort, direction) }} #}
            {#            </a> #}
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'mention',
                        'direction': getDirection('mention', sort, direction)
                    }) }}
            >
                Mention/spécialité
                {{ displaySort('mention', sort, direction) }}
            </a>
        </th>

        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'libelle',
                        'direction': getDirection('libelle', sort, direction)
                    }) }}
            >
                Parcours

                {{ displaySort('libelle', sort, direction) }}
            </a>
        </th>
        <th>Lieu</th>
        <th>Etat</th>
        <th>Remplissage</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for parcour in parcours %}
        <tr>
            <td>
                {% if parcour.formation.composantePorteuse != null %}
                    {{ parcour.formation.composantePorteuse.libelle }}
                {% else %}
                    <span class="badge bg-danger">Non définie</span>
                {% endif %}
            </td>
            <td>
                {{ parcour.formation.typeDiplome|typeDiplome }}
            </td>


            <td>
                {% if parcour.formation.mention != null or parcour.formation.mentionTexte != null %}
                    {{ parcour.formation.display }}
                {% else %}
                    <span class="badge bg-danger">Non définie</span>
                {% endif %}
            </td>
            <td>{{ parcour.libelle }}</td>
            <td>{{ parcour.localisation != null ? parcour.localisation.libelle : 'Non défini' }}</td>
            <td>
                {{ parcour.etatParcours|badgeDpe }}
            </td>
            <td>
                {{ parcour.remplissage|remplissage }}
            </td>
            <td>
                <a href=""
                   class="btn btn-sm text-info"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="Voir le parcours"
                >
                    <i class="{{ iconShow }}"></i>
                    <span> voir</span>
                </a>

                {% if is_granted('ROLE_PARCOURS_EDIT_MY', parcour) or is_granted('ROLE_SES') %} #}
                    <a href="{{ path('app_parcours_edit',{'id': parcour.id}) }}"
                       class="btn btn-sm text-warning"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       title="Modifier la fiche d'identité du parcours"
                    >
                        <i class="{{ iconEdit }}"></i>
                        <span> modifier</span>
                    </a>
                {% endif %}

                {% if is_granted('CAN_FORMATION_DELETE_MY') %}
                    <button {{ stimulus_action('crud', 'delete', 'click', {
                        url:path('app_parcours_delete',{'id': parcour.id}),
                        csrf: csrf_token('delete' ~ parcour.id)
                    }) }} class="btn btn-sm text-danger">
                        <i class="{{ iconDelete }}"></i> Supprimer
                    </button>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8" class="bg-warning">Aucun enregistrement trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
