<tr class="total-semestre">
    <td id="TotalSemestre">
        Total Semestre {{ semestre.semestre.ordre }}
    </td>
    <td>{{ semestre.heuresEctsSemestre.sommeSemestreCmPres > 0 ? semestre.heuresEctsSemestre.sommeSemestreCmPres : '-' }}</td>
    <td>{{ semestre.heuresEctsSemestre.sommeSemestreTdPres > 0 ? semestre.heuresEctsSemestre.sommeSemestreTdPres : '-' }}</td>
    <td>{{ semestre.heuresEctsSemestre.sommeSemestreTpPres > 0 ? semestre.heuresEctsSemestre.sommeSemestreTpPres : '-' }}</td>
    <td>{{ semestre.heuresEctsSemestre.sommeSemestreCmDist > 0 ? semestre.heuresEctsSemestre.sommeSemestreCmDist : '-' }}</td>
    <td>{{ semestre.heuresEctsSemestre.sommeSemestreTdDist > 0 ? semestre.heuresEctsSemestre.sommeSemestreTdDist : '-' }}</td>
    <td>{{ semestre.heuresEctsSemestre.sommeSemestreTpDist > 0 ? semestre.heuresEctsSemestre.sommeSemestreTpDist : '-' }}</td>
    <td>{{ semestre.heuresEctsSemestre.sommeSemestreTePres > 0 ? semestre.heuresEctsSemestre.sommeSemestreTePres : '-' }}</td>
</tr>