{% if IsEcEnfant and loop.index == 1 %}
<tr>
    <td id="ECLibelle">
        <span class="badge bg-info">
            Élément constitutif à choix restreint : {{ arrayLength }} choix possible
        </span>
        <img src="{{ asset('/maquette/arrow-down.svg') }}" class="arrow-down">
    </td>
    <td colspan="7" id="tdEcRestreint"></td>
</tr>
{% endif %}
<tr>
    {# <td id="{{ IsEcEnfant ? 'ECEnfantLibelle' : 'ECLibelle' }}" class="{{ indexUeEnfant != -1  ? 'indexUeEnfant' ~ indexUeEnfant : '' }}"> #}
    <td id="{{ IsEcEnfant ? 'ECEnfantLibelle' : 'ECLibelle' }}">
        {% if ec.elementConstitutif.ficheMatiere is defined and ec.elementConstitutif.ficheMatiere is not null %}
        <a href="{{ path(
                    'app_fiche_matiere_maquette_iframe',
                    { slug: ec.elementConstitutif.ficheMatiere.slug, id: parcours.parcours.id }
                    ) 
                }}">
            {{ ec.elementConstitutif.ficheMatiere.libelle ?? ec.elementConstitutif.libelle ?? ec.elementConstitutif.display() }}
        </a>
        {% else %}
            {{ ec.elementConstitutif.ficheMatiere.libelle ?? ec.elementConstitutif.libelle ?? ec.elementConstitutif.display() }}    
        {% endif %}
        {% if indexUeEnfant != -1 %}
            {% set colorBadge = indexUeEnfant == 1 ? 'bg-primary' 
                : indexUeEnfant == 2 ? 'bg-danger' 
                : indexUeEnfant == 3 ? 'bg-success' 
                : 'bg-warning' 
            %}
            <span class="ms-3 badge {{ colorBadge }}">Choix {{ indexUeEnfant }}</span>
        {% endif %}
    </td>
    <td>{{ ec.heuresEctsEc.cmPres > 0 ? ec.heuresEctsEc.cmPres : '-' }}</td>
    <td>{{ ec.heuresEctsEc.tdPres > 0 ? ec.heuresEctsEc.tdPres : '-' }}</td>
    <td>{{ ec.heuresEctsEc.tpPres > 0 ? ec.heuresEctsEc.tpPres : '-' }}</td>
    <td>{{ ec.heuresEctsEc.cmDist > 0 ? ec.heuresEctsEc.cmDist : '-' }}</td>
    <td>{{ ec.heuresEctsEc.tdDist > 0 ? ec.heuresEctsEc.tdDist : '-' }}</td>
    <td>{{ ec.heuresEctsEc.tpDist > 0 ? ec.heuresEctsEc.tpDist : '-' }}</td>
    <td>{{ ec.heuresEctsEc.tePres > 0 ? ec.heuresEctsEc.tePres : '-' }}</td>
</tr>