{% if IsUeEnfant == false %}
    <tr class="table-dark">
        <td id="UELibelle">
            {{'UE' ~ ue.ue.ordre}} - {{ ue.ue.libelle }}
            {% if ue.ue.natureUeEc is defined and ue.ue.natureUeEc != null and ue.ue.natureUeEc.libre == true %}
                <span class="badge bg-secondary">UE à choix libre</span>
            {% endif %}
            {% if ue.uesEnfants|length > 0 %}
                <span class="badge bg-primary">
                    UE à choix restreint : 1 choix possible parmi {{ ue.uesEnfants|length }} 
                </span>
                <img src="{{ asset('/maquette/arrow-down.svg') }}" class="arrow-down">
            {% endif %}
            <span class="ects-badge-ue">{{ ue.heuresEctsUe.sommeUeEcts }}&nbsp;ECTS</span>
        </td>
        <td>{{ ue.heuresEctsUe.sommeUeCmPres > 0 ? ue.heuresEctsUe.sommeUeCmPres : '-'  }}</td>
        <td>{{ ue.heuresEctsUe.sommeUeTdPres > 0 ? ue.heuresEctsUe.sommeUeTdPres : '-'  }}</td>
        <td>{{ ue.heuresEctsUe.sommeUeTpPres > 0 ? ue.heuresEctsUe.sommeUeTpPres : '-'  }}</td>
        <td>{{ ue.heuresEctsUe.sommeUeCmDist > 0 ? ue.heuresEctsUe.sommeUeCmDist : '-'  }}</td>
        <td>{{ ue.heuresEctsUe.sommeUeTdDist > 0 ? ue.heuresEctsUe.sommeUeTdDist : '-'  }}</td>
        <td>{{ ue.heuresEctsUe.sommeUeTpDist > 0 ? ue.heuresEctsUe.sommeUeTpDist : '-'  }}</td>
        <td>{{ ue.heuresEctsUe.sommeUeTePres > 0 ? ue.heuresEctsUe.sommeUeTePres : '-' }}</td>
    </tr>
{% endif %}

{% for ec in ue.elementConstitutifs %}
        {% if ec.elementsConstitutifsEnfants|length == 0 %}
            {{ include('parcours/_maquette_iframe_EC.html.twig', {ec:ec, IsEcEnfant: false, indexUeEnfant: indexUeEnfant ?? -1 }) }}
        {% else %}
            {% for ece in ec.elementsConstitutifsEnfants %}
                {{ include('parcours/_maquette_iframe_EC.html.twig', 
                    {ec:ece, IsEcEnfant: true, arrayLength: ec.elementsConstitutifsEnfants|length, indexUeEnfant: indexUeEnfant ?? -1 }) 
                }}
            {% endfor %}
        {% endif %}
{% endfor %}

{% if IsUeEnfant and ue.elementConstitutifs|length == 0 %}
    <tr>
        <td id="ECEnfantLibelle">
            {{ ue.ue.descriptionUeLibre }}
        </td>
        <td colspan="7" id="tdEcRestreint"></td>
    </tr>
{% endif %}