{% set formation = parcours.formation %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <dl>
                    <dt>Domaine</dt>
                    <dd>{{ formation.domaine ? formation.domaine.libelle : 'Non défini' }}</dd>
                    <dt>Type de formation</dt>
                    <dd>{{ formation.typeDiplome|typeDiplome }}</dd>
                </dl>
            </div>
            <div class="col-3">
                <dl>
                    <dt>Composante</dt>
                    <dd>{{ formation.composantePorteuse != null ? formation.composantePorteuse.libelle : 'Non définie' }}</dd>
                    <dt>Mention/spécialité</dt>
                    <dd>{{ formation.display }}</dd>
                </dl>
            </div>
            <div class="col-3">
                <dl>
                    <dt>Responsable de la mention/spécialité</dt>
                    <dd>{{ formation.responsableMention != null ? formation.responsableMention.display : 'Non défini' }}</dd>
                    <dt>Responsable du parcours</dt>
                    <dd>
                        {{ parcours.respParcours != null ? parcours.respParcours.display : 'Non défini' }}
                        {% if parcours.coResponsable != null %}
                        <i class="fal fa-users" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="Co-responsable : {{ parcours.coResponsable.display }}"></i>
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="col-3 d-grid">
                <a class="btn btn-outline-primary d-block" href="{{ path('app_parcours_bcc', {parcours:parcours.id}) }}">
                    Contrôler les BCC
                </a>
                <a class="btn btn-outline-primary d-block mt-1" href="{{ path('app_parcours_mccc', {parcours:parcours
                .id}) }}">
                    Contrôler les MCCC
                </a>
                {#                <button class="btn btn-outline-primary d-block mt-1">Contrôler les BCC</button> #}
            </div>
        </div>
        {{ component('mention_manage', {parcours:parcours, type:'parcours'}) }}

    </div>
</div>
