{% set formation = parcours.formation %}

{{ component('parcours_manage', {parcours:parcours}) }}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <dl>
                    <dt>Domaine</dt>
                    <dd>{{ formation.domaine ? formation.domaine.libelle : 'Non défini' }}</dd>
                    <dt>Type de formation</dt>
                    <dd>{{ formation.typeDiplome|typeDiplome }}</dd>
                </dl>
            </div>
            <div class="col-3">
                <dl>
                    <dt>Composante</dt>
                    <dd>{{ formation.composantePorteuse != null ? formation.composantePorteuse.libelle : 'Non définie' }}</dd>
                    <dt>Mention/spécialité</dt>
                    <dd>{{ formation.display }}</dd>
                </dl>
            </div>
            <div class="col-3">
                <dl>
                    <dt>Responsable de la mention/spécialité</dt>
                    <dd>{{ formation.responsableMention != null ? formation.responsableMention.display : 'Non défini' }}</dd>
                    <dt>Responsable du parcours</dt>
                    <dd>
                        {{ parcours.respParcours != null ? parcours.respParcours.display : 'Non défini' }}
                        {% if parcours.coResponsable != null %}
                            <i class="fal fa-users" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Co-responsable : {{ parcours.coResponsable.display }}"></i>
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="col-3 d-grid">
                {% if version is defined and version != null %}
                    {{ include('communs/_boutonSynthese_version.html.twig', {parcours: parcours, col:3}) }}
                {% else %}
                    {{ include('communs/_boutonSynthese.html.twig', {parcours: parcours, col:3}) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
