{% extends 'base.html.twig' %}

{% block content %}
    {{ include('parcours/_synthese_parcours.html.twig') }}

    {% if constant('SOURCE', typeD) == 'meef' %}
        {% if parcours.parcoursParent != null %}
            {{ include('parcours/_wizard.html.twig') }}
            {% else %}
            <div class="alert alert-warning mt-2">
                <i class="fas fa-exclamation-triangle"></i>
                <strong>Attention</strong> : ce parcours n'est pas une option. Il n'est donc pas possible de le modifier.
            </div>
        {% endif %}
    {% else %}
        {{ include('parcours/_wizard.html.twig') }}
    {% endif %}
{% endblock %}

{% block header %}
    {% if parcours.parcoursParent == null %}
        Parcours <strong>{{ parcours.libelle }}</strong>
    {% else %}
        Option <strong>{{ parcours.libelle }}</strong> (parcours <strong>{{ parcours.parcoursParent.libelle }}</strong>)
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_formation_index'), title: 'Liste des formations'},
        {href: path('app_formation_edit', {id:formation.id}), title: 'Formation : '~formation.display},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_formation_edit', {id:formation.id}) }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour à la formation"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la formation</span>
    </a>
{% endblock %}
