{% extends 'base.html.twig' %}

{% block content %}
    {{ include('parcours/_synthese_parcours.html.twig') }}
    {% if constant('SOURCE', typeD) == 'meef' %}
        {% if parcours.parcoursParent != null %}
            {{ include('parcours/_wizard.html.twig') }}
            {% else %}
            <div class="alert alert-warning mt-2">
                <i class="fas fa-exclamation-triangle"></i>
                <strong>Attention</strong> : ce parcours n'est pas une option. Il n'est donc pas possible de le modifier.
            </div>
        {% endif %}
    {% else %}
        {{ include('parcours/_wizard.html.twig') }}
    {% endif %}
{% endblock %}

{% set header_title %}
    {% if parcours.parcoursParent == null %}
        Parcours <strong>{{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}</strong>
    {% else %}
        Option <strong>{{ parcours.libelle }}</strong> (parcours <strong>{{ parcours.parcoursParent.libelle }}</strong>)
    {% endif %}
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_formation_index'), title: 'Liste des formations'},
        {href: path('formation_v2_modifier', {slug:formation.slug}), title: 'Formation : '~formation.display},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('parcours_v2_voir', {parcours:parcours.id}) }}"
       class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Voir le parcours"
    >
        <i class="{{ iconShow }}"></i>
        <span> Voir la fiche descriptive</span>
    </a>
    <a href="{{ path('formation_v2_modifier', {slug:formation.slug}) }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour à la formation"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la formation</span>
    </a>
{% endblock %}
