{% extends 'base.html.twig' %}

{% block content %}
    {{ include('parcours/_synthese_parcours.html.twig') }}

    {{ include('parcours/_wizard.html.twig') }}
{% endblock %}

{% block header %}
    Parcours <strong>{{ parcours.libelle }}</strong>
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_formation_index'), title: 'Liste des formations'},
        {href: path('app_formation_edit', {id:formation.id}), title: 'Formation : '~formation.display},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_formation_edit', {id:formation.id}) }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour à la formation"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la formation</span>
    </a>
{% endblock %}
