{% extends 'base.html.twig' %}

{% block content %}

    {{ include('parcours/_synthese_parcours.html.twig') }}

    <div class="card mt-3">
        <div class="card-body"
                {{ stimulus_controller('logos', {
                    url: path('app_parcours_save', {parcours: parcours.id}),
                    logosUrl: path('app_parcours_logos', {id: parcours.id, editable: true}),
                    deleteLogoUrl: path('app_parcours_delete_logo', {id: parcours.id}),
                }) }}>
            <h5 class="card-title">Logos du parcours</h5>
            <turbo-frame id="logos-container">
                {% include 'parcours/_logos.html.twig' with {editable: true} %}
            </turbo-frame>
            <div class="mt-3">
                <form id="logo-upload-form"
                      action="{{ path('app_parcours_upload_logo', {id: parcours.id}) }}"
                      method="POST"
                      enctype="multipart/form-data">
                    <input type="file" name="logo[]" accept="image/png, image/jpeg" class="form-control" multiple>
                    <button type="button"
                            class="btn btn-primary mt-2"
                            data-action="click->logos#uploadLogo">
                        Envoyer le logo
                    </button>
                </form>
            </div>
        </div>
    </div>

    {% if constant('SOURCE', typeD) == 'meef' %}
        {% if parcours.parcoursParent != null %}
            {{ include('parcours/_wizard.html.twig') }}
            {% else %}
            <div class="alert alert-warning mt-2">
                <i class="fas fa-exclamation-triangle"></i>
                <strong>Attention</strong> : ce parcours n'est pas une option. Il n'est donc pas possible de le modifier.
            </div>
        {% endif %}
    {% else %}
        {{ include('parcours/_wizard.html.twig') }}
    {% endif %}
{% endblock %}

{% set header_title %}
    {% if parcours.parcoursParent == null %}
        Parcours <strong>{{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}</strong>
    {% else %}
        Option <strong>{{ parcours.libelle }}</strong> (parcours <strong>{{ parcours.parcoursParent.libelle }}</strong>)
    {% endif %}
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_formation_index'), title: 'Liste des formations'},
        {href: path('app_formation_edit', {slug:formation.slug}), title: 'Formation : '~formation.display},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_parcours_show', {id:parcours.id}) }}"
       class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Voir le parcours"
    >
        <i class="{{ iconShow }}"></i>
        <span> Voir la fiche descriptive</span>
    </a>
    <a href="{{ path('app_formation_edit', {slug:formation.slug}) }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour à la formation"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la formation</span>
    </a>
{% endblock %}
