{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        {{ cssDiff }}
        {{ include('communs/versioning_view_style.html.twig') }}
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Test Script -->
    <script>
      let isSaveClicked = false

      function showVersion () {
        let select = document.querySelector('#selectVersion')
        let versionSelected = select.options[select.selectedIndex].value
        if (versionSelected !== '#') {
          window.location = `/parcours/${versionSelected}/versioning/view`
        }
      }

      function saveVersion (event) {
        if (isSaveClicked === false) {
          let spinner = document.querySelector('#spinner')
          spinner.classList.remove('d-none')
          spinner.classList.add('d-flex')
          isSaveClicked = true
        } else {
          event.preventDefault()
          return false
        }
      }

    </script>
{% endblock %}

{% block content %}
    {{ component('mention_manage', {parcours:parcours, type:'parcours'}) }}


    {% if is_granted('ROLE_SES') %}
        <div class="row mt-5 mb-5">
            <h3 class="small-title">Gestion du parcours</h3>
            <div class="card">
            <div class="card-body">
                <p>Format d'export LHEO
                    <a href="{{ path('app_parcours_export_xml_lheo', {'parcours': parcours.id}) }}">
                <span class="mt-4 ms-3 badge {{ lheoXML.isValidLheo(parcours) ? 'bg-success' : 'bg-danger' }}">
                    {{ lheoXML.isValidLheo(parcours) ? 'Valide' : 'Invalide' }}
                </span>
                    </a>
                </p>


                <div class="row my-3">
                    <div class="col-lg-3 col-sm-6">
                        <h3 class="small-title">Versions de ce parcours</h3>
                        {% if parcours.parcoursVersionings|length > 0 %}
                            <select class="form-select" id="selectVersion">
                                <option value="#" selected="selected">Choisir...</option>
                                {% for p in parcours.parcoursVersionings %}
                                    <option value="{{ p.getId }}">
                                        Version du : {{ p.getVersionTimestamp()|date('d/m/Y') }}
                                        à {{ p.getVersionTimestamp()|date('H:i') }} {{ p.isCvfuFlag() ? " - CFVU" : "" }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            Aucune version enregistrée.
                        {% endif %}
                    </div>
                    {% if parcours.parcoursVersionings|length > 0 %}
                        <div class="d-flex col-lg-1 col-sm-3 align-items-end">
                            <a href="#">
                                <button class="btn btn-sm btn-primary mb-1" id="buttonShowVersion"
                                        onclick="showVersion()">
                                    Visionner
                                </button>
                            </a>
                        </div>
                    {% endif %}
                    <div class="d-flex col-lg-1 col-sm-3 align-items-end">
                        <a href="{{ path('app_parcours_versioning_save', {parcours: parcours.id}) }}"
                           onclick="saveVersion(event)">
                            <button class="btn btn-sm btn-success mb-1 ms-lg-1">
                                Sauvegarder la version
                            </button>
                        </a>
                    </div>
                    <div class="d-none col-lg-2 align-items-end justify-content-xl-center justify-content-end"
                         id="spinner">
                        <div class="spinner-border text-primary mb-1"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        {{ include('typeDiplome/parcours/common/_'~constant('SOURCE', typeD)~'.html.twig') }}
        <!-- Scrollspy Start -->
        <div class="col-md-auto d-none d-lg-block" id="scrollSpyMenu">
            <ul class="nav flex-column">
                <li>
                    <a class="nav-link p-2" href="#identite_formation">
                        <i class="fal fa-chevron-right"></i>
                        Identité de la formation
                    </a>
                </li>

                <li>
                    <a class="nav-link p-2" href="#presentation_{{ parcours.id }}">
                        <i class="fal fa-chevron-right"></i>
                        Présentation
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#descriptif_{{ parcours.id }}">
                        <i class="fal fa-chevron-right"></i>
                        Descriptif de la formation
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#localisation_{{ parcours.id }}">
                        <i class="fal fa-chevron-right"></i>
                        Localisation
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#competences_{{ parcours.id }}">
                        <i class="fal fa-chevron-right"></i>
                        Compétences Acquises
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#structure_{{ parcours.id }}">
                        <i class="fal fa-chevron-right"></i>
                        Structure
                    </a>
                </li>


                <li>
                    <a class="nav-link p-2" href="#admission_{{ parcours.id }}">
                        <i class="fal fa-chevron-right"></i>
                        Admission
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#inscription_{{ parcours.id }}">
                        <i class="fal fa-chevron-right"></i>
                        Inscription
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#et_apres_{{ parcours.id }}">
                        <i class="fal fa-chevron-right"></i>
                        Et après...
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#contacts_{{ parcours.id }}">
                        <i class="fal fa-chevron-right text-start"></i>
                        Contacts pédagogiques
                    </a>
                </li>
            </ul>
        </div>
        <!-- Scrollspy End -->
    </div>
{% endblock %}

{% block header %}
    Détail du parcours : {{ parcours.libelle }}
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_formation_index'), title: 'Liste des formations'},
        {href: path('app_formation_show', {slug:formation.slug}), title:'Formation :  ' ~ formation.display},
    ]}) }}
{% endblock %}

{% block bouton_header %}

    {{ include('btn/export_mccc.html.twig') }}

    <div class="btn-group">
        <button type="button"
                class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2 dropdown-toggle mb-1"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="{{ iconDownload }}"></i> BCC
        </button>
        <div class="dropdown-menu" style="">
            <a class="dropdown-item" href="{{ path('app_parcours_bcc', {parcours:parcours.id}) }}">
                Voir en ligne
            </a>
            <a class="dropdown-item" href="{{ path('app_competence_export_bcc', {parcours:parcours.id}) }}">
                Export des BCC (pdf)
            </a>
            <a class="dropdown-item" href="{{ path('app_competence_export_croise', {parcours:parcours.id}) }}">
                Export du tableau croisé BCC/EC, par semestre (pdf)
            </a>
            <a class="dropdown-item" href="{{ path('app_competence_export_croise_global', {parcours:parcours.id}) }}">
                Export du tableau croisé BCC/EC, global (xslx)
            </a>
        </div>
    </div>

    <a href="{{ path('app_parcours_export', {parcours:parcours.id}) }}"
       class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Télécharger en PDF"
    >
        <i class="{{ iconDownload }}"></i>
        <span> Fiche descriptive (PDF)</span>
    </a>

    {% if is_granted('CAN_PARCOURS_EDIT_MY', parcours) %}
        <a href="{{ path('app_parcours_edit', {id:parcours.id}) }}"
           class="btn btn-sm btn-outline-warning btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Modifier le parcours"
        >
            <i class="{{ iconEdit }}"></i>
            <span> Modifier le parcours</span>
        </a>
    {% endif %}
{% endblock %}
