<table class="table">
    <thead>
    <tr>
        <th>Libellé</th>
        <th>Libellé Court</th>
        <th>Code Apogée</th>
        <th>Sem. Début / Sem. Fin</th>
        <th>Mémoire ?</th>
        <th>Stage ?</th>
        <th>Situation Pro. ?</th>
        <th>Projet ?</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for type_diplome in type_diplomes %}
        <tr>
            <td>{{ type_diplome.libelle }}</td>
            <td>{{ type_diplome.libelleCourt }}</td>
            <td>{{ type_diplome.codeApogee|displayOrBadge }}</td>
            <td>S{{ type_diplome.semestreDebut }} / S{{ type_diplome.semestreFin }}</td>
            <td>{{ type_diplome.hasMemoire|badgeBoolean }}</td>
            <td>{{ type_diplome.hasStage|badgeBoolean }}</td>
            <td>{{ type_diplome.hasSituationPro|badgeBoolean }}</td>
            <td>{{ type_diplome.hasProjet|badgeBoolean }}</td>
            <td class="text-end">
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Voir un type de diplôme',
                            modalUrl: path('app_type_diplome_show',{'id': type_diplome.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-info"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Voir un type de diplôme"
                >
                    <i class="{{ iconShow }}"></i>
                    <span> voir</span>
                </button>

                <button
                    class="btn btn-sm text-warning"
                    data-size="lg"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Modifier un type de diplôme"
                >
                    <a href="{{ path('app_type_diplome_edit', { id: type_diplome.id } ) }}" class="text-warning">
                        <i class="{{ iconEdit }}"></i>
                        <span> modifier</span>
                    </a>
                </button>

                <button {{ stimulus_action('crud', 'duplicate', 'click', {
                    url:path('app_type_diplome_duplicate',{'id': type_diplome.id})
                }) }} class="btn btn-sm text-success">
                    <i class="{{ iconDuplicate }}"></i> Dupliquer
                </button>
                <button {{ stimulus_action('crud', 'delete', 'click', {
                    url:path('app_type_diplome_delete',{'id': type_diplome.id}),
                    csrf: csrf_token('delete' ~ type_diplome.id)
                }) }} class="btn btn-sm text-danger">
                    <i class="{{ iconDelete }}"></i> Supprimer
                </button>
            </td>

        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
