{% extends 'base.html.twig' %}

{% block content %}
    <div class="card"
            {{ stimulus_controller('crud', {
                url: path('app_type_diplome_liste')
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe"
    >
        <div class="card-body" {{ stimulus_target('crud', 'liste') }}>
        </div>
    </div>
{% endblock %}

{% block header %}
    Gestion des types de diplôme
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_type_diplome_new') }}">
        <button
            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2 text-dark"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Ajouter un type de diplôme"
        >

        <i class="{{ iconAdd }}"></i>
                <span> Ajouter un type de diplôme</span>
        </button>
    </a>
{% endblock %}
