{% if typeMccc == 'cci' %}
    {{ include('typeDiplome/mccc-non-editable/licence/_cci.html.twig') }}
{% elseif typeMccc == 'cc' %}
    {{ include('typeDiplome/mccc-non-editable/licence/_cc.html.twig') }}
{% elseif typeMccc == 'ct' %}
    {{ include('typeDiplome/mccc-non-editable/licence/_ct.html.twig') }}
{% elseif typeMccc == 'cc_ct' %}
    {{ include('typeDiplome/mccc-non-editable/licence/_cc_ct.html.twig') }}
{% else %}
    <twig:alerte type="danger" message="Le type de MCCC est inconnu"/>
{% endif %}

{% if ec.quitus %}
    {% set quitusText = ec.quitusText %}
{% endif %}
{% if ec.ficheMatiere.quitus and ec.isMcccSpecifiques() ?? false != true %}
    {% set quitusText = ec.ficheMatiere.quitusText %}
{% endif %}

{% if ec.quitus ?? false or (ec.ficheMatiere.quitus ?? false and ec.isMcccSpecifiques() != true)%}
    <div class="col">
        <p class="my-1">
            <span class="text-info">Cet EC donne lieu à un quitus</span>
        </p>
        <p class="my-1">
            {{ quitusText }}
        </p>
    </div>
{% endif %}

{% if (isFromVersioning is defined and isFromVersioning != 'true') %}
    <div class="row justify-content-start mt-5">
    {% if (isMcccFromVersion is not defined or isMcccFromVersion == false) 
        and (lastVersion is defined and lastVersion != null)
    %}
        <div class="col-4"> 
            <button class="btn btn-sm btn-primary" 
                {{ stimulus_action('modal', 'refreshModalWithUrl', 'click', 
                    {   url: path('app_element_constitutif_mccc_versioning', {
                            parcoursVersioning: lastVersion.id,
                            elementConstitutif: ec.id,
                            isFromVersioning: isFromVersioning
                        })                         
                    }) 
                }}
            >
                Comparaison avec la dernière version validée
            </button>
        </div>
    {% elseif ec.deserializedId is defined and ec.deserializedId != null %}
        <div class="col-4">
            <button class="btn btn-sm btn-primary"
                {{ stimulus_action('modal', 'refreshModalWithUrl', 'click', 
                    { url: path('app_element_constitutif_mccc_non_editable', 
                        {id: ec.deserializedId, parcours: parcoursId}
                        ) 
                    }) 
                }}
            >
                Version actuellement saisie
            </button>
        </div>
    {% endif %}
    </div>
{% endif %}