{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    Bonjour {{ user.display }},<br>

    <p>Vos droits sur le parcours : <strong>{{ entity.libelle }} - {{ entity.formation.displayLong }}</strong> ont été
        modifiés. Vous disposez des droits <strong>{{ profil.libelle }}</strong>.</p>

    <p>Vous pouvez maintenant y accéder pour gérer ce parcours en cliquant sur le lien ci-dessous.</p>

    <p><a href="{{ product_url }}" target="_blank">{{ product_url }}</a></p>

    Puis choisir "Connexion URCA" avec vos identifiants habituels.
{% endblock %}
