<table class="table">
    <thead>
    <tr>

        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'nom',
                        'direction': getDirection('nom', sort, direction)
                    }) }}
            >
                Nom
                {{ displaySort('nom', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'prenom',
                        'direction': getDirection('prenom', sort, direction)
                    }) }}
            >
                Prénom
                {{ displaySort('prenom', sort, direction) }}
            </a>
        </th>
        <th>
            <a href="#"
                    {{ stimulus_action('crud', 'sort', 'click', {
                        'sort': 'username',
                        'direction': getDirection('username', sort, direction)
                    }) }}
            >
                Login URCA
                {{ displaySort('username', sort, direction) }}
            </a>
        </th>
        <th>Profil</th>
        <th>Type Centre</th>
        <th>Centre</th>
        <th></th>
    </tr>
    {% if is_granted('ROLE_ADMIN') %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <label for="filter-profil" class="sr-only">Profil</label>
                <select
                        {{ stimulus_action('crud', 'filter', 'change', {
                            'field': 'profil'
                        }) }}
                        id="filter-profil"
                        class="form-select">
                    <option value="">Tous les profils</option>
                    {% for p in profils %}
                        <option value="{{ p.id }}"
                                {% if params['profil'] is defined and params['profil'] == p.id %}selected{% endif %}
                        >{{ p.libelle }}</option>
                    {% endfor %}
                </select>
            </th>
            <th>
                <label for="filter-type-centre" class="sr-only">Type centre</label>
                <select
                        {{ stimulus_action('crud', 'filter', 'change', {
                            'field': 'typeCentre'
                        }) }}
                        id="filter-type-centre"
                        class="form-select">
                    <option value="">Tous</option>
                    {% for c in centres %}
                        {% if c.value != '' %}
                            <option value="{{ c.value }}"
                                    {% if params['typeCentre'] is defined and params['typeCentre'] == c.value %}selected{% endif %}
                            >{{ c.getLibelle() }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </th>
            <th></th>
            <th>
                <button class="btn btn-outline-danger"
                        {{ stimulus_action('crud', 'effaceFiltre', 'click', { }) }}
                >
                    Effacer les filtres
                </button>
            </th>
        </tr>
    {% endif %}
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.user.nom }}</td>
            <td>{{ user.user.prenom }}</td>
            <td>{{ user.user.username }}</td>
            <td>
                {{ user.profil.libelle }}
            </td>
            <td>
                {{ user|badgeTypeCentre }}
            </td>
            <td>
                {{ user|centre }}
            </td>
            <td class="text-end">
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Voir l\'utilisateur',
                            modalUrl: path('app_user_show',{'id': user.user.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-info"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Voir un utilisateur"
                >
                    <i class="{{ iconShow }}"></i>
                    <span> Voir</span>
                </button>
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Gestion des centres de <strong>'~ user.user.display ~'</strong>',
                            modalUrl: path('app_user_profils_gestion',{'user': user.user.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-warning"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Gestion des centres de <strong>{{ user.user.display }}</strong>"
                >
                    <i class="{{ iconEdit }}"></i>
                    <span> Gestion des profils</span>
                </button>
                {% if is_granted('ROLE_ADMIN') %}
                    <button
                            {{ stimulus_controller('modal', {
                                size: 'lg',
                                modalTitle: 'Modifier un utilisateur',
                                modalUrl: path('app_user_edit',{'id': user.user.id}) }) }}
                            data-action="click->modal#openModal"
                            class="btn btn-sm text-warning"
                            data-size="lg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Modifier un utilisateur"
                    >
                        <i class="{{ iconEdit }}"></i>
                        <span> Modifier l'utilisateur</span>
                    </button>
                {% endif %}
            </td>

        </tr>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
