<table class="table table-striped">
    <tr>
        <th colspan="2">Présentation du parcours</th>
    </tr>
    <tr>
        <td>Responsable du parcours</td>
        <td>
            {{ valide.etat.respParcours|badgeValide }}
        </td>
    </tr>
    <tr>
        <td>Objectifs du parcours</td>
        <td>
            {{ valide.etat.objectifsParcours|badgeValide }}
        </td>
    </tr>
    <tr>
        <td>Résultats attendus du parcours</td>
        <td>
            {{ valide.etat.resultatsAttendus|badgeValide }}
        </td>
    </tr>
    <tr>
        <td>Contenu du parcours</td>
        <td>
            {{ valide.etat.contenuParcours|badgeValide }}
        </td>
    </tr>
    <tr>
        <td>Rythme de formation du parcours</td>
        <td>
            {{ valide.etat.rythmeParcours|badgeValide }}
        </td>
    </tr>
    <tr>
        <td>Localisation du parcours</td>
        <td>
            {{ valide.etat.localisation|badgeValide }}
        </td>
    </tr>
    {{ include('parcours_state/_commun.html.twig') }}
</table>
