{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour {{ formation.responsableMention.display }}, {% if formation.coResponsable != null %}{{ formation.coResponsable.display }}, {% endif %}</p>

    <p>Votre {% if hasParcours == true %}
         parcours <strong>{{ parcours.libelle }}</strong> de la formation <strong>{{ formation.displayLong }}</strong> a été refusé
    {% else %}
        formation <strong>{{ formation.displayLong }}</strong> a été refusée
        {% endif %} par le responsable DPE de votre composante.</p>

    <p>Le motif est :</p>

    <p>{{ motif|nl2br|raw }}</p>
{% endblock %}
