{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour {{ formation.responsableMention.display }}, {% if formation.coResponsable != null %}{{ formation.coResponsable.display }}, {% endif %}</p>

    <p>Le DPE de votre composante a émis une ou des réserve(s) ont été émises sur votre formation <strong>{{ formation.displayLong }}</strong>.</p>

    <p>Détail des réserves : </p>

    <p>{{ motif|raw }}</p>

    <p>Vous pouvez modifier votre formation en cliquant sur le lien suivant :</p>

    <p>
        <a href="{{ url('app_formation_edit', {'slug': formation.slug}) }}">{{ url('app_formation_edit', {'slug': formation.slug}) }}</a>
    </p>

    <p>Si les réserves portent sur un parcours, le responsable du parcours peut également procéder à la modification de son parcours.</p>

{% endblock %}
