<tr>
    <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
    <th colspan="2" {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %}>
        <span class="show_versioning d-none">{{ diffUe ? diffUe.display|displayDiff : '' }}</span>
        <span class="show_current"> {{ ue.display }}</span> |
        <span class="show_versioning d-none">{{ diffUe ? diffUe.libelle|displayDiff : '' }}</span>
        <span class="show_current"> {{ ue.ue.libelle }}</span>
        {% if ue.raccroche == true %}<i
                class="fal fa-link"></i>{% endif %}

        {% if ue.ue.natureUeEc is defined and ue.ue.natureUeEc != null and ue.ue.natureUeEc.libre == true %}
            <span class="badge bg-secondary">
            UE à choix libre</span>
        {% endif %}
        {% if ue.uesEnfants|length > 0 %}<span class="badge bg-primary">
            UE à choix restreint : {{ ue.uesEnfants|length }} choix possibles</span>{% endif %}
    </th>
    <th>
        {% if ue.ue.hasBeenEditedManually %}
            <span class="badge bg-warning">Modifié manuellement</span>
        {% endif %}
    </th>
    <th>
        <label for="ue_{{ ue.ue.id }}" class="sr-only">Code Apogée</label>
        <input type="text" id="ue_{{ ue.ue.id }}" name="ue_{{ ue.ue.id }}" value="{{ ue.codeApogee() }}" class="form-control">
    </th>
</tr>
{% if ue.ue.natureUeEc is defined and ue.ue.natureUeEc != null and ue.ue.natureUeEc.libre == true %}

    <tr class="ec">
        <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
        <td {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %} colspan="2">
            {{ ue.ue.descriptionUeLibre }}
        </td>
        <th><input type="text"></th>
    </tr>
{% else %}
{#    {% if ue.uesEnfants|length == 0 %}#}
{#        <tr class="ec">#}
{#            <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>#}
{#            <th {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %}>&nbsp;</th>#}
{#            <th>Fiche EC/Matière</th>#}
{#        </tr>#}
{#    {% endif %}#}


    {% for ordEc, ec in ue.elementConstitutifs %}
        {{ include('typeDiplome/formation/codif/_structureEc.html.twig', {
            ec:ec,
            semestreOrdre:semestreOrdre,
            ecEnfant:false,
            diffEc: diffUe.elementConstitutifs[ordEc] ?? null
        }) }}
        {% for ece in ec.elementsConstitutifsEnfants %}
            {{ include('typeDiplome/formation/codif/_structureEc.html.twig', {
                ec:ece,
                semestreOrdre:semestreOrdre,
                ecEnfant:true,
                diffEc: diffUe.elementConstitutifs[ordEc] ?? null
            }) }}
        {% endfor %}
        {% else %}
                    <tr class="ec">
                        <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
                        <th {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %}>&nbsp;</th>
                        <th colspan="2">
                            <div class="alert alert-info">
                                Pas de fiche matière/EC dans cette UE.
                            </div>
                        </th>
                    </tr>
    {% endfor %}
{% endif %}

{% for ueE in ue.uesEnfants %}
    {{ include('typeDiplome/formation/codif/_structureUe.html.twig', {ue:ueE, enfant: true}) }}
{% endfor %}
