{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour {{ user.display }},</p>

    <p>La CFVU du {{ context.date|date('d/m/Y') }} a refusée la formation <strong>{{ formation.displayLong }}</strong>
        avec les réserves ci-dessous :
    </p>
    <ul>
        {% if context.etatRefus is defined and context.etatRefus  == 'projetRefusDefinitif' %}
            <p>- Projet refusé définitivement. Plus aucune modification n'est possible pour cette campagne. Il est nécessaire d'attendre la campagne de collecte suivante.</p>
        {% endif %}
        {% if context.etatRefus is defined and context.etatRefus  == 'projetARevoir' %}
            <p>- Projet à revoir. Vous pouvez modifier votre formation en cliquant sur le lien suivant :</p>

            <p>
                <a href="{{ url('formation_v2_modifier', {'slug': formation.slug}) }}">{{ url('formation_v2_modifier', {'slug': formation.slug}) }}</a>
            </p>
        {% endif %}
        <p>Commentaire :
            {% if context.motif is defined %}
                {{ context.motif }}.
            {% else %}
                Erreur commentaires modifications
            {% endif %}
        </p>
    </ul>

{% endblock %}
