{% extends 'mails/base_mail.html.twig' %}
{# Template: OK intégré en BDD #}

{% block content %}
    <p>Bonjour {{ user.display }},</p>
    <p>
        La fiche a été refusée par le SES pour
        {% if hasParcours %}
        le parcours <strong>{{ parcours.libelle }}</strong> de la formation <strong>{{ formation.displayLong }}</strong>
    {% else %}
        la formation <strong>{{ formation.displayLong }}</strong>
        {% endif %}.
    </p>
    {% if motif is defined and motif %}
        <p><strong>Motif :</strong><br>{{ motif|nl2br }}</p>
    {% endif %}
{% endblock %}
