{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour {{ user.display }},</p>

    <p>Le parcours <strong>{{ parcours.libelle }}</strong>  de la formation <strong>{{ formation.displayLong }}</strong>, vient d'être soumis par le responsable du parcours.</p>

    <p>Vous pouvez maintenant le valider ou émettre des réserves en cliquant sur le lien suivant :</p>

    <p><a href="{{ url('app_parcours_edit', {'id': parcours.id}) }}">{{ url('app_parcours_edit', {'id': parcours.id}) }}</a></p>

{% endblock %}
