{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    {% if parcours.isParcoursDefaut == true %}
    {% set texteFormation = 'la formation <strong>'~ formation.displayLong ~'</strong>' %}
    {% else %}
    {% set texteFormation = 'le parcours <strong>'~ parcours.libelle ~'</strong> de la formation <strong>'~ formation.displayLong ~'</strong>' %}
    {% endif %}



    <p>Bonjour {{ user.display }},</p>

    {% if context.acceptationDirecte is defined and context.acceptationDirecte  == true %}
        <p>La CFVU du {{ date|date('d/m/Y') }} a validé {{ texteFormation|raw }}.</p>
    {% else %}
        <p>La CFVU du {{ date|date('d/m/Y') }} a validé {{ texteFormation|raw }} avec les réserves ci-dessous :
        </p>
        <ul>
            {# todo: géré au parcours ?? A tester #}
            {% if context.sousReserveConseil is defined and context.sousReserveConseil  == true %}
                <p>- Sous réserve du dépôt du PV du conseil de composante. Vous pouvez retourner sur la fiche
                    descriptive de cette formation ou du parcours (<a
                            href="{{ url('formation_v2_voir', {'slug': formation.slug}) }}">{{ url('formation_v2_voir', {'slug': formation.slug}) }}</a>)
                    et téléverser le PV dans le menu du processus de validation ou vous pouvez déposer un même PV pour
                    un ensemble de formations/parcours en accédant au menu "mes composantes" puis "Processus validation"
                </p>
            {% endif %}
            {% if sousReserveModifications is defined and sousReserveModifications  == true %}
                <p>- Sous réserve des modifications suivantes
                    : {% if argumentaire_sousReserveModifications is defined %}
                        {{ argumentaire_sousReserveModifications }}.

                    {% else %}
                        Erreur commentaires modifications
                    {% endif %}
                </p>
                <p>Vous pouvez modifier votre formation en cliquant sur le lien suivant :</p>

                <p>
                    <a href="{{ url('formation_v2_modifier', {'slug': formation.slug}) }}">{{ url('formation_v2_modifier', {'slug': formation.slug}) }}</a>
                </p>
            {% endif %}
        </ul>

    {% endif %}
{% endblock %}
