{% extends 'mails/base_mail.html.twig' %}
{% block content %}
    <p>Bonjour {{ user.display }},</p>
    <p>
        Validation directe pour publication enregistrée pour
        {% if hasParcours %}
        le parcours <strong>{{ parcours.libelle }}</strong> de la formation <strong>{{ formation.displayLong }}</strong>
    {% else %}
        la formation <strong>{{ formation.displayLong }}</strong>
        {% endif %}.
    </p>
    {% if date is defined and date %}
        <p><strong>Date de publication prévue :</strong> {{ date is not null ? date|date('d/m/Y') : '-erreur date-' }}
        </p>
    {% endif %}
{% endblock %}
