{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    Bonjour {{ user.display }},<br>

    <p>Vous venez d'être ajouté sur l'application {{ product_name }} sur la composante :
        <strong>{{ entity.libelle }}</strong>. Vous
        disposez des droits <strong>{{ profil.libelle }}</strong>.</p>

    <p>Vous pouvez maintenant y accéder pour gérer cette composante en cliquant sur le lien ci-dessous.</p>

    <p><a href="{{ product_url }}" target="_blank">{{ product_url }}</a></p>

    Puis choisir "Connexion URCA" avec vos identifiants habituels.
{% endblock %}
