<h3>Etat du parcours</h3>

<p>Vérification de l'état du parcours {{ objet.libelle }} :
<span class="badge bg-{{ processData.valid == true ? 'success' : 'danger' }}">
{{ processData.valid == true ? "Parcours vérifié complet" : 'Parcours incomplet' }}
</span> </p>
<p>Vous pouvez vérifier l'état ici :
    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'verifier.la.saisie.parcours.title'|trans({}, 'process'),
                modalUrl: path('app_parcours_state', {parcours:objet.id}) }) }}
            data-action="click->modal#openModal"
            class="btn btn-outline-success btn-sm"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="{{ 'verifier.la.saisie.parcours.infobulle'|trans({}, 'process') }}"
    >
        <i class="fas fa-check"></i>
        <span> Vérifier la saisie</span>
    </button>
</p>

<h3>Fiches EC/matières du parcours</h3>
<table class="table">
    <thead>
    <tr>
        <th>Sem. / UE</th>
        <th>Libellé</th>
        <th>Etat de la fiche</th>
        <th>Etat validation ?</th>
        <th>Voir et Valider</th>
    </tr>

    </thead>
    {% for val in processData.validation.fiches %}
        {% if val.fiche != null %}
        <tr>
            <td>{{ val.ec.ue.semestre.display }} {{ val.ec.ue.display(objet) }} </td>
            <td>{{ val.ec.code }}  {{ val.ec.libelle }}</td>
            <td>{{ val.fiche.libelle }}</td>
            <td>
                {{ val.etat|badgeBoolean }}
            </td>
            <td>
{#                {% if val.fiche.etatParcours.valide_parcours_rf is defined %}#}
{#                    <span class="badge bg-success">Validé RF</span>#}
{#                {% else %}#}
{#                    <span class="badge bg-danger">Non validé RF</span>#}
{#                {% endif %}#}
            </td>
            <td>
                <a href="{{ path('app_fiche_matiere_edit', {slug:val.fiche.slug}) }}" class="btn btn-outline-info btn-sm">Voir la fiche EC/matière et valider</a>
            </td>
        </tr>
        {% else %}
            <tr class="bg-warning">
                <td class="text-white">{{ val.ec.ue.semestre.display }} {{ val.ec.ue.display(objet) }} </td>
                <td class="text-white">{{ val.ec.code }} {{ val.ec.libelle }}</td>
                <td class="text-center text-white" colspan="4">EC sans fiche</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
