<h3>Etat de la fiche matière {{ objet.libelle }}</h3>

<p>Vérification de l'état
    <span class="badge bg-{{ processData.valid == true ? 'success' : 'danger' }}">
{{ processData.valid == true ? "Fiche matière vérifiée complete" : 'Fiche matière incomplete' }}
</span></p>

{% set valide = processData.validation.ficheMatiere %}

<table class="table table-striped">
    <tr>
        <th colspan="2">Identité de l'enseignement</th>
    </tr>
    <tr>
        <td>Référent de l'enseignement</td>
        <td>
            {% if objet.responsableFicheMatiere == null %}
                <span class="badge bg-info">Resp. de parcours ou de mention</span>
            {% else %}
                <span class="badge bg-success">Complet</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Libellé de l'enseignement</td>
        <td>
            {{ valide.etat.libelle|badgeValide }}
        </td>
    </tr>
    <tr>
        <td>Libellé de l'enseignement en anglais</td>
        <td>
            {{ valide.etat.libelleAnglais|badgeValide }}
        </td>
    </tr>
    <tr>
        <td>Enseignement mutualisé ?</td>
        <td>
            {{ valide.etat.mutualise|badgeValide }}
        </td>
    </tr>
    <tr>
        <th colspan="2">Présentation</th>
    </tr>
    <tr>
        <td>Description de l'enseignement</td>
        <td>
            {{ valide.etat.description|badgeValide }}
            {{ valide.erreurs.description is defined ? valide.erreurs.description|displayErreurs : '' }}

        </td>
    </tr>
    <tr>
        <td>Langue enseignement dispensé</td>
        <td>
            {{ valide.etat.langueDispense|badgeValide }}
        </td>
    </tr>
    <tr>
        <td>Langue support de cours</td>
        <td>
            {{ valide.etat.langueSupport|badgeValide }}
        </td>
    </tr>
    <tr>
        <th colspan="2">Objectifs</th>
    </tr>
    <tr>
        <td>Objectifs</td>
        <td>
            {{ valide.etat.objectifs|badgeValide }}
            {{ valide.erreurs.objectifs is defined ? valide.erreurs.objectifs|displayErreurs : '' }}
        </td>
    </tr>
</table>
