{{ component('alerte', {
    type: 'info',
    message: ('demande.switch.alerte')|trans({}, 'process')|nl2br|raw
}) }}

<form action="{{ path('app_validation_demande_switch', {parcours:parcours.id}) }}" method="post"
      enctype="multipart/form-data">

    <div class="form-check mt-2">
        <input class="form-check-input" type="radio"
               required value="MODIFICATION_MCCC_TEXTE"
               checked
               disabled
               id="modificationMCCCTexte"
               name="demandeReouverture">
        <label class="form-check-label" for="modificationMCCCTexte">
            <strong>{{ ('demande.reouverture.modification.mccc.texte.label')|trans({}, 'process') }}</strong>
            <i
                    class="fal fa-question-circle ms-1"
                    data-controller="tooltip"
                    data-tooltip-placement-value="bottom"
                    aria-label="{{ ('demande.reouverture.modification.mccc.texte.help')|trans({}, 'process') }}"
                    data-bs-original-title="{{ ('demande.reouverture.modification.mccc.texte.help')|trans({}, 'process') }}"></i>
        </label>
    </div>
    <twig:alerte type="warning"
                 message="Une ouverture avec CFVU implique que la publication des modifications sur les textes se fera à l'issue de la CFVU."/>

    <div>
        <label for="argumentaire_demande_reouverture"
               class="form-label"> {{ ('demande.reouverture.modification.argumentaire.label')|trans({}, 'process') }}
            <span class="required"></span>
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ ('demande.reouverture.modification.argumentaire.help')|trans({}, 'process') }}"
               data-bs-original-title="{{ ('demande.reouverture.modification.argumentaire.help')|trans({}, 'process') }}"></i>
        </label>
        <textarea name="argumentaire_demande_reouverture"
                  class="form-control"
                  required id="argumentaire_demande_reouverture"
                  rows="5"
        >{{ demande.argumentaireDemande }}</textarea>
    </div>


    <div class="mt-2">
        <button type="submit" class="btn btn-success"
                {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
        >
            <i class="fal fa-floppy-disk"></i>
            {{ ('btn.demande.switch.modification')|trans({}, 'process') }}
        </button>
    </div>
</form>
