{{ component('alerte', {
    type: 'warning',
    message: (process.label~'.refuse.alerte')|trans({}, 'process')|nl2br|raw
}) }}


<form action="{{ path('app_validation_refuser_lot', {etape:etape, transition: transition}) }}" method="post">
    <input type="hidden" name="parcours" value="{{ sParcours }}">

    {% if meta.hasDate is defined and meta.hasDate == true %}
        <div>
            <label for="date" class="form-label">{{ ('refuse.'~process.label~'.date.label')|trans({}, 'process') }}
                <span class="required"></span>
                <i class="fal fa-question-circle ms-1"
                   data-controller="tooltip"
                   data-tooltip-placement-value="bottom"
                   aria-label="{{ ('refuse.'~process.label~'.helps.date.help')|trans({}, 'process') }}"
                   data-bs-original-title="{{ ('refuse.'~process.label~'.helps.date.help')|trans({}, 'process') }}">
                </i>
            </label>
            <input type="date" name="date"
                   class="form-control"
                   required
                   id="date"
                   value="{{ 'now'|date('Y-m-d') }}"> {# ou date déjà saisie si édition? #}
        </div>
    {% endif %}

    {% if etape == 'cfvu' or etape == 'soumis_cfvu' %}
        <div class="form-check mt-2">
            <input class="form-check-input" type="radio"
                   name="etatRefus"
                   value="projetARevoir"
                   id="projetARevoir">
            <label class="form-check-label" for="projetARevoir">
                <strong>{{ ('reserve.'~process.label~'.helps.projet.a.revoir.label')|trans({}, 'process') }}</strong> <i
                        class="fal fa-question-circle ms-1"
                        data-controller="tooltip"
                        data-tooltip-placement-value="bottom"
                        aria-label="{{ ('refuse.'~process.label~'.helps.projet.a.revoir.help')|trans({}, 'process') }}"
                        data-bs-original-title="{{ ('refuse.'~process.label~'.helps.projet.a.revoir.help')|trans({}, 'process') }}"></i>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="projetRefusDefinitif" id="projetRefusDefinitif"
                   name="etatRefus">
            <label class="form-check-label" for="projetRefusDefinitif">
                <strong>{{ ('reserve.'~process.label~'.helps.projet.refus.definitif.label')|trans({}, 'process') }}</strong> <i
                        class="fal fa-question-circle ms-1"
                        data-controller="tooltip"
                        data-tooltip-placement-value="bottom"
                        aria-label="{{ ('refuse.'~process.label~'.helps.projet.refus.definitif.help')|trans({}, 'process') }}"
                        data-bs-original-title="{{ ('refuse.'~process.label~'.helps.projet.refus.definitif.help')|trans({}, 'process') }}"></i>
            </label>
        </div>
    {% endif %}

    <div>
        <label for="argumentaire"
               class="form-label">{{ ('refuse.'~process.label~'.argumentaire.label')|trans({}, 'process') }} <span
                    class="required"></span>
            <i class="fal fa-question-circle ms-1"
               data-controller="tooltip"
               data-tooltip-placement-value="bottom"
               aria-label="{{ ('refuse.'~process.label~'.helps.argumentaire.help')|trans({}, 'process') }}"
               data-bs-original-title="{{ ('refuse.'~process.label~'.helps.argumentaire.help')|trans({}, 'process') }}"></i>
        </label>
        <textarea name="argumentaire"
                  class="form-control"
                  required
                  id="argumentaire"
                  rows="5"
        > </textarea>
    </div>

    <div class="mt-2">
        <button type="submit" class="btn btn-success">
            <i class="fal fa-floppy-disk"></i>
            {{ ('btn.'~process.label~'.refuse')|trans({}, 'process') }}
        </button>
    </div>
</form>
