{{ component('alerte', {
    type: 'warning',
    message: (process.label~'.reserve.alerte')|trans({}, 'process')|nl2br|raw
}) }}

<form action="{{ path('app_validation_reserver_fiche', {etape:etape, id:fiche.id}) }}" method="post">
    <div>
        <label for="argumentaire"
               class="form-label">{{ ('reserve.'~process.label~'.argumentaire.label')|trans({}, 'process') }} <span
                    class="required"></span><i class="fal fa-question-circle ms-1"
                                               data-controller="tooltip"
                                               data-tooltip-placement-value="bottom"
                                               aria-label="{{ ('reserve.'~process.label~'.helps.argumentaire.help')|trans({}, 'process') }}"
                                               data-bs-original-title="{{ ('reserve.'~process.label~'.helps.argumentaire.help')|trans({}, 'process') }}"></i></label>
        <textarea name="argumentaire"
                  class="form-control"
                  required
                  id="argumentaire"
                  rows="5"
        > </textarea>
    </div>

    <div class="mt-2">
        <button type="submit" class="btn btn-success"
                {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
                data-action="live#emit"
                data-event="reserve"
        >
            <i class="fal fa-floppy-disk"></i>
            {{ ('btn.'~process.label~'.reserve')|trans({}, 'process') }}
        </button>
    </div>
</form>
