{{ component('alerte', {
    type: 'warning',
    message: (process.label~'.reserve.'~place)|trans({}, 'process')
}) }}

<form action="{{ path('app_validation_reserve', {etape:etape, type:type, id:id}) }}" method="post">
{% if process.hasDate %}
    <div>
        <label for="date" class="form-label">{{ ('reserve.'~process.label~'.date.label')|trans({}, 'process') }} <span class="required"></span> <i class="fal fa-question-circle ms-1"
                                  data-controller="tooltip"
                                  data-tooltip-placement-value="bottom"
                                  aria-label="{{ ('reserve.'~process.label~'.helps.date.help')|trans({}, 'process') }}"
                                  data-bs-original-title="{{ ('reserve.'~process.label~'.helps.date.help')|trans({}, 'process') }}"></i></label>
        <input type="date" name="date"
               class="form-control"
               required
               id="date"
               value="{{ 'now'|date('Y-m-d') }}"> {# ou date déjà saisie si édition? #}
    </div>
{% endif %}

<div>
    <label for="argumentaire" class="form-label">{{ ('reserve.'~process.label~'.argumentaire.label')|trans({}, 'process') }} <span class="required"></span><i class="fal fa-question-circle ms-1"
                                              data-controller="tooltip"
                                              data-tooltip-placement-value="bottom"
                                              aria-label="{{ ('reserve.'~process.label~'.helps.date.help')|trans({}, 'process') }}"
                                              data-bs-original-title="{{ ('reserve.'~process.label~'.helps.date.help')|trans({}, 'process') }}"></i></label>
    <textarea name="argumentaire"
              class="form-control"
              required
              id="argumentaire"
              rows="5"
    > </textarea>
</div>

{% if process.hasReserve is iterable %}
    {% for cas in process.hasReserve %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="{{ cas }}">
            <label class="form-check-label" for="{{ cas }}">
                {{ ('reserve.'~process.label~'.helps.'~cas~'.'~place~'.label')|trans({}, 'process')}} <i
                        class="fal fa-question-circle ms-1"
                        data-controller="tooltip"
                        data-tooltip-placement-value="bottom"
                        aria-label="{{ ('reserve.'~process.label~'.helps.'~cas~'.'~place~'.help')|trans({}, 'process') }}"
                        data-bs-original-title="{{ ('reserve.'~process.label~'.helps.'~cas~'.'~place~'.help')|trans({}, 'process') }}"></i>
            </label>
        </div>
        <div>
            <label for="argumentaire_{{ cas }}" class="form-label"> {{ (process.label~'.reserve.commentaire.cas.'~cas~'.'~place)|trans({}, 'process') }} <span class="required"></span>
                <i class="fal fa-question-circle ms-1"
                   data-controller="tooltip"
                   data-tooltip-placement-value="bottom"
                   aria-label="{{ (process.label~'.reserve.helps.commentaire.cas.'~cas~'.'~place)|trans({}, 'process') }}"
                   data-bs-original-title="{{ (process.label~'.reserve.helps.commentaire.cas.'~cas~'.'~place)|trans({}, 'process') }}"></i>
            </label>
            <textarea name="argumentaire_{{ cas }}"
                      class="form-control"
                      required
                      id="argumentaire_{{ cas }}"
                      rows="5"
            > </textarea>
        </div>
    {% endfor %}
{% endif %}

<div class="mt-2">
    <button type="submit" class="btn btn-success"
            {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
            data-action="live#emit"
            data-event="reserve"
    >
        <i class="fal fa-floppy-disk"></i>
        {{ ('btn.'~process.label~'.reserve.'~place)|trans({}, 'process') }}
    </button>
</div>
</form>
