{{ component('alerte', {
    type: 'info',
    message: (process.label~'.valide.fiche.alerte')|trans({}, 'process')|nl2br|raw
}) }}

<form action="{{ path('app_validation_valider_fiche', {etape:etape, id:fiche.id}) }}" method="post"
      enctype="multipart/form-data">


    {% if process.check is defined and process.check == true %}
        {{ include('process_validation/_checkFiche_matiere.html.twig', {objet:fiche}) }}
    {% endif %}


    {% if (process.check is defined and process.check == true) %}
        {% if processData.valid == true %}
            <div class="mt-2">
                <button type="submit" class="btn btn-success"
                        {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
                        data-action="live#emit"
                        data-event="valide"
                >
                    <i class="fal fa-floppy-disk"></i>
                    {{ ('btn.'~process.label~'.valide.'~processData.placeTexte)|trans({}, 'process') }}
                </button>
            </div>
        {% else %}
            {{ component('alerte', {
                type: 'danger',
                message: (process.label~'.valide.impossible.'~processData.placeTexte)|trans({}, 'process')
            }) }}
        {% endif %}
    {% else %}
        <div class="mt-2">
            <button type="submit" class="btn btn-success"
                    {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
                    data-action="live#emit"
                    data-event="valide"
            >
                <i class="fal fa-floppy-disk"></i>
                {{ ('btn.'~process.label~'.valide')|trans({}, 'process') }}
            </button>
        </div>
    {% endif %}
</form>
