<div {{ stimulus_controller('mccc--but') }}>
    {% if ec.ficheMatiere.typeMatiere == 'sae' %}
        {{ include('typeDiplome/mccc/but/_sae.html.twig') }}
    {% elseif ec.ficheMatiere.typeMatiere == 'ressource' %}
        {{ include('typeDiplome/mccc/but/_ressource.html.twig') }}
    {% else %}
        {{ component('Alerte', {
            'type': 'danger',
            'message': 'Le type de matière n\'est pas reconnu.'
        }) }}
    {% endif %}
    <div {{ stimulus_target('mccc--but', 'erreur') }} id="erreur" class="mt-2">

    </div>
</div>
