<div class="mb-2">
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" id="sansNote" name="sansNote"
               {% if ficheMatiere.sansNote == true %}checked{% endif %}
        >
        <label class="form-check-label" for="sansNote"> {{ 'mccc.but.labels.sansNote'|trans({}, 'form') }} <i
                    class="fal fa-question-circle ms-1" data-controller="tooltip" data-tooltip-placement-value="bottom"
                    title="{{ 'mccc.but.helps.sansNote'|trans({}, 'help') }}"></i></label>
    </div>

    <div {{ stimulus_controller('mccc--but') }}>
        {% if ficheMatiere.typeMatiere == 'sae' %}
            {{ include('typeDiplome/mccc/but/_sae.html.twig') }}
        {% elseif ficheMatiere.typeMatiere == 'ressource' %}
            {{ include('typeDiplome/mccc/but/_ressource.html.twig') }}
        {% else %}
            {{ component('alerte', {
                'type': 'danger',
                'message': 'Le type de matière n\'est pas reconnu.'
            }) }}
        {% endif %}
        <div {{ stimulus_target('mccc--but', 'erreur') }} id="erreur" class="mt-2">

        </div>
    </div>
</div>
