<div {{ stimulus_controller('mccc--licence', {
    url: path('type_diplome_licence_change', {elementConstitutif:ec.id, parcours: parcours.id}),
    typeMccc: typeMccc,
    afficheMccc: ec.controleAssiduite == false
}) }}
        data-action="ec--mccc:update-form@window->mccc--licence#updateForm">
    {% set disabled = raccroche or isMcccImpose or ec.controleAssiduite == true %}
    <label for="choix_type_mccc" class="form-label">{{ 'mccc_licence.labels.choix_type_mccc.label'|trans({},
            'form') }}
        <i class="fal fa-question-circle ms-1"
           data-controller="tooltip"
           data-tooltip-placement-value="bottom"
           aria-label="{{ 'mccc_licence.helps.choix_type_mccc.help'|trans({}, 'help') }}"
           data-bs-original-title="{{ 'mccc_licence.helps.choix_type_mccc.help'|trans({}, 'help') }}"></i>
    </label>
    <select id="choix_type_mccc" name="choix_type_mccc" class="form-select synchro-mccc"
            {{ stimulus_action('mccc--licence', 'changeType') }}
            {% if disabled %}disabled{% endif %}
    >
        <option value="">{{ 'mccc_licence.placeholder.label'|trans({}, 'form') }}</option>
        <option value="ct" {% if typeMccc == 'ct'  %}selected{% endif %}>
            {{ 'mccc_licence.ct.label'|trans({},'form') }}
        </option>
        <option value="cc_ct" {% if typeMccc == 'cc_ct' %}selected{% endif %}>
            {{ 'mccc_licence.cc_ct.label'|trans({}, 'form') }}
        </option>
        <option value="cc" {% if typeMccc == 'cc' %}selected{% endif %}>
            {{ 'mccc_licence.cc.label'|trans({}, 'form') }}
        </option>
        <option value="cci" {% if typeMccc == 'cci' %}selected{% endif %}>
            {{ 'mccc_licence.cci.label'|trans({}, 'form') }}
        </option>
    </select>

    <div {{ stimulus_target('mccc--licence', 'zone') }} class="mt-2"></div>

</div>
