<div class="col">
    <section class="scroll-section" id="identite_formation">
        <h3 class="small-title">Identité de la formation </h3>
        <div class="card mb-5">
            <div class="card-body">
                {{ component('commentaire', {
                    commentaires: formation.commentaires,
                    id: formation.id,
                    type: 'formation',
                    zone: 'identite_formation',
                }) }}
                {{ include('typeDiplome/formation/_identiteFormation.html.twig') }}
            </div>
        </div>
    </section>

    <section class="scroll-section" id="localisation">
        <h3 class="small-title">Localisation</h3>
        <div class="card mb-5">
            <div class="card-body">
                {{ component('commentaire', {
                    commentaires: formation.commentaires,
                    id: formation.id,
                    type: 'formation',
                    zone: 'localisation',
                }) }}
                {{ include('typeDiplome/formation/_localisation.html.twig') }}
            </div>
        </div>
    </section>


    {% if formation.isHasParcours == false and formation.parcours|length == 1 %}
        <section class="scroll-section" id="presentation">
            <h3 class="small-title">Présentation</h3>
            <div class="card mb-5">
                <div class="card-body">
                    {{ component('commentaire', {
                        commentaires: formation.commentaires,
                        id: formation.id,
                        type: 'formation',
                        zone: 'presentation',
                    }) }}
                    {{ include('typeDiplome/formation/_presentationFormation.html.twig', {hasParcours:true}) }}
                </div>
            </div>
        </section>
        {% set dto = tParcours[formation.parcours[0].id] %}

        <section class="scroll-section" id="descriptif">
            <h3 class="small-title">Descriptif</h3>
            <div class="card mb-5">
                <div class="card-body">
                    {{ component('commentaire', {
                        commentaires: formation.commentaires,
                        id: formation.id,
                        type: 'formation',
                        zone: 'descriptif',
                    }) }}
                    {{ include('typeDiplome/formation/_descriptif.html.twig', {parcours:formation.parcours[0]}) }}
                </div>
            </div>
        </section>

        <section class="scroll-section" id="competences">
            <h3 class="small-title">Compétences acquises</h3>
            <div class="card mb-5">
                <div class="card-body">
                    {{ component('commentaire', {
                        commentaires: formation.commentaires,
                        id: formation.id,
                        type: 'formation',
                        zone: 'competences',
                    }) }}
                    {{ include('typeDiplome/formation/_competences_but.html.twig', {parcours:formation.parcours[0]}) }}
                </div>
            </div>
        </section>

        <section class="scroll-section" id="structure">
            <h3 class="small-title">Structure</h3>
            <div class="card mb-5">
                <div class="card-body">
                    {{ component('commentaire', {
                        commentaires: formation.commentaires,
                        id: formation.id,
                        type: 'formation',
                        zone: 'structure',
                    }) }}
                    {{ include('typeDiplome/formation/_structure_but.html.twig', {parcours:formation.parcours[0], dto: dto}) }}
                </div>
            </div>
        </section>

        <section class="scroll-section" id="admission">
            <h3 class="small-title">Admission</h3>
            <div class="card mb-5">
                <div class="card-body">
                    {{ component('commentaire', {
                        commentaires: formation.commentaires,
                        id: formation.id,
                        type: 'formation',
                        zone: 'admission',
                    }) }}
                    {{ include('typeDiplome/formation/_admission.html.twig', {parcours:formation.parcours[0]}) }}

                </div>
            </div>
        </section>

        <section class="scroll-section" id="et_apres">
            <h3 class="small-title">Et après ?</h3>
            <div class="card mb-5">
                <div class="card-body">
                    {{ component('commentaire', {
                        commentaires: formation.commentaires,
                        id: formation.id,
                        type: 'formation',
                        zone: 'et_apres',
                    }) }}
                    {{ include('typeDiplome/formation/_etApres.html.twig', {parcours:formation.parcours[0]}) }}

                </div>
            </div>
        </section>

        <section class="scroll-section" id="contacts">
            <h3 class="small-title">Contacts pédagogiques</h3>
            <div class="card mb-5">
                <div class="card-body">
                    {{ component('commentaire', {
                        commentaires: formation.commentaires,
                        id: formation.id,
                        type: 'formation',
                        zone: 'contacts',
                    }) }}
                    {{ include('typeDiplome/formation/_contacts.html.twig', {parcours:formation.parcours[0]}) }}

                </div>
            </div>
        </section>

    {% else %}
        <section class="scroll-section" id="presentation">
            <h3 class="small-title">Présentation</h3>
            <div class="card mb-5">
                <div class="card-body">
                    {{ component('commentaire', {
                        commentaires: formation.commentaires,
                        id: formation.id,
                        type: 'formation',
                        zone: 'presentation',
                    }) }}
                    {{ include('typeDiplome/formation/_presentationFormation.html.twig', {hasParcours:true}) }}
                </div>
            </div>
        </section>
        {% for parcours in formation.parcours|filter(parcours => tParcours[parcours.id] is defined) %}
            {% set dto = tParcours[parcours.id] %}
            <div>
                <h2>Parcours {{ parcours.libelle }}</h2>
            </div>

            <div class="border-left-parcours border-left-parcours-{{ loop.index }} ">
                <section class="scroll-section" id="presentation_{{ parcours.id }}">
                    <h3 class="small-title">Présentation</h3>
                    <div class="card mb-5">
                        <div class="card-body">
                            {{ component('commentaire', {
                                commentaires: parcours.commentaires,
                                id: parcours.id,
                                type: 'parcours',
                                zone: 'presentation_'~ parcours.id,
                            }) }}
                            {{ include('typeDiplome/formation/_presentationParcours.html.twig', {
                                    parcours:parcours,
                                    stringDifferencesParcours: versioningParcours.getDifferencesBetweenParcoursAndLastVersion(parcours) ?? [] 
                                }) 
                            }}

                        </div>
                    </div>
                </section>

                <section class="scroll-section" id="descriptif_{{ parcours.id }}">
                    <h3 class="small-title">Descriptif de la formation</h3>
                    <div class="card mb-5">
                        <div class="card-body">
                            {{ component('commentaire', {
                                commentaires: parcours.commentaires,
                                id: parcours.id,
                                type: 'parcours',
                                zone: 'descriptif_'~ parcours.id,
                            }) }}
                            {{ include('typeDiplome/formation/_descriptif.html.twig', {
                                    parcours:parcours,
                                    stringDifferencesParcours: versioningParcours.getDifferencesBetweenParcoursAndLastVersion(parcours) ?? []
                                }) 
                            }}
                        </div>
                    </div>
                </section>

                <section class="scroll-section" id="localisation_{{ parcours.id }}">
                    <h3 class="small-title">Localisation</h3>
                    <div class="card mb-5">
                        <div class="card-body">
                            {{ component('commentaire', {
                                commentaires: parcours.commentaires,
                                id: parcours.id,
                                type: 'parcours',
                                zone: 'localisation_'~ parcours.id,
                            }) }}
                            {{ include('typeDiplome/formation/_localisationParcours.html.twig', {
                                    parcours:parcours,
                                    stringDifferencesParcours: versioningParcours.getDifferencesBetweenParcoursAndLastVersion(parcours) ?? []
                                })
                            }}
                        </div>
                    </div>
                </section>

                <section class="scroll-section" id="competences_{{ parcours.id }}">
                    <h3 class="small-title">Compétences Acquises</h3>
                    <div class="card mb-5">
                        <div class="card-body">
                            {{ component('commentaire', {
                                commentaires: parcours.commentaires,
                                id: parcours.id,
                                type: 'parcours',
                                zone: 'competences_'~ parcours.id,
                            }) }}
                            {{ include('typeDiplome/formation/_competences_but.html.twig', {parcours:parcours}) }}

                        </div>
                    </div>
                </section>

                <section class="scroll-section" id="structure_{{ parcours.id }}">
                    <h3 class="small-title">Structure</h3>
                    <div class="card mb-5">
                        <div class="card-body">
                            {{ component('commentaire', {
                                commentaires: parcours.commentaires,
                                id: parcours.id,
                                type: 'parcours',
                                zone: 'structure_'~ parcours.id,
                            }) }}
                            {{ include('typeDiplome/formation/_structure_but.html.twig', {parcours:parcours, dto:dto}) }}
                        </div>
                    </div>
                </section>

                <section class="scroll-section" id="admission_{{ parcours.id }}">
                    <h3 class="small-title">Admission</h3>
                    <div class="card mb-5">
                        <div class="card-body">
                            {{ component('commentaire', {
                                commentaires: parcours.commentaires,
                                id: parcours.id,
                                type: 'parcours',
                                zone: 'admission_'~ parcours.id,
                            }) }}
                            {{ include('typeDiplome/formation/_admission.html.twig', {parcours:parcours}) }}
                        </div>
                    </div>
                </section>

                <section class="scroll-section" id="inscription_{{ parcours.id }}">
                    <h3 class="small-title">Inscription</h3>
                    <div class="card mb-5">
                        <div class="card-body">
                            {{ component('commentaire', {
                                commentaires: parcours.commentaires,
                                id: parcours.id,
                                type: 'parcours',
                                zone: 'inscription_'~ parcours.id,
                            }) }}
                            {{ include('typeDiplome/formation/_inscription.html.twig', {parcours:parcours}) }}
                        </div>
                    </div>
                </section>

                <section class="scroll-section" id="et_apres_{{ parcours.id }}">
                    <h3 class="small-title"> Et après...</h3>
                    <div class="card mb-5">
                        <div class="card-body">
                            {{ component('commentaire', {
                                commentaires: parcours.commentaires,
                                id: parcours.id,
                                type: 'parcours',
                                zone: 'et_apres_'~ parcours.id,
                            }) }}
                            {{ include('typeDiplome/formation/_etApres.html.twig', {parcours:parcours}) }}
                        </div>
                    </div>
                </section>

                <section class="scroll-section" id="contacts_{{ parcours.id }}">
                    <h3 class="small-title">Contacts pédagogiques</h3>
                    <div class="card mb-5">
                        <div class="card-body">
                            {{ component('commentaire', {
                                commentaires: parcours.commentaires,
                                id: parcours.id,
                                type: 'parcours',
                                zone: 'contacts_'~ parcours.id,
                            }) }}
                            {{ include('typeDiplome/formation/_contacts.html.twig', 
                                    {
                                        parcours:parcours,
                                        stringDifferencesParcours: versioningParcours.getDifferencesBetweenParcoursAndLastVersion(parcours) ?? []
                                    }    
                                ) 
                            }}
                        </div>
                    </div>
                </section>
            </div>
        {% endfor %}
    {% endif %}
</div>
