<!DOCTYPE html>
<html lang="fr" data-footer="true">
<head>
    <meta charset="UTF-8">
    <title>{{ block('header')|striptags }} - {{ product_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <script>
          let toasts = {{ app.session.flashbag.get('toast')|json_encode|raw }};
        </script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<!-- Content Container Start -->
<div id="root">

    <!-- Nav Content Start -->
    <div id="nav" class="nav-container d-flex">
        <div class="nav-content d-flex">
            <!-- Logo Start -->
            <div class="logo-univ">
                <img src="{{ asset('images/logo_urca_quadri.png') }}"
                     alt="Logo de l'URCA"
                     width="75px"/>
            </div>
            <div class="logo position-relative">
                <a href="{{ path('app_homepage') }}">

                    <div class="logo-but">
                        <i class="fa-duotone fa-pencil-ruler" style="--fa-primary-color: var(--complementaire);
"></i>&nbsp;{{ product_name }}
                        {% if is_granted('ROLE_ADMIN') %} / Adm.
                        {% else %}
                            {% if is_granted('ROLE_SES') %} / SES.
                            {% endif %}
                        {% endif %}
                    </div>
                </a>

            </div>
            <!-- Logo End -->

            <!-- Notifications -->
            {{ component('notifications', {
                user: app.user,
                formation: formation is defined ? formation : null,
                parcours: parcours is defined ? parcours : null,
            }) }}


            <!-- Language Switch Start -->
            {{ component('switch_dpe') }}
            <!-- Language Switch End -->


            <!-- User Menu Start -->
            <div class="user-container d-flex">
                <a href="#" class="d-flex user position-relative" data-bs-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <div class="name d-md-none">
                        {{ app.user.display }}
                    </div>
                    {{ include('communs/_avatar.html.twig', {user:app.user, size:'sm'}) }}
                </a>
                <div class="dropdown-menu dropdown-menu-end user-menu wide">
                    <div class="row mb-3 ms-0 me-0">
                        <div class="col-12 ps-1 mb-2">
                            <div class="text-extra-small text-primary">COMPTE</div>
                        </div>
                        <div class="col-12 ps-1 pe-1">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('app_user_mes_informations') }}">Mes informations</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_user_mes_notifications') }}">Mes notifications</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-1 ms-0 me-0">
                        <div class="col-12 p-1 mb-2 pt-2">
                            <div class="text-extra-small text-primary">ACCÈS</div>
                        </div>
                        <div class="col-12 ps-1 pe-1">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Menu End -->

            <!-- Menu Start -->
            <div class="menu-container flex-grow-1">
                <ul id="menu" class="menu">
                    <li>
                        <a href="{{ path('app_homepage') }}">
                            <i class="fal fa-home icon"></i>
                            <span class="label">Tableau de bord</span>
                        </a>
                    </li>

                    {% if (is_granted('CAN_ETABLISSEMENT_CONSEILLER_ALL', app.user)) and not is_granted('ROLE_ADMIN') and not is_granted('ROLE_SES') %}
                        <li>
                            <a href="{{ path('app_export_cfvu') }}" data-href="exports">
                                <i class="fal fa-chalkboard-user icon"></i>
                                <span class="label">Exports</span>
                            </a>
                        </li>
                        <li>
                            <a href="#outils_cfvu" data-href="outils_cfvu">
                                <i class="fal fa-chalkboard-user icon"></i>
                                <span class="label">Outils conseil</span>
                            </a>
                            <ul id="outils_cfvu">
                                <li>
                                    <a href="{{ path('app_formation_responsable_liste') }}">
                                        <i class="fal fa-book icon"></i>
                                        <span class="label">Changement RF/CO-RF</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_synthese_modification_export_pdf') }}">
                                        <i class="fal fa-book icon"></i>
                                        <span class="label">Synthèse Modifications</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="#offre_formation" data-href="offre_formation">
                                <i class="fal fa-chalkboard-user icon"></i>
                                <span class="label">Offre de formation</span>
                            </a>
                            <ul id="offre_formation">
                                <li>
                                    <a href="{{ path('app_formation_index') }}">
                                        <i class="fal fa-book icon"></i>
                                        <span class="label">Détail des mentions/spécialités</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('structure_fiche_matiere_index') }}">
                                        <i class="fal fa-person-chalkboard icon"></i>
                                        <span class="label">Détail des fiches EC/matière</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('structure_fiche_matiere_index', {type:'hd'}) }}">
                                        <i class="fal fa-person-chalkboard icon"></i>
                                        <span class="label">Fiches EC/matière "hors diplôme"</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_mutualise_index') }}">
                                        <i class="fal fa-share-nodes icon"></i>
                                        <span class="label">Détail des éléments mutualisés</span>
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('app_search') }}">
                                            <i class="fal fa-magnifying-glass icon"></i>
                                            <span class="label">Effectuer une recherche</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if (is_granted('CAN_ETABLISSEMENT_SHOW_ALL')) and not is_granted('ROLE_ADMIN') and not is_granted('ROLE_SES') %}
                            <li>
                                <a href="{{ path('app_export_show') }}" data-href="exports">
                                    <i class="fal fa-chalkboard-user icon"></i>
                                    <span class="label">Exports</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if is_granted('ROLE_SES') or is_granted('CAN_ETABLISSEMENT_SCOLARITE_ALL') %}
                        <li>
                            <a href="#gestion_offre_formation" data-href="gestion_offre_formation">
                                <i class="fal fa-school icon"></i>
                                <span class="label">Gestion de l'offre</span>
                            </a>
                            <ul id="gestion_offre_formation">
                                <li>
                                    <a href="{{ path('structure_composante_index') }}">
                                        <i class="fal fa-book icon"></i>
                                        <span class="label">Consulter l'offre de formation</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path('app_export_index') }}">
                                        <i class="fal fa-download icon"></i>
                                        <span class="label">Export de fichier</span>
                                    </a>
                                </li>
                                {% if is_granted('ROLE_SES') %}
                                    <li>
                                        <a href="{{ path('app_demande_dpe') }}">
                                            <i class="fal fa-person-chalkboard icon"></i>
                                            <span class="label">Demandes DPE</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_validation_index') }}">
                                            <i class="fal fa-person-chalkboard icon"></i>
                                            <span class="label">Validations</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('app_codification_liste') }}">
                                        <i class="fal fa-file-binary icon"></i>
                                        <span class="label">Codification</span>
                                    </a>
                                </li>
                                {% if is_granted('ROLE_SES') %}
                                <li>
                                    <a href="{{ path('app_synthese_modification_export_pdf') }}">
                                        <i class="fal fa-book icon"></i>
                                        <span class="label">Synthèse Modifications</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="mega">
                            <a href="#administration" data-href="administration">
                                <i class="fal fa-wrench icon"></i>
                                <span class="label">Administration</span>
                            </a>
                            <ul id="administration">
                                <li>
                                    <a href="#structure">
                                        <span class="label">Structure de l'établissement</span>
                                    </a>
                                    <ul id="structure">
                                        <li>
                                            <a href="{{ path('app_campagne_collecte_index') }}">
                                                <span class="label">Campagne Collecte</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_composante_index') }}">
                                                <span class="label">Composantes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_ville_index') }}">
                                                <span class="label">Villes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_etablissement_index') }}">
                                                <span class="label">Etablissement</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_actualite_index') }}">
                                                <span class="label">Actualités ORéOF</span>
                                            </a>
                                        </li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li>
                                                <a href="{{ path('app_composante_list_for_cfvu') }}">
                                                    <span class="label">
                                                        Synthèse par composante
                                                    </span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>

                                <li>
                                    <a href="#struct_formation">
                                        <span class="label">Structure de formation</span>
                                    </a>
                                    <ul id="struct_formation">
                                        <li>
                                            <a href="{{ path('app_mention_index') }}">
                                                <span class="label">Mentions</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_domaine_index') }}">
                                                <span class="label">Domaines</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_type_ue_index') }}">
                                                <span class="label">Type d'UE</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_type_ec_index') }}">
                                                <span class="label">Type d'EC</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_nature_ue_ec_index') }}">
                                                <span class="label">Nature des UE/EC</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('app_type_epreuve_index') }}">
                                                <span class="label">Type d'épreuve</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#utilisateurs">
                                        <span class="label">Utilisateurs et droits</span>
                                    </a>
                                    <ul id="utilisateurs">
                                        <li>
                                            <a href="{{ path('app_user_attente') }}">
                                                <span class="label">Utilisateurs en attente</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_user_index') }}">
                                                <span class="label">Utilisateurs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_droits_access') }}">
                                                <span class="label">Droits d'accès et rôles</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#configuration">
                                        <span class="label">Configuration</span>
                                    </a>
                                    <ul id="configuration">
                                        <li>
                                            <a href="{{ path('app_notication_liste') }}">
                                                <span class="label">Notifications et mails</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_annee_universitaire_index') }}">
                                                <span class="label">Année Universitaire</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_langue_index') }}">
                                                <span class="label">Langues</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_type_diplome_index') }}">
                                                <span class="label">Type de diplôme</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_rythme_formation_index') }}">
                                                <span class="label">Rythmes de formation</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% elseif is_granted('ROLE_SES') %}
                        <li class="mega">
                            <a href="#administration" data-href="administration">
                                <i class="fal fa-wrench icon"></i>
                                <span class="label">Administration</span>
                            </a>
                            <ul id="administration">
                                <li>
                                    <a href="#structure">
                                        <span class="label">Structure de l'établissement</span>
                                    </a>
                                    <ul id="structure">
                                        <li>
                                            <a href="{{ path('app_composante_index') }}">
                                                <span class="label">Composantes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_ville_index') }}">
                                                <span class="label">Villes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_etablissement_index') }}">
                                                <span class="label">Etablissement</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#struct_formation">
                                        <span class="label">Structure de formation</span>
                                    </a>
                                    <ul id="struct_formation">
                                        <li>
                                            <a href="{{ path('app_mention_index') }}">
                                                <span class="label">Mentions</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#utilisateurs">
                                        <span class="label">Utilisateurs et droits</span>
                                    </a>
                                    <ul id="utilisateurs">
                                        <li>
                                            <a href="{{ path('app_user_attente') }}">
                                                <span class="label">Utilisateurs en attente</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_user_index') }}">
                                                <span class="label">Utilisateurs</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% elseif is_granted('CAN_COMPOSANTE_MANAGE_MY', app.user) or is_granted('CAN_COMPOSANTE_SCOLARITE_MY', app.user) %}
                        <li class="mega">
                            <a href="#administration" data-href="administration">
                                <i class="fal fa-wrench icon"></i>
                                <span class="label">Mes composantes</span>
                            </a>
                            <ul id="administration">
                                <li>
                                    <a href="#utilisateurs">
                                        <span class="label">Utilisateurs et droits</span>
                                    </a>
                                    <ul id="utilisateurs">
                                        <li>
                                            <a href="{{ path('app_user_attente') }}">
                                                <span class="label">Utilisateurs en attente</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_user_index') }}">
                                                <span class="label">Utilisateurs</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#scolarite">
                                        <span class="label">Scolarité</span>
                                    </a>
                                    <ul id="scolarite">
                                        <li>
                                            <a href="{{ path('app_codification_liste') }}">
                                                <span class="label">Codification</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                {% for composante in app.user.composanteResponsableDpe %}
                                    {% if is_granted('CAN_COMPOSANTE_VALIDATE_MY', composante) %}
                                        <li>
                                            <a href="#utilisateurs">
                                                <span class="label">{{ composante.libelle }}</span>
                                            </a>
                                            <ul id="utilisateurs">
                                                <li>
                                                    <a href="{{ path('app_composante', {composante:composante.id}) }}">
                                                        <span class="label">Détails de la composante</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_composante_campagne_collecte', {composante:composante.id}) }}">
                                                        <span class="label">Campagne de collecte</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_validation_composante_index', {composante:composante.id}) }}">
                                                        <span class="label">Processus validation</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_export_composante_index', {composante:composante.id}) }}">
                                                        <span class="label">Export</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('CAN_COMPOSANTE_SHOW_MY', app.user) %}
                    <li>
                        <a href="#gestion_offre_formation" data-href="gestion_offre_formation">
                            <i class="fal fa-book icon"></i>
                            <span class="label">Communication</span>
                        </a>
                        <ul id="gestion_offre_formation">
                            <li>
                                <a href="{{ path('app_plaquette') }}">
                                    <i class="fal fa-random icon"></i>
                                    <span class="label">Configurer les plaquettes</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- Menu End -->

            <!-- Mobile Buttons Start -->
            <div class="mobile-buttons-container">
                <!-- Scrollspy Mobile Button Start -->
                <a href="#" id="scrollSpyButton" class="spy-button" data-bs-toggle="dropdown">
                    <i class="fal fa-chevron-right"></i>
                </a>
                <!-- Scrollspy Mobile Button End -->

                <!-- Scrollspy Mobile Dropdown Start -->
                <div class="dropdown-menu dropdown-menu-end" id="scrollSpyDropdown"></div>
                <!-- Scrollspy Mobile Dropdown End -->

                <!-- Menu Button Start -->
                <a href="#" id="mobileMenuButton" class="menu-button">
                    <i class="fal fa-bars"></i>
                </a>
                <!-- Menu Button End -->
            </div>
            <!-- Mobile Buttons End -->
        </div>
        <div class="nav-shadow"></div>
    </div>
    <!-- Nav Content End -->

    <!-- Main Content Start -->

    <!-- Title and Top Buttons Start -->
    <div class="page-title-container fixed-title-container">
        <div class="row">
            <!-- Title Start -->
            <div class="col-12 col-sm-6">
                <h1 class="mb-0 pb-0 display-4" id="title">{% block header %}{% endblock %}</h1>
                <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                    {% block breadcrumb %}

                    {% endblock %}
                </nav>
            </div>
            <!-- Title End -->

            <!-- Top Buttons Start -->
            <div class="col-12 col-sm-6 d-flex align-items-start justify-content-end">
                <!-- Tour Button Start -->
                {% block bouton_header %}

                {% endblock %}
                <!-- Tour Button End -->
            </div>
            <!-- Top Buttons End -->
        </div>
    </div>

    {#            <button #}
    {#                    {{ stimulus_controller('modal', { #}
    {#                        size: 'large', #}
    {#                        modalTitle: 'Ajouter un domaine', #}
    {#                        right: true, #}
    {#                        modalUrl: path('app_domaine_new') }) }} #}
    {#                    data-action="click->modal#openModal" #}
    {#                    class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2" #}
    {#                    data-size="lg" #}
    {#                    data-bs-toggle="tooltip" #}
    {#                    data-bs-placement="bottom" #}
    {#                    title="Ajouter un domaine" #}
    {#            > #}
    {#                <i class="{{ iconAdd }}"></i> #}
    {#                <span> Ajouter un domaine</span> #}
    {#            </button> #}
    <main>
        <!-- messages flash -->
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="toast position-fixed align-items-center top-0 end-0 m-3 bg-{{ label }} border-0" style="z-index:
                2000">
                    <div class="d-flex">
                        <div class="toast-body">
                            <p class="text-white"> {{ message }}</p>
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        <!-- fin messages flash -->
        <div class="container">
            <!-- Title and Top Buttons End -->
            {% block content %}

            {% endblock %}
        </div>
    </main>
    <!-- Main Content End -->

    <!-- Footer Content Start -->
    <footer>
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6">

                        <ul class="breadcrumb pt-0 pe-0 mb-0">
                            <li class="breadcrumb-item mb-0 text-medium">
                                <p class="mb-0 text-muted text-medium">&copy; 2023 David Annebicque // Emeline
                                    Lang-Lannoy -
                                    version {{ user_data.version }}</p>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="{{ asset('docs/guide.pdf') }}" target="_blank" class="btn-link">Docs</a>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="#" class="btn-link" data-bs-toggle="modal"
                                   data-bs-target="#modalUsageDonnees">Usage des données</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Modal -->
                    <div
                            class="modal fade modal-close-out"
                            id="modalUsageDonnees"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="examplemodalUsageDonnees"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="examplemodalUsageDonnees">Usage des données</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fal fa-close fa-2x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Ce site n'enregistre aucune donnée sur votre utilisation de l'outil.</p>
                                    <p>Un seul cookie est utilisé permettant de gérer la connexion.</p>
                                    <p>Les données présentes dans la base de données sont vos données
                                        professionnelles (nom, prénom email, téléphone pro s'il existe).</p>
                                    <p>Les fichiers de log (en cas d'erreur ou de problème) sont
                                        anonymes et sans informations personnelles vous concernant.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 d-none d-sm-block">
                        <ul class="breadcrumb pt-0 pe-0 mb-0 float-end">
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="mailto:david.annebicque@univ-reims.fr" target="_blank" class="btn-link"><i
                                            class="text-primary icon-14
                                    fal fa-envelope"></i></a>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="https://github.com/Dannebicque/oreof" target="_blank"
                                   class="btn-link"><i class="text-primary icon-14
                                    fa-brands fa-github"></i></a>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="https://twitter.com/davidannebicque" target="_blank" class="btn-link">
                                    <i class="text-primary icon-14 fa-brands fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Content End -->


</div>
<!-- Content Container End -->

<div {{ stimulus_controller('base') }}
        data-action="modal:openModal@window->base#openModal
        base:refreshPage@window->base#refreshPage
        base:redirectEdit@window->base#redirectEdit
        modal_confirm:refreshPage2@window->base#refreshPage {# todo: ne fonctionne pas #}
">
    {{ include('communs/_modal.html.twig') }}
</div>


<!-- modal delete -->
<div class="modal fade"
     tabindex="-1"
     aria-hidden="true"
     id="modal-delete"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmer la suppression</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"><i class="far fa-xmark-large"></i></button>
            </div>
            <div class="modal-body">
                Confirmer la suppression de l'élément sélectionné.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-bs-dismiss="modal">
                    Annuler
                </button>
                <button type="button" class="btn btn-danger"
                        id="btn-confirm-supprimer"
                        data-bs-dismiss="modal">
                    Confirmer la suppression définitive
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal confirm -->
<div class="modal fade"
     tabindex="-1"
     aria-hidden="true"
     id="modal-confirm"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-confirm-title">Confirmer la suppression</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"><i class="far fa-xmark-large"></i></button>
            </div>
            <div class="modal-body" id="modal-confirm-body">
                Confirmer la suppression de l'élément sélectionné.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-bs-dismiss="modal">
                    Annuler
                </button>
                <button type="button" class="btn btn-danger"
                        id="btn-confirm-valide"
                        data-bs-dismiss="modal">
                    Confirmer
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
