<!DOCTYPE html>
<html lang="fr" data-footer="true">
<head>
    <meta charset="UTF-8">
    <title>{{ block('header')|striptags }} - {{ product_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <script>
          let toasts = {{ app.session.flashbag.get('toast')|json_encode|raw }};
        </script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body
        data-controller="modalturbo"
>
<!-- toast Tailwindcss-->
{# todo: peut être boucler sur les flashmessage à la fin ? #}
<div id="flash_toasts" class="fixed bottom-4 right-4 z-50 w-[min(24rem,calc(100vw-2rem))]"></div>
<!-- fin toast -->


<!-- Content Container Start -->
<div id="root">


    <!-- Nav Content Start -->
    <div id="nav" class="nav-container d-flex">
        <div class="nav-content d-flex">
            <!-- Logo Start -->
            <div class="logo-univ">
                <img src="{{ asset('images/logo_urca_quadri.png') }}"
                     alt="Logo de l'URCA"
                     width="75px"/>
            </div>
            <div class="logo position-relative">
                <a href="{{ path('app_homepage') }}">
                    <div class="logo-but">
                        <i class="fa-duotone fa-pencil-ruler" style="--fa-primary-color: var(--complementaire);
"></i>&nbsp;{{ product_name }}
                        {% if is_granted('ROLE_ADMIN') %} / Adm.{% endif %}
                    </div>
                </a>
            </div>
            <!-- Logo End -->

            <!-- Notifications -->
            {{ component('notifications', {
                user: app.user,
                formation: formation is defined ? formation : null,
                parcours: parcours is defined ? parcours : null,
            }) }}

            <!-- Language Switch Start -->
            {{ component('switch_dpe') }}
            <!-- Language Switch End -->

            <!-- User Menu Start -->
            <div class="user-container d-flex">
                <a href="#" class="d-flex user position-relative" data-bs-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <div class="name d-md-none">
                        {{ app.user.display }}
                    </div>
                    {{ include('communs/_avatar.html.twig', {user:app.user, size:'sm'}) }}
                </a>
                <div class="dropdown-menu dropdown-menu-end user-menu wide">
                    <div class="row mb-3 ms-0 me-0">
                        <div class="col-12 ps-1 mb-2">
                            <div class="text-extra-small text-primary">COMPTE</div>
                        </div>
                        <div class="col-12 ps-1 pe-1">
                            <ul class="list-unstyled">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('i18n_toggle_keys') }}">
                                            {{ app.session.get('i18n_keys') ? '🔤 Mode clés: ON' : '🔤 Mode clés: OFF' }}
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('app_user_mes_informations') }}">Mes informations</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_user_mes_notifications') }}">Mes notifications</a>
                                </li>
                                <li>
                                    <a href="#"
                                            {{ stimulus_controller('modal', {
                                                size: 'large',
                                                modalTitle: 'Paramètres & Accessibilité',
                                                right: true,
                                                modalUrl: path('app_settings') }) }}
                                       data-action="click->modal#openModal"
                                       data-size="lg"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="bottom"
                                       title="Paramètres & Accessibilité"
                                    >

                                        <i class="fas fa-gears"></i> Paramètres & Accessibilité
                                    </a>
                                </li>
                                <li>
                                    <a
                                            href="#"
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                modalTitle: 'Signaler un bug',
                                                modalUrl: path('app_bug_report_modal', {
                                                    formation: formation is defined and formation != null ? formation.id : '',
                                                    parcours: parcours is defined and parcours != null ? parcours.id : '',
                                                    page: app.request.uri
                                                })
                                            }) }}
                                            data-action="click->modal#openModal"
                                    >
                                        Signaler un bug
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-1 ms-0 me-0">
                        <div class="col-12 p-1 mb-2 pt-2">
                            <div class="text-extra-small text-primary">ACCÈS</div>
                        </div>
                        <div class="col-12 ps-1 pe-1">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Menu End -->

            <!-- Menu Start -->
            <div class="menu-container flex-grow-1">
                <ul id="menu" class="menu">
                    {# accessible à tous #}
                    <li>
                        <a href="{{ path('app_homepage') }}">
                            <i class="fal fa-home icon"></i>
                            <span class="label">{{ 'menu.tableau_de_bord'|trans({}, 'menu') }}</span>
                        </a>
                    </li>

                    {# accessible à tous #}
                    <li>
                        <a href="#offre_formation" data-href="offre_formation">
                            <i class="fal fa-chalkboard-user icon"></i>
                            <span class="label">{{ 'menu.offre_formation'|trans({}, 'menu') }}</span>
                        </a>
                        <ul id="offre_formation">
                            <li>
                                <a href="{{ path('app_formation_index') }}">
                                    <span class="label">{{ 'menu.detail_mentions'|trans({}, 'menu') }}</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('structure_fiche_matiere_index') }}">
                                    <span class="label">
                                        {{ 'menu.detail_fiches'|trans({}, 'menu') }}
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('structure_fiche_matiere_index', {type:'hd'}) }}">
                                    <span class="label">{{ 'menu.detail_fiches_hd'|trans({}, 'menu') }}</span>
                                </a>
                            </li>
                            {#                            <li> #}
                            {#                                <a href="{{ path('app_mutualise_index') }}"> #}
                            {#                                    <span class="label">{{ 'menu.detail_elts_mutualises'|trans({}, 'menu') }}</span> #}
                            {#                                </a> #}
                            {#                            </li> #}
                            <li>
                                <a href="{{ path('app_export_index') }}">
                                    <span class="label">{{ 'menu.exports'|trans({}, 'menu') }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="#pilotage_admin">
                                <i class="fal fa-school icon"></i>
                                <span class="label">
                                    {{ 'menu.admin.pilotage'|trans({}, 'menu') }}
                                </span>
                            </a>
                            <ul id="pilotage_admin">
                                <li>
                                    <a href="{{ path('structure_composante_index') }}">
                                        <span class="label">{{ 'menu.admin.consulter_offre'|trans({}, 'menu') }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_offre') }}">
                                        <span class="label">{{ 'menu.admin.gestion_offre'|trans({}, 'menu') }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_demande_dpe') }}">
                                        <span class="label">{{ 'menu.admin.dpe_ouverts'|trans({}, 'menu') }}</span>
                                    </a>
                                </li>
                                {#                                <li> #}
                                {#                                    <a href="{{ path('app_validation_dpe_test_index') }}"> #}
                                {#                                        <span class="label">TEST Validation DPE</span> #}
                                {#                                    </a> #}
                                {#                                </li> #}
                                <li>
                                    <a href="{{ path('app_validation_dpe_index') }}">
                                        <span class="label">{{ 'menu.admin.validation_dpe'|trans({}, 'menu') }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_validation_fiche_index') }}">
                                        <span class="label">{{ 'menu.admin.validation_fiches_ec'|trans({}, 'menu') }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_validation_change_rf_index') }}">
                                        <span class="label">{{ 'menu.admin.validation_rf'|trans({}, 'menu') }}</span>
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('app_parcours_lheo_invalid_list') }}">
                                            <span class="label">{{ 'menu.admin.controle_lheo'|trans({}, 'menu') }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('app_export_index') }}">
                                        <span class="label">{{ 'menu.admin.exports'|trans({}, 'menu') }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_log_viewer_index') }}">
                                        <span class="label">Logs applicatifs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_impersonation_list') }}">
                                        <span class="label">👤 Impersonation utilisateur</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        {% if is_granted('SHOW', {route: 'app_composante', subject: 'composante'}) %}
                            <li class="mega">
                                <a href="#pilotage" data-href="pilotage">
                                    <i class="fal fa-school icon"></i>
                                    <span class="label">
                                    {{ 'menu.compo.pilotage'|trans({}, 'menu') }}
                                </span>
                                </a>
                                <ul id="pilotage">
                                    {% for composante in app.user.composanteResponsableDpe %}
                                        {% if is_granted('SHOW', {route: 'app_composante', subject: composante}) %}
                                            <li>
                                                <a href="#composante_{{ composante.id }}">
                                                    <span class="label">{{ composante.libelle }}</span>
                                                </a>
                                                <ul id="composante_{{ composante.id }}">
                                                    <li>
                                                        <a href="{{ path('structure_composante_index') }}">
                                                            <span class="label">{{ 'menu.compo.consulter_offre'|trans({}, 'menu') }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_demande_dpe_composante', {composante:composante.id}) }}">
                                                            <span class="label">{{ 'menu.compo.dpe_ouvert'|trans({}, 'menu') }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_validation_composante_dpe_index', {composante:composante.id}) }}">
                                                            <span class="label">{{ 'menu.compo.validation_dpe'|trans({}, 'menu') }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_validation_composante_fiche_index', {composante:composante.id}) }}">
                                                            <span class="label">{{ 'menu.compo.validation_ec'|trans({}, 'menu') }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_validation_composante_change_rf_index', {composante:composante.id}) }}">
                                                            <span class="label">{{ 'menu.compo.validatio,_rf'|trans({}, 'menu') }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_validation_composante_pilotage', {composante:composante.id}) }}">
                                                            <span class="label">Pilotage visuel</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_export_composante_index', {composante:composante.id}) }}">
                                                            <span class="label">{{ 'menu.compo.exports'|trans({}, 'menu') }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_plaquette', {composante:composante.id}) }}">
                                                            <span class="label">{{ 'menu.compo.communication'|trans({}, 'menu') }}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if is_granted('EDIT', {route: 'app_etablissement', subject: 'etablissement'}) or is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="#conseils" data-href="conseils">
                                <i class="fal fa-chalkboard-user icon"></i>
                                <span class="label">{{ 'menu.menu_conseils'|trans({}, 'menu') }}</span>
                            </a>
                            <ul id="conseils">
                                <li>
                                    <a href="{{ path('app_formation_responsable_liste') }}">
                                        <span class="label">{{ 'menu.conseils.chgt_rf'|trans({}, 'menu') }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_synthese_modification_export_pdf') }}">
                                        <span class="label">{{ 'menu.conseils.synthses_modifs'|trans({}, 'menu') }}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('EDIT', {route: 'app_composante', subject: 'composante'}) or is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="#droits" data-href="droits">
                                <i class="fal fa-chalkboard-user icon"></i>
                                <span class="label">{{ 'menu.menu_droits'|trans({}, 'menu') }}</span>
                            </a>
                            <ul id="droits">
                                <li>
                                    <a href="{{ path('app_user_profil_attente') }}">
                                        <span class="label">{{ 'menu.droits.en_attente'|trans({}, 'menu') }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_user_profil_index') }}">
                                        <span class="label">{{ 'menu.droits.affectation_profils'|trans({}, 'menu') }} </span>
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('app_user_repertoire') }}">
                                            <span class="label">{{ 'menu.droits.repertoire'|trans({}, 'menu') }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_administration_profils_index') }}">
                                            <span class="label">{{ 'menu.droits.profils'|trans({}, 'menu') }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="mega">
                            <a href="#administration" data-href="administration">
                                <i class="fal fa-wrench icon"></i>
                                <span class="label">{{ 'menu.menu_administration'|trans({}, 'menu') }}</span>
                            </a>
                            <ul id="administration">
                                <li>
                                    <a href="#structure">
                                        <span class="label">{{ 'menu.config.menu_etablissement'|trans({}, 'menu') }}</span>
                                    </a>
                                    <ul id="structure">
                                        <li>
                                            <a href="{{ path('app_etablissement_index') }}">
                                                <span class="label">{{ 'menu.config.etablissement'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_composante_index') }}">
                                                <span class="label">{{ 'menu.config.composante'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_ville_index') }}">
                                                <span class="label">{{ 'menu.config.ville'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#struct_formation">
                                        <span class="label">{{ 'menu.config.offre_formation'|trans({}, 'menu') }}</span>
                                    </a>
                                    <ul id="struct_formation">
                                        <li>
                                            <a href="{{ path('app_mention_index') }}">
                                                <span class="label">{{ 'menu.config.mentions'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_domaine_index') }}">
                                                <span class="label">{{ 'menu.config.domaines'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_type_diplome_index') }}">
                                                <span class="label">{{ 'menu.config.type_diplome'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_type_ue_index') }}">
                                                <span class="label">{{ 'menu.config.type_ue'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_type_ec_index') }}">
                                                <span class="label">{{ 'menu.config.type_ec'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_nature_ue_ec_index') }}">
                                                <span class="label">{{ 'menu.config.nature_ue'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('app_type_epreuve_index') }}">
                                                <span class="label">{{ 'menu.config.type_epreuve'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_langue_index') }}">
                                                <span class="label">{{ 'menu.config.langues'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('app_rythme_formation_index') }}">
                                                <span class="label">{{ 'menu.config.rythme_formation'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#configuration">
                                        <span class="label">{{ 'menu.menu_configuration'|trans({}, 'menu') }}</span>
                                    </a>
                                    <ul id="configuration">
                                        <li>
                                            <a href="{{ path('app_campagne_collecte_index') }}">
                                                <span class="label">{{ 'menu.config.campagne_collecte'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_annee_universitaire_index') }}">
                                                <span class="label">{{ 'menu.config.annee_universitaire'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_actualite_index') }}">
                                                <span class="label">{{ 'menu.config.actualites'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_notication_liste') }}">
                                                <span class="label">{{ 'menu.config.notifications'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('translations_index') }}">
                                                <span class="label">{{ 'menu.config.traductions'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_config_email') }}">
                                                <span class="label">{{ 'menu.config.config_emails'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_help_index') }}">
                                                <span class="label">{{ 'menu.config.help'|trans({}, 'menu') }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- Menu End -->

            <!-- Mobile Buttons Start -->
            <div class="mobile-buttons-container">
                <!-- Scrollspy Mobile Button Start -->
                <a href="#" id="scrollSpyButton" class="spy-button" data-bs-toggle="dropdown">
                    <i class="fal fa-chevron-right"></i>
                </a>
                <!-- Scrollspy Mobile Button End -->

                <!-- Scrollspy Mobile Dropdown Start -->
                <div class="dropdown-menu dropdown-menu-end" id="scrollSpyDropdown"></div>
                <!-- Scrollspy Mobile Dropdown End -->

                <!-- Menu Button Start -->
                <a href="#" id="mobileMenuButton" class="menu-button">
                    <i class="fal fa-bars"></i>
                </a>
                <!-- Menu Button End -->
            </div>
            <!-- Mobile Buttons End -->
        </div>
        <div class="nav-shadow"></div>
    </div>
    <!-- Nav Content End -->


    <!-- Main Content Start -->

    <!-- Title and Top Buttons Start -->
    <div class="page-title-container fixed-title-container">
        <div class="row">
            <div class="col-md-12 col-sm-6 mt-0">
                <!-- Impersonation Badge Start -->
                {% include 'components/impersonation_badge.html.twig' %}
                <!-- Impersonation Badge End -->
            </div>
            <div class="col-md-12 col-sm-6 mt-0">
                {% if user_data.campagneCollecte.defaut == true %}
                    <twig:alerte type="warning"
                                 message="La campagne de collecte des Descriptifs et des Programmes des Enseignements (DPE) pour l'année universitaire <strong>{{ user_data.campagneCollecte.anneeUniversitaire.libelle }}</strong> est actuellement ouverte. <br> Vous pouvez procéder aux modifications nécessaires pour adapter vos descriptifs (sans passage en CFVU) et/ou pour proposer des changements de maquette et MCCC pour votre/vos formations (avec passage en CFVU). La date limite est fixée au {{ user_data.campagneCollecte.dateTransmissionSes|dateFr }}."></twig:alerte>
                {% else %}
                    <twig:alerte type="danger" message="
                    Pour information, la campagne de collecte des Descriptifs et des Programmes des Enseignements (DPE) pour l'année universitaire <strong>{{ user_data.campagneCollecte.anneeUniversitaire.libelle }}</strong> est close. Des modifications ponctuelles peuvent encore être demandées mais sont soumises à un accord préalable."></twig:alerte>
                {% endif %}
            </div>
            <!-- Title Start -->
            <div class="col-md-6 col-sm-6">
                <h1 class="mb-0 pb-0 display-4" id="title">{% block header %}
                        {{ header_title|default('Titre par défaut') }}
                    {% endblock %}</h1>
                <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                    {% block breadcrumb %}

                    {% endblock %}
                </nav>
            </div>
            <!-- Title End -->

            <!-- Top Buttons Start -->
            <div class="col-md-6 col-sm-6 d-flex align-items-start justify-content-end">
                <!-- Tour Button Start -->
                {% block bouton_header %}

                {% endblock %}
                <!-- Tour Button End -->
            </div>
            <!-- Top Buttons End -->
        </div>
    </div>

    {#            <button #}
    {#                    {{ stimulus_controller('modal', { #}
    {#                        size: 'large', #}
    {#                        modalTitle: 'Ajouter un domaine', #}
    {#                        right: true, #}
    {#                        modalUrl: path('app_domaine_new') }) }} #}
    {#                    data-action="click->modal#openModal" #}
    {#                    class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2" #}
    {#                    data-size="lg" #}
    {#                    data-bs-toggle="tooltip" #}
    {#                    data-bs-placement="bottom" #}
    {#                    title="Ajouter un domaine" #}
    {#            > #}
    {#                <i class="{{ iconAdd }}"></i> #}
    {#                <span> Ajouter un domaine</span> #}
    {#            </button> #}
    <main>
        <!-- messages flash -->
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="toast position-fixed align-items-center top-0 end-0 m-3 bg-{{ label }} border-0" style="z-index:
                2000">
                    <div class="d-flex">
                        <div class="toast-body">
                            <p class="text-white"> {{ message }}</p>
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        <!-- fin messages flash -->
        <div class="container">
            <!-- Title and Top Buttons End -->
            {% block content %}

            {% endblock %}
        </div>
    </main>
    <!-- Main Content End -->

    <!-- Footer Content Start -->
    <footer>
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <!-- Passage en col-12 pour que tout tienne sur la même ligne -->
                    <div class="col-12">

                        <ul class="breadcrumb pt-0 pe-0 mb-0">
                            <li class="breadcrumb-item mb-0 text-medium">
                                <p class="mb-0 text-muted text-medium">&copy; 2023 David Annebicque // Emeline
                                    Lang-Lannoy -
                                    version {{ user_data.version }}</p>
                            </li>

                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="#" class="btn-link" data-bs-toggle="modal"
                                   data-bs-target="#modalUsageDonnees">Usage des données</a>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="{{ path('app_help') }}" target="_blank">
                                    <i class="fal fa-question-circle"></i> Aide
                                </a>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="{{ path('app_document') }}" target="_blank">
                                    <i class="fal fa-file-alt"></i> Documents
                                </a>
                            </li>

                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="mailto:oreof@univ-reims.fr" target="_blank" class="btn-link"><i
                                            class="text-primary icon-14
                                fal fa-envelope"></i></a>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="https://github.com/Dannebicque/oreof" target="_blank"
                                   class="btn-link"><i class="text-primary icon-14
                                fa-brands fa-github"></i></a>
                            </li>
                        </ul>
                    </div>

                    <!-- Modal -->
                    <div
                            class="modal fade modal-close-out"
                            id="modalUsageDonnees"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="examplemodalUsageDonnees"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="examplemodalUsageDonnees">Usage des données</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fal fa-close fa-2x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Ce site n'enregistre aucune donnée sur votre utilisation de l'outil.</p>
                                    <p>Un seul cookie est utilisé permettant de gérer la connexion.</p>
                                    <p>Les données présentes dans la base de données sont vos données
                                        professionnelles (nom, prénom email, téléphone pro s'il existe).</p>
                                    <p>Les fichiers de log (en cas d'erreur ou de problème) sont
                                        anonymes et sans informations personnelles vous concernant.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Content End -->


</div>
<!-- Content Container End -->

<div {{ stimulus_controller('base') }}
        data-action="modal:openModal@window->base#openModal
        base:refreshPage@window->base#refreshPage
        base:redirectEdit@window->base#redirectEdit
">
    {{ include('communs/_modal.html.twig') }}
</div>


<!-- modal delete -->
<div class="modal fade"
     tabindex="-1"
     aria-hidden="true"
     id="modal-delete"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmer la suppression</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"><i class="far fa-xmark-large"></i></button>
            </div>
            <div class="modal-body">
                Confirmer la suppression de l'élément sélectionné.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-bs-dismiss="modal">
                    Annuler
                </button>
                <button type="button" class="btn btn-danger"
                        id="btn-confirm-supprimer"
                        data-bs-dismiss="modal">
                    Confirmer la suppression définitive
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal confirm -->
<div class="modal fade"
     tabindex="-1"
     aria-hidden="true"
     id="modal-confirm"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-confirm-title">Confirmer la suppression</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"><i class="far fa-xmark-large"></i></button>
            </div>
            <div class="modal-body" id="modal-confirm-body">
                Confirmer la suppression de l'élément sélectionné.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-bs-dismiss="modal">
                    Annuler
                </button>
                <button type="button" class="btn btn-danger"
                        id="btn-confirm-valide"
                        data-bs-dismiss="modal">
                    Confirmer
                </button>
            </div>
        </div>
    </div>
</div>

<button type="button" id="hiddenOpenFullscreenModalBtn" class="d-none" data-bs-toggle="modal" data-bs-target="#imageFullscreenModal"></button>

<!-- Modal Image Fullscreen -->
<div class="modal fade" id="imageFullscreenModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-transparent border-0 shadow-none">
            <div class="modal-header border-0 pb-0">
                <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="modal" aria-label="Fermer" style="filter: invert(1) grayscale(100%) brightness(200%); width: 2em; height: 2em; opacity: 1; z-index: 1060; position: relative;"></button>
            </div>
            <div class="modal-body text-center p-0 position-relative" style="cursor: zoom-out;" data-bs-dismiss="modal">
                <img id="fullscreenModalImage" src="" alt="Plein écran" class="img-fluid rounded" style="max-height: 90vh;">
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    document.body.addEventListener('click', function(e) {
        if (e.target.tagName === 'IMG' && e.target.closest('.markdown-body')) {
            const src = e.target.src;
            const modalImg = document.getElementById('fullscreenModalImage');
            if (modalImg) {
                modalImg.src = src;

                const btn = document.getElementById('hiddenOpenFullscreenModalBtn');
                if (btn) btn.click();
            }
        }
    });

    // Constuire une fonction pour appliquer le style "zoom"
    const applyZoomReady = () => {
        const imgs = document.querySelectorAll('.markdown-body img:not(.zoom-ready)');
        imgs.forEach(img => {
            img.classList.add('zoom-ready');
            img.style.cursor = 'zoom-in';
            img.title = "Cliquez pour agrandir";
        });
    };

    // L'appliquer directement au chargement de la page (pour la page /aide)
    applyZoomReady();

    // Rendre le curseur zoom-in sur les images ajoutées dynamiquement (après requêtes ajax)
    const observer = new MutationObserver((mutations) => {
        applyZoomReady();
    });
    observer.observe(document.body, { childList: true, subtree: true });
});
</script>

{% include '_ui/modal_wrapper.html.twig' with { open: false } %}

{# Check de l'existant de la route pour l'aide #}
{% set current_route = app.request.attributes.get('_route', '') %}
{% set current_help = get_page_help(current_route) %}

<!-- Bouton flottant -->
<div id="help-fab-container" class="position-fixed" style="bottom: 2rem; right: 2rem; z-index: 1050;">
    <button class="btn btn-{{ current_help ? 'info' : 'secondary' }} shadow-lg rounded-circle d-flex align-items-center justify-content-center"
            style="width: 55px; height: 55px;"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#helpOffcanvas"
            title="Aide de la page">
        <i class="fal fa-question-circle fa-2x text-white"></i>
    </button>
</div>

<!-- Tiroir Latéral (Offcanvas) -->
<div class="offcanvas offcanvas-end border-0 shadow" tabindex="-1" id="helpOffcanvas" style="width: 500px;">

    <!-- Header ajusté : Titre à gauche et Croix à droite -->
    <div class="offcanvas-header bg-{{ current_help ? 'info' : 'secondary' }} text-white d-flex justify-content-between align-items-center">
        <h5 class="offcanvas-title text-white mb-0">
            <i class="fal fa-info-circle"></i> {{ current_help ? current_help.title : 'Aide' }}
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body d-flex flex-column">

        {# BOUTONS D'ADMINISTRATION ET SLUG (Placés en haut, en ligne) #}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex flex-wrap align-items-center gap-2 mb-4 pb-3 border-bottom">
                {% if current_help %}
                    <a href="{{ path('app_help_edit', {'id': current_help.id}) }}" class="btn btn-sm btn-outline-info">
                        <i class="fal fa-edit"></i> <span>Modifier</span>
                    </a>
                {% else %}
                    <a href="{{ path('app_help_new', {'route': current_route}) }}" class="btn btn-sm btn-outline-success">
                        <i class="fal fa-plus"></i> <span>Créer</span>
                    </a>
                {% endif %}

                <a href="{{ path('app_help_index') }}" class="btn btn-sm btn-outline-warning">
                    <i class="fal fa-list"></i> <span>Gérer</span>
                </a>

                {# Slug affiché à la suite des boutons (retrait de ms-auto) #}
                <code class="bg-light text-dark px-2 py-1 rounded border shadow-sm" style="font-size: 0.8rem;">{{ current_route }}</code>
            </div>
        {% endif %}

        {# CONTENU DE L'AIDE POUR TOUS #}
        <div class="flex-grow-1">
            {% if current_help %}
                <div class="markdown-body px-2">
                    {{ current_help.content|markdown_to_html|parse_embeds }}
                </div>
            {% else %}
                <div class="alert alert-light text-center mt-2 border">
                    <i class="fal fa-sad-tear fa-3x mb-3 text-muted"></i>
                    <p class="mb-0 text-muted">Aucune aide n'est actuellement disponible pour cette page.</p>
                </div>
            {% endif %}
        </div>

    </div>
</div>

</body>
</html>
