{% extends 'base.html.twig' %}

{% block header %}
    Liste des LHEO invalides
{% endblock %}

{% block content %}
    <h1 class="text-center mb-5">
        Liste des parcours dont l'export LHEO est invalide
    </h1>
    {% for e in errorArray %}   
    <div class="row my-3 justify-content-center">
        <div class="col-8 border border-danger p-2 rounded">
            <div class="col-12"> 
                ID : <strong>{{ e.id }}</strong> 
                <a href="{{ path('app_parcours_show', {id: e.id}) }}">
                    <strong>{{ e.formation_libelle }} : {{ e.parcours_libelle }}</strong>
                </a>
            </div>
            {% if e.xml_errors|length > 0 %}
                <ul>
                {% for xmlErrorMessage in e.xml_errors %}
                    <li>
                        Erreur : {{ xmlErrorMessage }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    {% else %}
        <h2>Tous les parcours sont valides !</h2>
    {% endfor %}
{% endblock %}