<div class="col">
    <section class="scroll-section" id="identite_enseignement">
        <h2 class="small-title">Identité de l’enseignement</h2>
        <div class="card mb-5">
            <div class="card-body">
                {{ include('typeDiplome/ec/_identiteEc.html.twig') }}
            </div>
        </div>
    </section>

    <section class="scroll-section" id="presentation">
        <h2 class="small-title">Présentation</h2>
        <div class="card mb-5">
            <div class="card-body">
                {{ include('typeDiplome/ec/_presentation.html.twig') }}
            </div>
        </div>
    </section>
    {# todo: liste tous les parcours exploitant cette fiche matière (les EC) #}
    {# todo: pour chaque parcours mobilisant la fiche... #}
    {% if ficheMatiere.enseignementMutualise == true or ficheMatiere.elementConstitutifs|length > 0 %}
        {% for ec in ficheMatiere.elementConstitutifs %}
            <section class="scroll-section" id="objectifs">
                <h2 class="small-title">Parcours utilisant la fiche matière et détails des EC</h2>
                <div class="card mb-5">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>
                                {% if isVersioningView is defined and isVersioningView == false %}
                                    <button
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                modalTitle: 'Ajouter un domaine',
                                                modalUrl: path('app_fiche_matiere_detail_parcours', {elementConstitutif:ec.id}) }) }}
                                            data-action="click->modal#openModal"
                                            class="btn text-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
                                            data-size="lg"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="bottom"
                                            title="Ajouter un domaine"
                                    >
                                        <i class="{{ iconShow }}"></i>
                                        <span> Voir les éléments pour  {% if ec.parcours.isParcoursDefaut %}
                                                la mention <strong>{{ ec.parcours.formation.displayLong }} (mention sans parcours)</strong>
                                    {% else %}
                                                le parcours 
                                                <strong>
                                                    {{ ec.parcours.libelle }} 
                                                    {% if ec.parcours.formation.displayLong is defined and ec.parcours.formation.displayLong != null %}
                                                        ({{ ec.parcours.formation.displayLong }})
                                                    {% endif %}
                                                </strong>
                                            {% endif %}</span>
                                    </button>
                                {% else %}
                                    {% if ec.parcours.isParcoursDefaut %}
                                        <span><strong>{{ ec.parcours.formation.display }} (mention sans parcours)</strong></span>
                                    {% else %}
                                        <span><strong>{{ ec.parcours.libelle }} ({{ ec.parcours.formation.display }})</strong></span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% else %}
        <section class="scroll-section" id="objectifs">
            <h2 class="small-title">Objectifs / compétences acquises à l’issue de la formation</h2>
            <div class="card mb-5">
                <div class="card-body">
                    {{ include('typeDiplome/formation/_objectifs.html.twig') }}
                </div>
            </div>
        </section>
        {#        <section class="scroll-section" id="structure"> #}
        {#            <h2 class="small-title">Structure et organisation pédagogiques</h2> #}
        {#            <div class="card mb-5"> #}
        {#                <div class="card-body"> #}
        {#                    {{ include('typeDiplome/ec/_structure.html.twig') }} #}
        {#                </div> #}
        {#            </div> #}
        {#        </section> #}

        {#        <section class="scroll-section" id="mccc"> #}
        {#            <h2 class="small-title">Modalités de contrôle des connaissances</h2> #}
        {#            <div class="card mb-5"> #}
        {#                <div class="card-body"> #}
        {#                    {{ include('typeDiplome/ec/_mccc.html.twig') }} #}
        {#                </div> #}
        {#            </div> #}
        {#        </section> #}
    {% endif %}
    {# todo: si pas mutualisé, alors affichage BCCC, MCCC et heures ici, si mutualisé affichage des parcours + modal avec des détails. Si impression 1 docs/parcours #}


    <section class="scroll-section" id="infos">
        <h2 class="small-title">Infos Pratiques</h2>
        <div class="card mb-5">
            <div class="card-body">
                {{ include('typeDiplome/ec/_infos.html.twig') }}
            </div>
        </div>
    </section>
</div>
