<div class="col">
    <section class="scroll-section" id="identite_enseignement">
        <h2 class="small-title">Identité de l’enseignement</h2>
        <div class="card mb-5">
            <div class="card-body">
                {{ include('typeDiplome/ec/_identiteEc.html.twig') }}
            </div>
        </div>
    </section>

    <section class="scroll-section" id="presentation">
        <h2 class="small-title">Présentation</h2>
        <div class="card mb-5">
            <div class="card-body">
                {{ include('typeDiplome/ec/_presentation.html.twig') }}
            </div>
        </div>
    </section>

    <section class="scroll-section" id="volumes_horaires">
        <h2 class="small-title">Volumes horaires</h2>
        <div class="card mb-5">
            <div class="card-body">
                <twig:alerte type="info"
                             message="Les volumes horaires sont donnés à titre indicatif et peuvent varier en fonction des parcours dans lesquels cette fiche matière est utilisée."
                             class="mt-2"></twig:alerte>

                {{ include('typeDiplome/ec/_structure.html.twig') }}
            </div>
        </div>
    </section>

    <section class="scroll-section" id="mccc">
        <h2 class="small-title">Modalités de contrôle des connaissances</h2>
        <div class="card mb-5">
            <div class="card-body">
                <twig:alerte type="info"
                             message="Les MCCC et ECTS sont donnés à titre indicatif et peuvent varier en fonction des parcours dans lesquels cette fiche matière est utilisée."
                             class="mt-2"></twig:alerte>

                {{ include('typeDiplome/ec/_mccc.html.twig', {}) }}
            </div>
        </div>
    </section>


    <section class="scroll-section" id="bcc">
        <h2 class="small-title">Compétences acquises à l’issue de la formation</h2>
        <div class="card mb-5">
            <div class="card-body">
                {{ include('typeDiplome/formation/_objectifs.html.twig') }}
            </div>
        </div>
    </section>

    {% if ficheMatiere.enseignementMutualise == true or ecParcours|length > 0 %}
        <section class="scroll-section" id="parcours">
            <h2 class="small-title">Parcours utilisant la fiche matière et détails des EC</h2>
            <div class="card mb-5">
                <div class="card-body">
                    <ul class="list-unstyled">
                        {% for ec in ecParcours %}
                            {% if ec.parcours != null %}
                                <li>
                                    {% if ec.parcours.isParcoursDefaut == true %}
                                        <a href="{{ path('formation_v2_voir', {slug:ec.parcours.formation.slug}) }}"
                                           target="_blank" class="text-primary">
                                            <i class="fas fa-eye"></i>
                                            <strong>Formation sans parcours</strong> - {{ ec.ue.display(ec.parcours) }}
                                            | {{ ec.code }} - ({{ ec.parcours.formation.displayLong }})
                                            - {{ ec.parcours.formation.composantePorteuse.libelle }}
                                        </a>
                                    {% else %}
                                        {% if ec.parcours != null and ec.parcours.formation != null %}
                                            <a href="{{ path('parcours_v2_voir', {parcours:ec.parcours.id}) }}"
                                               target="_blank" class="text-primary">
                                                <i class="fas fa-eye"></i>
                                                <strong>{{ ec.parcours.libelle }} {% if ec.parcours.typeparcours != null and ec.parcours.typeparcours.value != 'classique' %} {{ ec.parcours.typeparcours|badgeTypeParcours }}{% endif %}</strong>
                                                - {{ ec.ue.display(ec.parcours) }}
                                                | {{ ec.code }} - ({{ ec.parcours.formation.displayLong }})
                                                - {{ ec.parcours.formation.composantePorteuse.libelle }}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    {% endif %}


    <section class="scroll-section" id="infos">
        <h2 class="small-title">Infos Pratiques</h2>
        <div class="card mb-5">
            <div class="card-body">
                {{ include('typeDiplome/ec/_infos.html.twig') }}
            </div>
        </div>
    </section>
</div>
