{% extends 'base.html.twig' %}

{% block header %}Documents{% endblock %}

{% block content %}
    <h2 class="small-title mt-3">Guide</h2>
    <div class="row">
        <div class="col-4">

            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/guide.pdf') }}">Télécharger le guide (version avril 2023)</a>
                    <p>L'interface peut différer des captures de cette version du guide. Une mise à jour est en cours de rédaction.</p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="small-title mt-3">Replay des présentations</h2>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/OReOF-27032023.mp4') }}">Télécharger la vidéo</a>
                    <p>Vidéo de lancement d'ORéOF du 27/03/2023</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/video1870238167.mp4') }}">Télécharger la vidéo</a>
                    <p>Vidéo questions/réponses du 02/06/2023</p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="small-title mt-3">Documents</h2>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/Aide à la rédaction - fiche ec matière 2024-2028.docx') }}">Télécharger le document</a>
                    <p>Aide à la rédaction - fiche ec matière 2024-2028.docx</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/Aide à la rédaction - fiche mention avec parcours 2024-2028.docx') }}">Télécharger le document</a>
                    <p>Aide à la rédaction - fiche mention <strong>avec</strong> parcours 2024-2028.docx</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/Aide à la rédaction - fiche mention sans parcours 2024-2028.docx') }}">Télécharger le document</a>
                    <p>Aide à la rédaction - fiche mention <strong>sans</strong> parcours 2024-2028.docx</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/Aide à la rédaction - fiche parcours 2024-2028.docx') }}">Télécharger le document</a>
                    <p>Aide à la rédaction - fiche parcours 2024-2028.docx</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/Aide à la rédaction - MCCC Tableau mccc 2024-2028.xlsx') }}">Télécharger le document</a>
                    <p>Aide à la rédaction - MCCC Tableau mccc 2024-2028.xlsx</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
