<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            font-family: "DejaVu Sans", serif;
            padding: 0;
            margin: 0;
        }

        {% if withTemplate is defined and withTemplate == true %}
        footer {
            /*-webkit-print-color-adjust: exact;*/
            margin: 0;
            bottom: 0;
            width: 100%;
            height: 3.5cm;
            left: 0;
            right: 0;
            padding: 0.2cm;
            color: white;
            text-align: right;
            font-size: 10px;
        }

        #class_vague {
            margin: 0;
            padding: 0;
            position: fixed;
            right: -0.5cm;
            text-align: right;

        }

        #class_vague img {
            height: 100%;
            width: 19cm;
        }

        #adresse_vague {
            color: black;
            position: fixed;
            right: 1cm;
            bottom: 0.5cm;
            width: 19cm;
            text-align: right;
            font-size: 10px;
        }


        {% else %}

        footer {
            margin: 0;
            bottom: 0;
            width: 100%;
            left: 0;
            padding: 0.2cm;
            color: white;
            text-align: center;
            font-size: 10px;
        }

        {% endif %}
    </style>
</head>
<body>
<footer>
    {% block footer %}
        {% if withTemplate is defined and withTemplate == true %}
            <div id="class_vague">
                <img src="data:image/jpeg;base64,{{ image }}" alt="logo">
            </div>
            <div id="adresse_vague">
                {{ composante.libelle }}<br>
                {{ composante.adresse.adresse1 }}<br>
                {{ composante.adresse.adresse2 }}<br>
                {{ composante.adresse.codePostal }} {{ composante.adresse.ville }}<br>
                {{ composante.urlSite }}<br>
                {{ composante.mailContact }}
            </div>
        {% else %}
            <p><span class="pageNumber"></span> of <span class="totalPages"></span></p>
            <p>Document généré le {{ 'now'|date('d/m/Y H:i') }} depuis
                ORéOF
                - {% if final is defined and final == true %}Document voté le ... {% else %}Document provisoire non validé en CFVU{% endif %}</p>
            <p>Université de Reims Champagne-Ardenne</p>
        {% endif %}
    {% endblock %}
</footer>
</body>
</html>
