{% extends 'pdf/base-pdf.html.twig' %}

{% block content %}
    <h1 class="text-center">CFVU du {{ dpe.dateCfvu|date('d/m/Y') }}</h1>
    {% for composante in composantes|filter(composante => demandes[composante.id]|length > 0) %}
        <h2 class="text-center">{{ composante.libelle }}</h2>
        <div class="page_break"></div>
        {% for demande in demandes[composante.id]|filter(demande => demande.nbDiff > 0) %}
            {% set parcours = demande.parcours %}
            <h3 class="text-center">{{ parcours.formation.display }}</h3>
            <h3 class="text-center">Parcours {{ parcours.display }}</h3>
            <h4 class="text-center">Composante {{ composante.libelle }}</h4>
            {% for key, p in demande.patch %}
                {% for patch in p %}
                    {% if key == 'modification' %}
                        <p><strong>Elements modifiés : {{ patch.libelle }}</strong></p>
                        <p>{{ patch.texte }}</p>
                        <p>{{ patch.nouveau }} (au lieu de {{ patch.original }})</p>
                    {% elseif key == 'add' %}
                        <p><strong>{{ key }}</strong></p>
                        <p>{{ patch }}</p>
                    {% elseif key == 'remove' %}
                        <p><strong>{{ key }}</strong></p>
                        <p>{{ patch }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}
