{% extends 'pdf/base-pdf.html.twig' %}

{% block content %}
    <h1 class="text-center">CFVU du {{ dpe.dateCfvu|date('d/m/Y') }}</h1>
    {% for composante in composantes|filter(composante => demandes[composante.id]|length > 0) %}
        {% if not loop.first %}
            <div class="page_break"></div>
        {% endif %}
        <h2 class="text-center">{{ composante.libelle }}</h2>
        {% for demande in demandes[composante.id]|filter(demande => demande.nbDiff > 0) %}
            {% set parcours = demande.parcours %}
            <h3 class="text-center">{{ parcours.formation.display }}</h3>
            <h3 class="text-center">Parcours {{ parcours.display }}</h3>
            <h4 class="text-center">Composante {{ composante.libelle }}</h4>
            {% for key, p in demande.patch %}
                {% for patch in p %}
                    {% if key == 'modified' %}
                        {% for pp in patch %}
                            {% if loop.first %}
                                <p><strong>Elément modifié : {{ pp.libelle }}</strong> ({{ pp.texte }})</p>
                            {% endif %}
                            <p>{{ pp.nouveau }} (au lieu de {{ pp.original }})</p>
                        {% endfor %}
                    {% elseif key == 'added' %}
                        {% for pp in patch %}
{#                        {% for pp in ppp %}#}
                            {% if loop.first %}
                                <p><strong>Elément ajouté :</strong></p>
                                <p>{{ pp.libelle }}</p>
                            {% endif %}
                            <p>{{ pp.nouveau }}</p>
{#                        {% endfor %}#}
                        {% endfor %}
                    {% elseif key == 'removed' %}
                        {% for pp in patch %}
{#                        {% for pp in ppp %}#}
                            {% if loop.first %}
                                <p><strong>Elément supprimé : </strong></p>
                                <p>{{ pp.libelle }}</p>
                            {% endif %}
                            <p>{{ pp.origine }}</p>
{#                        {% endfor %}#}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}
