{% extends 'pdf/base-pdf.html.twig' %}

{% block content %}
    <h1 class="text-center">CFVU du {{ dpe.dateCfvu|date('d/m/Y') }}</h1>
    {% for demande in demandes %}
        {% set parcours = demande.parcours %}
        {% set dto = demande.dto %}
        {% set diffStructure = demande.diffStructure %}
        {% set diffSemestres = demande.diffStructure.diff.semestres %}
        {% set diffUe = demande.diffStructure.diffUe %}
        {% if not loop.first %}
        <br><br>
        <br><br>
        {% endif %}
        <h2 class="text-center">{{ formation.display }}</h2>
        <h3 class="text-center">Parcours {{ parcours.display }}</h3>
        <h4 class="text-center">Composante {{ composante.libelle }}</h4>
        <div>
            {# todo: gérer les UE/EC à choix #}

            {% for key, ues in diffUe %}
                <p><strong>Semestre {{ key }}</strong></p>
                {% for ue in ues %}
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ ue.ue.display }}</strong></p>
                    {% for ec in ue.modifications.elementConstitutifs %}
                        {{ include('pdf/synthse_modifications/_ec.html.twig', {ec:ec}) }}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            {% for ordre, sem in diffSemestres %}
                {{ include('pdf/synthse_modifications/_semestre_heures.html.twig', {heuresEctsSemestre: sem.heuresEctsSemestre}) }}
            {% endfor %}
            {# bilan pour la formation #}
            {{ include('pdf/synthse_modifications/_formation_heures.html.twig', {heuresEctsFormation: diffStructure.diff.heuresEctsFormation}) }}
        </div>
    {% endfor %}
{% endblock %}
