<div>
    <p><strong>{{ ficheMatieres|length }} sur {{ totalFiches }}</strong> fiches matières</p>
    {% set sort = params.sort is defined ? params.sort : 'mention' %}
    {% set direction = params.direction is defined ? params.direction : 'asc' %}

    <table class="table table-striped {% if mode == 'detail' %}table-bordered table-condensed{% endif %} table-hover ">
        <thead>
        <tr>
            <th>
                <a href="#"
                        {{ stimulus_action('crud', 'sort', 'click', {
                            'sort': 'libelle',
                            'direction': getDirection('libelle', sort, direction)
                        }) }}
                >
                    Libellé
                    {{ displaySort('libelle', sort, direction) }}
                </a>
            </th>
            <th>
                <a href="#"
                        {{ stimulus_action('crud', 'sort', 'click', {
                            'sort': 'responsableFicheMatiere',
                            'direction': getDirection('responsableFicheMatiere', sort, direction)
                        }) }}
                >
                    Référent
                    {{ displaySort('responsableFicheMatiere', sort, direction) }}
                </a>

            </th>
            <th>
                    Utilisé ?
            </th>
            <th>Remplissage</th>
            <th>Etat</th>
            <th></th>

        </tr>
                <tr>
                    <th>
{#                        <label for="filter-libelle" class="sr-only">libelle</label> #}
{#                        <input #}
{#                                {{ stimulus_action('crud', 'filter', 'change', { #}
{#                                    'field': 'libelle' #}
{#                                }) }} #}
{#                                value="{% if params['libelle'] is defined %}{{ params['libelle'] }}{% endif %}" #}
{#                                id="filter-libelle" class="form-control" #}
{#                        > #}
                    </th>
                    <th>
{#                        <label for="filter-referent" class="sr-only">referent</label> #}
{#                        <select #}
{#                                {{ stimulus_action('crud', 'filter', 'change', { #}
{#                                    'field': 'referent' #}
{#                                }) }} #}
{#                                {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }} #}
{#                                id="filter-referent" class="form-select"> #}
{#                            <option value="">Tous les référents</option> #}
{#                            <option value="vide" {% if params['referent'] is defined and params['referent']  == 'vide' %}selected{% endif %}>Non défini</option> #}
{#                            {% for user in users %} #}
{#                                <option value="{{ user.id }}" #}
{#                                        {% if params['referent'] is defined and params['referent']  == user.id %}selected{% endif %} #}
{#                                >{{ user.display }}</option> #}
{#                            {% endfor %} #}
{#                        </select> #}
                    </th>
                    <th>
                        <label for="filter-utilise" class="sr-only">utilisé?</label>
                        <select
                                {{ stimulus_action('crud', 'filter', 'change', {
                                    'field': 'utilise'
                                }) }}
                                id="filter-utilise" class="form-select">
                            <option value="all">Tous</option>
                            <option value="1">Oui</option>
                            <option value="0">Non</option>
                        </select>
                    </th>
                    <th>
                        <label for="filter-remplissage" class="sr-only">remplissage</label>
                        <select
                                {{ stimulus_action('crud', 'filter', 'change', {
                                    'field': 'remplissage'
                                }) }}
                                id="filter-remplissage" class="form-select">
                            <option value="all">Tous</option>
                            <option value="0"
                                    {% if params['remplissage'] is defined and params['remplissage'] == 0 %}selected{% endif %}>
                                Non complété
                            </option>
                            <option value="100"
                                    {% if params['remplissage'] is defined and params['remplissage'] == 100 %}selected{% endif %}>
                                Complet
                            </option>
                        </select>
                    </th>
                    <th></th>
                    <th class="text-end">
                        <button class="btn btn-outline-danger"
                                {{ stimulus_action('crud', 'effaceFiltre', 'click', {
                                }) }}
                        >
                            Effacer les filtres
                        </button>
                    </th>
                </tr>
        </thead>
        <tbody>
        {% for ficheMatiere in ficheMatieres %}
            <tr>
                <td>{{ ficheMatiere.libelle }} {% if ficheMatiere.sigle != null %}({{ ficheMatiere.sigle }}){% endif %}</td>
                <td>
                    {% if ficheMatiere.responsableFicheMatiere != null %}
                        {{ ficheMatiere.responsableFicheMatiere.display }}
                    {% else %}
                        <span class="badge bg-warning">Non défini</span>
                    {% endif %}
                </td>
                <td>
                    {% if ficheMatiere.elementConstitutifs|length > 0 %}
                        <span class="badge bg-success">Oui</span>
                    {% else %}
                        <span class="badge bg-danger">Non</span>
                    {% endif %}
                </td>
                <td>{{ ficheMatiere.remplissage|remplissage }}</td>
                <td>{{ ficheMatiere.etatFiche|badgeFiche }}</td>
                <td class="text-end">
                    <a
                            href="{{ path('app_fiche_matiere_show',{slug: ficheMatiere.slug}) }}"
                            class="btn btn-sm text-info"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Voir une fiche EC/matière"
                            target="_blank"
                    >
                        <i class="{{ iconShow }}"></i>
                        <span> voir</span>
                    </a>
                    {% if is_granted('EDIT', {
                        route: 'app_fiche_matiere_hd',
                        subject: ficheMatiere
                    }) or is_granted('ROLE_ADMIN') %}
                    <a
                            href="{{ path('app_fiche_matiere_edit',{slug: ficheMatiere.slug}) }}"
                            class="btn btn-sm text-warning"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            target="_blank"
                            title="Modifier une fiche EC/matière"
                    >
                        <i class="{{ iconEdit }}"></i>
                        <span> modifier</span>
                    </a>
                    <button {{ stimulus_action('crud', 'duplicate', 'click', {
                        url:path('app_fiche_matiere_dupliquer',{slug: ficheMatiere.slug})
                    }) }} class="btn btn-sm text-primary">
                        <i class="{{ iconDuplicate }}"></i>
                        <span> dupliquer</span>
                    </button>

                    <button {{ stimulus_action('crud', 'delete', 'click', {
                        url:path('app_fiche_matiere_delete',{slug: ficheMatiere.slug}),
                        csrf: csrf_token('delete' ~ ficheMatiere.id)
                    }) }} class="btn btn-sm text-danger">
                        <i class="{{ iconDelete }}"></i> Supprimer
                    </button>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="{% if mode == 'liste' %}10{% else %}8{% endif %}" class="bg-warning">
                    Aucune fiche EC/matière
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('communs/_pagination.html.twig') }}
</div>
