{% extends 'base.html.twig' %}

{% block content %}
    <div class="card"
            {{ stimulus_controller('crud', {
                url: path('structure_fiche_matiere_liste'),
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe base:modalClose@window->crud#refreshListe"
    >
        <div class="card-body">
            {{ include('communs/_recherche.html.twig') }}
            <div {{ stimulus_target('crud', 'liste') }}>

            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    Détail des fiches EC/matières
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'Ajouter une fiche EC/matière',
                modalUrl: path('app_fiche_matiere_new') }) }}
            data-action="click->modal#openModal"
            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Ajouter une fiche EC/matière"
    >
        <i class="{{ iconAdd }}"></i>
        <span> Ajouter une fiche EC/matière</span>
    </button>
{% endblock %}
