<div class="relative inline-block text-left overflow-visible"
     data-controller="dropdown"
     {% if id %}id="{{ id }}"{% endif %}
>
    <button
            type="button"
            class="inline-flex items-center justify-center rounded-sm bg-slate-100 p-2 text-slate-600 hover:text-slate-900 hover:bg-slate-300
               focus:outline-none focus:ring-2 focus:ring-indigo-500"
            aria-haspopup="true"
            aria-expanded="false"
            data-action="click->dropdown#toggle"
            data-dropdown-target="button"
            {% if help != '' %}
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="{{ help }}"
            {% endif %}

    >
        <i class="{{ icon }}"></i>
        <span class="{% if labelSrOnly %}sr-only{% endif %} ms-1">{{ label }}</span>
    </button>

    <div
            class="absolute right-0 z-50 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 hidden"
            role="menu"
            data-dropdown-target="menu"
    >
        <div class="py-1" role="none">
            {% for item in items %}
                {% set danger = item.danger ?? false %}
                {% set disabled = item.disabled ?? false %}
                {% set method = item.method ?? 'GET' %}
                {% set turboFrame = item.turboFrame ?? null %}
                {% set hasConfirm = item.confirm is defined %}
                {% set modal = item.modal is defined and item.modal == true %}
                {% set color = item.color is defined ? item.color : 'slate' %}
                {% if modal %}
                    <a
                            class="block px-4 py-2 text-sm
                               {{ danger ? 'text-red-600 hover:bg-red-50' : 'text-'~color~'-700 hover:bg-'~color~'-100' }}
                               {{ disabled ? 'opacity-50 pointer-events-none' : '' }}"
                            role="menuitem"
                            {% if disabled %}disabled{% endif %}
                            href="{{ item.url }}"
                            data-turbo="true"
                            data-action="click->modalturbo#open"
                    >
                        {% if item.icon is defined %}<i class="{{ item.icon }}"></i>{% endif %}
                        {{ item.label }}
                    </a>

                {% else %}
                {% if method == 'GET' %}
                    <a
                            href="{{ item.url ?? '#' }}"

                            class="block px-4 py-2 text-sm
                               {{ danger ? 'text-red-600 hover:bg-red-50' : 'text-'~color~'-700 hover:bg-'~color~'-100' }}
                               {{ disabled ? 'opacity-50 pointer-events-none' : '' }}"
                            role="menuitem"
                            {% if disabled %}disabled{% endif %}
                            {% if turboFrame != null %}data-turbo-frame="{{ turboFrame }}"{% endif %}
                            {% if hasConfirm %}data-action="click->dropdown#confirm" data-dropdown-confirm-value="{{ item.confirm|e('html_attr') }}"{% endif %}
                    >
                        {% if item.icon is defined %}<i class="{{ item.icon }}"></i>{% endif %}
                        {{ item.label }}
                    </a>
                {% else %}
                    {# Actions non-GET : petit form pour respecter HTTP + CSRF si besoin #}
                    <form method="post"
                          action="{{ item.url ?? '#' }}"
                          class="block"
                          {% if hasConfirm %}data-action="submit->dropdown#confirm"
                          data-dropdown-confirm-value="{{ item.confirm|e('html_attr') }}"{% endif %}
                    >
                        {% if item.csrf is defined %}
                            <input type="hidden" name="csrf_token" value="{{ item.csrf }}">
                        {% endif %}
                        {# Si tu veux : _method pour DELETE/PUT #}
                        {% if method != 'POST' %}
                            <input type="hidden" name="_method" value="{{ method }}">
                        {% endif %}

                        <button
                                type="submit"
                                {% if disabled %}disabled{% endif %}
                                class="w-full text-left px-4 py-2 text-sm
                                   {{ danger ? 'text-red-600 hover:bg-red-50' : 'text-gray-700 hover:bg-gray-100' }}
                                   {{ disabled ? 'opacity-50 pointer-events-none' : '' }}"
                                role="menuitem"
                        >
                            {{ item.label }}
                        </button>
                    </form>
                {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
