<div {{ attributes }}
        id="fiche_matiere_manage"
>
    {% set prefix = 'fiche' %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% set col_date = 6 %}
                    {% set col_process = 6 %}
                    <!-- component html -->
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            &nbsp;
                        </div>
                        <div class="col-{{ col_process }} text-muted">
                            <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                                Processus de validation
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            &nbsp;
                        </div>
                        <div class="col-{{ col_process }} d-flex align-items-center justify-content-center">
                            {% for key, etape in this.process %}
                                {#                                {% if (etape.showOn is defined and etape.showOn == true) or etape.showOn is not defined %} #}
                                {% set class = 'btn-muted' %}
                                {% if isPlace('fiche', this.ficheMatiere, key) %}
                                    {% set class = 'btn-info' %}
                                {% else %}
                                    {% set class =  hasHistorique(this.ficheMatiere, key, this.historiques) %}
                                {% endif %}
                                <button class="btn btn-sm btn-icon btn-icon-only {{ class }} ms-1" type="button"
                                        data-controller="tooltip" data-tooltip-placement-value="bottom"
                                        aria-label="{{ etape.label|trans({}, 'process') }}"
                                        data-bs-original-title="{{ etape.label|trans({}, 'process') }}"
                                >
                                    <i class="fal {{ etape.icon }}"></i>
                                </button>
                                {#                                {% endif %} #}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                        Actions
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mt-2">
                        {#                            {% if this.process[this.etape].transition == 'publie' or this.process[this.etape].transition == 'transmis_pour_publication' %} #}
                        {% if isPublie(this.ficheMatiere, 'fiche') %}
                            <div class="col-3 d-grid">
                                <button class="btn btn-sm btn-success d-block">
                                    Fiche publiée
                                </button>
                            </div>
                            <div class="col-3 d-grid">
                                {#                                    {% if not this.hasDemande %} #}
                                <button class="btn btn-sm d-block btn-outline-warning"
                                        type="button"
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            nomEvenement: 'redirectEdit',
                                            modalTitle: ('demande.reouverture.fiche.title')|trans({}, 'process'),
                                            modalUrl: path('app_fiche_matiere_validation_demande_reouverture', {
                                                id:this.ficheMatiere.id,
                                            }) }) }}
                                        data-action="click->modal#openModal"
                                        data-controller="tooltip"
                                        data-tooltip-placement-value="bottom"

                                        aria-label="{{ ('demande.reouverture.fiche')|trans({}, 'process') }}"
                                        data-bs-original-title="{{ ('demande.reouverture.fiche')|trans({}, 'process') }}"
                                >
                                    <i class="fal fa-question"></i> {{ ('demande.reouverture.fiche')|trans({}, 'process') }}
                                </button>
                                {#                                    {% endif %} #}
                            </div>
                        {% elseif this.place == 'soumis_central' %}

                                <div class="col-3 d-grid">
                                    <button class="btn btn-sm btn-info d-block">
                                        En attente de publication sur le site (délai h+24)
                                    </button>
                                </div>
                                <div class="col-3 d-grid">
                                    {#                                    {% if not this.hasDemande %} #}
                                    <button class="btn btn-sm d-block btn-outline-warning"
                                            type="button"
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                nomEvenement: 'redirectEdit',
                                                modalTitle: ('demande.reouverture.fiche.title')|trans({}, 'process'),
                                                modalUrl: path('app_fiche_matiere_validation_demande_reouverture', {
                                                    id:this.ficheMatiere.id,
                                                }) }) }}
                                            data-action="click->modal#openModal"
                                            data-controller="tooltip"
                                            data-tooltip-placement-value="bottom"

                                            aria-label="{{ ('demande.reouverture.fiche')|trans({}, 'process') }}"
                                            data-bs-original-title="{{ ('demande.reouverture.fiche')|trans({}, 'process') }}"
                                    >
                                        <i class="fal fa-question"></i> {{ ('demande.reouverture.fiche')|trans({}, 'process') }}
                                    </button>
                                </div>
                        {% else %}
                            {% if
                                ((is_granted('CAN_EC_VALIDATE_MY', this.ficheMatiere) or is_granted('CAN_PARCOURS_VALIDATE_MY', this.ficheMatiere))  and  this.process[this.place].transition == 'en_cours_redaction') or is_granted('ROLE_SES') %}
                                <div class="col-6">
                                    <div class="row">
                                        {% for key, state in hasTransitions(this.ficheMatiere, 'fiche') %}
                                            {% for keyTrans, transition in state %}
                                                <div class="col-6 d-grid">
                                                    <button class="btn d-block text-wrap btn-outline-{{ transition.meta.btn }}"
                                                            type="button"
                                                            {{ stimulus_controller('modal', {
                                                                size: 'lg',
                                                                updateComponent: {
                                                                    id: 'fiche_matiere_manage',
                                                                    event: 'fiche_matiere_manage:'~key,
                                                                    event_type: key
                                                                },
                                                                modalTitle: ('validation.valider.'~prefix~'.'~keyTrans~'.title')|trans({}, 'process'),
                                                                modalUrl: path('app_validation_'~key~'_fiche', {
                                                                    etape:this.place,
                                                                    transition:keyTrans,
                                                                    id:this.ficheMatiere.id,
                                                                }) }) }}
                                                            data-action="click->modal#openModal"
                                                            data-controller="tooltip"
                                                            data-tooltip-placement-value="bottom"
                                                            aria-label="{{ ('title.validation.'~prefix~'.'~keyTrans)|trans({}, 'process') }}"
                                                            data-bs-original-title="{{ ('title.validation.'~prefix~'.'~keyTrans)|trans({}, 'process') }}"
                                                    >
                                                        <i class="fal {{ transition.meta.icon }}"></i> {{ ('btn.validation.'~prefix~'.'~keyTrans)|trans({}, 'process') }}
                                                    </button>
                                                </div>
                                            {% else %}
                                                <div class="col-4 d-grid">
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="col-6 d-grid">
                                                <button class="btn btn-sm btn-muted d-block">
                                                    {{ 'validation.formation.indisponible'|trans({}, 'process') }}
                                                </button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-4 d-grid">
                                    {% if this.process[this.place].transition == 'transmis_ses' %}
                                        <button class="btn btn-muted">En cours de validation central</button>
                                    {% endif %}
                                </div>
                                <div class="col-2 d-grid">
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="col-6 d-flex justify-content-center">
                            {#                                <button #}
                            {#                                        {{ stimulus_controller('modal', { #}
                            {#                                            size: 'lg', #}
                            {#                                            modalTitle: 'Vérifier la saisie', #}
                            {#                                            modalUrl: path('app_formation_state', {formation:formation.id}) }) }} #}
                            {#                                        data-action="click->modal#openModal" #}
                            {#                                        class="btn btn-outline-success btn-sm" #}
                            {#                                        data-size="lg" #}
                            {#                                        data-bs-toggle="tooltip" #}
                            {#                                        data-bs-placement="bottom" #}
                            {#                                        title="Vérifier la saisie" #}
                            {#                                > #}
                            {#                                    <i class="fas fa-check"></i> #}
                            {#                                    <span> Vérifier la saisie</span> #}
                            {#                                </button> #}
                            <button class="btn btn-sm btn-icon btn-icon-only btn-outline-info ms-1" type="button"
                                    {{ stimulus_controller('modal', {
                                        size: 'large',
                                        modalTitle: 'historique.de.validation.fiche_matiere.title'|trans({}, 'process'),
                                        right: true,
                                        modalUrl: path('app_historique_fiche_matiere', {ficheMatiere:this.ficheMatiere.id}) }) }}
                                    data-action="click->modal#openModal"
                                    data-size="lg"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'historique.de.validation.fiche_matiere.infobulle'|trans({}, 'process') }}"
                            >
                                <i class="fal fa-timeline"></i>
                            </button>


                            {% if is_granted('ROLE_SES') %}
                                {#                                <a href="{{ path('app_formation_edit_modal',{'slug': this.formation.slug}) }}" #}
                                {#                                   class="btn btn-sm btn-icon btn-icon-only btn-outline-secondary ms-1" #}
                                {#                                   data-bs-toggle="tooltip" #}
                                {#                                   data-bs-placement="bottom" #}
                                {#                                   title="{{ 'modifier.la.validation.infobulle'|trans({}, 'process') }}" #}
                                {#                                        {{ stimulus_controller('modal', { #}
                                {#                                            size: 'large', #}
                                {#                                            modalTitle: 'modifier.la.validation.title'|trans({}, 'process'), #}
                                {#                                            right: false, #}
                                {#                                            updateComponent: { #}
                                {#                                                id: 'mention_manage', #}
                                {#                                                event: 'mention_manage:edit' #}
                                {#                                            }, #}
                                {#                                            modalUrl: path('app_validation_edit', {id:0, type:'a'}) }) }} #}
                                {#                                   data-action="click->modal#openModal" #}
                                {#                                   data-size="lg" #}
                                {#                                > #}
                                {#                                    <i class="fal fa-wrench"></i> #}
                                {#                                </a> #}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
