<div {{ attributes }}
        id="mention_manage"
>
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% set col_date = 6 %}
                    {% set col_process = 6 %}
                    <!-- component html -->
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            &nbsp;
                        </div>
                        <div class="col-{{ col_process }} text-muted">
                            <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                                Processus de validation
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            &nbsp;
                        </div>
                        <div class="col-{{ col_process }} d-flex align-items-center justify-content-center">
                            {% for key, etape in this.process %}
                                {% if (etape.showOn is defined and etape.showOn == true) or etape.showOn is not defined %}
                                    {% set class = 'btn-muted' %}
                                    {% if isPlace('fiche', this.ficheMatiere, key) %}
                                        {% set class = 'btn-info' %}
                                    {% else %}
                                        {% if isPass('fiche', this.ficheMatiere, key) %}
                                            {% set class =  hasHistorique(this.ficheMatiere, key, this.historiques) %}
                                        {% endif %}
                                    {% endif %}
                                    <button class="btn btn-sm btn-icon btn-icon-only {{ class }} ms-1" type="button"
                                            data-controller="tooltip" data-tooltip-placement-value="bottom"
                                            aria-label="{{ etape.label|trans({}, 'process') }}"
                                            data-bs-original-title="{{ etape.label|trans({}, 'process') }}"
                                    >
                                        <i class="fal {{ etape.icon }}"></i>
                                    </button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                        Actions
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mt-2">
                        {% if this.process[this.etape] is defined %}
                            {% if this.process[this.etape].transition == 'publie' or this.process[this.etape].transition == 'transmis_pour_publication' %}
                                <div class="col-2 d-grid">
                                    <button class="btn btn-sm btn-success d-block">
                                        Fiche publiée
                                    </button>
                                </div>
                                <div class="col-4 d-grid">
{#                                    {% if not this.hasDemande %}#}
                                        <button class="btn btn-sm d-block btn-outline-warning"
                                                type="button"
                                                {{ stimulus_controller('modal', {
                                                    size: 'lg',
                                                    nomEvenement: 'refreshPage',
                                                    modalTitle: ('demande.reouverture.title')|trans({}, 'process'),
                                                    modalUrl: path('app_fiche_matiere_validation_demande_reouverture', {
                                                        id:this.ficheMatiere.id,
                                                    }) }) }}
                                                data-action="click->modal#openModal"
                                                data-controller="tooltip"
                                                data-tooltip-placement-value="bottom"

                                                aria-label="{{ ('demande.reouverture')|trans({}, 'process') }}"
                                                data-bs-original-title="{{ ('demande.reouverture')|trans({}, 'process') }}"
                                        >
                                            <i class="fal fa-question"></i> {{ ('demande.reouverture')|trans({}, 'process') }}
                                        </button>
{#                                    {% endif %}#}
                                </div>
                            {% else %}
                                {% if
                                    ((is_granted('CAN_EC_VALIDATE_MY', this.ficheMatiere) or is_granted('CAN_PARCOURS_VALIDATE_MY', this.ficheMatiere))  and  this.process[this.etape].transition == 'en_cours_redaction') or is_granted('ROLE_SES') %}
                                    {% if this.process[this.etape].hasValid %}
                                        <div class="col-2 d-grid">
{#                                            {% if this.hasDemande %}#}
{#                                                <button class="btn btn-sm d-block btn-outline-warning"#}
{#                                                        type="button"#}
{#                                                        {{ stimulus_controller('modal', {#}
{#                                                            size: 'lg',#}
{#                                                            nomEvenement: 'refreshPage',#}
{#                                                            modalTitle: ('demande.reouverture.clore.title')|trans({}, 'process'),#}
{#                                                            modalUrl: path('app_fiche_matiere_validation_demande_cloture', {#}
{#                                                                id:this.ficheMatiere.id,#}
{#                                                            }) }) }}#}
{#                                                        data-action="click->modal#openModal"#}
{#                                                        data-controller="tooltip"#}
{#                                                        data-tooltip-placement-value="bottom"#}

{#                                                        aria-label="{{ ('demande.reouverture.clore')|trans({}, 'process') }}"#}
{#                                                        data-bs-original-title="{{ ('demande.reouverture.clore')|trans({}, 'process') }}"#}
{#                                                >#}
{#                                                    <i class="fal fa-close"></i> {{ ('demande.reouverture.clore')|trans({}, 'process') }}#}
{#                                                </button>#}
{#                                            {% else %}#}
                                                <button class="btn btn-sm d-block btn-outline-success"
                                                        type="button"
                                                        {{ stimulus_controller('modal', {
                                                            size: 'lg',
                                                            updateComponent: {
                                                                id: 'mention_manage',
                                                                event: 'mention_manage:valide'
                                                            },
                                                            modalTitle: ('validation.valider.'~this.etape~'.title')|trans({}, 'process'),
                                                            modalUrl: path('app_validation_valider', {
                                                                etape:this.etape,
                                                                id:this.ficheMatiere.id,
                                                                type:'ficheMatiere'
                                                            }) }) }}
                                                        data-action="click->modal#openModal"
                                                        data-controller="tooltip"
                                                        data-tooltip-placement-value="bottom"

                                                        aria-label="{{ ('validation.valider.'~this.etape)|trans({}, 'process') }}"
                                                        data-bs-original-title="{{ ('validation.valider.'~this.etape)|trans({}, 'process') }}"
                                                >
                                                    <i class="fal fa-check"></i> {{ ('validation.valider.'~this.etape)|trans({}, 'process') }}
                                                </button>
{#                                            {% endif %}#}
                                        </div>
                                    {% else %}
                                        <div class="col-2 d-grid">
                                        </div>
                                    {% endif %}
                                    {% if this.process[this.etape].hasReserve %}
                                        <div class="col-2 d-grid">
                                            <button
                                                    class="btn btn-sm d-block btn-outline-warning"
                                                    {{ stimulus_controller('modal', {
                                                        size: 'lg',
                                                        updateComponent: {
                                                            id: 'mention_manage',
                                                            event: 'mention_manage:reserve'
                                                        },
                                                        modalTitle: ('validation.reserve.'~this.etape~'.title')|trans({}, 'process'),
                                                        modalUrl: path('app_validation_reserver', {
                                                            etape:this.etape,
                                                            id:this.ficheMatiere.id,
                                                            type:'ficheMatiere'
                                                        }) }) }}
                                                    data-action="click->modal#openModal"
                                                    data-controller="tooltip"
                                                    data-tooltip-placement-value="bottom"
                                                    aria-label="{{ ('validation.reserve.'~this.etape)|trans({}, 'process') }}"
                                                    data-bs-original-title="{{ ('validation.reserve.'~this.etape)|trans({}, 'process') }}"
                                                    type="button">
                                                <i class="fal fa-circle-exclamation-check"></i> {{ ('validation.reserve.'~this.etape)|trans({}, 'process') }}
                                            </button>
                                        </div>
                                    {% else %}
                                        <div class="col-2 d-grid">
                                        </div>

                                    {% endif %}
                                    {% if this.process[this.etape].hasRefuse %}
                                        <div class="col-2 d-grid">
                                            <button class="btn btn-sm d-block btn-outline-danger"
                                                    type="button"
                                                    {{ stimulus_controller('modal', {
                                                        size: 'lg',
                                                        updateComponent: {
                                                            id: 'mention_manage',
                                                            event: 'mention_manage:refuse'
                                                        },
                                                        modalTitle: ('validation.refuser.'~this.etape~'.title')|trans({}, 'process'),
                                                        modalUrl: path('app_validation_refuser', {
                                                            etape:this.etape,
                                                            id:this.ficheMatiere.id,
                                                            type:'ficheMatiere'
                                                        }) }) }}
                                                    data-action="click->modal#openModal"
                                                    data-controller="tooltip"
                                                    data-tooltip-placement-value="bottom"
                                                    aria-label="{{ ('validation.refuser.'~this.etape)|trans({}, 'process') }}"
                                                    data-bs-original-title="{{ ('validation.refuser.'~this.etape)|trans({}, 'process') }}"
                                            >
                                                <i class="fal fa-ban"></i> {{ ('validation.refuser.'~this.etape)|trans({}, 'process') }}
                                            </button>
                                        </div>
                                    {% else %}
                                        <div class="col-2 d-grid">
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="col-4 d-grid">
                                        {% if this.process[this.etape].transition == 'transmis_ses' %}
                                            <button class="btn btn-muted">En cours de validation central</button>
                                        {% endif %}
                                    </div>
                                    <div class="col-2 d-grid">
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        <div class="col-6 d-flex justify-content-center">
                            {#                                <button #}
                            {#                                        {{ stimulus_controller('modal', { #}
                            {#                                            size: 'lg', #}
                            {#                                            modalTitle: 'Vérifier la saisie', #}
                            {#                                            modalUrl: path('app_formation_state', {formation:formation.id}) }) }} #}
                            {#                                        data-action="click->modal#openModal" #}
                            {#                                        class="btn btn-outline-success btn-sm" #}
                            {#                                        data-size="lg" #}
                            {#                                        data-bs-toggle="tooltip" #}
                            {#                                        data-bs-placement="bottom" #}
                            {#                                        title="Vérifier la saisie" #}
                            {#                                > #}
                            {#                                    <i class="fas fa-check"></i> #}
                            {#                                    <span> Vérifier la saisie</span> #}
                            {#                                </button> #}
                            <button class="btn btn-sm btn-icon btn-icon-only btn-outline-info ms-1" type="button"
                                    {{ stimulus_controller('modal', {
                                        size: 'large',
                                        modalTitle: 'historique.de.validation.fiche_matiere.title'|trans({}, 'process'),
                                        right: true,
                                        modalUrl: path('app_historique_fiche_matiere', {ficheMatiere:this.ficheMatiere.id}) }) }}
                                    data-action="click->modal#openModal"
                                    data-size="lg"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'historique.de.validation.fiche_matiere.infobulle'|trans({}, 'process') }}"
                            >
                                <i class="fal fa-timeline"></i>
                            </button>


                            {% if is_granted('ROLE_SES') %}
                                {#                                <a href="{{ path('app_formation_edit_modal',{'slug': this.formation.slug}) }}" #}
                                {#                                   class="btn btn-sm btn-icon btn-icon-only btn-outline-secondary ms-1" #}
                                {#                                   data-bs-toggle="tooltip" #}
                                {#                                   data-bs-placement="bottom" #}
                                {#                                   title="{{ 'modifier.la.validation.infobulle'|trans({}, 'process') }}" #}
                                {#                                        {{ stimulus_controller('modal', { #}
                                {#                                            size: 'large', #}
                                {#                                            modalTitle: 'modifier.la.validation.title'|trans({}, 'process'), #}
                                {#                                            right: false, #}
                                {#                                            updateComponent: { #}
                                {#                                                id: 'mention_manage', #}
                                {#                                                event: 'mention_manage:edit' #}
                                {#                                            }, #}
                                {#                                            modalUrl: path('app_validation_edit', {id:0, type:'a'}) }) }} #}
                                {#                                   data-action="click->modal#openModal" #}
                                {#                                   data-size="lg" #}
                                {#                                > #}
                                {#                                    <i class="fal fa-wrench"></i> #}
                                {#                                </a> #}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
