{# deprecated #}
<div {{ attributes }}>
    <!-- component html -->
    <button class="btn btn-sm btn-icon btn-icon-only {{ this.allSubmitted }} ms-1" type="button"
            data-controller="tooltip" data-tooltip-placement-value="bottom"
            aria-label="{{ 'transmis.parcours.formation'|trans({}, 'process') }}"
            data-bs-original-title="{{ 'transmis.parcours.formation'|trans({}, 'process') }}"
    >
        <i class="fal fa-paper-plane"></i>
    </button>
    <button class="btn btn-sm btn-icon btn-icon-only {{ this.allValidated }} ms-1" type="button"
            data-controller="tooltip" data-tooltip-placement-value="bottom"
            aria-label="{{ 'parcours.valides.rf'|trans({}, 'process') }}"
            data-bs-original-title="{{ 'parcours.valides.rf'|trans({}, 'process') }}"
    >
        <i class="fal fa-memo-circle-check"></i>
    </button>
</div>
