<div {{ attributes }}
        id="mention_manage"
>
    {% set id = this.formation.id %}
    {% set objet = this.formation %}

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% set col_date = 6 %}
                    {% set col_process = 6 %}
                    <!-- component html -->
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">Dates de
                                validation
                            </div>
                        </div>
                        <div class="col-{{ col_process }} text-muted">
                            <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                                Etat de la formation
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            <div class="row g-3 justify-content-center">
                                {% for key, process in this.process %}
                                    {% if process.isTimeline %}
                                        <div class="col-auto text-center">
                                            <span class="text-primary text-medium">
                                                {{ (process.label~'.timeline')|trans({}, 'process') }}
                                            </span><br>
                                            <span class="align-middle text-medium">
                                                {{ this.dateHistorique(key) }}
                                            </span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {{ component('formation_state', {
                            process: this.process,
                            formation: this.formation,
                            class: 'col-'~ col_process ~' d-flex align-items-center justify-content-center'}) }}

                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                        Actions
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mt-2">
                        <div class="col-3 d-grid">
                            {% if this.hasDemande %}
                                <button class="btn btn-sm d-block btn-outline-success"
                                        type="button"
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            nomEvenement: 'refreshPage',

                                            modalTitle: ('demande.reouverture.mention.clore.title')|trans({}, 'process'),
                                            modalUrl: path('app_validation_formation_valide', {
                                                formation:formation.id,
                                                etape: 'cloture',
                                            }) }) }}
                                        data-action="click->modal#openModal"
                                        data-controller="tooltip"
                                        data-tooltip-placement-value="bottom"

                                        aria-label="{{ ('demande.reouverture.mention.clore')|trans({}, 'process') }}"
                                        data-bs-original-title="{{ ('demande.reouverture.mention.clore')|trans({}, 'process') }}"
                                >
                                    {{ ('demande.reouverture.mention.clore')|trans({}, 'process') }}
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-3 d-grid">

                        </div>

                        <div class="col-6 d-flex justify-content-center">
                            <a
                                    href="{{ path('fiche_matiere_valide_formation', {formation: this.formation.id}) }}"
                                    class="btn btn-outline-success btn-sm"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'verifier.fiches.ec.matieres.infobulle'|trans({}, 'process') }}"
                            >
                                <i class="fas fa-check"></i>
                                <span> Valider les fiches EC/matières</span>
                            </a>
                            <button
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'verifier.la.saisie.formation.title'|trans({}, 'process'),
                                        modalUrl: path('app_formation_state', {formation:formation.id}) }) }}
                                    data-action="click->modal#openModal"
                                    class="btn btn-outline-success btn-sm ms-1"
                                    data-size="lg"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'verifier.la.saisie.formation.infobulle'|trans({}, 'process') }}"
                            >
                                <i class="fas fa-check"></i>
                                <span> Vérifier la saisie</span>
                            </button>
                            {#                            {% if isPass('dpe', formation, 'soumis_conseil') %} #}
                            {# todo: plus utile ici ? mais permettre le dépôt global #}
                            {#                                {{ component('historique_pv', {formation:formation}) }} #}
                            {#                            {% endif %} #}
                            <button class="btn btn-sm btn-icon btn-icon-only btn-outline-info ms-1" type="button"
                                    {{ stimulus_controller('modal', {
                                        size: 'large',
                                        modalTitle: 'historique.de.validation.formation.title'|trans({}, 'process'),
                                        right: true,
                                        modalUrl: path('app_historique_formation', {formation:this.formation.id}) }) }}
                                    data-action="click->modal#openModal"
                                    data-size="lg"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'historique.de.validation.formation.infobulle'|trans({}, 'process') }}"
                            >
                                <i class="fal fa-timeline"></i>
                            </button>


                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_formation_edit_modal',{'slug': this.formation.slug}) }}"
                                   class="btn btn-sm btn-icon btn-icon-only btn-outline-secondary ms-1"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="{{ 'modifier.la.validation.infobulle'|trans({}, 'process') }}"
                                        {{ stimulus_controller('modal', {
                                            size: 'large',
                                            modalTitle: 'modifier.la.validation.title'|trans({}, 'process'),
                                            right: false,
                                            updateComponent: {
                                                id: 'mention_manage',
                                                event: 'mention_manage:edit'
                                            },
                                            modalUrl: path('app_validation_edit', {id:this.type == 'formation' ? this.formation.id : this.parcours.id, type:this.type}) }) }}
                                   data-action="click->modal#openModal"
                                   data-size="lg"
                                >
                                    <i class="fal fa-wrench"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                        Gestion de la formation
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mt-2">
                        <div class="col-3 d-grid">
                            {% if is_granted('MANAGE', {route: 'app_formation', subject: this.formation}) %}
                                {% if not this.hasDemande %}

                                    <button class="btn btn-sm d-block btn-outline-warning"
                                            type="button"
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                nomEvenement: 'redirectEdit',
                                                modalTitle: ('demande.reouverture.formation.title')|trans({}, 'process'),
                                                modalUrl: path('app_validation_demande_reouverture_mention', {
                                                    formation:formation.id,
                                                }) }) }}
                                            data-action="click->modal#openModal"
                                            data-controller="tooltip"
                                            data-tooltip-placement-value="bottom"

                                            aria-label="{{ ('demande.reouverture.formation')|trans({}, 'process') }}"
                                            data-bs-original-title="{{ ('demande.reouverture.formation')|trans({}, 'process') }}"
                                    >
                                        <i class="fal fa-question"></i> {{ ('demande.reouverture.formation')|trans({}, 'process') }}
                                    </button>
                                {% else %}
                                    <button class="btn btn-sm d-block btn-outline-warning"
                                            type="button"
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                nomEvenement: 'refreshPage',
                                                modalTitle: ('demande.reouverture.mention.annuler.title')|trans({}, 'process'),
                                                modalUrl: path('app_validation_demande_reouverture_cloture_mention', {
                                                    formation:formation.id,
                                                }) }) }}
                                            data-action="click->modal#openModal"
                                            data-controller="tooltip"
                                            data-tooltip-placement-value="bottom"
                                            aria-label="{{ ('demande.reouverture.mention.annuler')|trans({}, 'process') }}"
                                            data-bs-original-title="{{ ('demande.reouverture.mention.annuler')|trans({}, 'process') }}"
                                    >
                                        <i class="fal fa-times"></i> {{ ('demande.reouverture.mention.annuler')|trans({}, 'process') }}
                                    </button>
                                {% endif %}
                            {% else %}
                                {% if not this.hasDemande and this.formation.etatReconduction.value == 'FORMATION_SOUMIS_SES' %}
                                    <button class="btn btn-sm d-block btn-outline-warning">
                                        Soumis SES, attente validation
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-3 d-grid">
                            {% if is_granted('MANAGE', {route: 'app_formation', subject: this.formation}) %}
                            <button
                                    href="#"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'formation.change_rf.title'|trans({}, 'form'),
                                        nomEvenement: 'refreshPage',
                                        modalUrl: path('app_formation_change_rf', {formation: formation.id}) }) }}
                                    data-action="click->modal#openModal"
                                    data-size="lg"
                                    class="btn btn-sm btn-outline-warning d-block"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'formation.change_rf.title'|trans({}, 'form') }}"
                            >
                                <i class="fal fa-repeat"></i>
                                <span> {{ 'formation.change_rf.label'|trans({}, 'form') }}</span>
                            </button>
                            {% endif %}
                        </div>
                        <div class="col-3 d-grid">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_codification_index', {formation: formation.id}) }}"
                                   class="btn btn-sm btn-outline-info">Gérer les versions</a>
                            {% endif %}
                        </div>
                        <div class="col-3 d-grid">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_codification_index', {formation: formation.id}) }}"
                                   class="btn btn-sm btn-outline-info">Gérer la codification</a>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <twig:ChangeRfState formation="{{ this.formation }}"/>
</div>
