<div {{ attributes }}
        id="mention_manage"
>
    {% set id = this.formation.id %}
    {% set objet = this.formation %}

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% set col_date = 6 %}
                    {% set col_process = 6 %}
                    <!-- component html -->
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">Dates de
                                validation
                            </div>
                        </div>
                        <div class="col-{{ col_process }} text-muted">
                            <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                                Etat de la formation
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            <div class="row g-3 justify-content-center">
                                {% for key, process in this.process %}
                                    {% if process.isTimeline %}
                                        <div class="col-auto text-center">
                                            <span class="text-primary text-medium">
                                                {{ (process.label~'.timeline')|trans({}, 'process') }}
                                            </span><br>
                                            <span class="align-middle text-medium">
                                                {{ this.dateHistorique(key) }}
                                            </span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                            {{ component('formation_state', {
                                process: this.process,
                                formation: this.formation,
                                class: 'col-'~ col_process ~' d-flex align-items-center justify-content-center'}) }}

                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                        Actions
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mt-2">
                        <div class="col-3 d-grid">
                            {% if not this.hasDemande %}
                                <button class="btn btn-sm d-block btn-outline-warning"
                                        type="button"
                                        {#                                        {{ stimulus_controller('modal', {#}
                                        {#                                            size: 'lg',#}
                                        {#                                            nomEvenement: 'refreshPage',#}
                                        {#                                            modalTitle: ('demande.reouverture.title')|trans({}, 'process'),#}
                                        {#                                            modalUrl: path('app_validation_demande_reouverture', {#}
                                        {#                                                id:formation.parcours[0].id,#}
                                        {#                                                type:'parcours'#}
                                        {#                                            }) }) }}#}
                                        data-action="click->modal#openModal"
                                        data-controller="tooltip"
                                        data-tooltip-placement-value="bottom"

                                        aria-label="{{ ('demande.reouverture')|trans({}, 'process') }}"
                                        data-bs-original-title="{{ ('demande.reouverture')|trans({}, 'process') }}"
                                >
                                    <i class="fal fa-question"></i> {{ ('demande.reouverture')|trans({}, 'process') }}
                                </button>
                            {% else %}
                                <button class="btn btn-sm d-block btn-outline-success"
                                        type="button"
                                        {#                                            {{ stimulus_controller('modal', {#}
                                        {#                                                size: 'lg',#}
                                        {#                                                nomEvenement: 'refreshPage',#}
                                        {#                                                modalTitle: ('demande.reouverture.clore.title')|trans({}, 'process'),#}
                                        {#                                                modalUrl: path('app_validation_demande_reouverture_cloture', {#}
                                        {#                                                    id:formation.parcours[0].id,#}
                                        {#                                                    type:'parcours'#}
                                        {#                                                }) }) }}#}
                                        data-action="click->modal#openModal"
                                        data-controller="tooltip"
                                        data-tooltip-placement-value="bottom"

                                        aria-label="{{ ('demande.reouverture.clore')|trans({}, 'process') }}"
                                        data-bs-original-title="{{ ('demande.reouverture.clore')|trans({}, 'process') }}"
                                >
                                    {{ ('demande.reouverture.clore')|trans({}, 'process') }}
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-3 d-grid">
                            <button
                                    href="#"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'formation.change_rf.title'|trans({}, 'form'),
                                        nomEvenement: 'refreshStep',
                                        modalUrl: path('app_formation_change_rf', {formation: formation.id}) }) }}
                                    data-action="click->modal#openModal"
                                    data-size="lg"
                                    class="btn btn-sm btn-outline-warning"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'formation.change_rf.title'|trans({}, 'form') }}"
                            >
                                <i class="fal fa-repeat"></i>
                                <span> {{ 'formation.change_rf.label'|trans({}, 'form') }}</span>
                            </button>
                        </div>

                        <div class="col-6 d-flex justify-content-start">
                            <a
                                    href="{{ path('fiche_matiere_valide_formation', {formation: this.formation.id}) }}"
                                    class="btn btn-outline-success btn-sm"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'verifier.fiches.ec.matieres.infobulle'|trans({}, 'process') }}"
                            >
                                <i class="fas fa-check"></i>
                                <span> Valider les fiches EC/matières</span>
                            </a>
                            <button
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'verifier.la.saisie.formation.title'|trans({}, 'process'),
                                        modalUrl: path('app_formation_state', {formation:formation.id}) }) }}
                                    data-action="click->modal#openModal"
                                    class="btn btn-outline-success btn-sm ms-1"
                                    data-size="lg"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'verifier.la.saisie.formation.infobulle'|trans({}, 'process') }}"
                            >
                                <i class="fas fa-check"></i>
                                <span> Vérifier la saisie</span>
                            </button>
{#                            {% if isPass('dpe', formation, 'soumis_conseil') %}#}
                            {# todo: plus utile ici ? mais permettre le dépôt global #}
{#                                {{ component('historique_pv', {formation:formation}) }}#}
{#                            {% endif %}#}

                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                        Gestion de la formation
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mt-2">
                        <div class="col-3 d-grid">
                            {% if is_granted('ROLE_SES') or is_granted('CAN_ETABLISSEMENT_SCOLARITE_ALL') or is_granted('CAN_FORMATION_SCOLARITE_MY', formation) %}
                                <a href="{{ path('app_codification_index', {formation: formation.id}) }}"
                                   class="btn btn-sm btn-outline-info">Gérer les versions</a>
                            {% endif %}
                        </div>
                        <div class="col-3 d-grid">
                            {% if is_granted('ROLE_SES') or is_granted('CAN_ETABLISSEMENT_SCOLARITE_ALL') or is_granted('CAN_FORMATION_SCOLARITE_MY', formation) %}
                                <a href="{{ path('app_codification_index', {formation: formation.id}) }}"
                                   class="btn btn-sm btn-outline-info">Gérer la codification</a>
                            {% endif %}
                        </div>
                        <div class="col-2"></div>
                        <div class="col-4 d-flex justify-content-end">
                            <button class="btn btn-sm btn-icon btn-icon-only btn-outline-info ms-1" type="button"
                                    {{ stimulus_controller('modal', {
                                        size: 'large',
                                        modalTitle: 'historique.de.validation.formation.title'|trans({}, 'process'),
                                        right: true,
                                        modalUrl: path('app_historique_formation', {formation:this.formation.id}) }) }}
                                    data-action="click->modal#openModal"
                                    data-size="lg"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="{{ 'historique.de.validation.formation.infobulle'|trans({}, 'process') }}"
                            >
                                <i class="fal fa-timeline"></i>
                            </button>


                            {% if is_granted('ROLE_SES') %}
                                <a href="{{ path('app_formation_edit_modal',{'slug': this.formation.slug}) }}"
                                   class="btn btn-sm btn-icon btn-icon-only btn-outline-secondary ms-1"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="{{ 'modifier.la.validation.infobulle'|trans({}, 'process') }}"
                                        {{ stimulus_controller('modal', {
                                            size: 'large',
                                            modalTitle: 'modifier.la.validation.title'|trans({}, 'process'),
                                            right: false,
                                            updateComponent: {
                                                id: 'mention_manage',
                                                event: 'mention_manage:edit'
                                            },
                                            modalUrl: path('app_validation_edit', {id:this.type == 'formation' ? this.formation.id : this.parcours.id, type:this.type}) }) }}
                                   data-action="click->modal#openModal"
                                   data-size="lg"
                                >
                                    <i class="fal fa-wrench"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <twig:ChangeRfState formation="{{ this.formation }}" />

{#    {% for demande in formation.changeRves|filter(demande => demande.etatDemande.value == 'EN_ATTENTE') %}#}
{#        <div class="col-12  mt-2">#}
{#            <div class="alert alert-info">#}
{#                Une demande de modification est en attente de validation par la CFVU. Remplacement#}
{#                de {{ demande.ancienResponsable != null ?  demande.ancienResponsable.display : 'non défini' }}#}
{#                par {{ demande.nouveauResponsable != null ? demande.nouveauResponsable.display : 'non défini' }}#}
{#                .#}
{#                <a href="{{ path('app_formation_change_rf_suppression', {demande:demande.id}) }}"#}
{#                   class="text-danger"><i class="{{ iconDelete }}"></i> Annuler la demande ?</a>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
</div>
