<div {{ attributes }}
        id="mention_manage"
>
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% set col_date = 6 %}
                    {% set col_process = 6 %}
                    <!-- component html -->
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">Dates de
                                validation
                            </div>
                        </div>
                        <div class="col-{{ col_process }} text-muted">
                            <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                                Processus de validation
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            <div class="row g-3 justify-content-center">
                                {% for key, process in this.process %}
                                    {% if process.isTimeline %}
                                        <div class="col-auto text-center">
                                            <span class="text-primary text-medium">
                                                {{ (process.label~'.timeline')|trans({}, 'process') }}
                                            </span><br>
                                            <span class="align-middle text-medium">
                                                {{ this.dateHistorique(key) }}
                                            </span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-{{ col_process }} d-flex align-items-center justify-content-center">
                            {# todo: vérifier que c'est validable (toutes les fiches OK, tous les parcours OK #}
                            {% for key, etape in this.process %}
                                {% if (etape.showOn is defined and this.type in etape.showOn) or etape.showOn is not defined %}
                                    {# btn-outline-info ou btn-outline-muted #}
                                    <button class="btn btn-sm btn-icon btn-icon-only
                            {% if (key == 'parcours' and isPass('parcours',this.parcours, etape.transition)) or isPass('dpe',this.formation, etape.transition) %}
                                btn-success {# toutes les étapes avant l'étape en cours #}
                            {% elseif isRefuse('dpe',this.formation, etape.transition) %}
                                btn-danger {# toutes les étapes avant l'étape en cours #}
                            {% else %}
                                {% if isPlace('dpe', this.formation, etape.transition) %}
                                    btn-info {# l'étape en cours #}
                                {% else %}
                                    btn-muted {# les prochaines étapes #}
                                {% endif %}
                                {# todo: mettre en warning si réserve sur une étape #}
                            {% endif %}
                            ms-1" type="button"
                                            data-controller="tooltip" data-tooltip-placement-value="bottom"
                                            aria-label="{{ etape.label|trans({}, 'process') }}"
                                            data-bs-original-title="{{ etape.label|trans({}, 'process') }}"
                                    >
                                        <i class="fal {{ etape.icon }}"></i>
                                    </button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                        Actions
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mt-2">
                        {% if not isRefuse('dpe',this.formation) %}
                            {% if this.type == 'parcours' %}
                                {% set id = this.parcours.id %}
                            {% elseif this.type == 'fiche_matiere' %}
                                {% set id = this.ficheMatiere.id %}
                            {% else %}
                                {% set id = this.formation.id %}
                            {% endif %}

                            {% if this.process[this.etape] is defined and this.process[this.etape].page == this.type %}
                                {% if this.process[this.etape].hasValid %}
                                    <div class="col-2 d-grid">
                                        <button class="btn btn-sm d-block btn-outline-success"
                                                type="button"

                                                {{ stimulus_controller('modal', {
                                                    size: 'lg',
                                                    updateComponent: {
                                                        id: 'mention_manage',
                                                        event: 'mention_manage:valide'
                                                    },
                                                    modalTitle: ('validation.valider.'~this.etape~'.title')|trans({}, 'process'),
                                                    modalUrl: path('app_validation_valide', {
                                                        etape:this.etape,
                                                        id:id,
                                                        type:this.type
                                                    }) }) }}
                                                {#                                                todo: peut être formation, parcours ou fm #}
                                                data-action="click->modal#openModal"
                                                data-controller="tooltip"
                                                data-tooltip-placement-value="bottom"

                                                aria-label="{{ ('validation.valider.'~this.etape)|trans({}, 'process') }}"
                                                data-bs-original-title="{{ ('validation.valider.'~this.etape)|trans({}, 'process') }}"
                                        >
                                            <i class="fal fa-check"></i> {{ ('validation.valider.'~this.etape)|trans({}, 'process') }}
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="col-2 d-grid">
                                    </div>
                                {% endif %}
                                {% if this.process[this.etape].hasReserve %}
                                    <div class="col-2 d-grid">
                                        <button
                                                class="btn btn-sm d-block btn-outline-warning"
                                                {{ stimulus_controller('modal', {
                                                    size: 'lg',
                                                    updateComponent: {
                                                        id: 'mention_manage',
                                                        event: 'mention_manage:reserve'
                                                    },
                                                    modalTitle: ('validation.reserve.'~this.etape~'.title')|trans({}, 'process'),
                                                    modalUrl: path('app_validation_reserve', {
                                                        etape:this.etape,
                                                        id:id,
                                                        type:this.type
                                                    }) }) }}
                                                data-action="click->modal#openModal"
                                                data-controller="tooltip"
                                                data-tooltip-placement-value="bottom"
                                                aria-label="{{ ('validation.reserve.'~this.etape)|trans({}, 'process') }}"
                                                data-bs-original-title="{{ ('validation.reserve.'~this.etape)|trans({}, 'process') }}"
                                                type="button">
                                            <i class="fal fa-circle-exclamation-check"></i> {{ ('validation.reserve.'~this.etape)|trans({}, 'process') }}
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="col-2 d-grid">
                                    </div>

                                {% endif %}
                                {% if this.process[this.etape].hasRefuse %}
                                    <div class="col-2 d-grid">
                                        <button class="btn btn-sm d-block btn-outline-danger"
                                                type="button"
                                                {{ stimulus_controller('modal', {
                                                    size: 'lg',
                                                    updateComponent: {
                                                        id: 'mention_manage',
                                                        event: 'mention_manage:refuse'
                                                    },
                                                    modalTitle: ('validation.refuser.'~this.etape~'.title')|trans({}, 'process'),
                                                    modalUrl: path('app_validation_refuse', {
                                                        etape:this.etape,
                                                        id:id,
                                                        type:this.type
                                                    }) }) }}
                                                data-action="click->modal#openModal"
                                                data-controller="tooltip"
                                                data-tooltip-placement-value="bottom"
                                                aria-label="{{ ('validation.refuser.'~this.etape)|trans({}, 'process') }}"
                                                data-bs-original-title="{{ ('validation.refuser.'~this.etape)|trans({}, 'process') }}"
                                        >
                                            <i class="fal fa-ban"></i> {{ ('validation.refuser.'~this.etape)|trans({}, 'process') }}
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="col-2 d-grid">
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if this.type=='parcours' and this.parcours.etatParcours['soumis_parcours'] is defined %}
                                    <div class="col-2 d-grid">
                                        <button class="btn btn-sm btn-success d-block">Transmis responsable de
                                            formation
                                        </button>
                                    </div>
                                {% elseif this.type=='parcours' and this.parcours.etatParcours['soumis_parcours_rf'] is defined %}
                                    <div class="col-2 d-grid">
                                        <button class="btn btn-sm btn-success d-block">Transmis DPE</button>
                                    </div>
                                {% else %}
                                    <div class="col-2 d-grid">
                                        <button class="btn btn-sm btn-warning d-block">Validation indisp.
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="col-4 d-grid">
                                </div>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-sm btn-outline-danger">Refusé</button>
                        {% endif %}

                        <div class="col-6 d-flex justify-content-center">
                            {% if this.type == 'parcours' %}
                                <button
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Vérifier la saisie',
                                            modalUrl: path('app_parcours_state', {parcours:parcours.id}) }) }}
                                        data-action="click->modal#openModal"
                                        class="btn btn-outline-success btn-sm"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="Vérifier la saisie"
                                >
                                    <i class="fas fa-check"></i>
                                    <span> Vérifier la saisie</span>
                                </button>
                                <button class="btn btn-sm btn-icon btn-icon-only btn-outline-info ms-1" type="button"
                                        {{ stimulus_controller('modal', {
                                            size: 'large',
                                            modalTitle: 'Historique des validations',
                                            right: true,
                                            modalUrl: path('app_historique_parcours', {parcours:this.parcours.id}) }) }}
                                        data-action="click->modal#openModal"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="Historique des validations"
                                >
                                    <i class="fal fa-timeline"></i>
                                </button>
                            {% elseif this.type == 'fiche_matiere' %}
                                {#                                <button #}
                                {#                                        {{ stimulus_controller('modal', { #}
                                {#                                            size: 'lg', #}
                                {#                                            modalTitle: 'Vérifier la saisie', #}
                                {#                                            modalUrl: path('app_formation_state', {formation:formation.id}) }) }} #}
                                {#                                        data-action="click->modal#openModal" #}
                                {#                                        class="btn btn-outline-success btn-sm" #}
                                {#                                        data-size="lg" #}
                                {#                                        data-bs-toggle="tooltip" #}
                                {#                                        data-bs-placement="bottom" #}
                                {#                                        title="Vérifier la saisie" #}
                                {#                                > #}
                                {#                                    <i class="fas fa-check"></i> #}
                                {#                                    <span> Vérifier la saisie</span> #}
                                {#                                </button> #}
                                <button class="btn btn-sm btn-icon btn-icon-only btn-outline-info ms-1" type="button"
                                        {{ stimulus_controller('modal', {
                                            size: 'large',
                                            modalTitle: 'Historique des validations',
                                            right: true,
                                            modalUrl: path('app_historique_fiche_matiere', {fiche_matiere:this.fiche_matiere.id}) }) }}
                                        data-action="click->modal#openModal"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="Historique des validations"
                                >
                                    <i class="fal fa-timeline"></i>
                                </button>
                            {% else %}
                                <button
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Vérifier la saisie',
                                            modalUrl: path('app_formation_state', {formation:formation.id}) }) }}
                                        data-action="click->modal#openModal"
                                        class="btn btn-outline-success btn-sm"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="Vérifier la saisie"
                                >
                                    <i class="fas fa-check"></i>
                                    <span> Vérifier la saisie</span>
                                </button>
                                {% if isPass('dpe', formation, 'soumis_conseil') %}
                                    {{ component('historique_pv', {formation:formation}) }}
                                {% endif %}
                                <button class="btn btn-sm btn-icon btn-icon-only btn-outline-info ms-1" type="button"
                                        {{ stimulus_controller('modal', {
                                            size: 'large',
                                            modalTitle: 'Historique des validations',
                                            right: true,
                                            modalUrl: path('app_historique_formation', {formation:this.formation.id}) }) }}
                                        data-action="click->modal#openModal"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="Historique des validations"
                                >
                                    <i class="fal fa-timeline"></i>
                                </button>
                            {% endif %}

                            {% if is_granted('ROLE_SES') %}
                                <a href="{{ path('app_formation_edit_modal',{'slug': this.formation.slug}) }}"
                                   class="btn btn-sm btn-icon btn-icon-only btn-outline-secondary ms-1"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="Modifier la validation"
                                        {{ stimulus_controller('modal', {
                                            size: 'large',
                                            modalTitle: 'Modifier la validation',
                                            right: false,
                                            updateComponent: {
                                                id: 'mention_manage',
                                                event: 'mention_manage:edit'
                                            },
                                            modalUrl: path('app_validation_edit', {id:this.formation.id,
                                                type:this.type}) }) }}
                                   data-action="click->modal#openModal"
                                   data-size="lg"
                                >
                                    <i class="fal fa-wrench"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
