<div {{ attributes }}
        id="parcours_manage"
>
    {% set id = this.parcours.id %}
    {% set objet = this.parcours %}

    {% if parcours.isParcoursDefaut == true %}
        {% set prefix = 'formation' %}
    {% else %}
        {% set prefix = 'parcours' %}
    {% endif %}

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% set col_date = 6 %}
                    {% set col_process = 6 %}
                    <!-- component html -->
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">Dates de
                                validation
                            </div>
                        </div>
                        <div class="col-{{ col_process }} text-muted">
                            <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                                Processus de validation
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-{{ col_date }} text-muted">
                            <div class="row g-3 justify-content-center">
                                {% for key, process in this.process %}
                                    {% if process.isTimeline %}
                                        <div class="col-auto text-center">
                                            <span class="text-primary text-medium">
                                                {{ (process.label~'.timeline')|trans_debug({}, 'process') }}
                                            </span><br>
                                            <span class="align-middle text-medium">
                                                {{ this.dateHistorique(key) }}
                                            </span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-{{ col_process }} d-flex align-items-center justify-content-center">
                            {% for key, etape in this.process %}
                                {% set class = 'btn-muted' %}
                                {% if (isPlace('parcours', this.parcours, key)) %}
                                    {% set class = 'btn-info' %}
                                {% else %}
                                    {% set class =  hasHistorique(this.parcours, key, this.historiques) %}
                                {% endif %}

                                {% if this.formation.isHasParcours == false and (key == 'parcours' or key == 'parcours_rf') %}
                                {% else %}
                                    <button class="btn btn-sm btn-icon btn-icon-only {{ class }} ms-1" type="button"
                                            data-controller="tooltip" data-tooltip-placement-value="bottom"
                                            aria-label="{{ (prefix~'.'~etape.label~'.'~class)|trans({}, 'process') }}"
                                            data-bs-original-title="{{ (prefix~'.'~etape.label~'.'~class)|trans({}, 'process') }}"
                                    >
                                        <i class="fal {{ etape.icon }}"></i>
                                    </button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                        Actions
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mt-2">
                        {% if this.dpeParcours.etatReconduction.value == 'NON_OUVERTURE' %}
                            <div class="col-6 d-grid">
                                <button class="btn btn-sm btn-warning">
                                    Parcours non ouvert
                                </button>
                            </div>
                        {% elseif this.dpeParcours.etatReconduction.value == 'NON_OUVERTURE_SES' %}
                            <div class="col-6 d-grid">
                                <button class="btn btn-sm btn-warning">
                                    Non ouverture demandée. Attente de la réponse du SES
                                </button>
                            </div>
                        {% else %}
                            {% if (isRefuse('parcours',this.parcours)) %}
                                <div class="col-6 d-grid">
                                    <button class="btn btn-sm btn-danger">
                                        {{ ('validation.etat.refuser.'~this.place)|trans_debug({}, 'process') }}
                                    </button>
                                </div>
                            {% elseif (isPublie(this.parcours, 'parcours')) %}
                                <div class="col-6 d-grid">
                                    <button class="btn btn-sm btn-success">
                                        {{ ('validation.etat.publie')|trans_debug({}, 'process') }}
                                    </button>
                                </div>
                            {% else %}
                                {% if this.process[this.place] is defined %}
                                    <div class="col-6">
                                        <div class="row gy-1">
                                            {# todo: vérifier si le RP peut valider niveau RF? #}
                                            {% if
                                                is_granted('MANAGE', {route: 'app_composante', subject: this.dpeParcours})  or
                                                is_granted('MANAGE', {route: 'app_formation', subject: this.dpeParcours})  or
                                                is_granted('MANAGE', {route: 'app_parcours', subject: this.dpeParcours}) or is_granted('ROLE_ADMIN') %}
                                                {% for key, state in hasTransitions(this.dpeParcours) %}
                                                    {% for keyTrans, transition in state %}
                                                        <div class="col-4 d-grid">
                                                            {% if keyTrans == 'valider_publication' or keyTrans == 'publier' %}
                                                                {% if is_granted('MANAGE', {route: 'app_etablissement', subject: 'etablissement'}) or is_granted('ROLE_ADMIN') %}
                                                                    <button class="btn d-block text-wrap btn-outline-{{ transition.meta.btn }}"
                                                                            type="button"
                                                                            {{ stimulus_controller('modal', {
                                                                                size: 'lg',
                                                                                updateComponent: {
                                                                                    id: 'parcours_manage',
                                                                                    event: 'mention_manage:'~key,
                                                                                    event_type: key
                                                                                },
                                                                                modalTitle: ('validation.valider.'~prefix~'.'~keyTrans~'.title')|trans_debug({}, 'process'),
                                                                                modalUrl: path('app_validation_'~key, {
                                                                                    etape:this.place,
                                                                                    transition:keyTrans,
                                                                                    id:id,
                                                                                    type:'parcours'
                                                                                }) }) }}
                                                                            data-action="click->modal#openModal"
                                                                            data-controller="tooltip"
                                                                            data-tooltip-placement-value="bottom"
                                                                            aria-label="{{ ('title.validation.'~prefix~'.'~keyTrans)|trans({}, 'process') }}"
                                                                            data-bs-original-title="{{ ('title.validation.'~prefix~'.'~keyTrans)|trans({}, 'process') }}"
                                                                    >
                                                                        <i class="fal {{ transition.meta.icon }}"></i> {{ ('btn.validation.'~prefix~'.'~keyTrans)|trans_debug({}, 'process') }}
                                                                    </button>
                                                                {% else %}
                                                                    <button class="btn btn-sm btn-muted d-block">
                                                                        {{ 'validation.indisponible'|trans_debug({}, 'process') }}
                                                                    </button>
                                                                {% endif %}
                                                            {% else %}
                                                                <button class="btn d-block text-wrap btn-outline-{{ transition.meta.btn }}"
                                                                        type="button"
                                                                        {{ stimulus_controller('modal', {
                                                                            size: 'lg',
                                                                            updateComponent: {
                                                                                id: 'parcours_manage',
                                                                                event: 'mention_manage:'~key,
                                                                                event_type: key
                                                                            },
                                                                            modalTitle: ('validation.valider.'~prefix~'.'~keyTrans~'.title')|trans_debug({}, 'process'),
                                                                            modalUrl: path('app_validation_'~key, {
                                                                                etape:this.place,
                                                                                transition:keyTrans,
                                                                                id:id,
                                                                                type:'parcours'
                                                                            }) }) }}
                                                                        data-action="click->modal#openModal"
                                                                        data-controller="tooltip"
                                                                        data-tooltip-placement-value="bottom"
                                                                        aria-label="{{ ('title.validation.'~prefix~'.'~keyTrans)|trans({}, 'process') }}"
                                                                        data-bs-original-title="{{ ('title.validation.'~prefix~'.'~keyTrans)|trans({}, 'process') }}"
                                                                >
                                                                    <i class="fal {{ transition.meta.icon }}"></i> {{ ('btn.validation.'~prefix~'.'~keyTrans)|trans_debug({}, 'process') }}
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    {% else %}
                                                        <div class="col-4 d-grid">
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="col-6 d-grid">
                                                        <button class="btn btn-sm btn-muted d-block">
                                                            {{ 'validation.formation.indisponible'|trans_debug({}, 'process') }}
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="col-2 d-grid">
                                                    <button class="btn btn-sm btn-muted d-block">
                                                        {{ 'validation.indisponible'|trans_debug({}, 'process') }}
                                                    </button>
                                                </div>
                                                <div class="col-4 d-grid">
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-6"></div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <div class="col-6 d-flex justify-content-center">
                            {% if this.parcours.isParcoursDefaut == false %}
                                <a
                                        href="{{ path('fiche_matiere_valide_parcours', {parcours: this.parcours.id}) }}"
                                        class="btn btn-outline-success btn-sm"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="{{ 'verifier.fiches.ec.matieres.infobulle'|trans({}, 'process') }}"
                                >
                                    <i class="fas fa-check"></i>
                                    <span> Valider les fiches EC/matières</span>
                                </a>
                                <button
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'verifier.la.saisie.parcours.title'|trans_debug({}, 'process'),
                                            modalUrl: path('app_parcours_state', {parcours:parcours.id}) }) }}
                                        data-action="click->modal#openModal"
                                        class="btn btn-outline-success btn-sm ms-1"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="{{ 'verifier.la.saisie.parcours.infobulle'|trans({}, 'process') }}"
                                >
                                    <i class="fas fa-check"></i>
                                    <span> Vérifier la saisie</span>
                                </button>
                                {% if isPass('dpe', parcours, 'soumis_conseil') %}
                                    {{ component('historique_pv', {parcours:parcours}) }}
                                {% endif %}
                                <button class="btn btn-sm btn-icon btn-icon-only btn-outline-info ms-1" type="button"
                                        {{ stimulus_controller('modal', {
                                            size: 'large',
                                            modalTitle: 'historique.de.validation.parcours.title'|trans_debug({}, 'process'),
                                            right: true,
                                            modalUrl: path('app_historique_parcours', {parcours:this.parcours.id}) }) }}
                                        data-action="click->modal#openModal"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="{{ 'historique.de.validation.parcours.infobulle'|trans({}, 'process') }}"
                                >
                                    <i class="fal fa-timeline"></i>
                                </button>
                            {% else %}
                                <a
                                        href="{{ path('fiche_matiere_valide_formation', {formation: this.formation.id}) }}"
                                        class="btn btn-outline-success btn-sm"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="{{ 'verifier.fiches.ec.matieres.infobulle'|trans({}, 'process') }}"
                                >
                                    <i class="fas fa-check"></i>
                                    <span> Valider les fiches EC/matières</span>
                                </a>
                                <button
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'verifier.la.saisie.formation.title'|trans_debug({}, 'process'),
                                            modalUrl: path('app_formation_state', {formation:formation.id}) }) }}
                                        data-action="click->modal#openModal"
                                        class="btn btn-outline-success btn-sm ms-1"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="{{ 'verifier.la.saisie.formation.infobulle'|trans({}, 'process') }}"
                                >
                                    <i class="fas fa-check"></i>
                                    <span> Vérifier la saisie</span>
                                </button>
                                {% if isPass('dpe', parcours, 'soumis_conseil') %}
                                    {{ component('historique_pv', {parcours:parcours}) }}
                                {% endif %}
                                <button class="btn btn-sm btn-icon btn-icon-only btn-outline-info ms-1" type="button"
                                        {{ stimulus_controller('modal', {
                                            size: 'large',
                                            modalTitle: 'historique.de.validation.formation.title'|trans_debug({}, 'process'),
                                            right: true,
                                            modalUrl: path('app_historique_formation', {formation:this.formation.id}) }) }}
                                        data-action="click->modal#openModal"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="{{ 'historique.de.validation.formation.infobulle'|trans({}, 'process') }}"
                                >
                                    <i class="fal fa-timeline"></i>
                                </button>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_formation_edit_modal',{'slug': this.formation.slug}) }}"
                                   class="btn btn-sm btn-icon btn-icon-only btn-outline-secondary ms-1"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="{{ 'modifier.la.validation.infobulle'|trans({}, 'process') }}"
                                        {{ stimulus_controller('modal', {
                                            size: 'large',
                                            modalTitle: 'gestion.admin.title'|trans_debug({},),
                                            right: true,
                                            updateComponent: {
                                                id: 'mention_manage',
                                                event: 'mention_manage:edit'
                                            },

                                            modalUrl: path('app_admin_edit_modal', {id: this.parcours.id, type:'parcours'})
                                        }) }}
                                   data-action="click->modal#openModal"
                                   data-size="lg"
                                >
                                    <i class="fal fa-wrench"></i>
                                </a>
                                <a href="{{ path('app_parcours_update_remplissage',{'parcours': this.parcours.id}) }}"
                                   class="btn btn-sm btn-icon btn-icon-only btn-outline-secondary ms-1"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="{{ 'mettre.a.jour.remplissage'|trans({}, 'process') }}"
                                >
                                    <i class="fal fa-percent"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-extra-small fw-medium text-muted text-center text-divider mb-2">
                        Gestion du parcours
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mt-2">
                        <div class="col-3 d-grid">
                            {% if
                                is_granted('MANAGE', {route: 'app_parcours', subject: this.dpeParcours})
                                or is_granted('MANAGE', {route: 'app_formation', subject: this.dpeParcours})
                                or is_granted('MANAGE', {route: 'app_composante', subject: this.dpeParcours})
                                or is_granted('MANAGE', {route: 'app_etablissement', subject: 'etablissement'})
                                or is_granted('ROLE_ADMIN') %}
                                {% if this.dpeParcours.etatReconduction.value != 'NON_OUVERTURE' %}
                                    {% if not this.hasDemande and isOuvrable(this.parcours) %}
                                        <button class="btn btn-sm d-block btn-outline-warning"
                                                type="button"
                                                {{ stimulus_controller('modal', {
                                                    size: 'lg',
                                                    nomEvenement: 'redirectEdit',
                                                    modalTitle: ('demande.reouverture.title')|trans_debug({}, 'process'),
                                                    modalUrl: path('app_validation_demande_reouverture', {
                                                        parcours: id
                                                    }) }) }}
                                                data-action="click->modal#openModal"
                                                data-controller="tooltip"
                                                data-tooltip-placement-value="bottom"
                                                aria-label="{{ ('demande.reouverture')|trans({}, 'process') }}"
                                                data-bs-original-title="{{ ('demande.reouverture')|trans({}, 'process') }}"
                                        >
                                            <i class="fal fa-question"></i> {{ ('demande.reouverture')|trans_debug({}, 'process') }}
                                        </button>
                                        {# todo: fermeture que si pas de MCCC/Maquette pour revenir en SES sans CFVU avant publication #}
                                    {% elseif this.hasDemande %}
                                        <button class="btn btn-sm d-block btn-outline-warning"
                                                type="button"
                                                {{ stimulus_controller('modal', {
                                                    size: 'lg',
                                                    nomEvenement: 'refreshPage',

                                                    modalTitle: ('demande.reouverture.annuler.title')|trans_debug({}, 'process'),
                                                    modalUrl: path('app_validation_demande_reouverture_cloture', {
                                                        parcours:id
                                                    }) }) }}
                                                data-action="click->modal#openModal"
                                                data-controller="tooltip"
                                                data-tooltip-placement-value="bottom"
                                                aria-label="{{ ('demande.reouverture.annuler')|trans({}, 'process') }}"
                                                data-bs-original-title="{{ ('demande.reouverture.annuler')|trans({}, 'process') }}"
                                        >
                                            <i class="fal fa-times"></i> {{ ('demande.reouverture.annuler')|trans_debug({}, 'process') }}
                                        </button>

                                        {% if this.dpeParcours.etatReconduction.value == 'MODIFICATION_TEXTE' %}
                                            <button class="btn btn-sm mt-1 d-block btn-outline-warning"
                                                    type="button"
                                                    {{ stimulus_controller('modal', {
                                                        size: 'lg',
                                                        nomEvenement: 'refreshPage',
                                                        modalTitle: ('demande.reouverture.basculer.cfvu.title')|trans_debug({}, 'process'),
                                                        modalUrl: path('app_validation_demande_switch', {
                                                            parcours:id
                                                        }) }) }}
                                                    data-action="click->modal#openModal"
                                                    data-controller="tooltip"
                                                    data-tooltip-placement-value="bottom"
                                                    aria-label="{{ ('demande.reouverture.basculer.cfvu')|trans_debug({}, 'process') }}"
                                                    data-bs-original-title="{{ ('demande.reouverture.basculer.cfvu')|trans({}, 'process') }}"
                                            >
                                                <i class="fal fa-random"></i> {{ ('demande.reouverture.basculer.cfvu')|trans_debug({}, 'process') }}
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-3 d-grid">
                            {% if is_granted('MANAGE', {route: 'app_formation', subject: this.formation}) %}
                                {% if this.dpeParcours.etatReconduction.value != 'NON_OUVERTURE' and this.dpeParcours.etatReconduction.value != 'NON_OUVERTURE_SES' %}
                                    {% if this.parcours.isParcoursDefaut == true %}
                                        <button
                                                href="#"
                                                {{ stimulus_controller('modal', {
                                                    size: 'lg',
                                                    modalTitle: 'formation.change_rf.title'|trans_debug({}, 'form'),
                                                    nomEvenement: 'refreshStep',
                                                    modalUrl: path('app_formation_change_rf', {formation: parcours.formation.id}) }) }}
                                                data-action="click->modal#openModal"
                                                data-size="lg"
                                                class="btn btn-sm btn-outline-warning"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="bottom"
                                                title="{{ 'formation.change_rf.title'|trans({}, 'form') }}"
                                        >
                                            <i class="fal fa-repeat"></i>
                                            <span> {{ 'formation.change_rf.label'|trans_debug({}, 'form') }}</span>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-3 d-grid">
                            &nbsp;
                        </div>
                        <div class="col-3 d-grid">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_codification_index', {formation: formation.id, parcours:parcours.id}) }}"
                                   class="btn btn-sm btn-outline-info">Gérer la codification</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
