{# deprecated #}
<div{{ attributes }}>
    <!-- component html -->
    <div class="col-12 mt-2">
        <div class="alert alert-{{ this.getColor }}">
            <span class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       data-model="isOuvert"
                       title="Parcours ouvert ?"
                       id="parcours_ouvert"
                       data-action="live#action"
                       data-live-action-param="save"
                       {% if this.dpeParcours.etatReconduction.value == 'NON_OUVERTURE_SES' or this.dpeParcours.etatReconduction.value == 'NON_OUVERTURE_CFVU' %}
                           disabled
                       {% endif %}
                >
                <label class="form-check-label"
                       for="parcours_ouvert">
                    {% if this.dpeParcours.etatReconduction.value == 'NON_OUVERTURE_SES' or this.dpeParcours.etatReconduction.value == 'NON_OUVERTURE_CFVU' %}
                        Demande de non  ouverture du parcours. Attente validation SES/CFVU
                    {% else %}
                        {% if this.isOuvert %}
                            {% if this.type == 'parcours' %}
                                Ce parcours est proposé pour la campagne {{ this.campagne.libelle }}.
                            {% else %}
                                Cette formation est proposée pour la campagne {{ this.campagne.libelle }}.
                            {% endif %}
                        {% else %}
                            {% if this.type == 'parcours' %}
                                Ce parcours n'est pas proposé pour la campagne {{ this.campagne.libelle }}.
                            {% else %}
                                Cette formation n'est pas proposée pour la campagne {{ this.campagne.libelle }}.
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </label>
            </span>
        </div>
    </div>
</div>
