<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Nom Composante</th>
        <th>Directeur</th>
        <th>Responsable DPE</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for composante in composantes %}
        <tr>
            <td>{{ composante.id }}</td>
            <td>{{ composante.libelle }}</td>
            <td>{{ composante.directeur ? composante.directeur.display : 'Non défini' }}</td>
            <td>{{ composante.responsableDpe ? composante.responsableDpe.display : 'Non défini' }}</td>
            <td class="text-end">
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Voir une composante',
                            modalUrl: path('app_composante_show',{'id': composante.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-info"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Voir une composante"
                >
                    <i class="{{ iconShow }}"></i>
                    <span> voir</span>
                </button>

                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Modifier une composante',
                            modalUrl: path('app_composante_edit',{'id': composante.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-warning"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Modifier une composante"
                >
                    <i class="{{ iconEdit }}"></i>
                    <span> modifier</span>
                </button>

                <button {{ stimulus_action('crud', 'delete', 'click', {
                    url:path('app_composante_delete',{'id': composante.id})
                })}} class="btn btn-sm text-danger">
                    <i class="{{ iconDelete }}"></i> Supprimer</button>

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
