<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ composante.id }}</td>
    </tr>
    <tr>
        <th>Libelle</th>
        <td>{{ composante.libelle }}</td>
    </tr>
    <tr>
        <th>Directeur</th>
        <td>{{ composante.directeur ? composante.directeur.display : 'Non défini' }}</td>
    </tr>
    <tr>
        <th>Responsable DPE</th>
        <td>{{ composante.responsableDpe ? composante.responsableDpe.display : 'Non défini' }}</td>
    </tr>
    <tr>
        <th>Adresse</th>
        <td>{{ composante.adresse ? composante.adresse.display : 'Non définie' }}</td>
    </tr>
    </tbody>
</table>

