<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ composante.id }}</td>
    </tr>
    <tr>
        <th>Libelle</th>
        <td>{{ composante.libelle }}</td>
    </tr>
    <tr>
        <th>Directeur</th>
        <td>{{ composante.directeur ? composante.directeur.display : 'Non défini' }}</td>
    </tr>
    <tr>
        <th>Responsable DPE</th>
        <td>{{ composante.responsableDpe ? composante.responsableDpe.display : 'Non défini' }}</td>
    </tr>
    <tr>
        <th>Adresse</th>
        <td>{{ composante.adresse ? composante.adresse.display|raw : 'Non définie' }}</td>
    </tr>
    <tr>
        <th>Téléphone standard de la composante</th>
        <td>{{ composante.telStandard|tel_format }}</td>
    </tr>
    <tr>
        <th>Autre téléphone de la composante</th>
        <td>{{ composante.telComplementaire|tel_format }}</td>
    </tr>
    <tr>
        <th>Adresse mail de contact de la composante</th>
        <td>{{ composante.mailContact|mailto }}</td>
    </tr>
    <tr>
        <th>URL du site de la composante</th>
        <td>{{ composante.urlSite }}</td>
    </tr>
    </tbody>
</table>

