{% extends 'base.html.twig' %}

{% block content %}
    {{ component('alerte', {type:'warning', message: 'Actuellement les indicateurs ne sont pas mis à jour en temps réel. Merci d\'actualiser cette page si nécessaire.'}) }}

    {{ include('typeDiplome/'~constant('TEMPLATE_FOLDER', typeD)~'/liste-ec.html.twig') }}
{% endblock %}

{% set header_title %}
    EC pour le parcours : {{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}
{% endset %}

{% block breadcrumb %}
    {% if parcours.parcoursDefaut == true %}
        {{ include('communs/_breadcrumb.html.twig', {liens:[
            {href: path('app_parcours_index'), title: 'Liste des parcours'},
            {href: path('formation_v2_modifier', {slug:parcours.formation.slug}), title: 'Formation : '~parcours.formation
            .display}
        ]}) }}
    {% else %}
        {{ include('communs/_breadcrumb.html.twig', {liens:[
            {href: path('app_parcours_index'), title: 'Liste des parcours'},
            {href: path('formation_v2_modifier', {slug:parcours.formation.slug}), title: 'Formation : '~parcours.formation
            .display},
            {href: path('parcours_v2_modifier', {parcours:parcours.id}), title: 'Parcours : '~parcours.libelle},
        ]}) }}
    {% endif %}
{% endblock %}

{% block bouton_header %}
    {% if parcours.parcoursDefaut == true %}
        <a href="{{ path('formation_v2_modifier', {slug:parcours.formation.slug}) }}"
           class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Retour à la formation"
        >
            <i class="{{ iconBack }}"></i>
            <span> Retour à la formation</span>
        </a>
    {% else %}
        <a href="{{ path('parcours_v2_modifier', {parcours:parcours.id}) }}"
           class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Retour au parcours"
        >
            <i class="{{ iconBack }}"></i>
            <span> Retour au parcours</span>
        </a>
    {% endif %}
{% endblock %}
