{% extends 'base.html.twig' %}


{% block content %}
    <div class="space-y-4">
        {{ component('alerte', {type:'warning', message: 'Actuellement les indicateurs ne sont pas mis à jour en temps réel. Merci d\'actualiser cette page si nécessaire.'}) }}

        <div class="rounded-xl border border-slate-200 bg-white p-4 md:p-6 shadow-sm">
            {{ include('typeDiplome/' ~ constant('TEMPLATE_FOLDER', typeD) ~ '/liste-ec.html.twig') }}
        </div>
    </div>
{% endblock %}

{% set header_title %}
    EC pour le parcours : {{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}
{% endset %}

{% block breadcrumb %}
    {% if parcours.parcoursDefaut == true %}
        {{ include('communs/_breadcrumb.html.twig', {liens:[
            {href: path('app_parcours_index'), title: 'Liste des parcours'},
            {href: path('formation_v2_modifier', {slug:parcours.formation.slug}), title: 'Formation : '~parcours.formation
            .display}
        ]}) }}
    {% else %}
        {{ include('communs/_breadcrumb.html.twig', {liens:[
            {href: path('app_parcours_index'), title: 'Liste des parcours'},
            {href: path('formation_v2_modifier', {slug:parcours.formation.slug}), title: 'Formation : '~parcours.formation
            .display},
            {href: path('parcours_v2_modifier', {parcours:parcours.id}), title: 'Parcours : '~parcours.libelle},
        ]}) }}
    {% endif %}
{% endblock %}

{% block bouton_header %}
    {% if parcours.parcoursDefaut == true %}
        <twig:Button
                href="{{ path('formation_v2_modifier', {slug:parcours.formation.slug}) }}"
                variant="success"
                :outline="true"
                :soft="false"
                icon="icon:arrow-left"
                label="Retour à la formation"
                tooltip="Retour à la formation"
        />
    {% else %}
        <twig:Button
                href="{{ path('parcours_v2_modifier', {parcours:parcours.id}) }}"
                variant="success"
                :outline="true"
                :soft="false"
                icon="icon:arrow-left"
                label="Retour à la formation"
                tooltip="Retour à la formation"
        />
    {% endif %}
{% endblock %}
