{% extends 'base.html.twig' %}

{% block content %}
    {{ component('alerte', {type:'warning', message: 'Actuellement les indicateurs ne sont pas mis à jour en temps réel. Merci d\'actualiser cette page si nécessaire.'}) }}
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tbody>
                {% for semParc in parcours.semestreParcours|filter(semestre => semestre.semestre.nonDispense == false) %}
                    {% if tabEcs[semParc.ordre] is defined %}
                    <tr>
                        <th colspan="6" class="text-center font-weight-bold">
                            {{ semParc.display }}</th>
                    </tr>
                    <tr>
                        <th class="font-weight-bold">Code</th>
                        <th class="font-weight-bold">Libellé</th>
                        <th class="font-weight-bold">Fiche</th>
                        <th class="font-weight-bold">BCC</th>
                        <th class="font-weight-bold">MCCC</th>
                        <th class="font-weight-bold">Vol. Horaire</th>
                    </tr>
                    {% for ficheMatiere in tabEcs[semParc.ordre] %}
                        <tr>
                            <td>{{ ficheMatiere.sigle }}</td>
                            <td>{{ ficheMatiere.libelle }}</td>
                            <td>
                                <a
                                        href="{{ path('app_fiche_matiere_edit',{slug: ficheMatiere.slug}) }}"
                                        class="btn btn-sm btn-outline-info"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="Modifier la fiche EC/matière"
                                >
                                    <i class="fal fa-file"></i>
                                    {% if ficheMatiere.remplissage.isFull() == true %}
                                        <span class="badge bg-success"> Complet</span>
                                    {% else %}
                                        <span class="badge bg-warning"> À compléter</span>
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                {#                        <button #}
                                {#                                {{ stimulus_controller('modal', { #}
                                {#                                    size: 'lg', #}
                                {#                                    modalTitle: 'Blocs de compétences', #}
                                {#                                    modalUrl: path('app_element_constitutif_bcc',{id: ficheMatiere.id,parcours: parcours.id}) }) }} #}

                                {#                                data-action="click->modal#openModal" #}
                                {#                                class="btn btn-sm btn-outline-info" #}
                                {#                                data-size="lg" #}
                                {#                                data-bs-toggle="tooltip" #}
                                {#                                data-bs-placement="bottom" #}
                                {#                                title="Blocs de compétences" #}
                                {#                        > #}
                                {#                            <i class="fal fa-ballot-check"></i> #}
                                {#                            <span class="badge bg-{% if ficheMatiere.etatBcc(parcours) == 'Complet' %}success{% else %}warning{% endif %}"> #}
                                {#                            {{ ficheMatiere.etatBcc(parcours) }} #}
                                {#                        </span> #}
                                {#                        </button> #}
                            </td>
                            <td>
                                <button
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Modalités de Contrôle des Connaissances et des Compétences',
                                            modalUrl: path('app_element_constitutif_mccc_but',{'id': ficheMatiere.id}) }) }}
                                        data-action="click->modal#openModal"
                                        class="btn btn-sm btn-outline-info"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="Modalités de Contrôle des Connaissances et des Compétences"
                                >
                                    <i class="fal fa-marker"></i>
                                    <span class="badge bg-{% if ficheMatiere.etatMccc == 'Complet' %}success{% else %}warning{% endif %}">
                            {{ ficheMatiere.etatMccc }}
                        </span>
                                </button>
                            </td>
                            <td>
                                <button
                                        {{ stimulus_controller('modal', {
                                            size: 'lg',
                                            modalTitle: 'Volumes Horaires',
                                            modalUrl: path('app_element_constitutif_structure_but',{'id': ficheMatiere.id}) }) }}

                                        data-action="click->modal#openModal"
                                        class="btn btn-sm btn-outline-info"
                                        data-size="lg"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="Volumes Horaires"
                                >
                                    <i class="fal fa-clock"></i>
                                    <span class="badge bg-{% if ficheMatiere.etatStructure == 'Complet' %}success{% else %}warning{% endif %}">
                                                            {{ ficheMatiere.etatStructure }}
                                                        </span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% set header_title %}
    EC : {{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_parcours_index'), title: 'Liste des parcours'},
        {href: path('formation_v2_modifier', {slug:parcours.formation.slug}), title: 'Formation : '~parcours.formation
        .display},
        {href: path('parcours_v2_modifier', {parcours:parcours.id}), title: 'Parcours : '~parcours.libelle},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('parcours_v2_modifier', {parcours:parcours.id}) }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour au parcours"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour au parcours</span>
    </a>
{% endblock %}
