<div>
    <table class="table table-striped {% if mode == 'detail' %}table-bordered table-condensed{% endif %} table-hover ">
        <thead>
        <tr>
            <th>Libellé</th>
            <th>Matière</th>
            <th>Référent</th>
            <th>Remplissage</th>
            <th>Etat</th>
            <th>Heures</th>
            <th>Mcc</th>
            {% if deplacer == true %}
                <th></th>
            {% endif %}
            <th></th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for ec in ecs %}
            {% if not ec|isElementConstitutif %}
                {% set ec = ec.ec %}
            {% endif %}
            <tr>
                <td>{{ ec.code }}</td>
                <td>{{ ec.ficheMatiere.libelle }}</td>
                <td>{{ ec.ficheMatiere.responsableFicheMatiere != null ? ec.ficheMatiere.responsableFicheMatiere.display : 'Non défini' }}</td>
                <td>{{ ec.ficheMatiere.remplissage|remplissage }}</td>
                <td>{{ ec.ficheMatiere.etatFicheMatiere|badgeEc }}</td>
                <td>
                    <button
                            {% if deplacer is defined and deplacer == true %}
                                {{ stimulus_controller('modal', {
                                    size: 'lg',
                                    modalTitle: 'Volumes Horaires',
                                    nomEvenement: 'refreshListeEc' ,
                                    details: {ue: ue.id, parcours: parcours.id},
                                    modalUrl: path('app_element_constitutif_structure',{'id': ec.id}) }) }}
                            {% else %}
                                {{ stimulus_controller('modal', {
                                    size: 'lg',
                                    modalTitle: 'Volumes Horaires',
                                    modalUrl: path('app_element_constitutif_structure',{'id': ec.id}) }) }}
                            {% endif %}
                            data-action="click->modal#openModal"
                            class="btn btn-sm btn-outline-info"
                            data-size="lg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Volumes Horaires"
                    >
                        <i class="fal fa-clock"></i>
                        Volumes Horaires
                        <span class="badge bg-{% if ec.etatStructure == 'Complet' %}success{% else %}warning{% endif %}">
                            {{ ec.etatStructure }}
                        </span>
                    </button>
                </td>
                <td>
                    <button
                            {% if deplacer is defined and deplacer == true %}

                                {{ stimulus_controller('modal', {
                                    size: 'lg',
                                    nomEvenement: 'refreshListeEc',
                                    details: {ue: ue.id, parcours: parcours.id},
                                    modalTitle: 'Modalités de Contrôle des Connaissances',
                                    modalUrl: path('app_element_constitutif_mccc',{'id': ec.id}) }) }}
                            {% else %}
                                {{ stimulus_controller('modal', {
                                    size: 'lg',
                                    modalTitle: 'Modalités de Contrôle des Connaissances',
                                    modalUrl: path('app_element_constitutif_mccc',{'id': ec.id}) }) }}
                            {% endif %}
                            data-action="click->modal#openModal"
                            class="btn btn-sm btn-outline-info"
                            data-size="lg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Modalités de Contrôle des Connaissances"
                    >
                        <i class="fal fa-marker"></i>
                        MCCC
                        <span class="badge bg-{% if ec.etatMccc == 'Complet' %}success{% else %}warning{% endif %}">
                            {{ ec.etatMccc }}
                        </span>
                    </button>
                </td>
                <td class="text-end">
{#                    {% if (is_granted('ROLE_FORMATION_EDIT_MY', parcours.formation) or is_granted#}
{#                        ('ROLE_EC_EDIT_MY', ec)) and  (not workflow_can(ec,#}
{#                        'initialiser') ) %}#}
                        <a
                                href="{{ path('app_element_constitutif_show',{'id': ec.id}) }}"
                                class="btn btn-sm text-info"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Voir un EC"
                                target="_blank"
                        >
                            <i class="{{ iconShow }}"></i>
                            <span> voir</span>
                        </a>
{#                    {% endif %}#}


{#                    {% if ((is_granted('ROLE_FORMATION_EDIT_MY', parcours.formation) and  (workflow_can(ec,#}
{#                        'valider_ec') or workflow_can(ec,#}
{#                        'initialiser'))) or (is_granted#}
{#                        ('ROLE_EC_EDIT_MY', ec)) and  workflow_can(ec,#}
{#                        'valider_ec')) %}#}
                        <a
                                href="{{ path('app_element_constitutif_edit',{'id': ec.id, parcours:parcours.id}) }}"
                                class="btn btn-sm text-warning"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                target="_blank"
                                title="Modifier un EC"
                        >
                            <i class="{{ iconEdit }}"></i>
                            <span> modifier</span>
                        </a>
{#                    {% endif %}#}
{#                    {% if is_granted('ROLE_FORMATION_EDIT_MY', parcours.formation) and workflow_can(ec,#}
{#                        'valider_ec') %}#}
                        <button {{ stimulus_action('crud', 'delete', 'click', {
                            url:path('app_element_constitutif_delete',{'id': ec.id})
                        }) }} class="btn btn-sm text-danger">
                            <i class="{{ iconDelete }}"></i> Supprimer
                        </button>
{#                    {% endif %}#}
                </td>
                {% if deplacer == true %}
                    <td {{ stimulus_controller('ec--liste') }}>
{#                        {% if ((is_granted('ROLE_FORMATION_EDIT_MY', parcours.formation) and  (workflow_can(ec,#}
{#                            'valider_ec') or workflow_can(ec,#}
{#                            'initialiser'))) or (is_granted#}
{#                            ('ROLE_EC_EDIT_MY', ec)) and  workflow_can(ec,#}
{#                            'valider_ec')) %}#}

                            {% if not loop.first %}
                                <button class="btn btn-sm btn-outline-info" {{ stimulus_action('ec--liste', 'deplacerEc',
                                    'click', {url: path('app_element_constitutif_deplacer',{sens: 'up', id:
                                        ec.id, ue:ue.id}), ue:ue.id, parcours:parcours.id}) }}>
                                    <i class="fal fa-circle-up"></i></button>
                            {% else %}
                                <button class="btn btn-sm btn-outline-info" disabled><i class="fal fa-circle-up"></i>
                                </button>
                            {% endif %}
                            {% if not loop.last %}
                                <button class="btn btn-sm btn-outline-info" {{ stimulus_action('ec--liste', 'deplacerEc',
                                    'click', {url: path('app_element_constitutif_deplacer',{sens: 'down', id:
                                        ec.id, ue:ue.id}), ue:ue.id, parcours:parcours.id}) }}><i class="fal
                                        fa-circle-down"></i></button>
                            {% else %}
                                <button class="btn btn-sm btn-outline-info" disabled><i class="fal fa-circle-down"></i>
                                </button>
                            {% endif %}

{#                        {% endif %}#}

                    </td>
                    <td>
{#                        {% if ((is_granted('ROLE_FORMATION_EDIT_MY', parcours.formation) and  (workflow_can(ec,#}
{#                            'valider_ec') or workflow_can(ec,#}
{#                            'initialiser'))) or (is_granted#}
{#                            ('ROLE_EC_EDIT_MY', ec)) and  workflow_can(ec,#}
{#                            'valider_ec')) %}#}
                            <a
                                    href="{{ path('app_ec_etat_valide',{'id': ec.id, parcours:parcours.id}) }}"
                                    class="btn btn-sm text-warning"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="Valider un EC"
                            >
                                <i class="{{ iconValidate }}"></i>
                                <span> valider</span>
                            </a>
{#                        {% endif %}#}
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="{% if mode == 'liste' %}10{% else %}8{% endif %}" class="bg-warning">Aucun
                                                                                                  EC
                </td>
            </tr>
        {% endfor %}
{#        {% if parcours is defined and is_granted('ROLE_EC_ADD_MY', parcours.formation) and ue is defined %}#}
            <tr>
                <td colspan="{% if deplacer == true %}9{% else %}8{% endif %}">

                    <button
                            {{ stimulus_controller('modal', {
                                size: 'lg',
                                modalTitle: 'Ajouter un élément constitutif (matière)',
                                nomEvenement: 'refreshListeEc',
                                details: {ue: ue.id, parcours: parcours.id},
                                modalUrl: path('app_element_constitutif_new', {ue: ue.id}) }) }}
                            data-action="click->modal#openModal"
                            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
                            data-size="lg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Ajouter un élément constitutif (matière)"
                    >
                        <i class="{{ iconAdd }}"></i>
                        <span>Ajouter un élément constitutif</span>
                    </button>
                    <button
                            {{ stimulus_controller('modal', {
                                size: 'lg',
                                modalTitle: 'Ajouter une fiche matière',
                                nomEvenement: 'refreshListeEc',
                                details: {ue: ue.id, parcours: parcours.id},
                                modalUrl: path('app_fiche_matiere_new', {ue: ue.id}) }) }}
                            data-action="click->modal#openModal"
                            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
                            data-size="lg"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Ajouter une fiche matière"
                    >
                        <i class="{{ iconAdd }}"></i>
                        <span>Ajouter une fiche matière</span>
                    </button>
                </td>
            </tr>
{#        {% endif %}#}
        </tbody>
    </table>
</div>
