<div class="row">
    <div class="col-12 mb-2">
        <section class="scroll-section" id="labels">
            <h2 class="small-title">Eléments Constitutifs</h2>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-md-1 d-flex align-items-center mb-2 text-secondary
                        mb-md-0 text-small justify-content-center">
                            EC
                        </div>
                        <div class="col-md-3 d-flex align-items-center mb-2 justify-content-center
                        text-secondary mb-md-0 text-small">
                            Fiche EC/matière associée
                        </div>
                        <div class="col-md-{% if isBut %}3{% else %}1{% endif %} d-flex align-items-center mb-2 justify-content-center
                        text-secondary mb-md-0 text-small">
                            Fiche EC/matière
                        </div>

                        <div class="col-md-1 d-flex align-items-center mb-2 justify-content-center
                        text-secondary mb-md-0 text-small">
                            BCC
                        </div>
                        {% if not isBut %}
                            <div class="col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                                MCCC
                            </div>
                            <div class="col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                                Volumes Horaires
                            </div>
                        {% endif %}
                        <div class="col-md-4 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {% for ec in ecs|filter(ec => ec.ecParent == null) %}
                    <div {{ stimulus_controller('ec--liste') }}>
                        {% if ec.ecEnfants|length == 0 %}
                            <div class="card mb-2 sh-19 sh-md-8">
                                <div class="card-body pt-0 pb-0 h-100 {% if ue.ueParent != null %}border-left-sousUe border-left-sousUe-{{ ue.ordre }}{% endif %}">
                                    <div class="row g-1 h-100 align-content-center">
                                        <div class="col-md-1 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">ec</div>
                                            {{ ec.code }}
                                        </div>
                                        <div class="col-12 col-md-3 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">Matière</div>
                                            {% if ec.ficheMatiere != null %}
                                                <p class="mt-0 mb-0">
                                                {% if isBut %}{{ ec.ficheMatiere.sigle }} | {% endif %}
                                                {{ ec.display }}
                                                {% if ec.ficheMatiere.parcours != null and ec.ficheMatiere.parcours.id != parcours.id %}
                                                    <i class="fal fa-link"
                                                       data-controller="tooltip"
                                                       data-tooltip-placement-value="bottom"
                                                       title="Fiche matière/EC rédigée par le parcours {{ ec.ficheMatiere.parcours.libelle }}"></i></p>
                                                {% elseif ec.ficheMatiere.parcours == null %}
                                                    <i class="fal fa-link"
                                                       data-controller="tooltip"
                                                       data-tooltip-placement-value="bottom"
                                                       title="Fiche matière/EC mutualisée globalement"></i></p>
                                                {% endif %}
                                            {% else %}
                                                {{ ec.libelle == null ? 'Définir le libellé' : ec.libelle }} <i
                                                    class="fal fa-question-circle ms-1"
                                                    data-controller="tooltip"
                                                    data-tooltip-placement-value="bottom"
                                                    aria-label="{{ ec.texteEcLibre }}"
                                                    data-bs-original-title="{{ ec.texteEcLibre }}"></i>
                                            {% endif %}
                                        </div>

                                        <div class="col-md-{% if isBut %}3{% else %}1{% endif %} d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">Remplissage</div>
                                            {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation) or is_granted
                                                ('CAN_PARCOURS_EDIT_MY', parcours)) %}
                                                {% if ec.ficheMatiere != null %}
                                                    {% if isBut %}
                                                        <a
                                                                href="{{ path('app_fiche_matiere_edit',{slug: ec.ficheMatiere.slug}) }}"
                                                                class="btn btn-sm btn-outline-info  px-1"
                                                                data-bs-toggle="tooltip"
                                                                target="_blank"
                                                                data-bs-placement="bottom"
                                                                title="Modifier la fiche EC/matière"
                                                        >
                                                            {% if ec.ficheMatiere.remplissage == 100 %}
                                                                <span class="badge bg-success">Fiche</span>
                                                            {% else %}
                                                                <span class="badge bg-warning">Fiche</span>
                                                            {% endif %}
                                                        </a>
                                                    {% else %}
                                                        {% if ec.ficheMatiere.parcours != null and ec.ficheMatiere.parcours.id == parcours.id %}
                                                            <a
                                                                    href="{{ path('app_fiche_matiere_edit',{slug: ec.ficheMatiere.slug}) }}"
                                                                    class="btn btn-sm btn-outline-info  px-1"
                                                                    data-bs-toggle="tooltip"
                                                                    target="_blank"
                                                                    data-bs-placement="bottom"
                                                                    title="Modifier la fiche EC/matière"
                                                            >
                                                                {% if ec.ficheMatiere.remplissage == 100 %}
                                                                    <span class="badge bg-success">Fiche</span>
                                                                {% else %}
                                                                    <span class="badge bg-warning">Fiche</span>
                                                                {% endif %}
                                                            </a>
                                                        {% else %}
                                                            <a
                                                                    href="{{ path('app_fiche_matiere_show',{slug: ec.ficheMatiere.slug}) }}"
                                                                    class="btn btn-sm btn-outline-info  px-1"
                                                                    data-bs-toggle="tooltip"
                                                                    target="_blank"
                                                                    data-bs-placement="bottom"
                                                                    title="Voir la fiche EC/matière"
                                                            >
                                                                <span class="badge bg-info">Voir la fiche</span>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    <span class="badge bg-info">EC Libre</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-1 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">bcc</div>
                                                {{ component('badge_bcc', {
                                                    elementConstitutif: ec,
                                                    parcours: parcours,
                                                    deplacer: deplacer,
                                                    editable: editable,
                                                    ue: ue
                                                }) }}
                                        </div>
                                        {% if not isBut %}
                                            <div class="col-md-1 d-flex flex-column justify-content-center">
                                                <div class="text-muted text-small d-md-none">mccc</div>
                                                {{ component('badge_mccc', {
                                                    elementConstitutif: ec,
                                                    parcours: parcours,
                                                    deplacer: deplacer,
                                                    editable: editable,
                                                    ue: ue
                                                }) }}
                                            </div>
                                            <div class="col-md-1 d-flex flex-column justify-content-center">
                                                <div class="text-muted text-small d-md-none">Volumes Horaires</div>
                                                {% if ec.natureUeEc != null and ec.natureUeEc.isLibre ==  true %}
                                                    <span class="badge bg-info">EC Libre</span>
                                                {% else %}
                                                    <button
                                                            {% if deplacer is defined and deplacer == true and editable ==
                                                                true %}
                                                                {{ stimulus_controller('modal', {
                                                                    size: 'lg',
                                                                    modalTitle: 'Volumes Horaires',
                                                                    nomEvenement: 'refreshListeEc' ,
                                                                    details: {ue: ue.id, parcours: parcours.id},
                                                                    modalUrl: path('app_element_constitutif_structure',{'id': ec.id, parcours:parcours.id}) }) }}
                                                            {% else %}
                                                                {{ stimulus_controller('modal', {
                                                                    size: 'lg',
                                                                    modalTitle: 'Volumes Horaires',
                                                                    modalUrl: path('app_element_constitutif_structure',{'id': ec.id, parcours:parcours.id}) }) }}
                                                            {% endif %}
                                                            data-action="click->modal#openModal"
                                                            class="btn btn-sm btn-outline-info px-1"
                                                            data-size="lg"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom"
                                                            title="Volumes Horaires"
                                                    >
                                                <span class="badge bg-{% if ec.etatStructure == 'Complet' %}success{% else %}warning{% endif %}">
                            Heures
                        </span>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        <div class="col-md-4 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">Actions</div>
                                            <div class="row">
                                                <div class="col-6">
                                                    {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation) or is_granted
                                                        ('CAN_PARCOURS_EDIT_MY', parcours) or (is_granted
                                                        ('CAN_EC_EDIT_MY', ec))) %}
                                                        <button
                                                                {% if deplacer is defined and deplacer == true and
                                                                    editable == true %}

                                                                    {{ stimulus_controller('modal', {
                                                                        size: 'lg',
                                                                        nomEvenement: 'refreshListeEc',
                                                                        details: {ue: ue.id, parcours: parcours.id},
                                                                        modalTitle: 'Modifier un élément constitutif',
                                                                        modalUrl: path('app_element_constitutif_edit',{'id': ec.id, parcours:parcours.id}) }) }}
                                                                {% else %}
                                                                    {{ stimulus_controller('modal', {
                                                                        size: 'lg',
                                                                        modalTitle: 'Modifier un élément constitutif',
                                                                        modalUrl: path('app_element_constitutif_edit',{'id': ec.id, parcours:parcours.id}) }) }}
                                                                {% endif %}
                                                                data-action="click->modal#openModal"
                                                                class="btn btn-sm text-warning"
                                                                data-size="lg"
                                                                data-bs-toggle="tooltip"
                                                                data-bs-placement="bottom"
                                                                title="Modifier un élément constitutif"
                                                        >
                                                            <i class="{{ iconEdit }}"></i>
                                                            <span> Modifier l'EC</span>
                                                        </button>

                                                    {% endif %}
                                                    {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)
                                                        or is_granted('CAN_PARCOURS_EDIT_MY', parcours))
                                                        and editable == true %}
                                                        <button {{ stimulus_action('ec--liste', 'delete', 'click', {
                                                            url:path('app_element_constitutif_delete',{'id': ec.id}),
                                                            csrf: csrf_token('delete' ~ ec.id),
                                                            ue: ue.id,
                                                            parcours: parcours.id
                                                        }) }} class="btn btn-sm text-danger">
                                                            <i class="{{ iconDelete }}"></i> Supprimer l'EC
                                                        </button>
                                                    {% endif %}
                                                </div>
                                                <div class="col-6 text-end mt-3">
                                                    {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)
                                                        or is_granted('CAN_PARCOURS_EDIT_MY', parcours)
                                                        or is_granted('CAN_EC_EDIT_MY', ec)) and editable == true %}
                                                        {% if not loop.first %}
                                                            <button class="btn btn-sm btn-outline-info" {{ stimulus_action('ec--liste', 'deplacerEc',
                                                                'click', {url: path('app_element_constitutif_deplacer',{sens: 'up', id:
                                                                    ec.id, ue:ue.id}), ue:ue.id, parcours:parcours.id}) }}>
                                                                <i class="fal fa-circle-up"></i></button>
                                                        {% else %}
                                                            <button class="btn btn-sm btn-outline-info" disabled>
                                                                <i class="fal fa-circle-up"></i>
                                                            </button>
                                                        {% endif %}
                                                        {% if not loop.last %}
                                                            <button class="btn btn-sm btn-outline-info" {{ stimulus_action('ec--liste', 'deplacerEc',
                                                                'click', {url: path('app_element_constitutif_deplacer',{sens: 'down', id:
                                                                    ec.id, ue:ue.id}), ue:ue.id, parcours:parcours.id}) }}>
                                                                <i class="fal
                                                        fa-circle-down"></i></button>
                                                        {% else %}
                                                            <button class="btn btn-sm btn-outline-info" disabled>
                                                                <i class="fal fa-circle-down"></i>
                                                            </button>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="card mb-2 sh-19 sh-md-8">
                                <div class="card-body pt-0 pb-0 h-100 {% if ue.ueParent != null %}border-left-sousUe border-left-sousUe-{{ ue.ordre }}{% endif %}">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div class="col-12 col-md-1 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">ec</div>
                                            {{ ec.code }}
                                        </div>
                                        <div class="col-12 col-md-2 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">Matière</div>
                                            {{ ec.libelle }}
                                        </div>
                                        <div class="col-12 col-md-2 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">Matière</div>
                                            <span class="badge bg-info">(EC à choix restreint)</span>
                                        </div>

                                        <div class="col-6 col-md-2 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">mccc</div>

                                            <button
                                                    {% if deplacer is defined and deplacer == true and editable ==
                                                        true %}
                                                        {{ stimulus_controller('modal', {
                                                            size: 'lg',
                                                            nomEvenement: 'refreshListeEc',
                                                            details: {ue: ue.id, parcours: parcours.id},
                                                            modalTitle: 'Modalités de Contrôle des Connaissances et des Compétences',
                                                            modalUrl: path('app_element_constitutif_mccc',{'id': ec.id, parcours:parcours.id}) }) }}
                                                    {% else %}
                                                        {{ stimulus_controller('modal', {
                                                            size: 'lg',
                                                            modalTitle: 'Modalités de Contrôle des Connaissances et des Compétences',
                                                            modalUrl: path('app_element_constitutif_mccc',{'id': ec.id, parcours:parcours.id}) }) }}
                                                    {% endif %}
                                                    data-action="click->modal#openModal"
                                                    class="btn btn-sm btn-outline-info me-1 ms-1"
                                                    data-size="lg"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom"
                                                    title="Modalités de Contrôle des Connaissances et des Compétences"
                                            >
                                                {% if ec.ecEnfants|length > 0 and ec.mcccEnfantsIdentique == false %}
                                                    <span class="badge bg-info ms-1 me-1">MCCC des enfants</span>
                                                {% else %}
                                                    <span class="badge bg-{% if ec.etatMccc == 'Complet' %}success{% else %}warning{% endif %}">
                                                    {{ ec.etatMccc }}</span>
                                                {% endif %}

                                            </button>
                                        </div>
                                        <div class="col-6 col-md-2 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">Volumes Horaires</div>
                                            {% if ec.ecEnfants|length > 0 and ec.heuresEnfantsIdentiques == false %}
                                                <span class="badge bg-info ms-1 me-1">Vol. Horaire des enfants</span>
                                            {% else %}
                                                <button
                                                        {% if deplacer is defined and deplacer == true and editable ==
                                                            true %}
                                                            {{ stimulus_controller('modal', {
                                                                size: 'lg',
                                                                modalTitle: 'Volumes Horaires',
                                                                nomEvenement: 'refreshListeEc' ,
                                                                details: {ue: ue.id, parcours: parcours.id},
                                                                modalUrl: path('app_element_constitutif_structure',{'id': ec.id, parcours:parcours.id}) }) }}
                                                        {% else %}
                                                            {{ stimulus_controller('modal', {
                                                                size: 'lg',
                                                                modalTitle: 'Volumes Horaires',
                                                                modalUrl: path('app_element_constitutif_structure',{'id': ec.id, parcours:parcours.id}) }) }}
                                                        {% endif %}
                                                        data-action="click->modal#openModal"
                                                        class="btn btn-sm btn-outline-info me-1"
                                                        data-size="lg"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom"
                                                        title="Volumes Horaires"
                                                >
                                                    <span class="badge bg-{% if ec.etatStructure == 'Complet' %}success{% else %}warning{% endif %}">
                            {{ ec.etatStructure }}
                        </span>
                                                </button>
                                            {% endif %}
                                        </div>
                                        <div class="col-6 col-md-3 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">Actions</div>
                                            <div class="row">
                                                <div class="col-4">
                                                    &nbsp;
                                                </div>
                                                <div class="col-4">
                                                    {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)
                                                        or is_granted('CAN_PARCOURS_EDIT_MY', parcours)
                                                        or is_granted('CAN_EC_EDIT_MY', ec) ) and editable == true %}
                                                        <button
                                                                {% if deplacer is defined and deplacer == true %}
                                                                    {{ stimulus_controller('modal', {
                                                                        size: 'lg',
                                                                        nomEvenement: 'refreshListeEc',
                                                                        details: {ue: ue.id, parcours: parcours.id},
                                                                        modalTitle: 'Modifier un élément constitutif',
                                                                        modalUrl: path('app_element_constitutif_edit',{'id': ec.id, parcours:parcours.id}) }) }}
                                                                {% else %}
                                                                    {{ stimulus_controller('modal', {
                                                                        size: 'lg',
                                                                        modalTitle: 'Modifier un élément constitutif',
                                                                        modalUrl: path('app_element_constitutif_edit',{'id': ec.id, parcours:parcours.id}) }) }}
                                                                {% endif %}
                                                                data-action="click->modal#openModal"
                                                                class="btn btn-sm text-warning"
                                                                data-size="lg"
                                                                data-bs-toggle="tooltip"
                                                                data-bs-placement="bottom"
                                                                title="Modifier un élément constitutif"
                                                        >
                                                            <i class="{{ iconEdit }}"></i>
                                                            <span> Modifier l'EC</span>
                                                        </button>

                                                    {% endif %}
                                                    {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)
                                                        or is_granted('CAN_PARCOURS_EDIT_MY', parcours))
                                                        and editable == true %}
                                                        <button {{ stimulus_action('ec--liste', 'delete', 'click', {
                                                            url:path('app_element_constitutif_delete',{'id': ec.id}),
                                                            csrf: csrf_token('delete' ~ ec.id),
                                                            ue: ue.id,
                                                            parcours: parcours.id
                                                        }) }} class="btn btn-sm text-danger">
                                                            <i class="{{ iconDelete }}"></i> Supprimer l'EC
                                                        </button>
                                                    {% endif %}
                                                </div>
                                                <div class="col-4 text-end mt-2">
                                                    {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)
                                                        or is_granted('CAN_PARCOURS_EDIT_MY', parcours)
                                                        or is_granted('CAN_EC_EDIT_MY', ec)) %}
                                                        {% if not loop.first %}
                                                            <button class="btn btn-sm btn-outline-info" {{ stimulus_action('ec--liste', 'deplacerEc',
                                                                'click', {url: path('app_element_constitutif_deplacer',{sens: 'up', id:
                                                                    ec.id, ue:ue.id}), ue:ue.id, parcours:parcours.id}) }}>
                                                                <i class="fal fa-circle-up"></i></button>
                                                        {% else %}
                                                            <button class="btn btn-sm btn-outline-info" disabled>
                                                                <i class="fal fa-circle-up"></i>
                                                            </button>
                                                        {% endif %}
                                                        {% if not loop.last %}
                                                            <button class="btn btn-sm btn-outline-info" {{ stimulus_action('ec--liste', 'deplacerEc',
                                                                'click', {url: path('app_element_constitutif_deplacer',{sens: 'down', id:
                                                                    ec.id, ue:ue.id}), ue:ue.id, parcours:parcours.id}) }}>
                                                                <i class="fal
                                                        fa-circle-down"></i></button>
                                                        {% else %}
                                                            <button class="btn btn-sm btn-outline-info" disabled>
                                                                <i class="fal fa-circle-down"></i>
                                                            </button>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if editable == true %}
                                <div class="text-divider">
                                    <button class="btn text-success btn-sm"
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                modalTitle: 'Ajouter un élément constitutif',
                                                nomEvenement: 'refreshListeEc',
                                                details: {ue: ue.id, parcours: parcours.id},
                                                modalUrl: path('app_element_constitutif_new_enfant', {ue: ue.id,
                                                    parcours:parcours.id, element:ec.ecEnfants[0].id, sens: 'avant'})
                                            }) }}
                                            data-action="click->modal#openModal"
                                    >
                                        <i class="{{ iconAdd }}"></i>
                                        Ajouter un EC avant l'<strong>{{ ec.ecEnfants[0].code }}</strong>
                                    </button>
                                </div>
                            {% endif %}
                            <div>
                                {% for ece in ec.ecEnfants %}
                                    <div class="card mb-2 sh-19 sh-md-8 border-left-sousEc border-left-sousEc-{{ ec.ordre }}">
                                        <div class="card-body pt-0 pb-0 h-100 {% if ue.ueParent != null %}border-left-sousUe border-left-sousUe-{{ ue.ordre }}{% endif %}">
                                            <div class="row g-1 h-100 align-content-center">
                                                <div class="col-md-1 d-flex flex-column justify-content-center">
                                                    <div class="text-muted text-small d-md-none">ec</div>
                                                    {{ ece.code }}
                                                </div>
                                                <div class="col-md-3 d-flex flex-column justify-content-center">
                                                    <div class="text-muted text-small d-md-none">Matière</div>
                                                    {% if ece.ficheMatiere != null %}
                                                        <p class="mt-0 mb-0">
                                                        {{ ece.display }}
                                                        {% if ece.ficheMatiere != null and
                                                            ece.ficheMatiere.parcours != null and
                                                            ece.ficheMatiere.parcours.id != parcours.id %}
                                                            <i class="fal fa-link"
                                                               data-controller="tooltip"
                                                               data-tooltip-placement-value="bottom"
                                                               title="Fiche matière/EC rédigée par le parcours {{ ece.ficheMatiere.parcours.libelle }}"></i>
                                                            </p>
                                                        {% endif %}
                                                    {% else %}
                                                        {{ ece.libelle == null ? 'Définir le libellé' : ece.libelle }}
                                                        <i class="fal fa-question-circle ms-1"
                                                           data-controller="tooltip"
                                                           data-tooltip-placement-value="bottom"
                                                           aria-label="{{ ece.texteEcLibre }}"
                                                           data-bs-original-title="{{ ece.texteEcLibre }}"></i>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-1 d-flex flex-column justify-content-center">
                                                    <div class="text-muted text-small d-md-none">Remplissage</div>
                                                    {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)
                                                        or is_granted('CAN_PARCOURS_EDIT_MY', parcours)
                                                        or is_granted('CAN_EC_EDIT_MY', ece)) %}
                                                        {% if ece.ficheMatiere != null and editable == true %}
                                                            <a
                                                                    href="{{ path('app_fiche_matiere_edit',{slug: ece
                                                                    .ficheMatiere.slug}) }}"
                                                                    class="btn btn-sm btn-outline-info px-1"
                                                                    data-bs-toggle="tooltip"
                                                                    target="_blank"
                                                                    data-bs-placement="bottom"
                                                                    title="Modifier la fiche EC/matière"
                                                            >
                                                                {% if ece.ficheMatiere.remplissage == 100 %}
                                                                    <span class="badge bg-success"> Fiche</span>
                                                                {% else %}
                                                                    <span class="badge bg-warning"> Fiche</span>
                                                                {% endif %}
                                                            </a>
                                                        {% else %}
                                                            <span class="badge bg-info">EC Libre</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-1 d-flex flex-column justify-content-center">
                                                    <div class="text-muted text-small d-md-none">bcc</div>
                                                    {{ component('badge_bcc', {
                                                        elementConstitutif: ece,
                                                        parcours: parcours,
                                                        deplacer: deplacer,
                                                        editable: editable,
                                                        ue: ue
                                                    }) }}
                                                </div>
                                                <div class="col-md-1 d-flex flex-column justify-content-center">
                                                    <div class="text-muted text-small d-md-none">mccc</div>
                                                    {{ component('badge_mccc', {
                                                        elementConstitutif: ece,
                                                        elementConstitutifParent: ec,
                                                        parcours: parcours,
                                                        deplacer: deplacer,
                                                        editable: editable,
                                                        ue: ue
                                                    }) }}
                                                </div>
                                                <div class="col-md-1 d-flex flex-column justify-content-center">
                                                    <div class="text-muted text-small d-md-none">Volumes Horaires</div>
                                                    {% if ece.natureUeEc != null and ece.natureUeEc.isLibre ==  true %}
                                                        <span class="badge bg-info">EC Libre</span>
                                                    {% else %}
                                                        {% if ec.heuresEnfantsIdentiques == true %}
                                                            <span class="badge bg-info ms-1 me-1">Vol. horaires du parent</span>
                                                        {% else %}
                                                            <button
                                                                    {% if deplacer is defined and deplacer == true and editable ==
                                                                        true %}
                                                                        {{ stimulus_controller('modal', {
                                                                            size: 'lg',
                                                                            modalTitle: 'Volumes Horaires',
                                                                            nomEvenement: 'refreshListeEc' ,
                                                                            details: {ue: ue.id, parcours: parcours.id},
                                                                            modalUrl: path('app_element_constitutif_structure',{'id': ece.id, parcours:parcours.id}) }) }}
                                                                    {% else %}
                                                                        {{ stimulus_controller('modal', {
                                                                            size: 'lg',
                                                                            modalTitle: 'Volumes Horaires',
                                                                            modalUrl: path('app_element_constitutif_structure',{'id': ece.id, parcours:parcours.id}) }) }}
                                                                    {% endif %}
                                                                    data-action="click->modal#openModal"
                                                                    class="btn btn-sm btn-outline-info  px-1"
                                                                    data-size="lg"
                                                                    data-bs-toggle="tooltip"
                                                                    data-bs-placement="bottom"
                                                                    title="Volumes Horaires"
                                                            >
                                                            <span class="badge bg-{% if ece.etatStructure == 'Complet' %}success{% else %}warning{% endif %}">
                            Heures
                        </span>
                                                            </button>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-4 d-flex flex-column justify-content-center">
                                                    <div class="text-muted text-small d-md-none">Actions</div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)
                                                                or is_granted('CAN_PARCOURS_EDIT_MY', parcours)
                                                                or is_granted('CAN_EC_EDIT_MY', ec)) and editable == true %}
                                                                <button
                                                                        {% if deplacer is defined and deplacer == true %}

                                                                            {{ stimulus_controller('modal', {
                                                                                size: 'lg',
                                                                                nomEvenement: 'refreshListeEc',
                                                                                details: {ue: ue.id, parcours: parcours.id},
                                                                                modalTitle: 'Modifier un élément constitutif',
                                                                                modalUrl: path
                                                                                    ('app_element_constitutif_edit_enfant',
                                                                                    {'id': ece.id, parcours:parcours.id, ue:ue.id
                                                                                    }) }) }}
                                                                        {% else %}
                                                                            {{ stimulus_controller('modal', {
                                                                                size: 'lg',
                                                                                modalTitle: 'Modifier un élément constitutif',
                                                                                modalUrl: path
                                                                                    ('app_element_constitutif_edit_enfant',{'id': ece.id, parcours:parcours.id, ue:ue.id}) }) }}
                                                                        {% endif %}
                                                                        data-action="click->modal#openModal"
                                                                        class="btn btn-sm text-warning"
                                                                        data-size="lg"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom"
                                                                        title="Modifier un élément constitutif"
                                                                >
                                                                    <i class="{{ iconEdit }}"></i>
                                                                    <span> Modifier l'EC</span>
                                                                </button>

                                                            {% endif %}
                                                            {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)
                                                                or is_granted('CAN_PARCOURS_EDIT_MY', parcours))
                                                                and editable == true %}
                                                                <button {{ stimulus_action('ec--liste', 'delete', 'click', {
                                                                    url:path('app_element_constitutif_delete',{'id':
                                                                        ece.id}),
                                                                    csrf: csrf_token('delete' ~ ece.id),
                                                                    ue: ue.id,
                                                                    parcours: parcours.id
                                                                }) }} class="btn btn-sm text-danger">
                                                                    <i class="{{ iconDelete }}"></i> Supprimer l'EC
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-6 text-end mt-2">
                                                            {% if (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)
                                                                or is_granted('CAN_PARCOURS_EDIT_MY', parcours)
                                                                or is_granted('CAN_EC_EDIT_MY', ec)) and editable == true %}
                                                                {% if not loop.first %}
                                                                    <button class="btn btn-sm btn-outline-info" {{ stimulus_action('ec--liste', 'deplacerEc',
                                                                        'click', {url: path('app_element_constitutif_deplacer',{sens: 'up', id:
                                                                            ece.id, ue:ue.id}), ue:ue.id,
                                                                            parcours:parcours.id}) }}>
                                                                        <i class="fal fa-circle-up"></i></button>
                                                                {% else %}
                                                                    <button class="btn btn-sm btn-outline-info"
                                                                            disabled>
                                                                        <i class="fal fa-circle-up"></i>
                                                                    </button>
                                                                {% endif %}
                                                                {% if not loop.last %}
                                                                    <button class="btn btn-sm btn-outline-info" {{ stimulus_action('ec--liste', 'deplacerEc',
                                                                        'click', {url: path('app_element_constitutif_deplacer',{sens: 'down', id:
                                                                            ece.id, ue:ue.id}), ue:ue.id,
                                                                            parcours:parcours.id}) }}>
                                                                        <i class="fal
                                                        fa-circle-down"></i></button>
                                                                {% else %}
                                                                    <button class="btn btn-sm btn-outline-info"
                                                                            disabled>
                                                                        <i class="fal fa-circle-down"></i>
                                                                    </button>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if editable == true %}
                                        <div class="text-divider">
                                            <button class="btn text-success btn-sm"
                                                    {{ stimulus_controller('modal', {
                                                        size: 'lg',
                                                        modalTitle: 'Ajouter un élément constitutif',
                                                        nomEvenement: 'refreshListeEc',
                                                        details: {ue: ue.id, parcours: parcours.id},
                                                        modalUrl: path('app_element_constitutif_new_enfant', {ue: ue.id,
                                                            parcours:parcours.id, element:ece.id})
                                                    }) }}
                                                    data-action="click->modal#openModal"
                                            >
                                                <i class="{{ iconAdd }}"></i>
                                                Ajouter un EC après l'<strong>{{ ece.code }}</strong>
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% if editable == true %}
                        <div class="text-divider">
                            <button class="btn text-success btn-sm"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Ajouter un élément constitutif',
                                        nomEvenement: 'refreshListeEc',
                                        details: {ue: ue.id, parcours: parcours.id},
                                        modalUrl: path('app_element_constitutif_new', {ue: ue.id, parcours:parcours.id, element:ec
                                        .id})
                                    }) }}
                                    data-action="click->modal#openModal"
                            >
                                <i class="{{ iconAdd }}"></i>
                                Ajouter un EC après l'<strong>{{ ec.code }}</strong>
                            </button>
                        </div>
                    {% endif %}
                {% else %}
                    {% if editable == true %}
                        <div class="text-divider">
                            <button class="btn text-success btn-sm"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'Ajouter un élément constitutif',
                                        nomEvenement: 'refreshListeEc',
                                        details: {ue: ue.id, parcours: parcours.id},
                                        modalUrl: path('app_element_constitutif_new', {ue: ue.id, parcours:parcours.id})
                                    }) }}
                                    data-action="click->modal#openModal"
                            >
                                <i class="{{ iconAdd }}"></i>
                                Ajouter un EC
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>
</div>
