{% extends 'base.html.twig' %}

{% block content %}

    <div class="card">
        <div class="card-body"
        {{ stimulus_controller('notification_liste', {
            url: path('app_notification_liste_mise_a_jour'),
        }) }}
        >
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Workflow</th>
                    {% for profil in profils %}
                        <th>{{ profil.libelle }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for key, notification in workflows %}
                    <tr>
                        <th colspan="{{ profils|length + 1 }}" class="bg-primary text-white">{{ key }}</th>
                    </tr>
                    {% for value in notification %}
                        <tr>
                            <td>{{ value }}</td>
                            {% for profil in profils %}
                                <td><input type="checkbox"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block header %}
    Gérer les notifications
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
    ]}) }}
{% endblock %}

{% block bouton_header %}

{% endblock %}
