{% extends 'base.html.twig' %}

{% block content %}

    <div class="card">
        <div class="card-body"
                {{ stimulus_controller('notification_liste', {
                    url: path('app_notification_liste_mise_a_jour'),
                }) }}
        >
            <div class="table-scroll-wrapper">
                <table class="table table-striped fixed-table">
                    <thead>
                    <tr>
                        <th>Workflow</th>
                        {% for profil in profils %}
                            <th>{{ profil.libelle }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, notification in workflows %}
                        <tr>
                            <th colspan="{{ profils|length + 1 }}" class="bg-primary text-white">{{ key }}</th>
                        </tr>
                        {% for value in notification %}
                            <tr>
                                <td>{{ value|afficheProcess(false) }}</td>
                                {% for profil in profils %}
                                    <td>
                                        <label class="sr-only" for="{{ profil.id }}_{{ value }}">Activer</label>
                                        <input type="checkbox" id="{{ profil.id }}_{{ value }}" value="true"
                                               {% if notifications[value] is defined and profil.id in notifications[value] %}checked{% endif %}
                                                {{ stimulus_action('notification_liste', 'change', 'click',  {
                                                    profil: profil.id,
                                                    workflow: value
                                                }) }}
                                        >
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% set header_title %}
    Gérer les notifications
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
    ]}) }}
{% endblock %}

{% block bouton_header %}

{% endblock %}
