{% set disabled = valeur == 'NON_OUVERTURE_CFVU' or valeur == 'FERMETURE_DEFINITIVE' %}
<tr class="parc_{{ parcours.id }} d-none">
    <td></td>
    <th>Année</th>
    <th></th>
    <th></th>
    <th>Dispensée ?</th>
    <th>Sans <br>Capacités ?</th>
    <th>Capacité <br>N-1</th>
    <th>Capacité <br>{{ user_data.campagneCollecte.libelle }}</th>
    <th></th>
</tr>
{% for annee in annees %}
    <tr data-parcours-id="{{ parcours.id }}"
        data-formation-id="{{ formation.formation.id }}"
        class="parc_{{ parcours.id }} d-none"
    >
        <td style="width: 20px"></td>
        <td style="border-left: 2px solid red">Année {{ annee.ordre }}</td>
        <td></td>
        <td></td>
        <td>
            <label for="dispense_{{ annee.id }}" class="sr-only">Année dispensée ?</label>
            <input type="checkbox" id="dispense_{{ annee.id }}" name="dispense_{{ annee.id }}" value="false"
                    {{ stimulus_action('offre', 'changeOuvertureAnnee', 'change', {
                        id:annee.id
                    }) }}
                    {% if annee.isOuvert %}checked{% endif %}
                    {% if disabled %}disabled{% endif %}
            >
        </td>

        <td>
            <label for="has_capacite_{{ annee.id }}" class="sr-only">Année sans capacités à définir ?</label>
            <input type="checkbox" id="has_capacite_{{ annee.id }}" name="has_capacite_{{ annee.id }}" value="false"
                    {{ stimulus_action('offre', 'changeHasCapacite', 'change', {
                        id:annee.id
                    }) }}
                    {% if annee.hasCapacite == false %}checked{% endif %}
                   {% if disabled %}disabled{% endif %}
            >
        </td>
        <td>
            {{ annee.anneeOrigineCopie != null ? annee.anneeOrigineCopie.capaciteAccueil : 'N.C.' }} places
        </td>
        <td>
            <label for="capacite_{{ annee.id }}" class="sr-only">Capacité accueil pour l'année N+1</label>
            <input type="text" class="form-control" id="capacite_{{ annee.id }}" value="{{ annee.capaciteAccueil }}"
                    {{ stimulus_action('offre', 'changeCapacite', 'change', {
                        id:annee.id
                    }) }}
                    {% if disabled or annee.hasCapacite == false %}disabled{% endif %}
                   value="{{ annee.capaciteAccueil }}"
            >
        </td>
        <td></td>
    </tr>
{% else %}
    <tr class="parc_{{ parcours.id }} d-none">
        <td></td>
        <td colspan="9" class="bg-danger">Erreur années / parcours</td>
    </tr>
{% endfor %}
