<div data-turbo-frame="offre_table">
    <form method="get" action="{{ path('app_offre') }}" class="mb-2">
        <div class="row g-2 align-items-end">
            <div class="col-md-4">
                <label class="form-label mb-1" for="libelle">Libellé</label>
                <input id="libelle" type="text" name="q" value="{{ filters.q|default('') }}" class="form-control"
                       placeholder="Rechercher..." oninput="this.form.requestSubmit()">
            </div>
            <div class="col-md-3">
                <label class="form-label mb-1" for="type_diplome">Type diplôme</label>
                <select id="type_diplome" name="type" class="form-select" onchange="this.form.requestSubmit()">
                    <option value="">Tous</option>
                    {% for t in choices.types %}
                        <option value="{{ t }}"
                                {% if filters.type|default('') == t %}selected{% endif %}>{{ t }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label mb-1" for="composante">Composante</label>
                <select id="composante" name="comp" class="form-select" onchange="this.form.requestSubmit()">
                    <option value="">Toutes</option>
                    {% for c in choices.composantes %}
                        <option value="{{ c }}"
                                {% if filters.comp|default('') == c %}selected{% endif %}>{{ c }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label mb-1" for="ville">Ville</label>
                <select id="ville" name="ville" class="form-select" onchange="this.form.requestSubmit()">
                    <option value="">Toutes</option>
                    {% for v in choices.villes %}
                        <option value="{{ v }}"
                                {% if filters.ville|default('') == v %}selected{% endif %}>{{ v }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>

    <table class="table"
            {{ stimulus_controller('offre', {
                url: path('app_offre_update')
            }) }}
    >
        <thead>
        <tr>
            <th>Composante</th>
            <th>Type diplôme</th>
            <th>Libellé Mention <br> parcours</th>
            <th>ville</th>
            <th>Etat année <br>N-1</th>
            <th>Etat année <br>{{ user_data.campagneCollecte.libelle }}</th>
            <th>Capacité <br>N-1</th>
            <th>Capacité <br>{{ user_data.campagneCollecte.libelle }}</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for formation in tFormations %}
            <tr class="{% if formation.formation.hasParcours == true %}bg-info-pale{% else %}bg-warning-pale{% endif %}"
                data-formation-open="{{ formation.formation.etatReconduction.value }}"
                data-formation-id="{{ formation.formation.id }}"

            >
                <td>{{ formation.formation.composantePorteuse.libelle }}</td>
                <td>{{ formation.formation.typeDiplome.libelle }}</td>
                <td>{{ formation.formation.display }}</td>
                <td>
                    {% if formation.formation.hasParcours == false %}
                        {{ formation.formation.localisationMention.first != null ? formation.formation.localisationMention.first.libelle : 'erreur ville' }}
                    {% endif %}
                </td>
                <td>
                    {% if formation.formation.hasParcours == true %}
                        {{ formation.formation.etatReconduction|badgeTypeModification }}
                    {% else %}
                        {{ formation.dpeParcours[0].etatReconduction|badgeTypeModification }}
                    {% endif %}
                </td>
                <td>
                    {% if formation.formation.hasParcours == true %}
                        {{ include('offre/_select_offre.html.twig', {id: 'formation_'~formation.formation.id, valeur: formation.formation.etatReconduction.value}) }}
                    {% else %}
                        {{ include('offre/_select_offre.html.twig', {id: 'parcours_'~formation.dpeParcours[0].id, valeur: formation.dpeParcours[0].etatReconduction.value}) }}
                    {% endif %}
                </td>
                <td></td>
                <td></td>
                <td>
                    <a
                            class="btn btn-info btn-sm"
                            target="_blank"
                            href="{{ path('app_formation_show', { 'slug': formation.formation.slug }) }}">
                        <i class="{{ iconShow }}"></i>
                    </a>
                </td>
            </tr>
            {% if formation.formation.hasParcours == true %}
                {% for parcours in formation.dpeParcours %}
                    <tr style="border-left: 2px solid dodgerblue"
                        data-parcours-open="{{ parcours.etatReconduction.value }}"
                        data-parcours-id="{{ parcours.id }}"
                        data-formation-id="{{ formation.formation.id }}"
                    >
                        <td style="padding-left: 20px"
                            colspan="3">{{ parcours.parcours.libelle }} {{ parcours.parcours.typeParcours|badgeTypeParcours }}</td>
                        <td>{{ parcours.parcours.localisation != null ? parcours.parcours.localisation.libelle : 'erreur ville' }}</td>
                        <td>{{ parcours.etatReconduction|badgeTypeModification }}</td>
                        <td>
                            {{ include('offre/_select_offre.html.twig', {id: 'parcours_'~parcours.id, valeur: parcours.etatReconduction.value}) }}
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <a class="btn btn-info btn-sm" target="_blank"
                               href="{{ path('app_parcours_show', { 'id': parcours.parcours.id }) }}">
                                <i class="{{ iconShow }}"></i>
                            </a>
                        </td>
                    </tr>

                    {{ include('offre/_annee.html.twig', {annees: parcours.parcours.annees, valeur: parcours.etatReconduction.value}) }}

                {% endfor %}
            {% else %}
                {% set parcours = formation.formation.dpeParcours[0] %}
                {{ include('offre/_annee.html.twig', {annees: parcours.parcours.annees, valeur: parcours.etatReconduction.value}) }}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
