<div class="row">
    <div class="col-12 mb-5">
        <section class="scroll-section" id="labels">
            <h2 class="small-title">Composantes</h2>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-4 d-flex align-items-center mb-2 text-secondary mb-md-0">
                            Composante
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        justify-content-end text-secondary">
                            CATEGORY
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center justify-content-end
                        text-medium justify-content-end text-secondary">
                            PRICE
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center text-medium
                        justify-content-end text-secondary">
                            SALES
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center text-medium
                        justify-content-end text-secondary">
                            STOCK
                        </div>
                    </div>
                </div>
            </div>
            <div>{# class="scroll-out" #}
                {% for composante in composantes %}
                    <div {{ stimulus_controller('structure--composante') }}>
                        <div class="card mb-2 sh-19 sh-md-8">
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-12 col-md-4 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Composante</div>
                                        <a href="#" class="text-truncate">{{ composante.libelle }}</a>
                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Category</div>
                                        <div class="text-alternate">Whole Wheat</div>
                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Price</div>
                                        <div class="text-alternate">
<span>
<span class=>$</span>
3.25
</span>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-1 d-flex flex-column justify-content-center
                                            align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Sale</div>

                                        <button class="btn btn-sm btn-outline-primary"
                                                {{ stimulus_action('structure--composante', 'detail', 'click',
                                                    {composante:composante.id, url: path('structure_formation_detail_composante', {composante:composante.id})}
                                                    ) }}
                                        >
                                            <i class="fal fa-caret-right"></i> Détails
                                        </button>

                                    </div>
                                    <div class="col-6 col-md-3 d-flex flex-column justify-content-center
                                            align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Stock</div>
                                        <div class="text-alternate">2.345</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="detail_composante_{{ composante.id }}" class="d-none detail_composante">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-11" {{ stimulus_target('structure--composante', 'detail') }}></div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </section>
    </div>
</div>
