<div class="row">
    <div class="col-12 mb-5">
        <section class="scroll-section" id="labels">
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-4 d-flex align-items-center mb-2 text-secondary mb-md-0">
                            Composante
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center
                        text-secondary">
                            Nb Mentions/spécialités
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center
                        text-secondary">
                            Etat
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center
                        text-medium text-secondary">
                            Remplissage
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center text-medium
                         text-secondary">
                            Détails
                        </div>
                        <div class="col-6 col-md-3 d-flex align-items-center text-medium
                        justify-content-end text-secondary">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            <div>{# class="scroll-out" #}
                {% for composante in composantes|filter(composante => composante.formationsPortees|length > 0) %}
                    <div {{ stimulus_controller('structure--composante') }}>
                        <div class="card mb-2 sh-19 sh-md-8">
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-12 col-md-4 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Composante</div>
                                        {{ composante.libelle }}
                                    </div>
                                    <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Nb Mentions</div>
                                        {{ composante.formationsPortees|length }} mentions
                                    </div>
                                    <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Etat</div>
                                        {{ composante.etatComposante|badgeEtatComposante }}
                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Remplissage</div>
                                        {{ composante.remplissage|remplissage }}
                                    </div>
                                    <div class="col-6 col-md-1 d-flex flex-column justify-content-center
                                            mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Détails</div>

                                        <button class="ms-2 btn btn-sm btn-outline-primary"
                                                {{ stimulus_action('structure--composante', 'detail', 'click',
                                                    {composante:composante.id, url: path
                                                        ('app_formation_liste_composante',
                                                        {composante:composante.id})}
                                                ) }}
                                        >
                                            <i class="fal fa-caret-right"></i> Détails
                                        </button>
                                    </div>
                                    <div class="col-6 col-md-3 d-flex flex-column justify-content-end
                                    align-items-md-end mb-1 mb-md-0">
                                        <div class="text-muted d-md-none">Actions</div>
                                        <a href="{{ path('app_composante', {composante:composante.id}) }}" class="btn text-info btn-sm">
                                            <i class="{{ iconShow }}"></i>
                                            voir
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="detail_composante_{{ composante.id }}" class="d-none detail_composante ms-4">
                            <div class="row">
                                <div class="col-12 bg-white" {{ stimulus_target('structure--composante', 'detail') }}></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
