{% extends 'base.html.twig' %}

{% block content %}
    <div
            {{ stimulus_controller('crud', {
                url: path('structure_composante_liste'),
                storageKey: 'structure_composante_liste',
            }) }}
            {{ stimulus_target('crud', 'liste') }}>

    </div>
{% endblock %}

{% block header %}
    Gestion de l'offre de formation
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
    ]}) }}
{% endblock %}

{% block bouton_header %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_parcours_lheo_invalid_list') }}"
           class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Vérifier Export LHÉO"
        >
            <i class="fas fa-check"></i>
            <span> Vérifier Export LHÉO</span>
        </a>

        <a href="{{ path('ses_export_offre_formation_brut') }}"
           class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Export brut"
        >
            <i class="{{ iconDownload }}"></i>
            <span> Export "brut"</span>
        </a>
        <a href="{{ path('ses_export_offre_formation') }}"
           class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Exporter un bilan"
        >
            <i class="{{ iconDownload }}"></i>
            <span> Bilan de remplissage</span>
        </a>
        {# todo: a reprendre #}
{#        <a href="{{ path('app_formation_etat_send_ouverture') }}"#}
{#           class="btn btn-sm btn-outline-warning btn-icon btn-icon-end w-100 w-sm-auto mx-2"#}
{#           data-bs-toggle="tooltip"#}
{#           data-bs-placement="bottom"#}
{#           title="Ouvrir les formations"#}
{#        >#}
{#            <i class="{{ iconAdd }}"></i>#}
{#            <span> Ouvrir les formations</span>#}
{#        </a>#}
        <a href="{{ path('app_formation_new') }}"
           class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Ajouter une formation"
        >
            <i class="{{ iconAdd }}"></i>
            <span> Ajouter une formation</span>
        </a>
    {% endif %}
{% endblock %}
