<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <dl>

{#                    <dt>Type de diplôme</dt>#}
{#                    <dd>{{ typeDiplome.libelle }}</dd>#}
                    <dt>Parcours</dt>
                    <dd>
                        {% for ec in ficheMatiere.elementConstitutifs %}
                            {{ ec.parcours!= null ? ec.parcours.libelle : 'non défini' }}<br>
                        {% endfor %}
                    </dd>
                </dl>
            </div>
            <div class="col-6">
                <dl>
                    <dt>fiche matière/EC</dt>
                    <dd>{{ ficheMatiere.libelle }}</dd>
                </dl>
            </div>
            <div class="col-12">
                <strong>Reponsable de la fiche matière/EC</strong><br>
                {% if ficheMatiere.responsableFicheMatiere != null %}
                    {{ ficheMatiere.responsableFicheMatiere.display }}<br>
                    <a href="mailto:{{ ficheMatiere.responsableFicheMatiere.email }}">{{ ficheMatiere.responsableFicheMatiere.email }}</a>
                {% else %}
                    <span class="badge bg-danger">Erreur !</span>
                {% endif %}
            </div>
        </div>

    </div>
</div>
