<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <dl>
                    <dt>Parcours porteur</dt>
                    <dd>
                        {% if ficheMatiere.horsDiplome == true %}
                            <span class="badge bg-info">Fiche hors diplôme</span>
                        {% else %}
                            {% if ficheMatiere.parcours != null %}
                                {{ ficheMatiere.parcours.formation.display }}
                                {% if ficheMatiere.parcours.formation.hasParcours == true %}
                                    / {{ ficheMatiere.parcours.libelle }}
                                {% endif %}
                            {% else %}
                                <span class="badge bg-warning">Sans parcours</span>
                            {% endif %}
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>Fiche EC/matière (sigle)</dt>
                    <dd id="fiche_matiere_libelle_dd">{{ ficheMatiere.display }}</dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>Formation(s) pouvant mobiliser la fiche EC/matière</dt>
                    <dd>
                        {# todo: mettre une "coche" si réellement utilisée #}
                        {% if ficheMatiere.enseignementMutualise == true or ficheMatiere.ficheMatiereParcours|length > 0 %}
                            <ul>
                                {% for ec in ficheMatiere.ficheMatiereParcours %}
                                    <li>{{ (ec.parcours != null and ec.parcours.formation != null) ? ec.parcours.formation
                                        .display : 'non défini' }}
                                        / {{ ec.parcours != null ? ec.parcours.libelle : 'non défini' }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span class="badge bg-info">Fiche EC/matière non mutualisée</span>
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="col-12">
                <strong>Responsable de la fiche EC/matière</strong><br>
                {% if ficheMatiere.responsableFicheMatiere != null %}
                    <span id="fiche_matiere_resp_dd">
                    {{ ficheMatiere.responsableFicheMatiere.display }}<br>
                    <a href="mailto:{{ ficheMatiere.responsableFicheMatiere.email }}">{{ ficheMatiere.responsableFicheMatiere.email }}</a>
                        </span>
                {% else %}
                    <span class="badge bg-warning">Non défini.</span>
                    <small>Le responsable de parcours/formation sera indiqué comme point de contact pour orienter les candidats.</small>
                {% endif %}
            </div>
        </div>

    </div>
</div>
