<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <dl>
                    <dt>Parcours porteur</dt>
                    <dd>
                        {% if ficheMatiere.parcours != null %}
                            {{ ficheMatiere.parcours.formation.display }}
                            {% if ficheMatiere.parcours.formation.hasParcours == true %}
                                / {{ ficheMatiere.parcours.libelle }}
                            {% endif %}
                        {% else %}
                            Sans parcours
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>fiche EC/matière</dt>
                    <dd id="fiche_matiere_libelle_dd">{{ ficheMatiere.libelle }}</dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>Formation(s) mobilisant la fiche EC/matière</dt>
                    <dd>
                        {% if ficheMatiere.enseignementMutualise == true %}
                        {% for ec in ficheMatiere.elementConstitutifs %}
                            {{ ec.parcours != null ? ec.parcours.libelle : 'non défini' }}<br>
                        {% else %}
                            Non utilisée
                        {% endfor %}
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="col-12">
                <strong>Responsable de la fiche EC/matière</strong><br>
                {% if ficheMatiere.responsableFicheMatiere != null %}
                    {{ ficheMatiere.responsableFicheMatiere.display }}<br>
                    <a href="mailto:{{ ficheMatiere.responsableFicheMatiere.email }}">{{ ficheMatiere.responsableFicheMatiere.email }}</a>
                {% else %}
                    <span class="badge bg-danger">Erreur !</span>
                {% endif %}
            </div>
        </div>

    </div>
</div>
