{% extends 'base.html.twig' %}

{% block content %}
    <div {{ stimulus_controller('fiche_matiere_wizard', {
        url: path('app_fiche_matiere_wizard'),
        urlSynthese: path('app_fiche_matiere_wizard_synthese', {id: fiche_matiere.id}),
        step: 'step_1',
        ficheMatiere: fiche_matiere.id,
    }) }}
            {{ stimulus_action('fiche_matiere_wizard', 'refreshStep', 'base:refreshStep@window') }}
    >
        <div {{ stimulus_target('fiche_matiere_wizard', 'synthese') }}></div>
        <div class="mt-3">
            <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#" role="tab" aria-selected="true"
                            {{ stimulus_action('fiche_matiere_wizard', 'changeStep', 'click', {step: 1}) }}
                    >
                        Identité de l'enseignement {{ ficheMatiereState.onglets|etatRemplissage(1, 'ec') }}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#" role="tab"
                            {{ stimulus_action('fiche_matiere_wizard', 'changeStep', 'click', {step: 2}) }}
                       aria-selected="false">Présentation  {{ ficheMatiereState.onglets|etatRemplissage(2, 'ec') }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#" role="tab" aria-selected="false"
                            {{ stimulus_action('fiche_matiere_wizard', 'changeStep', 'click', {step: 3}) }}
                    >Objectifs et Compétences  {{ ficheMatiereState.onglets|etatRemplissage(3, 'ec') }}</a>
                </li>


                <!-- An empty list to put overflowed links -->
                <li class="nav-item dropdown ms-auto pe-0 d-none responsive-tab-dropdown">
                    <a
                            class="btn btn-icon btn-icon-only btn-background pt-0 bg-transparent pe-0"
                            href="#"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        <i data-acorn-icon="more-horizontal"></i>
                    </a>
                    <ul class="dropdown-menu mt-2 dropdown-menu-end"></ul>
                </li>
            </ul>

            <div class="card mb-5">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="step_1" role="tabpanel" {{ stimulus_target
                            ('fiche_matiere_wizard', 'content') }}>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    Fiche EC/matière <strong id="fiche_matiere_libelle">{{ fiche_matiere.display }}</strong>
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('structure_fiche_matiere_index'), title: 'Liste des fiches EC/matières'},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_fiche_matiere_show', {slug:fiche_matiere.slug}) }}"
       class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Voir la fiche EC/matière"
    >
        <i class="{{ iconShow }}"></i>
        <span> Voir la fiche EC/matière</span>
    </a>
    {% if source == 'liste' %}
    <a href="{{ path('structure_fiche_matiere_index') }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour à la liste des fiches EC/matières"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la liste des fiches EC/matières</span>
    </a>
    {% else %}
        <a href="{{ link }}"
           class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Retour au parcours"
        >
            <i class="{{ iconBack }}"></i>
            <span> Retour au parcours</span>
        </a>
    {% endif %}
{% endblock %}
