{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <!-- Test Script -->
    <script>
      let isSaveClicked = false

      function showVersion () {
        let select = document.querySelector('#selectVersion')
        let versionSelected = select.options[select.selectedIndex].value
        if (versionSelected !== '#') {
          window.location = `/fiche/matiere/${versionSelected}/versioning/view`
        }
      }

      function saveVersion (event) {
        if (isSaveClicked === false) {
          let spinner = document.querySelector('#spinner')
          spinner.classList.remove('d-none')
          spinner.classList.add('d-flex')
          isSaveClicked = true
        } else {
          event.preventDefault()
          return false
        }
      }

    </script>
{% endblock %}

{% set isVersioningView = false %}

{% block content %}

    {{ component('fiche_matiere_manage', {ficheMatiere:ficheMatiere, id:'fiche_matiere_manage'}) }}

    <div class="row">
        {{ include('typeDiplome/ec/common/_licence.html.twig') }}
        <!-- Scrollspy Start -->
        <div class="col-md-auto d-none d-lg-block" id="scrollSpyMenu">
            <ul class="nav flex-column">
                <li>
                    <a class="nav-link p-2" href="#identite_enseignement">
                        <i class="fal fa-chevron-right"></i>
                        Identité de l'enseignement
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#presentation">
                        <i class="fal fa-chevron-right"></i>
                        Présentation
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#volumes_horaires">
                        <i class="fal fa-chevron-right"></i>
                        Volumes horaires
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#mccc">
                        <i class="fal fa-chevron-right"></i>
                        MCCC
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#bcc">
                        <i class="fal fa-chevron-right"></i>
                        Compétences acquises
                    </a>
                </li>
                {% if ficheMatiere.enseignementMutualise == true or ficheMatiere.elementConstitutifs|length > 0 %}
                    <li>
                        <a class="nav-link p-2" href="#parcours">
                            <i class="fal fa-chevron-right"></i>
                            Détail des mutualisations
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a class="nav-link p-2" href="#infos">
                        <i class="fal fa-chevron-right"></i>
                        Infos Pratiques
                    </a>
                </li>
            </ul>
        </div>
        <!-- Scrollspy End -->
    </div>
{% endblock %}

{% set header_title %}
    Fiche EC/matière <strong id="fiche_matiere_libelle">{{ ficheMatiere.libelle }}</strong> {% if ficheMatiere.ficheMatiereParcours|length > 0 %}<span class="badge bg-info">Mutualisée</span>{% endif %}
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('structure_fiche_matiere_index'), title: 'Liste des fiches EC/matières'},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    {% if
        is_granted('EDIT', {route: 'app_fiche_matiere', subject: ficheMatiere})
        or is_granted('EDIT', {route: 'app_fiche_matiere_hd', subject: 'etablissement'})
        or is_granted('EDIT', {route: 'app_fiche_matiere', subject: 'formation'})
        or is_granted('EDIT', {route: 'app_fiche_matiere', subject: 'parcours'})
        or is_granted('ROLE_ADMIN') %}
        <a
                href="{{ path('fiche_matiere_v2_modifier',{slug: ficheMatiere.slug}) }}"
                class="btn btn-sm btn-outline-warning"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Modifier une fiche EC/matière"
        >
            <i class="{{ iconEdit }}"></i>
            <span> modifier</span>
        </a>
    {% endif %}

    <a href="{{ path('app_fiche_matiere_export', {id:ficheMatiere.id}) }}"
       class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Télécharger en PDF"
    >
        <i class="{{ iconDownload }}"></i>
        <span> Télécharger en PDF</span>
    </a>
    <a href="{{ path('structure_fiche_matiere_index') }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour à la liste des fiches EC/matières"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la liste des fiches EC/matières</span>
    </a>
{% endblock %}
