<table class="table">
    <thead>
    <tr>
        <th>Composante</th>
        <th>Mention/Spécialité</th>
        <th>Parcours</th>
        <th>Semestre utilisé ?</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for sem in semestres %}
        <tr>
            <td>{{ sem.parcours != null and sem.parcours.formation != null ? sem.parcours.formation.composantePorteuse
                .libelle : 'Erreur
            formation' }}</td>
            <td>{{ sem.parcours != null and sem.parcours.formation != null ? sem.parcours.formation.display : 'Erreur
            formation' }}</td>
            <td>{{ sem.parcours != null ? sem.parcours.libelle : 'Erreur formation' }}</td>
            <td></td>
            <td class="text-end">
                <button {{ stimulus_action('semestre--mutualise', 'delete', 'click', {sem:sem.id}) }} class="btn
                    btn-sm text-danger">
                    <i class="{{ iconDelete }}"></i> Supprimer
                </button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="text-center">Aucun semestre mutualisé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
