<div class="row">
    <div class="col-12 mb-2">
        <section class="scroll-section" id="labels">
            <h2 class="small-title">Semestres</h2>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center mb-2 text-secondary mb-md-0 text-small">
                            Semestre
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            ECTS
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Nb UE
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Commun ?
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Mutualisé ?
                        </div>

                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Détails
                        </div>
                        <div class="col-6 col-md-4 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            <div>{# class="scroll-out" #}
                {% for semestre in semestres %}
                    <div {{ stimulus_controller('structure--semestre') }}>
                        <div class="card mb-2 sh-19 sh-md-8">
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-12 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Semestre</div>
                                        <p>{{ semestre.semestre.display }}
                                        {% if semestre.semestre.semestreRaccroche != null %}
                                        <i class="fal fa-link"
                                           data-controller="tooltip"
                                           data-tooltip-placement-value="bottom"
                                           title="Raccrochée au semestre {{ semestre.semestre
                                           .semestreRaccroche.semestre.display }}"></i>{% endif %}</p>
                                    </div>
                                    <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">ECTS</div>
                                        <span id="ects_semestre_{{ semestre.semestre.id }}_{{ parcours.id }}">
                                            {{ semestre.semestre.totalEctsSemestre|badgeEctsSemestre }}
                                        </span>
                                    </div>
                                    <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Nb UE</div>
                                        {{ semestre.semestre.nbUes|badgeNb }}
                                    </div>
                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Commun ?</div>
                                        {% if semestre.semestre.troncCommun == true %}
                                            <span class="badge bg-info me-2">Tronc Commun</span>

                                        {% else %}
                                            <span class="badge bg-secondary me-2">Parcours</span>
                                        {% endif %}
                                    </div>

                                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Commun ?</div>
                                        {% if semestre.semestreRaccroche != null %}
                                            <span class="badge bg-warning me-2">Raccroché</span>
                                        {% else %}
                                            {% if semestre.semestre.semestreMutualisables|length > 0 %}
                                                <span class="badge bg-secondary me-2">Mutualisé</span>
                                            {% else %}
                                                <span class="badge bg-primary me-2">Classique</span>
                                            {% endif %}
                                        {% endif %}

                                    </div>

                                    <div class="col-6 col-md-1 d-flex flex-column justify-content-center
                                            mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Voir les UE</div>
                                        <button class="btn btn-sm btn-outline-primary"
                                                {{ stimulus_action('structure--semestre', 'detail', 'click',
                                                    {semestre:semestre.semestre.id, url: path
                                                        ('structure_ue_detail_semestre', {semestre:semestre.semestre
                                                        .id, parcours: parcours.id})}
                                                ) }}
                                        >
                                            <i class="fal fa-caret-right"></i> Voir les UE
                                        </button>
                                    </div>
                                    <div class="col-6 col-md-4 d-flex flex-column justify-content-end
                                            align-items-md-end mb-1 mb-md-0 text-end">
                                        <div class="text-muted text-small d-md-none">Actions</div>
                                        <div class="row">
                                            <div class="col-8">
                                                <button
                                                        {{ stimulus_controller('modal', {
                                                            size: 'lg',
                                                            modalTitle: 'Mutualiser le semestre ' ~ semestre.semestre.display,
                                                            modalUrl: path('structure_semestre_mutualiser', {semestre:semestre
                                                            .semestre.id, parcours: parcours.id})
                                                        }) }}
                                                        data-action="click->modal#openModal"
                                                        class="btn btn-sm text-quaternary me-1"
                                                        data-size="lg"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom"
                                                        title="Mutualiser le semestre {{ semestre.semestre.display }}"
                                                >
                                                    <i class="fal fa-share-nodes"></i>
                                                    <span> Mutualiser le semestre</span>
                                                </button>
                                                <button
                                                        {{ stimulus_controller('modal', {
                                                            size: 'lg',
                                                            modalTitle: 'Raccrocher un semestre mutualisé au semestre ' ~ semestre
                                                            .semestre.display,
                                                            modalUrl: path('structure_semestre_raccrocher', {semestre:semestre
                                                            .semestre.id, parcours: parcours.id})
                                                        }) }}
                                                        data-action="click->modal#openModal"
                                                        class="btn btn-sm text-quaternary me-1"
                                                        data-size="lg"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom"
                                                        title="Raccrocher un semestre mutualisé au semestre {{ semestre.semestre.display }}"
                                                >
                                                    <i class="fal fa-down-to-bracket"></i>
                                                    <span> Raccrocher un semestre</span>
                                                </button>
                                            </div>
                                            <div class="col-4 mt-2">{# todo: boutons non centrés dans la
                                            ligne #}

                                                {% if (is_granted('ROLE_FORMATION_EDIT_MY', parcours.formation)) %}
                                                    {#                                                    and #}
                                                    {#                                                    (workflow_can(ec, 'valider_parcours') or workflow_can(ec, #}
                                                    {#                                                    'initialiser'))) or (is_granted #}
                                                    {#                                                    ('ROLE_EC_EDIT_MY', ec)) and  workflow_can(ec, #}
                                                    {#                                                    'valider_ec')) #}
                                                    {% if not loop.first %}
                                                        <button class="btn btn-sm btn-outline-info" {{ stimulus_action
                                                            ('structure--semestre', 'deplacerSemestre',
                                                            'click', {url: path('structure_semestre_deplacer',{sens:
                                                                'up', semestre:semestre
                                                                .id,parcours:parcours.id}), semestre:semestre.id, parcours:parcours.id}) }}>
                                                            <i class="fal fa-circle-up"></i></button>
                                                    {% else %}
                                                        <button class="btn btn-sm btn-outline-info" disabled>
                                                            <i class="fal fa-circle-up"></i>
                                                        </button>
                                                    {% endif %}
                                                    {% if not loop.last %}
                                                        <button class="btn btn-sm btn-outline-info" {{ stimulus_action('structure--semestre', 'deplacerSemestre',
                                                            'click', {url: path('structure_semestre_deplacer',{sens:
                                                                'down', semestre:semestre.id,parcours:parcours.id}), semestre:semestre.id, parcours:parcours.id}) }}>
                                                            <i class="fal
                                                                                        fa-circle-down"></i></button>
                                                    {% else %}
                                                        <button class="btn btn-sm btn-outline-info" disabled>
                                                            <i class="fal fa-circle-down"></i>
                                                        </button>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="detail_semestre_{{ semestre.semestre.id }}" class="d-none detail_semestre"

                        >
                            <div class="row" style="margin-left:1px">
                                <div class="col-12" {{ stimulus_target('structure--semestre', 'detail') }}
                                     data-action="base:refreshListe@window->structure--semestre#refreshListe
                                     structure--ue:refreshListe@window->structure--semestre#refreshListe
                                     ue--raccrocher:modalHide@window->structure--semestre#refreshListe"
                                     data-structure--semestre-semestre-param="{{ semestre.semestre.id }}"
                                     data-structure--semestre-url-param="{{ path
                                         ('structure_ue_detail_semestre', {semestre:semestre.semestre.id, parcours: parcours.id}) }}"
                                >

                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card mb-2">
                        <div class="card-body bg-warning">
                            Ce parcours n'a pas encore de structure. Vous pouvez soit générer une structure
                            automatiquement,
                            soit reprendre une structure existante d'un autre parcours de la mention/spécialité.
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
