<div class="row">
    <div class="col-12 mb-2">
        <section class="scroll-section" id="labels">
            <h2 class="small-title">Semestres</h2>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center mb-2 text-secondary mb-md-0 text-small">
                            Semestre
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            ECTS
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Nb UE
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Commun ?
                        </div>
                        <div class="col-6 col-md-2 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Mutualisé ?
                        </div>

                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Détails
                        </div>
                        <div class="col-6 col-md-3 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Actions
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Ouvert ?
                        </div>
                    </div>
                </div>
            </div>
            <div>{# class="scroll-out" #}
                {% for i in debut..fin %}
                    {% if semestres[i] is not defined or (semestres[i].semestre != null and semestres[i].semestre.nonDispense==true) %}
                        <div class="card mb-2 sh-19 sh-md-8  {% if semestres[i] is not defined %}border-danger text-danger{% endif %}"
                                {{ stimulus_controller('semestre--manage', {
                                    url: path('structure_semestre_actions', {parcours: parcours.id}),
                                }) }}
                        >
                            <div class="card-body pt-0 pb-0 h-100">
                                <div class="row g-0 h-100 align-content-center">
                                    <div class="col-12 col-md-1 d-flex flex-column justify-content-center">
                                        <div class="text-muted text-small d-md-none">Semestre</div>
                                        <p>S{{ i }}</p>
                                    </div>
                                    {% if semestres[i] is defined and semestres[i].semestre.nonDispense==true %}
                                        <div class="col-6 col-md-4 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                            <div class="text-muted text-small d-md-none">ECTS</div>
                                            <span class="badge bg-info">Semestre non dispensé</span>
                                        </div>
                                    {% else %}
                                        <div class="col-6 col-md-4 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                            <div class="text-muted text-small d-md-none">ECTS</div>

                                        </div>
                                    {% endif %}

                                    <div class="col-6 col-md-7 d-flex flex-column justify-content-center
                                            mb-1 mb-md-0">
                                        <div class="text-muted text-small d-md-none">Actions</div>
                                        <div class="row">
                                            <div class="col-6 d-grid">
                                                {% if semestres[i] is not defined %}
                                                    <button class="btn btn-outline-warning"
                                                            {{ stimulus_action('semestre--manage', 'semestreNonDispense', 'click', {
                                                                ordre: i
                                                            }) }}
                                                    >Semestre non dispensé
                                                    </button>
                                                {% endif %}
                                            </div>
                                            <div class="col-6 d-grid">
                                                <button class="btn btn-outline-primary"
                                                        {{ stimulus_action('semestre--manage', 'initSemestre', 'click', {
                                                            ordre: i
                                                        }) }}
                                                >Initialiser le semestre
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% set semestre = semestres[i] %}
                        {% if semestre.semestre != null and semestre.semestre.semestreRaccroche != null %}
                            {% set sem = semestre.semestre.semestreRaccroche.semestre %}
                            {% set raccroche = true %}
                        {% else %}
                            {% set sem = semestre.semestre %}
                            {% set raccroche = false %}
                        {% endif %}
                        <div {{ stimulus_controller('structure--semestre') }}>
                            <div class="card mb-2 sh-19 sh-md-8">
                                <div class="card-body pt-0 pb-0 h-100">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div class="col-12 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Semestre</div>
                                            <p class="mt-0 mb-0">{{ semestre.display }}
                                                {% if raccroche %}
                                                <i class="fal fa-link"
                                                   data-controller="tooltip"
                                                   data-tooltip-placement-value="bottom"
                                                   title="Raccrochée au semestre {{ sem.semestreParcours[0].display }} - {{ sem.semestreParcours[0].parcours.libelle }}"></i>{% endif %}
                                                {% if semestre.semestre != null and semestre.semestre.semestreMutualisables|length > 0 %}
                                                    <i class="fal fa-share-nodes"
                                                       data-controller="tooltip"
                                                       data-tooltip-placement-value="bottom"
                                                       title="Semestre mutualisé"></i>{% endif %}
                                            </p>
                                        </div>
                                        <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                            <div class="text-muted text-small d-md-none">ECTS</div>
                                            {{ component('badge_ects_semestre', {
                                                semestre: sem,
                                                parcours: parcours,
                                            }) }}
                                        </div>
                                        <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Nb UE</div>
                                            {{ sem.nbUes|badgeNb }}
                                        </div>
                                        <div class="col-6 col-md-2 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Commun ?</div>
                                            {% if sem.troncCommun == true %}
                                                <span class="badge bg-info me-2">Tronc Commun</span>

                                            {% else %}
                                                <span class="badge bg-secondary me-2">Parcours</span>
                                            {% endif %}
                                        </div>

                                        <div class="col-6 col-md-2 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Commun ?</div>
                                            {% if raccroche %}
                                                <span class="badge bg-warning me-2">Raccroché</span>
                                            {% else %}
                                                {% if sem.semestreMutualisables|length > 0 %}
                                                    <span class="badge bg-secondary me-2">Mutualisé</span>
                                                {% else %}
                                                    <span class="badge bg-primary me-2">Classique</span>
                                                {% endif %}
                                            {% endif %}

                                        </div>

                                        <div class="col-6 col-md-1 d-flex flex-column justify-content-center
                                            mb-1 mb-md-0">
                                            <div class="text-muted text-small d-md-none">Voir les UE</div>
                                            <button class="btn btn-sm btn-outline-primary"
                                                    {{ stimulus_action('structure--semestre', 'detail', 'click',
                                                        {semestre:sem.id, url: path
                                                            ('structure_ue_detail_semestre', {semestre:sem
                                                            .id, parcours: parcours.id, raccroche:raccroche})}
                                                    ) }}
                                            >
                                                <i class="fal fa-caret-right"></i> Voir les UE
                                            </button>
                                        </div>
                                        <div class=" col-md-4 d-flex flex-column justify-content-center">
                                            <div class="text-muted text-small d-md-none">Actions</div>
                                            <div class="row">
                                                <div class="col-1">&nbsp;</div>
                                                <div class="col-5 d-grid">
                                                    <div class="btn-group d-block">
                                                        <button class="btn btn-outline-primary btn-sm dropdown-toggle"
                                                                type="button" id="dropdownMenuClickableInside"
                                                                data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                                                aria-expanded="false" title="Autres opérations">
                                                            <i class="fas fa-ellipsis-v"></i> Actions
                                                        </button>
                                                        <ul class="dropdown-menu"
                                                            aria-labelledby="dropdownMenuClickableInside">
                                                            <li>
                                                                <a
                                                                        href="#"
                                                                        {{ stimulus_controller('modal', {
                                                                            size: 'lg',
                                                                            modalTitle: 'Dupliquer le semestre ' ~ sem.display,
                                                                            modalUrl: path('structure_semestre_dupliquer', {semestre:sem.id, parcours: parcours.id})
                                                                        }) }}
                                                                        data-action="click->modal#openModal"
                                                                        class="dropdown-item text-primary"
                                                                        data-size="lg"
                                                                        {% if raccroche %}disabled{% endif %}
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom"
                                                                        title="Dupliquer l\'UE {{ sem.display }}"
                                                                >
                                                                    <i class="{{ iconDuplicate }}"></i>
                                                                    <span> Dupliquer le semestre</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a
                                                                        href="#"
                                                                        {{ stimulus_controller('modal', {
                                                                            size: 'lg',
                                                                            modalTitle: 'Déplacer le semestre ' ~ sem.display,
                                                                            modalUrl: path('structure_semestre_changer', {semestre:sem.id, parcours: parcours.id})
                                                                        }) }}
                                                                        data-action="click->modal#openModal"
                                                                        class="dropdown-item text-secondary"
                                                                        data-size="lg"
                                                                        {% if raccroche %}disabled{% endif %}
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom"
                                                                        title="Déplacer l\'UE {{ sem.display }}"
                                                                >
                                                                    <i class="fal fa-right-left"></i>
                                                                    <span> Déplacer le semestre</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a
                                                                        href="#"
                                                                        {{ stimulus_controller('modal', {
                                                                            size: 'lg',
                                                                            modalTitle: 'Mutualiser le semestre ' ~ sem.display,
                                                                            modalUrl: path('structure_semestre_mutualiser', {semestre:sem.id, parcours: parcours.id})
                                                                        }) }}
                                                                        data-action="click->modal#openModal"
                                                                        class="dropdown-item text-quaternary"
                                                                        data-size="lg"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom"
                                                                        {% if raccroche %}disabled{% endif %}
                                                                        title="Mutualiser le semestre {{ sem.display }}"
                                                                >
                                                                    <i class="fal fa-share-nodes"></i>
                                                                    <span> Mutualiser le semestre</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a
                                                                        href="#"
                                                                        {{ stimulus_controller('modal', {
                                                                            size: 'lg',
                                                                            modalTitle: 'Raccrocher un semestre mutualisé au semestre ' ~ semestre
                                                                            .semestre.display,
                                                                            modalUrl: path('structure_semestre_raccrocher', {semestre:semestre.semestre.id, parcours: parcours.id})
                                                                        }) }}
                                                                        data-action="click->modal#openModal"
                                                                        class="dropdown-item text-quaternary"
                                                                        data-size="lg"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom"

                                                                        title="Raccrocher un semestre mutualisé au semestre {{ semestre.semestre.display }}"
                                                                >
                                                                    <i class="fal fa-link"></i>
                                                                    <span> Raccrocher un semestre</span>
                                                                </a>
                                                            </li>
                                                            {% if sem.troncCommun == false %}
                                                                <li>
                                                                    <button
                                                                            {{ stimulus_action('structure--semestre', 'transformeTroncCommun', 'click', {
                                                                                url: path
                                                                                    ('structure_semestre_definir_tronc_commun',
                                                                                    {semestreParcours:semestre.id, parcours: parcours.id})
                                                                            }) }}
                                                                            href="#"
                                                                            class="dropdown-item text-danger"
                                                                            data-size="lg"
                                                                            data-bs-toggle="tooltip"
                                                                            {% if raccroche %}
                                                                                disabled
                                                                            {% endif %}
                                                                            data-bs-placement="bottom"
                                                                            title="Définir ce {{ semestre.display }} comme tronc commun de la mention"
                                                                    >
                                                                        <i class="fal fa-merge"></i>
                                                                        <span> Définir tronc commun de la mention</span>
                                                                    </button>
                                                                </li>
                                                            {% endif %}
                                                            <li>
                                                                <button
                                                                        {{ stimulus_action('structure--semestre', 'reinitSemestre', 'click', {
                                                                            url: path
                                                                                ('structure_semestre_reinitialiser',
                                                                                {semestre:semestre.semestre.id, parcours: parcours.id})
                                                                        }) }}
                                                                        href="#"
                                                                        class="dropdown-item text-danger"
                                                                        data-size="lg"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom"
                                                                        title="Réinitialiser le semestre {{ semestre.display }}"
                                                                >
                                                                    <i class="{{ iconDelete }}"></i>
                                                                    <span> Réinitialiser un semestre</span>
                                                                </button>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-4">{# todo: boutons non centrés dans la
                                            ligne #}

                                                    {% if
                                                        (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)) or
                                                        (is_granted('CAN_PARCOURS_EDIT_MY', dpeParcours)) %}
                                                        {#                                                    and #}
                                                        {#                                                    (workflow_can(ec, 'valider_parcours') or workflow_can(ec, #}
                                                        {#                                                    'initialiser'))) or (is_granted #}
                                                        {#                                                    ('ROLE_EC_EDIT_MY', ec)) and  workflow_can(ec, #}
                                                        {#                                                    'valider_ec')) #}
                                                        {% if not loop.first %}
                                                            <button class="btn btn-sm btn-outline-info" {{ stimulus_action
                                                                ('structure--semestre', 'deplacerSemestre',
                                                                'click', {url: path('structure_semestre_deplacer',{sens:
                                                                    'up', semestre:semestre.id,parcours:parcours.id}), semestre:semestre.id, parcours:parcours.id}) }}>
                                                                <i class="fal fa-circle-up"></i></button>
                                                        {% else %}
                                                            <button class="btn btn-sm btn-outline-info" disabled>
                                                                <i class="fal fa-circle-up"></i>
                                                            </button>
                                                        {% endif %}
                                                        {% if not loop.last %}
                                                            <button class="btn btn-sm btn-outline-info" {{ stimulus_action('structure--semestre', 'deplacerSemestre',
                                                                'click', {url: path('structure_semestre_deplacer',{sens:
                                                                    'down', semestre:semestre.id,parcours:parcours.id}), semestre:semestre.id, parcours:parcours.id}) }}>
                                                                <i class="fal
                                                                                        fa-circle-down"></i></button>
                                                        {% else %}
                                                            <button class="btn btn-sm btn-outline-info" disabled>
                                                                <i class="fal fa-circle-down"></i>
                                                            </button>
                                                        {% endif %}

                                                    {% endif %}
                                                </div>
                                                <div class="col-2">
                                                    {% if
                                                        (is_granted('CAN_FORMATION_EDIT_MY', parcours.formation)) or
                                                        (is_granted('CAN_PARCOURS_EDIT_MY', dpeParcours)) %}
                                                        <span class="form-check form-switch">
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   title="Semestre ouvert ?"
                                                                   id="semestre_open_{{ semestre.id }}"
                                                                   {{ semestre.isOuvert == true ? 'checked="checked"' : '' }}">
                                                            <label class="form-check-label sr-only"
                                                                   for="semestre_open_{{ semestre.id }}">Ouvert ?</label>
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="detail_semestre_{{ sem.id }}" class="d-none detail_semestre"

                            >
                                <div class="row" style="margin-left:1px">
                                    <div class="col-12" {{ stimulus_target('structure--semestre', 'detail') }}
                                         data-action="base:refreshListe@window->structure--semestre#refreshListe
                                     structure--ue:refreshListe@window->structure--semestre#refreshListe
                                     ue--raccrocher:modalHide@window->structure--semestre#refreshListe
                                     ue--manage:modalHide@window->structure--semestre#refreshListe"
                                         data-structure--semestre-semestre-param="{{ sem.id }}"
                                         data-structure--semestre-url-param="{{ path
                                             ('structure_ue_detail_semestre', {semestre:sem.id, parcours: parcours.id}) }}"
                                    >

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="card mb-2">
                        <div class="card-body bg-warning">
                            Ce parcours n'a pas encore de structure. Vous pouvez soit générer une structure
                            automatiquement,
                            soit reprendre une structure existante d'un autre parcours de la mention/spécialité.
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
