<div
        {{ stimulus_controller('semestre--mutualise', {
            url: path('structure_semestre_mutualise_add_ajax', {semestre:semestre.id})
        }) }}
>
    <label class="form-label" for="mutualiser">
        {{ 'semestre.mutualiser.label'|trans({}, 'form') }}
        <span class="required"></span>
        <i class="fal fa-question-circle ms-1" data-controller="tooltip" data-tooltip-placement-value="bottom"
           title="{{ 'semestre.mutualiser.helps'|trans({}, 'help') }}"></i>
    </label>

    <div {{ stimulus_target('semestre--mutualise', 'liste') }}></div>

    <div class="row">
        <div class="col-12">
            <label for="composante">Choisir une composante</label>
            <select class="form-select" id="composante" name="composante"
                    {{ stimulus_action('semestre--mutualise', 'changeComposante') }}
                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
            >
                <option value="null">Choisir une composante</option>
                {% for composante in composantes %}
                    <option value="{{ composante.id }}">{{ composante.libelle }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="formation">Choisir une mention/spécialité</label>
            <select class="form-select" id="formation" name="formation"
                    {{ stimulus_action('semestre--mutualise','changeFormation') }}
                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
            >
                <option value="">Choisir d'abord une composante</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="parcours">Choisir un parcours</label>
            <select class="form-select" id="parcours" name="parcours"
                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
            >
                <option value="">Choisir d'abord une mention/spécialité</option>
            </select>
        </div>
    </div>

    <button class="btn btn-success mt-2" data-action="semestre--mutualise#ajouter">
        Ajouter
    </button>
</div>
