<div {{ stimulus_controller('fichematiere--mutualise', {
}) }}>

    <label class="form-label" for="mutualiser">
        {{ 'semestre.mutualiser.label'|trans({}, 'form') }}
        <span class="required"></span>
        <i class="fal fa-question-circle ms-1" data-controller="tooltip" data-tooltip-placement-value="bottom"
           title="{{ 'semestre.mutualiser.helps'|trans({}, 'help') }}"></i>
    </label>

    <table class="table">
        <thead>
        <tr>
            <th>Composante</th>
            <th>Mention/Spécialité</th>
            <th>Parcours</th>
            <th>Semestre utilisé ?</th>
            <th></th>
        </tr>
        </thead>
        {#    <tbody> #}
        {#    {% for fiche in ficheMatiere.ficheMatiereParcours %} #}
        {#        <tr> #}
        {#            <td>{{ fiche.parcours.formation.composantePorteuse.libelle }}</td> #}
        {#            <td>{{ fiche.parcours.formation.display }}</td> #}
        {#            <td>{{ fiche.parcours.libelle }}</td> #}
        {#            <td>{{ ficheMatiere|hasParcours(fiche.parcours) == true ? '<span class="badge bg-success">Oui</span>' : #}
        {#                '<span class="badge bg-danger">Non</span>' #}
        {#                }}</td> #}
        {#            <td class="text-end"> #}
        {#                <button {{ stimulus_action('fichematiere--step1', 'delete', 'click', { #}
        {#                    url:path('app_fiche_matiere_wizard_step_1_mutualise_add_ajax', {ficheMatiere:ficheMatiere.id, #}
        {#                    }),fiche:fiche.id #}
        {#                }) }} class="btn btn-sm text-danger"> #}
        {#                    <i class="{{ iconDelete }}"></i> Supprimer #}
        {#                </button> #}
        {#            </td> #}
        {#        </tr> #}
        {#    {% endfor %} #}
        {#    </tbody> #}
    </table>

    <div class="row">
        <div class="col-12">
            <label for="composante">Choisir une composante</label>
            <select class="form-select" id="composante" name="composante" {{ stimulus_action('fichematiere--mutualise',
                'changeComposante') }}>
                <option value="0">Choisir une composante</option>
                {#                {% for composante in composantes %} #}
                {#                    <option value="{{ composante.id }}">{{ composante.libelle }}</option> #}
                {#                {% endfor %} #}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="formation">Choisir une mention/spécialité</label>
            <select class="form-select" id="formation" name="formation" {{ stimulus_action('fichematiere--mutualise',
                'changeFormation') }}>
                <option value="0">Choisir d'abord une composante</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="parcours">Choisir un parcours</label>
            <select class="form-select" id="parcours" name="parcours">
                <option value="0">Choisir d'abord une mention/spécialité</option>
            </select>
        </div>
    </div>

    <button class="btn btn-success mt-2" data-action="fichematiere--mutualise#ajouter base#modalClose" data-bs-dismiss="modal">
        Ajouter
    </button>
</div>
