<table class="table">
    <tbody>
    {% for rome in codes %}
        <tr>
            <td>{{ rome.code }}</td>
            <td>
                <button class="btn text-danger"
                        {{ stimulus_action('parcours--step6', 'removeCode', 'click',{code: rome.code}) }}
                >
                    <i class="{{ iconDelete }}"></i>
                    Supprimer
                </button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2" class="bg-warning">Aucun code rome n'a été ajouté</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="flex items-start gap-2">
    <div class="flex-1">
            <label class="sr-only" for="codeRomeToAdd">Code</label>
            <input type="text" class="form-control" id="codeRomeToAdd">
        <p class="text-[11px] text-slate-400 italic mt-1 pl-1 flex items-start gap-2">
            <span class="flex-shrink-0 w-5 h-5 bg-slate-200 text-slate-500 flex items-center justify-center text-[10px] rounded-full"><i
                        class="fa-sharp fa-solid fa-circle-info"></i></span>
            <span>{{ 'parcours_step6.helps.codeRome.help'|trans({}, 'help')|raw }}</span>
        </p>
    </div>
    <div class="flex items-center">
            <button class="btn btn-success"
                    {{ stimulus_action('parcours--step6', 'addCode') }}
            >Ajouter le code
            </button>
    </div>
</div>

