<h2>Descriptif de la parcours</h2>
<div {{ stimulus_controller('parcours--step2', {
    url: path('app_parcours_save', {parcours:parcours.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.modalitesEnseignement) }}
    {{ form_row(form.hasStage) }}
    <div id="blocStage" style="display:{% if parcours.hasStage == null or parcours.hasStage == false %}none{% endif %}">
        {{ form_row(form.stageText) }}
        {# todo seulement si L ou M ? #}
        {{ form_row(form.nbHeuresStages) }}
    </div>
    {{ form_row(form.hasProjet) }}
    <div id="blocProjet" style="display:{% if parcours.hasProjet == null or parcours.hasProjet == false %}none{% endif %}">
        {{ form_row(form.projetText) }}
        {# todo seulement si L ou M ? #}
        {{ form_row(form.nbHeuresProjet) }}
    </div>

    {{ form_row(form.hasMemoire) }}
    <div id="blocMemoire" style="display:{% if parcours.hasMemoire == null or parcours.hasMemoire == false %}none{% endif %}">
        {{ form_row(form.memoireText) }}
        {# todo seulement si L ou M ? #}
        {{ form_row(form.nbHeuresMemoire) }}
    </div>
    {{ form_end(form) }}
</div>
