<div {{ stimulus_controller('parcours--step3', {
    url: path('app_parcours_save', {parcours:parcours.id}),
    urlListe: path('app_bloc_competence_liste_parcours', {parcours:parcours.id}),
}) }}
        data-action="base:refreshListe@window->parcours--step3#refreshListe"
>
    <div class="row">
        <div class="col-md-8">
            {% if listeParcours|length > 1 %}

                <div class="alert alert-info mb-2 mt-2">
                    Vous pouvez récupérer les compétences d'un parcours déjà créé en cliquant sur le bouton ci-dessous.
                    Les compétences de l'autre parcours seront recopiées (et ajoutées) à ce parcours. Vous pourrez ensuite
                    librement les gérer.
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="parcoursSource">Choisir le parcours pour recopier les blocs de compétences et
                                                        compétences</label>
                            <select {{ stimulus_target('parcours--step3', 'parcours') }} class="form-select" id="parcoursSource">
                                <option value="">Choisissez un parcours</option>
                                {% for lp in listeParcours %}
                                    <option value="{{ lp.id }}">{{ lp.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 d-grid">
                            <br>
                            <button {{ stimulus_action('parcours--step3', 'recopieBcc') }} class="btn btn-sm btn-outline-primary
                d-block">
                                Récupérer les compétences du parcours selectionné
                            </button>
                        </div>
                    </div>

                </div>

            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="alert alert-info mb-2 mt-2">
                Vous pouvez réinitialiser les blocs de compétences et les compétences associées. Cette action
                supprimera toutes les compétences et blocs de compétences associés à cette formation et aux fiches
                EC/matière.
                <div class="d-grid">
                <button {{ stimulus_action('parcours--step3', 'resetBcc') }} class="btn btn-sm
                btn-outline-danger d-block">Réinitialiser les BCCs</button>
                </div>
            </div>
        </div>
    </div>
    <div {{ stimulus_target('parcours--step3', 'liste') }}>

    </div>

    <div class="alert {% if parcours.getEtatStep(3) %}alert-success{% else %}alert-warning{% endif %} mt-2" id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if parcours.getEtatStep(3) %}checked{% endif %}
                {{ stimulus_action('parcours--step3', 'etatStep', 'change') }}

        ><label for="etatStructure">
            Cochez cette case si vous avez terminé de définir les compétences. Cela permet de mettre à jour
            l'indicateur de l'onglet.</label>
    </div>
</div>
