{% deprecated('devient parcours') %}

<h2>Bloc de compétences et compétences rattachées </h2>
<div {{ stimulus_controller('parcours--step3', {
    url: path('app_parcours_save', {parcours:parcours.id}),
    urlListe: path('app_bloc_competence_liste_parcours', {parcours:parcours.id}),
}) }}
        data-action="base:refreshListe@window->parcours--step3#refreshListe"
>
    <div {{ stimulus_target('parcours--step3', 'liste') }}>

    </div>
    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'Ajouter un bloc de compétences',
                modalUrl: path('app_bloc_competence_new_parcours', {parcours:parcours.id}) }) }}
            data-action="click->modal#openModal"
            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2 mt-4"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Ajouter un bloc de compétences"
    >
        <i class="{{ iconAdd }}"></i>
        <span> Ajouter un bloc de compétences</span>
    </button>
    <div class="alert {% if parcours.getEtatStep(3) %}alert-success{% else %}alert-warning{% endif %} mt-2">
        <input type="checkbox"
               id="etatCompetence"
               class="form-check-inline"
               {% if parcours.getEtatStep(3) %}checked{% endif %}
                {{ stimulus_action('parcours--step3', 'etatStep', 'change') }}

        ><label for="etatCompetence">
            Cochez cette case si vous avez terminé de définir les compétences. Cela permet de mettre à jour
            l'indicateur de l'onglet.</label>
    </div>
</div>
