<div {{ stimulus_controller('parcours--step5', {
    url: path('app_parcours_save', {parcours:parcours.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_row(form.prerequis) }}

    {% if parcours.formation.isHasParcours == true %}
        {{ form_row(form.composanteInscription) }}
        {{ form_row(form.regimeInscription) }}
        {{ form_row(form.modalitesAlternance) }}
    {% endif %}
    {{ form_row(form.coordSecretariat) }}
    {{ form_row(form.modalitesAdmission) }}
    <div class="alert {% if parcours.getEtatStep(5) %}alert-success{% else %}alert-warning{% endif %}" id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if parcours.getEtatStep(5) %}checked{% endif %}
                {{ stimulus_action('parcours--step5', 'etatStep', 'change') }}

        ><label for="etatStructure">
            Cochez cette case si vous avez terminé ...</label>
    </div>
</div>
