<div {{ stimulus_controller('parcours--step6', {
    url: path('app_parcours_save', {parcours:parcours.id}),
    urlCodeRome: path('app_parcours_wizard_step_6_code_rome', {parcours:parcours.id}),
    urlCodeRomeGere: path('app_parcours_wizard_step_6_code_rome_gere', {parcours:parcours.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.poursuitesEtudes) }}
    {{ form_row(form.debouches) }}

    <label class="col-form-label required">
        {{ 'parcours_step6.labels.codeRome'|trans({}, 'form') }}
        <i class="fal fa-question-circle ms-1"
           data-controller="tooltip"
           data-tooltip-placement-value="bottom"
           aria-label="{{ 'parcours_step6.helps.codeRome.help'|trans({}, 'help') }}"
           data-bs-original-title="{{ 'parcours_step6.helps.codeRome.help'|trans({}, 'help') }}"></i>
    </label>
    <div {{ stimulus_target('parcours--step6', 'listeCodes') }}>

    </div>
    {{ form_end(form) }}

    <div class="alert {% if parcours.getEtatStep(6) %}alert-success{% else %}alert-warning{% endif %}"
         id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if parcours.getEtatStep(6) %}checked{% endif %}
                {{ stimulus_action('parcours--step6', 'etatStep', 'change') }}

        ><label for="etatStructure">
            Cochez cette case si vous avez terminé ...</label>
    </div>
</div>
