<div {{ stimulus_controller('parcours--step5', {
    url: path('app_parcours_save', {parcours:parcours.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_row(form.prerequis) }}

    {% if parcours.formation.isHasParcours == true %}
        {{ form_row(form.composanteInscription) }}
        {{ form_row(form.regimeInscription) }}
        {{ form_row(form.modalitesAlternance) }}
    {% endif %}

    <div class="col-form-label required">
        {{ 'parcours_step5.labels.contacts'|trans({}, 'form') }}
        <i class="fal fa-question-circle ms-1"
           data-controller="tooltip"
           data-tooltip-placement-value="bottom"
           aria-label="{{ 'parcours_step5.helps.contacts.help'|trans({}, 'help') }}"
           data-bs-original-title="{{ 'parcours_step5.helps.contacts.help'|trans({}, 'help') }}"></i>
    </div>
    <div class="mt-2"
            {{ stimulus_controller('crud', {
                url: path('app_parcours_contacts', {parcours:parcours.id})
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe">
        <div {{ stimulus_target('crud', 'liste') }}>
        </div>
    </div>


    <div class="alert {% if parcours.getEtatStep(5) %}alert-success{% else %}alert-warning{% endif %}" id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if parcours.getEtatStep(5) %}checked{% endif %}
                {{ stimulus_action('parcours--step5', 'etatStep', 'change') }}

        ><label for="etatStructure">
            Cochez cette case si vous avez terminé ...</label>
    </div>
</div>
