<div {{ stimulus_controller('parcours--step7', {
    url: path('app_parcours_save', {parcours:parcours.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.descriptifHautPage) }}
    {{ form_row(form.descriptifBasPage) }}
    {{ form_row(form.codeRNCP) }}
    {{ form_end(form) }}
</div>
