<div class="row">
    <div class="col-sm-12">
        <dl>
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Organisation de la formation</dt>
            <dd>
                {{ parcours.contenuFormation|printTexte }}
            </dd>
            {% if stringDifferencesParcours.presentationParcoursContenuFormation is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                    {
                        textDifferences: stringDifferencesParcours.presentationParcoursContenuFormation,
                        idCollapse: 'diffGlobalParcours'
                    }
                ) }}
            {% endif %}
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Objectifs du parcours</dt>
            <dd>
                {{ parcours.objectifsParcours|printTexte }}
            </dd>
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Mots clés du parcours</dt>
            <dd>
                {{ parcours.motsCles|printTexte }}
            </dd>
            {% if stringDifferencesParcours.presentationParcoursObjectifsParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                    {
                        textDifferences: stringDifferencesParcours.presentationParcoursObjectifsParcours,
                        idCollapse: 'diffGlobalParcours'
                    }
                ) }}
            {% endif %}
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Résultats attendus du parcours</dt>
            <dd>
                {{ parcours.resultatsAttendus|printTexte }}
            </dd>
            {% if stringDifferencesParcours.presentationParcoursResultatsAttendus is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                    {
                        textDifferences: stringDifferencesParcours.presentationParcoursResultatsAttendus,
                        idCollapse: 'diffGlobalParcours'
                    }
                ) }}
            {% endif %}
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Rythme de formation</dt>
            <dd>
                {% if parcours.rythmeFormation != null %}
                    <span class="px-2 py-1 bg-indigo-50 rounded-lg text-xs font-bold text-indigo-600">
                    {{ parcours.rythmeFormation.libelle }}
                </span>
                {% else %}
                    <span class="px-2 py-1 bg-orange-50 rounded-lg text-xs font-bold text-orange-600">
                    Non précisé
                </span>
                {% endif %}
            </dd>
            {% if stringDifferencesParcours.rythmeFormationParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig', {
                    textDifferences: stringDifferencesParcours.rythmeFormationParcours,
                    idCollapse: 'diffGlobalParcours'
                }) }}
            {% endif %}
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Précisions sur le rythme de formation</dt>
            <dd>
                {% if parcours.rythmeFormationTexte != null and parcours.rythmeFormationTexte != '' %}
                    {{ parcours.rythmeFormationTexte|printTexte }}
                {% else %}
                    <span class="px-2 py-1 bg-orange-50 rounded-lg text-xs font-bold text-orange-600">
                    Non précisé
                </span>
                {% endif %}
            </dd>
        </dl>
    </div>
</div>
