{% extends 'base.html.twig' %}

{% block content %}
    <div class="card"
            {{ stimulus_controller('crud', {
                url: path('app_annee_universitaire_liste'),
                storageKey: 'annee_universitaire_liste',
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe"
    >
        <div class="card-body" {{ stimulus_target('crud', 'liste') }}>
        </div>
    </div>
{% endblock %}

{% block header %}
    Gestion des DPE
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'Ajouter une année universitaire',
                modalUrl: path('app_annee_universitaire_new') }) }}
            data-action="click->modal#openModal"
            class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Ajouter une année universitaire"
    >
        <i class="{{ iconAdd }}"></i>
        <span> Ajouter une année universitaire</span>
    </button>
{% endblock %}
