<div>Gestion des droits d'accès</div>
<div {{ stimulus_controller('user', {
    url: path('app_user_roles', {id: user.id}),
}) }}>
    {% for role in roles %}
        <div class="me-2">
            <input
                    {{ stimulus_action('user', 'changeRole', 'change', {
                        role: role.codeRole
                    }) }}
                    id="roles_{{ loop.index }}" type="checkbox" name="roles[]" value="{{ role.codeRole }}"
                    {% if role.codeRole in user.roles %}checked{% endif %}>
            <label for="roles_{{ loop.index }}">{{ role.libelle }}</label>
        </div>
    {% endfor %}
</div>
