<table class="table table-striped">
    <thead>
    <tr>
        <th>Type de centre</th>
        <th>Centre</th>
        <th>Droits</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for centre in centresUser %}
        <tr>
            <td>{{ centre.typeCentre != null ? centre.typeCentre.libelle : 'Non précisé' }}</td>
            <td>{{ centre.displaySimple != null ? centre.displaySimple : 'Non précisé' }}</td>
            <td>{{ centre.droits|badgeDroits }}</td>
            <td><button {{ stimulus_action('centre', 'delete', 'click', {
                    url:path('app_user_gestion_delete_centre',{'id': centre.id}),
                    csrf: csrf_token('delete' ~ centre.id)
                }) }} class="btn btn-sm text-danger">
                    <i class="{{ iconDelete }}"></i> Supprimer
                </button></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4" class="bg-warning">Aucun centre</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
