<twig:alerte type="warning">
    {{ 'admin.edit.modal.help'|trans }}
</twig:alerte>
<div>
    <h3 class="modal-section-title">
        {{ 'modifier.la.validation.title'|trans({}, 'process') }}
    </h3>

    <form action="{{ path('app_validation_edit', {type:type, id:id}) }}" method="post">
        <label for="etat_dpe"> {{ 'process.modification'|trans({}, 'process') }}</label>
        <select class="form-select" id="etat_dpe">
            {% for key, etat in etats %}
                <option value="{{ key }}">
                    {{ ('workflow.'~etat.label)|trans({}, 'process') }}
                </option>
            {% endfor %}
        </select>
        <div class="mt-2">
            <button type="submit" class="btn btn-success"
                    {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
                    data-action="live#emit"
                    data-event="edit"
            >
                <i class="fal fa-floppy-disk"></i>
                Enregistrer
            </button>
        </div>
    </form>
</div>
<div>
    <h3 class="modal-section-title">
        {{ 'modifier.la.validation.title'|trans({}, 'process') }}
    </h3>
    {% if type == 'parcours' %}
        <twig:CommentaireAdmin
                :parcours="object"
        />
    {% else %}
        <twig:CommentaireAdmin
                :formation="object"
        />
    {% endif %}

</div>


