<div class="row">
    {% if (print is defined and print == false) %}
    <div class="col-sm-12 text-end mb-2">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2 dropdown-toggle mb-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="{{ iconDownload }}"></i>  BCC
            </button>
            <div class="dropdown-menu" style="">
                <a class="dropdown-item" href="{{ path('app_parcours_bcc', {parcours:parcours.id}) }}">
                    Voir en ligne
                </a>
                <a class="dropdown-item" href="{{ path('app_competence_export_bcc', {parcours:parcours.id}) }}">
                    Export des BCC (pdf)
                </a>
                <a class="dropdown-item" href="{{ path('app_competence_export_croise', {parcours:parcours.id}) }}">
                    Export du tableau croisé BCC/EC (pdf)
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-sm-12">
        <ul class="list-unstyled">
        {% for bc in parcours.blocCompetences %}
            <li>{{ bc.display }}</li>
            <li>
                <ul>
                {% for c in bc.competences %}
                    <li>{{ c.display }}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
