<div class="col-12">
    <dl>
        {% if formation.isHasParcours == false and formation.parcours|length == 1 %}
            <dt>Responsable de formation</dt>
            <dd>{{ parcours.formation.responsableMention != null ? parcours.formation.responsableMention.display : 'Non concerné' }}</dd>
            <dt>Co-responsable de formation</dt>
            <dd>{{ parcours.formation.coResponsable != null ? parcours.formation.coResponsable.display : 'Non concerné' }}</dd>
        {% else %}
            <dt>Responsable du parcours</dt>
            <dd>{{ parcours.respParcours != null ? parcours.respParcours.display : 'Non concerné' }}</dd>
            {% if stringDifferencesParcours.contactsParcoursResponsableParcours is defined %}
                {{ include('communs/_comparaison_versioning_big.html.twig', 
                        {
                            textDifferences: stringDifferencesParcours.contactsParcoursResponsableParcours,
                            idCollapse: "diffParcoursResponsableParcours" ~ parcours.id
                        }
                    ) 
                }}
            {% endif %}
            <dt>Email</dt>
            <dd>{{ parcours.respParcours != null ? parcours.respParcours.email : 'Non concerné' }}</dd>
            {% if stringDifferencesParcours.emailParcoursResponsableParcours is defined %}
                {{ include('communs/_comparaison_versioning_big.html.twig', 
                        {
                            textDifferences: stringDifferencesParcours.emailParcoursResponsableParcours,
                            idCollapse: "diffParcoursEmailResponsableParcours" ~ parcours.id
                        }
                    ) 
                }}
            {% endif %}
            {% if parcours.coResponsable != null %}
                <dt>Co-responsable du parcours</dt>
                <dd>{{ parcours.coResponsable != null ? parcours.coResponsable.display : 'Non concerné' }}</dd>
                {% if stringDifferencesParcours.contactsParcoursCoResponsableDuParcours is defined %}
                    {{ include('communs/_comparaison_versioning_big.html.twig', 
                            {
                                textDifferences: stringDifferencesParcours.contactsParcoursCoResponsableDuParcours,
                                idCollapse: "diffParcoursCoResponsableDuParcours" ~ parcours.id
                            }
                        ) 
                    }}
                {% endif %}
                <dt>Email</dt>
                <dd>{{ parcours.coResponsable != null ? parcours.coResponsable.email : 'Non concerné' }}</dd>
                {% if stringDifferencesParcours.emailParcoursCoResponsableDuParcours is defined %}
                    {{ include('communs/_comparaison_versioning_big.html.twig', 
                            {
                                textDifferences: stringDifferencesParcours.emailParcoursCoResponsableDuParcours,
                                idCollapse: "diffParcoursEmailCoResponsableDuParcours" ~ parcours.id
                            }
                        ) 
                    }}
                {% endif %}
            {% endif %}
        {% endif %}
        <dt>Coordonnées secrétariat</dt>
        <dd>{{ parcours.coordSecretariat|raw }}</dd>
    </dl>
    <div class="row">
        {% for contact in parcours.contacts %}
            <div class="col-4">
                <strong>{{ contact.denomination }}</strong>
                <p>{{ contact.display }}</p>
                <p>{{ contact.telephone|tel_format }}</p>
                <p>{{ contact.email|mailto }}</p>
                <p>{{ contact.adresse != null ? contact.adresse.display|raw : 'Pas d\'adresse' }}</p>
            </div>
        {% endfor %}
    </div>
</div>
