<div class="row">
    <div class="col-sm-12 col-md-6">
        <dl>
            <dt>Modalités d'enseignement</dt>
            <dd>{{ parcours.modalitesEnseignement != null ? parcours.modalitesEnseignement.libelle : 'Erreur' }}</dd>
        </dl>
    </div>

    {% if typeDiplome.hasStage %}
    <div class="col-sm-12 col-md-6">
        <dl>
            <dt>Stage(s)</dt>
            <dd>
                {% if parcours.hasStage == true %}
                    Oui ({{ parcours.nbHeuresStages }} heures). {{ parcours
                .stageText|raw }}
                {% else %}
                    Non
                {% endif %}
            </dd>
        </dl>
    </div>
    {% endif %}

    {% if typeDiplome.hasProjet %}
    <div class="col-sm-12 col-md-6">
        <dl>
            <dt>Projet(s) tutoré(s)</dt>
            <dd>
                {% if parcours.hasProjet == true %}
                    Oui ({{ parcours.nbHeuresProjet }} heures). {{ parcours.projetText|raw }}
                {% else %}
                    Non
                {% endif %}
            </dd>
        </dl>
    </div>
    {% endif %}

    {% if typeDiplome.hasMemoire %}
        <div class="col-sm-12 col-md-6">
            <dl>
                <dt>TER/Mémoire</dt>
                <dd>
                    {% if parcours.hasMemoire == true %}
                        Oui. {{ parcours.memoireText|raw }}
                    {% else %}
                        Non
                    {% endif %}
                </dd>
            </dl>
        </div>
    {% endif %}

    {% if typeDiplome.hasSituationPro %}
    <div class="col-sm-12 col-md-6">
        <dl>
            <dt>Situation professionnelle</dt>
            <dd>
                {% if parcours.hasSituationPro == true %}
                    Oui ({{ parcours.nbHeuresSituationPro }} heures).
                {% else %}
                    Non
                {% endif %}
            </dd>
        </dl>
    </div>
    {% endif %}
</div>
