<div class="row">
    <div class="col-sm-12">
        <dl>
            <dt>Modalités d'enseignement</dt>
            <dd>{{ parcours.modalitesEnseignement != null ? parcours.modalitesEnseignement.libelle : 'Erreur' }}</dd>

            {% if typeDiplome.hasStage %}
                <dt>Stage(s)</dt>
                <dd>
                    {% if parcours.hasStage == true %}
                        Oui ({{ parcours.nbHeuresStages }} heures). {{ parcours.stageText|printTexte }}
                        {% if stringDifferencesParcours.stageTextParcours is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig', {
                                    textDifferences: stringDifferencesParcours.stageTextParcours,
                                    idCollapse: 'diffGlobalParcours'
                                }) 
                            }}
                        {% endif %}
                        {% if stringDifferencesParcoursCampagne.stageTextParcours is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                                    {
                                        textDifferences: stringDifferencesParcoursCampagne.stageTextParcours,
                                        idCollapse: 'diffGlobalParcoursCampagne'
                                    }
                                )
                            }}
                        {% endif %}
                    {% else %}
                        Non
                    {% endif %}
                </dd>
            {% endif %}
            {% if typeDiplome.hasProjet %}
                <dt>Projet(s) tutoré(s)</dt>
                <dd>
                    {% if parcours.hasProjet == true %}
                        Oui ({{ parcours.nbHeuresProjet }} heures). {{ parcours.projetText|printTexte }}
                    {% else %}
                        Non
                    {% endif %}
                </dd>
            {% endif %}
            {% if typeDiplome.hasMemoire %}
                <dt>TER/Mémoire</dt>
                <dd>
                    {% if parcours.hasMemoire == true %}
                        Oui. {{ parcours.memoireText|printTexte }}
                        {% if stringDifferencesParcours.memoireTextParcours is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig', {
                                    textDifferences: stringDifferencesParcours.memoireTextParcours,
                                    idCollapse: 'diffGlobalParcours'
                                }) 
                            }}
                        {% endif %}
                        {% if stringDifferencesParcoursCampagne.memoireTextParcours is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                                    {
                                        textDifferences: stringDifferencesParcoursCampagne.memoireTextParcours,
                                        idCollapse: 'diffGlobalParcoursCampagne'
                                    }
                                )
                            }}
                        {% endif %}
                    {% else %}
                        Non
                    {% endif %}
                </dd>
            {% endif %}
            {% if typeDiplome.hasSituationPro %}
                <dt>Situation professionnelle</dt>
                <dd>
                    {% if parcours.hasSituationPro == true %}
                        Oui ({{ parcours.nbHeuresSituationPro }} heures).
                    {% else %}
                        Non
                    {% endif %}
                </dd>
            {% endif %}
        </dl>
    </div>
</div>
