<div class="row">
    <div class="col-12">
        <dl>
            <dt>Poursuites d'études envisageables</dt>
            <dd>{{ parcours.poursuitesEtudes|raw }}</dd>
            {% if stringDifferencesParcours.poursuiteEtudesParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig', {
                        textDifferences: stringDifferencesParcours.poursuiteEtudesParcours,
                        idCollapse: 'diffGlobalParcours'
                    }) 
                }}
            {% endif %}
            {% if stringDifferencesParcoursCampagne.poursuiteEtudesParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                        {
                            textDifferences: stringDifferencesParcoursCampagne.poursuiteEtudesParcours,
                            idCollapse: 'diffGlobalParcoursCampagne'
                        }
                    )
                }}
            {% endif %}
            <dt>Débouchés</dt>
            <dd>{{ parcours.debouches|raw }}</dd>
            {% if stringDifferencesParcours.debouchesTextParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig', {
                        textDifferences: stringDifferencesParcours.debouchesTextParcours,
                        idCollapse: 'diffGlobalParcours'
                    }) 
                }}
            {% endif %}
            {% if stringDifferencesParcoursCampagne.debouchesTextParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                        {
                            textDifferences: stringDifferencesParcoursCampagne.debouchesTextParcours,
                            idCollapse: 'diffGlobalParcoursCampagne'
                        }
                    )
                }}
            {% endif %}
        </dl>
    </div>
    <div class="col-12">
        <strong>Code ROME</strong>
        <ul>
        {% for code in parcours.codesRome %}
            <li>{{ code.code }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
