<div class="row">
    <div class="col-12">
        <dl>
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Poursuites d'études envisageables</dt>
            <dd>{{ parcours.poursuitesEtudes|raw }}</dd>
            {% if stringDifferencesParcours.poursuiteEtudesParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig', {
                        textDifferences: stringDifferencesParcours.poursuiteEtudesParcours,
                        idCollapse: 'diffGlobalParcours'
                })
                }}
            {% endif %}
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Débouchés</dt>
            <dd>{{ parcours.debouches|raw }}</dd>
            {% if stringDifferencesParcours.debouchesTextParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig', {
                        textDifferences: stringDifferencesParcours.debouchesTextParcours,
                        idCollapse: 'diffGlobalParcours'
                })
                }}
            {% endif %}
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Code ROME</dt>
            <dd> {% for code in parcours.codesRome %}
                    <span class="px-2 py-1 bg-indigo-50 rounded-lg text-xs font-bold text-indigo-600 mt-1">{{ code.code }}</span>
                {% endfor %}
            </dd>
        </dl>
    </div>
</div>
