<div class="row">
    <div class="col-md-6 col-sm-12">
        <dl>
            <dt>Type de diplôme</dt>
            <dd>{{ typeDiplome|typeDiplome }}</dd>
            <dt>Domaine</dt>
            <dd>{{ formation.domaine != null ? formation.domaine.libelle : 'erreur' }}</dd>
            <dt>Niveau à l'entrée de la formation</dt>
            <dd>{{ formation.niveauEntree.libelle }}</dd>
            <dt>Inscription au RNCP</dt>
            <dd>{{ formation.inRncp == true ? formation.codeRncp : 'Non inscrit' }}</dd>
        </dl>
    </div>
    <div class="col-md-6 col-sm-12">
        <dl>
            <dt>Composante porteuse</dt>
            <dd>{{ formation.composantePorteuse != null ? formation.composantePorteuse.libelle : 'erreur' }}</dd>
            <dt>Mention/Spécialité</dt>
            <dd>{{ formation.display }}</dd>
            <dt>Niveau à la sortie de la formation</dt>
            <dd>{{ formation.niveauSortie.libelle }}</dd>
        </dl>
    </div>
    <div class="col-12">
        <dl>
            <dt>Responsable de la formation</dt>
            <dd>{{ formation.responsableMention != null ? formation.responsableMention.display : 'erreur' }}</dd>
            <dt>Email</dt>
            <dd>{{ formation.responsableMention != null ? formation.responsableMention.email : 'erreur' }}</dd>
        </dl>
    </div>
</div>


