<div class="row">
    <div class="col-sm-12">
        <dl>
            {% if is_granted('ROLE_ADMIN') %}
                <dt>Id formation</dt>
                <dd>#{{ formation.id }}</dd>
            {% endif %}
            <dt>Type de diplôme</dt>
            <dd>{{ typeDiplome|typeDiplome }}</dd>
            <dt>Mention/Spécialité</dt>
            <dd>{{ formation.display }}</dd>
            {% if formation.isHasParcours == true and print is defined and print == true %}
                <dt>Parcours</dt>
                <dd>
                    <ul>
                        {% for parcours in formation.parcours %}
                            <li>{{ parcours.libelle }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
            <dt>Domaine(s)</dt>
            <dd>
                {% for domaine in formation.domaines %}
                    {{ domaine.libelle }}{% if not loop.last %}, {% endif %}
                {% else %}
                    -erreur-
                {% endfor %}
            </dd>
            <dt>Composante porteuse</dt>
            <dd>{{ formation.composantePorteuse != null ? formation.composantePorteuse.libelle : 'erreur' }}</dd>
            <dt>Inscription au RNCP</dt>
            <dd>{{ formation.inRncp == true ? formation.codeRncp : 'Non inscrit' }}</dd>
            <dt>Niveau à l'entrée de la formation</dt>
            <dd>{{ formation.niveauEntree.libelle }}</dd>
            <dt>Niveau à la sortie de la formation</dt>
            <dd>{{ formation.niveauSortie.libelle }}</dd>
        </dl>
    </div>
    <div class="col-12">
        <dl>
            <dt>Responsable de la formation</dt>
            <dd>{{ formation.responsableMention != null ? formation.responsableMention.display : 'erreur' }}</dd>
            {% if stringDifferencesFormation.responsableDeFormation is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                        {
                            textDifferences: stringDifferencesFormation.responsableDeFormation,
                            idCollapse: 'diffGlobalParcours'
                        }
                    )
                }}
            {% endif %}
            {% if stringDifferencesFormationCampagne.responsableDeFormation is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                        {
                            textDifferences: stringDifferencesFormationCampagne.responsableDeFormation,
                            idCollapse: 'diffGlobalParcoursCampagne'
                        }
                    ) 
                }}
            {% endif %}
            <dt>Email</dt>
            <dd>{{ formation.responsableMention != null ? formation.responsableMention.email : 'erreur' }}</dd>
            {% if stringDifferencesFormation.emailResponsableFormation is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                        {
                            textDifferences: stringDifferencesFormation.emailResponsableFormation,
                            idCollapse: 'diffGlobalParcours'
                        }
                    )
                }}
            {% endif %}
            {% if stringDifferencesFormationCampagne.emailResponsableFormation is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                        {
                            textDifferences: stringDifferencesFormationCampagne.emailReponsableFormation,
                            idCollapse: 'diffGlobalParcoursCampagne'
                        }
                    )
                }}
            {% endif %}
            {% if formation.coResponsable != null %}
                <dt>Co-Responsable de la formation</dt>
                <dd>{{ formation.coResponsable != null ? formation.coResponsable.display : 'erreur' }}</dd>
                {% if stringDifferencesFormation.coResponsableDeFormation is defined %}
                    {{ include('communs/_comparaison_versioning_no_button.html.twig',
                            {
                                textDifferences: stringDifferencesFormation.coResponsableDeFormation,
                                idCollapse: 'diffGlobalParcours'
                            }
                        )
                    }}
                {% endif %}
                {% if stringDifferencesFormationCampagne.coResponsableDeFormation is defined %}
                    {{ include('communs/_comparaison_versioning_no_button.html.twig',
                            {
                                textDifferences: stringDifferencesFormationCampagne.coResponsableDeFormation,
                                idCollapse: 'diffGlobalParcoursCampagne'
                            }
                        )
                    }}
                {% endif %}
                <dt>Email</dt>
                <dd>{{ formation.coResponsable != null ? formation.coResponsable.email : 'erreur' }}</dd>
                {% if stringDifferencesFormation.emailCoResponsable is defined %}
                    {{ include('communs/_comparaison_versioning_no_button.html.twig',
                            {
                                textDifferences: stringDifferencesFormation.emailCoResponsable,
                                idCollapse: 'diffGlobalParcours'
                            }
                        )
                    }}
                {% endif %}
                {% if stringDifferencesFormationCampagne.emailCoResponsable is defined %}
                    {{ include('communs/_comparaison_versioning_no_button.html.twig',
                            {
                                textDifferences: stringDifferencesFormationCampagne.emailCoResponsable,
                                idCollapse: 'diffGlobalParcoursCampagne'
                            }
                        )
                    }}
                {% endif %}
            {% endif %}
        </dl>
    </div>
</div>


