<div class="row">
    <div class="col-sm-12">
        <dl>
            <dt>Type de diplôme</dt>
            <dd>{{ typeDiplome|typeDiplome }}</dd>
            <dt>Mention/Spécialité</dt>
            <dd>{{ formation.display }}</dd>
            {% if formation.isHasParcours == true and print is defined and print == true %}
                <dt>Parcours</dt>
                <dd>
                    <ul>
                        {% for parcours in formation.parcours %}
                            <li>{{ parcours.libelle }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
            <dt>Domaine</dt>
            <dd>{{ formation.domaine != null ? formation.domaine.libelle : 'erreur' }}</dd>
            <dt>Composante porteuse</dt>
            <dd>{{ formation.composantePorteuse != null ? formation.composantePorteuse.libelle : 'erreur' }}</dd>
            <dt>Inscription au RNCP</dt>
            <dd>{{ formation.inRncp == true ? formation.codeRncp : 'Non inscrit' }}</dd>
            <dt>Niveau à l'entrée de la formation</dt>
            <dd>{{ formation.niveauEntree.libelle }}</dd>
            <dt>Niveau à la sortie de la formation</dt>
            <dd>{{ formation.niveauSortie.libelle }}</dd>
        </dl>
    </div>
    <div class="col-12">
        <dl>
            <dt>Responsable de la formation</dt>
            <dd>{{ formation.responsableMention != null ? formation.responsableMention.display : 'erreur' }}</dd>
            {% if stringDifferencesFormation.responsableDeFormation is defined %}
                {{ include('communs/_comparaison_formation_versioning.html.twig', 
                        {
                            stringData: stringDifferencesFormation.responsableDeFormation,
                            idCollapse: "diffResponsableDeFormation"
                        }
                    ) 
                }}
            {% endif %}
            {# {{ include('communs/_comparaison_formation_versioning.html.twig', {textField: "emailResponsableFormation"}) }} #}
            <dt>Email</dt>
            <dd>{{ formation.responsableMention != null ? formation.responsableMention.email : 'erreur' }}</dd>
            {% if stringDifferencesFormation.emailResponsableFormation is defined %}
                {{ include('communs/_comparaison_formation_versioning.html.twig', 
                        {
                            stringData: stringDifferencesFormation.emailResponsableFormation,
                            idCollapse: "diffEmailResponsableDeFormation"
                        }
                    ) 
                }}
            {% endif %}
            {% if formation.coResponsable != null %}
                <dt>Co-Responsable de la formation</dt>
                <dd>{{ formation.coResponsable != null ? formation.coResponsable.display : 'erreur' }}</dd>
                {% if stringDifferencesFormation.coResponsableDeFormation is defined %}
                    {{ include('communs/_comparaison_formation_versioning.html.twig', 
                            {
                                stringData: stringDifferencesFormation.coResponsableDeFormation,
                                idCollapse: "diffCoResponsableDeFormation"
                            }
                        ) 
                    }}
                {% endif %}
                <dt>Email</dt>
                <dd>{{ formation.coResponsable != null ? formation.coResponsable.email : 'erreur' }}</dd>
                {% if stringDifferencesFormation.emailCoResponsable is defined %}
                    {{ include('communs/_comparaison_formation_versioning.html.twig', 
                            {
                                stringData: stringDifferencesFormation.emailCoResponsable,
                                idCollapse: "diffEmailCoResponsable"
                            }
                        ) 
                    }}
                {% endif %}
            {% endif %}
        </dl>
    </div>
</div>


