{# todo: par parcours uniquement ? #}
<div class="row">
    <div class="col-6">
        <dl>
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Localisation(s) de la mention/spécialité
            </dt>
            <dd>
                {% for ville in formation.localisationMention %}{{ ville.libelle }}{% if not loop.last %}, {% endif %}{% endfor %}
            </dd>
            {% if stringDifferencesFormation.localisationMention is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                    {
                        textDifferences: stringDifferencesFormation.localisationMention,
                        idCollapse: 'diffGlobalParcours'
                    }
                )
                }}
            {% endif %}
            {% if stringDifferencesFormationCampagne.localisationMention is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                    {
                        textDifferences: stringDifferencesFormationCampagne.localisationMention,
                        idCollapse: 'diffGlobalParcoursCampagne'
                    }
                )
                }}
            {% endif %}
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Régime(s) d'inscription</dt>
            <dd>
                {% if formation.hasParcours %}
                    {% for regime in parcours.regimeInscription %}
                        <span class="px-2 py-1 bg-indigo-50 rounded-lg text-xs font-bold text-indigo-600 mt-1">{{ regime.value }}</span>
                    {% endfor %}
                    {{ parcours.displayRegimeInscription|raw }}
                        {% if stringDifferencesParcours.regimeInscriptionParcours is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                                    {
                                        textDifferences: stringDifferencesParcours.regimeInscriptionParcours,
                                        idCollapse: 'diffGlobalParcours'
                                    }
                                )
                            }}
                        {% endif %}
                        {% if stringDifferencesParcoursCampagne.regimeInscriptionParcours is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                                    {
                                        textDifferences: stringDifferencesParcoursCampagne.regimeInscriptionParcours,
                                        idCollapse: 'diffGlobalParcoursCampagne'
                                    }
                                )
                            }}
                        {% endif %}
                {% else %}
                    {{ formation.regimeInscriptionTexte|raw }}
                        {% if stringDifferencesFormation.regimeInscriptionTexte is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                                    {
                                        textDifferences: stringDifferencesFormation.regimeInscriptionTexte,
                                        idCollapse: 'diffGlobalParcours'
                                    }
                                )
                            }}
                        {% endif %}
                        {% if stringDifferencesFormationCampagne.regimeInscriptionTexte is defined %}
                        {{ include('communs/_comparaison_versioning_no_button.html.twig',
                                    {
                                        textDifferences: stringDifferencesFormationCampagne.regimeInscriptionTexte,
                                        idCollapse: 'diffGlobalParcoursCampagne'
                                    }
                                )
                            }}
                        {% endif %}
                {% endif %}
            </dd>
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Modalités de l'alternance</dt>
            <dd>
                {% if formation.hasParcours %}
                    {{ parcours.modalitesAlternance|raw }}
                        {% if stringDifferencesParcours.modaliteAlternanceParcours is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                                    {
                                        textDifferences: stringDifferencesParcours.modaliteAlternanceParcours,
                                        idCollapse: 'diffGlobalParcours'
                                    }
                                )

                            }}
                        {% endif %}
                        {% if stringDifferencesParcoursCampagne.modaliteAlternanceParcours is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                                    {
                                        textDifferences: stringDifferencesParcoursCampagne.modaliteAlternanceParcours,
                                        idCollapse: 'diffGlobalParcoursCampagne'
                                    }
                                )

                            }}
                        {% endif %}
                {% else %}
                    {{ formation.modalitesAlternance|raw }}
                        {% if stringDifferencesFormation.modaliteAlternanceFormation is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                                    {
                                        textDifferences: stringDifferencesFormation.modaliteAlternanceFormation,
                                        idCollapse: 'diffGlobalParcours'
                                    }
                                )

                            }}
                        {% endif %}
                        {% if stringDifferencesFormationCampagne.modaliteAlternanceFormation is defined %}
                            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                                    {
                                        textDifferences: stringDifferencesFormationCampagne.modaliteAlternanceFormation,
                                        idCollapse: 'diffGlobalParcoursCampagne'
                                    }
                                )

                            }}
                        {% endif %}
                {% endif %}

            </dd>
        </dl>
    </div>
    <div class="col-6">
        {% for composante in formation.composantesInscription %}
            <dl>
                <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Composante d'inscription</dt>
                <dd>
                    <div class="not-prose bg-white border-l-4 border-indigo-500 p-8 rounded-r-sm shadow-sm mb-5 mt-3">
                        <p class="text-slate-600 leading-relaxed font-medium">
                            {{ composante.libelle }}<br>
                            {{ composante.adresse != null ? composante.adresse.display|raw :
                            'Erreur' }}<br>
                            {{ composante.telStandard|tel_format }} {% if composante.telComplementaire != null %}ou {{ composante
                            .telComplementaire|tel_format }}{% endif %}<br>
                            {{ composante.mailContact|mailto }}<br>
                            {{ composante.urlSite|open_url }}<br>
                        </p>
                    </div>
                </dd>
            </dl>
        {% endfor %}
        {% if stringDifferencesFormation.composanteInscriptionFormation is defined %}
            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                    {
                        textDifferences: stringDifferencesFormation.composanteInscriptionFormation,
                        idCollapse: 'diffGlobalParcours'
                    }
                )
            }}
        {% endif %}
        {% if stringDifferencesFormationCampagne.composanteInscriptionFormation is defined %}
            {{ include('communs/_comparaison_versioning_no_button.html.twig',
                    {
                        textDifferences: stringDifferencesFormationCampagne.composanteInscriptionFormation,
                        idCollapse: 'diffGlobalParcoursCampagne'
                    }
                )
            }}
        {% endif %}
    </div>
</div>
