<div class="row">
    <div class="col-6">
        <dl>
            <dt>Localisation(s) de la mention/spécialité</dt>
            <dd>
                {% for ville in formation.localisationMention %}{{ ville.libelle }}{% if not loop.last %}, {% endif %}{% endfor %}
            </dd>
            {% if stringDifferencesFormation.localisationMention is defined %}
                {{ include('communs/_comparaison_versioning_big.html.twig', 
                        {
                            textDifferences: stringDifferencesFormation.localisationMention,
                            idCollapse: "diffLocalisationMention"
                        }
                    ) 
                }}
            {% endif %}
            <dt>Régime(s) d'inscription</dt>
            <dd>
                <ul>
                    {% for regime in formation.regimeInscription %}
                    <li>{{ regime.value }}</li>
                    {% endfor %}
                </ul>
                {{ formation.regimeInscriptionTexte }}
                {% if stringDifferencesFormation.regimeInscriptionFormation is defined %}
                    {{ include("communs/_comparaison_versioning_big.html.twig", {
                            textDifferences: stringDifferencesFormation.regimeInscriptionFormation,
                            idCollapse: "diffRegimeInscriptionFormation"
                        })
                    }}
                {% endif %}
            </dd>
            <dt>Modalités de l'alternance</dt>
            <dd>
                {{ formation.modalitesAlternance|raw }}
            </dd>
        </dl>
    </div>
    <div class="col-6">
        <strong>Composante(s) d'inscription</strong>
        {% for composante in formation.composantesInscription %}
        <dl>
            <dt>Composante</dt>
            <dd>{{ composante.libelle }}</dd>
            <dt>Adresse</dt>
            <dd>{{ composante.adresse != null ? composante.adresse.display|raw : 'Erreur'}}</dd>
            <dt>Téléphone</dt>
            <dd>{{ composante.telStandard|tel_format }} {% if composante.telComplementaire != null %}ou {{ composante
                .telComplementaire|tel_format }}{% endif %}</dd>
            <dt>Email</dt>
            <dd>{{ composante.mailContact|mailto }}</dd>
            <dt>Site web</dt>
            <dd>{{ composante.urlSite|open_url }}</dd>
        </dl>
        {% endfor %}
    </div>
</div>
