<div class="row">
    <div class="col-12">
        <dl>
            <dt>Localisation du parcours</dt>
            <dd>
                {{ parcours.localisation != null ? parcours.localisation.libelle : 'Erreur' }}
            </dd>
            <dt>Régime(s) d'inscription</dt>
            <dd>
                <ul>
                    {% for regime in parcours.regimeInscription %}
                        <li>{{ regime.value }}</li>
                    {% endfor %}
                </ul>
            </dd>
            <dt>Modalités de l'alternance</dt>
            <dd>
                {{ parcours.modalitesAlternance|raw }}
            </dd>

            {% if parcours.composanteInscription != null %}
                <dt>Composante  d'inscription</dt>
                <dd>{{ parcours.composanteInscription.libelle }}</dd>
                <dt>Adresse</dt>
                <dd>{{ parcours.composanteInscription.adresse != null ? parcours.composanteInscription.adresse.display|raw :
                    'Erreur' }}</dd>
                <dt>Téléphone</dt>
                <dd>{{ parcours.composanteInscription.telStandard|tel_format }} {% if parcours.composanteInscription.telComplementaire != null %}ou {{ parcours.composanteInscription
                    .telComplementaire|tel_format }}{% endif %}</dd>
                <dt>Email</dt>
                <dd>{{ parcours.composanteInscription.mailContact|mailto }}</dd>
                <dt>Site web</dt>
                <dd>{{ parcours.composanteInscription.urlSite|open_url }}</dd>
        {% else %}
            Non précisé
        {% endif %}
        </dl>

    </div>
</div>
