<div class="row">
    <div class="col-12">
        <dl>
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Localisation du parcours</dt>
            <dd>
                {{ parcours != null and parcours.localisation != null ? parcours.localisation.libelle : 'Erreur' }}
            </dd>
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Régime(s) d'inscription</dt>
            <dd>

                    {% if parcours != null and parcours.regimeInscription != null %}
                    {% for regime in parcours.regimeInscription %}
                        <span class="px-2 py-1 bg-indigo-50 rounded-lg text-xs font-bold text-indigo-600 mt-1">{{ regime.value }}</span>
                    {% endfor %}
                    {% endif %}

            </dd>
            {% if stringDifferencesParcours.regimeInscriptionParcours is defined %}
                {{ include("communs/_comparaison_versioning_no_button.html.twig", {
                        textDifferences: stringDifferencesParcours.regimeInscriptionParcours,
                        idCollapse: 'diffGlobalParcours'
                    })
                }}
            {% endif %}
            <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Modalités de l'alternance</dt>
            <dd>
                {{ parcours.modalitesAlternance|raw }}
            </dd>

            {% if parcours.composanteInscription != null %}
                <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Composante d'inscription</dt>
                <dd>
                    <div class="not-prose bg-white border-l-4 border-indigo-500 p-8 rounded-r-sm shadow-sm mb-5 mt-3">
                        <p class="text-slate-600 leading-relaxed font-medium">
                            {{ parcours.composanteInscription.libelle }}<br>
                            {{ parcours.composanteInscription.adresse != null ? parcours.composanteInscription.adresse.display|raw :
                            'Erreur' }}<br>
                            {{ parcours.composanteInscription.telStandard|tel_format }} {% if parcours.composanteInscription.telComplementaire != null %}ou {{ parcours.composanteInscription
                            .telComplementaire|tel_format }}{% endif %}<br>
                            {{ parcours.composanteInscription.mailContact|mailto }}<br>
                            {{ parcours.composanteInscription.urlSite|open_url }}<br>
                        </p>
                    </div>
                </dd>
                {#                <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Composante d'inscription</dt> #}
                {#                <dd>{{ parcours.composanteInscription.libelle }}</dd> #}
                {#                <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Adresse</dt> #}
                {#                <dd>{{ parcours.composanteInscription.adresse != null ? parcours.composanteInscription.adresse.display|raw : #}
                {#                    'Erreur' }}</dd> #}
                {#                <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Téléphone</dt> #}
                {#                <dd>{{ parcours.composanteInscription.telStandard|tel_format }} {% if parcours.composanteInscription.telComplementaire != null %}ou {{ parcours.composanteInscription #}
                {#                    .telComplementaire|tel_format }}{% endif %}</dd> #}
                {#                <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Email</dt> #}
                {#                <dd>{{ parcours.composanteInscription.mailContact|mailto }}</dd> #}
                {#                <dt class="text-[10px] font-black text-indigo-400 uppercase mt-3">Site web</dt> #}
                {#                <dd>{{ parcours.composanteInscription.urlSite|open_url }}</dd> #}
        {% else %}
            Non précisé
        {% endif %}
        </dl>

    </div>
</div>
