<div class="row">
    <div class=col-sm-12">
        <dl>
            <dt>Contenu de la formation</dt>
            <dd>{{ formation.contenuFormation|raw }}</dd>
            <dt>Résultats attendus de la formation</dt>
            <dd>{{ formation.resultatsAttendus|raw }}</dd>
            <dt>Rythme de formation</dt>
            <dd>
                <ul>
                    {% for rythme in formation.rythmeFormation %}
                        <li>{{ rythme.libelle }}</li>
                    {% endfor %}
                </ul>
            </dd>
            <dt>Précisions sur le rythme de formation</dt>
            <dd>{{ formation.rythmeFormationTexte|raw }}</dd>
        </dl>
    </div>
</div>

{% if formation.isHasParcours == true %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Parcours</h3>
            <table class="table">
            {% for parcours in formation.parcours %}
                <tr>
                    <td>{# todo: uniquement si dans formation, sinon des liens ? #}
                        <a href="#presentation_{{ parcours.id }}">{{ parcours.libelle }}</a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2 dropdown-toggle mb-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="{{ iconDownload }}"></i>  MCCC (xlsx)
                            </button>
                            <div class="dropdown-menu" style="">
                                <a class="dropdown-item" href="{{ path('app_parcours_mccc_export', {parcours:parcours.id, _format:'xlsx'}) }}">
                                    Version complète
                                </a>
                                <a class="dropdown-item" href="{{ path('app_parcours_mccc_export_light', {parcours:parcours.id, _format:'xlsx'}) }}">Version simplifiée</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="{{ path('app_parcours_bcc', {parcours:parcours.id})  }}"
                           class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2"
                           data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           title="Voir les BCC"
                        >
                            <i class="{{ iconShow }}"></i>
                            <span> Voir BCC</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Parcours</h3>
            <p>Il n'y a pas de parcours pour cette formation.</p>
        </div>
    </div>
{% endif %}
