<div class="row">
    <div class="col-sm-12">
        <dl>
            <dt>Organisation de la formation</dt>
            <dd>
                {{ parcours.contenuFormation|printTexte }}
            </dd>
            {{ include('communs/_comparaison_parcours_versioning.html.twig', 
                    {
                        textDifferences: stringDifferencesParcours.presentationParcoursContenuFormation,
                        idCollapse: "diffParcoursContenuFormation"
                    }
                ) 
            }}
            <dt>Objectifs du parcours</dt>
            <dd>
                {{ parcours.objectifsParcours|printTexte }}
            </dd>
            {{ include('communs/_comparaison_parcours_versioning.html.twig', 
                    {
                        textDifferences: stringDifferencesParcours.presentationParcoursObjectifsParcours,
                        idCollapse: "diffParcoursObjectifs"
                    }
                ) 
            }}
            <dt>Résultats attendus du parcours</dt>
            <dd>
                {{ parcours.resultatsAttendus|printTexte }}
            </dd>            
            {{ include('communs/_comparaison_parcours_versioning.html.twig', 
                    {
                        textDifferences: stringDifferencesParcours.presentationParcoursResultatsAttendus,
                        idCollapse: "diffParcoursResultatsAttendus"
                    }
                ) 
            }}
            <dt>Rythme de formation</dt>
            <dd>
                {{ parcours.rythmeFormation != null ? parcours.rythmeFormation.libelle : 'Non précisé' }}
            </dd>
            <dt>Précisions sur le rythme de formation</dt>
            <dd>{{ parcours.rythmeFormationTexte|printTexte }}</dd>
        </dl>
    </div>
</div>
