<div class="row">
    <div class="col-sm-12">
        <dl>
            <dt>Organisation de la formation</dt>
            <dd>
                {{ parcours.contenuFormation|printTexte }}
            </dd>
            {% if stringDifferencesParcours.presentationParcoursContenuFormation is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                    {
                        textDifferences: stringDifferencesParcours.presentationParcoursContenuFormation,
                        idCollapse: 'diffGlobalParcours'
                    }
                )
            }}
            {% endif %}
            {% if stringDifferencesParcoursCampagne.presentationParcoursContenuFormation is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                        {
                            textDifferences: stringDifferencesParcoursCampagne.presentationParcoursContenuFormation,
                            idCollapse: 'diffGlobalParcoursCampagne'
                        }
                    )
                }}
            {% endif %}
            <dt>Objectifs du parcours</dt>
            <dd>
                {{ parcours.objectifsParcours|printTexte }}
            </dd>
            <dt>Mots clés du parcours</dt>
            <dd>
                {{ parcours.motsCles|printTexte }}
            </dd>
            {% if stringDifferencesParcours.presentationParcoursObjectifsParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                    {
                        textDifferences: stringDifferencesParcours.presentationParcoursObjectifsParcours,
                        idCollapse: 'diffGlobalParcours'
                    }
                )
            }}
            {% endif %}
            {% if stringDifferencesParcoursCampagne.presentationParcoursObjectifsParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                        {
                            textDifferences: stringDifferencesParcoursCampagne.presentationParcoursObjectifsParcours,
                            idCollapse: 'diffGlobalParcoursCampagne'
                        }
                    )
                }}
            {% endif %}
            <dt>Résultats attendus du parcours</dt>
            <dd>
                {{ parcours.resultatsAttendus|printTexte }}
            </dd>
            {% if stringDifferencesParcours.presentationParcoursResultatsAttendus is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                    {
                        textDifferences: stringDifferencesParcours.presentationParcoursResultatsAttendus,
                        idCollapse: 'diffGlobalParcours'
                    }
                )
            }}
            {% endif %}
            {% if stringDifferencesParcoursCampagne.presentationParcoursResultatsAttendus is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                        {
                            textDifferences: stringDifferencesParcoursCampagne.presentationParcoursResultatsAttendus,
                            idCollapse: 'diffGlobalParcoursCampagne'
                        }
                    )
                }}
            {% endif %}
            <dt>Rythme de formation</dt>
            <dd>
                {{ parcours.rythmeFormation != null ? parcours.rythmeFormation.libelle : 'Non précisé' }}
            </dd>
            {% if stringDifferencesParcours.rythmeFormationParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig', {
                        textDifferences: stringDifferencesParcours.rythmeFormationParcours,
                        idCollapse: 'diffGlobalParcours'
                })
                }}
            {% endif %}
            {% if stringDifferencesParcoursCampagne.rythmeFormationParcours is defined %}
                {{ include('communs/_comparaison_versioning_no_button.html.twig',
                        {
                            textDifferences: stringDifferencesParcoursCampagne.rythmeFormationParcours,
                            idCollapse: 'diffGlobalParcoursCampagne'
                        }
                    )
                }}
            {% endif %}
            <dt>Précisions sur le rythme de formation</dt>
            <dd>{{ parcours.rythmeFormationTexte|printTexte }}</dd>
        </dl>
    </div>
</div>
