{% if formation.hasParcours == false %}
    <div class="row">
        {# todo: ne doit pas être là? #}
        <div class="col-sm-12">
            <dl>
                <dt>Contenu de la formation</dt>
                <dd>{{ formation.contenuFormation|raw }}</dd>
                {% if stringDifferences is defined 
                   and stringDifferences.presentationParcoursContenuFormation is defined 
                   and stringDifferences.presentationParcoursContenuFormation|length > 0
                %}
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-1">
                        <button class="btn btn-primary btn-sm my-3"
                            data-bs-toggle="collapse" data-bs-target="#diffContenuFormation"
                        >
                            Voir les différences
                        </button>
                    </div>
                    <div class="col-sm-12 collapse" id="diffContenuFormation">
                        {{ stringDifferences.presentationParcoursContenuFormation|raw  }} 
                    </div>
                {% endif %}
                <dt>Résultats attendus de la formation</dt>
                <dd>{{ formation.resultatsAttendus|raw }}</dd>
                {% if stringDifferences is defined 
                   and stringDifferences.presentationParcoursResultatsAttendus is defined 
                   and stringDifferences.presentationParcoursResultatsAttendus|length > 0
                %}
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-1">
                        <button class="btn btn-primary btn-sm my-3"
                            data-bs-toggle="collapse" data-bs-target="#diffResultatsAttendus"
                        >
                            Voir les différences
                        </button>
                    </div>
                    <div class="col-sm-12 collapse" id="diffResultatsAttendus">
                        {{ stringDifferences.presentationParcoursResultatsAttendus|raw  }} 
                    </div>
                {% endif %}
                <dt>Rythme de formation</dt>
                <dd>
                    {{ formation.rythmeFormation != null ? formation.rythmeFormation.libelle : 'Non précisé' }}
                </dd>
                <dt>Précisions sur le rythme de formation</dt>
                <dd>{{ formation.rythmeFormationTexte|raw }}</dd>
            </dl>
        </div>
    </div>
    {% else %}
<div class="row">
    <div class="col-sm-12">
        <dl>
            <dt>Organisation et objectifs de la formation</dt>
            <dd>
                {{ formation.objectifsFormation|raw }}
            </dd>
            {% if is_granted('ROLE_ADMIN') and stringDifferences is defined 
               and stringDifferences.presentationFormationObjectifsFormation is defined 
            %}
                {% if stringDifferences.presentationFormationObjectifsFormation|length > 0 %}
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-1">
                    <button class="btn btn-primary btn-sm my-3"
                        data-bs-toggle="collapse" data-bs-target="#diffFormationObjectifsFormation"
                    >
                        Voir les différences
                    </button>
                </div>
                <div class="col-sm-12 collapse" id="diffFormationObjectifsFormation">
                    {{ stringDifferences.presentationFormationObjectifsFormation|raw  }}
                </div>
                {% endif %}
            {% endif %}
        </dl>
    </div>
</div>
{% endif %}
{% if (print is defined and print == false) %}
    {% if formation.isHasParcours == true %}

        <div class="row">
            <div class="col-sm-12">
                <h3>Parcours</h3>
                <table class="table">
                    {% for parcours in formation.parcours %}
                        <tr>
                            <td>{# todo: uniquement si dans formation, sinon des liens ? #}
                                <a href="#presentation_{{ parcours.id }}">{{ parcours.libelle }} {{ parcours.typeParcours|badgeTypeParcours }}</a>
                            </td>
                            <td>
                                {{ include('btn/export_mccc.html.twig') }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2 dropdown-toggle mb-1"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="{{ iconDownload }}"></i> BCC
                                    </button>
                                    <div class="dropdown-menu" style="">
                                        <a class="dropdown-item"
                                           href="{{ path('app_parcours_bcc', {parcours:parcours.id}) }}">
                                            Voir en ligne
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('app_competence_export_bcc', {parcours:parcours.id}) }}">
                                            Export des BCC (pdf)
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('app_competence_export_croise', {parcours:parcours.id}) }}">
                                            Export du tableau croisé BCC/EC (pdf)
                                        </a>
                                        <a class="dropdown-item" href="{{ path('app_competence_export_croise_global', {parcours:parcours.id}) }}">
                                            Export du tableau croisé BCC/EC, global (xslx)
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-info btn-icon btn-icon-end w-100 w-sm-auto mx-2 dropdown-toggle mb-1"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="{{ iconDownload }}"></i> Fiches EC/matières
                                    </button>
                                    <div class="dropdown-menu" style="">
                                        <a class="dropdown-item"
                                           href="{{ path('fiche_matiere_export_all', {parcours:parcours.id}) }}">
                                            Version complète (toutes les fiches dans 1 pdf)
                                        </a>
                                        <a class="dropdown-item"
                                           href="{{ path('fiche_matiere_export_zip', {parcours:parcours.id}) }}">
                                            Version zip (1 pdf par fiche)
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Parcours</h3>
                <p>Il n'y a pas de parcours pour cette formation.</p>
            </div>
        </div>
    {% endif %}
{% endif %}
