<div class="row">
    <div class="col-sm-12">
        <dl>
            <dt>Organisation de la formation</dt>
            <dd>
                {{ parcours.contenuFormation|printTexte }}
                {% if isVersioningView is defined and isVersioningView == true %}
                    {% if stringDifferences.presentationParcoursContenuFormation|length > 0 %}
                        <button class="btn btn-primary btn-sm my-3"
                            data-bs-toggle="collapse" data-bs-target="#diffParcoursContenuFormation"
                        >
                            Voir les différences
                        </button>
                        <div class="col-sm-12 collapse" id="diffParcoursContenuFormation">
                            {{ stringDifferences.presentationParcoursContenuFormation|raw  }} 
                        </div>
                    {% endif %}
                {% endif %}
            </dd>
            <dt>Objectifs du parcours</dt>
            <dd>
                {{ parcours.objectifsParcours|printTexte }}
                {% if isVersioningView is defined and isVersioningView == true %} 
                    {% if stringDifferences.presentationParcoursObjectifsParcours|length > 0 %}
                        <button class="btn btn-primary btn-sm mt-3 mb-3"
                           data-bs-toggle="collapse" data-bs-target="#diffParcoursObjectifsParcours"
                        >
                            Voir les différences
                        </button>
                        <div class="col-sm-12 collapse mb-3" id="diffParcoursObjectifsParcours">
                            {{ stringDifferences.presentationParcoursObjectifsParcours|raw  }} 
                        </div>
                    {% endif %}
                {% endif %}
            </dd>
            <dt>Résultats attendus du parcours</dt>
            <dd>
                {{ parcours.resultatsAttendus|printTexte }}
                {% if isVersioningView is defined and isVersioningView == true %} 
                    {% if stringDifferences.presentationParcoursResultatsAttendus|length > 0 %}
                        <button class="btn btn-primary btn-sm mt-3 mb-3"
                            data-bs-toggle="collapse" data-bs-target="#diffParcoursResultatsAttendus"
                        >
                            Voir les différences
                        </button>
                        <div class="col-sm-12 collapse mb-3" id="diffParcoursResultatsAttendus">
                            {{ stringDifferences.presentationParcoursResultatsAttendus|raw  }} 
                        </div>
                    {% endif %}
                {% endif %}    
            </dd>
            <dt>Rythme de formation</dt>
            <dd>
                {{ parcours.rythmeFormation != null ? parcours.rythmeFormation.libelle : 'Non précisé' }}
            </dd>
            <dt>Précisions sur le rythme de formation</dt>
            <dd>{{ parcours.rythmeFormationTexte|printTexte }}</dd>
        </dl>
    </div>
</div>
