<div class="row">
    <div class="col-sm-12">
        <dl>
            <dt>Organisation de la formation</dt>
            <dd>
                {{ parcours.contenuFormation|printTexte }}
            </dd>
            {% if is_granted('ROLE_ADMIN') and stringDifferencesParcours is defined 
               and stringDifferencesParcours.presentationParcoursContenuFormation is defined 
            %}
                {% if stringDifferencesParcours.presentationParcoursContenuFormation|length > 0 %}
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-1">
                    <button class="btn btn-primary btn-sm my-3"
                        data-bs-toggle="collapse" data-bs-target="#diffParcoursContenuFormation"
                    >
                        Voir les différences
                    </button>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-8 collapse mb-3" id="diffParcoursContenuFormation">
                        {{ stringDifferencesParcours.presentationParcoursContenuFormation|raw  }} 
                    </div>
                </div>
                {% endif %}
            {% endif %}
            <dt>Objectifs du parcours</dt>
            <dd>
                {{ parcours.objectifsParcours|printTexte }}
            </dd>
            {% if is_granted('ROLE_ADMIN') and stringDifferencesParcours is defined 
               and stringDifferencesParcours.presentationParcoursObjectifsParcours is defined 
            %}
                {% if stringDifferencesParcours.presentationParcoursObjectifsParcours|length > 0 %}
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-1">
                    <button class="btn btn-primary btn-sm mt-3 mb-3"
                        data-bs-toggle="collapse" data-bs-target="#diffParcoursObjectifsParcours"
                    >
                        Voir les différences
                    </button>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-8 collapse mb-3" id="diffParcoursObjectifsParcours">
                        {{ stringDifferencesParcours.presentationParcoursObjectifsParcours|raw  }} 
                    </div>
                </div>
                {% endif %}
            {% endif %}
            <dt>Résultats attendus du parcours</dt>
            <dd>
                {{ parcours.resultatsAttendus|printTexte }}
            </dd>
            {% if is_granted('ROLE_ADMIN') and stringDifferencesParcours is defined 
               and stringDifferencesParcours.presentationParcoursResultatsAttendus is defined 
            %}
                {% if stringDifferencesParcours.presentationParcoursResultatsAttendus|length > 0 %}
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-1">
                    <button class="btn btn-primary btn-sm mt-3 mb-3"
                        data-bs-toggle="collapse" data-bs-target="#diffParcoursResultatsAttendus"
                    >
                        Voir les différences
                    </button>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-8 collapse mb-3" id="diffParcoursResultatsAttendus">
                        {{ stringDifferencesParcours.presentationParcoursResultatsAttendus|raw  }} 
                    </div>
                </div>
                {% endif %}  
            {% endif %}
            <dt>Rythme de formation</dt>
            <dd>
                {{ parcours.rythmeFormation != null ? parcours.rythmeFormation.libelle : 'Non précisé' }}
            </dd>
            <dt>Précisions sur le rythme de formation</dt>
            <dd>{{ parcours.rythmeFormationTexte|printTexte }}</dd>
        </dl>
    </div>
</div>
