<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-hover">
            {% set sommeFormEcts = 0 %}
            {% set sommeFormCm = 0 %}
            {% set sommeFormTd = 0 %}
            {% set sommeFormTp = 0 %}
            {% set sommeFormTotal = 0 %}
            {% set sommeFormCmDist = 0 %}
            {% set sommeFormTdDist = 0 %}
            {% set sommeFormTpDist = 0 %}
            {% set sommeFormTotalDist = 0 %}

            {% for semestre in parcours.semestreParcours %}

                {% set sommeSemEcts = 0 %}
                {% set sommeSemCm = 0 %}
                {% set sommeSemTd = 0 %}
                {% set sommeSemTp = 0 %}
                {% set sommeSemTotal = 0 %}
                {% set sommeSemCmDist = 0 %}
                {% set sommeSemTdDist = 0 %}
                {% set sommeSemTpDist = 0 %}
                {% set sommeSemTotalDist = 0 %}
                <tr>
                    <th colspan=" {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 0 or parcours.modalitesEnseignement.value == 2) %}8{% else %}13{% endif %}">{{ semestre.semestre.display }}</th>
                </tr>

                {% for ue in semestre.semestre.ues %}
                    <tr>
                        <th>&nbsp;</th>
                        <th colspan="3">{{ ue.display }} | {{ ue.libelle }}</th>
                        {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 0 or parcours.modalitesEnseignement.value == 1) %}
                            <th colspan="4">Présentiel</th>
                        {% endif %}
                        {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 2 or parcours.modalitesEnseignement.value == 1) %}
                            <th colspan="4">Distanciel</th>
                        {% endif %}
                        {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
                            <th>Total</th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>Fiche EC/Matière</th>
                        <th>ECTS</th>

                        {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 0 or parcours.modalitesEnseignement.value == 1) %}
                        <th>CM</th>
                        <th>TD</th>
                        <th>TP</th>
                        <th>Total Prés.</th>
                        {% endif %}

                        {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 2 or parcours.modalitesEnseignement.value == 1) %}
                        <th>CM</th>
                        <th>TD</th>
                        <th>TP</th>
                        <th>Total Dis.</th>
                        {% endif %}

                        {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
                        <th>Total</th>
                        {% endif %}
                    </tr>
                    {% set sommeEcts = 0 %}
                    {% set sommeCm = 0 %}
                    {% set sommeTd = 0 %}
                    {% set sommeTp = 0 %}
                    {% set sommeTotal = 0 %}
                    {% set sommeCmDist = 0 %}
                    {% set sommeTdDist = 0 %}
                    {% set sommeTpDist = 0 %}
                    {% set sommeTotalDist = 0 %}
                    {% for ec in ue.elementConstitutifs %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <td>
                                {% if ec.ficheMatiere != null %}
                                    <a href="{{ path('app_fiche_matiere_show', {'id': ec.ficheMatiere.id}) }} }}">
                                        {{ ec.ficheMatiere.display }}
                                    </a>
                                {% else %}
                                    {{ ec.libelle }}
                                {% endif %}
                            </td>
                            <td>{{ ec.ects }}</td>

                            {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 0 or parcours.modalitesEnseignement.value == 1) %}
                            <td>{{ ec.volumeCmPresentiel }}</td>
                            <td>{{ ec.volumeTdPresentiel }}</td>
                            <td>{{ ec.volumeTpPresentiel }}</td>
                            <td>{{ ec.volumeTotalPresentiel }}</td>
                            {% endif %}

                            {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 2 or parcours.modalitesEnseignement.value == 1) %}
                            <td>{{ ec.volumeCmDistanciel }}</td>
                            <td>{{ ec.volumeTdDistanciel }}</td>
                            <td>{{ ec.volumeTpDistanciel }}</td>
                            <td>{{ ec.volumeTotalDistanciel }}</td>
                            {% endif %}

                            {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
                            <td>{{ ec.volumeTotalPresentiel + ec.volumeTotalDistanciel }}</td>
                            {% endif %}
                        </tr>
                        {% set sommeEcts = sommeEcts + ec.ects %}
                        {% set sommeCm = sommeCm + ec.volumeCmPresentiel %}
                        {% set sommeTd = sommeTd + ec.volumeTdPresentiel %}
                        {% set sommeTp = sommeTp + ec.volumeTpPresentiel %}
                        {% set sommeTotal = sommeTotal + ec.volumeTotalPresentiel %}

                        {% set sommeCmDist = sommeCmDist + ec.volumeCmDistanciel %}
                        {% set sommeTdDist = sommeTdDist + ec.volumeTdDistanciel %}
                        {% set sommeTpDist = sommeTpDist + ec.volumeTpDistanciel %}
                        {% set sommeTotalDist = sommeTotalDist + ec.volumeTotalDistanciel %}
                    {% endfor %}
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class="text-end">Total</th>
                        <th>{{ sommeEcts }}</th>
                        {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 0 or parcours.modalitesEnseignement.value == 1) %}
                        <th>{{ sommeCm }}</th>
                        <th>{{ sommeTd }}</th>
                        <th>{{ sommeTp }}</th>
                        <th>{{ sommeTotal }}</th>
                        {% endif %}

                        {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 2 or parcours.modalitesEnseignement.value == 1) %}
                        <th>{{ sommeCmDist }}</th>
                        <th>{{ sommeTdDist }}</th>
                        <th>{{ sommeTpDist }}</th>
                        <th>{{ sommeTotalDist }}</th>
                        {% endif %}

                        {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
                        <th>{{ sommeTotalDist+sommeTotal }}</th>
                        {% endif %}
                    </tr>
                    {% set sommeSemEcts = sommeSemEcts+sommeEcts %}
                    {% set sommeSemCm = sommeSemCm+sommeCm %}
                    {% set sommeSemTd = sommeSemTd+sommeTd %}
                    {% set sommeSemTp = sommeSemTp+sommeTp %}
                    {% set sommeSemTotal = sommeSemTotal+sommeTotal %}

                    {% set sommeSemCmDist = sommeSemCmDist+sommeCmDist %}
                    {% set sommeSemTdDist = sommeSemTdDist+sommeTdDist %}
                    {% set sommeSemTpDist = sommeSemTpDist+sommeTpDist %}
                    {% set sommeSemTotalDist = sommeSemTotalDist+sommeTotalDist %}

                    {% set sommeFormEcts = sommeFormEcts+sommeSemEcts %}
                    {% set sommeFormCm = sommeFormCm+sommeSemCm %}
                    {% set sommeFormTd = sommeFormTd+sommeSemTd %}
                    {% set sommeFormTp = sommeFormTp+sommeSemTp %}
                    {% set sommeFormTotal = sommeFormTotal+sommeSemTotal %}

                    {% set sommeFormCmDist = sommeFormCmDist+sommeSemCmDist %}
                    {% set sommeFormTdDist = sommeFormTdDist+sommeSemTdDist %}
                    {% set sommeFormTpDist = sommeFormTpDist+sommeSemTpDist %}
                    {% set sommeFormTotalDist = sommeFormTotalDist+sommeSemTotalDist %}
                {% endfor %}
                <tr>
                    <th>&nbsp;</th>
                    <th colspan="2" class="text-end">Total Semestre</th>
                    <th>{{ sommeSemEcts }}</th>

                    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 0 or parcours.modalitesEnseignement.value == 1) %}
                    <th>{{ sommeSemCm }}</th>
                    <th>{{ sommeSemTd }}</th>
                    <th>{{ sommeSemTp }}</th>
                    <th>{{ sommeSemTotal }}</th>
                    {% endif %}

                    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 2 or parcours.modalitesEnseignement.value == 1) %}
                    <th>{{ sommeSemCmDist }}</th>
                    <th>{{ sommeSemTdDist }}</th>
                    <th>{{ sommeSemTpDist }}</th>
                    <th>{{ sommeSemTotalDist }}</th>
                    {% endif %}

                    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
                    <th>{{ sommeSemTotalDist+sommeSemTotal }}</th>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3" class="text-end">Total formation</th>
                <th>{{ sommeFormEcts }}</th>

                {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 0 or parcours.modalitesEnseignement.value == 1) %}
                <th>{{ sommeFormCm }}</th>
                <th>{{ sommeFormTd }}</th>
                <th>{{ sommeFormTp }}</th>
                <th>{{ sommeFormTotal }}</th>
                {% endif %}

                {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 2 or parcours.modalitesEnseignement.value == 1) %}
                <th>{{ sommeFormCmDist }}</th>
                <th>{{ sommeFormTdDist }}</th>
                <th>{{ sommeFormTpDist }}</th>
                <th>{{ sommeFormTotalDist }}</th>
                {% endif %}

                {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
                <th>{{ sommeFormTotalDist+sommeFormTotal }}</th>
                {% endif %}
            </tr>
        </table>
    </div>
</div>
