<tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <td>
        {% if isBut is defined and isBut == false %}<strong>{{ ec.code }}</strong>{% endif %}
        {% if ec.ficheMatiere != null %}
            <a href="{{ url('app_fiche_matiere_show', {slug: ec.ficheMatiere.slug}) }}">
                {% if isBut is defined and isBut == true %}<strong>{{ ec.ficheMatiere.sigle }}</strong> {{ ec.ficheMatiere.libelle }}{% else %}
                {{ ec.ficheMatiere.display }}
                {% endif %}
            </a>

            {% if is_granted('CAN_PARCOURS_EDIT_MY', parcours) %}
                {# todo: vérifier si éditable par moi? #}
                <a href="{{ url('app_fiche_matiere_edit', {slug: ec.ficheMatiere.slug}) }}"
                   class="btn btn-sm text-warning">
                    <i class="{{ iconEdit }}"></i>
                </a>
            {% endif %}
        {% else %}
            {{ ec.libelle }}
        {% endif %}
    </td>
    <td>{{ ec.ects }}</td>

    {% if presentiel %}
        {% if ec.ecEnfants|length > 0 %}
            <td colspan="{% if isBut is defined and isBut == true %}5{% else %}4{% endif %}"></td>
        {% else %}
            {% if ec.ecParent != null and ec.ecParent.heuresEnfantsIdentiques == true %}
                <td>{{ ec.ecParent.volumeCmPresentiel|filtreHeures }}</td>
                <td>{{ ec.ecParent.volumeTdPresentiel|filtreHeures }}</td>
                <td>{{ ec.ecParent.volumeTpPresentiel|filtreHeures }}</td>
                {% if isBut is defined and isBut == true %}
                    <td>{{ ec.ecParent.volumeTe|filtreHeures }}</td>
                {% endif %}
                <td>{{ ec.ecParent.volumeTotalPresentiel|filtreHeures }}</td>
            {% else %}
                <td>{{ ec.volumeCmPresentiel|filtreHeures }}</td>
                <td>{{ ec.volumeTdPresentiel|filtreHeures }}</td>
                <td>{{ ec.volumeTpPresentiel|filtreHeures }}</td>
                {% if isBut is defined and isBut == true %}
                    <td>{{ ec.volumeTe|filtreHeures }}</td>
                {% endif %}
                <td>{{ ec.volumeTotalPresentiel|filtreHeures }}</td>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if distanciel %}
        {% if ec.ecEnfants|length > 0 %}
            <td colspan="4"></td>
        {% else %}
            {% if ec.ecParent != null and ec.ecParent.heuresEnfantsIdentiques == true %}
                <td>{{ ec.ecParent.volumeCmDistanciel }}</td>
                <td>{{ ec.ecParent.volumeTdDistanciel }}</td>
                <td>{{ ec.ecParent.volumeTpDistanciel }}</td>
                <td>{{ ec.ecParent.volumeTotalDistanciel }}</td>
            {% else %}
                <td>{{ ec.volumeCmDistanciel }}</td>
                <td>{{ ec.volumeTdDistanciel }}</td>
                <td>{{ ec.volumeTpDistanciel }}</td>
                <td>{{ ec.volumeTotalDistanciel }}</td>
            {% endif %}
        {% endif %}

    {% endif %}

    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
        {% if ec.ecParent != null and ec.ecParent.heuresEnfantsIdentiques == true %}
            <td>{{ ec.ecParent.volumeTotalPresentiel + ec.ecParent.volumeTotalDistanciel }}</td>
        {% else %}
            <td>{{ ec.volumeTotalPresentiel + ec.volumeTotalDistanciel }}</td>
        {% endif %}
    {% endif %}
</tr>


