<tr class="ec">
    <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
    <th {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %}>&nbsp;</th>
    <td>{% if ecEnfant %}<span class="badge bg-ec-{{ ec.elementConstitutif.ordre }}">&nbsp;</span>{% endif %}
        {% if isBut is defined and isBut == false %}<strong>{{ ec.elementConstitutif.code }}</strong>{% endif %}
        {% if ec.elementConstitutif.ficheMatiere != null %}
            <a href="{{ url('app_fiche_matiere_show', {slug: ec.elementConstitutif.ficheMatiere.slug}) }}">
                {% if isBut is defined and isBut == true %}
                    <strong>{{ ec.elementConstitutif.ficheMatiere.sigle }}</strong> {{ ec.elementConstitutif.ficheMatiere.libelle }}{% else %}
                    {{ ec.elementConstitutif.ficheMatiere.display }}
                {% endif %}
            </a>

            {% if is_granted('CAN_EC_EDIT_MY', ec.elementConstitutif.ficheMatiere) %}
                <a href="{{ url('app_fiche_matiere_edit', {slug: ec.elementConstitutif.ficheMatiere.slug}) }}"
                   class="btn btn-sm text-warning">
                    <i class="{{ iconEdit }}"></i>
                </a>
            {% endif %}
        {% else %}
            {{ ec.elementConstitutif.libelle }}
        {% endif %}
        {% if ec.elementConstitutif.natureEcUe is defined and ec.elementConstitutif.natureEcUe.isLibre == true %}<span
                class="badge bg-success">EC à choix libre</span>{% endif %}
        {% if ec.elementsConstitutifsEnfants|length > 0 %}<span class="badge bg-info">
            EC à choix restreint : {{ ec.elementsConstitutifsEnfants|length }} choix possible</span>{% endif %}
    </td>
    <td>{{ ec.heuresEctsEc.ects|badgeEcts }}</td>

    {% if presentiel %}
        {% if ec.elementsConstitutifsEnfants|length > 0 %}
            <td colspan="{% if isBut is defined and isBut == true %}5{% else %}4{% endif %}"></td>
        {% else %}
            {#            {% if ec.elementConstitutif.ecParent != null and ec.elementConstitutif.ecParent.heuresEnfantsIdentiques == true %} #}
            <td>{{ ec.heuresEctsEc.cmPres|filtreHeures }}</td>
            <td>{{ ec.heuresEctsEc.tdPres|filtreHeures }}</td>
            <td>{{ ec.heuresEctsEc.tpPres|filtreHeures }}</td>
            {% if isBut is defined and isBut == true %}
                <td>{{ ec.heuresEctsEc.tePres|filtreHeures }}</td>
            {% endif %}
            <td>{{ ec.heuresEctsEc.sommeEcTotalPres|filtreHeures }}</td>
            {#            {% else %} #}
            {#                <td>{{ ec.elementConstitutif.volumeCmPresentiel|filtreHeures }}</td> #}
            {#                <td>{{ ec.elementConstitutif.volumeTdPresentiel|filtreHeures }}</td> #}
            {#                <td>{{ ec.elementConstitutif.volumeTpPresentiel|filtreHeures }}</td> #}
            {#                {% if isBut is defined and isBut == true %} #}
            {#                    <td>{{ ec.elementConstitutif.volumeTe|filtreHeures }}</td> #}
            {#                {% endif %} #}
            {#                <td>{{ ec.elementConstitutif.volumeTotalPresentiel|filtreHeures }}</td> #}
            {#            {% endif %} #}
        {% endif %}
    {% endif %}

    {% if distanciel %}
        {% if ec.elementsConstitutifsEnfants|length > 0 %}
            <td colspan="4"></td>
        {% else %}
            {#            {% if ec.elementConstitutif.ecParent != null and ec.elementConstitutif.ecParent.heuresEnfantsIdentiques == true %} #}
            <td>{{ ec.heuresEctsEc.cmDist }}</td>
            <td>{{ ec.heuresEctsEc.tdDist }}</td>
            <td>{{ ec.heuresEctsEc.tpDist }}</td>
            <td>{{ ec.heuresEctsEc.sommeEcTotalDist }}</td>
            {#            {% else %} #}
            {#                <td>{{ ec.elementConstitutif.volumeCmDistanciel }}</td> #}
            {#                <td>{{ ec.elementConstitutif.volumeTdDistanciel }}</td> #}
            {#                <td>{{ ec.elementConstitutif.volumeTpDistanciel }}</td> #}
            {#                <td>{{ ec.elementConstitutif.volumeTotalDistanciel }}</td> #}
            {#            {% endif %} #}
        {% endif %}

    {% endif %}

    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
            <td>{{ ec.sommeEcTotalPresDist }}</td>
    {% endif %}
</tr>


