<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-hover">
            {% set sommeFormEcts = 0 %}
            {% set sommeFormCm = 0 %}
            {% set sommeFormTd = 0 %}
            {% set sommeFormTp = 0 %}
            {% set sommeFormTotal = 0 %}

            {% for semestre in parcours.semestreParcours %}

                {% set sommeSemEcts = 0 %}
                {% set sommeSemCm = 0 %}
                {% set sommeSemTd = 0 %}
                {% set sommeSemTp = 0 %}
                {% set sommeSemTotal = 0 %}
                <tr>
                    <th colspan="8">{{ semestre.semestre.display }}</th>
                </tr>

                {% for ue in semestre.semestre.ues %}
                    <tr>
                        <th>&nbsp;</th>
                        <th colspan="7">{{ ue.display }} | {{ ue.libelle }}</th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>Fiche EC/Matière</th>
                        <th>ECTS</th>
                        <th>CM</th>
                        <th>TD</th>
                        <th>TP</th>
                        <th>Total</th>
                    </tr>
                    {% set sommeEcts = 0 %}
                    {% set sommeCm = 0 %}
                    {% set sommeTd = 0 %}
                    {% set sommeTp = 0 %}
                    {% set sommeTotal = 0 %}
                    {% for ec in ue.elementConstitutifs %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <td>
                                <a href="{{ path('app_fiche_matiere_show', {'id': ec.ficheMatiere.id}) }} }}">
                                    {{ ec.ficheMatiere.display }}
                                </a>
                            </td>
                            <td>{{ ec.ects }}</td>
                            <td>{{ ec.volumeCmPresentiel }}</td>
                            <td>{{ ec.volumeTdPresentiel }}</td>
                            <td>{{ ec.volumeTpPresentiel }}</td>
                            <td>{{ ec.volumeTotalPresentiel }}</td>
                        </tr>
                        {% set sommeEcts = sommeEcts + ec.ects %}
                        {% set sommeCm = sommeCm + ec.volumeCmPresentiel %}
                        {% set sommeTd = sommeTd + ec.volumeTdPresentiel %}
                        {% set sommeTp = sommeTp + ec.volumeTpPresentiel %}
                        {% set sommeTotal = sommeTotal + ec.volumeTotalPresentiel %}
                    {% endfor %}
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class="text-end">Total</th>
                        <th>{{ sommeEcts }}</th>
                        <th>{{ sommeCm }}</th>
                        <th>{{ sommeTd }}</th>
                        <th>{{ sommeTp }}</th>
                        <th>{{ sommeTotal }}</th>
                    </tr>
                    {% set sommeSemEcts = sommeSemEcts+sommeEcts %}
                    {% set sommeSemCm = sommeSemCm+sommeCm %}
                    {% set sommeSemTd = sommeSemTd+sommeTd %}
                    {% set sommeSemTp = sommeSemTp+sommeTp %}
                    {% set sommeSemTotal = sommeSemTotal+sommeTotal %}

                    {% set sommeFormEcts = sommeFormEcts+sommeSemEcts %}
                    {% set sommeFormCm = sommeFormCm+sommeSemCm %}
                    {% set sommeFormTd = sommeFormTd+sommeSemTd %}
                    {% set sommeFormTp = sommeFormTp+sommeSemTp %}
                    {% set sommeFormTotal = sommeFormTotal+sommeSemTotal %}
                {% endfor %}
                <tr>
                    <th>&nbsp;</th>
                    <th colspan="2" class="text-end">Total Semestre</th>
                    <th>{{ sommeSemEcts }}</th>
                    <th>{{ sommeSemCm }}</th>
                    <th>{{ sommeSemTd }}</th>
                    <th>{{ sommeSemTp }}</th>
                    <th>{{ sommeSemTotal }}</th>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3" class="text-end">Total formation</th>
                <th>{{ sommeFormEcts }}</th>
                <th>{{ sommeFormCm }}</th>
                <th>{{ sommeFormTd }}</th>
                <th>{{ sommeFormTp }}</th>
                <th>{{ sommeFormTotal }}</th>
            </tr>
        </table>
    </div>
</div>
