<tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <td>
        <strong>{{ ec.code }}</strong>
        {% if ec.ficheMatiere != null %}
            <a href="{{ url('app_fiche_matiere_show', {slug: ec.ficheMatiere.slug}) }}">
                {{ ec.ficheMatiere.display }}
            </a>

            {% if is_granted('CAN_PARCOURS_EDIT_MY', parcours) %}
                {# todo: vérifier si éditable par moi? #}
                <a href="{{ url('app_fiche_matiere_edit', {slug: ec.ficheMatiere.slug}) }}">
                    <i class="{{ iconEdit }}">Modifier</i>
                </a>
            {% endif %}
        {% else %}
            {{ ec.libelle }}
        {% endif %}
    </td>
    <td>{{ ec.ects }}</td>

    {% if presentiel %}
        {% if ec.ecEnfants|length > 0 %}
            <td colspan="4"></td>
        {% else %}
            {% if ec.ecParent != null and ec.ecParent.heuresEnfantsIdentiques == true %}
                <td>{{ ec.ecParent.volumeCmPresentiel }}</td>
                <td>{{ ec.ecParent.volumeTdPresentiel }}</td>
                <td>{{ ec.ecParent.volumeTpPresentiel }}</td>
                <td>{{ ec.ecParent.volumeTotalPresentiel }}</td>
            {% else %}
                <td>{{ ec.volumeCmPresentiel }}</td>
                <td>{{ ec.volumeTdPresentiel }}</td>
                <td>{{ ec.volumeTpPresentiel }}</td>
                <td>{{ ec.volumeTotalPresentiel }}</td>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if distanciel %}
        {% if ec.ecEnfants|length > 0 %}
            <td colspan="4"></td>
        {% else %}
            {% if ec.ecParent != null and ec.ecParent.heuresEnfantsIdentiques == true %}
                <td>{{ ec.ecParent.volumeCmDistanciel }}</td>
                <td>{{ ec.ecParent.volumeTdDistanciel }}</td>
                <td>{{ ec.ecParent.volumeTpDistanciel }}</td>
                <td>{{ ec.ecParent.volumeTotalDistanciel }}</td>
            {% else %}
                <td>{{ ec.volumeCmDistanciel }}</td>
                <td>{{ ec.volumeTdDistanciel }}</td>
                <td>{{ ec.volumeTpDistanciel }}</td>
                <td>{{ ec.volumeTotalDistanciel }}</td>
            {% endif %}
        {% endif %}

    {% endif %}

    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
        {% if ec.ecParent != null and ec.ecParent.heuresEnfantsIdentiques == true %}
            <td>{{ ec.ecParent.volumeTotalPresentiel + ec.ecParent.volumeTotalDistanciel }}</td>
        {% else %}
            <td>{{ ec.volumeTotalPresentiel + ec.volumeTotalDistanciel }}</td>
        {% endif %}
    {% endif %}
</tr>


