<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-hover">
            {% set presentiel = parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 0 or parcours.modalitesEnseignement.value == 1) %}
            {% set distanciel = parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 2 or parcours.modalitesEnseignement.value == 1) %}

            {% for semestre in parcours.semestreParcours %}
                <tr>
                    <th colspan=" {% if presentiel %}8{% else %}13{% endif %}">{{ semestre.display }}</th>
                </tr>

                {% for ue in semestre.semestre.ues|filter(ue => ue.ueParent == null) %}
                   {{ include('typeDiplome/formation/_structureUe.html.twig') }}
                {% endfor %}
                <tr>
                    <th>&nbsp;</th>
                    <th colspan="2" class="text-end">Total Semestre</th>
                    <th>{{ dto.semestres[semestre.id].sommeSemestreEcts }}</th>

                    {% if presentiel %}
                        <th>{{ dto.semestres[semestre.id].sommeSemestreCmPres }}</th>
                        <th>{{ dto.semestres[semestre.id].sommeSemestreTdPres }}</th>
                        <th>{{ dto.semestres[semestre.id].sommeSemestreTpPres }}</th>
                        <th>{{ dto.semestres[semestre.id].sommeSemestreTotalPres }}</th>
                    {% endif %}

                    {% if distanciel %}
                        <th>{{ dto.semestres[semestre.id].sommeSemestreCmDist }}</th>
                        <th>{{ dto.semestres[semestre.id].sommeSemestreTdDist }}</th>
                        <th>{{ dto.semestres[semestre.id].sommeSemestreTpDist }}</th>
                        <th>{{ dto.semestres[semestre.id].sommeSemestreTotalDist }}</th>
                    {% endif %}

                    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
                        <th>{{ dto.semestres[semestre.id].sommeSemestreTotalPresDist }}</th>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3" class="text-end">Total formation</th>
                <th>{{ dto.sommeFormationEcts }}</th>

                {% if presentiel %}
                    <th>{{ dto.sommeFormationCmPres }}</th>
                    <th>{{ dto.sommeFormationTdPres }}</th>
                    <th>{{ dto.sommeFormationTpPres }}</th>
                    <th>{{ dto.sommeFormationTotalPres }}</th>
                {% endif %}

                {% if distanciel %}
                    <th>{{ dto.sommeFormationCmDist }}</th>
                    <th>{{ dto.sommeFormationTdDist }}</th>
                    <th>{{ dto.sommeFormationTpDist }}</th>
                    <th>{{ dto.sommeFormationTotalDist }}</th>
                {% endif %}

                {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
                    <th>{{ dto.sommeFormationTotalPresDist }}</th>
                {% endif %}
            </tr>
        </table>
    </div>
</div>
