<tr>
    <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
    <th colspan="3" {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %}>
        {{ ue.display }} | {{ ue.ue.libelle }} ({{ ue.codeApogee() }}) {% if ue.raccroche == true %}<i class="fal fa-link"></i>{% endif %}
        {% if ue.ue.natureUeEc is defined and ue.ue.natureUeEc != null and ue.ue.natureUeEc.libre == true %}
            <span class="badge bg-secondary">
            UE à choix libre</span>
        {% endif %}
        {% if ue.uesEnfants|length > 0 %}<span class="badge bg-primary">
            UE à choix restreint : {{ ue.uesEnfants|length }} choix possible(s)</span>{% endif %}
    </th>
    {% if presentiel %}
        {% if ue.uesEnfants|length == 0 %}
            <th colspan="{% if isBut is defined and isBut == true %}5{% else %}4{% endif %}">Présentiel</th>
        {% else %}
            <th colspan="4"></th>
        {% endif %}
    {% endif %}
    {% if distanciel %}
        {% if ue.uesEnfants|length == 0 %}
            <th colspan="4">Distanciel</th>
        {% else %}
            <th colspan="4"></th>
        {% endif %}
    {% endif %}
    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
        <th>Total</th>
    {% endif %}
</tr>
{% if ue.ue.natureUeEc is defined and ue.ue.natureUeEc != null and ue.ue.natureUeEc.libre == true %}
    {% if presentiel %}
        {% set colspan = 4 %}
    {% elseif distanciel %}
        {% set colspan=8 %}
    {% endif %}
    <tr class="ec">
        <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
        <td {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %} colspan="{{ colspan+4 }}">
            {{ ue.ue.descriptionUeLibre }}
        </td>
    </tr>
{% else %}
    {% if ue.uesEnfants|length == 0 %}
        <tr class="ec">
            <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
            <th {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %}>&nbsp;</th>
            <th>Fiche EC/Matière</th>
            <th>ECTS</th>

            {% if presentiel %}
                <th>CM</th>
                <th>TD</th>
                <th>TP</th>
                {% if isBut is defined and isBut == true %}
                    <th>Autonom.</th>
                {% endif %}
                <th>Total Prés.</th>
            {% endif %}

            {% if distanciel %}
                <th>CM</th>
                <th>TD</th>
                <th>TP</th>
                <th>Total Dis.</th>
            {% endif %}

            {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
                <th>Total</th>
            {% endif %}
        </tr>
    {% endif %}


    {% for ec in ue.elementConstitutifs %}
        {{ include('typeDiplome/formation/_structureEc.html.twig', {ec:ec, semestreOrdre:semestreOrdre, ecEnfant:false}) }}
        {% for ece in ec.elementsConstitutifsEnfants %}
            {{ include('typeDiplome/formation/_structureEc.html.twig', {ec:ece, semestreOrdre:semestreOrdre, ecEnfant:true}) }}
        {% endfor %}
    {% endfor %}
{% endif %}

{% for ueE in ue.uesEnfants %}
    {{ include('typeDiplome/formation/_structureUe.html.twig', {ue:ueE, enfant: true}) }}
{% endfor %}

<tr>
    <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
    <th>&nbsp;</th>
    <th class="text-end">
        Total {{ ue.display }} {% if enfant == false and ue.ue.ueEnfants|length > 0 %}(Total max.){% endif %}</th>

    <th>{{ ue.heuresEctsUe.sommeUeEcts|badgeEcts('primary') }}</th>
    {% if presentiel %}
        <th>{{ ue.heuresEctsUe.sommeUeCmPres|filtreHeures }}</th>
        <th>{{ ue.heuresEctsUe.sommeUeTdPres|filtreHeures }}</th>
        <th>{{ ue.heuresEctsUe.sommeUeTpPres|filtreHeures }}</th>
        {% if isBut is defined and isBut == true %}
            <th>{{ ue.heuresEctsUe.sommeUeTePres|filtreHeures }}</th>
        {% endif %}
        <th>{{ ue.heuresEctsUe.sommeUeTotalPres|filtreHeures }}</th>
    {% endif %}

    {% if distanciel %}
        <th>{{ ue.heuresEctsUe.sommeUeCmDist|filtreHeures }}</th>
        <th>{{ ue.heuresEctsUe.sommeUeTdDist|filtreHeures }}</th>
        <th>{{ ue.heuresEctsUe.sommeUeTpDist|filtreHeures }}</th>
        <th>{{ ue.heuresEctsUe.sommeUeTotalDist|filtreHeures }}</th>
    {% endif %}

    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
        <th>{{ ue.heuresEctsUe.sommeUeTotalPresDist|filtreHeures }}</th>
    {% endif %}
</tr>
