<tr>
    <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
    <th colspan="4" {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %}>
        <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.display|displayDiff : '' }}</span>
        <span class="show_current"> {{ ue.display }}</span> |
        <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.libelle|displayDiff : '' }}</span>
        <span class="show_current"> {{ ue.ue.libelle }}</span>
        {% if isVersioning is not defined or isVersioning == false %}
            ({{ ue.codeApogee() }})
        {% endif %}
        {% if ue.raccroche == true %}<i
                class="fal fa-link"></i>
        {% endif %}

        {% if ue.ue.natureUeEc is defined and ue.ue.natureUeEc != null and ue.ue.natureUeEc.libre == true %}
            <span class="badge bg-secondary">
            UE à choix libre</span>
        {% endif %}
        {% if ue.uesEnfants|length > 0 %}<span class="badge bg-primary">
            UE à choix restreint : {{ ue.uesEnfants|length }} choix possible(s)</span>{% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            #{{ ec.elementConstitutif.id }}
        {% endif %}
    </th>
    {% if presentiel %}
        {% if ue.uesEnfants|length == 0 %}
            <th colspan="5">Présentiel</th>
        {% else %}
            <th colspan="4"></th>
        {% endif %}
    {% endif %}
    {% if distanciel %}
        {% if ue.uesEnfants|length == 0 %}
            <th colspan="4">Distanciel</th>
        {% else %}
            <th colspan="4"></th>
        {% endif %}
    {% endif %}

    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
        <th>Total</th>
    {% endif %}
</tr>
{% if ue.ue.natureUeEc is defined and ue.ue.natureUeEc != null and ue.ue.natureUeEc.libre == true %}
    {% if presentiel %}
        {% set colspan = 4 %}
    {% elseif distanciel %}
        {% set colspan=8 %}
    {% endif %}
    <tr class="ec">
        <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
        <td {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %} colspan="{{ colspan+4 }}">
            {{ ue.ue.descriptionUeLibre }}
        </td>
    </tr>
{% else %}
    {% if ue.uesEnfants|length == 0 %}
        <tr class="ec">
            <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
            <th {% if enfant %}class="border-left-ue-{{ ue.ordre }}"{% endif %}>&nbsp;</th>
            <th>Fiche EC/Matière</th>
            <th>ECTS</th>

            {% if presentiel %}
                <th>CM</th>
                <th>TD</th>
                <th>TP</th>
                <th>Total Prés.</th>
                <th>T.Auto.</th>
            {% endif %}

            {% if distanciel %}
                <th>CM</th>
                <th>TD</th>
                <th>TP</th>
                <th>Total Dis.</th>
            {% endif %}

            {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
                <th>Total</th>
            {% endif %}
        </tr>
    {% endif %}


    {% for ordEc, ec in ue.elementConstitutifs %}
        {{ include('typeDiplome/formation/_structureEc.html.twig', {
            ec:ec,
            semestreOrdre:semestreOrdre,
            ecEnfant:false,
            diffEc: diffUe.elementConstitutifs[ordEc] ?? null
        }) }}
        {% for ordEce, ece in ec.elementsConstitutifsEnfants %}
            {{ include('typeDiplome/formation/_structureEc.html.twig', {
                ec:ece,
                semestreOrdre:semestreOrdre,
                ecEnfant:true,
                diffEc: diffUe.elementConstitutifs[ordEc].ecEnfants[ordEce] ?? null
            }) }}
        {% endfor %}
    {% endfor %}
{% endif %}

{% for ueE in ue.uesEnfants %}
    {{ include('typeDiplome/formation/_structureUe.html.twig', {ue:ueE, enfant: true}) }}
{% endfor %}

<tr>
    <th class="border-left-semestre-{{ semestreOrdre }}">&nbsp;</th>
    <th>&nbsp;</th>
    <th class="text-end">
        Total {{ ue.display }} {% if enfant == false and ue.ue.ueEnfants|length > 0 %}(Total max.){% endif %}</th>

    <th>
        <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeEcts|displayDiff : '' }} ECTS</span>
        <p class="show_current">{{ ue.heuresEctsUe.sommeUeEcts|badgeEcts('primary') }}</p>
    </th>
    {% if presentiel %}
        <th>
            <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeCmPres|displayDiff : '' }} </span>
            <span class="show_current">{{ ue.heuresEctsUe.sommeUeCmPres|filtreHeures }}</span>
        </th>
        <th>
            <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeTdPres|displayDiff : '' }}</span>
            <span class="show_current">{{ ue.heuresEctsUe.sommeUeTdPres|filtreHeures }}</span>
        </th>
        <th>
            <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeTpPres|displayDiff : '' }}</span>
            <span class="show_current">{{ ue.heuresEctsUe.sommeUeTpPres|filtreHeures }}</span>
        </th>
        <th>
            <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeTotalPres|displayDiff : '' }}</span>
            <span class="show_current">{{ ue.heuresEctsUe.sommeUeTotalPres|filtreHeures }}</span>
        </th>
        <th>
            <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeTePres|displayDiff : '' }}</span>
            <span class="show_current">{{ ue.heuresEctsUe.sommeUeTePres|filtreHeures }}</span>
        </th>
    {% endif %}

    {% if distanciel %}
        <th>
            <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeCmDist|displayDiff : '' }}</span>
            <span class="show_current">{{ ue.heuresEctsUe.sommeUeCmDist|filtreHeures }}</span>
        </th>
        <th>
            <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeTdDist|displayDiff : '' }}</span>
            <span class="show_current">{{ ue.heuresEctsUe.sommeUeTdDist|filtreHeures }}</span>
        </th>
        <th>
            <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeTpDist|displayDiff : '' }}</span>
            <span class="show_current">{{ ue.heuresEctsUe.sommeUeTpDist|filtreHeures }}</span>
        </th>
        <th>
            <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeTotalDist|displayDiff : '' }}</span>
            <span class="show_current">{{ ue.heuresEctsUe.sommeUeTotalDist|filtreHeures }}</span>
        </th>
    {% endif %}

    {% if parcours.modalitesEnseignement != null and (parcours.modalitesEnseignement.value == 1) %}
        <th>
            <span class="show_versioning d-none d-print-none">{{ diffUe ? diffUe.heuresEctsUe.sommeUeTotalPresDist|displayDiff : '' }}</span>
            <span class="show_current">{{ ue.heuresEctsUe.sommeUeTotalPresDist|filtreHeures }}</span>
        </th>
    {% endif %}
</tr>
