<table class="table table-striped">
    <thead>
    <tr>
        <th>Libellé</th>
        <th>Année Universitaire</th>
        <th>Code Apogée</th>
{#        <th>Année</th>#}
        <th>Date Ouverture</th>
        <th>Date Clôture</th>
        <th>Transmission SES</th>
        <th>CFVU</th>
        <th>Collecte DPE active ?</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for dpe in dpes %}
        <tr>
            <td>{{ dpe.libelle }}</td>
            <td>{{ dpe.anneeUniversitaire != null ? dpe.anneeUniversitaire.libelle : 'erreur' }}</td>
            <td>{{ dpe.codeApogee|displayOrBadge }}</td>
{#            <td>{{ dpe.annee }}</td>#}
            <td>{{ dpe.dateOuvertureDpe|dateFr }}</td>
            <td>{{ dpe.dateClotureDpe|dateFr }}</td>
            <td>{{ dpe.dateTransmissionSes|dateFr }}</td>
            <td>{{ dpe.dateCfvu|dateFr }}</td>
            <td><span class="badge {% if dpe.defaut %}bg-success{% else %}bg-warning{% endif %}">{{
                    dpe
                    .defaut ? 'Active' : 'Non' }}</span></td>
            <td class="text-end">
                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Voir une année universitaire',
                            modalUrl: path('app_dpe_show',{'id': dpe.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-info"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Voir une année universitaire"
                >
                    <i class="{{ iconShow }}"></i>
                    <span> voir</span>
                </button>

                <button
                        {{ stimulus_controller('modal', {
                            size: 'lg',
                            modalTitle: 'Modifier une année universitaire',
                            modalUrl: path('app_dpe_edit',{'id': dpe.id}) }) }}
                        data-action="click->modal#openModal"
                        class="btn btn-sm text-warning"
                        data-size="lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Modifier une année universitaire"
                >
                    <i class="{{ iconEdit }}"></i>
                    <span> modifier</span>
                </button>

                <button {{ stimulus_action('crud', 'duplicate', 'click', {
                    url:path('app_dpe_duplicate',{'id': dpe.id})
                }) }} class="btn btn-sm text-success">
                    <i class="{{ iconDuplicate }}"></i> Dupliquer
                </button>
                <button {{ stimulus_action('crud', 'delete', 'click', {
                    url:path('app_dpe_delete',{'id': dpe.id}),
                    csrf: csrf_token('delete' ~ dpe.id)
                }) }} class="btn btn-sm text-danger">
                    <i class="{{ iconDelete }}"></i> Supprimer
                </button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
