<table class="table">
    <tbody>
    <tr>
        <th>Libelle</th>
        <td>{{ dpe.libelle }}</td>
    </tr>
    <tr>
        <th>Année</th>
        <td>{{ dpe.annee }}</td>
    </tr>
    <tr>
        <th>Date de transmission limite au SES</th>
        <td>{{ dpe.dateTransmissionSes|dateFr }}</td>
    </tr>
    <tr>
        <th>Date de la CI CFVU</th>
        <td>{{ dpe.dateCiCfvu|dateFr }}</td>
    </tr>
    <tr>
        <th>Date de la CFVU</th>
        <td>{{ dpe.dateCfvu|dateFr }}</td>
    </tr>
    <tr>
        <th>Année Active</th>
        <td><span class="badge {% if dpe.defaut %}bg-success{% else %}bg-warning{% endif %}">{{
                dpe
                .defaut ? 'Oui' : 'Non' }}</span></td>
    </tr>
    </tbody>
</table>
