<h3>Liste des profils</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Profil</th>
        <th>Centre</th>
        <th>Appliqué à</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for userProfil in userProfils|filter(userProfil => (userProfil.campagneCollecte.id == user_data.campagneCollecte.id )) %}
        <tr>
            <td>{{ userProfil.profil != null ? userProfil.profil.libelle : 'Non précisé' }}</td>
            <td>{{ userProfil|badgeTypeCentre }}</td>
            <td>{{ userProfil|centre }}</td>
            <td>
                <button {{ stimulus_action('profil--user', 'delete', 'click', {
                    url:path('app_user_profils_delete',{'userProfil': userProfil.id}),
                    csrf: csrf_token('delete' ~ userProfil.id)
                }) }} class="btn btn-sm text-danger">
                    <i class="{{ iconDelete }}"></i> Supprimer
                </button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" class="bg-warning">Aucun profil</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
