<h3>Liste des profils</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Profil</th>
        <th>Centre</th>
        <th>Appliqué à</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for profil in userProfils %}
        <tr>
            <td>{{ profil.profil != null ? profil.profil.libelle : 'Non précisé' }}</td>
            <td>{{ profil.profil != null ? profil.profil.centre|badgeEnum : 'Non précisé' }}</td>
            <td>{{ profil.displayCentre }}</td>
            <td>
                <button {{ stimulus_action('centre', 'delete', 'click', {
                    url:path('app_user_profils_delete',{'profil': profil.id}),
                    csrf: csrf_token('delete' ~ profil.id)
                }) }} class="btn btn-sm text-danger">
                    <i class="{{ iconDelete }}"></i> Supprimer
                </button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" class="bg-warning">Aucun profil</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
