<div class="card-body">
    <table class="table" {{ stimulus_controller('check_all') }}>
        <thead>
        <tr>
            <th>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="check-all" {{ stimulus_action('check_all', 'checkAll') }}>
                    </label>
                </div>
            </th>
            <th>
                Composante
            </th>
            <th>
                Type de formation
            </th>
            <th>
                Mention/spécialité
            </th>
            <th>Etat</th>
            <th>Remplissage</th>
            <th></th>
        </tr>

        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>
                    <div class="checkbox">
                        <label>
                            <input
                                    {{ stimulus_action('check_all', 'check') }}
                                    type="checkbox"
                                    class="check-all"
                                    name="formations[]"
                                    value="{{ formation.id }}"
                            >
                        </label>
                    </div>
                </td>
                <td>
                    {% if formation.composantePorteuse != null %}
                        {{ formation.composantePorteuse.libelle }}
                    {% else %}
                        <span class="badge bg-danger">Non définie</span>
                    {% endif %}
                </td>
                <td>
                    {{ formation.typeDiplome|typeDiplome }}
                </td>
                <td>
                    {% if formation.mention != null or formation.mentionTexte != null %}
                        {{ formation.display }}
                    {% else %}
                        <span class="badge bg-danger">Non définie</span>
                    {% endif %}
                </td>

                <td>
                    {{ formation.etatDpe|badgeDpe }}
                </td>
                <td>
                    {{ formation.remplissage|remplissage }}
                </td>
                <td class="text-end">
                    {% if formation.hasParcours and formation.parcours|length > 0 %}
                        <button class="btn btn-sm btn-outline-primary"
                                {{ stimulus_action('structure--formation', 'afficherParcours', 'click',
                                    {formation:formation.id}) }}
                        >
                            <i class="fal fa-caret-right"></i>
                            {{ formation.parcours|length }} parcours
                        </button>
                    {% endif %}

                    <a href="{{ path('app_formation_show',{'slug': formation.slug}) }}"
                       class="btn btn-sm text-info"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       title="Voir une formation"
                    >
                        <i class="{{ iconShow }}"></i>
                        <span> Voir</span>
                    </a>

                    {% if is_granted('CAN_FORMATION_EDIT_MY', formation) %}
                        <a href="{{ path('app_formation_edit',{'slug': formation.slug}) }}"
                           class="btn btn-sm text-warning"
                           data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           title="Modifier la fiche d'identité de la formation"
                        >
                            <i class="{{ iconEdit }}"></i>
                            <span> Modifier</span>
                        </a>
                    {% endif %}

                    {% if is_granted('ROLE_SES') %}
                        <button {{ stimulus_action('crud', 'delete', 'click', {
                            url:path('app_formation_delete',{'id': formation.id}),
                            csrf: csrf_token('delete' ~ formation.id)
                        }) }} class="btn btn-sm text-danger">
                            <i class="{{ iconDelete }}"></i> Supprimer
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="bg-warning">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row mt-2">
        {% if process.hasValid %}
            <div class="col-3 d-grid">
                <button class="btn btn-sm d-block btn-outline-success"
                        type="button"
                        data-action="validation--index#valide"
                        data-validation--index-url-param="{{ path('app_validation_valide_lot', {etape:etape}) }}"
                        data-controller="tooltip"
                        data-tooltip-placement-value="bottom"
                        aria-label="{{ ('validation.valider.'~etape)|trans({}, 'process') }}"
                        data-bs-original-title="{{ ('validation.valider.'~etape)|trans({}, 'process') }}"
                >
                    <i class="fal fa-check"></i> {{ ('validation.valider.'~etape)|trans({}, 'process') }}
                </button>
            </div>
        {% else %}
            <div class="col-3 d-grid">
            </div>
        {% endif %}

        {% if process.hasReserve %}
            <div class="col-3 d-grid">
                <button
                        class="btn btn-sm d-block btn-outline-warning"
                        data-action="validation--index#reserve"
                        data-validation--index-url-param="{{ path('app_validation_reserve_lot', {etape:etape}) }}"
                        data-controller="tooltip"
                        data-tooltip-placement-value="bottom"
                        aria-label="{{ ('validation.reserve.'~etape)|trans({}, 'process') }}"
                        data-bs-original-title="{{ ('validation.reserve.'~etape)|trans({}, 'process') }}"
                        type="button">
                    <i class="fal fa-circle-exclamation-check"></i> {{ ('validation.reserve.'~etape)|trans({}, 'process') }}
                </button>
            </div>
        {% else %}
            <div class="col-3 d-grid">
            </div>
        {% endif %}

        {% if process.hasRefuse %}
            <div class="col-3 d-grid">
                <button class="btn btn-sm d-block btn-outline-danger"
                        type="button"
                        data-action="validation--index#refuse"
                        data-validation--index-url-param="{{ path('app_validation_refuse_lot', {etape:etape}) }}"
                        data-controller="tooltip"
                        data-tooltip-placement-value="bottom"
                        aria-label="{{ ('validation.refuser.'~etape)|trans({}, 'process') }}"
                        data-bs-original-title="{{ ('validation.refuser.'~etape)|trans({}, 'process') }}"
                >
                    <i class="fal fa-ban"></i> {{ ('validation.refuser.'~etape)|trans({}, 'process') }}
                </button>
            </div>
        {% else %}
            <div class="col-3 d-grid">
            </div>
        {% endif %}
    </div>
    <div class="row mt-2" {{ stimulus_target('validation--index', 'action') }}>

    </div>
</div>
