{{ component('alerte', {
    type: 'warning',
    message: (process.label~'.reserve.'~place)|trans
}) }}

<form action="{{ path('app_validation_reserve', {etape:etape, type:type, id:id}) }}" method="post">
{% if process.hasDate %}
    <div>
        <label for="date" class="form-label">Date <span class="required"></span> <i class="fal fa-question-circle ms-1"
                                  data-controller="tooltip"
                                  data-tooltip-placement-value="bottom"
                                  aria-label="{{ 'reserve.'~process.label~'.helps.date.help'|trans({}, 'help') }}"
                                  data-bs-original-title="{{ 'reserve.'~process.label~'.helps.date.help'|trans({}, 'help') }}"></i></label>
        <input type="date" name="date"
               class="form-control"
               required
               id="date"
               value="{{ 'now'|date('Y-m-d') }}"> {# ou date déjà saisie si édition? #}
    </div>
{% endif %}

<div>
    <label for="argumentaire" class="form-label">Argumentaire <span class="required"></span><i class="fal fa-question-circle ms-1"
                                              data-controller="tooltip"
                                              data-tooltip-placement-value="bottom"
                                              aria-label="{{ 'reserve.'~process.label~'.helps.date.help'|trans({}, 'help') }}"
                                              data-bs-original-title="{{ 'reserve.'~process.label~'.helps.date.help'|trans({}, 'help') }}"></i></label>
    <textarea name="argumentaire"
              class="form-control"
              required
              id="argumentaire"
              rows="5"
    > </textarea>
</div>

{% if process.hasReserve is iterable %}
    {% for cas in process.hasReserve %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="{{ cas }}">
            <label class="form-check-label" for="{{ cas }}">
                {{ (process.label~'.reserve.cas.'~cas~'.'~place)|trans}} <i
                        class="fal fa-question-circle ms-1"
                        data-controller="tooltip"
                        data-tooltip-placement-value="bottom"
                        aria-label="{{ 'reserve.'~process.label~'.helps.'~cas~'.help'|trans({}, 'help') }}"
                        data-bs-original-title="{{ 'reserve.'~process.label~'.helps.'~cas~'.help'|trans({}, 'help') }}"></i>
            </label>
        </div>
    {% endfor %}
{% endif %}

<div class="mt-2">
    <button type="submit" class="btn btn-success"
            {{ stimulus_action('base','sauvegardeFormModal', 'click') }}
            data-action="live#emit"
            data-event="reserve"
    >
        <i class="fal fa-floppy-disk"></i>
        {{ ('btn.'~process.label~'.reserve.'~place)|trans }}
    </button>
</div>
</form>
