{% extends 'base.html.twig' %}

{% block header %}
    Gestion des validations DPE
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
    ]}) }}
{% endblock %}

{% block content %}
    <div class="row gy-2">
        <div class="col-12 p-0">
            <div class="card">
                <div class="card-body">
                    <div>
                        {% for value, step in steps %}
                            <div {{ stimulus_controller('load_content', {url: path('app_validation_dpe_liste', {
                                typeValidation: value,
                                composante: 'all'
                            })}) }}>
                                <div class="card mb-2 sh-19 sh-md-8 ">
                                    <div class="card-body pt-0 pb-0 h-100 border-process-{{ step.color }}"
                                    >
                                        <div class="row g-0 h-100 align-content-center">
                                            <div class="col-12 col-md-4 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                                <div class="text-muted d-md-none">Composante</div>
                                                {{ step.label|trans({}, 'process') }}
                                            </div>
                                            <div class="col-6 col-md-1 d-flex flex-column justify-content-center mb-1 mb-md-0">
                                                <div class="text-muted d-md-none">Nb formations / parcours</div>
                                                {% if statistiques[value] is defined and (statistiques[value].formations|length > 0 or statistiques[value].nbParcours > 0) %}
                                                    formations : {{ statistiques[value].formations|length }} / parcours : {{ statistiques[value].nbParcours }}
                                                {% else %}
                                                    <span class="badge bg-success">Aucun</span>
                                                {% endif %}
                                            </div>
                                            <div class="col-6 col-md-1 d-flex flex-column justify-content-center
                                            mb-1 mb-md-0">
                                                <div class="text-muted d-md-none">Détails</div>

                                                <button class="ms-2 btn btn-sm btn-outline-primary"
                                                        {% if statistiques[value] is not defined or (statistiques[value].formations|length <= 0 and statistiques[value].nbParcours <= 0) %}disabled{% endif %}
                                                        {{ stimulus_action('load_content', 'change', 'click',
                                                            {value:step}
                                                        ) }}
                                                >
                                                    <i class="fal fa-caret-right"></i> Détails
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div {{ stimulus_target('load_content', 'content') }}></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

